<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr style="height: 40px">
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="{{allColumsCount}}">ВІДОМІСТЬ НАРАХУВАНЬ</td>
    </tr>
    <tr style="height: 20px">
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 11pt;" colspan="{{allColumsCount}}">за період з {{objPeriodFrom}} по {{objPeriodTo}}</td>
    </tr>
    <tr style="height: 10px">
        <td colspan="{{allColumsCount}}"></td>
    </tr>
    <tr style="height: 20px">
        <td style="text-align: center;font-weight: bold; font-size: 11pt;" colspan="{{allColumsCount}}">посада {{posGroupName}}</td>
    </tr>
    <tr style="height: 10px">
        <td colspan="{{allColumsCount}}"></td>
    </tr>
    <tr style="font-weight: bold; font-size: 10pt;">
        <td style="width: 50px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">№ з/п</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Місяць</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Кількість осіб</td>
        <!--{{#payNameCells}}-->
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{payElName}}</td>
        <!--{{/payNameCells}}-->
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">Всього нараховано</td>
    </tr>
    <!--{{#payTableData}}-->
    <tr style="font-size: 10pt; page-break-inside: avoid;">
        <td style="width: 50px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{pn}}</td>
        <td style="width: 150px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{periodName}}</td>
        <td style="width: 100px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{empCount}}</td>
        <!--{{#payElCells}}-->
        <td style="width: 100px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        <!--{{/payElCells}}-->
        <td style="width: 100px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"periodSum","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/payTableData}}-->
    <tr style="font-weight: bold; font-size: 10pt;">
        <td style="width: 50px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="2">Всього</td>
        <td style="width: 100px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{totalEmpCount}}</td>
        <!--{{#totalSumCells}}-->
        <td style="width: 100px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"totalSum","decimal2"{{/$fs}}</td>
        <!--{{/totalSumCells}}-->
    </tr>
    <tr style="font-weight: bold; font-size: 10pt;">
        <td style="width: 50px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="3">У середньому&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <!--{{#totalAvgCells}}-->
        <td style="width: 100px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"avg","decimal2"{{/$fs}}</td>
        <!--{{/totalAvgCells}}-->
    </tr>
    </tbody>
</table>