<!--%pageOrientation:landscape-->
<table>
    <tbody>
    <!--{{^hideHeader}}-->
    <table style="border-collapse: collapse; font-family: TimesNewRoman; font-size: 11pt;" border="0" width="{{sheetSize}}px" cellspacing="0" cellpadding="0">
        <tbody>
        <tr style="height: 1px;">
            <td style="width: 220px;">&nbsp;</td>
            <!--{{#showPeriod}}-->
            <td style="width: 120px;">&nbsp;</td>
            <!--{{/showPeriod}}-->
            <!--{{#showPeriodElInput}}-->
            <td style="width: 120px;">&nbsp;</td>
            <!--{{/showPeriodElInput}}-->
            <td style="width: 120px;">&nbsp;</td>
            <td style="width: 120px;">&nbsp;</td>
            <!--{{#timeCostColumnList}}-->
            <td style="width: 120px;">&nbsp;</td>
            <td style="width: 120px;">&nbsp;</td>
            <!--{{/timeCostColumnList}}-->
            <!--{{#showOrder}}-->
            <td style="width: 125px;">&nbsp;</td>
            <!--{{/showOrder}}-->
            <td style="width: 125px;">&nbsp;</td>
            <td style="width: 125px;">&nbsp;</td>
            <td style="width: 125px;">&nbsp;</td>
            <!-- {{#useActualPositionName}} -->
            <td style="width: 125px;">&nbsp;</td>
            <!-- {{/useActualPositionName}} -->
            <!--{{#showColumnSexType}}-->
            <td style="width: 125px;">&nbsp;</td>
            <!--{{/showColumnSexType}}-->
            <!--{{#showColumnBirthDate}}-->
            <td style="width: 125px;">&nbsp;</td>
            <!--{{/showColumnBirthDate}}-->
            <!--{{#showColumnDateFrom}}-->
            <td style="width: 125px;">&nbsp;</td>
            <!--{{/showColumnDateFrom}}-->
            <!--{{#showColumnDateTo}}-->
            <td style="width: 125px;">&nbsp;</td>
            <!--{{/showColumnDateTo}}-->
            <!--{{#showColumnDictStaffCat}}-->
            <td style="width: 125px;">&nbsp;</td>
            <!--{{/showColumnDictStaffCat}}-->
            <!--{{#showColumnMtCount}}-->
            <td style="width: 125px;">&nbsp;</td>
            <!--{{/showColumnMtCount}}-->
            <!--{{#showColumnWorkPlace}}-->
            <td style="width: 125px;">&nbsp;</td>
            <!--{{/showColumnWorkPlace}}-->
            <!--{{#showColumnWorkerType}}-->
            <td style="width: 125px;">&nbsp;</td>
            <!--{{/showColumnWorkerType}}-->
            <!--{{#showColumnWorkSchedule}}-->
            <td style="width: 125px;">&nbsp;</td>
            <!--{{/showColumnWorkSchedule}}-->
            <!--{{#showColumnAccountID}}-->
            <td style="width: 125px;">&nbsp;</td>
            <!--{{/showColumnAccountID}}-->
            <!--{{#showColumnDictCostType}}-->
            <td style="width: 125px;">&nbsp;</td>
            <!--{{/showColumnDictCostType}}-->
            <!--{{#showColumnDictCategoryECB}}-->
            <td style="width: 125px;">&nbsp;</td>
            <!--{{/showColumnDictCategoryECB}}-->
        </tr>
        <tr>
            <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="1">Найменування організації</td>
            <td style="padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center" colspan="5">{{orgName}}</td>
            <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="{{allAddColumnCount}}"></td>
        </tr>
        <tr><td colspan="{{allColumnCount}}">&nbsp;</td></tr>
        <tr>
            <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="1">&nbsp;</td>
            <td style="font-size: 18pt; vertical-align: bottom; text-align: center; font-weight: bold" colspan="5">Список працівників з елементами обліку у табелі</td>
            <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="{{allAddColumnCount}}">&nbsp;</td>
        </tr>
        <tr><td colspan="{{allColumnCount}}">&nbsp;</td></tr>
        <tr style="font-weight: bold">
            <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="1"></td>
            <td style="padding: 0; vertical-align: bottom; text-align: center; border-bottom: 1px solid" colspan="5">{{periodName}}</td>
            <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="{{allAddColumnCount}}"></td>
        </tr>
        <tr style="height: 10px;"><td colspan="{{allColumnCount}}">&nbsp;</td></tr>
        <!--{{#isDep}}-->
        <tr style="font-weight: bold">
            <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="1">Підрозділ</td>
            <td style="padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center" colspan="5">{{depName}}</td>
            <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="{{allAddColumnCount}}"></td>
        </tr>
        <!--{{/isDep}}-->
        </tbody>
    </table>
    <!--{{/hideHeader}}-->
    <table style="border-collapse: collapse; font-family: TimesNewRoman; font-size: 11pt;"  border="0" cellspacing="0" cellpadding="0">
        <tbody>

        <tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
            <td style="border: 1px solid;" rowspan="2">Працівник</td>
            <!--{{#showPeriod}}-->
            <td style="border: 1px solid;" rowspan="2">Період</td>
            <!--{{/showPeriod}}-->
            <!--{{#showPeriodElInput}}-->
            <td style="border: 1px solid;" rowspan="2">Період, в якому були додані</td>
            <!--{{/showPeriodElInput}}-->
            <td style="width: 120px; min-width: 120px; border: 1px solid;" colspan="2">Всього</td>
            <!--{{#timeCostColumnList}}-->
            <td style="width: 120px; min-width: 120px; border: 1px solid;" colspan="2">{{nameSmall}}</td>
            <!--{{/timeCostColumnList}}-->
            <!--{{#showOrder}}-->
            <td style="width: 240px; min-width: 240px; border: 1px solid;" rowspan="2">Наказ-підстава</td>
            <!--{{/showOrder}}-->
            <td style="width: 120px; min-width: 120px; border: 1px solid;" rowspan="2">Організація</td>
            <td style="width: 180px; min-width: 180px; border: 1px solid;" rowspan="2">Підрозділ</td>
            <td style="width: 200px; min-width: 200px; border: 1px solid;" rowspan="2">Посада</td>
            <!-- {{#useActualPositionName}} -->
            <td style="width: 200px; min-width: 200px; border: 1px solid;" rowspan="2">Фактична посада</td>
            <!-- {{/useActualPositionName}} -->
            <!--{{#showColumnSexType}}-->
            <td style="border: 1px solid;" rowspan="2">Стать</td>
            <!--{{/showColumnSexType}}-->
            <!--{{#showColumnBirthDate}}-->
            <td style="border: 1px solid;" rowspan="2">Дата народження</td>
            <!--{{/showColumnBirthDate}}-->
            <!--{{#showColumnDateFrom}}-->
            <td style="border: 1px solid;" rowspan="2">Дата прийому на роботу</td>
            <!--{{/showColumnDateFrom}}-->
            <!--{{#showColumnDateTo}}-->
            <td style="border: 1px solid;" rowspan="2">Дата звільнення</td>
            <!--{{/showColumnDateTo}}-->
            <!--{{#showColumnDictStaffCat}}-->
            <td style="width: 120px; min-width: 120px; border: 1px solid;" rowspan="2">Категорія персоналу</td>
            <!--{{/showColumnDictStaffCat}}-->
            <!--{{#showColumnMtCount}}-->
            <td style=" border: 1px solid;" rowspan="2">Кількість ставок</td>
            <!--{{/showColumnMtCount}}-->
            <!--{{#showColumnWorkPlace}}-->
            <td style="width: 100px; min-width: 100px; border: 1px solid;" rowspan="2">Місце роботи</td>
            <!--{{/showColumnWorkPlace}}-->
            <!--{{#showColumnWorkerType}}-->
            <td style="border: 1px solid;" rowspan="2">Форма зайнятості</td>
            <!--{{/showColumnWorkerType}}-->
            <!--{{#showColumnWorkSchedule}}-->
            <td style="border: 1px solid;" rowspan="2">Графік роботи</td>
            <!--{{/showColumnWorkSchedule}}-->
            <!--{{#showColumnAccountID}}-->
            <td style="border: 1px solid;" rowspan="2">Рахунок витрат</td>
            <!--{{/showColumnAccountID}}-->
            <!--{{#showColumnDictCostType}}-->
            <td style="width: 140px; min-width: 140px; border: 1px solid;" rowspan="2">Місце виникнення витрат</td>
            <!--{{/showColumnDictCostType}}-->
            <!--{{#showColumnDictCategoryECB}}-->
            <td style="border: 1px solid;" rowspan="2">Категорія застрахованої особи</td>
            <!--{{/showColumnDictCategoryECB}}-->
        </tr>
        <tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
            <td style="width: 60px; min-width: 60px; border: 1px solid;">Дні</td>
            <td style="width: 60px; min-width: 60px; border: 1px solid;">Години</td>
            <!--{{#timeCostColumnList}}-->
            <td style="width: 60px; min-width: 60px; border: 1px solid;">Дні</td>
            <td style="width: 60px; min-width: 60px; border: 1px solid;">Години</td>
            <!--{{/timeCostColumnList}}-->
        </tr>

        <!--{{#depts}}-->

        <!--{{#dept}}-->
        <tr style="page-break-inside: avoid; vertical-align: top;">
            <td style="font-family: TimesNewRoman; font-weight: bold; padding-left: 15px; text-align: left; border-width: 1px; border-style: solid; page-break-inside: avoid;" colspan="{{colCount}}">{{&deptName}}</td>
        </tr>
        <!--{{/dept}}-->

        <!--{{#emps}}-->
        <tr style="page-break-inside: avoid; vertical-align: top;">
            <td style="vertical-align: top; white-space: nowrap; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{enDescription}}</td>
            <!--{{#showPeriod}}-->
            <td style="vertical-align: top; white-space: nowrap; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{empPeriodName}}</td>
            <!--{{/showPeriod}}-->
            <!--{{#showPeriodElInput}}-->
            <td style="vertical-align: top; white-space: nowrap; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{inputPeriodName}}</td>
            <!--{{/showPeriodElInput}}-->
            <td style="vertical-align: top; white-space: nowrap; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{allDays}}</td>
            <td style="vertical-align: top; white-space: nowrap; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"allHours","decimal2"{{/$fs}}</td>
            <!--{{#timeCostList}}-->
            <td style="vertical-align: top; white-space: nowrap; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{days}}</td>
            <td style="vertical-align: top; white-space: nowrap; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"hours","decimal2"{{/$fs}}</td>
            <!--{{/timeCostList}}-->
            <!--{{#showOrder}}-->
            <td style="vertical-align: top;  text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{orderDescription}}</td>
            <!--{{/showOrder}}-->
            <td style="vertical-align: top; text-align: left; border: 1px solid;">{{orgName}}</td>
            <td style="vertical-align: top; text-align: left; border: 1px solid;">{{depName}}</td>
            <td style="vertical-align: top; text-align: left; border: 1px solid;">{{positionName}}</td>
            <!-- {{#useActualPositionName}} -->
            <td style="vertical-align: top; text-align: left; border: 1px solid;">{{actualPositionName}}</td>
            <!-- {{/useActualPositionName}} -->
            <!--{{#showColumnSexType}}-->
            <td style="vertical-align: top; white-space: nowrap; text-align: center; border: 1px solid;">{{sexType}}</td>
            <!--{{/showColumnSexType}}-->
            <!--{{#showColumnBirthDate}}-->
            <td style="vertical-align: top; white-space: nowrap; text-align: center; border: 1px solid;">{{birthDate}}</td>
            <!--{{/showColumnBirthDate}}-->
            <!--{{#showColumnDateFrom}}-->
            <td style="vertical-align: top; white-space: nowrap; text-align: center; border: 1px solid;">{{startWork}}</td>
            <!--{{/showColumnDateFrom}}-->
            <!--{{#showColumnDateTo}}-->
            <td style="vertical-align: top; white-space: nowrap; text-align: center; border: 1px solid;">{{endWork}}</td>
            <!--{{/showColumnDateTo}}-->
            <!--{{#showColumnDictStaffCat}}-->
            <td style="vertical-align: top; text-align: left; border: 1px solid;">{{staffCatName}}</td>
            <!--{{/showColumnDictStaffCat}}-->
            <!--{{#showColumnMtCount}}-->
            <td style="vertical-align: top; white-space: nowrap; text-align: right; border: 1px solid;">{{mtCount}}</td>
            <!--{{/showColumnMtCount}}-->
            <!--{{#showColumnWorkPlace}}-->
            <td style="vertical-align: top;  text-align: left; border: 1px solid;">{{workPlace}}</td>
            <!--{{/showColumnWorkPlace}}-->
            <!--{{#showColumnWorkerType}}-->
            <td style="vertical-align: top;  white-space: nowrap; text-align: left; border: 1px solid;">{{workerType}}</td>
            <!--{{/showColumnWorkerType}}-->
            <!--{{#showColumnWorkSchedule}}-->
            <td style="vertical-align: top; ; text-align: left; border: 1px solid;">{{workSchedule}}</td>
            <!--{{/showColumnWorkSchedule}}-->
            <!--{{#showColumnAccountID}}-->
            <td style="vertical-align: top;  text-align: left; border: 1px solid;">{{accountName}}</td>
            <!--{{/showColumnAccountID}}-->
            <!--{{#showColumnDictCostType}}-->
            <td style="vertical-align: top; text-align: left; border: 1px solid;">{{dictCostType}}</td>
            <!--{{/showColumnDictCostType}}-->
            <!--{{#showColumnDictCategoryECB}}-->
            <td style="vertical-align: top;  text-align: left; border: 1px solid;">{{dictCategoryECB}}</td>
            <!--{{/showColumnDictCategoryECB}}-->
        </tr>
        <!--{{/emps}}-->

        <!--{{#isGroupDep}}-->
        <!--{{#depSum}}-->
        <tr style="background-color: #f0f0f0; font-weight: bold; page-break-inside: avoid;">
            <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;" colspan="{{colBeforeSum}}">{{&title}} &nbsp;</td>
            <td style="vertical-align: top; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{allDays}}</td>
            <td style="vertical-align: top;  text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"allHours","decimal2"{{/$fs}}</td>
            <!--{{#timeCostColumnList}}-->
            <td style="vertical-align: top;  text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{days}}</td>
            <td style="vertical-align: top;  text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"hours","decimal2"{{/$fs}}</td>
            <!--{{/timeCostColumnList}}-->

            <!--{{#showOrder}}-->
            <td style=" border: 1px solid;" colspan="1"></td>
            <!--{{/showOrder}}-->
            <td style=" border: 1px solid;" colspan="{{staffColumnCount}}"></td>
            <!--{{#isExtraColumnExist}}-->
            <td style=" border: 1px solid;" colspan="{{extraColumnsCount}}"></td>
            <!--{{/isExtraColumnExist}}-->
        </tr>
        <!--{{/depSum}}-->
        <!--{{/isGroupDep}}-->

        <!--{{/depts}}-->





        <!--{{#showOnlySummary}}-->
        <!--{{#summary}}-->
        <tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
            <td style="text-align: right;  border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="{{colBeforeSum}}">Всього</td>
            <td style="vertical-align: top; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{allDays}}</td>
            <td style="vertical-align: top;  text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"allHours","decimal2"{{/$fs}}</td>
            <!--{{#timeCostColumnList}}-->
            <td style="vertical-align: top;  text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{days}}</td>
            <td style="vertical-align: top;  text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"hours","decimal2"{{/$fs}}</td>
            <!--{{/timeCostColumnList}}-->
            <td style=" border: 1px solid;" colspan="{{staffColumnCount}}"></td>
            <!--{{#showOrder}}-->
            <td style=" border: 1px solid;" colspan="1"></td>
            <!--{{/showOrder}}-->
            <!--{{#isExtraColumnExist}}-->
            <td style=" border: 1px solid;" colspan="{{extraColumnsCount}}"></td>
            <!--{{/isExtraColumnExist}}-->
        </tr>
        <!--{{/summary}}-->
        <!--{{/showOnlySummary}}-->
        </tbody>
    </table>
    </tbody>
</table>
