<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; table-layout: fixed; word-wrap: break-word; border-collapse: collapse;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="width: 110px; ">&nbsp;</td>
        <td style="width: 200px; ">&nbsp;</td>
        <td style="width: 200px; ">&nbsp;</td>
        <td style="width: 85px; ">&nbsp;</td>
        <td style="width: 85px; ">&nbsp;</td>
        <td style="width: 60px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <!--{{#showColumnOrder}}-->
        <td style="width: 200px; ">&nbsp;</td>
        <!--{{/showColumnOrder}}-->
        <td style="width: 170px; ">&nbsp;</td>
        <td style="width: 200px; ">&nbsp;</td>
        <td style="width: 200px; ">&nbsp;</td>
        <td style="width: 85px; ">&nbsp;</td>
        <td style="width: 85px; ">&nbsp;</td>

        <!--{{#showColumnSexType}}-->
        <td style="width: 100px; ">&nbsp;</td>
        <!--{{/showColumnSexType}}-->
        <!--{{#showColumnBirthDate}}-->
        <td style="width: 100px; ">&nbsp;</td>
        <!--{{/showColumnBirthDate}}-->
        <!--{{#showColumnDateFrom}}-->
        <td style="width: 100px; ">&nbsp;</td>
        <!--{{/showColumnDateFrom}}-->
        <!--{{#showColumnDateTo}}-->
        <td style="width: 100px; ">&nbsp;</td>
        <!--{{/showColumnDateTo}}-->
        <!--{{#showColumnWorkerType}}-->
        <td style="width: 150px; ">&nbsp;</td>
        <!--{{/showColumnWorkerType}}-->
        <!--{{#showColumnWorkSchedule}}-->
        <td style="width: 150px; ">&nbsp;</td>
        <!--{{/showColumnWorkSchedule}}-->
        <!--{{#showColumnWorkPlace}}-->
        <td style="width: 150px; ">&nbsp;</td>
        <!--{{/showColumnWorkPlace}}-->
        <!--{{#showColumnDictStaffCat}}-->
        <td style="width: 150px; ">&nbsp;</td>
        <!--{{/showColumnDictStaffCat}}-->
        <!--{{#showColumnMtCount}}-->
        <td style="width: 100px; ">&nbsp;</td>
        <!--{{/showColumnMtCount}}-->
        <!--{{#showColumnDictCategoryECB}}-->
        <td style="width: 150px; ">&nbsp;</td>
        <!--{{/showColumnDictCategoryECB}}-->
        <!--{{#showColumnDictCostType}}-->
        <td style="width: 150px; ">&nbsp;</td>
        <!--{{/showColumnDictCostType}}-->
        <!--{{#showColumnAccountID}}-->
        <td style="width: 150px; ">&nbsp;</td>
        <!--{{/showColumnAccountID}}-->
    </tr>

    <tr>
        <td style="text-align: center; width: 100%; " colspan="{{permColSpan}}">Найменування організації: {{organizationName}}</td>
        <td style="text-align: left; width: 100%; font-size: 12pt;" colspan="{{addColSpan}}">&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="{{permColSpan}}">Список працівників по записах у постійних нарахуваннях/утриманнях</td>
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 12pt;" colspan="{{addColSpan}}">&nbsp;</td>
    </tr>

    <!--{{#title}}-->
    <tr>
        <td style="text-align: center; width: 100%; font-size: 11pt;" colspan="{{permColSpan}}">{{text}}</td>
        <td style="text-align: left; width: 100%; font-size: 12pt;" colspan="{{addColSpan}}">&nbsp;</td>
    </tr>
    <!--{{/title}}-->
    <tr style="height: 10px">
        <td colspan="{{colSpan}}">&nbsp;</td>
    </tr>

    <tr>
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Таб. №</td>
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Працівник</td>
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Вид оплати</td>
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" colspan="2">Період дії нарахування/утримання</td>
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">%</td>
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Сума</td>
        <!--{{#showColumnOrder}}-->
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Наказ </td>
        <!--{{/showColumnOrder}}-->
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Організація</td>
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Підрозділ</td>
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Посада</td>
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" colspan="2">Призначення</td>

        <!--{{#showColumnSexType}}-->
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Стать</td>
        <!--{{/showColumnSexType}}-->
        <!--{{#showColumnBirthDate}}-->
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Дата народження</td>
        <!--{{/showColumnBirthDate}}-->
        <!--{{#showColumnDateFrom}}-->
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Дата прийому на роботу</td>
        <!--{{/showColumnDateFrom}}-->
        <!--{{#showColumnDateTo}}-->
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Дата звільнення</td>
        <!--{{/showColumnDateTo}}-->
        <!--{{#showColumnWorkerType}}-->
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Форма зайнятості</td>
        <!--{{/showColumnWorkerType}}-->
        <!--{{#showColumnWorkSchedule}}-->
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Графік роботи</td>
        <!--{{/showColumnWorkSchedule}}-->
        <!--{{#showColumnWorkPlace}}-->
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Місце роботи</td>
        <!--{{/showColumnWorkPlace}}-->
        <!--{{#showColumnDictStaffCat}}-->
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Категорія персоналу</td>
        <!--{{/showColumnDictStaffCat}}-->
        <!--{{#showColumnMtCount}}-->
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Кількість ставок</td>
        <!--{{/showColumnMtCount}}-->
        <!--{{#showColumnDictCategoryECB}}-->
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Категорія застрахованої особи</td>
        <!--{{/showColumnDictCategoryECB}}-->
        <!--{{#showColumnDictCostType}}-->
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Місце виникнення витрат</td>
        <!--{{/showColumnDictCostType}}-->
        <!--{{#showColumnAccountID}}-->
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Рахунок витрат</td>
        <!--{{/showColumnAccountID}}-->
    </tr>
    <tr>
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >Початок</td>
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >Кінець</td>
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >Діє з</td>
        <td style="text-align: center; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >Діє по</td>
    </tr>

    <tr style="font-size: 10pt;">
        <!-- {{#colNums}} -->
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid black;">{{#$fs}}"name","numberGroup"{{/$fs}}</td>
        <!-- {{/colNums}} -->
    </tr>

    <!--{{#data}}-->
    <tr>
        <!--{{#isTitle}}-->
            <!--{{#isOrg}}-->
            <td style="text-align: left; border: 1px solid black; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" colspan="{{colSpan}}">{{{name}}}</td>
            <!--{{/isOrg}}-->
            <!--{{^isOrg}}-->
            <td style="text-align: left; border: 1px solid black; font-weight: bold; " colspan="{{colSpan}}">{{{name}}}</td>
            <!--{{/isOrg}}-->
        <!--{{/isTitle}}-->
        <!--{{^isTitle}}-->
            <td style="text-align: left; border: 1px solid black; {{bold}}">{{{tabNum}}}</td>
            <td style="text-align: left; border: 1px solid black; {{bold}}">{{{name}}}</td>
            <td style="text-align: left; border: 1px solid black; {{bold}}">{{{payName}}}</td>
            <td style="text-align: center; border: 1px solid black; {{bold}}">{{{dateFromAcc}}}</td>
            <td style="text-align: center; border: 1px solid black; {{bold}}">{{{dateToAcc}}}</td>
            <td style="text-align: right; border: 1px solid black;" >{{#$fs}}"accrualRate","decimal2"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid black;" >{{#$fs}}"accrualSum","decimal2"{{/$fs}}</td>
            <!--{{#showColumnOrder}}-->
            <td style="text-align: left; border: 1px solid black; {{bold}}">{{{order}}}</td>
            <!--{{/showColumnOrder}}-->
            <td style="text-align: left; border: 1px solid black; {{bold}}">{{{orgName}}}</td>
            <td style="text-align: left; border: 1px solid black; {{bold}}">{{{depName}}}</td>
            <td style="text-align: left; border: 1px solid black; {{bold}}">{{{posName}}}</td>
            <td style="text-align: center; border: 1px solid black; {{bold}}">{{{dateFrom}}}</td>
            <td style="text-align: center; border: 1px solid black; {{bold}}">{{{dateTo}}}</td>

            <!--{{#showColumnSexType}}-->
            <td style="text-align: center; border: 1px solid black; {{bold}}">{{{sexType}}}</td>
            <!--{{/showColumnSexType}}-->
            <!--{{#showColumnBirthDate}}-->
            <td style="text-align: center; border: 1px solid black; {{bold}}">{{{birthDate}}}</td>
            <!--{{/showColumnBirthDate}}-->
            <!--{{#showColumnDateFrom}}-->
            <td style="text-align: center; border: 1px solid black; {{bold}}">{{{startWork}}}</td>
            <!--{{/showColumnDateFrom}}-->
            <!--{{#showColumnDateTo}}-->
            <td style="text-align: center; border: 1px solid black; {{bold}}">{{{endWork}}}</td>
            <!--{{/showColumnDateTo}}-->
            <!--{{#showColumnWorkerType}}-->
            <td style="text-align: left; border: 1px solid black; {{bold}}">{{{workerType}}}</td>
            <!--{{/showColumnWorkerType}}-->
            <!--{{#showColumnWorkSchedule}}-->
            <td style="text-align: left; border: 1px solid black; {{bold}}">{{{workSchedule}}}</td>
            <!--{{/showColumnWorkSchedule}}-->
            <!--{{#showColumnWorkPlace}}-->
            <td style="text-align: left; border: 1px solid black; {{bold}}">{{{workPlace}}}</td>
            <!--{{/showColumnWorkPlace}}-->
            <!--{{#showColumnDictStaffCat}}-->
            <td style="text-align: left; border: 1px solid black; {{bold}}">{{{staffCatName}}}</td>
            <!--{{/showColumnDictStaffCat}}-->
            <!--{{#showColumnMtCount}}-->
            <td style="text-align: center; border: 1px solid black; {{bold}}">{{{mtCount}}}</td>
            <!--{{/showColumnMtCount}}-->
            <!--{{#showColumnDictCategoryECB}}-->
            <td style="text-align: left; border: 1px solid black; {{bold}}">{{{dictCategoryECB}}}</td>
            <!--{{/showColumnDictCategoryECB}}-->
            <!--{{#showColumnDictCostType}}-->
            <td style="text-align: left; border: 1px solid black; {{bold}}">{{{dictCostType}}}</td>
            <!--{{/showColumnDictCostType}}-->
            <!--{{#showColumnAccountID}}-->
            <td style="text-align: left; border: 1px solid black; {{bold}}">{{{accountName}}}</td>
            <!--{{/showColumnAccountID}}-->

        <!--{{/isTitle}}-->
    </tr>
    <!--{{/data}}-->


    </tbody>
</table>