<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 11pt; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="width: 50px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 150px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 200px; ">&nbsp;</td>
        <td style="width: 150px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>       
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
    </tr>

    <tr style="height: 20px">
        <td style="text-align: left; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">{{reportTitle}}</td>
    </tr>

    <!--{{#title}}-->
    <tr style="height: 20px">
        <td style="text-align: left; font-weight: bold; font-size: 11pt;" colspan="{{colSpan}}">{{text}}</td>
    </tr>
    <!--{{/title}}-->
    <tr style="height: 20px">
        <td style="text-align: left; font-weight: bold; font-size: 11pt;" colspan="{{colSpan}}">Станом на {{onDate}}</td>
    </tr>


    <tr>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >№ п/п</td>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >Ідентифікатор студента</td>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >Прізвище, ім'я, по батькові</td>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >РНОКПП</td>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >Дата народження</td>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >Факультет </td>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >Група</td>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >Курс</td>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >Форма навчання</td>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >Вид навчання</td>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >Освітній рівень</td>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >Середній бал</td>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >Стипендія</td>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >Відпустка</td>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >Пільги</td>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >Стать</td>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >Громадянство</td>
        <td style="text-align: center; border: 1px solid; font-size: 11pt; " >Дата відрахування</td>
    </tr>

    <!--{{#data}}-->
    <tr>
        <td style="text-align: center; border: 1px solid; " >{{npp}}</td>
        <td style="text-align: left; border: 1px solid; " >{{tabNum}}</td>
        <td style="text-align: left; border: 1px solid; " >{{name}}</td>
        <td style="text-align: center; border: 1px solid; " >{{taxCode}}</td>
        <td style="text-align: center; border: 1px solid; " >{{birthDate}}</td>
        <td style="text-align: left; border: 1px solid; " >{{faculityName}}</td>
        <td style="text-align: left; border: 1px solid; " >{{groupName}}</td>
        <td style="text-align: center; border: 1px solid; " >{{yearStudy}}</td>
        <td style="text-align: left; border: 1px solid; " >{{formStudyName}}</td>
        <td style="text-align: left; border: 1px solid; " >{{typeStudyName}}</td>
        <td style="text-align: left; border: 1px solid; " >{{eduLevelName}}</td>
        <td style="text-align: center; border: 1px solid; " >{{averageScore}}</td>
        <td style="text-align: left; border: 1px solid; " >{{stipendInfo}}</td>
        <td style="text-align: left; border: 1px solid; " >{{vacancyInfo}}</td>
        <td style="text-align: left; border: 1px solid; " >{{benefitsInfo}}</td>
        <td style="text-align: center; border: 1px solid; " >{{sexType}}</td>
        <td style="text-align: left; border: 1px solid; " >{{citizenship}}</td>
        <td style="text-align: center; border: 1px solid; " >{{dateTo}}</td>
    </tr>
    <!--{{/data}}-->

    </tbody>
</table>