<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 11px; table-layout: fixed; border-collapse: collapse; width: {{widthTable}}px;  word-break: normal; margin: 0px 10px 0px 70px;"  border="0px" cellspacing="0" cellpadding="0px">

<tbody>

  <tr style="font-family: TimesNewRoman; font-size: 12pt;">
      <td style="width: 120px; ">&nbsp;</td>
      <td style="width: 120px; ">&nbsp;</td>
      <td style="width: 90px; ">&nbsp;</td>
      <td style="width: 90px; ">&nbsp;</td>
      <td style="width: 100px; ">&nbsp;</td>
      <td style="width: 100px; ">&nbsp;</td>
      <!--{{^includeSubOrg}}-->
          <td style="width: 170px; ">&nbsp;</td>
      <!--{{/includeSubOrg}}-->
      <td style="width: 120px; ">&nbsp;</td>
      <td style="width: 180px; ">&nbsp;</td>
  </tr>

<!--{{^hideHeader}}-->
  <tr>
    <td style="text-align: center; font-weight: bold; font-size: 12pt; height: 20px;" colspan="{{columnCount}}">{{organizationName}}</td>
  </tr>

  <tr>
    <td style="text-align: center; font-weight: bold; font-size: 12pt; height: 20px;" colspan="{{columnCount}}">Список призначених/звільнених працівників</td>
  </tr>

  <tr>
    <td style="text-align: center; font-weight: bold; font-size: 12pt; height: 20px;" colspan="{{columnCount}}">{{periodHeader}}</td>
  </tr>

  <!--{{^includeDepName}}-->
    <tr>
      <td style="text-align: center; font-weight: bold; font-size: 12pt; height: 20px;" colspan="{{columnCount}}">Підрозділ {{departmentName}}</td>
    </tr>
  <!--{{/includeDepName}}-->

  <!--{{^includeMultiGroup}}-->
    <tr>
      <td style="text-align: center; font-weight: bold; font-size: 12pt; height: 20px;" colspan="{{columnCount}}">{{depName}}</td>
    </tr>
  <!--{{/includeMultiGroup}}-->

  <tr>
    <td style="text-align: center; font-weight: bold; font-size: 11pt;" colspan="{{columnCount}}">{{reasonDism}}</td>
  </tr>
<!--{{/hideHeader}}-->

  <tr style="height: 19px;">
    <td colspan="{{columnCount}}"></td>
  </tr>

    <!-- {{^byOrders}} -->
    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Таб. №</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">ПІБ</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата призначення</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата звільнення</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Підрозділ</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Структурний підрозділ</td>
        <!--{{^includeSubOrg}}-->
          <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Організація</td>
        <!--{{/includeSubOrg}}-->
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Посада</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Примітка</td>
    </tr>

    <!-- {{/byOrders}} -->



    <!--{{#rows}}-->
    <tr style="font-size: 10pt; vertical-align: top;">
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{tabNum}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{FIFO}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{From}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{To}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{departmentName}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{structDepName}}</td>
        <!--{{^includeSubOrg}}-->
          <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{orgName}}</td>
        <!--{{/includeSubOrg}}-->
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{posName}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{movedData}}</td>
    </tr>
    <!--{{/rows}}-->

    <tr style="font-size: 10pt;">
        <td style="text-align: right; font-family: TimesNewRoman; border: 1px solid;" colspan="2">Всього працівників:</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{totalEmployeeAppointed}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{totalEmployeeDism}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;"></td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;"></td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;"></td>
        <!--{{^includeSubOrg}}-->
          <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;"></td>
        <!--{{/includeSubOrg}}-->
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;"></td>
    </tr>

    <tr style="font-size: 10pt;">
        <td style="text-align: right; font-family: TimesNewRoman; border: 1px solid;" colspan="2">в т.ч переведених:</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{totalMoved}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;"></td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;"></td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;"></td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;"></td>
        <!--{{^includeSubOrg}}-->
          <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;"></td>
        <!--{{/includeSubOrg}}-->
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;"></td>
    </tr>
  </tbody>
</table>
