<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <!--{{#columsConfig}}-->
        <td style="width: {{width}}px; ">&nbsp;</td>
        <!--{{/columsConfig}}-->
    </tr>

    <tr style="height: 20px">
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="{{allColumsCount}}">ЗАГАЛЬНИЙ РЕЄСТР</td>
    </tr>

    <!--{{#title}}-->
    <tr style="height: 20px">
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 11pt;" colspan="{{allColumsCount}}">{{text}}</td>
    </tr>
    <!--{{/title}}-->
    <tr style="height: 10px">
        <td colspan="{{allColumsCount}}">&nbsp;</td>
    </tr>

    <!--{{#columsHead}}-->
    <tr>
        <!--{{#cols}}-->
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" {{{spanInfo}}} >{{name}}</td>
        <!--{{/cols}}-->
    </tr>
    <!--{{/columsHead}}-->

    <!--{{#data}}-->
    <tr>
        <!--{{#isTitle}}-->
        <td style="text-align: left; border: 1px solid; font-weight: bold; " colspan="{{allColumsCount}}">{{{name}}}</td>
        <!--{{/isTitle}}-->
        <!--{{^isTitle}}-->
            <!--{{#isTotal}}-->
            <td style="text-align: left; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}-->  colspan="{{colSpan}}">{{{name}}}</td>
            <!--{{/isTotal}}-->
            <!--{{^isTotal}}-->
            <td style="text-align: left; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{name}}</td>
            <!--{{/isTotal}}-->
            <!--{{#showCode}}-->
            <td style="text-align: {{align}}; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{code}}</td>
            <!--{{/showCode}}-->

            <!--{{#showColumnSexType}}-->
            <td style="text-align: center; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{sexType}}</td>
            <!--{{/showColumnSexType}}-->
            <!--{{#showColumnBirthDate}}-->
            <td style="text-align: center; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{birthDate}}</td>
            <!--{{/showColumnBirthDate}}-->
            <!--{{#showColumnDateFrom}}-->
            <td style="text-align: center; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{startWork}}</td>
            <!--{{/showColumnDateFrom}}-->
            <!--{{#showColumnDateTo}}-->
            <td style="text-align: center; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{endWork}}</td>
            <!--{{/showColumnDateTo}}-->
            <!--{{#showColumnWorkerType}}-->
            <td style="text-align: left; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{workerType}}</td>
            <!--{{/showColumnWorkerType}}-->
            <!--{{#showColumnWorkSchedule}}-->
            <td style="text-align: left; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{workSchedule}}</td>
            <!--{{/showColumnWorkSchedule}}-->
            <!--{{#showColumnWorkPlace}}-->
            <td style="text-align: left; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{workPlace}}</td>
            <!--{{/showColumnWorkPlace}}-->
            <!--{{#showColumnDictStaffCat}}-->
            <td style="text-align: left; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{staffCatName}}</td>
            <!--{{/showColumnDictStaffCat}}-->
            <!--{{#showColumnMtCount}}-->
            <td style="text-align: center; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{mtCount}}</td>
            <!--{{/showColumnMtCount}}-->
            <!--{{#showColumnDictCategoryECB}}-->
            <td style="text-align: left; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{dictCategoryECB}}</td>
            <!--{{/showColumnDictCategoryECB}}-->
            <!--{{#showColumnAccountID}}-->
            <td style="text-align: left; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{accountName}}</td>
            <!--{{/showColumnAccountID}}-->
            <!--{{#showColumnDictCostType}}-->
            <td style="text-align: left; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{dictCostType}}</td>
            <!--{{/showColumnDictCostType}}-->
            <!--{{#showColumnStudDateFrom}}-->
            <td style="text-align: center; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{startWork}}</td>
            <!--{{/showColumnStudDateFrom}}-->
            <!--{{#showColumnStudDateTo}}-->
            <td style="text-align: center; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{endWork}}</td>
            <!--{{/showColumnStudDateTo}}-->
            <!--{{#showColumnStudFaculity}}-->
            <td style="text-align: left; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{faculityName}}</td>
            <!--{{/showColumnStudFaculity}}-->
            <!--{{#showColumnStudSemester}}-->
            <td style="text-align: center; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{yearStudy}}</td>
            <!--{{/showColumnStudSemester}}-->
            <!--{{#showColumnStudGroup}}-->
            <td style="text-align: left; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{groupName}}</td>
            <!--{{/showColumnStudGroup}}-->
            <!--{{#showColumnStudTabNum}}-->
            <td style="text-align: left; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{tabNum}}</td>
            <!--{{/showColumnStudTabNum}}-->
            <!--{{#showColumnStudTypeStudy}}-->
            <td style="text-align: left; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{typeStudyName}}</td>
            <!--{{/showColumnStudTypeStudy}}-->
            <!--{{#showColumnStudFormStudy}}-->
            <td style="text-align: left; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{formStudyName}}</td>
            <!--{{/showColumnStudFormStudy}}-->
            <!--{{#showColumnStudDictLevel}}-->
            <td style="text-align: left; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{eduLevelName}}</td>
            <!--{{/showColumnStudDictLevel}}-->
            <!--{{#showColumnStudDictStaffCat}}-->
            <td style="text-align: left; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{dictStaffCatName}}</td>
            <!--{{/showColumnStudDictStaffCat}}-->

            <!--{{#payValues}}-->
                <td style="text-align: right; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{#$fs}}"value","decimal2"{{/$fs}}</td>
            <!--{{/payValues}}-->

            <!--{{#showToPay}}-->
            <td style="text-align: right; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{#$fs}}"toPay","decimal2"{{/$fs}}</td>
            <!--{{/showToPay}}-->
            <td style="text-align: right; border: 1px solid; {{bold}}" <!--{{#bold}}-->bgColor="#F0F0F0"<!--{{/bold}}--> >{{#$fs}}"quatity","numberGroup"{{/$fs}}</td>
        <!--{{/isTitle}}-->
    </tr>
    <!--{{/data}}-->
    <tr style="height: 20px">
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="{{allColumsCount}}">&nbsp;</td>
    </tr>
    <!--{{#signers}}-->
    <tr>
        <td style=" text-align: center;" colspan="{{allColumsCount}}" >&nbsp;</td>
    </tr>
    <!--{{#twoCol}}-->
        <tr>
            <td style="text-align: left;" colspan="{{allColumsCount3}}">{{signerName}}:</td>
            <td style="text-align: left;" colspan="{{allColumsCount4}}" >___________ ({{signerShortName}}<!--{{^signerShortName}}-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--{{/signerShortName}}-->)</td>
        </tr>
    <!--{{/twoCol}}-->
    <!--{{^twoCol}}-->
        <tr>
            <td style="text-align: left;" colspan="2" >{{signerName}}:</td>
            <td style="text-align: left;" colspan="1" >___________</td>
            <td style="text-align: left;" colspan="{{allColumsCount2}}" >({{signerShortName}}<!--{{^signerShortName}}-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--{{/signerShortName}}-->)</td>
        </tr>
    <!--{{/twoCol}}-->

    <!--{{/signers}}-->

    </tbody>
</table>