<!--%pageOrientation:landscape-->
<table style="border-collapse: collapse; font-family: TimesNewRoman; font-size: 11pt;" border="0" width="{{sheetSize}}px" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 1px;">
    <td style="width: 30px;">&nbsp;</td>
    <td style="width: 220px;">&nbsp;</td>
    <!--{{#showCalcPeriod}}-->
    <td style="width: 120px;">&nbsp;</td>
    <!--{{/showCalcPeriod}}-->
    <!--{{#showSalaryPeriod}}-->
    <td style="width: 120px;">&nbsp;</td>
    <!--{{/showSalaryPeriod}}-->
    <!--{{#showSaldo}}-->
    <td style="width: 80px;">&nbsp;</td>
    <td style="width: 80px;">&nbsp;</td>
    <td style="width: 80px;">&nbsp;</td>
    <td style="width: 80px;">&nbsp;</td>
    <td style="width: 80px;">&nbsp;</td>
    <!--{{/showSaldo}}-->
    <!--{{#payElColumnsForTitle}}-->
    <td style="width: 80px;" >&nbsp;</td>
    <!--{{/payElColumnsForTitle}}-->
    <!--{{#showOrgName}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showOrgName}}-->
    <td style="width: 125px;">&nbsp;</td>
    <td style="width: 125px;">&nbsp;</td>
    <!--{{#showColumnSexType}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnSexType}}-->
    <!--{{#showColumnBirthDate}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnBirthDate}}-->
    <!--{{#showColumnDateFrom}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnDateFrom}}-->
    <!--{{#showColumnDateTo}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnDateTo}}-->
    <!--{{#showColumnWorkerType}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnWorkerType}}-->
    <!--{{#showColumnWorkSchedule}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnWorkSchedule}}-->
    <!--{{#showColumnWorkPlace}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnWorkPlace}}-->
    <!--{{#showColumnDictStaffCat}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnDictStaffCat}}-->
    <!--{{#showColumnMtCount}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnMtCount}}-->
    <!--{{#showColumnDictCategoryECB}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnDictCategoryECB}}-->
    <!--{{#showColumnAccountID}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnAccountID}}-->
    <!--{{#showColumnDictCostType}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnDictCostType}}-->
</tr>
<tr>
    <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="2">Найменування організації</td>
    <td style="padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center" colspan="{{floatColumnCount}}">{{orgName}}</td>
    <!--{{#positionColCount}}-->
    <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="{{positionColCount}}"></td>
    <!--{{/positionColCount}}-->
</tr>
<tr><td colspan="{{allColumnCount}}">&nbsp;</td></tr>
<tr>
    <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="2">&nbsp;</td>
    <td style="padding: 0; vertical-align: bottom; text-align: center; font-weight: bold" colspan="{{floatColumnCount}}">Розрахункова відомість</td>
    <!--{{#positionColCount}}-->
    <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="{{positionColCount}}">&nbsp;</td>
    <!--{{/positionColCount}}-->
</tr>
<tr><td colspan="{{allColumnCount}}">&nbsp;</td></tr>
<tr style="font-weight: bold">
    <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="2"></td>
    <td style="padding: 0; vertical-align: bottom; text-align: center; border-bottom: 1px solid" colspan="{{floatColumnCount}}">{{periodName}}</td>
    <!--{{#positionColCount}}-->
    <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="{{positionColCount}}"></td>
    <!--{{/positionColCount}}-->
</tr>

<tr style="height: 10px;"><td colspan="{{allColumnCount}}">&nbsp;</td></tr>

<!--{{#isDep}}-->
<tr style="font-weight: bold">
    <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="2">підрозділ</td>
    <td style="padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center" colspan="{{floatColumnCount}}">{{depName}}</td>
    <!--{{#positionColCount}}-->
    <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="{{positionColCount}}"></td>
    <!--{{/positionColCount}}-->
</tr>
<!--{{/isDep}}-->
<!--{{#isFundSource}}-->
<tr style="font-weight: bold">
    <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="2">{{fundSourceTitle}}</td>
    <td style="padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center" colspan="{{floatColumnCount}}">{{fundSourceDescription}}</td>
    <!--{{#positionColCount}}-->
    <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="{{positionColCount}}"></td>
    <!--{{/positionColCount}}-->
</tr>
<!--{{/isFundSource}}-->

<tr style="height: 10px;"><td colspan="{{allColumnCount}}">&nbsp;</td></tr>
<tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
    <td style="width: 30px; min-width: 30px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Таб. №</td>
    <td style="width: 220px; min-width: 220px; border: 1px solid;">Працівник</td>
    <!--{{#showCalcPeriod}}-->
    <td style="width: 120px; min-width: 120px; border: 1px solid;">Період</td>
    <!--{{/showCalcPeriod}}-->
    <!--{{#showSalaryPeriod}}-->
    <td style="width: 120px; min-width: 120px; border: 1px solid;">Обліковий<br/>період</td>
    <!--{{/showSalaryPeriod}}-->
    <!--{{#showSaldo}}-->
    <td style="width: 80px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Початкове<br/>сальдо</td>
    <td style="width: 80px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Разом<br/>нараховано</td>
    <td style="width: 80px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Разом<br/>утримано</td>
    <td style="width: 80px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Разом<br/>виплачено</td>
    <td style="width: 80px; border: 1px solid;">Кінцеве сальдо</td>
    <!--{{/showSaldo}}-->
    <!--{{#payElColumns}}-->
    <td style="width: 80px; border-right: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" >{{description}}</td>
    <!--{{/payElColumns}}-->
    <!--{{#showOrgName}}-->
    <td style="width: 125px; border: 1px solid;">Організація</td>
    <!--{{/showOrgName}}-->
    <td style="width: 125px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Підрозділ</td>
    <td style="width: 125px; border-left: 1px solid; border: 1px solid;">Посада</td>
    <!--{{#showColumnSexType}}-->
    <td style="width: 125px; border: 1px solid;">Стать</td>
    <!--{{/showColumnSexType}}-->
    <!--{{#showColumnBirthDate}}-->
    <td style="width: 125px; border: 1px solid;">Дата народження</td>
    <!--{{/showColumnBirthDate}}-->
    <!--{{#showColumnDateFrom}}-->
    <td style="width: 125px; border: 1px solid;">Дата прийому на роботу</td>
    <!--{{/showColumnDateFrom}}-->
    <!--{{#showColumnDateTo}}-->
    <td style="width: 125px; border: 1px solid;">Дата звільнення</td>
    <!--{{/showColumnDateTo}}-->
    <!--{{#showColumnDictStaffCat}}-->
    <td style="width: 125px; border: 1px solid;">Категорія персоналу</td>
    <!--{{/showColumnDictStaffCat}}-->
    <!--{{#showColumnMtCount}}-->
    <td style="width: 125px; border: 1px solid;">Кількість ставок</td>
    <!--{{/showColumnMtCount}}-->
    <!--{{#showColumnWorkPlace}}-->
    <td style="width: 125px; border: 1px solid;">Місце роботи</td>
    <!--{{/showColumnWorkPlace}}-->
    <!--{{#showColumnWorkerType}}-->
    <td style="width: 125px; border: 1px solid;">Форма зайнятості</td>
    <!--{{/showColumnWorkerType}}-->
    <!--{{#showColumnWorkSchedule}}-->
    <td style="width: 125px; border: 1px solid;">Графік роботи</td>
    <!--{{/showColumnWorkSchedule}}-->
    <!--{{#showColumnAccountID}}-->
    <td style="width: 125px; border: 1px solid;">Рахунок витрат</td>
    <!--{{/showColumnAccountID}}-->
    <!--{{#showColumnDictCostType}}-->
    <td style="width: 125px; border: 1px solid;">Місце виникнення витрат</td>
    <!--{{/showColumnDictCostType}}-->
    <!--{{#showColumnDictCategoryECB}}-->
    <td style="width: 125px; border: 1px solid;">Категорія застрахованої особи</td>
    <!--{{/showColumnDictCategoryECB}}-->
</tr>

<!--{{#depts}}-->
<!--{{#dept}}-->
<tr style="page-break-inside: avoid;<!--{{#isOrg}}-->background-color: #f0f0f0;<!--{{/isOrg}}-->">
    <td style="font-family: TimesNewRoman; font-size: 12pt; font-weight: bold; padding-left: 15px; text-align: left; border-width: 1px; border-style: solid; page-break-inside: avoid;" colspan="{{colCount}}">{{&deptName}}</td>
</tr>
<!--{{/dept}}-->
<!--{{#emps}}-->
<tr style="page-break-inside: avoid;">
    <td style="vertical-align: top; width: 30px; min-width: 30px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{tabNum}}</td>
    <td style="vertical-align: top; width: 220px; min-width: 220px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{fullFIO}}</td>
    <!--{{#showCalcPeriod}}-->
    <td style="vertical-align: top; width: 120px; min-width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{periodName}}</td>
    <!--{{/showCalcPeriod}}-->
    <!--{{#showSalaryPeriod}}-->
    <td style="vertical-align: top; width: 120px; min-width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{periodSalaryName}}</td>
    <!--{{/showSalaryPeriod}}-->
    <!--{{#showSaldo}}-->
    <td style="vertical-align: top; width: 80px; min-width: 80px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"sumFrom","decimal2"{{/$fs}}</td>
    <td style="vertical-align: top; width: 80px; min-width: 80px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"sumPlus","decimal2"{{/$fs}}</td>
    <td style="vertical-align: top; width: 80px; min-width: 80px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"sumMinus","decimal2"{{/$fs}}</td>
    <td style="vertical-align: top; width: 80px; min-width: 80px;text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"sumPay","decimal2"{{/$fs}}</td>
    <td style="vertical-align: top; width: 80px; min-width: 80px; text-align: right; border: 1px solid;">{{#$fs}}"sumBalRes","decimal2"{{/$fs}}</td>
    <!--{{/showSaldo}}-->
    <!--{{#paySumPayEl}}-->
    <td style="vertical-align: top; width: 80px; min-width: 80px; text-align: right; border: 1px solid;">{{#$fs}}"sum","decimal2"{{/$fs}}</td>
    <!--{{/paySumPayEl}}-->
    <!--{{#showOrgName}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{orgName}}</td>
    <!--{{/showOrgName}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{depName}}</td>
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border: 1px solid;">{{positionName}}</td>
    <!--{{#showColumnSexType}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: center; border: 1px solid;">{{sexType}}</td>
    <!--{{/showColumnSexType}}-->
    <!--{{#showColumnBirthDate}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: center; border: 1px solid;">{{birthDate}}</td>
    <!--{{/showColumnBirthDate}}-->
    <!--{{#showColumnDateFrom}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: center; border: 1px solid;">{{startWork}}</td>
    <!--{{/showColumnDateFrom}}-->
    <!--{{#showColumnDateTo}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: center; border: 1px solid;">{{endWork}}</td>
    <!--{{/showColumnDateTo}}-->
    <!--{{#showColumnDictStaffCat}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border: 1px solid;">{{staffCatName}}</td>
    <!--{{/showColumnDictStaffCat}}-->
    <!--{{#showColumnMtCount}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: center; border: 1px solid;">{{mtCount}}</td>
    <!--{{/showColumnMtCount}}-->
    <!--{{#showColumnWorkPlace}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border: 1px solid;">{{workPlace}}</td>
    <!--{{/showColumnWorkPlace}}-->
    <!--{{#showColumnWorkerType}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border: 1px solid;">{{workerType}}</td>
    <!--{{/showColumnWorkerType}}-->
    <!--{{#showColumnWorkSchedule}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border: 1px solid;">{{workSchedule}}</td>
    <!--{{/showColumnWorkSchedule}}-->
    <!--{{#showColumnAccountID}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border: 1px solid;">{{accountName}}</td>
    <!--{{/showColumnAccountID}}-->
    <!--{{#showColumnDictCostType}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border: 1px solid;">{{dictCostType}}</td>
    <!--{{/showColumnDictCostType}}-->
    <!--{{#showColumnDictCategoryECB}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border: 1px solid;">{{dictCategoryECB}}</td>
    <!--{{/showColumnDictCategoryECB}}-->
</tr>
<!--{{/emps}}-->
<!--{{#isGroupDep}}-->
<!--{{#depSum}}-->
<tr style="background-color: #f0f0f0; font-weight: bold; page-break-inside: avoid;">
    <td style="text-align: right; width: 30px; min-width: 30px; border-left: 1px solid; border-bottom: 1px solid;">&nbsp;</td>
    <td style="text-align: right; width: 220px; min-width: 220px; border: 1px solid;">{{&title}} &nbsp;</td>
    <!--{{#showCalcPeriod}}-->
    <td style="text-align: right; width: 120px; min-width: 120px; border: 1px solid;">&nbsp;</td>
    <!--{{/showCalcPeriod}}-->
    <!--{{#showSalaryPeriod}}-->
    <td style="text-align: right; width: 120px; min-width: 120px; border: 1px solid;">&nbsp;</td>
    <!--{{/showSalaryPeriod}}-->
    <!--{{#dsum}}-->
    <td style="text-align: right; width: 80px; text-align: right; border-right: 1px solid; border-bottom: 1px solid;">{{#$fs}}"sum","decimal2"{{/$fs}}</td>
    <!--{{/dsum}}-->
    <!--{{#showOrgName}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showOrgName}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{#showColumnSexType}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnSexType}}-->
    <!--{{#showColumnBirthDate}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnBirthDate}}-->
    <!--{{#showColumnDateFrom}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnDateFrom}}-->
    <!--{{#showColumnDateTo}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnDateTo}}-->
    <!--{{#showColumnDictStaffCat}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnDictStaffCat}}-->
    <!--{{#showColumnMtCount}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnMtCount}}-->
    <!--{{#showColumnWorkPlace}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnWorkPlace}}-->
    <!--{{#showColumnWorkerType}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnWorkerType}}-->
    <!--{{#showColumnWorkSchedule}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnWorkSchedule}}-->
    <!--{{#showColumnAccountID}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnAccountID}}-->
    <!--{{#showColumnDictCostType}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnDictCostType}}-->
    <!--{{#showColumnDictCategoryECB}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnDictCategoryECB}}-->
</tr>
<!--{{/depSum}}-->
<!--{{/isGroupDep}}-->
<!--{{/depts}}-->

<!--{{#showOnlyAllSum}}-->
<!--{{#allSum}}-->
<tr style="background-color: #f0f0f0; font-weight: bold; page-break-inside: avoid;">
    <td style="text-align: right; width: 30px; min-width: 30px; border-left: 1px solid; border-bottom: 1px solid;">&nbsp;</td>
    <td style="text-align: right; width: 220px; min-width: 220px; border: 1px solid;">{{&title}} &nbsp;</td>
    <!--{{#showCalcPeriod}}-->
    <td style="text-align: right; width: 120px; min-width: 120px; border: 1px solid;">&nbsp;</td>
    <!--{{/showCalcPeriod}}-->
    <!--{{#showSalaryPeriod}}-->
    <td style="text-align: right; width: 120px; min-width: 120px; border: 1px solid;">&nbsp;</td>
    <!--{{/showSalaryPeriod}}-->
    <!--{{#dsum}}-->
    <td style="width: 80px; text-align: right; border-right: 1px solid; border-bottom: 1px solid;">{{#$fs}}"sum","decimal2"{{/$fs}}</td>
    <!--{{/dsum}}-->
    <!--{{#showOrgName}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showOrgName}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{#showColumnSexType}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnSexType}}-->
    <!--{{#showColumnBirthDate}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnBirthDate}}-->
    <!--{{#showColumnDateFrom}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnDateFrom}}-->
    <!--{{#showColumnDateTo}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnDateTo}}-->
    <!--{{#showColumnDictStaffCat}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnDictStaffCat}}-->
    <!--{{#showColumnMtCount}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnMtCount}}-->
    <!--{{#showColumnWorkPlace}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnWorkPlace}}-->
    <!--{{#showColumnWorkerType}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnWorkerType}}-->
    <!--{{#showColumnWorkSchedule}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnWorkSchedule}}-->
    <!--{{#showColumnAccountID}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnAccountID}}-->
    <!--{{#showColumnDictCostType}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnDictCostType}}-->
    <!--{{#showColumnDictCategoryECB}}-->
    <td style="text-align: right; width: 125px; min-width: 125px; border: 1px solid;">&nbsp;</td>
    <!--{{/showColumnDictCategoryECB}}-->

</tr>
<!--{{/allSum}}-->
<!--{{/showOnlyAllSum}}-->

</tbody>
</table>