<!--%pageOrientation:portrait--><table style="word-break: break-word;" border="0" width="773" cellspacing="0" cellpadding="0">

<tbody>
<!--{{#logoSettings}}-->
<tr style="padding: 0; margin: 0;">

    <td style="text-align:center;" align="center"><img  src="{{emblem}}" data-style-pdf="padding-left:{{logoPaddingLeft}}px;" alt="emblem" width="{{logoWidthPx}}" height="{{logoHeightPx}}" /></td>

</tr>
<!--{{/logoSettings}}-->
<tr>
    <td>
        <p style="text-align: center; font-weight: bold; margin: {{upMarginValue}}cm 0cm 0cm 0cm;">&nbsp;</p>
    </td>
</tr>
<tr>
<td style="width: 100%;">
    <p style="text-align: right; margin: 0cm 0cm 0cm {{leftMarginValue}}cm;">Додаток<br/>до Порядку</p>
    <p style="text-align: center; margin: 0cm 0cm 0cm {{leftMarginValue}}cm;">ДОВІДКА<br/>про заробітну плату (дохід, грошове забезпечення) для розрахунку виплат<br/>за загальнообов’язковим державним соціальним страхуванням</p>
    <p style="text-align: right; margin: 0cm 0cm 0cm {{leftMarginValue}}cm;">&nbsp;</p>
    <p style="text-align: right; margin: 0cm 0cm 0cm {{leftMarginValue}}cm;">&nbsp;</p>


    <table style="word-break: break-word;" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td style="width: 110px; padding: 0; vertical-align: bottom;">видана</td>
            <td style="width: 662px; padding: 0; text-align: center; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{employee.datName}}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">(прізвище, ім'я та по батькові)</td>
        </tr>
        </tbody>
    </table>
    <table style="word-break: break-word;" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td style="width: 772px; padding: 0; vertical-align: bottom;">який (яка) працював (працювала), проходив (проходила) службу</td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{orgDat}}</td>
        </tr>
        <tr>
            <td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">(найменування та місцезнаходження підприємства, установи, організації,  територіального центру комплектування та соціальної підтримки,</td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
        </tr>
        <tr>
            <td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">де особа перебувала  на обліку, або військової частини, підприємства, установи,</td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
        </tr>
        <tr>
            <td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">організації, органу, де особа проходила  службу)</td>
        </tr>
        </tbody>
    </table>
    <table style="word-break: break-word;" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td style="width: 390px; padding: 0; vertical-align: bottom;">реєстраційний номер облікової картки платника податку</td>
            <td style="width: 382px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center">{{employee.taxCode}}</td>
        </tr>
        </tbody>
    </table>
<p>&nbsp;</p>
<table style="word-break: break-word; border-collapse: collapse;" border="1px" width="100%" cellspacing="0" cellpadding="3">
<tbody>
<tr style="font-size: 10pt">
<td style="text-align: center; vertical-align: center; width: 154px">Місяці розрахункового періоду (зазначити назву місяців)</td>
<td style="text-align: center; vertical-align: center; width: 154px">Кількість календарних (на вимогу Пенсійного фонду України - робочих) днів у розрахунковому періоді, за винятком календарних днів, не відпрацьованих з поважних причин</td>
<td style="text-align: center; vertical-align: center; width: 154px">Заробітна плата (дохід, грошове забезпечення), на яку нараховано єдиний внесок та/або страхові внески</td>
<td style="text-align: center; vertical-align: center; width: 154px">Сума страхових внесків та/або єдиного внеску, сплачена застрахованою особою, гривень</td>
<td style="text-align: center; vertical-align: center; width: 154px">Розмір єдиного внеску для відповідної категорії застрахованих осіб згідно із Законом України “Про збір та облік єдиного внеску на загальнообов’язкове державне соціальне страхування”, відсотків</td>
</tr>
<!--{{#timeSheetData}}--><tr>
<td style="text-align: left; padding: 0">{{periodDesc}}</td>
<td style="text-align: right; padding: 0">{{sum1}}</td>
<td style="text-align: right; padding: 0">{{sum2}}</td>
<td style="text-align: right; padding: 0">{{sum3}}</td>
<td style="text-align: right; padding: 0">{{rate}}</td>
</tr><!--{{/timeSheetData}}-->
</tbody>
</table>
    <div>&nbsp;</div>
    <div style="text-decoration: underline">{{allBaseSum}}</div>
<div style="">Усього</div>
<table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="text-align: center; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{&validReasonList}}</td>
</tr>
<tr>
<td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">зазначається поважна причина (тимчасова непрацездатність, відпустка у зв’язку</td>
</tr>
<tr>
<td style="text-align: center; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr>
<td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">вагітністю та пологами, відпустка по догляду за дитиною до досягнення нею</td>
</tr>
<tr>
<td style="text-align: center; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr>
<td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">трирічного віку та шестирічного віку за медичним висновком, відпустка без збереження заробітної плати) для</td>
</tr>
<tr>
<td style="text-align: center; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr>
<td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">виключення кількості календарних днів у розрахунковому періоді</td>
</tr>
<tr>
<td style="padding: 0; vertical-align: bottom; text-indent: 40px; text-align: justify">Для страхування на випадок безробіття - вихідна допомога або інші виплати у разі звільнення відповідно до Закону України</td>
</tr>
<tr>
<td style="text-align: center; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{&payElList}}</td>
</tr>
<tr>
<td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">(назва)</td>
</tr>
</tbody>
</table>
<table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 370px; padding: 0; vertical-align: bottom;">виплачені одноразово, або період здійснення виплат</td>
<td style="width: 402px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center">{{&payDate}}</td>
</tr>
</tbody>
</table>
<div>&nbsp;</div>
<table style="word-break: break-word; border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
        <tr style="font-weight: bold; text-align: center; vertical-align: top; font-size: 11pt">
            <td style="width: 100px;"></td>
            <td style="width: 100px;"></td>
            <td style="width: 140px;"></td>
            <td style="width: 101px;"></td>
            <td style="width: 101px;"></td>
            <td style="width: 156px;"></td>
        </tr>
        <!--{{#signers}}-->
        <tr>
            <td style=" text-align: center;" colspan="6" >&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: left;" colspan="2" >{{signerName}}:</td>
            <td style="text-align: left;" colspan="1" >_____________</td>
            <td style="text-align: left;" colspan="2" >(<span style="text-decoration: underline">{{signerShortName}}</span><!--{{^signerShortName}}-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--{{/signerShortName}}-->)</td>
            <td style="text-align: left;" colspan="2" >&nbsp;</td>

        </tr>
        <!--{{/signers}}-->

        </tbody>
    </table>
</td>
</tr>
</tbody>
</table>
