<!--%pageOrientation:landscape-->
<table style="border-collapse: collapse; font-family: TimesNewRoman; font-size: 10pt" border="0" width="{{sheetWidth}}px" cellspacing="1" cellpadding="0">
    <tbody>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 14pt;" colspan="{{colCount}}">Зведена вiдомiсть нарахувань в розрiзi фондiв оплати працi {{period}}</td>
    </tr>
    <tr style="font-weight: bold">
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="{{colCount}}">{{orgName}}</td>
    </tr>
    <!--{{#department}}-->
    <tr style="font-weight: bold">
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="{{colCount}}">{{depName}}</td>
    </tr>
    <!--{{/department}}-->
    <!--{{#isIncludeOnlyWoman }}-->
    <tr style="height: 20px;">
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="{{colCount}}">тільки жінки</td>
    </tr>
    <!--{{/isIncludeOnlyWoman }}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="100px" rowspan="2" colspan="1">Період</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 30px" width="30px" rowspan="2" colspan="1">Код</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 300px" width="300px" rowspan="2" colspan="3">Назва</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" width="{{colYesWidth}}px" colspan="{{colListYesCostWork.length}}">Промисловий персонал</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" width="{{colNotWidth}}px" colspan="{{colListNotCostWork.length}}">Непромисловий персонал</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" rowspan="2" colspan="1">Штатні всього</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" rowspan="2" colspan="1">Інші</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" rowspan="2" colspan="1">Разом</td>
    </tr>
    <tr style="font-size: 12pt;">
        <!--{{#colListYesCostWork}}-->
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{colName}}</td>
        <!--{{/colListYesCostWork }}-->
        <!--{{#colListNotCostWork}}-->
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{colName}}</td>
        <!--{{/colListNotCostWork }}-->
    </tr>
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" width="{{sheetWidth}}px" colspan="{{colCount}}">Фонд основної заробітної плати</td>
    </tr>
    <!--{{#FOZP}}-->
    <!--{{#isPayElLine}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" colspan="1">{{periodSalaryName}}</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 30px" width="30px" colspan="1">{{payElCode}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 300px" width="300px" colspan="3">{{payElName}}</td>
        <!--{{#colListYesCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListYesCostWork}}-->
        <!--{{#colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/isPayElLine}}-->
    <!--{{#isSubSumLine}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 110px" width="110px" colspan="2">Всього</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 300px" width="300px" colspan="3">{{payElName}}</td>
        <!--{{#colListYesCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListYesCostWork}}-->
        <!--{{#colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/isSubSumLine}}-->
    <!--{{/FOZP}}-->
    <!--{{#FOZPSum}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">в т.ч. за {{periodCalcName}}</td>
        <!--{{#yesCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum_calc}}-->
        <!--{{#notCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum_calc","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum_calc","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_calc","sum"{{/$fs}}</td>
    </tr>
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">в т.ч. з іншіх періодів</td>
        <!--{{#yesCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum_otherPeriods}}-->
        <!--{{#notCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum_otherPeriods","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum_otherPeriods","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_otherPeriods","sum"{{/$fs}}</td>
    </tr>
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">Разом Фонд основної заробітної плати</td>
        <!--{{#yesCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum}}-->
        <!--{{#notCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum_all","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum_all","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_all","sum"{{/$fs}}</td>
    </tr>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" width="{{sheetWidth}}px" colspan="{{colCount}}">&nbsp;</td>
    <!--{{/FOZPSum}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" width="{{sheetWidth}}px" colspan="{{colCount}}">Фонд додаткової заробітної плати</td>
    </tr>
    <!--{{#FDZP}}-->
    <!--{{#isPayElLine}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" colspan="1">{{periodSalaryName}}</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 30px" width="30px" colspan="1">{{payElCode}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 300px" width="300px" colspan="3">{{payElName}}</td>
        <!--{{#colListYesCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListYesCostWork}}-->
        <!--{{#colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/isPayElLine}}-->
    <!--{{#isSubSumLine}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 110px" width="110px" colspan="2">Всього</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 300px" width="300px" colspan="3">{{payElName}}</td>
        <!--{{#colListYesCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListYesCostWork}}-->
        <!--{{#colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/isSubSumLine}}-->
    <!--{{/FDZP}}-->
    <!--{{#FDZPSum}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">в т.ч. за {{periodCalcName}}</td>
        <!--{{#yesCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum_calc}}-->
        <!--{{#notCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum_calc","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum_calc","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_calc","sum"{{/$fs}}</td>
    </tr>
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">в т.ч. з іншіх періодів</td>
        <!--{{#yesCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum_otherPeriods}}-->
        <!--{{#notCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum_otherPeriods","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum_otherPeriods","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_otherPeriods","sum"{{/$fs}}</td>
    </tr>
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">Разом Фонд додаткової заробітної плати</td>
        <!--{{#yesCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum}}-->
        <!--{{#notCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum_all","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum_all","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_all","sum"{{/$fs}}</td>
    </tr>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" width="{{sheetWidth}}px" colspan="{{colCount}}">&nbsp;</td>
    <!--{{/FDZPSum}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" width="{{sheetWidth}}px" colspan="{{colCount}}">Інші заохочувальні та компенсаційні виплати</td>
    </tr>
    <!--{{#ZKV}}-->
    <!--{{#isPayElLine}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" colspan="1">{{periodSalaryName}}</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 30px" width="30px" colspan="1">{{payElCode}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 300px" width="300px" colspan="3">{{payElName}}</td>
        <!--{{#colListYesCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListYesCostWork}}-->
        <!--{{#colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/isPayElLine}}-->
    <!--{{#isSubSumLine}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 110px" width="110px" colspan="2">Всього</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 300px" width="300px" colspan="3">{{payElName}}</td>
        <!--{{#colListYesCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListYesCostWork}}-->
        <!--{{#colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/isSubSumLine}}-->
    <!--{{/ZKV}}-->
    <!--{{#ZKVSum}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">в т.ч. за {{periodCalcName}}</td>
        <!--{{#yesCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum_calc}}-->
        <!--{{#notCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum_calc","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum_calc","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_calc","sum"{{/$fs}}</td>
    </tr>
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">в т.ч. з іншіх періодів</td>
        <!--{{#yesCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum_otherPeriods}}-->
        <!--{{#notCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum_otherPeriods","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum_otherPeriods","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_otherPeriods","sum"{{/$fs}}</td>
    </tr>
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">Разом Інші заохочувальні та компенсаційні виплати</td>
        <!--{{#yesCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum}}-->
        <!--{{#notCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum_all","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum_all","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_all","sum"{{/$fs}}</td>
    </tr>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" width="{{sheetWidth}}px" colspan="{{colCount}}">&nbsp;</td>
    <!--{{/ZKVSum}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" width="{{sheetWidth}}px" colspan="{{colCount}}">Інші виплати, що не входять у ФОП</td>
    </tr>
    <!--{{#OTHER}}-->
    <!--{{#isPayElLine}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" colspan="1">{{periodSalaryName}}</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 30px" width="30px" colspan="1">{{payElCode}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 300px" width="300px" colspan="3">{{payElName}}</td>
        <!--{{#colListYesCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListYesCostWork}}-->
        <!--{{#colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/isPayElLine}}-->
    <!--{{#isSubSumLine}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 110px" width="110px" colspan="2">Всього</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 300px" width="300px" colspan="3">{{payElName}}</td>
        <!--{{#colListYesCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListYesCostWork}}-->
        <!--{{#colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/isSubSumLine}}-->
    <!--{{/OTHER}}-->
    <!--{{#OTHERSum}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">в т.ч. за {{periodCalcName}}</td>
        <!--{{#yesCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum_calc}}-->
        <!--{{#notCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum_calc","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum_calc","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_calc","sum"{{/$fs}}</td>
    </tr>
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">в т.ч. з іншіх періодів</td>
        <!--{{#yesCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum_otherPeriods}}-->
        <!--{{#notCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum_otherPeriods","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum_otherPeriods","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_otherPeriods","sum"{{/$fs}}</td>
    </tr>
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">Разом Інші виплати, що не входять у ФОП</td>
        <!--{{#yesCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum}}-->
        <!--{{#notCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum_all","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum_all","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_all","sum"{{/$fs}}</td>
    </tr>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" width="{{sheetWidth}}px" colspan="{{colCount}}">&nbsp;</td>
    <!--{{/OTHERSum}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" width="{{sheetWidth}}px" colspan="{{colCount}}">Нараховано по {{depName ? depName : ''}} {{orgName}}</td>
    </tr>
    <!--{{#SUMMARY}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">за {{periodCalcName}}</td>
        <!--{{#yesCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum_calc}}-->
        <!--{{#notCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum_calc","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum_calc","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_calc","sum"{{/$fs}}</td>
    </tr>
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">з іншіх періодів</td>
        <!--{{#yesCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum_otherPeriods}}-->
        <!--{{#notCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum_otherPeriods","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum_otherPeriods","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_otherPeriods","sum"{{/$fs}}</td>
    </tr>
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">Разом по {{depName}} {{orgName}}</td>
        <!--{{#yesCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum}}-->
        <!--{{#notCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum_all","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum_all","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_all","sum"{{/$fs}}</td>
    </tr>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" width="{{sheetWidth}}px" colspan="{{colCount}}">&nbsp;</td>
    <!--{{/SUMMARY}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" width="{{sheetWidth}}px"  colspan="{{colCount}}">ФОП в розрізі підпорядкованих структурних одиниць</td>
    </tr>
    <!--{{#FOPDep}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">{{departmentName}}</td>
        <!--{{#colListYesCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListYesCostWork}}-->
        <!--{{#colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/colListNotCostWork}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"staffSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"otherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/FOPDep}}-->
    <!--{{#FOPDepSum}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">в т.ч. за {{periodCalcName}}</td>
        <!--{{#yesCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum_calc}}-->
        <!--{{#notCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum_calc}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum_calc","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum_calc","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_calc","sum"{{/$fs}}</td>
    </tr>
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">в т.ч. з іншіх періодів</td>
        <!--{{#yesCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum_otherPeriods}}-->
        <!--{{#notCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum_otherPeriods}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"staffSum_otherPeriods","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"otherSum_otherPeriods","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_otherPeriods","sum"{{/$fs}}</td>
    </tr>
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">Разом ФОП</td>
        <!--{{#yesCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum}}-->
        <!--{{#notCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"staffSum_all","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"otherSum_all","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_all","sum"{{/$fs}}</td>
    </tr>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" width="{{sheetWidth}}px" colspan="{{colCount}}">&nbsp;</td>
    <!--{{/FOPDepSum}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" width="{{sheetWidth}}px" colspan="{{colCount}}">Крім того за майбутні періоди</td>
    </tr>
    <!--{{#FUTURE}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">{{sectionName}}</td>
        <!--{{#yesCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum}}-->
        <!--{{#notCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"staffSum_all","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px" >{{#$fs}}"otherSum_all","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px" >{{#$fs}}"allSum_all","sum"{{/$fs}}</td>
    </tr>
    <!--{{/FUTURE}}-->
    <!--{{#SUMMARYFuture}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 410px" width="410px" colspan="5">Разом за майбутні періоди</td>
        <!--{{#yesCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/yesCostWorkCatSum}}-->
        <!--{{#notCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"value","sum"{{/$fs}}</td>
        <!--{{/notCostWorkCatSum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"staffSum_all","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; width: 80px" width="80px">{{#$fs}}"otherSum_all","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width: 80px" width="80px">{{#$fs}}"allSum_all","sum"{{/$fs}}</td>
    </tr>
    <!--{{/SUMMARYFuture}}-->
    </tbody>
</table>

