<!--%pageOrientation:landscape-->
<table style="border-collapse: collapse; font-size: 11pt;" border="0" width="1440" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 40px;"></td>
<td style="width: 40px;"></td>
<td style="width: 150px;"></td>
<td style="width: 150px;"></td>
<td style="width: 130px;"></td>
<td style="width: 90px;"></td>
<td style="width: 100px;"></td>
<td style="width: 100px;"></td>
<td style="width: 100px;"></td>
<td style="width: 40px;"></td>
<td style="width: 100px;"></td>
    <!--{{#addDep}}-->  <td style="width: 100px;"></td><!--{{/addDep}}-->
    <td style="width: 150px;"></td>
    <td style="width: 150px;"></td>
</tr>
<tr>
<td style="font-weight: bold; text-align: center" colspan="{{allColumnCount}}">Звіт про відрахування профспілкових внесків</td>
</tr>
<tr>
<td style="font-weight: bold; text-align: center" colspan="{{allColumnCount}}">&nbsp;</td>
</tr>
<tr style="font-weight: bold; height: 20px; vertical-align: bottom;">
<td style="text-align: right;" colspan="3">за</td>
<td style="border-bottom: 1px solid; text-align: center; " colspan="4">{{period}}</td>
<td colspan="{{partTitleColCount}}">року</td>
</tr>
<tr style="font-weight: bold; height: 30px; vertical-align: bottom;">
<td style="text-align: right" colspan="3">підрозділ</td>
<td style=" border-bottom: 1px solid; text-align: center;" colspan="4">{{department}}</td>
<td  colspan="{{partTitleColCount}}">&nbsp;</td>
</tr>
<tr>
<td style="font-weight: bold; text-align: center" colspan="{{allColumnCount}}">&nbsp;</td>
</tr>

<tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">№<br/>з/п</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Таб.<br/>№</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">ПІБ</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Посада</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Вид оплати</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Період</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Дохід</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Дохід, на<br/>який не нараховуються внески</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Дохід, на<br/>який нараховуються внески</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">%</td>
    <td style="border: 1px solid;">Сума внеску</td>
    <!--{{#addDep}}--><td style="border: 1px solid;">Підрозділ</td><!--{{/addDep}}-->
    <td style=" border: 1px solid;">Організація</td>
    <td style=" border: 1px solid;">Структурний підрозділ</td>
</tr>

<!--{{#depts}}-->
<!--{{#dept}}-->
<tr style="page-break-inside: avoid; vertical-align: top;">
    <td style="font-family: TimesNewRoman; font-size: 11pt; font-weight: bold; padding-left: 15px; text-align: left; border-width: 1px; border-style: solid; page-break-inside: avoid;" colspan="{{colCount}}">{{&deptName}}</td>
</tr>
<!--{{/dept}}-->
<!--{{#emps}}-->
<tr style="page-break-inside: avoid; vertical-align: top;">
    <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{num}}</td>
    <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{tabNum}}</td>
    <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{fullFIO}}</td>
    <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
    <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{payElName}}</td>
    <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{periodName}}</td>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"incomeSum","decimal2"{{/$fs}}</td>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"incomeNoSum","decimal2"{{/$fs}}</td>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"incomeWithSum","decimal2"{{/$fs}}</td>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{rate}}</td>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum"{{/$fs}}</td>
    <!--{{#addDep}}--><td style="border: 1px solid;">{{depName}}</td><!--{{/addDep}}-->
    <td style="text-align: left; border: 1px solid;">{{orgName}}</td>
    <td style="text-align: left; border: 1px solid;">{{selfStructDepName}}</td>
</tr>
<!--{{/emps}}-->
<!--{{#depSum}}-->
<tr style="background-color: #f0f0f0; font-weight: bold; page-break-inside: avoid; vertical-align: top;">
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;" colspan="6">{{&title}} &nbsp;</td>
    <!--{{#dsum}}-->
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"incomeSum","decimal2"{{/$fs}}</td>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"incomeNoSum","decimal2"{{/$fs}}</td>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"incomeWithSum","decimal2"{{/$fs}}</td>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;"></td>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{/dsum}}-->
    <!--{{#addDep}}--> <td style="border: 1px solid;"></td><!--{{/addDep}}-->
    <td style="text-align: right; border: 1px solid;" colspan="2"> &nbsp;</td>
</tr>
<!--{{/depSum}}-->
<!--{{/depts}}-->

<tr><td colspan="{{allColumnCount}}">&nbsp;</td></tr>
<tr><td colspan="{{allColumnCount}}">Примітки:</td></tr>
<!--{{#notes}}-->
<tr><td style="" colspan="{{allColumnCount}}">{{filterName}} {{value}}</td></tr>
<!--{{/notes}}-->

</tbody>
</table>