<!--%pageOrientation:landscape-->
<table style="font-family: TimesNewRoman; font-size: 11pt; word-break: break-word; border-collapse: collapse;" border="0" width="1313" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 38px;"></td>
<td style="width: 40px;"></td>
<td style="width: 145px;"></td>
<td style="width: 195px;"></td>
<td style="width: 90px;"></td>
<td style="width: 100px;"></td>
<td style="width: 100px;"></td>
<td style="width: 105px;"></td>
<td style="width: 105px;"></td>
<td style="width: 105px;"></td>
<td style="width: 145px;"></td>
<td style="width: 145px;"></td>
</tr>
<!--{{^hideHeader}}-->
<tr>
<td style="font-weight: bold; text-align: center" colspan="12">Звіт</td>
</tr>
<tr>
<td style="font-weight: bold; text-align: center" colspan="12">про нарахування доплати до мінімальної заробітної плати</td>
</tr>
<tr>
<td style="font-weight: bold; text-align: center" colspan="12">&nbsp;</td>
</tr>
<tr style="font-weight: bold">
<td style="width: 418px; text-align: right;" colspan="3"></td>
<td style="width: 190px; border-bottom: 1px solid; text-align: center; vertical-align: bottom;" colspan="6">{{period}}</td>
<td style="width: 415px;" colspan="3"></td>
</tr>
<tr><td style="font-weight: bold; text-align: center" colspan="12">&nbsp;</td></tr>
<tr style="font-weight: bold">
<td style="width: 418px; text-align: right" colspan="4">підрозділ</td>
<td style="width: 190px; border-bottom: 1px solid; text-align: center; vertical-align: bottom;" colspan="4">{{department}}</td>
<td style="width: 415px;" colspan="4">&nbsp;</td>
</tr>
<!--{{/hideHeader}}-->
<tr>
<td style="font-weight: bold; text-align: center" colspan="12">&nbsp;</td>
</tr>
<tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
<td style="width: 38px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">№<br/>з/п</td>
<td style="width: 40px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Таб.<br/>№</td>
<td style="width: 145px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">ПІБ</td>
<td style="width: 195px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Посада</td>
<td style="width: 90px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Обліковий період</td>
<td style="width: 100px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Кількість ставок</td>
<td style="width: 100px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Кількість відпрацьованих днів</td>
<td style="width: 105px;border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Сума нарахованої заробітної плати</td>
<td style="width: 105px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Сума доплати до мінімальної заробітної плати</td>
<td style="width: 105px; border: 1px solid;">Всього</td>
<td style="width: 145px;border: 1px solid black;">Організація</td>
<td style="width: 145px;border: 1px solid black;">Структурний підрозділ</td>
</tr>
<!--{{#depts}}-->
<!--{{#dept}}-->
<tr style="page-break-inside: avoid; vertical-align: top;">
    <td style="font-family: TimesNewRoman; font-weight: bold; padding-left: 15px; text-align: left; border-width: 1px; border-style: solid; page-break-inside: avoid;" colspan="12">{{&deptName}}</td>
</tr>
<!--{{/dept}}-->
<!--{{#emps}}-->
<tr style="vertical-align: top; page-break-inside: avoid;">
<td style="width: 38px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{num}}</td>
<td style="width: 40px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{tabNum}}</td>
<td style="width: 145px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{fullFIO}}</td>
<td style="width: 195px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
<td style="width: 90px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{period}}</td>
<td style="width: 100px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"mtCount","decimal2"{{/$fs}}</td>
<td style="width: 100px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"days","decimal2"{{/$fs}}</td>
<td style="width: 105px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
<td style="width: 105px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
<td style="width: 105px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"allSum","decimal2"{{/$fs}}</td>
<td style="width: 145px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{orgName}}</td>
<td style="width: 145px; text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{selfStructDepName}}</td>
</tr>
<!--{{/emps}}-->
<!--{{#depSum}}-->
<tr style="background-color: #f0f0f0; font-weight: bold; page-break-inside: avoid; vertical-align: top;">
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;" colspan="7">{{&title}} &nbsp;</td>
    <!--{{#dsum}}-->
    <td style="width: 105px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
    <td style="width: 105px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <td style="width: 105px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"allSum","decimal2"{{/$fs}}</td>
    <!--{{/dsum}}-->
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="2">&nbsp;</td>
</tr>
<!--{{/depSum}}-->
<!--{{/depts}}-->
</tbody>
</table>