<!--%pageOrientation:landscape-->
<table style="border-collapse: collapse; font-family: TimesNewRoman; font-size: 11pt" border="0" width="{{sheetWidth}}" cellspacing="0" cellpadding="20">
    <tbody>
    <!--{{#rls}}-->
    <tr style="overflow:hidden;">
        <td style="width: 150px; min-width: 150px;"></td>
        <td style="width: 100px; min-width: 100px;"></td>
        <td style="width: 100px; min-width: 100px;"></td>
        <!--{{#months}}-->
        <td style="width: 100px; min-width: 100px;"></td>
        <!--{{/months}}-->
    </tr>

    <tr>
        <td style="padding-top: 10px; vertical-align: bottom; text-align: left">Організація</td>
        <td style="vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center" colspan="{{partColumn}}">{{orgName}}</td>
    </tr>
    <tr style="height: 60px;">
        <td style="padding-top: 10px; font-size: 16pt; font-weight: bold; text-align: center;" colspan="{{allColumnCount}}">Розрахунковий лист <p style="font-size: 12pt; margin-top: 0px;">{{strPeriodName}}</p></td>
    </tr>

    <tr>
        <td style="padding-top: 10px; vertical-align: bottom; text-align: left">{{tabNum}}</td>
        <td style="padding-left: 10px; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: left" colspan="{{partColumn}}">{{fullFIO}}</td>
    </tr>

    <tr>
        <td style="padding-top: 10px; vertical-align: bottom; text-align: left">Посада</td>
        <td style="padding-left: 10px; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: left" colspan="{{partColumn}}">{{posName}}</td>
    </tr>
    <tr>
        <td style="padding-top: 10px; vertical-align: bottom; text-align: left">Оклад</td>
        <td style="padding-left: 10px; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: left" colspan="{{partColumn}}">{{accrualSum}}</td>
    </tr>

    <tr>
        <td style="padding-top: 10px; vertical-align: bottom; text-align: left">Ідентифікаційний номер</td>
        <td style="padding-left: 10px; vertical-align: bottom; text-align: left; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;" colspan="{{partColumn}}">{{taxCode}}</td>
    </tr>
    <tr>
        <td style="padding-top: 10px; vertical-align: bottom; text-align: left">Підрозділ</td>
        <td style="padding-left: 10px; vertical-align: bottom; text-align: left; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;" colspan="{{partColumn}}">{{depName}}</td>
    </tr>
    <tr>
        <td style="padding-top: 10px; vertical-align: bottom; text-align: left">Пільги податку</td>
        <td style="padding-left: 10px; vertical-align: bottom; text-align: left; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;" colspan="{{partColumn}}">{{taxLimit}}</td>
    </tr>
    <tr>
        <td style="padding-top: 10px; vertical-align: bottom; text-align: left">Дата прийому</td>
        <td style="padding-left: 10px; vertical-align: bottom; text-align: left; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;" colspan="{{partColumn}}">{{dateFrom}}</td>
    </tr>

    <tr>
        <td style="padding-top: 10px; padding-bottom: 10px; vertical-align: bottom; text-align: right; font-weight: bold;" colspan="2"></td>
        <td style="vertical-align: bottom; text-align: left;"></td>
        <!--{{#months}}-->
        <td></td>
        <!--{{/months}}-->
    </tr>

    <tr>
        <td style="padding-top: 10px; padding-bottom: 10px; vertical-align: bottom; text-align: right; font-weight: bold;" colspan="2">Сальдо на початок</td>
        <td style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; vertical-align: bottom; text-align: left" >{{#$fs}}"sumFrom","decimal2"{{/$fs}}</td>
        <!--{{#months}}-->
        <td style="width: 100px; padding-top: 10px; padding-bottom: 10px;"></td>
        <!--{{/months}}-->
    </tr>

    <tr style="background-color: #f0f0f0; font-weight: bold;">
        <td style="border: 1px solid; vertical-align: bottom; text-align: center; font-weight: bold;" colspan="2">Вид оплати</td>
        <td style="border: 1px solid; vertical-align: bottom; text-align: center; font-weight: bold;">Разом</td>
        <!--{{#months}}-->
        <td style="border: 1px solid; text-align: center; font-weight: bold;">{{month}}</td>
        <!--{{/months}}-->
    </tr>

    <!--{{#workTime}}-->
    <tr>
        <td style="border: 1px solid; vertical-align: bottom; text-align: center; font-weight: bold;" colspan="2">Робочі дні (норма/факт)</td>
        <td style="border: 1px solid; vertical-align: bottom; text-align: right;">{{daysSum}}/{{daysFactSum}}</td>
        <!--{{#monthWorkTimeSum}}-->
        <td style="border: 1px solid; text-align: right;">{{days}}/{{daysFact}}</td>
        <!--{{/monthWorkTimeSum}}-->
    </tr>
    <tr>
        <td style="border: 1px solid; vertical-align: bottom; text-align: center; font-weight: bold;" colspan="2">Робочі години (норма/факт)</td>
        <td style="border: 1px solid; vertical-align: bottom; text-align: right;">{{#$fs}}"hoursSum","decimal2"{{/$fs}}/{{#$fs}}"hoursFactSum","decimal2"{{/$fs}}</td>
        <!--{{#monthWorkTimeSum}}-->
        <td style="border: 1px solid; text-align: right;">{{#$fs}}"hours","decimal2"{{/$fs}}/{{#$fs}}"hoursFact","decimal2"{{/$fs}}</td>
        <!--{{/monthWorkTimeSum}}-->
    </tr>
    <!--{{/workTime}}-->

    <tr>
        <td style="border: 1px solid; vertical-align: bottom; text-align: center; font-weight: bold;" colspan="2">Нараховано</td>
        <td style="border: 1px solid; vertical-align: bottom; text-align: center;"></td>
        <!--{{#months}}-->
        <td style="border: 1px solid; text-align: center;"></td>
        <!--{{/months}}-->
    </tr>

    <!--{{#paymentPayEls}}-->
    <tr>
        <td style="text-align: left; border: 1px solid;" colspan="2">{{payElDescription}}</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalPaySum","decimal2"{{/$fs}}</td>
        <!--{{#monthSum}}-->
        <td style="width: 100px; border: 1px solid; text-align: right;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        <!--{{/monthSum}}-->
    </tr>
    <!--{{/paymentPayEls}}-->

    <tr>
        <td style="border: 1px solid; vertical-align: bottom; text-align: right; font-weight: bold;" colspan="2">Всього нараховано</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalPayment","decimal2"{{/$fs}}</td>
        <!--{{#monthTotalPayment}}-->
        <td style="border: 1px solid; text-align: right;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        <!--{{/monthTotalPayment}}-->
    </tr>

    <tr>
        <td style="border: 1px solid; vertical-align: bottom; text-align: center; font-weight: bold;" colspan="2">Утримано</td>
        <td style="border: 1px solid; vertical-align: bottom; text-align: center;"></td>
        <!--{{#months}}-->
        <td style="border: 1px solid; text-align: center;"></td>
        <!--{{/months}}-->
    </tr>

    <!--{{#offtakePayEls}}-->
    <tr>
        <td style="text-align: left; border: 1px solid;" colspan="2">{{payElDescription}}</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalPaySum","decimal2"{{/$fs}}</td>
        <!--{{#monthSum}}-->
        <td style="width: 100px; border: 1px solid; text-align: right;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        <!--{{/monthSum}}-->
    </tr>
    <!--{{/offtakePayEls}}-->

    <tr>
        <td style="border: 1px solid; vertical-align: bottom; text-align: right; font-weight: bold;" colspan="2">Всього утримано</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalOfftake","decimal2"{{/$fs}}</td>
        <!--{{#monthTotalOfftake}}-->
        <td style="border: 1px solid; text-align: right;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        <!--{{/monthTotalOfftake}}-->
    </tr>

    <tr>
        <td style="border: 1px solid; vertical-align: bottom; text-align: center; font-weight: bold;" colspan="2">Виплачено</td>
        <td style="border: 1px solid; vertical-align: bottom; text-align: center;"></td>
        <!--{{#months}}-->
        <td style="border: 1px solid; text-align: center;"></td>
        <!--{{/months}}-->
    </tr>

    <!--{{#forpayPayEls}}-->
    <tr>
        <td style="text-align: left; border: 1px solid;" colspan="2">{{payElDescription}}</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalPaySum","decimal2"{{/$fs}}</td>
        <!--{{#monthSum}}-->
        <td style="width: 100px; border: 1px solid; text-align: right;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        <!--{{/monthSum}}-->
    </tr>
    <!--{{/forpayPayEls}}-->

    <tr>
        <td style="border: 1px solid; vertical-align: bottom; text-align: right; font-weight: bold;" colspan="2">Всього виплачено</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalForpay","decimal2"{{/$fs}}</td>
        <!--{{#monthTotalForpay}}-->
        <td style="border: 1px solid; text-align: right;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        <!--{{/monthTotalForpay}}-->
    </tr>

    <tr>
        <td style="padding-top: 10px; padding-bottom: 10px; vertical-align: bottom; text-align: right; font-weight: bold;" colspan="2">Сальдо на кінець</td>
        <td style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; vertical-align: bottom; text-align: left" >{{#$fs}}"sumTo","decimal2"{{/$fs}}</td>
        <!--{{#months}}-->
        <td style="width: 100px; padding-top: 10px; padding-bottom: 10px;"></td>
        <!--{{/months}}-->
    </tr>

    <tr>
        <td style="padding-top: 10px; padding-bottom: 10px; vertical-align: bottom; text-align: right; font-weight: bold;" colspan="2"></td>
        <td style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; vertical-align: bottom; text-align: left" ></td>
        <!--{{#months}}-->
        <td style="width: 100px; padding-top: 10px; padding-bottom: 10px;"></td>
        <!--{{/months}}-->
    </tr>

    <tr style="background-color: #f0f0f0; font-weight: bold;">
        <td style="border: 1px solid; vertical-align: bottom; text-align: center; font-weight: bold;" colspan="2">Розрахунок податку</td>
        <td style="border: 1px solid; vertical-align: bottom; text-align: center; font-weight: bold;">Разом</td>
        <!--{{#months}}-->
        <td style="border: 1px solid; text-align: center; font-weight: bold;">{{month}}</td>
        <!--{{/months}}-->
    </tr>

    <tr>
        <td style="border: 1px solid; vertical-align: bottom; text-align: right; font-weight: bold;" colspan="2">Оподаткований дохід</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"PDFObaseSum","decimal2"{{/$fs}}</td>
        <!--{{#monthPDFOBase}}-->
        <td style="border: 1px solid; text-align: right;">{{#$fs}}"sum","decimal2"{{/$fs}}</td>
        <!--{{/monthPDFOBase}}-->
    </tr>

    <tr>
        <td style="border: 1px solid; vertical-align: bottom; text-align: right; font-weight: bold;" colspan="2">Пільги</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"PDFOprivilegeSum","decimal2"{{/$fs}}</td>
        <!--{{#monthPrivilege}}-->
        <td style="border: 1px solid; text-align: right;">{{#$fs}}"sum","decimal2"{{/$fs}}</td>
        <!--{{/monthPrivilege}}-->
    </tr>

    <tr>
        <td style="border: 1px solid; vertical-align: bottom; text-align: right; font-weight: bold;" colspan="2">Сума ПДФО</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"PDFOpaySum","decimal2"{{/$fs}}</td>
        <!--{{#monthPDFOPay}}-->
        <td style="border: 1px solid; text-align: right;">{{#$fs}}"sum","decimal2"{{/$fs}}</td>
        <!--{{/monthPDFOPay}}-->
    </tr>



    <!--{{#isPageBreak}}-->
    <tr style="height: 30px;">
        <td colspan="{{allColumnCount}}"><p>&nbsp;<!-- pagebreak --></p></td>
    </tr>
    <!--{{/isPageBreak}}-->

    <!--{{/rls}}-->
    </tbody>
</table>