<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 11pt; word-wrap: break-word; border-collapse: collapse;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="width: 50px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>

        <!--{{#tableHead1}}-->
        <td style="width: 100px; ">&nbsp;</td>
        <!--{{/tableHead1}}-->

        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>

    </tr>

    <tr style="height: 20px">
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 14pt;" colspan="{{colSpan}}">Зведена вiдомiсть по статтях затрат</td>
    </tr>
    <tr style="height: 20px">
        <td style="text-align: center; width: 100%; font-size: 12pt;" colspan="{{colSpan}}">&nbsp;</td>
    </tr>
    <!--{{#tableTitle}}-->
    <tr style="height: 20px">
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">{{{text}}}</td>
    </tr>
    <!--{{/tableTitle}}-->
    <tr style="height: 20px">
        <td style="text-align: center; width: 100%; font-size: 12pt;" colspan="{{colSpan}}">&nbsp;</td>
    </tr>

    <tr style="background-color: #f0f0f0;">
        <td style="text-align: center; border: 1px solid; font-weight: bold; " rowspan="4">№ з/п</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; " rowspan="4">Назва статтi витрат</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; " rowspan="4">Рахунок</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; " rowspan="4">В дебет рахунку 66</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; " rowspan="4">В кредит рахунку 66</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; " rowspan="4">Сума нарахувань</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; " rowspan="4">Неоподатко-вана сума</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; " colspan="{{colSpan2}}"> Нарахування єдиного соціального внеску</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; " rowspan="4">Всього</td>
    </tr>
    <tr style="background-color: #f0f0f0;">
        <td style="text-align: center; border: 1px solid; font-weight: bold; " rowspan="3">Сума перевищення</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; " rowspan="3">Сума в межах макс. бази оподаткування</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; " rowspan="3">Додаткова база</td>
        <!--{{#tableHead1}}-->
        <td style="text-align: center; border: 1px solid; font-weight: bold; " >{{name}}</td>
        <!--{{/tableHead1}}-->
        <td style="text-align: center; border: 1px solid; font-weight: bold; " rowspan="3">Всього ЄСВ</td>
    </tr>
    <tr style="background-color: #f0f0f0;">
        <!--{{#tableHead2}}-->
        <td style="text-align: center; border: 1px solid; font-weight: bold; " >{{name}}</td>
        <!--{{/tableHead2}}-->
    </tr>
    <tr style="background-color: #f0f0f0;">
        <!--{{#tableHead3}}-->
        <td style="text-align: center; border: 1px solid; font-weight: bold; " >{{{name}}}</td>
        <!--{{/tableHead3}}-->
    </tr>

    <!--{{#data}}-->
    <tr>
        <td style="text-align: left; border: 1px solid; font-weight: bold;" colspan="{{colSpan}}">{{name}}</td>
    </tr>
    <!--{{#rows}}-->
    <!--{{^total}}-->
    <tr>
        <td style="text-align: right; border: 1px solid;" >{{npp}}</td>
        <!--{{^isJoin}}-->
        <td style="text-align: center; border: 1px solid;" >{{name}}</td>
        <td style="text-align: center; border: 1px solid;" >{{name2}}</td>
        <!--{{/isJoin}}-->
        <!--{{#isJoin}}-->
        <td style="text-align: right; border: 1px solid;" colspan="2">{{name}}</td>
        <!--{{/isJoin}}-->
        <td style="text-align: right; border: 1px solid;" >{{#$fs}}"sumDt","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;" >{{#$fs}}"sumKt","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;" >{{#$fs}}"sum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;" >{{#$fs}}"sumTaxFree","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;" >{{#$fs}}"sumExtra","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;" >{{#$fs}}"sumBase","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;" >{{#$fs}}"sumAdd","decimal2"{{/$fs}}</td>
        <!--{{#tableValues}}-->
        <td style="text-align: right; border: 1px solid;" >{{#$fs}}"value","decimal2"{{/$fs}}</td>
        <!--{{/tableValues}}-->
        <td style="text-align: right; border: 1px solid; " >{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; " >{{#$fs}}"sumTotal","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/total}}-->
    <!--{{#total}}-->
    <tr style="background-color: #f0f0f0; font-weight: bold;">
        <td style="text-align: right; border: 1px solid;" colspan="3">{{name}}</td>
        <td style="text-align: right; border: 1px solid;" >{{#$fs}}"sumDt","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;" >{{#$fs}}"sumKt","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;" >{{#$fs}}"sum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;" >{{#$fs}}"sumTaxFree","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;" >{{#$fs}}"sumExtra","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;" >{{#$fs}}"sumBase","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;" >{{#$fs}}"sumAdd","decimal2"{{/$fs}}</td>

        <!--{{#tableValues}}-->
        <td style="text-align: right; border: 1px solid;" >{{#$fs}}"value","decimal2"{{/$fs}}</td>
        <!--{{/tableValues}}-->

        <td style="text-align: right; border: 1px solid; " >{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; " >{{#$fs}}"sumTotal","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/total}}-->
    <!--{{/rows}}-->
    <!--{{/data}}-->

    </tbody>
</table>
