<!--%pageOrientation:portrait--><table style="word-break: break-word;" border="0" width="773" cellspacing="0" cellpadding="0">
<tbody>
<!--{{#logoSettings}}-->
<tr style="padding: 0; margin: 0;">

    <td style="text-align:center;" align="center"><img  src="{{emblem}}" data-style-pdf="padding-left:{{logoPaddingLeft}}px;" alt="emblem" width="{{logoWidthPx}}" height="{{logoHeightPx}}" /></td>

</tr>
<!--{{/logoSettings}}-->
<tr>
    <td>
        <p style="text-align: center; font-weight: bold; margin: {{upMarginValue}}cm 0cm 0cm 0cm;">&nbsp;</p>
    </td>
</tr>

<tr>
<td style="width: 100%;">
<table style="word-break: break-word; font-size: 11pt;" border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 65%;">&nbsp;</td>
<td style="width: 35%;">ЗАТВЕРДЖЕНО<br />Наказ Міністерства праці та<br />соціальної політики України<br />27 серпня 2004 року № 192<br />(у редакції наказу Міністерства<br />соціальної політики України<br />від 05 червня 2015 року № 591)</td>
</tr>
</tbody>
</table>
<p>Форма<br />&nbsp;&nbsp;&nbsp;&nbsp;Власник підприємства, установи, організації, або уповноважений ним орган (навчальний заклад)</p>
<table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center" colspan="2">{{&orgName}}</td>
<td style="width: 1%; padding: 0; vertical-align: bottom;">,</td>
</tr>
<tr>
<td style="cursor: default; text-align: center; font-size: 9pt;" colspan="3">(найменування)</td>
</tr>
<tr>
<td style="width: 30%; padding: 0; vertical-align: bottom;">або фізична особа&nbsp;&ndash;&nbsp;підприємець</td>
<td style="width: 68%; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; padding: 0; vertical-align: bottom;">&nbsp;</td>
<td style="width: 1%; padding: 0;">&nbsp;</td>
</tr>
<tr>
<td style="cursor: default;">&nbsp;</td>
<td style="cursor: default; text-align: center; font-size: 9pt;" colspan="2">(прізвище, ім&rsquo;я, по батькові)</td>
</tr>
</tbody>
</table>
<table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 270px; padding: 0; vertical-align: bottom;">Місцезнаходження/місце проживання</td>
<td style="width: 502px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{orgAddress}}</td>
</tr>
</tbody>
</table>
<div style="text-align: justify;">тел. <span style="text-decoration: underline">{{orgPhone}}<!--{{^orgPhone}}-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--{{/orgPhone}}--></span></div>
<table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 235px; padding: 0; vertical-align: bottom;">Ідентифікаційний код за ЄДРПОУ</td>
<td style="width: 537px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center">{{orgOKPOCode}}</td>
</tr>
</tbody>
</table>
<table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 335px; padding: 0; vertical-align: bottom;">Податковий номер або серія та номер паспорта*</td>
<td style="width: 437px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="text-align: center; font-weight: bold;">ДОВІДКА ПРО ДОХОДИ</p>
<table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 80px; padding: 0; vertical-align: bottom;">Видана гр.</td>
<td style="width: 692px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{employeeData.datName}}</td>
</tr>
</tbody>
</table>
<table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 362px; padding: 0; vertical-align: bottom;">про те, що він (вона) справді працює (навчається) у</td>
<td style="width: 410px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{orgNameDat}}</td>
</tr>
</tbody>
</table>
<table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 767px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;" colspan="2">&nbsp;</td>
<td style="width: 5px; padding: 0; vertical-align: bottom;">,</td>
</tr>
<tr>
<td style="width: 257px; padding: 0; vertical-align: bottom;">форма працевлаштування (навчання)</td>
<td style="width: 510px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center">{{employeeData.workPlace}}</td>
<td style="width: 5px; padding: 0; vertical-align: bottom;">,</td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="vertical-align: top; text-align: center; padding: 0; font-size: 9pt;" colspan="2">(зазначити: основне, за сумісництвом, інше;<br />навчання &ndash; платне/безплатне)</td>
</tr>
</tbody>
</table>
<table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 115px; padding: 0; vertical-align: bottom;">займає посаду</td>
<td style="width: 652px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{employeeData.posName}}</td>
<td style="width: 5px; padding: 0; vertical-align: bottom;">,</td>
</tr>
<tr>
<td style="padding: 0;" colspan="3">реєстраційний номер облікової картки платника податків або серія та номер паспорта*</td>
</tr>
<tr>
<td style="padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;" colspan="3">{{&employeeData.taxCode}}</td>
</tr>
<tr>
<td style="padding: 0; vertical-align: bottom;" colspan="3">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="word-break: break-word; border-collapse: collapse" border="1px" width="100%" cellspacing="0" cellpadding="3">
<tbody>
<tr>
<td style="width: 87px; vertical-align: top;" rowspan="2">
    Місяці
<table style="word-break: break-word;" border="0" width="42px" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 25px; vertical-align: bottom; padding: 0; padding-bottom: 1px; text-align: right">20</td>
<td style="width: 23px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{periodFromYTable}}</td>
</tr>
<!--{{#periodToYTable}}-->
<tr>
<td style="vertical-align: center; padding: 0; text-align: center" colspan="2">-</td>
</tr>
<tr>
<td style="width: 25px; vertical-align: bottom; padding: 0; text-align: right; padding-bottom: 1px">20</td>
<td style="width: 23px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{periodToYTable}}</td>
</tr>
<!--{{/periodToYTable}}-->
<tr>
<td style="padding: 0; text-align: center" colspan="2">року</td>
</tr>
</tbody>
</table>
</td>
<td style="width: 295px; vertical-align: top; text-align: center;" colspan="2">Заробітна плата, в т. ч. у натуральній формі (грн)</td>
<td style="width: 284px; vertical-align: top; text-align: center;" colspan="2">Інші нарахування, в т. ч.<br />у натуральній формі (грн)</td>
<td style="width: 106px; vertical-align: top; text-align: center;" rowspan="2">Сплачені аліменти (грн)</td>
</tr>
<tr>
<td style="vertical-align: top; text-align: center;">нараховано</td>
<td style="vertical-align: top; text-align: center;">податок з доходів фізичних осіб</td>
<td style="vertical-align: top; text-align: center;">нараховано</td>
<td style="vertical-align: top; text-align: center;">податок з доходів фізичних осіб</td>
</tr>
<!--{{#allAccrual}}-->
<tr>
<td style="width: 87px; text-align: left;">{{c1}}</td>
<td style="width: 127px; text-align: right;">{{c2}}</td>
<td style="width: 168px; text-align: right;">{{c3}}</td>
<td style="width: 122px; text-align: right;">{{c4}}</td>
<td style="width: 162px; text-align: right;">{{c5}}</td>
<td style="width: 106px; text-align: right;">{{c6}}</td>
</tr>
<!--{{/allAccrual}}-->
<tr>
<td style="width: 87px;">Усього</td>
<td style="width: 127px; text-align: right;">{{accrualTotal.c2}}</td>
<td style="width: 168px; text-align: right;">{{accrualTotal.c3}}</td>
<td style="width: 122px; text-align: right;">{{accrualTotal.c4}}</td>
<td style="width: 162px; text-align: right;">{{accrualTotal.c5}}</td>
<td style="width: 106px; text-align: right;">{{accrualTotal.c6}}</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<div style="text-align: justify; padding: 5px 0 5px 0">Загальна сума доходу за період з <span style="text-decoration: underline">{{periodFromM}}</span> 20<span style="text-decoration: underline">{{periodFromY}}</span> року по <span style="text-decoration: underline">{{periodToM}}</span> 20<span style="text-decoration: underline">{{periodToY}}</span> року без урахування аліментів становить <span style="text-decoration: underline">{{allSum}} </span>.</div>
<div style="text-align: justify; padding: 5px 0 5px 0">Довідка видана для подання до органів соціального захисту населення для оформлення соціальної допомоги (житлової субсидії).</div>

<table style="word-break: break-word; border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
        <tr style="font-weight: bold; text-align: center; vertical-align: top; font-size: 11pt">
            <td style="width: 100px;"></td>
            <td style="width: 100px;"></td>
            <td style="width: 140px;"></td>
            <td style="width: 101px;"></td>
            <td style="width: 101px;"></td>
            <td style="width: 156px;"></td>
        </tr>
        <!--{{#signers}}-->
        <tr>
            <td style=" text-align: center;" colspan="6" >&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: left;" colspan="2" >{{signerName}}:</td>
            <td style="text-align: left;" colspan="1" >_____________</td>
            <td style="text-align: left;" colspan="2" >(<span style="text-decoration: underline">{{signerShortName}}</span><!--{{^signerShortName}}-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--{{/signerShortName}}-->)</td>
            <td style="text-align: left;" colspan="2" >&nbsp;</td>

        </tr>
        <!--{{/signers}}-->

        </tbody>
    </table>
<div>&nbsp;</div>

<table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 10px; padding: 0; vertical-align: bottom; padding-bottom: 1px">«</td>
<td style="width: 30px; padding: 0; text-align: center; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{currDateD}}</td>
<td style="width: 10px; padding: 0; vertical-align: bottom; padding-bottom: 1px">»</td>
<td style="width: 100px; padding: 0; text-align: center; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{currDateM}}</td>
<td style="width: 25px; padding: 0; text-align: right; vertical-align: bottom; padding-bottom: 1px">20</td>
<td style="width: 25px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{currDateY}}</td>
<td style="width: 70px; padding: 0; text-align: center; vertical-align: bottom; padding-bottom: 1px">року №</td>
<td style="width: 50px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
<td style="width: 453px">&nbsp;</td>
</tr>
<tr><td colspan="9">&nbsp;</td></tr>
<tr><td style="text-align: justify; padding: 0" colspan="9">*Для фізичних осіб, які через свої релігійні переконання відмовилися від прийняття реєстраційного номера облікової картки платника податків та повідомили про це відповідний контролюючий орган і мають відмітку у паспорті</td></tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>