<!--%pageOrientation:portrait-->
<table style="word-break: break-word;" border="0" width="773" cellspacing="0" cellpadding="0">
    <tbody>
    <!--{{#logoSettings}}-->
    <tr style="padding: 0; margin: 0;">
        <td style="text-align:center;" align="center"><img  src="{{emblem}}" data-style-pdf="padding-left:{{logoPaddingLeft}}px;" alt="emblem" width="{{logoWidthPx}}" height="{{logoHeightPx}}" /></td>
    </tr>
    <!--{{/logoSettings}}-->
    <tr>
        <td>
            <p style="text-align: center; font-weight: bold; margin: {{upMarginValue}}cm 0cm 0cm 0cm;">&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td style="width: 100%;">
            <p style="text-align: center; font-weight: bold; margin: 0cm 0cm 0cm 0cm;">ДОВІДКА</p>
            <table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td style="width: 773px; padding: 0; vertical-align: bottom;" colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 60px; padding: 0; vertical-align: bottom;">Видана </td>
                    <td style="width: 560px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">
                        {{employeeData.datName}}
                    </td>
                    <td style="width: 145px; padding: 0; vertical-align: bottom; text-align: right;">в тому, що він (вона)</td>
                </tr>
                <tr>
                    <td style="padding: 0; vertical-align: bottom;"> </td>
                    <td style="text-align: center; font-size: 9pt; vertical-align: top;">(ПІБ)</td>
                    <td style="padding: 0; vertical-align: bottom;"> </td>
                </tr>

                </tbody>
            </table>
            <table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td style="width: 110px; padding-top: 10px; vertical-align: bottom;">дійсно працює у</td>
                    <td style="width: 530px; padding-top: 10px; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">
                        {{orgNameLoc}}
                    </td>
                    <td style="width: 70px; padding-top: 10px; vertical-align: bottom; text-align: right;">на посаді</td>
                </tr>
                </tbody>
            </table>
            <table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td style="padding-top: 10px; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">
                        {{employeeData.posName}}
                    </td>
                    <td style="width: 5px; padding-top: 10px; vertical-align: bottom;">.</td>
                </tr>
                </tbody>
            </table>
            <table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td style="padding-top: 10px;">Індивідуальний податковий номер <span
                            style="text-decoration: underline">{{&employeeData.taxCode}}</span></td>
                </tr>
                <tr>
                    <td style="padding-top: 10px; padding-bottom: 10px; vertical-align: bottom;">
                        та заробітна плата за період з <span
                            style="text-decoration: underline">{{periodFrom}}</span> по <span
                            style="text-decoration: underline">{{periodTo}}</span> склала
                    </td>
                </tr>
                </tbody>
            </table>

            <table style="word-break: break-word; border-collapse: collapse" border="1px" width="100%" cellspacing="0"
                   cellpadding="3">
                <tbody>
                    <tr>
                        <td style="width: 80px; padding: 3px; vertical-align: middle; text-align: center; font-weight: bold;" rowspan="2">Місяць Рік</td>
                        <td style="width: 100px; padding: 3px; vertical-align: middle; text-align: center; font-weight: bold;" colspan="2">Нараховано, грн.</td>
                        <td style="width: 100px; padding: 3px; vertical-align: middle; text-align: center; font-weight: bold;" colspan="3">Утримано, грн.</td>
                        <td style="width: 100px; padding: 3px; vertical-align: middle; text-align: center; font-weight: bold;" rowspan="2">До сплати, грн.</td>
                    </tr>
                    <tr>
                        <td style="width: 100px; vertical-align: middle; text-align: center; font-weight: bold;">Дохід</td>
                        <td style="width: 100px; vertical-align: middle; text-align: center; font-weight: bold;">у т.ч. матеріальна допомога</td>
                        <td style="width: 100px; vertical-align: middle; text-align: center; font-weight: bold;">ПДФО</td>
                        <td style="width: 100px; vertical-align: middle; text-align: center; font-weight: bold;">Військовий збір</td>
                        <td style="width: 110px; vertical-align: middle; text-align: center; font-weight: bold;">За виконавчими документами </td>
                    </tr>
                    <!--{{#allAccrual}}-->
                    <tr>
                        <td style="text-align: left; padding: 3px;">{{c1}}</td>
                        <td style="text-align: right; padding: 3px;">{{c2}}</td>
                        <td style="text-align: right; padding: 3px;">{{c3}}</td>
                        <td style="text-align: right; padding: 3px;">{{c4}}</td>
                        <td style="text-align: right; padding: 3px;">{{c5}}</td>
                        <td style="text-align: right; padding: 3px;">{{c6}}</td>
                        <td style="text-align: right; padding: 3px;">{{c7}}</td>
                    </tr>
                    <!--{{/allAccrual}}-->
                    <tr>
                        <td style="text-align: left; padding: 3px;">РАЗОМ</td>
                        <td style="text-align: right; padding: 3px;">{{accrualTotal.c2}}</td>
                        <td style="text-align: right; padding: 3px;">{{accrualTotal.c3}}</td>
                        <td style="text-align: right; padding: 3px;">{{accrualTotal.c4}}</td>
                        <td style="text-align: right; padding: 3px;">{{accrualTotal.c5}}</td>
                        <td style="text-align: right; padding: 3px;">{{accrualTotal.c6}}</td>
                        <td style="text-align: right; padding: 3px;">{{accrualTotal.c7}}</td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align: justify; padding: 15px 0 15px">Заборгованості з виплати заробітної плати не було.</div>
            <table style="word-break: break-word; border-collapse: collapse" width="100%" cellspacing="0"
                   cellpadding="5">
                <tbody>
                    <tr>
                        <td style="width: 200px; padding-top: 20px; vertical-align: top; text-align: left;">Всього нараховано:</td>
                        <td style="vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: left;">{{allSumTotal}}</td>
                        <td style="width: 30px; vertical-align: bottom; text-align: left;">грн.</td>
                        <td style="width: 30px; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center;">{{allSumTotalKop}}</td>
                        <td style="width: 30px; vertical-align: bottom; text-align: left;">коп.</td>
                    </tr>
                    <tr style="padding-top: 20px;">
                        <td style="width: 200px; padding-top: 20px; vertical-align: bottom; text-align: left;">Середньомісячний дохід:</td>
                        <td style="vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: left;">{{allSumAvg}}</td>
                        <td style="width: 30px; vertical-align: bottom; text-align: left;">грн.</td>
                        <td style="width: 30px; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center;">{{allSumAvgKop}}</td>
                        <td style="width: 30px; vertical-align: bottom; text-align: left;">коп.</td>
                    </tr>
                    <tr>
                        <td style="width: 200px; padding-top: 20px; vertical-align: bottom; text-align: left;">Всього до сплати:</td>
                        <td style="vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: left;">{{allSumPay}}</td>
                        <td style="width: 30px; vertical-align: bottom; text-align: left;">грн.</td>
                        <td style="width: 30px; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center;">{{allSumPayKop}}</td>
                        <td style="width: 30px; vertical-align: bottom; text-align: left;">коп.</td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <table style="word-break: break-word; border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                <tr style="font-weight: bold; text-align: center; vertical-align: top; font-size: 11pt">
                    <td style="width: 100px;"></td>
                    <td style="width: 100px;"></td>
                    <td style="width: 140px;"></td>
                    <td style="width: 101px;"></td>
                    <td style="width: 101px;"></td>
                    <td style="width: 156px;"></td>
                </tr>
                <!--{{#signers}}-->
                <tr>
                    <td style=" text-align: center;" colspan="6" >&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align: left;" colspan="2" >{{signerName}}:</td>
                    <td style="text-align: left;" colspan="1" >_____________</td>
                    <td style="text-align: left;" colspan="2" >(<span style="text-decoration: underline">{{signerShortName}}</span><!--{{^signerShortName}}-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--{{/signerShortName}}-->)</td>
                    <td style="text-align: left;" colspan="2" >&nbsp;</td>

                </tr>
                <!--{{/signers}}-->

                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>