<!--%pageOrientation:portrait--><table style="word-break: break-word; margin: {{upMarginValue}}cm 0cm 0cm 0cm;" border="0" width="773" cellspacing="0" cellpadding="0">
<tbody>
<tbody>
<tr>
<td style="width: 100%;">
<table style="word-break: break-word; margin-left: 40px" border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 60%;">&nbsp;</td>
<td style="width: 40%;">&nbsp;</td>
</tr>
</tbody>
</table>

<p style="text-align: center; margin: 0cm 0cm 0cm {{leftMarginValue}}cm;">ДОВІДКА<br/>про заробітну плату (дохід, грошове забезпечення) за основним місцем роботи для розрахунку виплат<br/>за загальнообов’язковим державним соціальним страхуванням
</p>

<table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>

    <td style="width: 80px; padding: 0; vertical-align: bottom;">&nbsp;</td>
</tr>
<tr>
<td style="width: 60px; padding: 0; vertical-align: bottom;">видана</td>
<td style="width: 712px; padding: 0; text-align: center; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{employee.datName}}</td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">(прізвище, ім'я та по батькові)</td>
</tr>
</tbody>
</table>
<table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 772px; padding: 0; vertical-align: bottom;">який (яка) працював (працювала), проходив (проходила) службу</td>
</tr>
<tr>
<td style="text-align: center; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{orgDat}}</td>
</tr>
<tr>
<td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">(найменування та місцезнаходження підприємства, установи, організації, територіального центру комплектування та соціальної підтримки,</td>
</tr>
<tr>
<td style="text-align: center; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr>
<td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">де особа перебувала  на обліку, або військової частини, підприємства, установи,</td>
</tr>
<tr>
<td style="text-align: center; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr>
<td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">організації, органу, де особа проходила  службу)</td>
</tr>
</tbody>
</table>
<table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 390px; padding: 0; vertical-align: bottom;">реєстраційний номер облікової картки платника податку</td>
<td style="width: 382px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center">{{employee.taxCode}}</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="word-break: break-word; border-collapse: collapse;" border="1px" width="100%" cellspacing="0" cellpadding="3">
<tbody>
<tr style="font-size: 10pt">
<td style="text-align: center; vertical-align: center; width: 154px">Місяці розрахункового періоду (зазначити назву місяців)</td>
<td style="text-align: center; vertical-align: center; width: 154px">Кількість календарних (на вимогу Пенсійного фонду України - робочих) днів у розрахунковому періоді, за винятком календарних днів, не відпрацьованих з поважних причин</td>
<td style="text-align: center; vertical-align: center; width: 154px">Заробітна плата (дохід, грошове забезпечення), на яку нараховано єдиний внесок та/або страхові внески</td>
<td style="text-align: center; vertical-align: center; width: 154px">Сума страхових внесків та/або єдиного внеску, сплачена застрахованою особою, гривень</td>
<td style="text-align: center; vertical-align: center; width: 154px">Розмір єдиного внеску для відповідної категорії застрахованих осіб згідно із Законом України “Про збір та облік єдиного внеску на загальнообов’язкове державне соціальне страхування”, відсотків</td>
</tr>
<!--{{#timeSheetData}}--><tr>
<td style="text-align: left; padding: 0">{{periodDesc}}</td>
<td style="text-align: right; padding: 0">{{sum1}}</td>
<td style="text-align: right; padding: 0">{{sum2}}</td>
<td style="text-align: right; padding: 0">{{sum3}}</td>
<td style="text-align: right; padding: 0">{{rate}}</td>
</tr><!--{{/timeSheetData}}-->
</tbody>
</table>
<p>&nbsp;</p>
<div style="text-decoration: underline">{{allBaseSum}}</div>
<div style="">Усього</div>
<table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="text-align: center; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{&validReasonList}}</td>
</tr>
<tr>
<td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">зазначається поважна причина (тимчасова непрацездатність, відпустка у зв’язку</td>
</tr>
<tr>
<td style="text-align: center; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr>
<td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">вагітністю та пологами, відпустка по догляду за дитиною до досягнення нею</td>
</tr>
<tr>
<td style="text-align: center; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr>
<td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">трирічного віку та шестирічного віку за медичним висновком, відпустка без збереження заробітної плати) для</td>
</tr>
<tr>
<td style="text-align: center; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr>
<td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">виключення кількості календарних днів у розрахунковому періоді</td>
</tr>
</tbody>
</table>
<div>&nbsp;</div>
<table style="word-break: break-word;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 140px; padding: 0; vertical-align: center; text-align: center">&nbsp;</td>
<td style="width: 263px; padding: 0; vertical-align: center; text-align: left">Керівник</td>
<td style="width: 124px; padding: 0; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
<td style="width: 40px;">&nbsp;</td>
<td style="width: 183px; padding: 0; vertical-align: bottom; text-align: center; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{headEmployeeName}}</td>
<td style="width: 23px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 40px; padding: 0; vertical-align: center; text-align: center">&nbsp;</td>
<td>&nbsp;</td>
<td style="padding: 0; vertical-align: top; text-align: center; font-size: 7pt">(підпис)</td>
<td>&nbsp;</td>
<td style="padding: 0; vertical-align: top; text-align: center; font-size: 7pt">(ініціали, прізвище)</td>
<td>&nbsp;</td>
</tr>
<tr><td colspan="6" style="padding: 0">&nbsp;</td></tr>
<tr>
<td style="padding: 0; vertical-align: center; text-align: left" rowspan="3">МП</td>
<td style="padding: 0; vertical-align: center; text-align: left;" rowspan="3">Головний бухгалтер</td>
<td colspan="4">&nbsp;</td>
</tr>
<tr>
<td style="padding: 0; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
<td>&nbsp;</td>
<td style="padding: 0; vertical-align: bottom; text-align: center; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{accEmployeeName}}</td>
<td>&nbsp;</td>
</tr>
<tr>
<td style="padding: 0; vertical-align: top; text-align: center; font-size: 7pt">(підпис)</td>
<td>&nbsp;</td>
<td style="padding: 0; vertical-align: top; text-align: center; font-size: 7pt">(ініціали, прізвище)</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
