<!--%pageOrientation:landscape-->
<table style="border-collapse: collapse; font-family: TimesNewRoman; font-size: 10pt" border="0" width="{{sheetWidth}}" cellspacing="0" cellpadding="3">
    <tbody>
    <!--{{#cards}}-->
    <tr>
        <td>
            <table style="border-collapse: collapse; font-family: TimesNewRoman; font-size: 12pt" border="0" width="{{sheetWidth}}" cellspacing="0" cellpadding="3">
                <tbody>
                <tr style="overflow:hidden;">
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 100px; min-width: 80px;"></td>

                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <!--<td style="width: 80px; min-width: 80px;">1</td>-->
                    <!--<td style="width: 80px; min-width: 80px;">2</td>-->
                    <!--<td style="width: 80px; min-width: 80px;">3</td>-->
                    <!--<td style="width: 80px; min-width: 80px;">4</td>-->
                    <!--<td style="width: 80px; min-width: 80px;">5</td>-->
                    <!--<td style="width: 80px; min-width: 80px;">6</td>-->
                    <!--<td style="width: 80px; min-width: 80px;">7</td>-->
                    <!--<td style="width: 80px; min-width: 80px;">8</td>-->
                    <!--<td style="width: 100px; min-width: 80px;">9</td>-->

                    <!--<td style="width: 80px; min-width: 80px;">10</td>-->
                    <!--<td style="width: 80px; min-width: 80px;">11</td>-->
                    <!--<td style="width: 80px; min-width: 80px;">12</td>-->
                    <!--<td style="width: 80px; min-width: 80px;">13</td>-->
                    <!--<td style="width: 80px; min-width: 80px;">14</td>-->
                    <!--<td style="width: 80px; min-width: 80px;">15</td>-->
                    <!--<td style="width: 80px; min-width: 80px;">16</td>-->



                    <!--&lt;!&ndash;{{#months}}&ndash;&gt;-->
                    <!--<td style="width: 100px; min-width: 100px;"></td>-->
                    <!--&lt;!&ndash;{{/months}}&ndash;&gt;-->
                </tr>

                <tr style="height: 20px;">
                    <td style="text-align: center; font-weight: bold;" colspan="14">КАРТКА - ДОВIДКА за {{year}} р.</td>
                    <td style="text-align: right;" colspan="2">Форма № 388-мех</td>
                </tr>

                <tr>
                    <td style="text-align: left; font-weight: bold;" colspan="16">{{orgName}}</td>
                </tr>

                <!--{{#department}}-->
                <tr>
                    <td style="text-align: left; border-bottom: solid 1px; font-weight: bold;" colspan="16">&nbsp;{{depPart}}</td>
                </tr>
                <!--{{/department}}-->

                <tr>
                    <td style="height: 20px;" colspan="16"></td>
                </tr>

                <tr>
                    <td style="text-align: center; border: solid 1px; border-left: solid 2px; border-top: solid 2px;" colspan="3">Прізвище, iм'я, по-бaтькові</td>

                    <td style="text-align: center; border: solid 1px;">Табельний<br/>№</td>
                    <td style="text-align: center; border: solid 1px;">Дата<br/>народження</td>
                    <td style="text-align: center; border: solid 1px;" colspan="2">Освіта</td>
                    <td style="text-align: center; border: solid 1px;" colspan="2">Стаж<br/>роботи</td>
                    <td style="text-align: center; border: solid 1px;" colspan="2">Почесне<br/>звання</td>
                    <td style="text-align: center; border: solid 1px;" colspan="2">Науковий<br/>ступінь</td>

                    <td style="text-align: center; border: solid 1px;" colspan="2">Інвалід</td>
                    <td style="text-align: center; border: solid 1px; border-right: solid 2px;">Пенсіонер</td>
                </tr>

                <tr>
                    <td style="height: 18px; text-align: center; border: solid 1px; border-left: solid 2px; " colspan="3"><span style="text-decoration: line-through;">{{lastNameOld}}</span> {{lastName}}</td>

                    <td style="text-align: center; border: solid 1px;" rowspan="3">{{tabNum}}</td>
                    <td style="text-align: center; border: solid 1px;" rowspan="3">{{birthDate}}</td>
                    <td style="text-align: center; border: solid 1px;" rowspan="3" colspan="2">{{education}}</td>
                    <td style="text-align: center; border: solid 1px;" rowspan="3" colspan="2">{{exp}}</td>
                    <td style="text-align: center; border: solid 1px;" rowspan="3" colspan="2">{{bonus}}</td>
                    <td style="text-align: center; border: solid 1px;" rowspan="3" colspan="2">{{rangeScience}}</td>

                    <td style="text-align: center; border: solid 1px;" rowspan="3" colspan="2" >{{disability}}</td>
                    <td style="text-align: center; border: solid 1px; border-right: solid 2px;" rowspan="3">{{pension}}</td>
                </tr>

                <tr>
                    <td style="text-align: center; height: 18px; border: solid 1px; border-left: solid 2px; " colspan="3"><span style="text-decoration: line-through;">{{firstNameOld}}</span> {{firstName}}</td>
                </tr>

                <tr>
                    <td style="text-align: center; height: 18px; border: solid 1px; border-left: solid 2px;"  colspan="3">
                        <span style="text-decoration: line-through;">{{secondNameOld}}</span> {{secondName}}</td>
                </tr>

                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table style="border-collapse: collapse; font-family: TimesNewRoman; font-size: 10pt;" border="0" width="{{table2Width}}" cellspacing="0" cellpadding="3">
                <tbody>
                <tr>
                    <td style="text-align: center; border: solid 2px; border-top: solid 1px; font-weight: bold;" colspan="{{table2ColCount}}">Відмітки про	прийняття на роботу та переведення</td>
                </tr>

                <tr>
                    <td style="text-align: left; border: solid 2px; font-weight: bold;" colspan="{{workStartColSpan}}">Зарахованнй з {{workStart}}</td>
                    <td style="text-align: left; border: solid 2px; font-weight: bold;" colspan="{{dictPosNameColSpan}}">Посада {{position}}</td>
                </tr>

                <tr>
                    <td style="width: 120px; min-width: 120px; border: solid 1px; border-left: solid 2px; text-align: center;">Наказ</td>
                    <td style="width: 60px; min-width: 60px; border: solid 1px; text-align: center;">З</td>
                    <td style="width: 60px; min-width: 60px; border: solid 1px; text-align: center;">По</td>
                    <td style="width: 150px; min-width: 150px; border: solid 1px; text-align: center;">Підрозділ</td>
                    <td style="width: 150px; min-width: 150px; border: solid 1px; text-align: center;">Посада</td>
                    <td style="width: 50px; min-width: 50px; border: solid 1px; text-align: center;">Розряд</td>
                    <td style="width: 80px; min-width: 80px; border: solid 1px; border-left: solid 2px; border-right: solid 2px; text-align: center;">Оклад<br/>(ставка)</td>

                    <!--{{#payEls}}-->
                    <td style="width: {{dynT2ColWidth}}px; min-width: 100px; border: solid 1px; border-left: solid {{leftBorder}}px; text-align: center;" colspan="2">{{name}}</td>
                    <!--{{/payEls}}-->
                    <td style="width: 80px; min-width: 80px; border: solid 1px; border-left: solid 2px; border-right: solid 2px; text-align: center;">Всього<br/>за<br/>місяць</td>
                </tr>

                <!--<tr>-->
                <!--<td style="height: 20px;" colspan="16"></td>-->
                <!--</tr>-->

                <!--{{#accRows}}-->
                <tr style="overflow:hidden;">
                    <td style="width: 120px; min-width: 120px; border: solid 1px; border-left: solid 2px; text-align: center; border-bottom: solid {{bold}}px;">{{orderDescription}}</td>
                    <td style="height: 20px; width: 60px; min-width: 60px; border: solid 1px; text-align: center; border-bottom: solid {{bold}}px;">{{dateFromStr}}</td>
                    <td style="height: 20px; width: 60px; min-width: 60px; border: solid 1px; text-align: center; border-bottom: solid {{bold}}px;">{{dateToStr}}</td>
                    <td style="width: 150px; min-width: 150px; border: solid 1px; border-bottom: solid {{bold}}px;">{{departmentName}}</td>
                    <td style="width: 150px; min-width: 150px; border: solid 1px; border-bottom: solid {{bold}}px;">{{dictPosName}}</td>
                    <td style="width: 50px; min-width: 50px; border: solid 1px; border-bottom: solid {{bold}}px; text-align: center;">{{dictTarifCoeffCode}}</td>
                    <td style="width: 80px; min-width: 80px; border: solid 1px; border-left: solid 2px; border-right: solid 2px; text-align: right; border-bottom: solid {{bold}}px;">{{accrualSum}}</td>

                    <!--{{#acc}}-->
                    <td style="width: {{leftDynT2ColWidth}}px; min-width: 30px; text-align: right; border-right: solid {{rightBorder}}px; border-left: solid {{leftBorder}}px; border-bottom: solid {{bold}}px;">{{rate}}</td>
                    <td style="width: {{rightDynT2ColWidth}}px; min-width: 70px; text-align: right; border-bottom: solid {{bold}}px;">{{sum}}</td>
                    <!--{{/acc}}-->

                    <td style="width: 80px; min-width: 80px; border: solid 1px; border-left: solid 2px; border-right: solid 2px; text-align: right; border-bottom: solid {{bold}}px;">{{totalSum}}</td>
                </tr>
                <!--{{/accRows}}-->
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table style="border-collapse: collapse; font-family: TimesNewRoman; font-size: 10pt" border="0" width="{{sheetWidth}}" cellspacing="0" cellpadding="3">
                <tbody>
                <tr>
                    <td style="border: solid 2px; border-top: 0; text-align: center; font-weight: bold;" colspan="7">Використання	відпусток</td>
                </tr>

                <tr>
                    <td style="text-align: center; border: solid 1px; border-left-width: 2px; border-bottom-width: 2px;">Наказ</td>
                    <td style="text-align: center; border: solid 1px; border-bottom-width: 2px;">Вид оплати</td>
                    <td style="text-align: center; border: solid 1px; border-bottom-width: 2px;">За пepioд</td>
                    <td style="text-align: center; border: solid 1px; border-bottom-width: 2px;">Початок i кiнець</td>
                    <td style="text-align: center; border: solid 1px; border-bottom-width: 2px;">Кільк.<br/>днів</td>
                    <td style="text-align: center; border: solid 1px; border-left-width: 2px; border-right-width: 2px; border-bottom-width: 2px;">Сума за основним</td>
                    <td style="text-align: center; border: solid 1px; border-left-width: 2px; border-right-width: 2px; border-bottom-width: 2px;">Сума за сумісництвом</td>
                </tr>
                <!--{{#vacations}}-->
                <tr>
                    <td style="text-align: center; border: solid 1px;border-bottom: solid {{bold}}px;border-left-width: 2px;">{{order}}</td>
                    <td style="text-align: center; border: solid 1px;border-bottom: solid {{bold}}px;">{{payEl}}</td>
                    <td style="text-align: center; border: solid 1px;border-bottom: solid {{bold}}px;">{{period}}</td>
                    <td style="text-align: center; border: solid 1px;border-bottom: solid {{bold}}px;">{{dateFrom}} - {{dateTo}}</td>
                    <td style="text-align: center; border: solid 1px;border-bottom: solid {{bold}}px;">{{days}}</td>
                    <td style="text-align: center; border: solid 1px;border-bottom: solid {{bold}}px;border-left-width: 2px;">{{paySumMain}}</td>
                    <td style="text-align: center; border: solid 1px;border-bottom: solid {{bold}}px;border-right-width: 2px;">{{paySumSec}}</td>
                </tr>
                <!--{{/vacations}}-->
                <tr style="height: 30px;">
                    <td style="height: 20px; width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 150px; min-width: 80px;"></td>
                    <td style="width: 150px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>

                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td style="width: 80px; min-width: 80px;"></td>
                    <td><p>&nbsp;<!-- pagebreak --></p></td>
                </tr>
            </tbody>
        </table>
        </td>
    </tr>
    <tr>
        <td>
        <table style="border-collapse: collapse; font-family: TimesNewRoman; font-size: 10pt" border="0" width="{{sheetWidth}}" cellspacing="0" cellpadding="3">
                <tbody>
                <tr>
                    <td style="text-align: center; border: solid 2px;" colspan="2" rowspan="2">Прізвище,<br/>ім’я, по-батькові</td>
                    <td style="text-align: left; border: solid 2px;" colspan="3">{{lastName}}</td>
                    <td style="text-align: center; border: solid 2px;" colspan="2" rowspan="2">Ідн. №</td>
                    <td style="text-align: center; border: solid 2px;" colspan="2" rowspan="2">{{taxCode}}</td>
                    <td style="text-align: center; border: solid 2px;" rowspan="2">Посада</td>
                    <td style="text-align: center; border: solid 2px;" colspan="6" rowspan="2">{{dictPosName}}</td>
                </tr>

                <tr>
                    <td style="text-align: left; border: solid 2px;" colspan="3">{{firstName}} {{secondName}}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-collapse: collapse; font-family: TimesNewRoman; font-size: 10pt" border="0" width="{{sheetWidth}}" cellspacing="0" cellpadding="3">
                <tbody>
                <!--{{#orders}}-->
                <tr>
                    <td style="height: 20px; border-bottom: solid 1px;" width="20%">{{orderDescription}}</td>
                    <td style="height: 20px; border-bottom: solid 1px;">{{orderText}}</td>
                </tr>
                <!--{{/orders}}-->

                <!--{{#isPageBreak}}-->
                <tr style="height: 30px;">
                    <td colspan="7"><p>&nbsp;<!-- pagebreak --></p></td>
                </tr>
                <!--{{/isPageBreak}}-->
                </tbody>
            </table>
        </td>
    </tr>
    <!--{{/cards}}-->
    </tbody>
</table>