<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="1400px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="width: 30px; ">&nbsp;</td>
        <td style="width: 170px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
    </tr>

    <tr style="height: 20px">
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 12pt;" colspan="12">Таблиця 7. Фонд оплати праці штатних працівників</td>
    </tr>
    <!--{{#tableTitle}}-->
    <tr style="height: 20px">
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 12pt;" colspan="12">{{{text}}}</td>
    </tr>
    <!--{{/tableTitle}}-->

    <tr>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">№ з/п</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Найменування показника</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" colspan="2">Всього</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" colspan="2">Фонд основної заробітної плати</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" colspan="2">Фонд додаткової заробітної плати</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" colspan="2">Інші заохочувальні та компенсаційні виплати</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" colspan="2">Інші виплати, що не належать до фонду оплати праці (крім ЄСВ)</td>
    </tr>
    <tr>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >відповідний період минулого року</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >звітний період</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >відповідний період минулого року</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >звітний період</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >відповідний період минулого року</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >звітний період</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >відповідний період минулого року</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >звітний період</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >відповідний період минулого року</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >звітний період</td>
    </tr>
    <tr>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >1</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >2</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >3</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >4</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >5</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >6</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >7</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >8</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >9</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >10</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >11</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >12</td>
    </tr>

    <!--{{#table7}}-->
    <tr>
        <td style="text-align: center; border: 1px solid; {{bold}}" >{{npp}}</td>
        <td style="text-align: left; border: 1px solid; {{bold}}" >{{name}}</td>
        <td style="text-align: right; border: 1px solid; {{bold}}" >{{#$fs}}"totalPrev","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; {{bold}}" >{{#$fs}}"total","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; {{bold}}" >{{#$fs}}"valueFOZPPrev","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; {{bold}}" >{{#$fs}}"valueFOZP","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; {{bold}}" >{{#$fs}}"valueFDZPPrev","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; {{bold}}" >{{#$fs}}"valueFDZP","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; {{bold}}" >{{#$fs}}"valueZKVPrev","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; {{bold}}" >{{#$fs}}"valueZKV","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; " >{{#$fs}}"valueOtherPrev","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; " >{{#$fs}}"valueOther","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/table7}}-->

    </tbody>
</table>
<p>&nbsp;<!-- pagebreak --></p>
<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="750px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="width: 30px; ">&nbsp;</td>
        <td style="width: 600px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
    </tr>

    <tr style="height: 20px">
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 12pt;" colspan="3">Таблиця 7.1. Заборгованість з виплати заробітної плати станом на кінець звітного періоду, грн.</td>
    </tr>
    <!--{{#tableTitle}}-->
    <tr style="height: 20px">
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 12pt;" colspan="3">{{{text}}}</td>
    </tr>
    <!--{{/tableTitle}}-->
    <!--{{#table71}}-->
    <tr>
        <td style="text-align: center; border: 1px solid; {{bold}}" >{{npp}}</td>
        <td style="text-align: left; border: 1px solid; {{bold}}" >{{name}}</td>
        <!--{{#isText}}-->
        <td style="text-align: center; border: 1px solid; " >{{value}}</td>
        <!--{{/isText}}-->
        <!--{{#isNumber}}-->
        <td style="text-align: center; border: 1px solid; " >{{#$fs}}"value","numberGroup"{{/$fs}}</td>
        <!--{{/isNumber}}-->
        <!--{{#isSuma}}-->
        <td style="text-align: center; border: 1px solid; " >{{#$fs}}"value","decimal2"{{/$fs}}</td>
        <!--{{/isSuma}}-->
    </tr>
    <!--{{/table71}}-->
    </tbody>
</table>
<p>&nbsp;<!-- pagebreak --></p>
<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="1400px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="width: 30px; ">&nbsp;</td>
        <td style="width: 170px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
    </tr>

    <tr style="height: 20px">
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 12pt;" colspan="12">Таблиця 8. Кадри</td>
    </tr>
    <!--{{#tableTitle}}-->
    <tr style="height: 20px">
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 12pt;" colspan="12">{{{text}}}</td>
    </tr>
    <!--{{/tableTitle}}-->
    <tr>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">№ з/п</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Найменування показника</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Всього</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Керівники </td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" colspan="2">Керівники структурних підрозділів</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Лікарі</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Середній медичний персонал (в тому числі фельдшери, парамедики)</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" rowspan="2">Молодший медичний персонал/прибиральники службових приміщень</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" colspan="2">Інші працівники</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >Кількість людино-годин,  за які була нарахована заробітна плата </td>
    </tr>
    <tr>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >Виконують адміністративні (та комерційні) та управлінські функції</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >Виконують загальновиробничі функції та забезпечують надання медичних послуг</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >Виконують адміністративні  (та комерційні) та загальногосподарські функції</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >Зайняті у наданні медичних послуг </td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >Всього</td>
    </tr>
    <tr>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >1</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >2</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >3</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >4</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >5</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >6</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >7</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >8</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >9</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >10</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >11</td>
        <td style="text-align: center; border: 1px solid; font-weight: bold; background-color: #f0f0f0; " bgColor="#F0F0F0" >12</td>
    </tr>

    <!--{{#table8}}-->
    <tr>
        <td style="text-align: center; border: 1px solid; {{bold}}" >{{npp}}</td>
        <td style="text-align: left; border: 1px solid; {{bold}}" >{{{name}}}</td>
        <td style="text-align: right; border: 1px solid; " >{{#$fs}}"value3","decimal3"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; " >{{#$fs}}"value4","decimal3"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; " >{{#$fs}}"value5","decimal3"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; " >{{#$fs}}"value6","decimal3"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; " >{{#$fs}}"value7","decimal3"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; " >{{#$fs}}"value8","decimal3"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; " >{{#$fs}}"value9","decimal3"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; " >{{#$fs}}"value10","decimal3"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; " >{{#$fs}}"value11","decimal3"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; " >{{#$fs}}"value12","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/table8}}-->
    </tbody>
</table>