<!--%pageOrientation:portrait-->
<!--{{#docs}}-->
<table style="word-break: break-word; " border="0px" width="773" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 100%;">
<table style="word-break: break-word; " border="0px" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 432px;">&nbsp;</td>
<td style="width: 340px;">Додаток 9<br />до Інструкції з організації<br />примусового виконання рішень<br />(пункт 8 розділу Х)</td>
</tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr>
<td style="padding: 0; text-align: right; vertical-align: bottom">кому:&nbsp;</td>
<td style="padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{payRetention.docExecutive}}</td>
</tr>
<tr>
<td style="padding: 0; text-align: right; vertical-align: bottom">&nbsp;</td>
<td style="padding: 0; vertical-align: top; font-size: 9pt">(найменування органу державної виконавчої служби,<br/>П.І.Б. приватного виконавця)
</td>
</tr>
<tr>
<td colspan="2">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><span style="font-weight: bold;">ЗВІТ</span><br/>про здійснені відрахування та виплати</p>
<table style="word-break: break-word; " border="0px" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 100%; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center">{{orgName}}</td>
</tr>
<tr>
<td style="padding: 0; vertical-align: top; text-align: center; font-size: 9pt">(найменування підприємства, установи, організації,  прізвище, ім’я та по батькові фізичної особи, фізичної особи - підприємця, які отримали постанову про стягнення, контактний телефон)</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td style="padding: 0; text-align: center; vertical-align: bottom">щодо</td>
</tr>
<tr>
<td style="width: 100%; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center">{{&employeeFullFIO}}</td>
</tr>
<tr>
<td style="padding: 0; vertical-align: top; text-align: center; font-size: 9pt">(прізвище, ім’я та по батькові боржника)</td>
</tr>
</tbody>
</table>
<table style="word-break: break-word; " border="0px" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 100%; padding: 0; vertical-align: bottom; text-align: justify">за постановою від <span style="text-decoration: underline">{{payRetention.docDate}}<!--{{^payRetention.docDate}}-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--{{/payRetention.docDate}}--></span> ВП № <span style="text-decoration: underline">{{payRetention.docNumber}}<!--{{^payRetention.docNumber}}-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--{{/payRetention.docNumber}}--></span>, виданою за виконавчим документом</td>
</tr>
</tbody>
</table>
<table style="word-break: break-word; " border="0px" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 100%; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{&payRetention.execNameDoc}}</td>
</tr>
<tr>
<td style="padding: 0; vertical-align: top; text-align: center; font-size: 9pt">(назва та реквізити виконавчого документа згідно з постановою виконавця)</td>
</tr>
<tr>
<td style="padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr>
<td style="padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="word-break: break-word; " border="0px" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 100%; padding: 0; vertical-align: bottom; text-align: center; padding-bottom: 1px;">за період з&nbsp;<span style="text-decoration: underline">{{dateFromD}}</span>&nbsp;&nbsp;<span style="text-decoration: underline">&nbsp;&nbsp;{{dateFromM}}&nbsp;&nbsp;</span>&nbsp;&nbsp;20&nbsp;<span style="text-decoration: underline">{{dateFromY}}</span>&nbsp;&nbsp;року по&nbsp;&nbsp;<span style="text-decoration: underline">{{dateToD}}</span>&nbsp;&nbsp;<span style="text-decoration: underline">&nbsp;&nbsp;{{dateToM}}&nbsp;&nbsp;</span>&nbsp;&nbsp;20&nbsp;<span style="text-decoration: underline">{{dateToY}}</span>&nbsp;&nbsp;року</td>
</tr>
</tbody>
</table>
<div>&nbsp;</div>
<table style="word-break: break-word; font-size: 10pt" width="100%" cellspacing="0" cellpadding="0" border="1px">
<tbody>
<tr>
<td style="width: 35px; vertical-align: center; text-align: center; padding: 3px;">Рік</td>
<td style="width: 71px; vertical-align: center; text-align: center; padding: 3px;">Місяць</td>
<td style="width: 83px; vertical-align: center; text-align: center; padding: 3px; font-size: 8pt">Нарахована зарплата, інші доходи</td>
<td style="width: 83px; vertical-align: center; text-align: center; padding: 3px; font-size: 8pt">Утримано податків та інших обов’язкових платежів</td>
<td style="width: 58px; vertical-align: center; text-align: center; padding: 3px; font-size: 8pt">Відсоток (частка) стягнення</td>
<td style="width: 98px; vertical-align: center; text-align: center; padding: 3px;">Утримана сума</td>
<td style="width: 105px; vertical-align: center; text-align: center; padding: 3px; font-size: 9pt">Дата і номер документа, відповідно до якого перераховані стягнуті кошти</td>
<td style="width: 200px; vertical-align: center; text-align: center; padding: 3px;">Примітка</td>
</tr>
<!--{{#tableRows}}-->
<tr>
<td style="vertical-align: center; text-align: center">{{year}}</td>
<td style="vertical-align: center; text-align: center">{{month}}</td>
<td style="vertical-align: center; text-align: right">{{paySum1}}</td>
<td style="vertical-align: center; text-align: right">{{paySum2}}</td>
<td style="vertical-align: center; text-align: center">{{rate}}</td>
<td style="vertical-align: center; text-align: right">{{paySum}}</td>
<td style="vertical-align: center; text-align: center">{{orderNumberDate}}</td>
<td style="vertical-align: center; text-align: center; font-size: 9pt">{{debtSum}}</td>
</tr>
<!--{{/tableRows}}-->
<!--{{#summary}}-->
<tr>
    <td style="width: 35px; vertical-align: center; text-align: center; padding: 3px;" colspan="2" >Всього</td>
    <td style="vertical-align: center; text-align: right">{{paySum1}}</td>
    <td style="vertical-align: center; text-align: right">{{paySum2}}</td>
    <td style="vertical-align: center; text-align: center"></td>
    <td style="vertical-align: center; text-align: right">{{paySum}}</td>
    <td style="vertical-align: center; text-align: center"></td>
    <td style="vertical-align: center; text-align: center; font-size: 9pt"></td>
</tr>
<!--{{/summary}}-->

</tbody>
</table>
<div>&nbsp;</div>
<div style="text-align: justify">Примітки (для особи, відповідальної за складання звіту):</div>
<div style="text-align: justify; text-indent: 55px;">1. Розмір аліментів у разі їх стягнення у частці від заробітку (доходу) не може бути менше встановленого Сімейним кодексом України. У разі якщо стягнути аліменти в зазначеному розмірі неможливо, адміністрація підприємства, установи, організації, фізична особа, фізична особа - підприємець, які проводили відрахування, нараховують боржнику заборгованість із сплати аліментів (абзац другий частини шостої статті 71 Закону України «Про виконавче провадження»). Про залишок несплаченої суми заборгованості зазначається у цьому звіті в графі «Примітка».</div>
<div style="text-align: justify; text-indent: 55px;">2. У разі неперерахування коштів вказуються причини їх неперерахування.</div>
<div style="text-align: justify; text-indent: 55px;">3. У разі звільнення працівника звіт подається за період з моменту подання останнього звіту до моменту звільнення працівника.</div>
<div>&nbsp;</div>
<table style="word-break: break-word; " border="0px" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 10px; padding: 0"></td>
<td style="width: 253px; padding: 0; padding-bottom: 1px; vertical-align: bottom; text-align: left;">{{accEmployeePos}}</td>
<td style="width: 79px; padding: 0">&nbsp;</td>
<td style="width: 104px; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; vertical-align: bottom; text-align: center">&nbsp;</td>
<td style="width: 89px; padding: 0">&nbsp;</td>
<td style="width: 189px;border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; vertical-align: bottom; text-align: center">{{&accEmployeeShortFIO}}</td>
<td style="width: 49px; padding: 0">&nbsp;</td>
</tr>
<tr>
<td style="padding: 0" colspan="3">&nbsp;</td>
<td style="padding: 0; vertical-align: top; text-align: center; font-size: 9pt">(підпис)</td>
<td style="padding: 0"></td>
<td style="padding: 0; vertical-align: top; text-align: center; font-size: 9pt">(прізвище, ініціали)</td>
<td style="padding: 0">&nbsp;</td>
</tr>
<!--{{#signEmp2}}-->
<tr>
    <td style="width: 10px; padding: 0"></td>
    <td style="width: 253px; padding: 0; padding-bottom: 1px; vertical-align: bottom; text-align: left;">{{signEmp2Pos}}</td>
    <td style="width: 79px; padding: 0">&nbsp;</td>
    <td style="width: 104px; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; vertical-align: bottom; text-align: center">&nbsp;</td>
    <td style="width: 89px; padding: 0">&nbsp;</td>
    <td style="width: 189px;border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; vertical-align: bottom; text-align: center">{{&signEmp2ShortFIO}}</td>
    <td style="width: 49px; padding: 0">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0" colspan="3">&nbsp;</td>
    <td style="padding: 0; vertical-align: top; text-align: center; font-size: 9pt">(підпис)</td>
    <td style="padding: 0"></td>
    <td style="padding: 0; vertical-align: top; text-align: center; font-size: 9pt">(прізвище, ініціали)</td>
    <td style="padding: 0">&nbsp;</td>
</tr>
<!--{{/signEmp2}}-->
</tbody>
</table>
<div style="text-indent: 10px">М.П.</div>
<div style="text-indent: 55px; font-style: italic">{Додаток 9 в редакції Наказу Міністерства юстиції № 2832/5 від 29.09.2016}</div>
</td>
</tr>
</tbody>
</table>
<!--{{^isLast}}--><p>&nbsp;<!-- pagebreak --></p><!--{{/isLast}}-->
<!--{{/docs}}-->