<!--%pageOrientation:landscape-->
<table style="border-collapse: collapse; font-size: 11pt" border="0" width="{{sheetSize}}" cellspacing="0" cellpadding="0">
<tbody>
<tr>
    <td style="width: 40px; min-width: 40px;"></td>
    <td style="width: 30px; min-width: 30px;"></td>
    <td style="width: 270px; min-width: 270px;"></td>
    <td style="width: 100px; min-width: 100px;"></td>
    <!--{{#blocksNum}}--><td colspan="{{staffCatCount}}">&nbsp;</td><!--{{/blocksNum}}-->
</tr>
<tr>
<td style="padding: 0; vertical-align: bottom; text-align: right" colspan="2">Організація&nbsp;&nbsp;&nbsp;</td>
<td style="padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center" colspan="2">{{orgName}}</td>
<!--{{#blocksNum}}--><td colspan="{{staffCatCount}}">&nbsp;</td><!--{{/blocksNum}}-->
</tr>
<tr><td colspan="{{allColumnCount}}">&nbsp;</td></tr>
<tr>
<!--<td style="padding: 0; vertical-align: bottom; text-align: right" colspan="1">&nbsp;</td>-->
<td style="padding: 0; vertical-align: bottom; font-weight: bold" colspan="4">Зведена відомість про нарахування та відрахування за категоріями</td>
<!--{{#blocksNum}}--><td colspan="{{staffCatCount}}">&nbsp;</td><!--{{/blocksNum}}-->
</tr>
<tr><td colspan="{{allColumnCount}}">&nbsp;</td></tr>
<tr style="font-weight: bold">
<td style="padding: 0; vertical-align: bottom; text-align: right" colspan="2">за</td>
<td style="padding: 0; vertical-align: bottom; text-align: center; border-bottom: 1px solid" colspan="2">{{strPeriodName}}</td>
<!--{{#blocksNum}}--><td colspan="{{staffCatCount}}">&nbsp;</td><!--{{/blocksNum}}-->
</tr>
<tr style="height: 10px;"><td colspan="{{allColumnCount}}">&nbsp;</td></tr>
<!--{{#isDep}}-->
<tr style="font-weight: bold">
    <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="2">підрозділ&nbsp;&nbsp;&nbsp;</td>
    <td style="padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center" colspan="2">{{depName}}</td>
<!--{{#blocksNum}}--><td colspan="{{staffCatCount}}">&nbsp;</td><!--{{/blocksNum}}-->
</tr>
<!--{{/isDep}}-->
<!--{{#isFundSource}}-->
<tr style="font-weight: bold">
    <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="2">{{fundSourceTitle}}</td>
    <td style="padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center" colspan="2">{{fundSourceDescription}}</td>
    <!--{{#blocksNum}}--><td colspan="{{staffCatCount}}">&nbsp;</td><!--{{/blocksNum}}-->
</tr>
<!--{{/isFundSource}}-->
<tr style="height: 10px;"><td colspan="{{allColumnCount}}">&nbsp;</td></tr>

<tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
<td style="width: 40px; min-width: 40px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Код</td>
<td style="width: 300px; min-width: 300px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="2">Вид оплати</td>
<td style="width: 100px; min-width: 100px; border: 1px solid;">Всього</td>
<!--{{#staffCategories}}-->
<td style="width: 80px; min-width: 80px; border-right: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{name}}</td>
<!--{{/staffCategories}}-->
</tr>

<tr style="text-align: left; background-color: #f0f0f0; font-weight: bold">
    <td style="border: 1px solid;" colspan="{{allColumnCount}}">Нарахування</td>
</tr>
<!--{{#payment}}-->
<tr style="page-break-inside: avoid;">
    <td style="text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">{{payCode}}</td>
    <td style="text-align: left; vertical-align: top;border-left: 1px solid; border-bottom: 1px solid;" colspan="2">{{payName}}</td>
    <td style="text-align: right; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{#staffCatSum}}-->
    <td style="vertical-align: top; width: 80px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{/staffCatSum}}-->
</tr>
<!--{{/payment}}-->
<tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
<td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="3">Всього нараховано</td>
<td style="vertical-align: top; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"totalPaymentSum","decimal2"{{/$fs}}</td>
<!--{{#totalPaymentSCSum}}-->
<td style="text-align: right; border: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
<!--{{/totalPaymentSCSum}}-->
</tr>

<tr style="text-align: left; background-color: #f0f0f0; font-weight: bold">
    <td style="border: 1px solid;" colspan="{{allColumnCount}}">Утримання</td>
</tr>
<!--{{#offtake}}-->
<tr style="page-break-inside: avoid;">
    <td style="text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">{{payCode}}</td>
    <td style="text-align: left; vertical-align: top;border-left: 1px solid; border-bottom: 1px solid;" colspan="2">{{payName}}</td>
    <td style="text-align: right; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{#staffCatSum}}-->
    <td style="vertical-align: top; width: 80px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{/staffCatSum}}-->
</tr>
<!--{{/offtake}}-->
<tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="3">Всього утримано</td>
    <td style="vertical-align: top; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"totalOfftakeSum","decimal2"{{/$fs}}</td>
    <!--{{#totalOfftakeSCSum}}-->
    <td style="text-align: right; border: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{/totalOfftakeSCSum}}-->
</tr>

<tr style="text-align: left; background-color: #f0f0f0; font-weight: bold">
    <td style="border: 1px solid;" colspan="{{allColumnCount}}">Виплати</td>
</tr>
<!--{{#forpay}}-->
<tr style="page-break-inside: avoid;">
    <td style="text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">{{payCode}}</td>
    <td style="text-align: left; vertical-align: top;border-left: 1px solid; border-bottom: 1px solid;" colspan="2">{{payName}}</td>
    <td style="text-align: right; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{#staffCatSum}}-->
    <td style="vertical-align: top; width: 80px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{/staffCatSum}}-->
</tr>
<!--{{/forpay}}-->
<tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="3">Всього виплачено</td>
    <td style="vertical-align: top; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"totalForpaySum","decimal2"{{/$fs}}</td>
    <!--{{#totalForpaySCSum}}-->
    <td style="text-align: right; border: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{/totalForpaySCSum}}-->
</tr>

<tr style="text-align: left; background-color: #f0f0f0; font-weight: bold">
    <td style="border: 1px solid;" colspan="{{allColumnCount}}">Не входить у нараховано/утримано</td>
</tr>
<!--{{#payOff}}-->
<tr style="page-break-inside: avoid;">
    <td style="text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">{{payCode}}</td>
    <td style="text-align: left; vertical-align: top;border-left: 1px solid; border-bottom: 1px solid;" colspan="2">{{payName}}</td>
    <td style="text-align: right; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{#staffCatSum}}-->
    <td style="vertical-align: top; width: 80px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{/staffCatSum}}-->
</tr>
<!--{{/payOff}}-->
<tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
<td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="3">Всього не входить у нараховано/утримано</td>
<td style="vertical-align: top; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"totalPayOffSum","decimal2"{{/$fs}}</td>
<!--{{#totalPayOffSCSum}}-->
<td style="text-align: right; border: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
<!--{{/totalPayOffSCSum}}-->
</tr>

<tr style="text-align: left; background-color: #f0f0f0; font-weight: bold">
    <td style="border: 1px solid;" colspan="{{allColumnCount}}">Нарахування (фонди)</td>
</tr>
<!--{{#accrualFund}}-->
<tr style="page-break-inside: avoid;">
    <td style="text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">{{payCode}}</td>
    <td style="text-align: left; vertical-align: top;border-left: 1px solid; border-bottom: 1px solid;" colspan="2">{{payName}}</td>
    <td style="text-align: right; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{#staffCatSum}}-->
    <td style="vertical-align: top; width: 80px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{/staffCatSum}}-->
</tr>
<!--{{/accrualFund}}-->
<tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="3">Всього нарахування (фонди)</td>
    <td style="vertical-align: top; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"totalAccrualFundSum","decimal2"{{/$fs}}</td>
    <!--{{#totalAccFundSCSum}}-->
    <td style="text-align: right; border: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{/totalAccFundSCSum}}-->
</tr>

<tr style="text-align: left; background-color: #f0f0f0; font-weight: bold">
    <td style="border: 1px solid;" colspan="{{allColumnCount}}">Додатково (фонди)</td>
</tr>
<!--{{#accrualFundOff}}-->
<tr style="page-break-inside: avoid;">
    <td style="text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">{{payCode}}</td>
    <td style="text-align: left; vertical-align: top;border-left: 1px solid; border-bottom: 1px solid;" colspan="2">{{payName}}</td>
    <td style="text-align: right; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{#staffCatSum}}-->
    <td style="vertical-align: top; width: 80px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{/staffCatSum}}-->
</tr>
<!--{{/accrualFundOff}}-->
<tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="3">Всього додатково (фонди)</td>
    <td style="vertical-align: top; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"totalAccrualFundOffSum","decimal2"{{/$fs}}</td>
    <!--{{#totalAccFundOffSCSum}}-->
    <td style="text-align: right; border: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{/totalAccFundOffSCSum}}-->
</tr>

</tbody>
</table>