<!--%pageOrientation:portrait-->
<table style="font-family: Arial; font-size: 12px; word-break: break-word; " border="0px" width="1050" cellspacing="0" cellpadding="5">
<tbody>
<tr style="height: 1px;">
    <td style="width: 650px;">&nbsp;</td>
    <td style="width: 100px;">&nbsp;</td>
    <td style="width: 150px;">&nbsp;</td>
    <td style="width: 150px;">&nbsp;</td>
</tr>
<tr>
    <td style="font-size: 9px; vertical-align: bottom; text-align: left;">{{periodName}}</td>
    <td style="font-size: 9px; vertical-align: bottom; text-align: left;" colspan="3">{{depName}}</td>
</tr>
<tr><td colspan="4">&nbsp;</td></tr>
<tr>
    <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="2">&nbsp;</td>
    <td style="padding: 0; vertical-align: bottom; text-align: center; font-weight: bold;" colspan="2">форма N 1-ПВ (місячна)</td>
</tr>
<tr><td colspan="4">&nbsp;</td></tr>
<tr>
    <td style="font-size: 16px; vertical-align: bottom; text-align: center; font-weight: bold" colspan="4">Звіт з праці</td>
</tr>
<tr><td colspan="4">&nbsp;</td></tr>
<tr>
    <td style="padding: 0; vertical-align: bottom; text-align: center; border-bottom: 1px solid" colspan="4">{{orgName}}</td>
</tr>
<tr><td colspan="4">&nbsp;</td></tr>
<tr style="font-weight: bold">
    <td style="padding: 0; vertical-align: bottom; text-align: center; border-bottom: 1px solid" colspan="4">за {{curPeriodName}}</td>
</tr>
<tr><td colspan="4">&nbsp;</td></tr>
<tr style="font-weight: bold">
    <td style="font-size: 14px; padding: 5px; vertical-align: bottom; text-align: center;" colspan="4">Розділ І. Кількість працівників, робочий час і фонд оплати праці</td>
</tr>
<tr style="text-align: center;">
    <td style="padding: 5px; border-left: 1px solid; border-top: 1px solid;">Назва показникiв</td>
    <td style="padding: 5px; border-left: 1px solid; border-top: 1px solid;">Код рядка</td>
    <td style="padding: 5px; border-left: 1px solid; border-top: 1px solid;">За звiтний місяць</td>
    <td style="padding: 5px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">За перiод з початку року</td>
</tr>
<tr style="text-align: center;">
    <td style="padding: 5px; border-left: 1px solid; border-top: 1px solid;">А</td>
    <td style="padding: 5px; border-left: 1px solid; border-top: 1px solid;">Б</td>
    <td style="padding: 5px; border-left: 1px solid; border-top: 1px solid;">1</td>
    <td style="padding: 5px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">2</td>
</tr>
<tr>
    <td style="padding: 5px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Фонд оплати працi усiх працiвникiв, тис.грн. (з одним десятковим знаком)</td>
    <td style="padding: 5px; text-align: center; border-left: 1px solid; border-top: 1px solid;">1020</td>
    <td style="padding: 5px; text-align: right; border-left: 1px solid; border-top: 1px solid;">{{#$fs}}"A1020_1","decimal1"{{/$fs}}</td>
    <td style="padding: 5px; text-align: right; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"A1020_2","decimal1"{{/$fs}}</td>
</tr>
<tr>
    <td style="padding: 5px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Сума податку з доходів фізичних осіб, що відрахована з фонду оплати праці усiх працiвникiв (крім тимчасової непрацездатності), тис.грн. (з одним десятковим знаком)</td>
    <td style="padding: 5px; text-align: center; border-left: 1px solid; border-top: 1px solid;">1030</td>
    <td style="padding: 5px; text-align: right; border-left: 1px solid; border-top: 1px solid;">{{#$fs}}"A1030_1","decimal1"{{/$fs}}</td>
    <td style="padding: 5px; text-align: right; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"A1030_2","decimal1"{{/$fs}}</td>
</tr>
<tr>
    <td style="padding: 5px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Середньооблiкова кількість штатних працiвникiв, осiб (у цілих числах)</td>
    <td style="padding: 5px; text-align: center; border-left: 1px solid; border-top: 1px solid;">1040</td>
    <td style="padding: 5px; text-align: right; border-left: 1px solid; border-top: 1px solid;">{{#$fs}}"A1040_1","numberGroup"{{/$fs}}</td>
    <td style="padding: 5px; text-align: right; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"A1040_2","numberGroup"{{/$fs}}</td>
</tr>
<tr>
    <td style="padding: 5px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Кількість відпрацьованого робочого часу штатними працівниками, люд.год (у цілих числах)</td>
    <td style="padding: 5px; text-align: center; border-left: 1px solid; border-top: 1px solid;">1060</td>
    <td style="padding: 5px; text-align: right; border-left: 1px solid; border-top: 1px solid;">{{#$fs}}"A1060_1","numberGroup"{{/$fs}}</td>
    <td style="padding: 5px; text-align: right; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"A1060_2","numberGroup"{{/$fs}}</td>
</tr>
<tr>
    <td style="padding: 5px; text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Фонд оплати працi штатних працiвникiв,тис.грн. (з одним десятковим знаком) (із ряд.1020)</td>
    <td style="padding: 5px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">1070</td>
    <td style="padding: 5px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"A1070_1","decimal1"{{/$fs}}</td>
    <td style="padding: 5px; text-align: right; border: 1px solid;">{{#$fs}}"A1070_2","decimal1"{{/$fs}}</td>
</tr>
<tr><td colspan="4">&nbsp;</td></tr>
<tr style="font-weight: bold">
    <td style="padding: 5px; font-size: 14px; vertical-align: bottom; text-align: center;" colspan="3">Розділ ІІ. Заборгованість перед працівниками із заробітної плати та виплат із соціального страхування</td>
    <td style="padding: 5px; text-align: right; border: none;">&nbsp;</td>
</tr>
<tr><td colspan="4">&nbsp;</td></tr>
<tr>
    <td style="padding: 5px; vertical-align: bottom; text-align: center; border-bottom: 1px solid" colspan="3">{{orgName}}</td>
    <td style="text-align: right; border: none;">&nbsp;</td>
</tr>
<tr><td colspan="4">&nbsp;</td></tr>
<tr style="font-weight: bold">
    <td style="padding: 5px; vertical-align: bottom; text-align: center; border-bottom: 1px solid" colspan="3">на {{nextPeriodName}}</td>
    <td style="text-align: right; border: none;">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0;font-size: 9px; font-style: italic; vertical-align: top; text-align: center;" colspan="3">(назва місяця наступного після звітного періоду)</td>
    <td style="text-align: right; border: none;">&nbsp;</td>
</tr>
<tr><td colspan="4">&nbsp;</td></tr>
<tr style="text-align: center;">
    <td style="padding: 5px; border-left: 1px solid; border-top: 1px solid;">Назва показникiв</td>
    <td style="padding: 5px; border-left: 1px solid; border-top: 1px solid;">Код рядка</td>
    <td style="padding: 5px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">Усього</td>
    <td style="text-align: right; border: none;">&nbsp;</td>
</tr>
<tr style="text-align: center;">
    <td style="padding: 5px; border-left: 1px solid; border-top: 1px solid;">А</td>
    <td style="padding: 5px; border-left: 1px solid; border-top: 1px solid;">Б</td>
    <td style="padding: 5px; text-align: center; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">1</td>
    <td style="text-align: right; border: none;">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 5px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Сума заборгованостi з виплати заробiтної плати, тис.грн. (з одним десятковим знаком) </td>
    <td style="padding: 5px; text-align: center; border-left: 1px solid; border-top: 1px solid;">2010</td>
    <td style="padding: 5px; text-align: right; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">&nbsp;</td>
    <td style="text-align: right; border: none;">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 5px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Сума заборгованостi з виплати заробiтної плати, утворена у попередні роки, тис.грн. (з одним десятковим знаком) (із ряд.2010)</td>
    <td style="padding: 5px; text-align: center; border-left: 1px solid; border-top: 1px solid;">2020</td>
    <td style="padding: 5px; text-align: right; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">&nbsp;</td>
    <td style="text-align: right; border: none;">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 5px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Кількість працiвникiв, яким своєчасно не виплачено заробiтну плату, осiб (у цілих числах)</td>
    <td style="padding: 5px; text-align: center; border-left: 1px solid; border-top: 1px solid;">2030</td>
    <td style="padding: 5px; text-align: right; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">&nbsp;</td>
    <td style="text-align: right; border: none;">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 5px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Сума заборгованостi з виплат працівникам у зв'язку з тимчасовою непрацездатністю, уключаючи оплату перших п'яти днів, тис.грн. (з одним десятковим знаком)</td>
    <td style="padding: 5px; text-align: center; border-left: 1px solid; border-top: 1px solid;">2040</td>
    <td style="padding: 5px; text-align: right; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"A2040","decimal1"{{/$fs}}</td>
    <td style="text-align: right; border: none;">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 5px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Сума заборгованостi з виплати заробiтної плати, яка фінансується за рахунок бюджетних коштів, тис.грн. (з одним десятковим знаком) (iз р.2010)</td>
    <td style="padding: 5px; text-align: center; border-left: 1px solid; border-top: 1px solid;">2050</td>
    <td style="padding: 5px; text-align: right; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">&nbsp;</td>
    <td style="text-align: right; border: none;">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 5px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Сума заборгованостi з виплати заробiтної плати, яка фінансується за рахунок коштів місцевих бюджетів, тис.грн. (з одним десятковим знаком) (iз р.2050)</td>
    <td style="padding: 5px; text-align: center; border-left: 1px solid; border-top: 1px solid;">2060</td>
    <td style="padding: 5px; text-align: right; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">&nbsp;</td>
    <td style="text-align: right; border: none;">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 5px; text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Сума заборгованостi з компенсацiйних виплат працiвникам, якi постраждали внаслiдок Чорнобильської катастрофи, тис.грн. (з одним десятковим знаком) (iз ряд. 2050)</td>
    <td style="padding: 5px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">2070</td>
    <td style="padding: 5px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"A2070","decimal1"{{/$fs}}</td>
    <td style="text-align: right; border: none;">&nbsp;</td>
</tr>
<tr><td colspan="4">&nbsp;</td></tr>
<!--{{#signers}}-->
<tr><td colspan="4">&nbsp;</td></tr>
<tr>
    <td style="text-align: left;">{{signerName}}:</td>
    <td style="text-align: left;">_____________</td>
    <td style="text-align: left; text-decoration: underline;" colspan="2" >{{signerShortName}}</td>
</tr>
<!--{{/signers}}-->

</tbody>
</table>