<!--%pageOrientation:landscape-->
<table style="border-collapse: collapse; font-size: 11pt;" border="0" width="{{sheetWidth}}" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td style="width: 40px;"></td>
        <td style="width: 40px;"></td>
        <td style="width: 150px;"></td>
        <td style="width: 150px;"></td>
        <td style="width: 100px;"></td>
        <td style="width: 100px;"></td>
        <td style="width: 100px;"></td>
        <td style="width: 100px;"></td>
        <td style="width: 60px;"></td>
        <td style="width: 100px;"></td>
        <td style="width: 100px;"></td>
        <td style="width: 100px;"></td>
        <td style="width: 100px;"></td>
        <!--{{#includeFundSourceBlock}}-->
        <!--{{#dictFundSourceList}}--><td style="width: 100px;"></td><!--{{/dictFundSourceList}}-->
        <!--{{/includeFundSourceBlock}}-->
        <td style="width: 100px;"></td>
        <td style="width: 150px;"></td>
        <td style="width: 150px;"></td>
        <td style="width: 150px;"></td>
        <td style="width: 150px;"></td>
        <td style="width: 150px;"></td>
        <td style="width: 150px;"></td>
    </tr>
    <!--{{#includeFundSourceBlock}}-->
    <tr>
        <td style="font-weight: bold; text-align: center" colspan="20">Звіт</td>
        <td style="font-weight: bold; text-align: center" colspan="{{fundSourceColCount}}">&nbsp;</td>
    
    </tr>
    <tr>
        <td style="font-weight: bold; text-align: center" colspan="20">про розрахунок аліментів та виконавчих листів</td>
        <td style="font-weight: bold; text-align: center" colspan="{{fundSourceColCount}}">&nbsp;</td>
    
    </tr>
    <tr>
        <td style="font-weight: bold; text-align: center" colspan="{{allColumnCount}}">&nbsp;</td>
    </tr>
    <tr>
    <td style="font-weight: bold; text-align: center" colspan="4">&nbsp;</td>
    <td style="vertical-align: bottom; border-bottom: 1px solid; text-align: center; vertical-align: bottom;" colspan="12">{{period}}</td>
    <td style="font-weight: bold; text-align: center" colspan="4">&nbsp;</td>
    <td colspan="{{fundSourceColCount}}">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-weight: bold; text-align: center" colspan="{{allColumnCount}}">&nbsp;</td>
    </tr>
    <tr style="font-weight: bold;">
        <td style="text-align: right; vertical-align: bottom;" colspan="4">Найменування організації</td>
        <td style="border-bottom: 1px solid; text-align: center; vertical-align: bottom;" colspan="12">{{orgName}}</td>
        <td style="font-weight: bold; text-align: center" colspan="4">&nbsp;</td>
        <td colspan="{{fundSourceColCount}}">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-weight: bold; text-align: center" colspan="{{allColumnCount}}">&nbsp;</td>
    </tr>
    <tr style="font-weight: bold;">
        <td style="text-align: right; vertical-align: bottom;" colspan="4">підрозділ</td>
        <td style="border-bottom: 1px solid; text-align: center; vertical-align: bottom;" colspan="12">{{department}}</td>
        <td style="font-weight: bold; text-align: center" colspan="4">&nbsp;</td>
        <td colspan="{{fundSourceColCount}}">&nbsp;</td>
    </tr>
    <tr>
    <td style="font-weight: bold; text-align: center" colspan="{{allColumnCount}}">&nbsp;</td>
    </tr>
    <!--{{/includeFundSourceBlock}}-->
    <!--{{^includeFundSourceBlock}}-->
    <tr>
        <td style="font-weight: bold; text-align: center" colspan="20">Звіт</td>
    </tr>
    <tr>
        <td style="font-weight: bold; text-align: center" colspan="20">про розрахунок аліментів та виконавчих листів</td>
    </tr>
    <tr>
        <td style="font-weight: bold; text-align: center" colspan="{{allColumnCount}}">&nbsp;</td>
    </tr>
    <tr>
    <td style="font-weight: bold; text-align: center" colspan="4">&nbsp;</td>
    <td style="vertical-align: bottom; border-bottom: 1px solid; text-align: center; vertical-align: bottom;" colspan="12">{{period}}</td>
    <td style="font-weight: bold; text-align: center" colspan="4">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-weight: bold; text-align: center" colspan="{{allColumnCount}}">&nbsp;</td>
    </tr>
    <tr style="font-weight: bold;">
        <td style="text-align: right; vertical-align: bottom;" colspan="4">Найменування організації</td>
        <td style="border-bottom: 1px solid; text-align: center; vertical-align: bottom;" colspan="12">{{orgName}}</td>
        <td style="font-weight: bold; text-align: center" colspan="4">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-weight: bold; text-align: center" colspan="{{allColumnCount}}">&nbsp;</td>
    </tr>
    <tr style="font-weight: bold;">
        <td style="text-align: right; vertical-align: bottom;" colspan="4">підрозділ</td>
        <td style="border-bottom: 1px solid; text-align: center; vertical-align: bottom;" colspan="12">{{department}}</td>
        <td style="font-weight: bold; text-align: center" colspan="4">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-weight: bold; text-align: center" colspan="{{allColumnCount}}">&nbsp;</td>
    </tr>
    <!--{{/includeFundSourceBlock}}-->
    <!--{{#includeFundSourceBlock}}-->
    <tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">№<br/>з/п</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Таб.<br/>№</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">ПІБ</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Посада</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Вид оплати</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Період</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Дохід</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Утримання</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">%</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Борг на початок періоду</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Нараховано</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Сплачено</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="{{fundSourceColCount}}">У тому числі за джерелами фінансування</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Борг на кінець періода</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Організація</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Структурний підрозділ</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Отримувач</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;" colspan="4">Перерахувати</td>
    </tr><tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
        <!--{{#dictFundSourceList}}-->
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{dictFundSourceName}}</td>
        <!--{{/dictFundSourceList}}-->
        <td style="border: 1px solid;">Контрагент</td>
        <td style="border: 1px solid;">РНОКПП/ЄДРПОУ</td>
        <td style="border: 1px solid;">Банк</td>
        <td style="border: 1px solid;">Р/рахунок для перерахування</td>
    </tr>
    <!--{{/includeFundSourceBlock}}-->
    <!--{{^includeFundSourceBlock}}-->
    <tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">№<br/>з/п</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Таб.<br/>№</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">ПІБ</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Посада</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Вид оплати</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Період</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Дохід</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Утримання</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">%</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Борг на початок періоду</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Нараховано</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Сплачено</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Борг на кінець періода</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Організація</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Структурний підрозділ</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Отримувач</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;" colspan="4">Перерахувати</td>
    </tr>
    <tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
        <td style="border: 1px solid;">Контрагент</td>
        <td style="border: 1px solid;">РНОКПП/ЄДРПОУ</td>
        <td style="border: 1px solid;">Банк</td>
        <td style="border: 1px solid;">Р/рахунок для перерахування</td>
    </tr>
    <!--{{/includeFundSourceBlock}}-->
    <!--{{#depts}}-->
    <!--{{#dept}}-->
    <tr style="page-break-inside: avoid; vertical-align: top;">
        <td style="font-family: TimesNewRoman; font-weight: bold; padding-left: 15px; text-align: left; border-width: 1px; border-style: solid; page-break-inside: avoid;" colspan="{{colCount}}">{{&deptName}}</td>
    </tr>
    <!--{{/dept}}-->
    <!--{{#emps}}-->
    <tr style="page-break-inside: avoid; vertical-align: top;">
    <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{num}}</td>
    <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{tabNum}}</td>
    <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{fullFIO}}</td>
    <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
    <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{payElName}}</td>
    <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{periodName}}</td>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"incSum","decimal2"{{/$fs}}</td>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"outSum","decimal2"{{/$fs}}</td>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"rate","decimal2"{{/$fs}}</td>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"incomingDebtSum","decimal2"{{/$fs}}</td>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"calculatedSum","decimal2"{{/$fs}}</td>
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{#includeFundSourceBlock}}-->
    <!--{{#dictFundList}}-->
    <td style="text-align: right; border: 1px solid;">{{#$fs}}"paySumFund","decimal2"{{/$fs}}</td>
    <!--{{/dictFundList}}-->
    <!--{{/includeFundSourceBlock}}-->
    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"debt","decimal2"{{/$fs}}</td>
    <td style="text-align: left; border: 1px solid;">{{orgName}}</td>
    <td style="text-align: left; border: 1px solid;">{{selfStructDepName}}</td>
    <td style="text-align: left; border: 1px solid;">{{contrName}}</td>
    <td style="text-align: left; border: 1px solid;">{{contractorName}}</td>
    <td style="text-align: left; border: 1px solid;">{{contractorOKPOCode}}</td>
    <td style="text-align: left; border: 1px solid;">{{bankName}}</td>
    <td style="text-align: left; border: 1px solid;">{{contrAccountCode}}</td>
    </tr><!--{{/emps}}-->
    <!--{{#depSum}}-->
    <tr style="background-color: #f0f0f0; font-weight: bold; page-break-inside: avoid; vertical-align: top;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;" colspan="9">{{&title}} &nbsp;</td>
        <!--{{#dsum}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"incomingDebtSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"calculatedSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    
        <!--{{#includeFundSourceBlock}}-->
        <!--{{#fundSumList}}-->
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"fundSum","decimal2"{{/$fs}}</td>
        <!--{{/fundSumList}}-->
        <!--{{/includeFundSourceBlock}}-->
    
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"debt","decimal2"{{/$fs}}</td>
    
        <!--{{/dsum}}-->
    
        <td style="text-align: right; border: 1px solid;"></td>
        <td style="text-align: right; border: 1px solid;" colspan="6">&nbsp;</td>
    </tr>
    <!--{{/depSum}}-->
    <!--{{/depts}}-->
    <tr><td style="" colspan="{{allColumnCount}}">&nbsp;</td></tr>
    <tr><td style="" colspan="{{allColumnCount}}">Примітка:</td></tr>
    <!--{{#notes}}-->
    <tr><td style="" colspan="{{allColumnCount}}">{{filterName}} {{value}}</td></tr>
    <!--{{/notes}}-->
    </tbody>
    </table>