<!--%pageOrientation:portrait-->
<div style="display: flex;">
    <table style="border-collapse: collapse; height: 100%; font-family: TimesNewRoman; font-size: 7pt;" border="0" table-layout: fixed; line-height: 1; width="360px" cellspacing="0" cellpadding="0">
        <tbody>
        <!--{{#pages}}-->
        <!--{{#leftTable}}-->
        <tr>
            <td style="width: 30px; height: 10px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
        </tr>
        <tr>
            <td colspan="7" style="text-align: left;"><span style="display: block; height: 10px;">{{orgName}}</span></td>
            <td colspan="5" style="text-align: right;"><span style="display: block; height: 10px;">{{periodDescription}}</span></td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: left; min-width: 110px;"><span style="display: block; height: 10px;">{{departmentName}}</span></td>
            <td colspan="4" style="text-align: left;"><span style="display: block; height: 10px;">Таб. № {{tabNum}}</span></td>
            <td colspan="4" style="text-align: right; height: 10px;"><span style="display: block; height: 10px;">Робочих днів місяця:{{timeSheetsPlan}}</span></td>
        </tr>
        <tr>
            <td colspan="12" style="text-align: left;"><span style="display: block; height: 10px;">Індентифікаційний код: {{taxCode}}</span></td>
        </tr>
        <tr>
            <td style="text-align: left; font-weight: bold; font-size: 12pt; border-bottom: 1px solid black; border-bottom-style:dotted;" colspan="12"><span style="display: block; height: 19px;">{{fullFIO}}</span></td>
        </tr>
        <!--{{#dictEmployeePositions}}-->
        <tr>
            <td colspan="7" style="text-align: left;"><span style="display: block; height: 10px;">{{dictPositionName}}</span></td>
            <td colspan="5" style="text-align: right;"><span style="display: block; height: 10px;">{{dictPositionFundSource}}</span></td>
        </tr>
        <!--{{/dictEmployeePositions}}-->
        <tr>
            <td style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid;text-align: center;"><span style="display: block; font-weight: bold;  height: 11px;">За</span></td>
            <td style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid; font-weight: bold; text-align: center;"><span style="display: block; height: 11px;">Дні/</span></td>
            <td colspan="6" style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid; font-weight: bold; text-align: center;"><span style="display: block; height: 11px;">Нарахування/утримання</span></td>
            <td colspan="4" style="border:1px solid; font-weight: bold; text-align: center;"><span style="display: block; height: 11px;">Суми</span></td>
        </tr>
        <tr>
            <td style="border-width:0px 1px 1px 1px; border-color: black; border-style:solid; text-align: center;"><span style="display: block; height: 11px; font-weight: bold;">період</span></td>
            <td style="border-width:0px 1px 1px 1px; border-color: black; border-style:solid; text-align: center;"><span style="display: block; height: 11px; font-weight: bold;">год.</span></td>
            <td colspan="6" style="border-width:0px 1px 1px 1px; border-color: black; border-style:solid;"><span style="display: block; height: 11px;"></span></td>
            <td colspan="2" style="border:1px solid;text-align: center;"><span style="display: block; font-weight: bold; height: 11px;">Нараховано</span></td>
            <td colspan="2" style="border:1px solid; text-align: center;"><span style="display: block; font-weight: bold; height: 11px;">Утримано</span></td>
        </tr>
        <!--{{#leaveBlock}}-->
        <tr>
            <td colspan="2" style=" border-width:0px 1px 1px 1px; border-color: black; border-style:solid; text-align: right;"><span style="display: block; height: 18px; font-weight: bold;">{{workNorm}}</span></td>
            <td colspan="10" style=" border-width:0px 1px 1px 1px; border-color: black; border-style:solid;  text-align: left;"><span style="display: block; height: 18px; font-weight: bold;">{{payElName}}</span></td>
        </tr>
        <!--{{/leaveBlock}}-->
        <!--{{#payEl}}-->
        <!--{{#dictPosition}}-->
        <tr>
            <td style="border:1px solid; font-weight: bold; padding: 0px 0px 0px 10px;" colspan="12">{{dictPositionName}}</td>
        </tr>
        <!--{{/dictPosition}}-->
        <!--{{#periodSalaryAcc}}-->
        <tr>
            <td style="border:1px solid; height: 1px;" colspan="12"><span style="display: block; font-weight: bold; height: 10px;">{{perSalAccName}}</span></td>
        </tr>
        <!--{{/periodSalaryAcc}}-->
        <!--{{^periodSalaryAcc}}-->
        <!--{{^dictPosition}}-->
        <tr>
            <td style="border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"><span style="display: block; height: 16px;">{{periodAcc}}</span></td>
            <td style="border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"><span style="display: block; height: 16px;">{{daysAcc}}</span></td>
            <td colspan="6" style="border-width:0px 1px 0px 1px; border-color: black; border-style:solid;  text-align: left;"><span style="display: block; height: 16px;">{{payElNameAcc}}</span></td>
            <td colspan="2" style="border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: right;"><span style="display: block; height: 16px;">{{paySumAcc}}</span></td>
            <td colspan="2" style="border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"><span style="display: block; height: 16px;"></span></td>
        </tr>
        <!--{{/dictPosition}}-->
        <!--{{/periodSalaryAcc}}-->
        <!--{{/payEl}}-->
        <!--{{#payEl}}-->
        <!--{{#periodSalaryKeep}}-->
        <tr>
            <td style="border:1px solid; font-weight: bold;height: 1px;" colspan="12"><span style="display: block; height: 10px;">{{perSalKeepName}}</span></td>
        </tr>
        <!--{{/periodSalaryKeep}}-->
        <!--{{/payEl}}-->
        <!--{{#keeps}}-->
        <!--{{#firstSalKeep}}-->
        <tr>
            <tr>
                <td style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"></td>
                <td style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"></td>
                <td colspan="6" style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid;text-align: left;"></td>
                <td colspan="2" style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"></td>
                <td colspan="2" style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"></td>
            </tr>
        </tr>
        <!--{{/firstSalKeep}}-->
        <tr>
            <td style="border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"><span style="display: block; height: 16px;">{{periodKeep}}</span></td>
            <td style="border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"><span style="display: block; height: 16px;"></span></td>
            <td colspan="6" style="border-width:0px 1px 0px 1px; border-color: black; border-style:solid;text-align: left;"><span style="display: block; height: 16px;">{{payElNameKeep}}</span></td>
            <td colspan="2" style="border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"><span style="display: block; height: 16px;"></span></td>
            <td colspan="2" style="border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: right;"><span style="display: block; height: 16px;">{{paySumKeep}}</span></td>
        </tr>
        <!--{{/keeps}}-->
        <tr>
            <td colspan="8" style="border: 1px solid; "><span style="padding: 0px 0px 0px 5px; display: block; height: 11px; font-weight: bold;">Всього</span></td>
            <td colspan="2" style="border: 1px solid; text-align: right;"><span style="display: block; height: 11px; font-weight: bold;">{{paySumAccTotal}}</span></td>
            <td colspan="2" style="border: 1px solid; text-align: right;"><span style="display: block; height: 11px; font-weight: bold;">{{paySumKeepTotal}}</span></td>
        </tr>
        <!--{{#balanceIn}}-->
        <tr>
            <td colspan="12"><span style="font-weight: bold; font-size: 9pt; padding: 5px 0px 0px 5px; display: block; height: 16px;">Борг на початок періоду</span></td>
        </tr>
        <!--{{/balanceIn}}-->
        <!--{{#balanceInData}}-->
        <tr>
            <td colspan="2" style="border-left: 1px solid; text-align: center;"><span style="display: block; height: 11px;"></span></td>
            <td colspan="8" style="text-align: right;"><span style="display: block; height: 11px;">{{balanceName}}</span></td>
            <td colspan="2" style="text-align: right;"><span style="display: block; height: 11px;">{{balanceSum}}</span></td>
        </tr>
        <!--{{/balanceInData}}-->
        <!--{{#balanceOut}}-->
        <tr>
            <td colspan="12"><span style="font-weight: bold; font-size: 9pt; padding: 5px 0px 0px 5px; display: block; height: 16px;">Борг на кінець періоду</span></td>
        </tr>
        <!--{{/balanceOut}}-->
        <!--{{#balanceOutData}}-->
        <tr>
            <td colspan="2" style="border-left: 1px solid; text-align: center;"><span style="display: block; height: 11px;"></span></td>
            <td colspan="8" style="text-align: right;"><span style="display: block; height: 11px;">{{balanceName}}</span></td>
            <td colspan="2" style="text-align: right;"><span style="display: block; height: 11px;">{{balanceSum}}</span></td>
        </tr>
        <!--{{/balanceOutData}}-->
        <tr>
            <td colspan="12"><span style="font-weight: bold; font-size: 9pt; padding: 5px 0px 0px 5px; display: block; height: 16px;">Виплачено:</span></td>
        </tr>
        <!--{{#payouts}}-->
        <tr>
	    <!--{{#showpayoutdate}}-->
            <td colspan="2" style="border: 1px solid; text-align: center;"><span style="display: block; height: 11px;">{{payoutDate}}</span></td>
	    <!--{{/showpayoutdate}}-->
	    <!--{{^showpayoutdate}}-->
	    <td colspan="2" style="border: 1px solid; text-align: center;"><span style="display: block; height: 11px;"></span></td>
	    <!--{{/showpayoutdate}}-->
            <td colspan="8" style="border: 1px solid; text-align: left;"><span style="display: block; height: 11px;">{{payoutName}}</span></td>
            <td colspan="2" style="border: 1px solid; text-align: right;"><span style="display: block; height: 11px;">{{payoutSum}}</span></td>
        </tr>
        <!--{{/payouts}}-->
        <tr>
            <td colspan="10" style="border: 1px solid; "><span style="padding: 0px 0px 0px 5px; display: block; height: 11px; font-weight: bold;">Всього виплачено</span></td>
            <td colspan="2" style="border: 1px solid; text-align: right;"><span style="display: block; height: 11px; font-weight: bold;">{{payoutSumTotal}}</span></td>
        </tr>
        <!--{{#isPageBreak}}-->
        <tr>
            <td colspan="12"><p>&nbsp;<!-- pagebreak --></p></td>
        </tr>
        <!--{{/isPageBreak}}-->
        <!--{{/leftTable}}-->
        <!--{{/pages}}-->
        </tbody>
    </table>
    <table style="border-collapse: collapse; height: 100%; font-family: TimesNewRoman; font-size: 7pt; margin-left: 10px;" border="0" table-layout: fixed; line-height: 1; width="360px" cellspacing="0" cellpadding="0">
        <tbody>
        <!--{{#pages}}-->
        <!--{{#rightTable}}-->
        <tr>
            <td style="width: 30px; height: 10px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
            <td style="width: 30px;"></td>
        </tr>
        <tr>
            <td colspan="7" style="text-align: left;"><span style="display: block; height: 10px;">{{orgName}}</span></td>
            <td colspan="5" style="text-align: right;"><span style="display: block; height: 10px;">{{periodDescription}}</span></td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: left; min-width: 110px;"><span style="display: block; height: 10px;">{{departmentName}}</span></td>
            <td colspan="4" style="text-align: left;"><span style="display: block; height: 10px;">Таб. № {{tabNum}}</span></td>
            <td colspan="4" style="text-align: right; height: 10px;"><span style="display: block; height: 10px;">Робочих днів місяця:{{timeSheetsPlan}}</span></td>
        </tr>
        <tr>
            <td colspan="12" style="text-align: left;"><span style="display: block; height: 10px;">Індентифікаційний код: {{taxCode}}</span></td>
        </tr>
        <tr>
            <td style="text-align: left; font-weight: bold; font-size: 12pt; border-bottom: 1px solid black; border-bottom-style:dotted;" colspan="12"><span style="display: block; height: 19px;">{{fullFIO}}</span></td>
        </tr>
        <!--{{#dictEmployeePositions}}-->
        <tr>
            <td colspan="7" style="text-align: left;"><span style="display: block; height: 10px;">{{dictPositionName}}</span></td>
            <td colspan="5" style="text-align: right;"><span style="display: block; height: 10px;">{{dictPositionFundSource}}</span></td>
        </tr>
        <!--{{/dictEmployeePositions}}-->
        <tr>
            <td style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid;text-align: center;"><span style="display: block; font-weight: bold;  height: 11px;">За</span></td>
            <td style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid; font-weight: bold; text-align: center;"><span style="display: block; height: 11px;">Дні/</span></td>
            <td colspan="6" style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid; font-weight: bold; text-align: center;"><span style="display: block; height: 11px;">Нарахування/утримання</span></td>
            <td colspan="4" style="border:1px solid; font-weight: bold; text-align: center;"><span style="display: block; height: 11px;">Суми</span></td>
        </tr>
        <tr>
            <td style="border-width:0px 1px 1px 1px; border-color: black; border-style:solid; text-align: center;"><span style="display: block; height: 11px; font-weight: bold;">період</span></td>
            <td style="border-width:0px 1px 1px 1px; border-color: black; border-style:solid; text-align: center;"><span style="display: block; height: 11px; font-weight: bold;">год.</span></td>
            <td colspan="6" style="border-width:0px 1px 1px 1px; border-color: black; border-style:solid;"><span style="display: block; height: 11px;"></span></td>
            <td colspan="2" style="border:1px solid;text-align: center;"><span style="display: block; font-weight: bold; height: 11px;">Нараховано</span></td>
            <td colspan="2" style="border:1px solid; text-align: center;"><span style="display: block; font-weight: bold; height: 11px;">Утримано</span></td>
        </tr>
        <!--{{#leaveBlock}}-->
        <tr>
            <td colspan="2" style=" border-width:0px 1px 1px 1px; border-color: black; border-style:solid; text-align: right;"><span style="display: block; height: 18px; font-weight: bold;">{{workNorm}}</span></td>
            <td colspan="10" style=" border-width:0px 1px 1px 1px; border-color: black; border-style:solid;  text-align: left;"><span style="display: block; height: 18px; font-weight: bold;">{{payElName}}</span></td>
        </tr>
        <!--{{/leaveBlock}}-->
        <!--{{#payEl}}-->
        <!--{{#dictPosition}}-->
        <tr>
            <td style="border:1px solid; font-weight: bold; padding: 0px 0px 0px 10px;" colspan="12">{{dictPositionName}}</td>
        </tr>
        <!--{{/dictPosition}}-->
        <!--{{#periodSalaryAcc}}-->
        <tr>
            <td style="border:1px solid; height: 1px;" colspan="12"><span style="display: block; font-weight: bold; height: 10px;">{{perSalAccName}}</span></td>
        </tr>
        <!--{{/periodSalaryAcc}}-->
        <!--{{^periodSalaryAcc}}-->
        <!--{{^dictPosition}}-->
        <tr>
            <td style=" border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"><span style="display: block; height: 16px;">{{periodAcc}}</span></td>
            <td style=" border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"><span style="display: block; height: 16px;">{{daysAcc}}</span></td>
            <td colspan="6" style=" border-width:0px 1px 0px 1px; border-color: black; border-style:solid;  text-align: left;"><span style="display: block; height: 16px;">{{payElNameAcc}}</span></td>
            <td colspan="2" style=" border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: right;"><span style="display: block; height: 16px;">{{paySumAcc}}</span></td>
            <td colspan="2" style=" border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"><span style="display: block; height: 16px;"></span></td>
        </tr>
        <!--{{/dictPosition}}-->
        <!--{{/periodSalaryAcc}}-->
        <!--{{/payEl}}-->
        <!--{{#payEl}}-->
        <!--{{#periodSalaryKeep}}-->
        <tr>
            <td style="border:1px solid; font-weight: bold;height: 1px;" colspan="12"><span style="display: block; height: 10px;">{{perSalKeepName}}</span></td>
        </tr>
        <!--{{/periodSalaryKeep}}-->
        <!--{{/payEl}}-->
        <!--{{#keeps}}-->
        <!--{{#firstSalKeep}}-->
        <tr>
            <tr>
                <td style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"></td>
                <td style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"></td>
                <td colspan="6" style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid;text-align: left;"></td>
                <td colspan="2" style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"></td>
                <td colspan="2" style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"></td>
            </tr>
        </tr>
        <!--{{/firstSalKeep}}-->
        <tr>
            <td style="border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"><span style="display: block; height: 16px;">{{periodKeep}}</span></td>
            <td style="border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"><span style=" display: block; height: 16px;"></span></td>
            <td colspan="6" style="border-width:0px 1px 0px 1px; border-color: black; border-style:solid;text-align: left;"><span style="display: block; height: 16px;">{{payElNameKeep}}</span></td>
            <td colspan="2" style="border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"><span style="display: block; height: 16px;"></span></td>
            <td colspan="2" style="border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: right;"><span style="display: block; height: 16px;">{{paySumKeep}}</span></td>
        </tr>
        <!--{{/keeps}}-->
        <tr>
            <td colspan="8" style="border: 1px solid; "><span style="padding: 0px 0px 0px 5px; display: block; height: 11px; font-weight: bold;">Всього</span></td>
            <td colspan="2" style="border: 1px solid; text-align: right;"><span style="display: block; height: 11px; font-weight: bold;">{{paySumAccTotal}}</span></td>
            <td colspan="2" style="border: 1px solid; text-align: right;"><span style="display: block; height: 11px; font-weight: bold;">{{paySumKeepTotal}}</span></td>
        </tr>
        <!--{{#balanceIn}}-->
        <tr>
            <td colspan="12"><span style="font-weight: bold; font-size: 9pt; padding: 5px 0px 0px 5px; display: block; height: 16px;">Борг на початок періоду</span></td>
        </tr>
        <!--{{/balanceIn}}-->
        <!--{{#balanceInData}}-->
        <tr>
            <td colspan="2" style="border-left: 1px solid; text-align: center;"><span style="display: block; height: 11px;"></span></td>
            <td colspan="8" style="text-align: right;"><span style="display: block; height: 11px;">{{balanceName}}</span></td>
            <td colspan="2" style="text-align: right;"><span style="display: block; height: 11px;">{{balanceSum}}</span></td>
        </tr>
        <!--{{/balanceInData}}-->
        <!--{{#balanceOut}}-->
        <tr>
            <td colspan="12"><span style="font-weight: bold; font-size: 9pt; padding: 5px 0px 0px 5px; display: block; height: 16px;">Борг на кінець періоду</span></td>
        </tr>
        <!--{{/balanceOut}}-->
        <!--{{#balanceOutData}}-->
        <tr>
            <td colspan="2" style="border-left: 1px solid; text-align: center;"><span style="display: block; height: 11px;"></span></td>
            <td colspan="8" style="text-align: right;"><span style="display: block; height: 11px;">{{balanceName}}</span></td>
            <td colspan="2" style="text-align: right;"><span style="display: block; height: 11px;">{{balanceSum}}</span></td>
        </tr>
        <!--{{/balanceOutData}}-->
        <tr>
            <td colspan="12"><span style="font-weight: bold; font-size: 9pt; padding: 5px 0px 0px 5px; display: block; height: 16px;">Виплачено:</span></td>
        </tr>
        <!--{{#payouts}}-->
        <tr>
	    <!--{{#showpayoutdate}}-->
            <td colspan="2" style="border: 1px solid; text-align: center;"><span style="display: block; height: 11px;">{{payoutDate}}</span></td>
	    <!--{{/showpayoutdate}}-->
	    <!--{{^showpayoutdate}}-->
            <td colspan="2" style="border: 1px solid; text-align: center;"><span style="display: block; height: 11px;"></span></td>
	    <!--{{/showpayoutdate}}-->
            <td colspan="8" style="border: 1px solid; text-align: left;"><span style="display: block; height: 11px;">{{payoutName}}</span></td>
            <td colspan="2" style="border: 1px solid; text-align: right;"><span style="display: block; height: 11px;">{{payoutSum}}</span></td>
        </tr>
        <!--{{/payouts}}-->
        <tr>
            <td colspan="10" style="border: 1px solid; "><span style="padding: 0px 0px 0px 5px; display: block; height: 11px; font-weight: bold;">Всього виплачено</span></td>
            <td colspan="2" style="border: 1px solid; text-align: right;"><span style="display: block; height: 11px; font-weight: bold;">{{payoutSumTotal}}</span></td>
        </tr>
        <!--{{#isPageBreak}}-->
        <tr>
            <td colspan="12"><p>&nbsp;<!-- pagebreak --></p></td>
        </tr>
        <!--{{/isPageBreak}}-->
        <!--{{/rightTable}}-->
        <!--{{/pages}}-->
        </tbody>
    </table>
</div>
