<!--%pageOrientation:portrait--><table style="word-break: break-word; font-size: 10pt; margin: {{upMarginValue}}cm 0cm 0cm 0cm;" border="0" width="773" cellspacing="0" cellpadding="0">
<tbody>
<tbody>
<tr>
<td style="width: 100%;">
<table style="word-break: break-word; font-size: 10pt;margin-left: 40px" border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 60%;">&nbsp;</td>
<td style="width: 40%;">Додаток 1<br/>до постанови правління Фонду<br/>від 28 лютого 2007 р. N 13</td>
</tr>
</tbody>
</table>

<p style="text-align: center; font-weight: bold; font-size: 12pt; margin: 0cm 0cm 0cm {{leftMarginValue}}cm;">ДОВІДКА<br/>про середню заробітну плату (дохід)<br/>(для призначення допомоги у зв'язку з тимчасовою непрацездатністю)</p>


<table style="word-break: break-word; font-size: 10pt;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>

    <td style="width: 80px; padding: 0; vertical-align: bottom;">&nbsp;</td>
</tr>
<tr>

    <td style="width: 80px; padding: 0; vertical-align: bottom;">видана особі</td>
<td style="width: 692px; padding: 0; text-align: center; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{employee.datName}}</td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">(прізвище, ім'я та по батькові)</td>
</tr>
</tbody>
</table>
<table style="word-break: break-word; font-size: 10pt;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 260px; padding: 0; vertical-align: bottom;">який (яка) працює (працював) (працювала)</td>
<td style="width: 512px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center">{{orgDat}}</td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="vertical-align: top; text-align: center; padding: 0; font-size: 7pt;">(назва підприємства, установи, організації)</td>
</tr>
</tbody>
</table>
<table style="word-break: break-word; font-size: 10pt;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 150px; padding: 0; vertical-align: bottom;">ідентифікаційний номер</td>
<td style="width: 180px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center">{{employee.taxCode}}</td>
<td style="width: 180px; padding: 0; vertical-align: bottom;">, номер страхового свідоцтва </td>
<td style="width: 262px; padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center"></td>
</tr>
</tbody>
</table>
<p></p>
<table style="word-break: break-word; border-collapse: collapse; font-size: 10pt; border: 2px black solid" border="1px" width="100%" cellspacing="0" cellpadding="3">
<tbody>
<tr>
<td style="text-align: center; vertical-align: top; width: 40px">N<br/>п/п</td>
<td style="text-align: center; vertical-align: top; width: 120px">Місяці розрахун-<br/>кового періоду</td>
<td style="text-align: center; vertical-align: top; width: 170px">Кількість відпрацьованих робочих днів (годин)</td>
<td style="text-align: center; vertical-align: top; width: 170px">Заробітна плата за відпрацьований час за основним місцем роботи, з якої сплачено страхові внески до Фонду, грн. </td>
<td style="text-align: center; vertical-align: top; width: 170px">Заробітна плата за відпрацьований час за сумісництвом, з якої сплачено страхові внески до Фонду, грн. </td>
<td style="text-align: center; vertical-align: top; width: 103px">Сумарна заробітна плата, грн. (гр. 4 + гр. 5)</td>
</tr>
<tr style="border: 2px black solid; font-weight: bold">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
<td style="text-align: center;">5</td>
<td style="text-align: center;">6</td>
</tr>
<!--{{#timeSheetData}}--><tr>
<td style="text-align: center;">{{num}}</td>
<td style="text-align: left;">{{periodDesc}}</td>
<td style="text-align: right;">{{sum1}}</td>
<td style="text-align: right;">{{sum2}}</td>
<td style="text-align: right;">{{sum3}}</td>
<td style="text-align: right;">{{sum4}}</td>
</tr><!--{{/timeSheetData}}-->
<tr style="border:2px black solid; font-weight: bold">
<td style="text-align: center;"></td>
<td style="text-align: left;">Усього</td>
<td style="text-align: right;">{{allSum.sum1}}</td>
<td style="text-align: right;">{{allSum.sum2}}</td>
<td style="text-align: right;">{{allSum.sum3}}</td>
<td style="text-align: right;">{{allSum.sum4}}</td>
</tr>
</tbody>
</table>
<div>&nbsp;</div>
<div style="text-align: justify; font-weight: bold">Для допомоги по тимчасовій непрацездатності:</div>
<div style="text-align: justify; padding: 5px 0 5px 0">Середньоденна (середньогодинна) заробітна плата (рядок 13 гр. 6 : рядок 13 гр. 3) <span style="text-decoration: underline">{{avgSalary}}</span> (грн.). </div>
<div>&nbsp;</div>
<table style="word-break: break-word; font-size: 10pt; margin-left: 40px" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 163px; padding: 0; vertical-align: center; text-align: center">Керівник підприємства<br/>(фізична особа) </td>
<td style="width: 40px;">&nbsp;</td>
<td style="width: 224px; padding: 0; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
<td style="width: 40px;">&nbsp;</td>
<td style="width: 283px; padding: 0; vertical-align: bottom; text-align: center; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{headEmployeeName}}</td>
<td style="width: 23px;">&nbsp;</td>
</tr>
<tr>
<td style="padding: 0; vertical-align: top; text-align: center; font-size: 7pt"></td>
<td>&nbsp;</td>
<td style="padding: 0; vertical-align: top; text-align: center; font-size: 7pt">(підпис)</td>
<td>&nbsp;</td>
<td style="padding: 0; vertical-align: top; text-align: center; font-size: 7pt">(ініціали, прізвище)</td>
<td>&nbsp;</td>
</tr>
<tr><td colspan="6" style="padding: 0">&nbsp;</td></tr>
<tr>
<td style="padding: 0; vertical-align: center; text-align: center;"  rowspan="3">Головний бухгалтер</td>
<td colspan="5">&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="padding: 0; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">&nbsp;</td>
<td>&nbsp;</td>
<td style="padding: 0; vertical-align: bottom; text-align: center; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;">{{accEmployeeName}}</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="padding: 0; vertical-align: top; text-align: center; font-size: 7pt">(підпис)</td>
<td>&nbsp;</td>
<td style="padding: 0; vertical-align: top; text-align: center; font-size: 7pt">(ініціали, прізвище)</td>
<td>&nbsp;</td>
</tr>
<tr>
<td style="padding: 0; vertical-align: center; text-align: center">М. П.</td>
<td style="padding: 0; vertical-align: center; text-align: center" colspan="5"></td>
</tr>
<tr><td colspan="6">&nbsp;</td></tr>
<tr>
<td style="padding: 0; vertical-align: center; text-align: center">телефон виконавця</td>
<td style="padding: 0; vertical-align: center; text-align: center" colspan="5"></td>
</tr>
<tr><td colspan="6">&nbsp;</td></tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>