<!--%pageOrientation:landscape-->
<table style="border-collapse: collapse; font-family: TimesNewRoman; font-size: 10pt;" width="{{sheetWidth}}px" border="0" cellspacing="1" cellpadding="0">
    <tbody>
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 14pt;" colspan="{{allColCount}}">Фонд оплати праці та середньооблікова чисельність працівників, оплата праці яких визначена письмовими трудовими договорами</td>
    </tr>
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{allColCount}}">{{strPeriodName}}</td>
    </tr>
    <tr style="font-weight: bold">
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{allColCount}}">{{orgName}}</td>
    </tr>
    <!--{{#depName}}-->
    <tr style="font-weight: bold">
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{allColCount}}">{{depName}}</td>
    </tr>
    <!--{{/depName}}-->
    <!--{{#empName}}-->
    <tr style="font-weight: bold">
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{allColCount}}">{{empName}}</td>
    </tr>
    <!--{{/empName}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:300px" width="300px" rowspan="3" colspan="2">Коди виплат</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:160px" width="160px" colspan="2">Штатні працівники</td>
        <!--{{#isColListEmpty}}-->
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;" width="{{colListWidth}}px" colspan="{{colListCount}}">В тому числі</td>
        <!--{{/isColListEmpty }}-->
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">Інші (сумісники)</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" rowspan="2" colspan="1">Всього</td>
    </tr>
    <tr style="font-size: 12pt;">
        <td style=" text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:160px" width="160px" colspan="2">Всього</td>
        <!--{{#colList}}-->
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:160px" width="160px" colspan="2">{{colName}}</td>
        <!--{{/colList }}-->
        <td style=" text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">Всього</td>
    </tr>
    <tr style="font-size: 12pt;">
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">ФОП, грн.</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">Сер.облікова чис-ть шт.пр, од.</td>
        <!--{{#colList}}-->
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">ФОП, грн.</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">Сер.облікова чис-ть шт.пр, од.</td>
        <!--{{/colList }}-->
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">ФОП, грн.</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">ФОП, грн.</td>
    </tr>
    <!--{{#summaryAll}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:300px" width="300px" colspan="2">Всього по ФОП (основна ЗП, додаткова ЗП, ЗП з фонду спож.)</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPStateSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"avgListEmpCountStateSum","sum"{{/$fs}}</td>
        <!--{{#FZPSumDet}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"value","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"dayCount","sum"{{/$fs}}</td>
        <!--{{/FZPSumDet }}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPOtherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPAllSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/summaryAll }}-->
    <!--{{#FOZPSummary}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; font-weight: bold; width:300px" width="300px" colspan="2">Основна ЗП</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPStateSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1"></td>
        <!--{{#FZPSumDet}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"value","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1"></td>
        <!--{{/FZPSumDet }}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPOtherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPAllSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/FOZPSummary }}-->
    <!--{{#FOZP}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:300px" width="300px" colspan="2">{{payElName}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPStateSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1"></td>
        <!--{{#FZPSumDet}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"value","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1"></td>
        <!--{{/FZPSumDet }}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPOtherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPAllSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/FOZP }}-->
    <!--{{#FDZPSummary}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; font-weight: bold; width:300px" width="300px" colspan="2">Додаткова ЗП</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPStateSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1"></td>
        <!--{{#FZPSumDet}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"value","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1"></td>
        <!--{{/FZPSumDet }}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPOtherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPAllSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/FDZPSummary }}-->
    <!--{{#FDZP}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:300px" width="300px" colspan="2">{{payElName}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPStateSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1"></td>
        <!--{{#FZPSumDet}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"value","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1"></td>
        <!--{{/FZPSumDet }}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPOtherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPAllSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/FDZP }}-->
    <!--{{#ZKVSummary}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; font-weight: bold; width:300px" width="300px" colspan="2">ЗП з фонду спожив.</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPStateSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{}}</td>
        <!--{{#FZPSumDet}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"value","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{}}</td>
        <!--{{/FZPSumDet }}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPOtherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPAllSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/ZKVSummary }}-->
    <!--{{#ZKV}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:300px" width="300px" colspan="2">{{payElName}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPStateSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1"></td>
        <!--{{#FZPSumDet}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"value","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1"></td>
        <!--{{/FZPSumDet }}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPOtherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPAllSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/ZKV}}-->
    <!--{{#FZPSummary}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; font-weight: bold; width:300px" width="300px" colspan="2">ЗП не з фонду спожив.</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPStateSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1"></td>
        <!--{{#FZPSumDet}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"value","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1"></td>
        <!--{{/FZPSumDet }}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPOtherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPAllSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/FZPSummary }}-->
    <!--{{#FZP}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:300px" width="300px" colspan="2">{{payElName}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPStateSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1"></td>
        <!--{{#FZPSumDet}}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"value","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1"></td>
        <!--{{/FZPSumDet }}-->
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPOtherSum","sum"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; width:80px" width="80px" colspan="1">{{#$fs}}"FZPAllSum","sum"{{/$fs}}</td>
    </tr>
    <!--{{/FZP}}-->
    </tbody>
</table>