<!--%pageOrientation:landscape-->
<table style="border-collapse: collapse; font-family: TimesNewRoman; font-size: 11pt" border="0" width="{{sheetSize}}" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 1px;">
    <td style="width: 33px;">&nbsp;</td>
    <td style="width: 35px;">&nbsp;</td>
    <td style="width: 155px;">&nbsp;</td>
    <!--{{#showOrgName}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showOrgName}}-->
    <td style="width: 125px;">&nbsp;</td>
    <td style="width: 145px;">&nbsp;</td>
    <!--{{#showColumnSexType}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnSexType}}-->
    <!--{{#showColumnBirthDate}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnBirthDate}}-->
    <!--{{#showColumnDateFrom}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnDateFrom}}-->
    <!--{{#showColumnDateTo}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnDateTo}}-->
    <!--{{#showColumnDictStaffCat}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnDictStaffCat}}-->
    <!--{{#showColumnMtCount}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnMtCount}}-->
    <!--{{#showColumnWorkPlace}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnWorkPlace}}-->
    <!--{{#showColumnWorkerType}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnWorkerType}}-->
    <!--{{#showColumnWorkSchedule}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnWorkSchedule}}-->
    <!--{{#showColumnAccountID}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnAccountID}}-->
    <!--{{#showColumnDictCostType}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnDictCostType}}-->
    <!--{{#showColumnDictCategoryECB}}-->
    <td style="width: 125px;">&nbsp;</td>
    <!--{{/showColumnDictCategoryECB}}-->
    <!--{{#showSalaryPeriod}}-->
    <td style="width: 81px;">&nbsp;</td>
    <!--{{/showSalaryPeriod}}-->
    <!--{{#showCalcPeriod}}-->
    <td style="width: 81px;">&nbsp;</td>
    <!--{{/showCalcPeriod}}-->
    <td style="width: 125px;">&nbsp;</td>
    <td style="width: 70px;">&nbsp;</td>
    <td style="width: 70px;">&nbsp;</td>
    <td style="width: 70px;">&nbsp;</td>
    <!--{{#payFundNames}}-->
    <td style="width: 70px;">&nbsp;</td>
    <td style="width: 70px;">&nbsp;</td>
    <td style="width: 70px;">&nbsp;</td>
    <!--{{/payFundNames}}-->
</tr>
<tr>
<td style="padding: 0; vertical-align: bottom; text-align: right" colspan="3">Найменування організації&nbsp;&nbsp;&nbsp;</td>
<td style="padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center" colspan="{{titleColSpan}}">{{hrOrg.name}}</td>
<td colspan="{{restColSpan}}">&nbsp;</td>
</tr>
<tr><td colspan="{{allColSpanNum}}">&nbsp;</td></tr>
<tr>
<td style="padding: 0; vertical-align: bottom; text-align: right" colspan="3">&nbsp;</td>
<td style="padding: 0; vertical-align: bottom; text-align: center; font-weight: bold" colspan="{{titleColSpan}}">Відомість розрахунку нарахувань у фонди</td>
<td colspan="{{restColSpan}}">&nbsp;</td>
</tr>
<tr><td colspan="{{allColSpanNum}}">&nbsp;</td></tr>
<tr style="font-weight: bold">
<td style="padding: 0; vertical-align: bottom; text-align: right" colspan="3">за</td>
<td style="padding: 0; vertical-align: bottom; text-align: center; border-bottom: 1px solid" colspan="{{titleColSpan}}">{{strPeriodName}}</td>
<td colspan="{{restColSpan}}">&nbsp;</td>
</tr>
<tr style="height: 10px;"><td colspan="{{allColSpanNum}}">&nbsp;</td></tr>
<!--{{#isDep}}-->
<tr style="font-weight: bold">
    <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="3">підрозділ&nbsp;&nbsp;&nbsp;</td>
    <td style="padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center" colspan="{{titleColSpan}}">{{depName}}</td>
    <td colspan="{{restColSpan}}">&nbsp;</td>
</tr>
<!--{{/isDep}}-->
<!--{{#isFundSource}}-->
<tr style="font-weight: bold">
    <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="3">{{fundSourceTitle}}</td>
    <td style="padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center" colspan="{{titleColSpan}}">{{fundSourceDescription}}</td>
    <td colspan="{{restColSpan}}">&nbsp;</td>
</tr>
<!--{{/isFundSource}}-->
<tr style="height: 10px;"><td colspan="{{allColSpanNum}}">&nbsp;</td></tr>
<tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
    <td style="width: 33px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">№<br/>з/п</td>
    <td style="width: 35px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Таб.<br/>№</td>
    <td style="width: 155px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">ПІБ</td>
    <!--{{#showOrgName}}-->
    <td style="width: 125px; border: 1px solid;" rowspan="2">Організація</td>
    <!--{{/showOrgName}}-->
    <td style="width: 125px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Підрозділ</td>
    <td style="width: 145px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Посада</td>
    <!--{{#showColumnSexType}}-->
    <td style="width: 125px; border: 1px solid;" rowspan="2">Стать</td>
    <!--{{/showColumnSexType}}-->
    <!--{{#showColumnBirthDate}}-->
    <td style="width: 125px; border: 1px solid;" rowspan="2">Дата народження</td>
    <!--{{/showColumnBirthDate}}-->
    <!--{{#showColumnDateFrom}}-->
    <td style="width: 125px; border: 1px solid;" rowspan="2">Дата прийому на роботу</td>
    <!--{{/showColumnDateFrom}}-->
    <!--{{#showColumnDateTo}}-->
    <td style="width: 125px; border: 1px solid;" rowspan="2">Дата звільнення</td>
    <!--{{/showColumnDateTo}}-->
    <!--{{#showColumnDictStaffCat}}-->
    <td style="width: 125px; border: 1px solid;" rowspan="2">Категорія персоналу</td>
    <!--{{/showColumnDictStaffCat}}-->
    <!--{{#showColumnMtCount}}-->
    <td style="width: 125px; border: 1px solid;" rowspan="2">Кількість ставок</td>
    <!--{{/showColumnMtCount}}-->
    <!--{{#showColumnWorkPlace}}-->
    <td style="width: 125px; border: 1px solid;" rowspan="2">Місце роботи</td>
    <!--{{/showColumnWorkPlace}}-->
    <!--{{#showColumnWorkerType}}-->
    <td style="width: 125px; border: 1px solid;" rowspan="2">Форма зайнятості</td>
    <!--{{/showColumnWorkerType}}-->
    <!--{{#showColumnWorkSchedule}}-->
    <td style="width: 125px; border: 1px solid;" rowspan="2">Графік роботи</td>
    <!--{{/showColumnWorkSchedule}}-->
    <!--{{#showColumnAccountID}}-->
    <td style="width: 125px; border: 1px solid;" rowspan="2">Рахунок витрат</td>
    <!--{{/showColumnAccountID}}-->
    <!--{{#showColumnDictCostType}}-->
    <td style="width: 125px; border: 1px solid;" rowspan="2">Місце виникнення витрат</td>
    <!--{{/showColumnDictCostType}}-->
    <!--{{#showColumnDictCategoryECB}}-->
    <td style="width: 125px; border: 1px solid;" rowspan="2">Категорія застрахованої особи</td>
    <!--{{/showColumnDictCategoryECB}}-->
    <!--{{#showSalaryPeriod}}-->
    <td style="width: 81px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Обліковий<br/>період</td>
    <!--{{/showSalaryPeriod}}-->
    <!--{{#showCalcPeriod}}-->
    <td style="width: 81px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Розрахунковий<br/>період</td>
    <!--{{/showCalcPeriod}}-->
    <td style="width: 125px; border: 1px solid;" rowspan="2">Всього нараховано</td>
    <td style="width: 210px; border: 1px solid;" colspan="3">Всього</td>
    <!--{{#payFundNames}}-->
    <td style="width: 210px; border-right: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="3">{{payFundName}}<!--{{#rate}}--> ({{rate}}%)<!--{{/rate}}--></td>
    <!--{{/payFundNames}}-->
    </tr>
    <tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
    <td style="width: 70px; border-left: 1px solid; border-bottom: 1px solid;">Сума для ЄСВ (не обмежена)</td>
    <td style="width: 70px; border-left: 1px solid; border-bottom: 1px solid;"> Сума, на яку нараховано ЄСВ</td>
    <td style="width: 70px; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">Сума ЄСВ</td>
    <!--{{#payFundVals}}-->
    <td style="width: 70px; border-left: 1px solid; border-bottom: 1px solid;">Сума для ЄСВ (не обмежена)</td>
    <td style="width: 70px; border-left: 1px solid; border-bottom: 1px solid;"> Сума, на яку нараховано ЄСВ</td>
    <td style="width: 70px; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">Сума ЄСВ</td>
    <!--{{/payFundVals}}-->
</tr>

<!--{{#depts}}-->
<!--{{#dept}}-->
<tr style="page-break-inside: avoid;">
    <td style="font-family: TimesNewRoman; font-size: 12pt; font-weight: bold; padding-left: 15px; text-align: left; border-width: 1px; border-style: solid;" colspan="{{colCount}}">{{&deptName}}</td>
</tr>
<!--{{/dept}}-->

<!--{{#emps}}-->
<tr>
    <td style="vertical-align: top; width: 33px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{num}}</td>
    <td style="vertical-align: top; width: 35px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{tabNum}}</td>
    <td style="vertical-align: top; width: 155px; min-width: 145px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{fullFIO}}</td>
    <!--{{#showOrgName}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{orgName}}</td>
    <!--{{/showOrgName}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{depName}}</td>
    <td style="vertical-align: top; width: 145px;  min-width: 145px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
    <!--{{#showColumnSexType}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: center; border: 1px solid;">{{sexType}}</td>
    <!--{{/showColumnSexType}}-->
    <!--{{#showColumnBirthDate}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: center; border: 1px solid;">{{birthDate}}</td>
    <!--{{/showColumnBirthDate}}-->
    <!--{{#showColumnDateFrom}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: center; border: 1px solid;">{{startWork}}</td>
    <!--{{/showColumnDateFrom}}-->
    <!--{{#showColumnDateTo}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: center; border: 1px solid;">{{endWork}}</td>
    <!--{{/showColumnDateTo}}-->
    <!--{{#showColumnDictStaffCat}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border: 1px solid;">{{staffCatName}}</td>
    <!--{{/showColumnDictStaffCat}}-->
    <!--{{#showColumnMtCount}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: center; border: 1px solid;">{{mtCount}}</td>
    <!--{{/showColumnMtCount}}-->
    <!--{{#showColumnWorkPlace}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border: 1px solid;">{{workPlace}}</td>
    <!--{{/showColumnWorkPlace}}-->
    <!--{{#showColumnWorkerType}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border: 1px solid;">{{workerType}}</td>
    <!--{{/showColumnWorkerType}}-->
    <!--{{#showColumnWorkSchedule}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border: 1px solid;">{{workSchedule}}</td>
    <!--{{/showColumnWorkSchedule}}-->
    <!--{{#showColumnAccountID}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border: 1px solid;">{{accountName}}</td>
    <!--{{/showColumnAccountID}}-->
    <!--{{#showColumnDictCostType}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border: 1px solid;">{{dictCostType}}</td>
    <!--{{/showColumnDictCostType}}-->
    <!--{{#showColumnDictCategoryECB}}-->
    <td style="vertical-align: top; width: 125px; min-width: 125px; text-align: left; border: 1px solid;">{{dictCategoryECB}}</td>
    <!--{{/showColumnDictCategoryECB}}-->
    <!--{{#showSalaryPeriod}}-->
    <td style="vertical-align: top; width: 81px; min-width: 81px;text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{periodSalaryName}}</td>
    <!--{{/showSalaryPeriod}}-->
    <!--{{#showCalcPeriod}}-->
    <td style="vertical-align: top; width: 81px; min-width: 81px;text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{periodCalcName}}</td>
    <!--{{/showCalcPeriod}}-->
    <td style="vertical-align: top; width: 70px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"accPaySum","decimal2"{{/$fs}}</td>
    <td style="vertical-align: top; width: 70px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"sourceSum","decimal2"{{/$fs}}</td>
    <td style="vertical-align: top; width: 70px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
    <td style="vertical-align: top; width: 70px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{#payFundArr}}-->
    <td style="vertical-align: top; width: 70px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"sourceSum","decimal2"{{/$fs}}</td>
    <td style="vertical-align: top; width: 70px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
    <td style="vertical-align: top; width: 70px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <!--{{/payFundArr}}-->
</tr>
<!--{{/emps}}-->
<!--{{#depSum}}-->
<tr style="background-color: #f0f0f0; font-weight: bold">
    <td style=" text-align: right; border: 1px solid;" colspan="{{groupColumn}}">{{&title}} &nbsp;</td>
    <!--{{#dsum}}-->
    <td style="width: 70px; text-align: right; border-right: 1px solid; border-bottom: 1px solid;">{{#$fs}}"sum","decimal2"{{/$fs}}</td>
    <!--{{/dsum}}-->
</tr>
<!--{{/depSum}}-->

<!--{{/depts}}-->


<tr style="background-color: #f0f0f0; font-weight: bold">
<td style=" text-align: right; border: 1px solid;" colspan="{{groupColumn}}">Всього &nbsp;</td>
<!--{{#allSumArr}}-->
<td style="width: 70px; text-align: right; border-right: 1px solid; border-bottom: 1px solid;">{{#$fs}}"sum","decimal2"{{/$fs}}</td>
<!--{{/allSumArr}}-->
</tr>
</tbody>
</table>