<!--%pageOrientation:portrait--><table style="word-break: break-word; margin: {{upMarginValue}}cm 0cm 0cm 0cm;" border="0" width="773" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 100%;">
<p>&nbsp;</p>
<p style="text-align: center; font-weight: bold;">ДОВІДКА</p>
<p style="text-indent: 50px; line-height: 1.5; text-align: justify;">Видана <span style="text-decoration: underline">{{employee.datName}}</span> в тому, що він (вона) дійсно працює в <span style="text-decoration: underline">{{orgData.nameLoc}}</span> з <!--{{#employee.dateFrom}}--><span style="text-decoration: underline">{{employee.dateFrom}}</span><!--{{/employee.dateFrom}}--><!--{{^employee.dateFrom}}-->__.__________ ____<!--{{/employee.dateFrom}}--> року до цього часу на посаді <!--{{#employee.posName}}--><span style="text-decoration: underline">{{employee.posName}}</span><!--{{/employee.posName}}--><!--{{^employee.posName}}-->__________<!--{{/employee.posName}}-->.</p>
<p style="text-indent: 50px; line-height: 1.5; text-align: justify;">Заробітна плата за період з <span style="text-decoration: underline">{{periodFrom}}</span> по <span style="text-decoration: underline">{{periodTo}}</span> року складає <span style="text-decoration: underline">{{paySum}}</span> (<span style="text-decoration: underline">{{paySumWords}}</span>).</p>
<p style="text-indent: 50px; line-height: 1.5; text-align: justify;"><span style="text-decoration: underline">{{orgData.name}}</span> не заперечує проти відсутності <span style="text-decoration: underline">{{employee.genName}}</span> в період поїздки і зберігає за співробітником посаду та заробітну плату.</p>
<p style="text-indent: 50px; line-height: 1.5; text-align: justify;">Довідка видана для пред′явлення в Посольство <!--{{#embassy}}--><span style="text-decoration: underline">{{embassy}}</span><!--{{/embassy}}--><!--{{^embassy}}-->________________<!--{{/embassy}}--> в Україні.</p>
<p></p>
<p style="text-indent: 50px; line-height: 1.5;">Керівник</p>
<p style="text-indent: 50px; line-height: 1.5;"><!--{{#headEmployeeName}}--><span style="text-decoration: underline">{{headEmployeeName}}</span><!--{{/headEmployeeName}}--><!--{{^headEmployeeName}}-->_______________________<!--{{/headEmployeeName}}--></p>
<p></p>
<p style="text-indent: 50px; line-height: 1.5;">Головний бухгалтер</p>
<p style="text-indent: 50px; line-height: 1.5;"><!--{{#accEmployeeName}}--><span style="text-decoration: underline">{{accEmployeeName}}</span><!--{{/accEmployeeName}}--><!--{{^accEmployeeName}}-->_______________________<!--{{/accEmployeeName}}--></p>
</td>
</tr>
</tbody>
</table>