<!--%pageOrientation:landscape-->

<table style="word-wrap: break-word; border-collapse: collapse;" border="0px" width="1520px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr style="height: 1px;">
      <td style="width: 200px;">&nbsp;</td>
      <td style="width: 120px;">&nbsp;</td>
      <td style="width: 80px;">&nbsp;</td>
      <td style="width: 80px;">&nbsp;</td>
      <td style="width: 80px;">&nbsp;</td>
      <td style="width: 80px;">&nbsp;</td>
      <td style="width: 80px;">&nbsp;</td>
      <td style="width: 80px;">&nbsp;</td>
      <td style="width: 80px;">&nbsp;</td>
      <td style="width: 120px;">&nbsp;</td>
      <td style="width: 120px;">&nbsp;</td>
      <!--{{#showOrgName}}-->
      <td style="width: 120px;">&nbsp;</td>
      <!--{{/showOrgName}}-->
      <td style="width: 120px;">&nbsp;</td>
      <td style="width: 80px;">&nbsp;</td>
      <td style="width: 80px;">&nbsp;</td>
    </tr>
    <!--{{^hideHeader}}-->
    <tr>
      <td style="font-family: TimesNewRoman; text-align: center;font-weight: bold; font-size: 11pt; border-bottom: 1px solid;" colspan="{{columnCount}}">{{organizationName}}</td>
    </tr>
    <tr>
      <td style="width: 670px; font-size: 12pt; height: 24px" colspan="{{columnCount}}"> </td>
    </tr>
    <tr>
      <td style="font-family: TimesNewRoman; text-align: center; width: 1400px; font-weight: bold; font-size: 12pt;" colspan="{{columnCount}}">Відомість заборгованості по виплаті зарплати за {{periodName}} року</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
      <td style="width: 670px; font-size: 12pt; height: 24px" colspan="{{columnCount}}"> </td>
    </tr>
    <tr>
      <td style="font-family: TimesNewRoman; text-align: center;font-weight: bold; font-size: 11pt; border-bottom: 1px solid;" colspan="{{columnCount}}">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <!--{{/hideHeader}}-->
    <!--{{#debtParamName}}-->
    <tr>
      <td style="width: 670px; font-size: 12pt; height: 24px" colspan="{{columnCount}}"> </td>
    </tr>
    <tr>
      <td style="font-family: TimesNewRoman; text-align: center;font-weight: bold; font-size: 11pt;" colspan="{{columnCount}}">{{debtParamName}}</td>
    </tr>
    <tr>
        <td style="width: 670px; font-size: 12pt; height: 24px" colspan="{{columnCount}}"> </td>
    </tr>
    <!--{{/debtParamName}}-->
    <tr style="font-weight: bold;">
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">ПIБ</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Джерело фінансування</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Сальдо вхідне</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Нараховано</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Утримано</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Виплачено</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Сальдо вихідне</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Борг перед працівником</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Борг працівника</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Підрозділ</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Структурний підрозділ</td>
      <!--{{#showOrgName}}-->
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Організація</td>
      <!--{{/showOrgName}}-->
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Посада</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Дата прийому</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border: 1px solid;">Дата звільнення</td>
    </tr>
    <!--{{#depts}}-->
    <!--{{#dept}}-->
    <tr style="page-break-inside: avoid;<!--{{#isOrg}}-->background-color: #f0f0f0;<!--{{/isOrg}}-->">
      <td style="font-family: TimesNewRoman; font-size: 12pt; font-weight: bold; padding-left: 15px; text-align: left; border-width: 1px; border-style: solid; page-break-inside: avoid;" colspan="{{columnCount}}">{{&deptName}}</td>
    </tr>
    <!--{{/dept}}-->
    <!--{{#emps}}-->
    <tr style="vertical-align: top; page-break-inside: avoid;">
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{fullFIO}} [{{tabNum}}]</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{fundSource}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"sumFrom","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"sumPlus","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"sumMinus","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"sumPay","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"sumTo","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"debtByOrg","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"debtByEmp","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{depName}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{selfStructDepName}}</td>
      <!--{{#showOrgName}}-->
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{orgName}}</td>
      <!--{{/showOrgName}}-->
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{posName}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{dateFrom}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border: 1px solid;">{{dateTo}}</td>
    </tr>
    <!--{{/emps}}-->
    <!--{{#isGroupDep}}-->
    <!--{{#depSum}}-->
    <tr style="background-color: #f0f0f0; font-weight: bold; page-break-inside: avoid;">
      <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">&nbsp;</td>
      <td style="text-align: right; border: 1px solid;">{{&title}} &nbsp;</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"sumFrom","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"sumPlus","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"sumMinus","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"sumPay","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"sumTo","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"debtByOrg","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"debtByEmp","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
      <!--{{#showOrgName}}-->
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
      <!--{{/showOrgName}}-->
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border: 1px solid;"></td>
    </tr>
    <!--{{/depSum}}-->
    <!--{{/isGroupDep}}-->
    <!--{{/depts}}-->
    <!--{{#showTotalAll}}-->
    <tr>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="2">Всього</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"totalSumFrom","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"totalSumPlus","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"totalSumMinus","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"totalSumPay","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"totalSumTo","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"totalDebtByOrg","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"totalDebtByEmp","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
      <!--{{#showOrgName}}-->
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
      <!--{{/showOrgName}}-->
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border: 1px solid;"></td>
    </tr>
    <!--{{/showTotalAll}}-->
    <tr style="page-break-inside: avoid;">
      <td style="font-family: TimesNewRoman; font-size: 12pt; font-weight: bold; padding-left: 15px; text-align: left; border-width: 1px; border-style: solid; page-break-inside: avoid;" colspan="{{columnCount}}">У т.ч. за джерелами фінансування :</td>
    </tr>
    <!--{{#totalByFundSource}}-->
    <tr>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;"></td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{fundSource}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"sumFrom","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"sumPlus","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"sumMinus","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"sumPay","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"sumTo","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"debtByOrg","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"debtByEmp","decimal2"{{/$fs}}</td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
      <!--{{#showOrgName}}-->
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
      <!--{{/showOrgName}}-->
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
      <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: center; border: 1px solid;"></td>
    </tr>
    <!--{{/totalByFundSource}}-->
    </tbody>
</table>