<!--%pageOrientation:portrait--><table style="word-break: break-word; border-collapse: collapse;" border="0" width="773" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 40px;">&nbsp;</td>
<td style="width: 63px;">&nbsp;</td>
<td style="width: 113px;">&nbsp;</td>
<td style="width: 70px;">&nbsp;</td>
<td style="width: 103px;">&nbsp;</td>
<td style="width: 40px;">&nbsp;</td>
<td style="width: 88px;">&nbsp;</td>
<td style="width: 141px;">&nbsp;</td>
<td style="width: 115px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 517px" colspan="7"></td>
<td style="width: 256px; font-weight: bold" colspan="2">Типова форма № П-6</td>
</tr>
<tr>
<td style="width: 517px" colspan="7"></td>
<td style="width: 256px;" colspan="2">ЗАТВЕРДЖЕНО</td>
</tr>
<tr>
<td style="width: 517px" colspan="7"></td>
<td style="width: 256px;" colspan="2">наказом Держкомстату України</td>
</tr>
<tr>
<td style="width: 517px" colspan="7"></td>
<td style="width: 256px;" colspan="2">від 5 грудня 2008 р. № 489</td>
</tr>
<tr>
<td style="width: 517px; text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="7">{{orgName}}</td>
<td style="width: 141px; text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Код<br />ЄДРПОУ</td>
<td style="width: 115px; text-align: center; vertical-align: top; border: 1px solid;">{{EDRPOUCode}}</td>
</tr>
<tr>
<td style="width: 773px; text-align: center; vertical-align: center; height: 30px" colspan="9">{{orgName}}</td>
</tr>
<tr>
<td style="width: 103px; text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="2">Дата заповнення</td>
<td style="width: 113px; text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">П. І. Б.</td>
<td style="width: 70px; text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Стать</td>
<td style="width: 103px; text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Табельний номер</td>
<td style="width: 128px; text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="2">Індивідуальний ідентифікаційний номер</td>
<td style="width: 141px; text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Професія, посада (код за Класифікатором професій)</td>
<td style="width: 115px; text-align: center; vertical-align: top; border: 1px solid;">Відпрацьовано днів (годин)</td>
</tr>
<tr>
<td style="width: 103px; text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;" colspan="2">{{reportDate}}</td>
<td style="width: 113px; text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">{{otherParams.empPosData.fullFIO}}</td>
<td style="width: 70px; text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">{{otherParams.empPosData.sexType}}</td>
<td style="width: 103px; text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">{{otherParams.empPosData.tabNum}}</td>
<td style="width: 128px; text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;" colspan="2">{{otherParams.empPosData.taxCode}}</td>
<td style="width: 141px; text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">{{otherParams.empPosData.posFull}}</td>
<td style="width: 115px; text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{otherParams.timeSheet.timeSheetFull}}</td>
</tr>
<tr>
<td style="width: 773px;" colspan="9">&nbsp;</td>
</tr>
<tr>
<td style="width: 773px; text-align: center; vertical-align: center; font-weight: bold; height: 40px" colspan="9">РОЗРАХУНКОВО-ПЛАТІЖНА ВІДОМІСТЬ<br/>працівника</td>
</tr>
<tr>
<td style="width: 773px;" colspan="9">&nbsp;</td>
</tr>
<tr>
<td style="width: 286px; text-align: right; vertical-align: bottom; font-weight: bold" colspan="4">за</td>
<td style="width: 143px; text-align: center; vertical-align: bottom; font-weight: bold; border-bottom: 1px solid;" colspan="2">{{periodMonth}}</td>
<td style="width: 344px; text-align: left; vertical-align: bottom; font-weight: bold" colspan="3">20{{periodYear}} р.</td>
</tr>
<tr>
<td style="width: 773px;" colspan="9">&nbsp;</td>
</tr>
<tr>
<td style="text-align: center; vertical-align: top; font-weight: bold; border-left: 2px solid; border-bottom: 1px solid; border-top: 2px solid;" rowspan="2">N<br />п/п</td>
<td style="text-align: center; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 2px solid;" colspan="4">Нараховано за видами оплат</td>
<td style="text-align: center; vertical-align: top; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 2px solid;" rowspan="2">N<br />п/п</td>
<td style="text-align: center; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 2px solid; border-right: 2px solid;" colspan="3">Утримано</td>
</tr>
<tr>
<td style="text-align: center; vertical-align: top; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid;" colspan="3">вид оплати</td>
<td style="text-align: center; vertical-align: top; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid;">нараховано<br/>грн.</td>
<td style="text-align: center; vertical-align: top; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid;" colspan="2">вид утримання</td>
<td style="text-align: center; vertical-align: top; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-right: 2px solid;">утримано<br/>грн.</td>
</tr>
<!--{{#accrualData}}-->
<tr>
<td style="text-align: center; vertical-align: top; border-left: 2px solid; border-bottom: 1px solid;">{{orderN}}</td>
<td style="text-align: left; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;" colspan="3">{{&payElName}}</td>
<td style="text-align: right; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
<td style="text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">{{hOrderN}}</td>
<td style="text-align: left; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;" colspan="2">{{hPayElName}}</td>
<td style="text-align: right; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-right: 2px solid;">{{#$fs}}"hPaySum","decimal2"{{/$fs}}</td>
</tr>
<!--{{/accrualData}}-->
<tr>
<td style="width: 773px;" colspan="9">&nbsp;</td>
</tr>
<tr>
<td style="text-align: left; vertical-align: top; border-left: 2px solid; border-bottom: 2px solid; border-top: 1px solid; font-weight: bold;" colspan="4">Разом за весь період:</td>
<td style="text-align: right; vertical-align: top; border-left: 1px solid; border-bottom: 2px solid; border-top: 1px solid;">{{#$fs}}"sumAll","decimal2"{{/$fs}}</td>
<td style="text-align: right; vertical-align: top; border-left: 1px solid; border-bottom: 2px solid; border-top: 1px solid;">&nbsp;</td>
<td style="text-align: center; vertical-align: top; border-left: 1px solid; border-bottom: 2px solid; border-top: 1px solid;" colspan="2">&nbsp;</td>
<td style="text-align: right; vertical-align: top;  border-left: 1px solid; border-bottom: 2px solid; border-top: 1px solid; border-right: 2px solid;">{{#$fs}}"holdSum","decimal2"{{/$fs}}</td>
</tr>
<tr>
<td style="width: 773px;" colspan="9">&nbsp;</td>
</tr>
<tr>
<td style="text-align: center; vertical-align: bottom; font-weight: bold" colspan="2">Бухгалтер</td>
<td style="text-align: left; vertical-align: top;" colspan="2">&nbsp;</td>
<td style="text-align: right; vertical-align: top; border-bottom: 1px solid;">&nbsp;</td>
<td style="text-align: center; vertical-align: top;">&nbsp;</td>
<td style="text-align: center; vertical-align: bottom; border-bottom: 1px solid;" colspan="2">{{accountant}}</td>
<td style="text-align: right; vertical-align: top;">&nbsp;</td>
</tr>
<tr>
<td style="text-align: center; vertical-align: bottom;" colspan="4">&nbsp;</td>
<td style="text-align: center; vertical-align: top;">(підпис)</td>
<td style="text-align: center; vertical-align: top;">&nbsp;</td>
<td style="text-align: center; vertical-align: top;" colspan="2">П. І. Б.</td>
<td style="text-align: right; vertical-align: top;">&nbsp;</td>
</tr>
</tbody>
</table>