<!--%pageOrientation:landscape-->
<table style="border-collapse: collapse; font-size: 11pt" border="0" width="1320" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 0; vertical-align: bottom; text-align: right" colspan="3">Організація&nbsp;&nbsp;&nbsp;</td>
<td style="padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center" colspan="8">{{orgName}}</td>
<td colspan="7"></td>
</tr>
<tr><td colspan="18">&nbsp;</td></tr>
<tr>
<td style="padding: 0; vertical-align: bottom; text-align: right" colspan="3">&nbsp;&nbsp;&nbsp;</td>
<td style="text-align: center; padding: 0; vertical-align: bottom; font-weight: bold" colspan="8">Реєстр листів непрацездатності</td>
<td colspan="7"></td>
</tr>
<tr><td colspan="18">&nbsp;</td></tr>
<tr style="font-weight: bold">
<td style="padding: 0; vertical-align: bottom; text-align: right" colspan="3"></td>
<td style="padding: 0; vertical-align: bottom; text-align: center; border-bottom: 1px solid" colspan="8">{{strPeriodName}}</td>
<td colspan="7"></td>
</tr>
<tr style="height: 10px;"><td colspan="18">&nbsp;</td></tr>
<!--{{#isDep}}-->
<tr style="font-weight: bold">
    <td style="padding: 0; vertical-align: bottom; text-align: right" colspan="3">підрозділ&nbsp;&nbsp;&nbsp;</td>
    <td style="padding: 0; vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; text-align: center" colspan="8">{{depName}}</td>
    <td colspan="7"></td>
</tr>
<!--{{/isDep}}-->

<tr style="height: 10px;"><td colspan="18">&nbsp;</td></tr>
<tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">№<br/>з/п</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Таб.<br/>№</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">ПІБ</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Посада</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Лист<br/>непрацездатності</td>
    <td style="border: 1px solid;" rowspan="2">Код<br/>причини</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="2">Період<br/>непрацездатності</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Розрахунковий<br/>період</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Обліковий<br/>період</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Вид оплати</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="2">Дні</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Стаж</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">%<br/>сплати</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" rowspan="2">Середній</td>
    <td style="border: 1px solid;" rowspan="2">Сума</td>
    <td style="border: 1px solid;" rowspan="2">Організація</td>
</tr>

<tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">з</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">по</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Підпр</td>
    <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">СС</td>
</tr>

<!--{{#depts}}-->
<!--{{#dept}}-->
<tr style="page-break-inside: avoid;">
    <td style="font-family: TimesNewRoman; font-size: 12pt; font-weight: bold; padding-left: 15px; text-align: left; border-width: 1px; border-style: solid;" colspan="18">{{&deptName}}</td>
</tr>
<!--{{/dept}}-->
<!--{{#emps}}-->
<tr style="page-break-inside: avoid;">
<td style="vertical-align: top; width: 35px; min-width: 35px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{num}}</td>
<td style="vertical-align: top; width: 35px; min-width: 35px;  text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{tabNum}}</td>

<td style="vertical-align: top; width: 145px; min-width: 145px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{fullFIO}}</td>
<td style="vertical-align: top; width: 145px; min-width: 145px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
<td style="vertical-align: top; width: 100px; min-width: 81px;text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{seriaNumber}}</td>

<td style="vertical-align: top; width: 70px; min-width: 70px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{illReason}}</td>




<td style="vertical-align: top; width: 80px; min-width: 80px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{orderDateFrom}}</td>
<td style="vertical-align: top; width: 80px; min-width: 80px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{orderDateTo}}</td>




<td style="vertical-align: top; width: 70px; min-width: 70px; text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{periodCalcName}}</td>
<td style="vertical-align: top; width: 70px; min-width: 70px; text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{periodSalName}}</td>
<td style="vertical-align: top; width: 70px; min-width: 70px; text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{payElDescription}}</td>
<td style="vertical-align: top; width: 70px; min-width: 70px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{orgDays}}</td>
<td style="vertical-align: top; width: 70px; min-width: 70px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{fssuDays}}</td>
<td style="vertical-align: top; width: 70px; min-width: 70px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{standingAll}}</td>
<td style="vertical-align: top; width: 70px; min-width: 70px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{rate}}</td>
<td style="vertical-align: top; width: 70px; min-width: 70px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
<td style="vertical-align: top; width: 70px; min-width: 70px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"><a href="#" data-cellorderid="{{docRegSicknessID}}">{{#$f}}"paySum","decimal2"{{/$f}}</a></td>
<td style="vertical-align: top; width: 145px; min-width: 145px; text-align: left; border: 1px solid;">{{orgName}}</td>
</tr>
<!--{{/emps}}-->
<!--{{#depSum}}-->
<tr style="background-color: #f0f0f0; font-weight: bold; page-break-inside: avoid;">
    <td style=" text-align: right; border: 1px solid;" colspan="11">{{&title}} &nbsp;</td>
    <!--{{#dsum}}-->
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;">{{orgDaysSum}}</td>
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;">{{fssuDaysSum}}</td>
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;"></td>
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;"></td>
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;"></td>
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <td style="text-align: right; border: 1px solid;"></td>
    <!--{{/dsum}}-->
</tr>
<!--{{/depSum}}-->

<!--{{#payElBlockTitle}}-->
<tr style="page-break-inside: avoid;">
    <td style="font-family: TimesNewRoman; font-size: 12pt; font-weight: bold; padding-left: 15px; text-align: left; border-width: 1px; border-style: solid;" colspan="18">{{&payElBlockTitle}}</td>
</tr>
<!--{{/payElBlockTitle}}-->
<!--{{#isPayElBlock}}-->
<tr style="page-break-inside: avoid;">
    <td style=" text-align: right; border: 1px solid;" colspan="11">{{&payElDescription}} &nbsp;</td>
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;">{{orgDays}}</td>
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;">{{fssuDays}}</td>
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;"></td>
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;"></td>
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;"></td>
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <td style="text-align: right; border: 1px solid;"></td>
</tr>
<!--{{/isPayElBlock}}-->
<!--{{#isPayElSum}}-->
<tr style="background-color: #f0f0f0; font-weight: bold; page-break-inside: avoid;">
    <td style=" text-align: right; border: 1px solid;" colspan="11">{{&title}} &nbsp;</td>
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;">{{orgDaysSum}}</td>
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;">{{fssuDaysSum}}</td>
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;"></td>
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;"></td>
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;"></td>
    <td style="text-align: right; border-right: 1px solid; border-bottom: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    <td style="text-align: right; border: 1px solid;"></td>
</tr>
<!--{{/isPayElSum}}-->


<!--{{/depts}}-->
</tbody>
</table>