<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: 11pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">
    <tbody>
    <tr>
        <td style="width: 92px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 91px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 91px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 92px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 91px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 91px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 92px; padding: 0; font-size: 1pt;">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; " colspan="2">Підприємство</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; " colspan="4">{{orgName}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold; border-top: 1px solid;" >Таб. №</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-top: 1px solid; font-weight:bold; " >{{tabNum}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold; border-top: 1px solid;" >ПІБ:</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-top: 1px solid; font-weight:bold; " colspan="3">{{employeeName}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; ">&nbsp;</td>
    </tr>
    <!--{{#empTaxCode}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold; border-bottom: 1px solid; " ></td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom: 1px solid; font-weight:bold; " ></td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold; border-bottom: 1px solid; " >{{employeeTaxType}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom: 1px solid; font-weight:bold; " colspan="3">{{employeeTaxCode}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; ">&nbsp;</td>
    </tr>
    <!--{{/empTaxCode}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="2">Підрозділ</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="4">{{depName}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="2">Посада</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="4">{{posName}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; " colspan="6">Наявні пільги на початок захворювання :</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <!--{{#sickLimit}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="6">{{name}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <!--{{/sickLimit}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; " colspan="6">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; " colspan="6">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; " colspan="2">Лікарняний лист</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; " colspan="2">{{seria}} № {{orderNumber}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; " colspan="2">від {{orderDate}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="3">Причина непрацездатності</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="3">{{reasonName}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="3">Період лікарняного</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="3">{{sicknessPeriod}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="3">Період розрахунку</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="3">{{calcPeriod}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; " colspan="6">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 18pt; font-weight:bold; text-align: center;" colspan="6">Розрахунок лікарняного листа</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 18pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="3">Загальний страховий стаж</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="3">{{standingAll}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="3">Відсоток сплати</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="3">{{rate}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="3">Тип розрахунку</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="3">{{avgCalcType}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; " colspan="6">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; text-align: center;" colspan="6">Розрахунок середнього заробітка</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">№ п/п</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Період</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Дні/години фактичні</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Дні/години для розрахунку</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Сума фактичного заробітку</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: center; ">Сума заробітка для розрахунку</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <!--{{#avg}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"index","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">{{periodName}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"totalDays","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"opDays","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: right;">{{#$fs}}"opSum","decimal2"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <!--{{/avg}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; " colspan="2">Всього</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"totalAvg.totalDays","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"totalAvg.opDays","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"totalAvg.baseSum","decimal2"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: right;">{{#$fs}}"totalAvg.opSum","decimal2"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="4">Середньоденний заробіток розрахований</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="2">{{#$fs}}"avgSum","decimal2"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="4">Страховий стаж за попередні 12 місяців</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="2">{{#$fs}}"standingYearMonth","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="4">Середньоденний заробіток для розрахунку</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="2">{{#$fs}}"calcSum","decimal2"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; " colspan="6">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; border-bottom: 1px solid; text-align: center;" colspan="7">Нарахування за лікарняним</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Вид оплати</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Період</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Календарні дні</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Дні для сплати</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Відсоток сплати</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Середньо- денний заробіток</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: center; ">Сума</td>
    </tr>
    <!--{{#dt}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">{{payElName}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">{{description}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"period","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"days","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: right;">{{rate}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: right;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/dt}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">Всього</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"totalDt.period","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"totalDt.days","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: right;">{{#$fs}}"totalDt.paySum","decimal2"{{/$fs}}</td>
    </tr>

    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; " colspan="6">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>

    <tr>
        <td colspan="2" style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-bottom: 1px solid;"><span style="font-weight:bold;">Сума прописом:</span></td>
        <td colspan="5" style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-bottom: 1px solid; text-align: center;">{{totalPaySumStr}}</td>
    </tr>
    <tr>
        <td colspan="6" style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-bottom: 1px solid;">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-bottom: 1px solid;" >&nbsp;</td>
    </tr>

    <tr>
        <td style="padding: 30px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; text-align: right;" colspan="4">Головний бухгалтер</td>
        <td style="padding: 30px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-bottom: 1px solid;" colspan="3">&nbsp;</td>
    </tr>

    <tr>
        <td style="padding: 0px 1px 0px 100px; font-family: TimesNewRoman; font-size: 11pt; text-align: left;" colspan="4">МП</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; text-align: center;" colspan="3">підпис</td>
    </tr>

    <tr>
        <td style="padding: 20px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; text-align: right;" colspan="4">Бухгалтер</td>
        <td style="padding: 20px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-bottom: 1px solid;" colspan="3">&nbsp;</td>
    </tr>

    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; text-align: center;" colspan="3">підпис</td>
    </tr>

    </tbody>
</table>