<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: 11pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 35px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">
    <tbody>
    <tr>
        <td style="width: 106px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 106px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 107px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 107px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 107px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 107px; padding: 0; font-size: 1pt;">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; " colspan="2">Підприємство</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; " colspan="4">{{orgName}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; " >Таб. №</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-top: 1px solid; border-bottom: 1px solid; font-weight:bold; " >{{tabNum}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; " >ПІБ</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-top: 1px solid; border-bottom: 1px solid; font-weight:bold; " colspan="3">{{employeeName}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="2">Підрозділ</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="4">{{depName}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="2">Посада</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="4">{{posName}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; " colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; " colspan="2">Наказ</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; " colspan="2">№ {{orderNumber}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; " colspan="2">від {{orderDate}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="3">Період відпустки</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="3">{{periodName}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; " colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 18pt; font-weight:bold; text-align: center;" colspan="6">Розрахунок відпустки</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; text-align: center; " colspan="4">за період {{vacationPeriod}} року</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; text-align: center; " colspan="2">на {{dayCount}} календарних днів</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; " colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; text-align: center;" colspan="6">Розрахунок середньої заробітної плати</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">№ п/п</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Період</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Дні/години фактичні</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Дні для розрахунку</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Сума фактичного заробітку</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: center; ">Сума заробітка для розрахунку</td>
    </tr>
    <!--{{#avg}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"index","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">{{periodName}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"totalDays","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"opDays","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: right;">{{#$fs}}"opSum","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/avg}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; " colspan="2">Всього</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"totalAvg.totalDays","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"totalAvg.opDays","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"totalAvg.baseSum","decimal2"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: right;">{{#$fs}}"totalAvg.opSum","decimal2"{{/$fs}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="4">Середньоденний заробіток розрахований</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; " colspan="2">{{#$fs}}"avgSum","decimal2"{{/$fs}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; " colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; border-bottom: 1px solid; text-align: center;" colspan="6">Нарахування</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Вид оплати</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Період</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Календарні дні</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Дні для сплати</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Середньо- денний заробіток</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: center; ">Сума</td>
    </tr>
    <!--{{#dt}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">{{payElName}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">{{description}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"period","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"days","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: right;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/dt}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">Всього</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"totalDt.period","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"totalDt.days","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: right;">{{#$fs}}"totalDt.paySum","decimal2"{{/$fs}}</td>
    </tr>
    </tbody>
</table>