<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: 11pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">
    <tbody>
    <tr>
        <td style="width: 92px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 91px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 91px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 92px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 91px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 91px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 92px; padding: 0; font-size: 1pt;">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt;" colspan="6">Підприємство: {{orgName}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt;" colspan="6">Підрозділ: {{depName}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt;">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold;" colspan="2">Таб. №: {{tabNum}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold;" colspan="4">ПІБ: {{employeeName}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt;">&nbsp;</td>
    </tr>

   
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt;" colspan="6">Посада: {{posName}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt;">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold;" colspan="6">Лікарняний лист: {{seria}} № {{orderNumber}} від {{orderDate}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt;" colspan="3">Причина непрацездатності</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt;" colspan="3">{{reasonName}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt;">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt;" colspan="3">Період лікарняного</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt;" colspan="3">{{sicknessPeriod}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; " colspan="6">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 10px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; text-align: center;" colspan="7">Довідка про зарплату</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;" colspan="2">Період</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;" colspan="2">Сума фактичного заробітку</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: center;" colspan="2">Сума заробітка для розрахунку</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; border-right: 1px solid;">Дні</td>
    </tr>
    <!--{{#avg}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid;"  colspan="2">{{periodName}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: right;" colspan="2">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: right;" colspan="2">{{#$fs}}"opSum","decimal2"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; border-right: 1px solid;">{{#$fs}}"opDays","numberGroup"{{/$fs}}</td>
    </tr>
    <!--{{/avg}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid;" colspan="2" >Всього</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: right;" colspan="2">{{#$fs}}"totalAvg.baseSum","decimal2"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: right;" colspan="2">{{#$fs}}"totalAvg.opSum","decimal2"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: center; ">{{#$fs}}"totalAvg.opDays","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt;" colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 10px 0 10px 0; text-align: right;" colspan="2">Сума для розрахунку&nbsp;</td>
        <td>{{#$fs}}"totalAvg.opSum","decimal2"{{/$fs}}</td>
        <td style="padding: 10px 0 10px 0; text-align: right;" colspan="2">Кількість днів&nbsp;</td>
        <td>{{#$fs}}"totalAvg.opDays","numberGroup"{{/$fs}}</td>
        <td style="padding: 10px 1px 10px 1px; font-family: TimesNewRoman; font-size: 11pt;">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; text-align: right;" colspan="2">Середньоденна  зарплата &nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt;" colspan="3">{{#$fs}}"calcSum","decimal2"{{/$fs}}</td>
    </tr>
    
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; " colspan="6">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 0px 10px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; text-align: center;" colspan="7">Надана допомога</td>
    </tr>
    <tr>
        <td style="padding: 0px 0px 10px 1px; text-align: right;" colspan="4">Середньоденна зарплата прийнята для розрахунку &nbsp;</td>
        <td style="padding: 0px 0px 10px 1px;" colspan="3">{{#$fs}}"calcSum","decimal2"{{/$fs}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Період</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; " colspan="2">Найменування  лікарняного</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Відсоток сплати</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Денна допомога</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; ">Кількість днів</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; font-weight:bold; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: center; ">Сума</td>
    </tr>
    <!--{{#dt}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">{{description}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; " colspan="2">{{payElName}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: right;">{{rate}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"days","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: right;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/dt}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; " colspan="3">Всього</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; " >&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"totalDt.days","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: right;">{{#$fs}}"totalDt.paySum","decimal2"{{/$fs}}</td>
    </tr>

    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; " colspan="6">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; ">&nbsp;</td>
    </tr>

    <tr>
        <td colspan="2" style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-bottom: 1px solid;"><span style="font-weight:bold;">Сума прописом:</span></td>
        <td colspan="5" style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-bottom: 1px solid; text-align: center;">{{totalPaySumStr}}</td>
    </tr>
    <tr>
        <td colspan="6" style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-bottom: 1px solid;">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-bottom: 1px solid;" >&nbsp;</td>
    </tr>

    <tr>
        <td style="padding: 30px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; text-align: right;" colspan="4">Головний бухгалтер</td>
        <td style="padding: 30px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-bottom: 1px solid;" colspan="3">&nbsp;</td>
    </tr>

    <tr>
        <td style="padding: 0px 1px 0px 100px; font-family: TimesNewRoman; font-size: 11pt; text-align: left;" colspan="4">М. П.</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; text-align: center;" colspan="3">підпис</td>
    </tr>

    <tr>
        <td style="padding: 20px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; text-align: right;" colspan="4">Бухгалтер</td>
        <td style="padding: 20px 1px 0px 1px; font-family: TimesNewRoman; font-size: 11pt; border-bottom: 1px solid;" colspan="3">&nbsp;</td>
    </tr>

    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; text-align: center;" colspan="3">підпис</td>
    </tr>

    </tbody>
</table>