<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: 14pt; line-height: 1.5; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">
<tbody>
    <tr>
       <td style="width: 76px; padding: 0;">&nbsp;</td>
        <!--{{#printToBlank}}-->
       <td style="width: 62px; padding: 0;">&nbsp;</td>
        <!--{{/printToBlank}}-->
        <!--{{^printToBlank}}-->
       <td style="width: 62px; padding: 0;"><img src="{{emblem}}" alt="emblem" width="56" height="72" /></td>
        <!--{{/printToBlank}}-->
       <td style="width: 76px; padding: 0;">&nbsp;</td>
       <td style="width: 76px; padding: 0;">&nbsp;</td>
       <td style="width: 84px; padding: 0;">&nbsp;</td>
       <td style="width: 266px; padding: 0;">&nbsp;</td>
    </tr>
    <tr style="height: 18px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="6">&nbsp;</td>
    </tr>
    <!--{{#printToBlank}}-->
    <tr style="line-height: 1.5;">
        <td colspan="3" style="font-family: TimesNewRoman; font-size: 12.5pt; padding: 0px 1px 0px 1px; text-align: center; vertical-align: top; font-weight:bold;">&nbsp;</td>
        <td colspan="3" style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    </tr>
    <tr style="line-height: 1.5;">
        <td style="font-family: TimesNewRoman; font-size: 12.5pt; padding: 0px 1px 0px 1px; text-align: center; vertical-align: bottom;" colspan="3">&nbsp;</td>
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: center; vertical-align: top; font-weight:bold;" colspan="3">&nbsp;</td>
    </tr>
    <tr style="line-height: 1.5;">
        <td style="font-family: TimesNewRoman; font-size: 12.5pt; padding: 0px 1px 0px 1px; text-align: center; vertical-align: bottom;"  colspan="3">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px;" colspan="3">&nbsp;</td>
    </tr>
    <tr style="height: 30px; padding: 0; margin: 0;">
        <td style="padding: 0px 1px 0px 1px;" colspan="6">&nbsp;</td>
    </tr>
    <tr style="height: 30px; padding: 0; margin: 0;">
        <td style="padding: 0px 1px 0px 1px;" colspan="6">&nbsp;</td>
    </tr>
    <!--{{/printToBlank}}-->
    <!--{{^printToBlank}}-->
    <tr style="line-height: 1.5;">
        <td colspan="3" style="font-family: TimesNewRoman; font-size: 12.5pt; padding: 0px 1px 0px 1px; text-align: center; vertical-align: top; font-weight:bold;">{{{organizationName}}}</td>
        <td colspan="3" style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    </tr>
    <tr style="line-height: 1.5;">
        <td style="font-family: TimesNewRoman; font-size: 12.5pt; padding: 0px 1px 0px 1px; text-align: center; vertical-align: bottom;" colspan="3">№ ______</td>
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: center; vertical-align: top; font-weight:bold;" colspan="3">Д О В І Д К А</td>
    </tr>
    <tr style="line-height: 1.5;">
        <td style="font-family: TimesNewRoman; font-size: 12.5pt; padding: 0px 1px 0px 1px; text-align: center; vertical-align: bottom;"  colspan="3">"___" _________ 20___ року</td>
        <td style="padding: 0px 1px 0px 1px;" colspan="3">&nbsp;</td>
    </tr>
    <tr style="height: 30px; padding: 0; margin: 0;">
        <td style="padding: 0px 1px 0px 1px;" colspan="6">&nbsp;</td>
    </tr>
    <!--{{/printToBlank}}-->
    <tr>
        <td colspan="6" style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 68px;">{{{mainText}}}</td>
    </tr>
    <!--{{#workSchedule}}-->
    <tr>
        <td colspan="6" style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 68px;">{{workSchedule}}</td>
    </tr>
    <!--{{/workSchedule}}-->
    <!--{{#govSrvCat}}-->
    <tr>
        <td colspan="6" style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 68px;">Ця посада державної служби віднесена до категорії «{{psCategory}}».</td>
    </tr>
    <!--{{/govSrvCat}}-->
    <!--{{#govSrvRank}}-->
    <tr>
        <td colspan="6" style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 68px;">{{datNameShort}} присвоєно {{rankName}} державного службовця.</td>
    </tr>
    <!--{{/govSrvRank}}-->
    <!--{{#vacOrMission}}-->
    <tr>
        <td colspan="6" style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 68px;">{{{text}}}</td>
    </tr>
    <!--{{/vacOrMission}}-->
    <!--{{#vcationData}}-->
    <tr>
        <td colspan="6" style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 68px;">{{{text}}}</td>
    </tr>
    <!--{{/vcationData}}-->
    <!--{{#additionalText}}-->
    <tr>
        <td colspan="6" style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 68px;">{{{additionalText}}}</td>
    </tr>
    <!--{{/additionalText}}-->
    <tr>
        <td colspan="6" style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 68px;">Довідка видана для пред’явлення {{orgToName}}.</td>
    </tr>
    <tr style="height: 45px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; text-align: left; font-size: 14pt; padding: 0px 1px 0px 1px; font-weight: bold;" colspan="4">{{respPos}}</td>
        <td style="font-family: TimesNewRoman; text-align: left; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: center;" >&nbsp;</td>
        <td style="font-family: TimesNewRoman; text-align: right; font-size: 14pt; padding: 0px 1px 0px 1px; font-weight: bold;">{{respName}}</td>
    </tr>
    <!--{{#secondResp}}-->
    <tr style="height: 45px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; text-align: left; font-size: 14pt; padding: 0px 1px 0px 1px; font-weight: bold;" colspan="4">{{respPos1}}</td>
        <td style="font-family: TimesNewRoman; text-align: left; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: center;" >&nbsp;</td>
        <td style="font-family: TimesNewRoman; text-align: right; font-size: 14pt; padding: 0px 1px 0px 1px; font-weight: bold;">{{respName1}}</td>
    </tr>
    <!--{{/secondResp}}-->
    <!--{{#execInfo.name}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px;" colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; text-align: left; font-size: 10pt; padding: 0px 1px 0px 1px; padding: 0px 1px 0px 1px;" colspan="6">{{execInfo.name}}<br />{{execInfo.phone}}</td>
    </tr>
    <!--{{/execInfo.name}}-->
</tbody>
</table>