<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 14pt;" colspan="{{colSpan}}">Працівники, які перебувають у відрядженні</td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 14pt;" colspan="{{colSpan}}">{{organizationName}}</td>
    </tr>
    <!-- {{#departmentName}} -->
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 14pt;" colspan="{{colSpan}}">{{departmentName}}</td>
    </tr>
    <!-- {{/departmentName}} -->
    <tr>
        <td style="width: 100%; text-align: right; font-size: 12pt;" colspan="{{colSpan}}">За період  {{period}}</td>
    </tr>
    <tr style="font-weight: bold; font-size: 12pt;">
        <td style="width: 50px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">№ з/п</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Категорія посади</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Ранг</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Посада</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Фактична посада</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Підрозділ</td>
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Самостійний<br/>структурний підрозділ</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Організація</td>
        <td style="width: 120px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Місце роботи</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Населений пункт</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Організація для відряждення</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата початку</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата закінчення</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">У межах країни</td>
    </tr>

    <!--{{#personTable}}-->
    <tr style="font-size: 12pt; vertical-align: top; page-break-inside: avoid;">
        <td style="width: 50px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{pn}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{fullFIO}}</td>
        <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{posCategory}}</td>
        <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{rankCur}}</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{addDescrPerson}}</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{posName}}</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{actualPositionName}}</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{depName}}</td>
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{selfStructDepName}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{orgName}}</td>
        <td style="width: 120px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{workPlace}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{cityName}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{destOrganizationName}}</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{missionDateFrom}}</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{missionDateTo}}</td>
        <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{isInsideCountry}}</td>
    </tr>
    <!--{{/personTable}}-->
    </tbody>
</table>