<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; overflow-wrap: break-word; border-collapse: collapse; width: {{widthTable}}px;">

  <tr>
    <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{cols}}">Список працівників, які були прийняті, переведені, звільнені за період з {{dateFrom}} по {{dateTo}}</td>
  </tr>

  <tr>
    <td style="text-align: center; font-weight: bold; font-size: 11pt;" colspan="{{cols}}">{{organizationName}}</td>
  </tr>
  <!--{{#departmentName}}-->
  <tr>
    <td style="text-align: center; font-weight: bold; font-size: 11pt; " colspan="{{cols}}">{{departmentName}}</td>
  </tr>
  <!--{{/departmentName}}-->

  <tr style="font-weight: bold; font-size: 11pt;">
    <td style="width: 50px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">№ з/п</td>
    <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Таб. №</td>
    <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>
    <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Стать</td>
    <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">РНОКПП</td>
    <!-- {{#showAddDescrPerson}} -->
    <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Додаткова інформація</td>
    <!-- {{/showAddDescrPerson}} -->
    <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата призн.<br/>до органу</td>
    <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата призн.<br/>на посаду</td>
    <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата переведення</td>
    <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата звільнення</td>
    <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Посада</td>
    <!-- {{#useActualPositionName}} -->
    <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Фактична посада</td>
    <!-- {{/useActualPositionName}} -->

    <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Тип посади</td>

    <!-- {{#stateOrg}} -->
    <td style="width: 110px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Категорія посади держслужбовця</td>
    <td style="width: 110px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Група оплати праці</td>
    <!-- {{/stateOrg}} -->

    <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Підрозділ</td>
    <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Самостійний<br/>структурний підрозділ</td>
    <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">В організації</td>
  </tr>

  <tr style="font-size: 10pt;">
    <!-- {{#colNums}} -->
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{value}}</td>
    <!-- {{/colNums}} -->
  </tr>

  <!-- {{#rows}} -->
  <tr style="font-size: 10pt; vertical-align: top;">
    <td style="width: 50px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{index}}</td>
    <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{tabNum}}</td>
    <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{fullFIO}}</td>
    <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{sexTypeName}}</td>
    <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{taxCode}}</td>
    <!-- {{#showAddDescrPerson}} -->
    <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{addDescrPerson}}</td>
    <!-- {{/showAddDescrPerson}} -->
    <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{date1}}</td>
    <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{date2}}</td>
    <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{date3}}</td>
    <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{date4}}</td>
    <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{posName}}</td>
    <!-- {{#useActualPositionName}} -->
    <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{actualPositionName}}</td>
    <!-- {{/useActualPositionName}} -->
    <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{positionTypeName}}</td>
    <!-- {{#stateOrg}} -->
    <td style="width: 110px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{posCategory}}</td>
    <td style="width: 110px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictStatePayName}}</td>
    <!-- {{/stateOrg}} -->

    <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{depName}}</td>
    <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{structDepName}}</td>
    <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{orgName}}</td>

  </tr>
  <!-- {{/rows}} -->

  <tr>
    <td colspan="{{cols}}" style="height: 50px"></td>
  </tr>
  <tr style="font-size: 11pt;">
    <td></td>
    <td colspan="{{cols2}}" style="text-align: center;">{{respPosName}}</td>
    <td></td>
    <td colspan="{{cols3}}" style="text-align: center;">{{respName}}</td>
    <td></td>
  </tr>
  <tr style="font-size: 10pt;">
    <td></td>
    <td colspan="{{cols2}}" style="height: 20px;border-top: 1px solid; text-align: center;">(Посада)</td>
    <td></td>
    <td colspan="{{cols3}}" style="height: 20px;border-top: 1px solid; text-align: center;">Прiзвище I.Б.</td>
    <td></td>
  </tr>
</table>