<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">Список осіб: працівників із дисциплінарними порушеннями</td>
    </tr>
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 11pt;" colspan="{{colSpan}}">{{organizationName}}</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 11pt;" colspan="{{colSpan}}">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <tr>
        <td style="text-align: right; font-size: 11pt;" colspan="{{colSpan}}">Станом на {{dateFrom}}</td>
    </tr>
    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="width: 50px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">№ з/п</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>
        <td style="width: 70px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Категорія посади</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Ранг</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Посада</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Фактична посада</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Підрозділ</td>
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid; ">Самостійний<br/>структурний підрозділ</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid; ">Організація</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Вид порушення</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Вид стягнення</td>
        <td style="width: 70px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата накладання<br/>стягнення</td>
        <td style="width: 70px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Термін дії<br/>стягнення</td>
        <td style="width: 70px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата оскарження</td>

    </tr>
    <!--{{#penaltyTable}}-->
    <tr style="font-size: 10pt; vertical-align: top; page-break-inside: avoid;">
        <td style="width: 50px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{pn}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{fullFIO}}</td>
        <td style="width: 70px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{posCategory}}</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{rankCur}}</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{addDescrPerson}}</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{posName}}</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{actualPositionName}}</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{depName}}</td>
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{depFirst}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{orgName}}</td>
        <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictPenaltyReasonName}}</td>
        <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictPenaltyName}}</td>
        <td style="width: 70px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{docIssuedDate}}</td>
        <td style="width: 70px; text-align: center; font-family: TimesNewRoman; border: 1px solid;" >{{dateClosed}}</td>
        <td style="width: 70px; text-align: center; font-family: TimesNewRoman; border: 1px solid;" >{{appealDate}}</td>
    </tr>
    <!--{{/penaltyTable}}-->
    </tbody>
</table>