<!--%pageOrientation:landscape-->

<table style="font-size: 12t; font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr style="font-size: 12pt;">
        <td style="width: 50px; padding: 0;">&nbsp;</td>
        <td style="width: 150px; padding: 0;">&nbsp;</td>
        <td style="width: 50px; padding: 0;">&nbsp;</td>
        <td style="width: 100px; padding: 0;">&nbsp;</td>
        <td style="width: 150px; padding: 0;">&nbsp;</td>
        <td style="width: 100px; padding: 0;">&nbsp;</td>
        <td style="width: 100px; padding: 0;">&nbsp;</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 200px; padding: 0;">&nbsp;</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 150px; padding: 0;">&nbsp;</td>
        <td style="width: 100px; padding: 0;">&nbsp;</td>
        <td style="width: 100px; padding: 0;">&nbsp;</td>
        <td style="width: 150px; padding: 0;">&nbsp;</td>
        <td style="width: 100px; padding: 0;">&nbsp;</td>
        <td style="width: 150px; padding: 0;">&nbsp;</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 150px; padding: 0;">&nbsp;</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 150px; padding: 0;">&nbsp;</td>
        <td style="width: 200px; padding: 0;">&nbsp;</td>
        <td style="width: 150px; padding: 0;">&nbsp;</td>
        <td style="width: 150px; padding: 0;">&nbsp;</td>
        <td style="width: 120px; padding: 0;">&nbsp;</td>
    </tr>

    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">Список працівників за проходженням медоглядів</td>
    </tr>
    <!--{{#period}}-->
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">проходження медогляду {{period}} року</td>
    </tr>
    <!--{{/period}}-->
    <!--{{#periodNext}}-->
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">наступний медогляд {{periodNext}} року</td>
    </tr>
    <!--{{/periodNext}}-->
    <tr>
        <td style="text-align: center;font-weight: bold; font-size: 12pt; " colspan="{{colSpan}}">{{organizationName}}</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="text-align: center;font-weight: bold; font-size: 12pt; " colspan="{{colSpan}}">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <!--{{#dictCheckMedicalName}}-->
    <tr>
        <td style="text-align: center;font-weight: bold; font-size: 12pt; " colspan="{{colSpan}}">{{dictCheckMedicalName}}</td>
    </tr>
    <!--{{/dictCheckMedicalName}}-->
    <!--{{#workPlaceName}}-->
    <tr>
        <td style="text-align: center;font-weight: bold; font-size: 12pt; " colspan="{{colSpan}}">{{workPlaceName}}</td>
    </tr>
    <!--{{/workPlaceName}}-->
    <!--{{#dictEmpCategoryName}}-->
    <tr>
        <td style="text-align: center;font-weight: bold; font-size: 12pt; " colspan="{{colSpan}}">{{dictEmpCategoryName}}</td>
    </tr>
    <!--{{/dictEmpCategoryName}}-->
    <!--{{#dictStaffCatName}}-->
    <tr>
        <td style="text-align: center;font-weight: bold; font-size: 12pt; " colspan="{{colSpan}}">{{dictStaffCatName}}</td>
    </tr>
    <!--{{/dictStaffCatName}}-->
    <!--{{#dictSpecialtyName}}-->
    <tr>
        <td style="text-align: center;font-weight: bold; font-size: 12pt; " colspan="{{colSpan}}">{{dictSpecialtyName}}</td>
    </tr>
    <!--{{/dictSpecialtyName}}-->

    <tr style="font-weight: bold; font-size: 12pt;">
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">№ з/п</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">ПІБ (Таб. №)</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Стать</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">ІПН</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Документ ідентифікаційний</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Спеціальність</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Кваліфікаційна категорія</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Тип медогляду</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Дата проходження</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Наступний медогляд</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Категорія персоналу</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Дата прийняття на роботу</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Посада</td>
        <!-- {{#useActualPositionName}} -->
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Фактична посада</td>
        <!-- {{/useActualPositionName}} -->
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Підрозділ</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Самостійний<br/>структурний підрозділ</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Місце виникнення витрат</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Організація</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Місце роботи</td>
    </tr>
    <!--{{#personTable}}-->
    <tr style="font-size: 10pt; vertical-align: top;">
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{pn}}</td>
        <td style="text-align: left;  font-family: TimesNewRoman; border: 1px solid;">{{fullFIO}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{sexType}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{taxCode}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{documentInfo}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{specialtyName}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{categoryName}}</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="text-align: left;  font-family: TimesNewRoman; border: 1px solid;">{{addDescrPerson}}</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictCheckMedicalName}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{dateCheck}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{dateNext}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictStaffCatName}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{startWork}}</td>
        <td style="text-align: left;  font-family: TimesNewRoman; border: 1px solid;">{{posName}}</td>
        <!-- {{#useActualPositionName}} -->
        <td style="text-align: left;  font-family: TimesNewRoman; border: 1px solid;">{{actualPositionName}}</td>
        <!-- {{/useActualPositionName}} -->
        <td style="text-align: left;  font-family: TimesNewRoman; border: 1px solid;">{{depName}}</td>
        <td style="text-align: left;  font-family: TimesNewRoman; border: 1px solid;">{{selfStructDepName}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictCostTypeName}}</td>
        <td style="text-align: left;  font-family: TimesNewRoman; border: 1px solid;">{{orgName}}</td>
        <td style="text-align: left;  font-family: TimesNewRoman; border: 1px solid;">{{workPlace}}</td>
    </tr>
    <!--{{/personTable}}-->
    </tbody>
</table>