<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 12pt; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr style="font-size: 12pt;">
       <td style="width: 350px; padding: 0;">&nbsp;</td>
        <!-- {{#useActualPositionName}} -->
       <td style="width: 200px; padding: 0;">&nbsp;</td>
        <!-- {{/useActualPositionName}} -->
       <td style="width: 120px; padding: 0;">&nbsp;</td>
       <td style="width: 350px; padding: 0;">&nbsp;</td>
        <!-- {{#showAddDescrPerson}} -->
       <td style="width: 200px; padding: 0;">&nbsp;</td>
        <!-- {{/showAddDescrPerson}} -->
       <td style="width: 150px; padding: 0;">&nbsp;</td>
       <td style="width: 100px; padding: 0;">&nbsp;</td>
       <td style="width: 100px; padding: 0;">&nbsp;</td>
       <td style="width: 120px; padding: 0;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">{{organizationName}}</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">Станом на {{onDate}} {{vacationKind}}</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="font-family: TimesNewRoman; text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <!--{{#workPlace}}-->
    <tr>
        <td style="font-family: TimesNewRoman; text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">{{workPlace}}</td>
    </tr>
    <!--{{/workPlace}}-->
    <tr>
        <td style="font-family: TimesNewRoman; text-align: center; font-weight: bold; font-size: 5pt;" colspan="{{colSpan}}">&nbsp;</td>
    </tr>
    <tr style="font-weight: bold; font-size: 10pt;">
        <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid;">Посада</td>
        <!-- {{#useActualPositionName}} -->
        <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid;">Фактична посада</td>
        <!-- {{/useActualPositionName}} -->
        <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid;">Таб. №</td>
        <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid;">Прізвище, ім'я, по батькові</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid;">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid; border-right: 1px solid;">Період</td>
        <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid; border-right: 1px solid;">Невикористані дні у періоді</td>
        <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid; border-right: 1px solid;">Доступно днів</td>
        <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid; border-right: 1px solid;">Втрата невикористаних днів відпусток</td>
    </tr>

    <!--{{#data}}-->
        <!--{{#isDepartment}}-->
            <tr style="font-size: 10pt; vertical-align: middle;">
                <td style="text-align: {{textAlign}}; border: 1px solid; font-weight: bold;" colspan="{{colSpan}}">{{{name}}}</td>
            </tr>
        <!--{{/isDepartment}}-->
        <!--{{^isDepartment}}-->
            <tr style="font-size: 10pt; vertical-align: middle;">
                <td style="font-family: TimesNewRoman; text-align: left; border: 1px solid;">{{posName}}</td>
                <!-- {{#useActualPositionName}} -->
                <td style="font-family: TimesNewRoman; text-align: left; border: 1px solid;">{{actualPositionName}}</td>
                <!-- {{/useActualPositionName}} -->
                <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid;">{{tabNum}}</td>
                <td style="font-family: TimesNewRoman; text-align: left; border: 1px solid;">{{empName}}</td>
                <!-- {{#showAddDescrPerson}} -->
                <td style="font-family: TimesNewRoman; text-align: left; border: 1px solid;">{{addDescrPerson}}</td>
                <!-- {{/showAddDescrPerson}} -->
                <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid;">{{periodValue}}</td>
                <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid;">{{dayRest}}</td>
                <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid;">{{dayToUse}}</td>
                <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid;">{{lossVacation}}</td>
            </tr>
        <!--{{/isDepartment}}-->
    <!--{{/data}}-->

    </tbody>
</table>