<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: 14pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">

<tbody>
<tr>
    <td style="width: 175px; padding: 0;">&nbsp;</td>
    <td style="width: 20px; padding: 0;">&nbsp;</td>
    <td style="width: 40px; padding: 0;">&nbsp;</td>
    <td style="width: 20px; padding: 0;">&nbsp;</td>
    <td style="width: 30px; padding: 0;">&nbsp;</td>
    <td style="width: 85px; padding: 0;">&nbsp;</td>
    <td style="width: 20px; padding: 0;">&nbsp;</td>
    <td style="width: 55px; padding: 0;">&nbsp;</td>
    <td style="width: 25px; padding: 0;">&nbsp;</td>
    <td style="width: 5px; padding: 0;">&nbsp;</td>
    <td style="width: 20px; padding: 0;">&nbsp;</td>
    <td style="width: 50px; padding: 0;">&nbsp;</td>
    <td style="width: 20px; padding: 0;">&nbsp;</td>
    <td style="width: 75px; padding: 0;">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="5">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; text-align: center;" colspan="9">ЗАТВЕРДЖУЮ</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="5">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="9">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="5">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="9">(найменування посади)</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="5">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" >&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="7">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="5">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;">(підпис)</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="7">(ініціали та прізвище)</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="5">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 11pt; vertical-align: top;" colspan="9">“<b>____</b>” <b>________________</b> 20<b>___</b> р.</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="14">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 14pt;" colspan="14"><b>ІНДИВІДУАЛЬНА ПРОГРАМА</b></td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 14pt;" colspan="14"><b>підвищення рівня професійної компетентності державного службовця,</b></td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 14pt;" colspan="14"><b>який займає посаду державної служби категорії “Б” або “В”,</b></td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 14pt;" colspan="14"><b>на {{year}} рік</b></td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="14">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt;" colspan="4">Найменування державного органу</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="10">{{orgName.text}}</td>
</tr>
<!-- {{#orgName.array}} -->
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="14">{{text}}</td>
</tr>
<!-- {{/orgName.array}} -->
<tr style="height: 5px; padding: 0; margin: 0;">
    <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="14">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt;" colspan="2">Прізвище, ім'я, по батькові</td>
    <td style="font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="7">{{employeeName1}}</td>
    <td style="padding: 0px 1px 0px 1px; padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="border: 1px solid; text-align: center;">{{positionCategory1}}</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt;">Б</td>
    <td style="border: 1px solid; text-align: center;">{{positionCategory2}}</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt;">В</td>
</tr>
<!-- {{#employeeName2}} -->
<tr style="height: 2px; padding: 0; margin: 0;">
    <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="14">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="10">{{employeeName2}}</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top;" colspan="4">(категорія посади)</td>
</tr>
<tr style="height: 1px; padding: 0; margin: 0;">
    <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="14">&nbsp;</td>
</tr>
<tr style="height: 1px; padding: 0; margin: 0;">
    <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="14">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt;" >Найменування посади</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="13">{{positionName.text}}</td>
</tr>
<!-- {{/employeeName2}} -->
<!-- {{^employeeName2}} -->
<tr style="height: 2px; padding: 0; margin: 0;">
    <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="14">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt;" >Найменування посади</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="9">{{positionName.text}}</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top;" colspan="4">(категорія посади)</td>
</tr>
<!-- {{/employeeName2}} -->

<!-- {{#positionName.array}} -->
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="14">{{text}}</td>
</tr>
<!-- {{/positionName.array}} -->
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt;" colspan="5">Найменування структурного підрозділу</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="9">{{departmentName.text}}</td>
</tr>
<!-- {{#departmentName.array}} -->
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="14">{{text}}</td>
</tr>
<!-- {{/departmentName.array}} -->
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt;" colspan="7">Найменування самостійного структурного підрозділу&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="7">{{departmentName2.text}}</td>
</tr>
<!-- {{#departmentName2.array}} -->
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="14">{{text}}</td>
</tr>
<!-- {{/departmentName2.array}} -->
<tr>
    <td style=padding: 0px 1px 0px 1px; "border-bottom-width: 1px; border-bottom-style: solid;" colspan="14">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 3px 0px 3px; word-wrap: break-word; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">Найменування професійної компетентності</td>
    <td style="padding: 0px 3px 0px 3px; word-wrap: break-word; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="8">Види професійного навчання (підготовка, підвищення кваліфікації за професійними (сертифікатними) та/або короткостроковими програмами, стажування, самоосвіта)</td>
    <td style="padding: 0px 3px 0px 3px; word-wrap: break-word; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="5">Орієнтовні напрями/теми професійного навчання</td>
</tr>
<!-- {{#items}} -->
<tr>
    <td style="padding: 0px 3px 0px 3px; word-wrap: break-word; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; " >{{dictProfCompetency}}</td>
    <td style="padding: 0px 3px 0px 3px; word-wrap: break-word; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; " colspan="8">{{dictTrainingForm}}</td>
    <td style="padding: 0px 3px 0px 3px; word-wrap: break-word; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; " colspan="5">{{dictTrainingTopic}}</td>
</tr>
<!-- {{/items}} -->
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="14">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="3" >&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="5">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
</tr>
<tr style="height: 30px;">
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="3" >(найменування посади державного службовця)</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="2">(підпис)</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="5">(ініціали та прізвище)</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="2">(дата)</td>
</tr>
<tr style="height: 30px;">
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="3" >&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="5">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
</tr>
<tr style="height: 30px;">
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="3">(найменування посади безпосереднього керівника)</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="2">(підпис)</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="5">(ініціали та прізвище)</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="2">(дата)</td>
</tr>
<tr style="height: 30px;">
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="3">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="5">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
</tr>
<tr style="height: 30px;">
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="3">(найменування посади уповноваженого працівника служби управління персоналом)</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="2">(підпис)</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="5">(ініціали та прізвище)</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="2">(дата)</td>
</tr>
</tbody>
</table>