<!--%pageOrientation:landscape-->

<table style="font-size: 12t; font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr style="font-size: 12pt;">
        <td style="width: 50px; padding: 0;">&nbsp;</td>
        <td style="width: 100px; padding: 0;">&nbsp;</td>
        <td style="width: 150px; padding: 0;">&nbsp;</td>
        <td style="width: 150px; padding: 0;">&nbsp;</td>
        <td style="width: 150px; padding: 0;">&nbsp;</td>
        <td style="width: 200px; padding: 0;">&nbsp;</td>
    </tr>

    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">Список працівників за зміною облікових даних</td>
    </tr>
    <!--{{#period}}-->
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">за період {{period}} року</td>
    </tr>
    <!--{{/period}}-->
    <!--{{#periodNext}}-->
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">наступний медогляд {{periodNext}} року</td>
    </tr>
    <!--{{/periodNext}}-->
    <tr>
        <td style="text-align: center;font-weight: bold; font-size: 12pt; " colspan="{{colSpan}}">{{organizationName}}</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="text-align: center;font-weight: bold; font-size: 12pt; " colspan="{{colSpan}}">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <!--{{#dictCheckMedicalName}}-->
    <tr>
        <td style="text-align: center;font-weight: bold; font-size: 12pt; " colspan="{{colSpan}}">{{dictCheckMedicalName}}</td>
    </tr>
    <!--{{/dictCheckMedicalName}}-->
    <!--{{#workPlaceName}}-->
    <tr>
        <td style="text-align: center;font-weight: bold; font-size: 12pt; " colspan="{{colSpan}}">{{workPlaceName}}</td>
    </tr>
    <!--{{/workPlaceName}}-->
    <!--{{#dictEmpCategoryName}}-->
    <tr>
        <td style="text-align: center;font-weight: bold; font-size: 12pt; " colspan="{{colSpan}}">{{dictEmpCategoryName}}</td>
    </tr>
    <!--{{/dictEmpCategoryName}}-->
    <!--{{#dictStaffCatName}}-->
    <tr>
        <td style="text-align: center;font-weight: bold; font-size: 12pt; " colspan="{{colSpan}}">{{dictStaffCatName}}</td>
    </tr>
    <!--{{/dictStaffCatName}}-->
    <!--{{#dictSpecialtyName}}-->
    <tr>
        <td style="text-align: center;font-weight: bold; font-size: 12pt; " colspan="{{colSpan}}">{{dictSpecialtyName}}</td>
    </tr>
    <!--{{/dictSpecialtyName}}-->

    <tr style="font-weight: bold; font-size: 12pt;">
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">№ з/п</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">ІПН</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">ПІБ (нове)</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">ПІБ (попереднє)</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Дата наказу</td>
        <td style="text-align: center; border-left: 1px solid; font-family: TimesNewRoman; border: 1px solid;">Додаткова інформація</td>
    </tr>
    <!--{{#personTable}}-->
    <tr style="font-size: 10pt; vertical-align: top;">
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{pn}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{taxCode}}</td>
        <td style="text-align: left;  font-family: TimesNewRoman; border: 1px solid;">{{fullFIO}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{fullFIOOld}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{orderDate}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{additInform}}</td>
    </tr>
    <!--{{/personTable}}-->
    </tbody>
</table>
