<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 11px; table-layout: fixed; border-collapse: collapse; width: {{tableWidth}}px;  word-break: normal; margin: 0px 10px 0px 70px;"  border="0px" cellspacing="0" cellpadding="0px">
    <!-- {{#byOrders}} -->
    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="width: 50px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
        <td style="width: 85px;">&nbsp;</td>
        <td style="width: 75px;">&nbsp;</td>
        <td style="width: 90px;">&nbsp;</td>
        <td style="width: 40px;">&nbsp;</td>
        <td style="width: 60px;">&nbsp;</td>
        <!-- {{#showAddDescrPerson}} -->
            <td style="width: 100px;">&nbsp;</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
        <!-- {{#useActualPositionName}} -->
            <td style="width: 150px;">&nbsp;</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 200px;">&nbsp;</td>
        <td style="width: 200px;">&nbsp;</td>
        <td style="width: 80px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 50px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 95px;">&nbsp;</td>
        <td style="width: 95px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
    </tr>

    <!-- {{/byOrders}} -->

    <!-- {{^byOrders}} -->
    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="width: 50px;">&nbsp;</td>
        <td style="width: 200px;">&nbsp;</td>
        <td style="width: 85px;">&nbsp;</td>
        <td style="width: 75px;">&nbsp;</td>
        <td style="width: 90px;">&nbsp;</td>
        <td style="width: 40px;">&nbsp;</td>
        <td style="width: 60px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 200px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 80px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 165px;">&nbsp;</td>
        <td style="width: 165px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
    </tr>
    <!-- {{/byOrders}} -->

  <tr>
    <td style="text-align: center; font-weight: bold; font-size: 12pt; height: 20px;" colspan="{{columnCount}}">Список працівників, яких було звiльнено за період з {{dateFrom}} по {{dateTo}}</td>
  </tr>

  <tr>
    <td style="text-align: center; font-weight: bold; font-size: 11pt;" colspan="{{columnCount}}">{{organizationName}}</td>
  </tr>
  <!--{{#departmentName}}-->
  <tr>
    <td style="text-align: center; font-weight: bold; font-size: 11pt;" colspan="{{columnCount}}">{{departmentName}}</td>
  </tr>
  <!--{{/departmentName}}-->

  <tr>
    <td style="text-align: center; font-weight: bold; font-size: 11pt;" colspan="{{columnCount}}">{{reasonDism}}</td>
  </tr>

  <tr style="height: 19px;">
    <td colspan="{{columnCount}}"></td>
  </tr>

    <!-- {{#byOrders}} -->
    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="width: 26px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">№ з/п</td>
        <td style="width: 148px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>

        <td style="width: 81px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата<br/>звільнення</td>

        <td style="width: 73px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">РНОКПП</td>
        <td style="width: 88px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата<br/>народження</td>
        <td style="width: 40px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Вік</td>

        <td style="width: 80px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Стать</td>
        <!-- {{#showAddDescrPerson}} -->
            <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->

        <!--<td style="width: 80px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата<br/>переведення<br/>на іншу<br/>посаду</td>-->

        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Тип посади</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Група оплати праці</td>
        <td style="width: 124px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Посада</td>
        <!-- {{#useActualPositionName}} -->
            <td style="width: 124px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Фактична посада</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 126px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Підрозділ</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Самостійний<br/>структурний підрозділ</td>

        <td style="width: 80px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Номер<br/>особової<br/>справи</td>
        <td style="width: 72px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Категорія<br/>посади</td>
        <td style="width: 40px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Ранг</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Місце роботи</td>
        <td style="width: 93px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Номер<br/>наказу про<br/>звільнення</td>
        <td style="width: 93px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата наказу про<br/>звільнення</td>

        <td style="width: 93px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Причина<br/>звільнення</td>
        <td style="width: 93px; text-align: center; font-family: TimesNewRoman; border: 1px solid; ">Підстава<br/>звільнення</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">За наказом організації</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">В організації</td>
    </tr>

    <!-- {{/byOrders}} -->

    <!-- {{^byOrders}} -->
    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="width: 26px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">№ з/п</td>
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>
        <td style="width: 81px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата<br/>звільнення</td>
        <td style="width: 73px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">РНОКПП</td>
        <td style="width: 88px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата<br/>народження</td>
        <td style="width: 40px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Вік</td>
        <!--<td style="width: 80px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата<br/>переведення<br/>на іншу<br/>посаду</td>-->
        <td style="width: 80px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Стать</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Тип посади</td>
        <td style="width: 239px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Посада</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Номер особової<br/>справи</td>
        <td style="width: 72px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Категорія<br/>посади</td>
        <td style="width: 80px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Ранг</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Місце роботи</td>
        <td style="width: 165px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Наказ про<br/>звільнення</td>
        <td style="width: 195px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Підстава<br/>звільнення</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">В організації</td>
    </tr>

    <!-- {{/byOrders}} -->

    <tr style="font-size: 10pt;">
        <!-- {{#columnsNumbers}} -->
        <td style="text-align: center; border: 1px solid; height: 18px;">{{colNum}}</td>
        <!-- {{/columnsNumbers}} -->
    </tr>

    <!--{{#rows}}-->
    <tr style="font-size: 10pt; vertical-align: top;">
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{index}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{fullFIO}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{dismDate}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{taxCode}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{birthDate}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{age}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{sexTypeName}}</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{addDescrPerson}}</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{positionTypeName}}</td>
        <!-- {{#byOrders}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictStatePayName}}</td>
        <!-- {{/byOrders}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{posName}}</td>

        <!-- {{#byOrders}} -->
        <!-- {{#useActualPositionName}} -->
            <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{actualPositionName}}</td>
        <!-- {{/useActualPositionName}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{depName}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{structDepName}}</td>
        <!-- {{/byOrders}} -->

        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{numberOS}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{posCategory}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{rank}}</td>

        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{workPlace}}</td>
        <!-- {{#byOrders}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{orderNumberFull}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{orderDate}}</td>
        <!-- {{/byOrders}} -->

        <!-- {{^byOrders}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dismOrder}}</td>
        <!-- {{/byOrders}} -->

        <!-- {{#byOrders}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictReasonDism}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dismReason}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{orgMasterName}}</td>
        <!-- {{/byOrders}} -->

        <!-- {{^byOrders}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dismReason}}</td>
        <!-- {{/byOrders}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{orgName}}</td>
    </tr>
    <!--{{/rows}}-->

    <tr style="font-size: 10pt; height: 50px">
        <!-- {{#columnsNumbers}} -->
        <td style="text-align: center; height: 18px;"></td>
        <!-- {{/columnsNumbers}} -->
    </tr>

    <tr style="font-size: 10pt;">
        <td> </td>
        <td colspan="{{columnCount2}}" style="text-align: center; border-top: 1px solid;">(Посада)</td>
        <td> </td>
        <td colspan="{{columnCount3}}" style="text-align: center; border-top: 1px solid;" >(Прiзвище I.Б.)</td>
        <td> </td>
    </tr>
</table>