<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse; width: {{tableWidth}}px;" border="0px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{columnCount}}">Список працiвникiв, переведених на iншу посаду {{period}}</td>
    </tr>
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 11pt;" colspan="{{columnCount}}">{{organizationName}}</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
      <td style="text-align: center; font-weight: bold; font-size: 11pt;" colspan="{{columnCount}}">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 11pt;" colspan="{{columnCount}}">{{reasonMove}}</td>
    </tr>

    <tr style="height: 19px;">
        <td colspan="{{columnCount}}"></td>
    </tr>

    <!-- {{#byOrders}} -->
    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="width: 26px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">№ з/п</td>
        <td style="width: 148px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>

        <td style="width: 73px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">РНОКПП</td>
        <td style="width: 88px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата<br/>народження</td>
        <td style="width: 40px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Вік</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->

        <td style="width: 80px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата<br/>переведення<br/>на іншу<br/>посаду</td>

        <td style="width: 81px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата<br/>звільнення<br/>з посади</td>

        <td style="width: 60px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Тип посади</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Група оплати праці</td>
        <td style="width: 124px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">З посади</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 125px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">З фактичної посади</td>
        <!-- {{/useActualPositionName}} -->

        <td style="width: 126px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">З підрозділу</td>
        <td style="width: 124px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">На посаду</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 125px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">На фактичну посаду</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 126px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">В підрозділ</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Самостійний<br/>структурний підрозділ</td>

        <td style="width: 80px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Номер<br/>особової<br/>справи</td>
        <td style="width: 72px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Категорія<br/>посади</td>
        <td style="width: 40px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Ранг</td>
        <td style="width: 93px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Номер<br/>наказу про<br/>переведення</td>
        <td style="width: 93px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата наказу про<br/>переведення</td>

        <td style="width: 93px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Причина<br/>переведення</td>
        <td style="width: 93px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Підстава<br/>переведення</td>

        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Тип договору</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Вид договору</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Місце роботи</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Форма зайнятості</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Категорія персоналу</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Графік роботи</td>
        <td style="width: 50px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Кількість ставок</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Вид оплати</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Сумма</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">За наказом організації</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">В організації</td>
    </tr>

    <tr style="font-size: 10pt;">
        <!-- {{#columnsNumbers}} -->
        <td style="text-align: center; border: 1px solid; height: 18px;">{{colNum}}</td>
        <!-- {{/columnsNumbers}} -->
    </tr>
    <!-- {{/byOrders}} -->

    <!-- {{^byOrders}} -->
    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="width: 26px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">№ з/п</td>
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>

        <td style="width: 73px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">РНОКПП</td>
        <td style="width: 88px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата<br/>народження</td>
        <td style="width: 40px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Вік</td>
        <td style="width: 80px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата<br/>переведення<br/>на іншу<br/>посаду</td>

        <td style="width: 81px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата<br/>звільнення<br/>з посади</td>

        <td style="width: 60px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Тип посади</td>
        <td style="width: 239px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">На посаду</td>

        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Номер особової<br/>справи</td>
        <td style="width: 72px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Категорія<br/>посади</td>
        <td style="width: 80px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Ранг</td>

        <td style="width: 165px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Наказ про<br/>переведення</td>
        <td style="width: 195px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Підстава<br/>переведення</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Місце роботи</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">В організації</td>
    </tr>

    <tr style="font-size: 10pt;">
        <!-- {{#columnsNumbers}} -->
        <td style="text-align: center; border: 1px solid; height: 18px;">{{colNum}}</td>
        <!-- {{/columnsNumbers}} -->
    </tr>
    <!-- {{/byOrders}} -->

    <!--{{#movedTable}}-->
    <tr style="font-size: 10pt; vertical-align: top;">
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{index}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{fullFIO}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{taxCode}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{birthDate}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{age}}</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{addDescrPerson}}</td>
        <!-- {{/showAddDescrPerson}} -->

        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{moveDate}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{dismDate}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{positionTypeName}}</td>
        <!-- {{#byOrders}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictStatePayName}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{posName}}</td>
        <!-- {{#useActualPositionName}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{actualPositionName}}</td>
        <!-- {{/useActualPositionName}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{depName}}</td>
        <!-- {{/byOrders}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{posNameTo}}</td>

        <!-- {{#byOrders}} -->
        <!-- {{#useActualPositionName}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{actualPositionNameTo}}</td>
        <!-- {{/useActualPositionName}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{depNameTo}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{selfStructDepName}}</td>
        <!-- {{/byOrders}} -->

        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{numberOS}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{posCategory}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{rank}}</td>

        <!-- {{#byOrders}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{orderNumberFull}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{orderDate}}</td>
        <!-- {{/byOrders}} -->

        <!-- {{^byOrders}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{moveOrder}}</td>
        <!-- {{/byOrders}} -->

        <!-- {{#byOrders}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{reasonMovingKind}}</td>
        <!-- {{/byOrders}} -->

        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{moveReason}}</td>
        <!-- {{#byOrders}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{contractType}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictContractKind}}</td>
        <!-- {{/byOrders}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{workPlace}}</td>
        <!-- {{#byOrders}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{workerType}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictStaffCat}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{workSchedule}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{mtCount}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{payEl}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{accrualSum}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{orgMasterName}}</td>
        <!-- {{/byOrders}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{orgName}}</td>
    </tr>
    <!--{{/movedTable}}-->

    <tr style="font-size: 10pt;">
        <!-- {{#columnsNumbers}} -->
        <td style="text-align: center; height: 18px;"></td>
        <!-- {{/columnsNumbers}} -->
    </tr>
    <tr style="font-size: 10pt;">
        <!-- {{#columnsNumbers}} -->
        <td style="text-align: center; height: 18px;"></td>
        <!-- {{/columnsNumbers}} -->
    </tr>

    <tr style="font-size: 10pt;">
        <td> </td>
        <td colspan="{{columnCount2}}" style="text-align: center; border-top: 1px solid;">(Посада)</td>
        <td> </td>
        <td colspan="{{columnCount3}}" style="text-align: center; border-top: 1px solid;" >(Прiзвище I.Б.)</td>
        <td> </td>
    </tr>
    </tbody>
</table>