<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; line-height: 1.35; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 8px 0px 66px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">
    <tbody>
         <tr>
            <td style="width: 255px;">&nbsp;</td>
            <td style="width: 90px; " >&nbsp;</td>
            <td style="width: 90px; " >&nbsp;</td>
            <td style="width: 205px;" >&nbsp;</td>
        </tr>
        <!--{{#data1}}-->
         <tr>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; vertical-align: top;" colspan="4">{{name}}</td>
        </tr>
         <tr>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 3pt; text-align: left; vertical-align: top;" colspan="4">&nbsp;</td>
        </tr>
        <!--{{#rows}}-->
         <tr>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; vertical-align: top;">{{posName}}</td>
            <td style="padding: 0px 1px 0px 1px; " colspan="2">&nbsp;</td>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; vertical-align: top;">{{empName}}</td>
        </tr>
         <tr>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: {{fontSizeBtw}}pt; text-align: left; vertical-align: top;" colspan="4">&nbsp;</td>
        </tr>
        <!--{{/rows}}-->
        <!--{{/data1}}-->
         <tr>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; vertical-align: top;" colspan="4">&nbsp;</td>
        </tr>
        <!--{{#data2}}-->
         <tr>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; vertical-align: top;">{{eventName}}</td>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: center; vertical-align: top;">{{introductionDate}}</td>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: center; vertical-align: top;">&nbsp;</td>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; vertical-align: top;">{{empName}}</td>
        </tr>
        <!--{{#emptyRow}}-->
         <tr>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: {{fontSizeBtw}}pt; text-align: left; vertical-align: top;" colspan="4">&nbsp;</td>
        </tr>
        <!--{{/emptyRow}}-->
        <!--{{/data2}}-->
        <!--{{#responsible}}-->
        <tr style="height: 120px;">
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; text-align: left; vertical-align: bottom;" colspan="4"><i>{{responsible}}</i></td>
        </tr>
        <!--{{/responsible}}-->

    </tbody>
</table>
