<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; line-height: {{lineHeight}}; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">
    <tbody>
    <tr>
        <td style="width: 35px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 118px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 122px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 28px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 17px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 45px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 24px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 81px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 85px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 85px; padding: 0; font-size: 1pt;">&nbsp;</td>
    </tr>
    <tr style="padding: 0; margin: 0;">
        <td colspan="10" style="text-align:center;" align="center"><img  src="{{emblem}}" data-style-pdf="padding-left:{{logoPaddingLeft}}px;" alt="emblem" width="{{logoWidthPx}}" height="{{logoHeightPx}}" /></td>
    </tr>
    <tr style="height: 18px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: {{fontSize}}pt;  text-align: center; {{boldOrganizationName}}" colspan="10">{{{organizationName}}}</td>
    </tr>
    <tr style="height: 48px; padding: 0; margin: 0;">
        <td style=" padding: 0; margin: 0; font-size: 1pt;" colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px; text-align: center; vertical-align: top; font-weight: bold; " colspan="10">Н А К А З</td>
    </tr>
    <!--Дата та номер наказу-->
    <tr style="height: 26px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; padding: 0px 1px 0px 1px; " colspan="3" >{{fromDate}}{{orderDate}}</td>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: center; padding: 0px 1px 0px 1px; " colspan="4" >{{city}}</td>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: right; padding: 0px 1px 0px 1px; " colspan="3" >№ {{orderNumber}}{{orderIndex}}</td>
    </tr>

    <tr style="height: 26px; padding: 0; margin: 0;">
        <td style=" padding: 0; margin: 0; font-size: 1pt;" colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt;text-align: left; padding: 0px 1px 0px 1px; {{titleOrderParams}}" colspan="5">{{{titleOrder}}}</td>
        <td style="padding: 0px 1px 0px 1px;" colspan="5">&nbsp;</td>
    </tr>

    <!--{{#preamble}}-->
    <tr style="height: 26px; padding: 0; margin: 0;">
        <td style=" padding: 0; margin: 0; font-size: 1pt;" colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 38px;" colspan="10">{{{preamble}}}</td>
    </tr>
    <!--{{/preamble}}-->

    <tr style="height: 26px; padding: 0; margin: 0;">
        <td style=" padding: 0; margin: 0; font-size: 1pt;" colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px; text-align: left;" colspan="10"><strong>НАКАЗУЮ: </strong></td>
    </tr>
    <tr style="height: 26px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="10">&nbsp;</td>
    </tr>
    <tr style="padding: 0; margin: 0;">
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: justify; text-indent: 34px;  padding: 0px 1px 0px 1px;" colspan="10">
            1. Забезпечити виплату посадових окладів у визначених розмірах за списком працівників згідно з Додатком 1 до цього наказу.
        </td>
    </tr>
    <!--{{#tasks}}-->
    <tr style="height: 30px; padding: 0; margin: 0;">
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt;text-align: justify; text-indent: 34px;  padding: 0px 1px 0px 1px;" colspan="10">
            {{{task}}}
        </td>
    </tr>
    <!--{{/tasks}}-->
    <!--{{#orderReason}}-->
    <tr style="height: 26px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt;text-align: justify; padding: 0px 1px 0px 1px;" colspan="10" >{{{reason}}}</td>
    </tr>
    <!--{{/orderReason}}-->

    <!--{{#responsiblesInfo}}-->
    <tr style="height: 45px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; font-weight: bold; padding: 0px 25px 0px 1px; vertical-align: top;" colspan="5">{{respPos}}</td>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: {{align}}; font-weight: bold; padding: 0px 1px 0px 25px; vertical-align: bottom;" colspan="5">{{respFirstName}}</td>
    </tr>
    <!--{{/responsiblesInfo}}-->

    <tr style="page-break-after: always;">
        <td colspan="10">
            <p>&nbsp;<!-- pagebreak --></p>
        </td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; text-align: left; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px;" colspan="7">&nbsp;</td>
        <td style="font-family: TimesNewRoman; text-align: left; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px;" colspan="3">Додаток&nbsp;1</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; text-align: left; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px;" colspan="7">&nbsp;</td>
        <td style="font-family: TimesNewRoman; text-align: left; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px;" colspan="3">до наказу&nbsp;{{organizationNameGen}}</td>
    </tr>
    <tr style="height: 18px; padding: 0; margin: 0;">
        <td style="font-family: TimesNewRoman; text-align: left; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px;" colspan="7">&nbsp;</td>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt;text-align: left; padding: 0px 1px 0px 1px;" colspan="3">{{fromDate}}{{orderDate}} №&nbsp;{{orderNumber}}&nbsp;{{orderIndex}}</td>
    </tr>
    <tr>
        <td style="padding: 0; margin: 0;" colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; text-align: center; font-size: {{fontSize}}pt; font-weight: bold; padding: 0px 1px 0px 1px;" colspan="10">Список</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; text-align: center; font-size: {{fontSize}}pt; font-weight: bold; padding: 0px 1px 0px 1px;" colspan="10">працівників {{organizationNameGen}}</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; text-align: center; font-size: {{fontSize}}pt; font-weight: bold; padding: 0px 1px 0px 1px;" colspan="10">яким встановлюються посадові оклади{{{dataFrom}}}</td>
    </tr>
    <tr>
        <td style="padding: 0; margin: 0;" colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center;border: 1px solid black; padding: 0px 1px 0px 1px; font-weight: bold;" rowspan="2">№<br>з/п</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center;border: 1px solid black; padding: 0px 1px 0px 1px; font-weight: bold;" rowspan="2">Прізвище І. Б.</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center;border: 1px solid black; padding: 0px 1px 0px 1px; font-weight: bold;" rowspan="2" colspan="2">Назва посади</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid black; padding: 0px 1px 0px 1px; font-weight: bold;" rowspan="2" colspan="3">Поточний оклад</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid black; padding: 0px 1px 0px 1px; font-weight: bold;" rowspan="2" >Новий оклад</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid black; padding: 0px 1px 0px 1px; font-weight: bold;" colspan="2">Неповний період</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid black; padding: 0px 1px 0px 1px; font-weight: bold;" >Дата з</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid black; padding: 0px 1px 0px 1px; font-weight: bold;" >Дата по</td>
    </tr>
    <!--{{#addition}}-->
        <!--{{#isDepartment}}-->
            <tr style="font-size: 12pt; vertical-align: middle;">
                <td style="font-family: TimesNewRoman; text-align: left; font-size: {{fontSize}}pt; border: 1px solid black; font-weight: bold; padding: 0px 1px 0px 1px;" colspan="10">{{{name}}}</td>
            </tr>
        <!--{{/isDepartment}}-->
        <!--{{^isDepartment}}-->
        <tr>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border:1px solid black; padding: 0px 1px 0px 1px;" >{{npp}}</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border:1px solid black; padding: 0px 1px 0px 1px;" >{{name}}</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border:1px solid black; padding: 0px 1px 0px 1px;"  colspan="2">{{nameDep}}</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid black; padding: 0px 1px 0px 1px;" colspan="3">{{#$fs}}"oldValue","{{roundTo}}"{{/$fs}}</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid black; padding: 0px 1px 0px 1px;" >{{#$fs}}"newValue","{{roundTo}}"{{/$fs}}</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid black; padding: 0px 1px 0px 1px;" >{{data}}</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid black; padding: 0px 1px 0px 1px;" >{{dataTo}}</td>
        </tr>
        <!--{{/isDepartment}}-->
    <!--{{/addition}}-->
    <tr>
      <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; padding: 0px 1px 0px 1px; border: 0px; " colspan="10">&nbsp;</td>
      </td>
    </tr>
    <tr>
      <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: center; padding: 0px 1px 0px 1px; border: 0px; " colspan="10">{{line}}</td>
      </td>
    </tr>
    </tbody>
</table>