<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr style="font-size: 14pt;">
        <td style="width: 60px;  padding: 0;">&nbsp;</td>
        <td style="width: 200px;  padding: 0;">&nbsp;</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 200px;  padding: 0;">&nbsp;</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 150px;  padding: 0;">&nbsp;</td>
        <td style="width: 80px;  padding: 0;">&nbsp;</td>
        <td style="width: 80px;  padding: 0;">&nbsp;</td>
        <td style="width: 150px;  padding: 0;">&nbsp;</td>
        <td style="width: 200px;  padding: 0;">&nbsp;</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 200px;  padding: 0;">&nbsp;</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 150px;  padding: 0;">&nbsp;</td>
        <td style="width: 150px;  padding: 0;">&nbsp;</td>
        <td style="width: 100px;  padding: 0;">&nbsp;</td>
        <td style="width: 100px;  padding: 0;">&nbsp;</td>
        <td style="width: 80px;  padding: 0;">&nbsp;</td>
        <td style="width: 80px;  padding: 0;">&nbsp;</td>
        <td style="width: 150px;  padding: 0;">&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 14pt;" colspan="{{colSpan}}">Список працівників за стажами за період {{dateFrom}} - {{dateTo}}</td>
    </tr>
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 14pt;" colspan="{{colSpan}}">{{organizationName}}</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 14pt;" colspan="{{colSpan}}">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <tr>
        <td style="text-align: right; font-size: 14pt;" colspan="{{colSpan}}">Станом на {{onDate}}</td>
    </tr>
    <tr style="font-weight: bold; font-size: 14pt;">
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;">№ з/п</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;">Стаж (назва)</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;">Стаж (років)</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;">Дата встановлення</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;">Посада</td>
        <!-- {{#useActualPositionName}} -->
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;">Фактична посада</td>
        <!-- {{/useActualPositionName}} -->
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;">Підрозділ</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;">Структурний<br/> підрозділ</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;">Організація</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;">Місце роботи</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;">Категорія персоналу</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;">Років роботи</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;">Атестація, курси</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;">Освіта</td>
    </tr>
    <tr style="font-size: 14pt;">
        <!-- {{#colNums}} -->
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{name}}</td>
        <!-- {{/colNums}} -->
    </tr>
    <!--{{#items}}-->
    <tr style="font-size: 14pt; vertical-align: top; page-break-inside: avoid">
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{num}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{fullFIO}}</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{addDescrPerson}}</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{expName}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{stageYear}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{setDate}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{posName}}</td>
        <!-- {{#useActualPositionName}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{actualPositionName}}</td>
        <!-- {{/useActualPositionName}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{depName}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{structDepName}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{orgName}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{workPlaceName}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictStaffCat}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;" >{{workYear}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;" >{{cerDate}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{eduName}}</td>
    </tr>
    <!--{{/items}}-->
    <tr>
        <td colspan="{{colSpan}}" style="height: 50px">&nbsp;</td>
    </tr>
    <tr style="font-size: 14pt;">
        <td></td>
        <td colspan="{{colSpan2}}" style="text-align: center;">{{respPosName}}</td>
        <td></td>
        <td colspan="{{colSpan3}}" style="text-align: center;">{{respName}}</td>
        <td></td>
    </tr>
    <tr style="font-size: 12pt;">
        <td></td>
        <td colspan="{{colSpan2}}" style="height: 20px;border-top: 1px solid; text-align: center;">(Посада)</td>
        <td></td>
        <td colspan="{{colSpan3}}" style="height: 20px;border-top: 1px solid; text-align: center;">Прiзвище I.Б.</td>
        <td></td>
    </tr>
    </tbody>
</table>