<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; line-height: {{lineHeight}}; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">
    <tbody>
        <tr>
          <td style="width: 50px; padding: 0;">&nbsp;</td>
          <td style="width: 220px; padding: 0;">&nbsp;</td>
          <td style="width: 50px; padding: 0;">&nbsp;</td>
          <td style="width: 50px; padding: 0;">&nbsp;</td>
          <td style="width: 220px; padding: 0;">&nbsp;</td>
          <td style="width: 50px; padding: 0;">&nbsp;</td>
         </tr>
        <tr style="padding: 0; margin: 0;">
            <td colspan="6" style="text-align:center;" align="center"><img  src="{{emblem}}" data-style-pdf="padding-left:{{logoPaddingLeft}}px;" alt="emblem" width="{{logoWidthPx}}" height="{{logoHeightPx}}" /></td>
        </tr>
        <tr style="height: 60px; padding: 0; margin: 0;">
            <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt;  text-align: center; padding: 0px 1px 0px 1px; {{boldOrganizationName}}" colspan="6">{{{organizationName}}}</td>
        </tr>
        <tr style="height: 30px; padding: 0; margin: 0;">
            <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt;  text-align: center; vertical-align: top; font-weight:bold; padding: 0px 1px 0px 1px;" colspan="6">
               Н А К А З
            </td>
        </tr>
    <!--Дата та номер наказу-->
    <tr style="height: 60px; padding: 0; margin: 0;">
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left;  padding: 0px 1px 0px 1px;" colspan="2" >{{fromDate}}{{orderDate}}</td>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: center; padding: 0px 1px 0px 1px;" colspan="2" >{{city}}</td>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: right; padding: 0px 1px 0px 1px;" colspan="2" >№ {{orderNumber}}{{orderIndex}}</td>
    </tr>

    <tr style="height: 30px; padding: 0; margin: 0;">
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt;text-align: justify; font-weight:bold; padding: 0px 1px 0px 1px; height: auto;" colspan="3">{{titleOrder}}</td>
        <td style="padding: 0;" colspan="3">&nbsp;</td>
    </tr>

    <tr style="height: 60px; padding: 0; margin: 0;">
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: justify; padding: 0px 1px 0px 1px; text-indent: 34px;" colspan="6">{{{preamble}}}</td>
    </tr>

    <tr style="height: 30px; padding: 0; margin: 0;">
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; font-weight:bold; padding: 0px 1px 0px 1px;" colspan="6">НАКАЗУЮ: </td>
    </tr>
    <!--{{#items}}-->
    <tr style="height: 30px; padding: 0; margin: 0;">
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt;text-align: justify; padding: 0px 1px 0px 1px; text-indent: 34px;" colspan="6">
            {{{text}}}
        </td>
    </tr>
    <!--{{/items}}-->
    <!--{{#tasks}}-->
    <tr style="height: 30px; padding: 0; margin: 0;">
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt;text-align: justify; padding: 0px 1px 0px 1px; text-indent: 34px;" colspan="6">
            {{{task}}}
        </td>
     </tr>
     <!--{{/tasks}}-->
    <!--{{#orderReason}}-->
    <tr style="height: 60px; padding: 0; margin: 0;">
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt;text-align: justify; padding: 0px 1px 0px 1px;" colspan="6">{{{reason}}}
        </td>
    </tr>
    <!--{{/orderReason}}-->

    <!--{{#responsiblesInfo}}-->
        <tr style="height: 45px; padding: 0; margin: 0;">
            <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="6">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; font-weight:bold; padding: 0px 25px 0px 1px; vertical-align: top;" colspan="3">{{respPos}}</td>
            <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: {{align}}; font-weight:bold; padding: 0px 1px 0px 25px; vertical-align: bottom;" colspan="3">{{respFirstName}}</td>
        </tr>
    <!--{{/responsiblesInfo}}-->

    </tbody>
</table>