<!--%pageOrientation:portrait-->
<table style="font-family: TimesNewRoman; border-collapse: collapse; word-break: normal; width: 760px; border: 0px solid; font-size: 12pt;">
<tbody>
<tr style="height: 1px; text-align: left; font-size: 8pt;">
<td style="padding: 0px 0px 0px 0px; width: 50px;">&nbsp;</td>
<td style="padding: 0px 0px 0px 0px; width: 210px;">&nbsp;</td>
<td style="padding: 0px 0px 0px 0px; width: 254px;">&nbsp;</td>
<td style="padding: 0px 0px 0px 0px; width: 72px;">&nbsp;</td>
<td style="padding: 0px 0px 0px 0px; width: 56px;">&nbsp;</td>
<td style="padding: 0px 0px 0px 0px; width: 56px;">&nbsp;</td>
<!--{{#showFixDays}}-->
<td style="padding: 0px 0px 0px 0px; width: 112px;">&nbsp;</td>
<!--{{/showFixDays}}-->
<td style="padding: 0px 0px 0px 0px; width: 112px;">&nbsp;</td>
</tr>
<tr style="height: 45px; text-align: left; font-size: 12pt;">
<td style="padding: 0px 0px 0px 0px;">&nbsp;</td>
<td style="padding: 0px 0px 0px 0px; font-weight: bold;" colspan="{{colSpan2}}">Працівник: {{ empInfo }}</td>
</tr>
<tr style="text-align: center;">
<td style=" padding: 0px 0px 0px 0px;">&nbsp;</td>
<td style="padding: 0px 0px 0px 0px; font-weight: bold;" colspan="{{colSpan2}}">Невикористані відпустки станом на {{ onDate }}</td>
</tr>
<tr>
  <td style="padding: 0px 0px 0px 0px;" colspan="{{colSpan3}}">&nbsp;</td>
</tr>
<tr style="text-align: center; font-size: 11pt;">
<td style="padding: 0px 0px 0px 0px;">&nbsp;</td>
<td style="padding: 0px 0px 0px 0px; border: 1px solid; font-weight: bold;" rowspan="2">Період роботи</td>
<td style="padding: 0px 0px 0px 0px; border: 1px solid; font-weight: bold;" rowspan="2">Вид відпустки</td>
<td style="padding: 0px 0px 0px 0px; border: 1px solid; font-weight: bold;" colspan="{{colSpan1}}">Днів відпустки</td>
</tr>
<tr style="text-align: center; font-size: 11pt;">
<td style="padding: 0px 0px 0px 0px;">&nbsp;</td>
<td style="padding: 0px 0px 0px 0px; border: 1px solid; font-weight: bold;">Всього</td>
<td style="padding: 0px 0px 0px 0px; border: 1px solid; font-weight: bold;" colspan="2">Використано</td>
<!--{{#showFixDays}}-->
<td style="padding: 0px 0px 0px 0px; border: 1px solid; font-weight: bold;">Зафіксовано днів</td>
<!--{{/showFixDays}}-->
<td style="padding: 0px 0px 0px 0px; border: 1px solid; font-weight: bold;">Залишилося</td>
</tr>
<!--{{#rows}}-->
<tr style="text-align: center;">
<td style="padding: 0px 0px 0px 0px;"></td>
<td style="padding: 0px 0px 0px 0px; width: 210px; text-align: left;">{{ periodName }}</td>
<td style="padding: 0px 0px 0px 0px; text-align: left;">{{ vacationName }}</td>
<td style="padding: 0px 0px 0px 0px;">{{ dayCountPlan }}</td>
<td style="padding: 0px 0px 0px 0px;" colspan="2">{{ dayCountFact }}</td>
<!--{{#showFixDays}}-->
<td style="padding: 0px 0px 0px 0px;">{{ dayFix }}</td>
<!--{{/showFixDays}}-->
<td style="padding: 0px 0px 0px 0px;">{{ dayDiff }}</td>
</tr>
<!--{{#orders}}-->
<tr style="text-align: left; font-size: 8pt;">
<td style="padding: 0px 0px 0px 0px;"></td>
<td style="padding: 0px 0px 0px 0px;"></td>
<td style="padding: 0px 0px 0px 0px;"></td>
<!--{{#showFixDays}}-->
<td style="padding: 0px 0px 0px 0px;"></td>
<!--{{/showFixDays}}-->
<td style="padding: 0px 0px 0px 0px;" colspan="4">{{ value }}</td>
</tr>
<!--{{/orders}}-->
<!--{{/rows}}-->
<tr style="text-align: center;  font-size: 11pt;">
<td style="padding: 0px 0px 0px 0px;"></td>
<td style="padding: 0px 0px 0px 0px; font-weight:bold;" colspan="{{colSpan2}}">Залишилось днів</td>
</tr>
<tr style="text-align: center;  font-size: 11pt;">
<td style="padding: 0px 0px 0px 0px;"></td>
<td style="padding: 0px 0px 0px 0px; text-align: left;font-weight:bold;" colspan="2">Вид відпустки</td>
<td style="padding: 0px 0px 0px 0px; font-weight:bold;" colspan="2">Залишилось днів*</td>
<td style="padding: 0px 0px 0px 0px; font-weight:bold;" colspan="2">Доступно на дату**</td>
<!--{{#showFixDays}}-->
<td style="padding: 0px 0px 0px 0px; font-weight:bold;"></td>
<!--{{/showFixDays}}-->
</tr>
<!--{{#totals}}-->
<tr style="text-align: center;">
<td style="padding: 0px 0px 0px 0px;"></td>
<td style="padding: 0px 0px 0px 0px; text-align: left;" colspan="2">{{ vacationName }}</td>
<td style="padding: 0px 0px 0px 0px;" colspan="2">{{ daysPlanDiff }}</td>
<td style="padding: 0px 0px 0px 0px;" colspan="2">{{ daysDiff }}</td>
<!--{{#showFixDays}}-->
<td style="padding: 0px 0px 0px 0px; font-weight:bold;"></td>
<!--{{/showFixDays}}-->
</tr>
<!--{{/totals}}-->
<tr>
<td style="padding: 0px 0px 0px 0px;" colspan="{{colSpan3}}">&nbsp;</td>
</tr>
<tr style="text-align: left; font-size: 8pt;">
<td style="padding: 0px 0px 0px 0px;">&nbsp;</td>
<td style="padding: 0px 0px 0px 0px;" colspan="{{colSpan2}}">Примітка:</td>
</tr>
<tr style="text-align: left; font-size: 8pt;">
<td style="padding: 0px 0px 0px 0px;">&nbsp;</td>
<td style="padding: 0px 0px 0px 0px;" colspan="{{colSpan2}}">Залишилось днів* - кількість невикористаних днів відпустки для всіх вказаних періодів надання відпустки;</td>
</tr>
<tr style="text-align: left; font-size: 8pt;">
<td style="padding: 0px 0px 0px 0px;">&nbsp;</td>
<td style="padding: 0px 0px 0px 0px;" colspan="{{colSpan2}}">Доступно на дату** - кількість невикористаних днів відпустки за фактично відпрацьований час.</td>
</tr>
</tbody>
</table>