<!--%pageOrientation:portrait--><table style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; line-height: {{lineHeight}}; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">
    <tbody>
    <tr>
        <td style="width: 50px; padding: 0;">&nbsp;</td>
        <td style="width: 180px; padding: 0;">&nbsp;</td>
        <td style="width: 55px; padding: 0;">&nbsp;</td>
        <td style="width: 70px; padding: 0px 1px 0px 1px; text-align: center;">&nbsp;</td>
        <td style="width: 55px; padding: 0;">&nbsp;</td>
        <td style="width: 180px; padding: 0;">&nbsp;</td>
        <td style="width: 50px; padding: 0;">&nbsp;</td>
    </tr>
    <tr style="padding: 0; margin: 0;">
        <td colspan="7" style="text-align:center;" align="center"><img  src="{{emblem}}" data-style-pdf="padding-left:{{logoPaddingLeft}}px;" alt="emblem" width="{{logoWidthPx}}" height="{{logoHeightPx}}" /></td>
    </tr>
    <!--{{#orderBlock}}-->
    <tr style="height: 15px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px; text-align: center; {{boldOrganizationName}}" colspan="7">{{{organizationName}}}</td>
    </tr>
    <tr style="height: 48px; padding: 0; margin: 0;">
        <td style=" padding: 0; margin: 0; font-size: 1pt;" colspan="7">&nbsp;</td>
    </tr>
    <!--{{/orderBlock}}-->
    <!--{{#mainRespPos}}-->
    <tr style="height: 10px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: {{headFontSize}}pt; padding: 0px 1px 0px 1px; text-align: center; font-weight: bold;" colspan="7">{{{mainRespPos}}}</td>
    </tr>
    <tr style="padding: 0px; margin: 0px;">
        <td colspan="7" style="padding: 0; margin: 0;">
            <img width="{{appointmentLinesWidth}}" height="{{appointmentLinesHeight}}" data-style-pdf="padding: 0; margin: 0;"
            src="{{appointmentLinesFoto}}"/>
        </td>
    </tr>
    <tr style="height: 6px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="7">&nbsp;</td>
    </tr>
    <!--{{/mainRespPos}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: {{titleFontSize}}pt; padding: 0px 1px 0px 1px; text-align: center; font-weight: bold;" colspan="7">{{{orderType}}}</td>
    </tr>
    <!--Дата та номер наказу-->
    <!--{{#orderBlock}}-->
    <tr style="height: 26px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px; text-align: left;" colspan="2">{{fromDate}}{{orderDate}}</td>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="3">{{city}}</td>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px; text-align: right;" colspan="2">№ {{orderNumber}}{{orderIndex}}</td>
    </tr>
    <!--{{/orderBlock}}-->
    <!--{{#appointmentBlock}}-->
    <tr>
        <td colspan="7" style="font-family: TimesNewRoman; font-size: {{appointmentNumberFontSize}}pt; padding: 0px 1px 0px 1px; text-align: left;">{{orderDate}}р. № {{orderNumber}}{{orderIndex}}</td>
    </tr>
    <!--{{/appointmentBlock}}-->
    <tr style="height: 26px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px; text-align: left; {{titleOrderParams}}" colspan="3">{{{titleOrder}}}</td>
        <td style="padding: 0px 1px 0px 1px;" colspan="4">&nbsp;</td>
    </tr>
    <!--{{#preamble}}-->
    <tr style="height: 26px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 34px;" colspan="7">{{{preamble}}}</td>
    </tr>
    <!--{{/preamble}}-->
    <!--{{#orderBlock}}-->
    <tr style="height: 26px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px; text-align: left;" colspan="7"><strong>НАКАЗУЮ: </strong></td>
    </tr>
    <tr style="height: 26px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="7">&nbsp;</td>
    </tr>
    <!--{{/orderBlock}}-->
    <!--{{#items}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 34px;" colspan="7">{{{text}}}</td>
    </tr>
    <!--{{/items}}-->
    <!--{{#tasks}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 34px;" colspan="7">
            {{{task}}}
        </td>
     </tr>
     <!--{{/tasks}}-->
     <!--{{#reason}}-->
        <tr style="height: 26px; padding: 0; margin: 0;">
            <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="7">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px; text-align: justify; {{indent}}" colspan="7">{{{text}}}</td>
        </tr>
     <!--{{/reason}}-->

    <!--{{#responsiblesInfo}}-->
    <tr style="height: 45px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; {{bold}} padding: 0px 25px 0px 1px; text-align: left; vertical-align: top;" colspan="4">{{respPos}}</td>
        <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; {{bold}} padding: 0px 1px 0px 25px; text-align: {{align}}; vertical-align: bottom;" colspan="3">{{respFirstName}}</td>
    </tr>
    <!--{{/responsiblesInfo}}-->

    </tbody>
</table>