<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 14pt;" colspan="23">Список працівників за джерелами фінансування на {{dateFrom}}</td>
    </tr>
    <tr>
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 14pt;" colspan="23">{{organizationName}}</td>
    </tr>
    <!-- {{#departmentName}} -->
    <tr>
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 14pt;" colspan="23">{{departmentName}}</td>
    </tr>
    <!-- {{/departmentName}} -->
    <!-- {{#dictFundSourceID}} -->
    <tr>
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 14pt;" colspan="23">Джерело фінансування: {{dictFundSourceID}}</td>
    </tr>
    <!-- {{/dictFundSourceID}} -->
    <!-- {{#workPlace}} -->
    <tr>
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 14pt;" colspan="23">Місце роботи: {{workPlace}}</td>
    </tr>
    <!-- {{/workPlace}} -->
    <!-- {{#dictEmpCategoryID}} -->
    <tr>
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 14pt;" colspan="23">Кваліфікаційна категорія: {{dictEmpCategoryID}}</td>
    </tr>
    <!-- {{/dictEmpCategoryID}} -->
    <!-- {{#dictStaffCatID}} -->
    <tr>
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 14pt;" colspan="23">Категорія персоналу: {{dictStaffCatID}}</td>
    </tr>
    <!-- {{/dictStaffCatID}} -->
    <tr style="font-size: 12pt;">
        <td style="width: 50px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Таб.№</td>
        <td style="width: 50px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">ПІБ</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">РНОКПП</td>
        <td style="width: 350px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Призначення</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Кількість ставок</td>
        <td style="width: 200px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Штатна посада</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Джерело фінансування</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Оклад</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Посада, ставок</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Дата початку </td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Дата закінчення</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Місце роботи</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Кваліфікаційна категорія</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Категорія персоналу</td>
        <td style="width: 200px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Графік роботи</td>
        <td style="width: 200px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Вид оплати</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Тип договору</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Вид договору</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Організація</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Структурний підрозділ</td>
        <td style="width: 200px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Підрозділ</td>
        <td style="width: 200px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Посада</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">Доповнення до назви посади</td>
    </tr>
    <!--{{#personTable}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{tabNum}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{fullFIO}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{taxCode}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{description}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"mtCount","decimal2"{{/$fs}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{posStaffName}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{dictFundSourceIDName}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"posAccrualSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"fundSourceEmpPosIDmtCount","decimal2"{{/$fs}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{dateFrom}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{dateTo}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{workPlace}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{dictEmpCategoryIDDescription}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{dictStaffCatIDName}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{workScheduleIDName}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{payElIDName}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{contractType}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{dictContractKindIDName}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{organizationName}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{selfStructDepName}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{depName}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{dictPositionIDName}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{posNameAddition}}</td>
    </tr>
    <!--{{/personTable}}-->
    </tbody>
</table>
