<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 12pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="0px">
    <tbody>
    <tr>
        <td style="width: 50px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 150px; font-size: 1pt;">&nbsp;</td>
        <!-- {{#showAddDescrPerson}} -->
            <td style="width: 200px; font-size: 1pt;">&nbsp;</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 150px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 150px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 200px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 200px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 200px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 200px; font-size: 1pt;">&nbsp;</td>
        <!-- {{#useActualPositionName}} -->
            <td style="width: 200px; font-size: 1pt;">&nbsp;</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 150px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 125px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 125px; font-size: 1pt;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman;text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">Список працівників, яким призначено матдопомогу за період з {{dateFrom}} по {{dateTo}}</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman;text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">{{organizationName}}</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="font-family: TimesNewRoman;text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <tr>
        <td style="font-family: TimesNewRoman;text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid;">№ з/п</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>
        <!-- {{#showAddDescrPerson}} -->
            <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid;">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid;">Вид нарахування (назва)</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid;">Встановлене значення</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid;">За наказом</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid;">Посада</td>
        <!-- {{#useActualPositionName}} -->
            <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid;">Фактична посада</td>
        <!-- {{/useActualPositionName}} -->
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid;">Підрозділ</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Структурний підрозділ</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Організація</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid;">Категорія персоналу</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid;">Місце роботи</td>
    </tr>
    <!--{{#items}}-->
    <tr style="page-break-inside: avoid;">
        <td style="font-family: TimesNewRoman; vertical-align: top; font-size: 12pt; text-align: center; border: 1px solid;">{{pn}}</td>
        <td style="font-family: TimesNewRoman; vertical-align: top; font-size: 12pt; text-align: left; border: 1px solid;">{{fullFIO}}</td>
        <!-- {{#showAddDescrPerson}} -->
            <td style="font-family: TimesNewRoman; vertical-align: top; font-size: 12pt; text-align: left; border: 1px solid;">{{addDescrPerson}}</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="font-family: TimesNewRoman; vertical-align: top; font-size: 12pt; text-align: left; border: 1px solid;">{{payElName}}</td>
        <td style="font-family: TimesNewRoman; vertical-align: top; font-size: 12pt; text-align: left; border: 1px solid;">{{accrual}}</td>
        <td style="font-family: TimesNewRoman; vertical-align: top; font-size: 12pt; text-align: left; border: 1px solid;">{{orderDescription}}</td>
        <td style="font-family: TimesNewRoman; vertical-align: top; font-size: 12pt; text-align: left; border: 1px solid;">{{posName}}</td>
        <!-- {{#useActualPositionName}} -->
            <td style="font-family: TimesNewRoman; vertical-align: top; font-size: 12pt; text-align: left; border: 1px solid;">{{actualPositionName}}</td>
        <!-- {{/useActualPositionName}} -->
        <td style="font-family: TimesNewRoman; vertical-align: top; font-size: 12pt; text-align: left; border: 1px solid;">{{depName}}</td>
        <td style="font-family: TimesNewRoman; vertical-align: top; font-size: 12pt; text-align: left; border: 1px solid;">{{depFirst}}</td>
        <td style="font-family: TimesNewRoman; vertical-align: top; font-size: 12pt; text-align: left; border: 1px solid;">{{orgName}}</td>
        <td style="font-family: TimesNewRoman; vertical-align: top; font-size: 12pt; text-align: left; border: 1px solid;" >{{dictStaffCatName}}</td>
        <td style="font-family: TimesNewRoman; vertical-align: top; font-size: 12pt; text-align: left; border: 1px solid;" >{{workPlaceName}}</td>
    </tr>
    <!--{{/items}}-->
    <tr>
        <td colspan="{{colSpan}}" style="height: 50px">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="{{colSpan2}}" style="font-family: TimesNewRoman; font-size: 12pt; text-align: center;">{{respPosName}}</td>
        <td>&nbsp;</td>
        <td colspan="{{colSpan3}}" style="tfont-family: TimesNewRoman; font-size: 12pt; text-align: center;">{{respName}}</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="{{colSpan2}}" style="font-family: TimesNewRoman; font-size: 10pt; height: 20px;border-top: 1px solid; text-align: center;">(Посада)</td>
        <td>&nbsp;</td>
        <td colspan="{{colSpan3}}" style="font-family: TimesNewRoman; font-size: 10pt; height: 20px;border-top: 1px solid; text-align: center;">(Прiзвище I.Б.)</td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>