<!--%pageOrientation:portrait-->

<table style="font-size: {{fontSize}}pt; table-layout: fixed; line-height: {{lineHeight}}; border-collapse: collapse; width: 750px;  word-break: normal;" border="0px" >
    <tbody>
        <tr>
          <td style="width: 200px;"></td>
          <td style="width: 120px;"></td>
          <td style="width: 50px;"></td>
          <td style="width: 50px;"></td>
          <td style="width: 120px;"></td>
          <td style="width: 200px;"></td>
         </tr>
        <tr style="padding: 0; margin: 0;">
            <td colspan="6" style="text-align:center;" align="center"><img  src="{{emblem}}" data-style-pdf="padding-left:{{logoPaddingLeft}}px;" alt="emblem" width="{{logoWidthPx}}" height="{{logoHeightPx}}" /></td>
        </tr>
        <tr style="height: 60px;">
            <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; border-style: hidden; text-align: center; {{boldOrganizationName}}" colspan="6">{{{organizationName}}}</td>
        </tr>
        <tr style="height: 30px;">
            <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; border-style: hidden; text-align: center; vertical-align: top; " colspan="6">
               <b>Н А К А З</b>
            </td>
        </tr>
    <!--Дата та номер наказу-->
    <tr style="height: 60px;">
        <td colspan="2" style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; height: 18px;">{{fromDate}}{{orderDate}}</td>
        <td colspan="2" style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; height: 18px; text-align: center;">{{city}}</td>
        <td colspan="2" style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; height: 18px;text-align: right">№ {{orderNumber}}{{orderIndex}}</td>
    </tr>

    <tr style="height: 30px;">
        <td colspan="3" style="font-family: TimesNewRoman; font-size: {{fontSize}}pt;text-align: justify; font-weight:bold; height: auto;">{{{titleOrder}}}<br/>{{titleName}}</td>
        <td colspan="3"></td>
    </tr>

    <tr style="height: 60px">
        <td colspan="6" style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: justify; text-indent: 50px;">{{{preamble}}}</td>
    </tr>

    <tr style="height: 30px">
        <td colspan="6" style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left;"><B>НАКАЗУЮ: </B></td>
    </tr>
    <!--{{#detail}}-->
    <tr style="height: 30px">
        <td colspan="6" style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: justify; text-indent: 50px;">
            &nbsp;&nbsp;&nbsp;Змінити прізвище <B>{{fullNameFirst}}</B>&nbsp;на&nbsp;<B>{{secondName}}</B>,&nbsp;у трудовій книжці, облікових та бухгалтерських документах&nbsp;<b>{{genName}}</b>,&nbsp;{{genOrder}}&nbsp;{{position}}{{genOrganization}}
        </td>
    </tr>
    <!--{{/detail}}-->
    <!--{{#reason}}-->
    <tr style="height: 60px">
        <td colspan="6" style="font-family: TimesNewRoman; font-size: {{fontSize}}pt;text-align: justify;">{{{reason}}}</td>
    </tr>
    <!--{{#reason}}-->

    <!--{{#responsiblesInfo}}-->
        <tr style="height: 45px; padding: 0; margin: 0;">
            <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="6">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; font-weight:bold; padding: 0px 25px 0px 1px; vertical-align: top;" colspan="3">{{respPos}}</td>
            <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: {{align}}; font-weight:bold; padding: 0px 1px 0px 25px; vertical-align: bottom;" colspan="3">{{respFirstName}}</td>
        </tr>
    <!--{{/responsiblesInfo}}-->

    </tbody>
</table>