<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: 12pt; line-height: 1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 10px;" border="0px" width="700px" cellspacing="0" cellpadding="0px">
<tbody>
<!--{{#positionCategoryA}}-->
<tr style="height: 5px; padding: 0; margin: 0; font-size: 3pt; ">
<td style="width: 700px; padding: 0;">&nbsp;</td>
<!--{{/positionCategoryA}}-->
<!--{{^positionCategoryA}}-->
<tr style="height: 5px; padding: 0; margin: 0; font-size: 3pt; ">
<td style="width: 20px; padding: 0;">&nbsp;</td>
<td style="width: 70px; padding: 0;">&nbsp;</td>
<td style="width: 70px; padding: 0;">&nbsp;</td>
<td style="width: 50px; padding: 0;">&nbsp;</td>
<td style="width: 50px; padding: 0;">&nbsp;</td>
<td style="width: 50px; padding: 0;">&nbsp;</td>
<td style="width: 100px; padding: 0;">&nbsp;</td>
<td style="width: 20px; padding: 0;">&nbsp;</td>
<td style="width: 30px; padding: 0;">&nbsp;</td>
<td style="width: 100px; padding: 0;">&nbsp;</td>
<td style="width: 5px; padding: 0;">&nbsp;</td>
<td style="width: 20px; padding: 0;">&nbsp;</td>
<td style="width: 25px; padding: 0;">&nbsp;</td>
<td style="width: 20px; padding: 0;">&nbsp;</td>
<td style="width: 90px; padding: 0;">&nbsp;</td>
</tr>
<tr style="height: 20px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; text-align: center;" colspan="15">РЕЗУЛЬТАТИ</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; text-align: center;" colspan="15">виконання завдань державним службовцем, який займає посаду</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; text-align: center;" colspan="15">державної служби категорії "Б" або "В",</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; text-align: center;" colspan="15">за {{year}} рік</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman;" colspan="5">Найменування державного органу</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border-bottom-width: 1px; border-bottom-style: solid;" colspan="10">{{orgName}}</td>
</tr>
<tr style="height: 5px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-size: 3pt; " colspan="15">&nbsp;</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman;" colspan="5">Прізвище, ім'я, по батькові</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border-bottom-width: 1px; border-bottom-style: solid;" colspan="5">{{employeeName}}</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{positionCategory1}}</td>
<td style="padding: 0px 1px 0px 1px;">Б</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman;border: 1px solid; text-align: center;">{{positionCategory2}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman;">В</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman;" colspan="2">Посада</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border-bottom-width: 1px; border-bottom-style: solid;" colspan="8">{{positionName}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top;" colspan="5">&nbsp;&nbsp;(категорія посади)</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="6">Найменування структурного підрозділу</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border-bottom-width: 1px; border-bottom-style: solid;" colspan="9">{{departmentName}}</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="7">Найменування самостійного структурного підрозділу&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border-bottom-width: 1px; border-bottom-style: solid;" colspan="8">{{departmentName2}}</td>
</tr>

<tr style="height: 5px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-size: 3pt; " colspan="15">&nbsp;</td>
</tr>

<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;" colspan="2">Номер завдання</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;" colspan="7">Досягнутий результат (відповідно до показників результативності, ефективності та якості)</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">Строк фактичного виконання</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;" colspan="3">Бал</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;" colspan="2">Обґрунтування</td>
</tr>
<!-- {{#tasks}} -->
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;" colspan="2">{{number}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; " colspan="7">{{taskComment}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{doneDate}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;" colspan="3">{{score}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid;" colspan="2">{{resultDescription}}</td>
</tr>
<!-- {{/tasks}} -->
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; " colspan="15">&nbsp;</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="3">Середній бал</td>
<td style="padding: 0px 1px 0px 1px;" colspan="12">&nbsp;</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border-bottom-width: 1px; border-bottom-style: solid; text-align: center;" colspan="2">{{avgValue}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border-bottom-width: 1px; border-bottom-style: solid; text-align: center;" colspan="13">&nbsp;</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; " colspan="15">&nbsp;</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="2">Оцінка</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; " colspan="5">Середній бал</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="8">Обґрунтування оцінки:</td>
</tr>

<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{assessmentValue1}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="2">відмінна</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; ">від</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center;">3,65</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: right;">до</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center;">4</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; vertical-align: top;" colspan="8" rowspan="5">{{assessmentDescription}}</td>
</tr>
<tr style="height: 5px; padding: 0; margin: 0; font-size: 3pt; ">
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="2">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{assessmentValue2}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="2">позитивна</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; ">від</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center;">2,50</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: right;">до</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center;">3,64</td>
</tr>
<tr style="height: 5px; padding: 0; margin: 0; font-size: 3pt; ">
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="2">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{assessmentValue3}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="2">негативна</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; ">від</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center;">0</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: right;">до</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center;">2,49</td>
</tr>

<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; " colspan="15">&nbsp;</td>
</tr>
<tr style="page-break-after: always;">
<td colspan="15">
<p>&nbsp;<!-- pagebreak --></p>
</td>
</tr>
<tr>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="15">Визначені потреби у професійному навчанні (зазначити компетентності та деталізувати їх):</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="6">для категорії “Б”:</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="7">для категорії “В”:</td>
</tr>

<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{b1}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="6">знання законодавства</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{v1}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="7">знання законодавства</td>
</tr>
<tr style="height: 5px; padding: 0; margin: 0; font-size: 3pt; ">
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="6">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="7">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{b2}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="6">професійні знання</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{v2}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="7">професійні знання</td>
</tr>
<tr style="height: 5px; padding: 0; margin: 0; font-size: 3pt; ">
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="6">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="7">&nbsp;</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{b3}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="6">лідерство</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{v3}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="7">виконання на високому</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="6">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="7">рівні поставлених завдань</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{b4}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="6">прийняття ефективних рішень</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{v4}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="7">командна робота та взаємодія</td>
</tr>
<tr style="height: 5px; padding: 0; margin: 0; font-size: 3pt; ">
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="6">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="7">&nbsp;</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{b5}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="6">комунікації та взаємодія</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{v5}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="7">сприйняття змін</td>
</tr>
<tr style="height: 5px; padding: 0; margin: 0; font-size: 3pt; ">
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="6">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="7">&nbsp;</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{b6}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="6">впровадження змін</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{v6}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="7">технічні вміння</td>
</tr>
<tr style="height: 5px; padding: 0; margin: 0; font-size: 3pt; ">
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="6">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="7">&nbsp;</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{b7}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="6">управління організацією роботи</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border: 1px solid; text-align: center;">{{v7}}</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="7">інше (зазначити)</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; " colspan="6">та персоналом</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="7">&nbsp;</td>
</tr>

<tr style="height: 7px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-size: 3pt; " colspan="15">&nbsp;</td>
</tr>
<tr style="height: 19px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border-top-width: 1px; border-top-style: solid; border-left-width: 1px; border-left-style: solid; border-right-width: 1px; border-right-style: solid;" colspan="15">Деталізація компетенцій:</td>
</tr>
<tr style="height: 19px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-left-style: solid; border-right-width: 1px; border-right-style: solid;" colspan="15">{{assessmentDescription}}</td>
</tr>
<tr style="height: 7px; padding: 0; margin: 0; ">
<td style="padding: 0px 1px 0px 1px; font-size: 3pt; " colspan="15">&nbsp;</td>
</tr>

<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="5">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="2">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="3">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="2">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="5">(посада безпосереднього керівника)</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;">(підпис)</td>
<td style="padding: 0px 1px 0px 1px;" colspan="2">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="3">(ініціали та прізвище)</td>
<td style="padding: 0px 1px 0px 1px;" colspan="2">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;">(дата)</td>
</tr>

<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="5">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="2">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="3">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="2">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="5">(посада керівника самостійного структурного підрозділу)</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;">(підпис)</td>
<td style="padding: 0px 1px 0px 1px;" colspan="2">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="3">(ініціали та прізвище)</td>
<td style="padding: 0px 1px 0px 1px;" colspan="2">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;">(дата)</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="5">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="2">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="3">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px;" colspan="2">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr style="height: 18px; padding: 0; margin: 0;">
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="5">(найменування посади державного службовця)</td>
<td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;">(підпис)</td>
<td style="padding: 0px 1px 0px 1px;" colspan="2">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="3">(ініціали та прізвище)</td>
<td style="padding: 0px 1px 0px 1px;" colspan="2">&nbsp;</td>
<td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;">(дата)</td>
</tr>
</tbody>
<!--{{/positionCategoryA}}-->
</table>