<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 12pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="0px">
    <tbody>
    <tr>
        <td style="width: 50px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 200px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 100px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 100px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 50px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 150px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 150px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 100px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 100px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 100px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 150px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 150px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 100px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 100px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 150px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 150px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 150px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 100px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 100px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 100px; font-size: 1pt;">&nbsp;</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 200px; font-size: 1pt;">&nbsp;</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 200px; font-size: 1pt;">&nbsp;</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 200px; font-size: 1pt;">&nbsp;</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 200px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 200px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 125px; font-size: 1pt;">&nbsp;</td>
        <td style="width: 150px; font-size: 1pt;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman;text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">Список працюючих осіб з інвалідністю з {{dateFrom}} по {{dateTo}}</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman;text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">{{organizationName}}</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="font-family: TimesNewRoman;text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <!--{{#workPlaceName}}-->
    <tr>
        <td style="font-family: TimesNewRoman;text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">{{workPlaceName}}</td>
    </tr>
    <!--{{/workPlaceName}}-->
    <tr>
        <td style="font-family: TimesNewRoman;text-align: right; font-size: 12pt;" colspan="{{colSpan}}">Станом на {{onDate}}</td>
    </tr>

    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">№ з/п</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Прізвище, ім'я,<br/>по батькові</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Дата народження</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Стать</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Вік</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Адреса фактичного проживання</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Назва пільги</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Кількість додаткових днів відпустки</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Дата початку дії пільги</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Дата закінчення дії пільги</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Вид інвалідності</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Група інвалідності</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Діє з</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">по</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Довідка про інвалідність</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Ким видана</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Категорія</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Дата прийняття на роботу</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Прийнятий</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Звільнений</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Посада</td>
        <!-- {{#useActualPositionName}} -->
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Фактична посада</td>
        <!-- {{/useActualPositionName}} -->
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Підрозділ</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Самостійний підрозділ</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Місце виникнення витрат</td>
        <td style="font-family: TimesNewRoman; font-weight: bold; font-size: 12pt; text-align: center; border: 1px solid; ">Організація</td>
    </tr>

    <tr>
        <!-- {{#colNums}} -->
        <td style="text-align: center; font-size: 12pt; font-family: TimesNewRoman; border: 1px solid;">{{name}}</td>
        <!-- {{/colNums}} -->
    </tr>

    <!--{{#rows}}-->
    <tr style="vertical-align: top;">
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;">{{pn}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{fullFIO}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;">{{birthDate}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;">{{sexType}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;">{{age}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{homeAddress}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{benefitName}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;">{{dayCount}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;">{{benefitsDateFrom}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;">{{benefitsDateTo}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{disabilityName}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;">{{disabilityGroup}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;">{{disabilityDateFrom}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;">{{disabilityDateTo}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{employeeDoc}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{docIssuer}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{dictStaffCatName}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;">{{startWork}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{appointOrder}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{dismissOrder}}</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{addDescrPerson}}</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{posName}}</td>
        <!-- {{#useActualPositionName}} -->
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{actualPositionName}}</td>
        <!-- {{/useActualPositionName}} -->
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{depName}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{depFirst}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{dictCostTypeName}}</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{orgName}}</td>
    </tr>
    <!--{{/rows}}-->
    </tbody>
</table>