<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; overflow-wrap: break-word; border-collapse: collapse; width: 1350px;">

  <tr style="height: 20px;">
    <td style="text-align: center; font-weight: bold; font-size: 14pt;" colspan="8">Список осіб щодо встановлення надбавки за вислугу років за період {{dateFrom}} - {{dateTo}}</td>
  </tr>

  <tr style="height: 19px;">
    <td style="text-align: center; font-weight: bold; font-size: 14pt; height: 39px; padding-bottom: 20px;" colspan="8">{{organizationName}} {{subOrg}}</td>
  </tr>

  <tr style="height: 19px;">
    <td style="text-align: right; font-size: 14pt;" colspan="8">cтаном на {{onDate}}</td>
  </tr>

  <tr style="font-weight: bold; font-size: 14pt;">
    <td style="width: 50px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; height: 54px;">№ з/п</td>
    <td style="width: 200px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; height: 54px;">Прізвище, ім'я,<br/>по батькові</td>
    <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; height: 54px;">Вислуга (в<br/>роках)</td>
    <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; height: 54px;">Надбавка %</td>
    <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; height: 54px;">Дата встановлення</td>
    <td style="width: 200px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; height: 54px;">Посада</td>
    <td style="width: 250px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; height: 54px;">Підрозділ</td>
    <td style="width: 250px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid; height: 54px;">Самостійний<br/>структурний підрозділ</td>
  </tr>

  <!-- {{#emps}} -->
  <tr style="font-size: 14pt; vertical-align: top; page-break-inside: avoid;">
    <td style="width: 50px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; height: 18px;">{{num}}</td>
    <td style="width: 200px; text-align: left; border-left: 1px solid; border-bottom: 1px solid; height: 18px;">{{fullFIO}} ({{tabNum}})</td>
    <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; height: 18px;">{{stageYear}}</td>
    <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; height: 18px;">{{rate}}</td>
    <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; height: 18px;">{{setDate}}</td>
    <td style="width: 200px; text-align: left; border-left: 1px solid; border-bottom: 1px solid; height: 18px;">{{posName}}</td>
    <td style="width: 250px; text-align: left; border-left: 1px solid; border-bottom: 1px solid; height: 18px;">{{depTree}}</td>
    <td style="width: 250px; text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid; height: 18px;">{{structDepName}}</td>
  </tr>
  <!-- {{/emps}} -->

  <tr>
    <td colspan="8" style="height: 50px"></td>
  </tr>
  <tr style="font-size: 14pt;">
    <td></td>
    <td colspan="3" style="text-align: center;">{{respPosName}}</td>
    <td></td>
    <td colspan="3" style="text-align: center;">{{respName}}</td>
  </tr>
  <tr style="font-size: 12pt;">
    <td></td>
    <td colspan="3" style="height: 20px;border-top: 1px solid; text-align: center;">(Посада)</td>
    <td></td>
    <td colspan="3" style="height: 20px;border-top: 1px solid; text-align: center;">Прiзвище I.Б.</td>
  </tr>
</table>