<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 14pt; table-layout: fixed; border-collapse: collapse; word-break: normal; " border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="font-size: 1pt; width: 50px; ">&nbsp;</td>
        <td style="font-size: 1pt; width: 70px; ">&nbsp;</td>
        <td style="font-size: 1pt; width: 200px; ">&nbsp;</td>
        <!-- {{#showAddDescrPerson}} -->
            <td style="font-size: 1pt; width: 200px; ">&nbsp;</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="font-size: 1pt; width: 200px; ">&nbsp;</td>
        <!-- {{#useActualPositionName}} -->
            <td style="font-size: 1pt; width: 200px; ">&nbsp;</td>
        <!-- {{/useActualPositionName}} -->
        <td style="font-size: 1pt; width: 150px; ">&nbsp;</td>
        <td style="font-size: 1pt; width: 150px; ">&nbsp;</td>
        <td style="font-size: 1pt; width: 150px; ">&nbsp;</td>
        <td style="font-size: 1pt; width: 120px; ">&nbsp;</td>
        <td style="font-size: 1pt; width: 150px; ">&nbsp;</td>
        <td style="font-size: 1pt; width: 80px; ">&nbsp;</td>
        <td style="font-size: 1pt; width: 80px; ">&nbsp;</td>
        <td style="font-size: 1pt; width: 150px; ">&nbsp;</td>
        <td style="font-size: 1pt; width: 100px; ">&nbsp;</td>
        <td style="font-size: 1pt; width: 100px; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">СПИСОК</td>
    </tr>
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">працівників {{organizationName}}, які перебувають у відпустках (по догляду за дитиною віком до 3 років, до 6 років)</td>
    </tr>
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 11pt;" colspan="{{colSpan}}">за період {{period}} року</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 11pt;" colspan="{{colSpan}}">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <tr>
        <td style="font-weight: bold; font-size: 11pt; text-align: center; font-family: TimesNewRoman; border: 1px solid;">№ з/п</td>
        <td style="font-weight: bold; font-size: 11pt; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Табельний<br/>номер</td>
        <td style="font-weight: bold; font-size: 11pt; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>
        <!-- {{#showAddDescrPerson}} -->
            <td style="font-weight: bold; font-size: 11pt; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="font-weight: bold; font-size: 11pt; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Посада</td>
        <!-- {{#useActualPositionName}} -->
            <td style="font-weight: bold; font-size: 11pt; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Фактична посада</td>
        <!-- {{/useActualPositionName}} -->
        <td style="font-weight: bold; font-size: 11pt; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Підрозділ</td>
        <td style="font-weight: bold; font-size: 11pt; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Самостійний підрозділ</td>
        <td style="font-weight: bold; font-size: 11pt; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Організація</td>
        <td style="font-weight: bold; font-size: 11pt; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Місце роботи</td>
        <td style="font-weight: bold; font-size: 11pt; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Вид відпустки</td>
        <td style="font-weight: bold; font-size: 11pt; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата початку</td>
        <td style="font-weight: bold; font-size: 11pt; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата закінчення</td>
        <td style="font-weight: bold; font-size: 11pt; text-align: center; font-family: TimesNewRoman; border: 1px solid;">За наказом</td>
        <td style="font-weight: bold; font-size: 11pt; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Вік дитини</td>
        <td style="font-weight: bold; font-size: 11pt; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Кількість днів</td>
    </tr>
    <!--{{#personTable}}-->
    <tr>
        <td style="font-size: 10pt; vertical-align: top; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{pn}}</td>
        <td style="font-size: 10pt; vertical-align: top; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{tabNum}}</td>
        <td style="font-size: 10pt; vertical-align: top; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{fullFIO}}</td>
        <!-- {{#showAddDescrPerson}} -->
            <td style="font-size: 10pt; vertical-align: top; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{addDescrPerson}}</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="font-size: 10pt; vertical-align: top; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <!-- {{#useActualPositionName}} -->
            <td style="font-size: 10pt; vertical-align: top; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{actualPositionName}}</td>
        <!-- {{/useActualPositionName}} -->
        <td style="font-size: 10pt; vertical-align: top; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{depName}}</td>
        <td style="font-size: 10pt; vertical-align: top; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{depFirst}}</td>
        <td style="font-size: 10pt; vertical-align: top; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{orgName}}</td>
        <td style="font-size: 10pt; vertical-align: top; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{workPlace}}</td>
        <td style="font-size: 10pt; vertical-align: top; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{dictVacationKindName}}</td>
        <td style="font-size: 10pt; vertical-align: top; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{vdateFrom}}</td>
        <td style="font-size: 10pt; vertical-align: top; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{vdateTo}}</td>
        <td style="font-size: 10pt; vertical-align: top; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{vacDescription}}</td>
        <td style="font-size: 10pt; vertical-align: top; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{childAge}}</td>
        <td style="font-size: 10pt; vertical-align: top; text-align: right; font-family: TimesNewRoman; border: 1px solid;">{{dayCount}}</td>
    </tr>
    <!--{{/personTable}}-->
    <tr>
        <td style="text-align: right; font-weight: bold; font-size: 11pt; text-align: font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;" colspan="{{colSpan2}}">Всього</td>
        <td style="text-align: right; font-weight: bold; font-size: 11pt; text-align: font-family: TimesNewRoman; border: 1px solid; border-top: 1px solid;">{{daySum}}</td>
    </tr>
    </tbody>
</table>