<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">Список осіб: {{listName}} {{period}}</td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 11pt;" colspan="{{colSpan}}">{{organizationName}}</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 11pt;" colspan="{{colSpan}}">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <tr>
        <td style="width: 100%; text-align: right; font-size: 11pt;" colspan="{{colSpan}}">Станом на {{onDate}}</td>
    </tr>
    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="width: 50px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">№ з/п</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Категорія посади</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Ранг</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата присвоєння<br/>рангу</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата присвоєння<br/>чергового рангу</td>
        <!-- {{#showNextRank}} -->
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Черговий ранг</td>
        <!-- {{/showNextRank}} -->
        <td style="width: 80px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата звільнення</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 120px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Коментар</td>
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Посада</td>
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Підрозділ</td>
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Самостійний<br/>структурний підрозділ</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Організація</td>

    </tr>
    <tr style="font-size: 10pt;">
      <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">1</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">2</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">3</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">4</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">5</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">6</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">7</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">8</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">9</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">10</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">11</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">12</td>
        <!-- {{#showNextRank}} -->
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">13</td>
        <!-- {{/showNextRank}} -->
        <!-- {{#showAddDescrPerson}} -->
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">14</td>
        <!-- {{/showAddDescrPerson}} -->

    </tr>
    <!--{{#rankTable}}-->
    <tr style="font-size: 10pt; vertical-align: top; page-break-inside: avoid">
        <td style="width: 50px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{pn}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{fullFIO}}</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{posCategory}}</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{rankCur}}</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{rankDateFrom}}</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{rankDateNext}}</td>
        <!-- {{#showNextRank}} -->
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;" >{{rankNext}}</td>
        <!-- {{/showNextRank}} -->
        <td style="width: 80px; text-align: center; font-family: TimesNewRoman; border: 1px solid;" >{{dismDate}}</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{addDescrPerson}}</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 120px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{rankComment}}</td>
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{posName}}</td>
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{depName}}</td>
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{depFirst}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{orgName}}</td>
    </tr>
    <!--{{/rankTable}}-->
    </tbody>
</table>