<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="1370px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="13">Список осіб: працівники за освітою</td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 11pt;" colspan="13">{{org}}</td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: right; font-size: 11pt;" colspan="13">Станом на {{onDate}}</td>
    </tr>
    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="width: 50px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">№ з/п</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>
        <td style="width: 70px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Категорія посади</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Ранг</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Посада</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Підрозділ</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; ">Самостійний<br/>структурний підрозділ</td>

        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Рівень освіти</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Спеціальність</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Кваліфікація</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Науковий ступінь</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Номер та дата<br/>отримання диплому</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">Заклад освіти</td>

    </tr>
    <!--{{#resultTable}}-->
    <tr style="font-size: 10pt;">
        <td style="width: 50px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{pn}}</td>
        <td style="width: 150px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{fullName}}</td>
        <td style="width: 70px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{posCategory}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{rankCur}}</td>
        <td style="width: 100px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="width: 150px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{depTree}}</td>
        <td style="width: 150px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{depFirst}}</td>

        <td style="width: 100px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{dictEducationLevelName}}</td>
        <td style="width: 100px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{dictSpecialtyName}}</td>
        <td style="width: 100px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{qualification}}</td>
        <td style="width: 100px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;" >{{dictDegreeName}}</td>
        <td style="width: 100px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;" >{{docInfo}}</td>
        <td style="width: 100px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;  border-right: 1px solid;" >{{educationName}}</td>
    </tr>
    <!--{{/resultTable}}-->
    </tbody>
</table>