<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">СПИСОК</td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">працівників, які відсутні через хворобу</td>
    </tr>
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 11pt;" colspan="{{colSpan}}">за період {{period}} року</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="text-align: right; font-weight: bold; font-size: 11pt;" colspan="{{colSpan}}">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="width: 50px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">№ з/п</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Табельний<br/>номер</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Посада</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Фактична посада</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Самостійний структурний підрозділ</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Організація</td>
        <td style="width: 120px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Місце роботи</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Причина непрацездатності</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Серія та номер лікарняного</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата видачі лікарняного</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Кількість днів</td>
    </tr>
    <!--{{#personTable}}-->
    <tr style="font-size: 10pt; page-break-inside: avoid; vertical-align: top;">
        <td style="width: 50px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{pn}}</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{tabNum}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{fullFIO}}</td>
        <!-- {{#showAddDescrPerson}} -->
            <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{addDescrPerson}}</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{posName}}</td>
        <!-- {{#useActualPositionName}} -->
            <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{actualPositionName}}</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{selfStructDepName}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{orgName}}</td>
        <td style="width: 120px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{workPlace}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{illnessReason}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{serie}}</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{orderDate}}</td>
        <td style="width: 100px; text-align: right; font-family: TimesNewRoman; border: 1px solid;">{{dayCount}}</td>
    </tr>
    <!--{{/personTable}}-->
    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="text-align: right; font-family: TimesNewRoman; border: 1px solid;" colspan="{{colSpan2}}">Всього</td>
        <td style="text-align: right; font-family: TimesNewRoman; border: 1px solid;">{{daySum}}</td>
    </tr>
    </tbody>
</table>