<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; overflow-wrap: break-word; border-collapse: collapse; font-family: TimesNewRoman; width: {{tableWidth}}px;">
  <tr style="font-size: 11pt;">
    <td style="width: 50px;">&nbsp;</td>
    <td style="width: 150px;">&nbsp;</td>
    <td style="width: 100px;">&nbsp;</td>
    <td style="width: 100px;">&nbsp;</td>
    <td style="width: 100px;">&nbsp;</td>
    <!-- {{#showAddDescrPerson}} -->
        <td style="200px;">&nbsp;</td>
    <!-- {{/showAddDescrPerson}} -->
    <td style="width: 200px;">&nbsp;</td>
    <!-- {{#useActualPositionName}} -->
        <td style="width: 200px;">&nbsp;</td>
    <!-- {{/useActualPositionName}} -->
    <td style="width: 200px;">&nbsp;</td>
    <td style="width: 200px;">&nbsp;</td>
    <td style="width: 150px;">&nbsp;</td>
  </tr>

  <tr>
    <td style="font-family: TimesNewRoman; text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">Список працівників</td>
  </tr>

  <tr>
    <td style="font-family: TimesNewRoman; text-align: center; font-weight: bold; font-size: 11pt;" colspan="{{colSpan}}">{{organizationName}}</td>
  </tr>
  <!-- {{#departmentName}} -->
  <tr>
    <td style="font-family: TimesNewRoman; text-align: center; font-weight: bold; font-size: 11pt;" colspan="{{colSpan}}">{{departmentName}}</td>
  </tr>
  <!-- {{/departmentName}} -->

  <tr>
    <td style="font-family: TimesNewRoman; text-align: right; font-size: 11pt;" colspan="{{colSpan}}">Станом на {{onDate}}</td>
  </tr>

  <tr style="font-weight: bold; font-size: 11pt;">
    <td style="font-family: TimesNewRoman; width: 50px; text-align: center; border: 1px solid; height: 54px;">№ з/п</td>
    <td style="font-family: TimesNewRoman; width: 150px; text-align: center; border: 1px solid; height: 54px;">Прізвище, ім'я,<br/>по батькові</td>
    <td style="font-family: TimesNewRoman; width: 100px; text-align: center; border: 1px solid; height: 54px;">Вік на дату</td>
    <td style="font-family: TimesNewRoman; width: 100px; text-align: center; border: 1px solid; height: 54px;">Дата призн.<br/>до органу</td>
    <td style="font-family: TimesNewRoman; width: 100px; text-align: center; border: 1px solid; height: 54px;">Дата призн.<br/>на посаду</td>
    <!-- {{#showAddDescrPerson}} -->
        <td style="font-family: TimesNewRoman; width: 200px; text-align: center; border: 1px solid; height: 54px;">Додаткова інформація</td>
    <!-- {{/showAddDescrPerson}} -->
    <td style="font-family: TimesNewRoman; width: 200px; text-align: center; border: 1px solid; height: 54px;">Посада</td>
    <!-- {{#useActualPositionName}} -->
        <td style="font-family: TimesNewRoman; width: 200px; text-align: center; border: 1px solid; height: 54px;">Фактична посада</td>
    <!-- {{/useActualPositionName}} -->
    <td style="font-family: TimesNewRoman; width: 200px; text-align: center; border: 1px solid; height: 54px;">Підрозділ</td>
    <td style="font-family: TimesNewRoman; width: 200px; text-align: center; border: 1px solid; height: 54px;">Самостійний<br/>структурний підрозділ</td>
    <td style="font-family: TimesNewRoman; width: 150px; text-align: center; border: 1px solid; height: 54px;">Організація</td>
  </tr>

  <tr style="font-size: 10pt;">
    <!-- {{#colNums}} -->
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{name}}</td>
    <!-- {{/colNums}} -->
  </tr>

  <!-- {{#rows}} -->
  <tr style="font-size: 10pt; vertical-align: top;">
    <td style="font-family: TimesNewRoman; width: 50px; text-align: center; border: 1px solid;">{{index}}</td>
    <td style="font-family: TimesNewRoman; width: 150px; text-align: left; border: 1px solid;">{{fullFIO}}</td>
    <td style="font-family: TimesNewRoman; width: 100px; text-align: center; border: 1px solid;">{{age}}</td>
    <td style="font-family: TimesNewRoman; width: 100px; text-align: center; border: 1px solid;">{{dateAppointmentDep}}</td>
    <td style="font-family: TimesNewRoman; width: 100px; text-align: center; border: 1px solid;">{{dateAppointmentPos}}</td>
    <!-- {{#showAddDescrPerson}} -->
    <td style="font-family: TimesNewRoman; width: 200px; text-align: left; border: 1px solid;">{{addDescrPerson}}</td>
    <!-- {{/showAddDescrPerson}} -->
    <td style="font-family: TimesNewRoman; width: 200px; text-align: left; border: 1px solid;">{{posName}}</td>
    <!-- {{#useActualPositionName}} -->
        <td style="font-family: TimesNewRoman; width: 200px; text-align: left; border: 1px solid;">{{actualPositionName}}</td>
    <!-- {{/useActualPositionName}} -->
    <td style="font-family: TimesNewRoman; width: 200px; text-align: left; border: 1px solid;">{{depName}}</td>
    <td style="font-family: TimesNewRoman; width: 200px; text-align: left; border: 1px solid;">{{structDepName}}</td>
    <td style="font-family: TimesNewRoman; width: 150px; text-align: left; border: 1px solid;">{{orgName}}</td>
  </tr>
  <!-- {{/rows}} -->

  <tr>
    <td colspan="{{colSpan}}" style="height: 50px"></td>
  </tr>
  <tr style="font-size: 10pt;">
    <td></td>
    <td colspan="{{colSpan2}}" style="height: 20px; border-top: 1px solid; text-align: center;">(Посада)</td>
    <td></td>
    <td colspan="{{colSpan3}}" style="height: 20px; border-top: 1px solid; text-align: center;">(Прiзвище I.Б.)</td>
    <td></td>
  </tr>
</table>