<!--%pageOrientation:portrait-->

<!--{{#recpart}}-->
<table style="font-family: TimesNewRoman; font-size: 14pt; line-height: 1.35; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 8px 0px 66px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">
    <tbody>
         <tr>
            <td style="width: 315px; padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; ">&nbsp;</td>
            <td style="width: 10px; padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;" >&nbsp;</td>
            <td style="width: 315px; padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;" >&nbsp;</td>
        </tr>
         <tr>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; " colspan="3">&nbsp;</td>
        </tr>
        <!--{{#rec1Title}}-->
         <tr>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: left; vertical-align: top;">{{rec1Title}}</td>
            <td style="padding: 0px 1px 0px 1px; ">&nbsp;</td>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: left; vertical-align: top;">
{{rec1NameDep}}<br/>______________{{rec1Name}}<br/>______________{{rec1OrderYear}}&nbsp;року<br/>&nbsp;<br/>
            </td>
        </tr>
        <!--{{/rec1Title}}-->
        <!--{{#recsTitle}}-->
        <tr>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: left; vertical-align: top;">{{recsTitle}}</td>
            <td style="padding: 0px 1px 0px 1px; ">&nbsp;</td>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: left; vertical-align: top;">
                <!--{{#recs}}-->
{{{nameDep}}}<br/>______________&nbsp;{{name}}&nbsp;<br/>______________&nbsp;{{orderYear}}&nbsp;року<br/>&nbsp;<br/>
                <!--{{/recs}}-->
            </td>
        </tr>
        <!--{{/recsTitle}}-->

        <!--{{#recsVerificationTitle}}-->
        <tr>
            <td style="padding: 0px 1px 0px 1px; ">&nbsp;</td>
            <td style="padding: 0px 1px 0px 1px; ">&nbsp;</td>
            <td style="padding: 0px 1px 0px 1px; ">&nbsp;</td>
        </tr>
        <tr>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: left; vertical-align: top;">{{recsVerificationTitle}}</td>
            <td style="padding: 0px 1px 0px 1px; ">&nbsp;</td>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: left; vertical-align: top;">
                <!--{{#recsVerification}}-->
{{{nameDep}}}<br/>______________&nbsp;{{name}}&nbsp;<br/>______________&nbsp;{{orderYear}}&nbsp;року<br/>&nbsp;
                <!--{{/recsVerification}}-->
            </td>
        </tr>
        <!--{{/recsVerificationTitle}}-->

<!--{{#famsTitle}}-->
        <tr>
            <td style="padding: 0px 1px 0px 1px; ">&nbsp;</td>
            <td style="padding: 0px 1px 0px 1px; ">&nbsp;</td>
            <td style="padding: 0px 1px 0px 1px; ">&nbsp;</td>
        </tr>
        <tr>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: left; vertical-align: top;">{{famsTitle}}</td>
            <td style="padding: 0px 1px 0px 1px; ">&nbsp;</td>
            <td style="padding: 0px 1px 0px 1px; ">&nbsp;</td>
        </tr>
        <tr>
            <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: left; vertical-align: bottom;">
<!--{{#fams}}-->
______________&nbsp;{{famName}}&nbsp;
                <br/>
______________&nbsp;{{orderYear}}&nbsp;року
                <br/>
                <br/>
<!--{{/fams}}-->
            </td>
            <td style="padding: 0px 1px 0px 1px; ">&nbsp;</td>
            <td style="padding: 0px 1px 0px 1px; ">&nbsp;</td>
        </tr>
<!--{{/famsTitle}}-->

    </tbody>
</table>
<!--{{/recpart}}-->