<!--%pageOrientation:landscape-->

<table style="width: 1350px; font-family: TimesNewRoman; font-size: 12pt; table-layout: fixed; border-collapse: collapse; word-break: normal;" border="0px" cellspacing="0" cellpadding="3px">
<tbody>
    <!--{{#order}}-->
    <tr>
        <td style="width: 30px;">&nbsp;</td>
        <td style="width: 480px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 350px;" colspan="5"><strong>ЗАТВЕРДЖЕНО</strong></td>
    </tr>
    <tr>
        <td style="width: 30px;">&nbsp;</td>
        <td style="width: 480px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 350px;" colspan="5"><strong>наказ {{orgName}} від {{orderDate}} №{{orderNumber}}</strong></td>
    </tr>
    <!--{{/order}}-->
    <tr style="font-size: 5pt;">
        <td style="width: 30px;">&nbsp;</td>
        <td style="width: 480px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 30px;">&nbsp;</td>
        <td style="width: 1320px; text-align: center;" colspan="13"><strong>ГРАФІК</strong></td>
    </tr>
    <tr>
        <td style="width: 30px;">&nbsp;</td>
        <td style="width: 1320px; text-align: center;" colspan="13"><strong>надання щорічних відпусток</strong></td>
    </tr>
    <!--{{#category}}-->
    <tr>
        <td style="width: 30px;">&nbsp;</td>
        <td style="width: 1320px; text-align: center;" colspan="13"><strong>{{category}}</strong></td>
    </tr>
    <!--{{/category}}-->
    <tr>
        <td style="width: 30px;">&nbsp;</td>
        <td style="width: 1320px; text-align: center;" colspan="13"><strong>{{{organizationName}}}</strong></td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="width: 30px;">&nbsp;</td>
        <td style="width: 1320px; text-align: center;" colspan="13"><strong>{{departmentName}}</strong></td>
    </tr>
    <!--{{/departmentName}}-->
    <tr>
        <td style="width: 30px;">&nbsp;</td>
        <td style="width: 1320px; text-align: center;" colspan="13"><strong>на {{year}} рік</strong></td>
    </tr>
    <tr style="font-size: 5pt;">
        <td style="width: 30px;">&nbsp;</td>
        <td style="width: 480px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
    </tr>
    <tr style="font-size: 10pt;">
        <td style="width: 30px;">&nbsp;</td>
        <td style="width: 480px; text-align: center; border: 1px solid; font-weight:bold;">Працівник/місяць</td>
        <td style="width: 70px; text-align: center; border: 1px solid; font-weight:bold;">Січень</td>
        <td style="width: 70px; text-align: center; border: 1px solid; font-weight:bold;">Лютий</td>
        <td style="width: 70px; text-align: center; border: 1px solid; font-weight:bold;">Березень</td>
        <td style="width: 70px; text-align: center; border: 1px solid; font-weight:bold;">Квітень</td>
        <td style="width: 70px; text-align: center; border: 1px solid; font-weight:bold;">Травень</td>
        <td style="width: 70px; text-align: center; border: 1px solid; font-weight:bold;">Червень</td>
        <td style="width: 70px; text-align: center; border: 1px solid; font-weight:bold;">Липень</td>
        <td style="width: 70px; text-align: center; border: 1px solid; font-weight:bold;">Серпень</td>
        <td style="width: 70px; text-align: center; border: 1px solid; font-weight:bold;">Вересень</td>
        <td style="width: 70px; text-align: center; border: 1px solid; font-weight:bold;">Жовтень</td>
        <td style="width: 70px; text-align: center; border: 1px solid; font-weight:bold;">Листопад</td>
        <td style="width: 70px; text-align: center; border: 1px solid; font-weight:bold;">Грудень</td>
    </tr>
    <!--{{#pos}}-->
    <tr>
        <td style="width: 30px;">&nbsp;</td>
        <td style="width: 480px; border: 1px solid; ">{{posName}}<br/>{{empName}}</td>
        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m1}}</td>
        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m2}}</td>
        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m3}}</td>
        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m4}}</td>
        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m5}}</td>
        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m6}}</td>
        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m7}}</td>
        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m8}}</td>
        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m9}}</td>
        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m10}}</td>
        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m11}}</td>
        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m12}}</td>
    </tr>
    <!--{{/pos}}-->
    <!--{{#orgUnits}}-->
    <!--{{#header}}-->
      <tr>
        <td style="width: 30px;">&nbsp;</td>
        <td style="width:100%; height: 36px; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="13"><font color="blue"><b>{{orgUnitName}}</b></font></td>
      </tr>
    <!--{{/header}}-->
      <!--{{#pos}}-->
        <tr>
            <td style="width: 30px;">&nbsp;</td>
            <td style="width: 480px; border: 1px solid; ">{{posName}}<br/>{{empName}}</td>
            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m1}}</td>
            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m2}}</td>
            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m3}}</td>
            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m4}}</td>
            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m5}}</td>
            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m6}}</td>
            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m7}}</td>
            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m8}}</td>
            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m9}}</td>
            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m10}}</td>
            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m11}}</td>
            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m12}}</td>
        </tr>
      <!--{{/pos}}-->
        <!--{{#units}}-->
        <tr>
          <td style="width: 30px;">&nbsp;</td>
          <td style="width:100%; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="13">&nbsp;&nbsp;<u><b>{{orgUnitName}}</b></u></td>
        </tr>
          <!--{{#pos}}-->
            <tr>
                <td style="width: 30px;">&nbsp;</td>
                <td style="width: 480px; border: 1px solid; ">{{posName}}<br/>{{empName}}</td>
                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m1}}</td>
                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m2}}</td>
                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m3}}</td>
                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m4}}</td>
                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m5}}</td>
                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m6}}</td>
                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m7}}</td>
                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m8}}</td>
                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m9}}</td>
                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m10}}</td>
                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m11}}</td>
                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m12}}</td>
            </tr>
          <!--{{/pos}}-->
          <!--{{#units}}-->
            <tr>
              <td style="width: 30px;">&nbsp;</td>
              <td style="width:100%; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="13">&nbsp;&nbsp;&nbsp;&nbsp;<b>{{orgUnitName}}</b></td>
            </tr>
              <!--{{#pos}}-->
                <tr>
                    <td style="width: 30px;">&nbsp;</td>
                    <td style="width: 480px; border: 1px solid; ">{{posName}}<br/>{{empName}}</td>
                    <td style="width: 70px; text-align: center; border: 1px solid; ">{{m1}}</td>
                    <td style="width: 70px; text-align: center; border: 1px solid; ">{{m2}}</td>
                    <td style="width: 70px; text-align: center; border: 1px solid; ">{{m3}}</td>
                    <td style="width: 70px; text-align: center; border: 1px solid; ">{{m4}}</td>
                    <td style="width: 70px; text-align: center; border: 1px solid; ">{{m5}}</td>
                    <td style="width: 70px; text-align: center; border: 1px solid; ">{{m6}}</td>
                    <td style="width: 70px; text-align: center; border: 1px solid; ">{{m7}}</td>
                    <td style="width: 70px; text-align: center; border: 1px solid; ">{{m8}}</td>
                    <td style="width: 70px; text-align: center; border: 1px solid; ">{{m9}}</td>
                    <td style="width: 70px; text-align: center; border: 1px solid; ">{{m10}}</td>
                    <td style="width: 70px; text-align: center; border: 1px solid; ">{{m11}}</td>
                    <td style="width: 70px; text-align: center; border: 1px solid; ">{{m12}}</td>
                </tr>
              <!--{{/pos}}-->
              <!--{{#units}}-->
                <tr>
                  <td style="width: 30px;">&nbsp;</td>
                  <td style="width:100%; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="13">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{orgUnitName}}</b></td>
                </tr>
                  <!--{{#pos}}-->
                    <tr>
                        <td style="width: 30px;">&nbsp;</td>
                        <td style="width: 480px; border: 1px solid; ">{{posName}}<br/>{{empName}}</td>
                        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m1}}</td>
                        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m2}}</td>
                        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m3}}</td>
                        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m4}}</td>
                        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m5}}</td>
                        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m6}}</td>
                        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m7}}</td>
                        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m8}}</td>
                        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m9}}</td>
                        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m10}}</td>
                        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m11}}</td>
                        <td style="width: 70px; text-align: center; border: 1px solid; ">{{m12}}</td>
                    </tr>
                  <!--{{/pos}}-->
                  <!--{{#units}}-->
                    <tr>
                      <td style="width: 30px;">&nbsp;</td>
                      <td style="width:100%; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="13">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{orgUnitName}}</b></td>
                    </tr>
                      <!--{{#pos}}-->
                        <tr>
                            <td style="width: 30px;">&nbsp;</td>
                            <td style="width: 480px; border: 1px solid; ">{{posName}}<br/>{{empName}}</td>
                            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m1}}</td>
                            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m2}}</td>
                            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m3}}</td>
                            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m4}}</td>
                            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m5}}</td>
                            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m6}}</td>
                            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m7}}</td>
                            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m8}}</td>
                            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m9}}</td>
                            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m10}}</td>
                            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m11}}</td>
                            <td style="width: 70px; text-align: center; border: 1px solid; ">{{m12}}</td>
                        </tr>
                      <!--{{/pos}}-->
                      <!--{{#units}}-->
                        <tr>
                          <td style="width: 30px;">&nbsp;</td>
                          <td style="width:100%; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="13">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{orgUnitName}}</b></td>
                        </tr>
                          <!--{{#pos}}-->
                            <tr>
                                <td style="width: 30px;">&nbsp;</td>
                                <td style="width: 480px; border: 1px solid; ">{{posName}}<br/>{{empName}}</td>
                                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m1}}</td>
                                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m2}}</td>
                                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m3}}</td>
                                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m4}}</td>
                                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m5}}</td>
                                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m6}}</td>
                                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m7}}</td>
                                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m8}}</td>
                                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m9}}</td>
                                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m10}}</td>
                                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m11}}</td>
                                <td style="width: 70px; text-align: center; border: 1px solid; ">{{m12}}</td>
                            </tr>
                          <!--{{/pos}}-->
                      <!--{{/units}}-->
                  <!--{{/units}}-->
              <!--{{/units}}-->
          <!--{{/units}}-->
      <!--{{/units}}-->
    <!--{{/orgUnits}}-->
</tbody>
</table>