<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="{{widthTable}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">Список осіб: Працівники за освітою</td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 11pt;" colspan="{{colSpan}}">{{organizationName}}</td>
    </tr>
    <!-- {{#departmentName}} -->
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 11pt;" colspan="{{colSpan}}">{{departmentName}}</td>
    </tr>
    <!-- {{/departmentName}} -->
    <tr>
        <td style="width: 100%; text-align: right; font-size: 11pt;" colspan="{{colSpan}}">Станом на {{onDate}}</td>
    </tr>
    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="width: 50px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">№ з/п</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Прізвище, ім'я,<br/> по батькові</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Категорія посади</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Ранг</td>
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Посада</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Фактична посада</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Підрозділ</td>
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid; ">Самостійний<br/>структурний підрозділ</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid; ">Організація</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Рівень освіти</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Спеціальність</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Кваліфікація</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Науковий ступінь</td>
        <!--{{#last}}-->
            <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Вчене звання</td>
            <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Науковий ступень особи</td>
        <!--{{/last}}-->
        <td style="width: 70px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Номер та дата<br/>отримання диплому</td>
        <td style="width: 70px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Заклад освіти</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 200px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->

    </tr>
    <!--{{#rows}}-->
    <tr style="font-size: 10pt; vertical-align: top;">
        <td style="width: 50px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{index}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{fullFIO}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{posCategory}}</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{rankCur}}</td>
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{posName}}</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{actualPositionName}}</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{depName}}</td>
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{depFirst}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{orgName}}</td>
        <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictEduLevelName}}</td>
        <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictSpecialtyName}}</td>
        <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{qualification}}</td>
        <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictDegreeName}}</td>
        <!--{{#last}}-->
            <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{academName}}</td>
            <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{degreeName}}</td>
        <!--{{/last}}-->

        <td style="width: 70px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{docNum}}</td>
        <td style="width: 70px; text-align: left; font-family: TimesNewRoman; border: 1px solid;" >{{educationName}}</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 200px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{addDescrPerson}}</td>
        <!-- {{/showAddDescrPerson}} -->
    </tr>
    <!--{{/rows}}-->
    </tbody>
</table>