<!--%pageOrientation:portrait-->

<!--{{#info}}-->
<table style="line-height: 1.2; font-family: TimesNewRoman; font-size: 11px; table-layout: fixed; border-collapse: collapse; width: 750px;  word-break: normal;">
    <tbody>
        <tr>
            <td style="width: 150px;"></td>
            <td style="width: 50px;"></td>
            <td style="width: 550px;"></td>
        </tr>
        
        <tr>
            <td style="font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: right;" colspan="3"><b>Дата завантаження: {{#formatDateTime}}{{info.dateProfile}}{{/formatDateTime}}</b></td>
        </tr>
        <tr>
            <td style="font-family: TimesNewRoman; font-size: 16pt; vertical-align: top; text-align: center;" colspan="3"><b>{{winner.last_name}} {{winner.first_name}} {{winner.middle_name}}</b></td>
        </tr>

        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>

        <tr>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;">Дата народження</td>
            <td></td>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;">{{#formatDateTime}}{{winner.birth_date}}{{/formatDateTime}}</td>
        </tr>
        <tr>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;">Адреса</td>
            <td></td>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;"></td>
        </tr>
        <tr>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;">Контактний номер телефона</td>
            <td></td>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;"></td>
        </tr>
        <tr>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;">Стать</td>
            <td></td>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;">{{winner.sex}}</td>
        </tr>
        <tr>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;">Сімейний стан</td>
            <td></td>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;">{{winner.marital_status}}</td>
        </tr>

        <tr>
            <td colspan="3"><hr/></td>
        </tr>
        <tr>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;"><b>НАВИЧКИ</b></td>
            <td></td>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;">
<table style="line-height: 1; border-collapse: collapse; width: 500px; word-break: normal;">
    <tbody>
        <tr>
            <td style="width: 200px;"><b>Професійні навички і компетенції:</b></td>
            <td style="width: 300px;"></td>
        </tr>
<!--{{#winner.skills}}-->
        <tr>
            <td colspan="2"></td>
        </tr>
<!--{{/winner.skills}}-->
        <tr>
            <td style="width: 200px;"><b>Особисті навички:</b></td>
            <td style="width: 300px;"></td>
        </tr>
<!--{{#winner.skills}}-->
        <tr>
            <td colspan="2"></td>
        </tr>
<!--{{/winner.skills}}-->
    </tbody>
</table>    
            </td>
        </tr>

        <tr>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;"><b>ДОСВІД РОБОТИ</b></td>
            <td></td>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;">
<!--{{#winner.work_experiences}}-->
<table style="line-height: 1; border-collapse: collapse; width: 500px; word-break: normal;">
    <tbody>
        <tr>
            <td style="width: 200px;"><b>Компанія:</b></td>
            <td style="width: 300px;">{{company_name}}</td>
        </tr>
        <tr>
            <td style="width: 200px;"><b>Посада:</b></td>
            <td style="width: 300px;">{{position}}</td>
        </tr>
        <tr>
            <td style="width: 200px;"><b>Період:</b></td>
            <td style="width: 300px;">{{#formatDateTime}}{{start}}{{/formatDateTime}} - {{#formatDateTime}}{{end}}{{/formatDateTime}}</td>
        </tr>
        <tr>
            <td style="width: 200px;"><b>Тип посади:</b></td>
            <td style="width: 300px;"> {{#public_service}}Держсужба{{/public_service}}</td>
        </tr>
    </tbody>
</table>    
<!--{{/winner.work_experiences}}-->
            </td>
        </tr>

        <tr>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;"><b>РОБОТА В ПРОЕКТАХ</b></td>
            <td></td>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;">
<!--{{#winner.project_experiences}}-->
<table style="line-height: 1; border-collapse: collapse; width: 500px; word-break: normal;">
    <tbody>
        <tr>
            <td style="width: 200px;"><b>Проєкт:</b></td>
            <td style="width: 300px;">{{project_name}}</td>
        </tr>
        <tr>
            <td style="width: 200px;"><b>Посада:</b></td>
            <td style="width: 300px;">{{position}}</td>
        </tr>
        <tr>
            <td style="width: 200px;"><b>Бенефіціар:</b></td>
            <td style="width: 300px;">{{beneficiary}}</td>
        </tr>
        <tr>
            <td style="width: 200px;"><b>Період:</b></td>
            <td style="width: 300px;">{{#formatDateTime}}{{start}}{{/formatDateTime}} - {{#formatDateTime}}{{end}}{{/formatDateTime}}</td>
        </tr>
        <tr>
            <td style="width: 200px;"><b>Обов’язки:</b></td>
            <td style="width: 300px;">{{responsibilities}}</td>
        </tr>
    </tbody>
</table>    
<!--{{/winner.project_experiences}}-->
            </td>
        </tr>

        <tr>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;"><b>ОСВІТА</b></td>
            <td></td>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;">
<!--{{#winner.educations}}-->
<table style="line-height: 1; border-collapse: collapse; width: 500px; word-break: normal;">
    <tbody>
        <tr>
            <td style="width: 200px;"><b>Заклад освіти:</b></td>
            <td style="width: 300px;">{{institution}}</td>
        </tr>
        <tr>
            <td style="width: 200px;"><b>Галузь знань:</b></td>
            <td style="width: 300px;">{{field_of_knowledge}}</td>
        </tr>
        <tr>
            <td style="width: 200px;"><b>Ступінь:</b></td>
            <td style="width: 300px;">{{degree}}</td>
        </tr>
        <tr>
            <td style="width: 200px;"><b>Спеціальність:</b></td>
            <td style="width: 300px;">{{speciality}}</td>
        </tr>
        <tr>
            <td style="width: 200px;"><b>Період:</b></td>
            <td style="width: 300px;">{{#formatDateTime}}{{start}}{{/formatDateTime}} - {{#formatDateTime}}{{end}}{{/formatDateTime}}</td>
        </tr>
    </tbody>
</table>    
<!--{{/winner.educations}}-->
            </td>
        </tr>

        <tr>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;"><b>ДОДАТКОВА ОСВІТА</b></td>
            <td></td>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;">
<!--{{#winner.additional_educations}}-->
<table style="line-height: 1; border-collapse: collapse; width: 500px; word-break: normal;">
    <tbody>
        <tr>
            <td style="width: 200px;"><b>Заклад освіти:</b></td>
            <td style="width: 300px;">{{organization}}</td>
        </tr>
        <tr>
            <td style="width: 200px;"><b>Спеціальність:</b></td>
            <td style="width: 300px;">{{course}}</td>
        </tr>
        <tr>
            <td style="width: 200px;"><b>Період:</b></td>
            <td style="width: 300px;">{{#formatDateTime}}{{start}}{{/formatDateTime}} - {{#formatDateTime}}{{end}}{{/formatDateTime}}</td>
        </tr>
    </tbody>
</table>    
<!--{{/winner.additional_educations}}-->
            </td>
        </tr>

        <tr>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;"><b>ЗНАННЯ МОВИ</b></td>
            <td></td>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;">
<!--{{#winner.languages}}-->
<table style="line-height: 1; border-collapse: collapse; width: 500px; word-break: normal;">
    <tbody>
        <tr>
            <td style="width: 200px;"><b>Мова:</b></td>
            <td style="width: 300px;">{{language}}</td>
        </tr>
        <tr>
            <td style="width: 200px;"><b>Рівень:</b></td>
            <td style="width: 300px;">{{level}}</td>
        </tr>
    </tbody>
</table>    
<!--{{/winner.languages}}-->
            </td>
        </tr>

        <tr>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;"><b>ДОСЯГНЕННЯ</b></td>
            <td></td>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;">
<table style="line-height: 1; border-collapse: collapse; width: 500px; word-break: normal;">
    <tbody>
        <tr>
            <td style="width: 500px;"><b>Патенти:</b></td>
        </tr>
<!--{{#winner.patents}}-->
        <tr>
            <td style="width: 300px;">{{number}} {{name}} {{#formatDateTime}}{{issue_date}}{{/formatDateTime}}</td>
        </tr>
<!--{{/winner.patents}}-->
        <tr>
            <td style="width: 500px;"><b>Публікації:</b></td>
        </tr>
<!--{{#winner.publications}}-->
        <tr>
            <td style="width: 300px;">{{publishing_office}} {{name}} {{#formatDateTime}}{{date}}{{/formatDateTime}}</td>
        </tr>
<!--{{/winner.publications}}-->
        <tr>
            <td style="width: 500px;"><b>Нагороди:</b></td>
        </tr>
<!--{{#winner.awards}}-->
        <tr>
            <td style="width: 300px;">{{issued_by}} {{name}} {{#formatDateTime}}{{issue_date}}{{/formatDateTime}}</td>
        </tr>
<!--{{/winner.awards}}-->
    </tbody>
</table>    
            </td>
        </tr>

        <tr>
            <td style="font-family: TimesNewRoman; font-size: 11pt; vertical-align: top; text-align: left;"><b>ДОДАТКОВІ ДАНІ</b></td>
            <td></td>
            <td style="font-family: TimesNewRoman; font-size: 14pt; vertical-align: top; text-align: left;"><b></b></td>
        </tr>
    </tbody>
</table>
<!--{{/info}}-->