<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; line-height: {{lineHeight}}; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">
    <tbody>
        <tr>
          <td style="width: 50px; padding: 0;">&nbsp;</td>
          <td style="width: 220px; padding: 0;">&nbsp;</td>
          <td style="width: 50px; padding: 0;">&nbsp;</td>
          <td style="width: 50px; padding: 0;">&nbsp;</td>
          <td style="width: 220px; padding: 0;">&nbsp;</td>
          <td style="width: 50px; padding: 0;">&nbsp;</td>
         </tr>
        <tr style="padding: 0; margin: 0;">
            <td colspan="6" style="text-align:center;" align="center"><img  src="{{emblem}}" data-style-pdf="padding-left:{{logoPaddingLeft}}px;" alt="emblem" width="{{logoWidthPx}}" height="{{logoHeightPx}}" /></td>
        </tr>
        <tr style="height: 60px;">
            <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px; text-align: center; {{boldOrganizationName}}" colspan="6">{{{organizationName}}}</td>
        </tr>
        <tr style="height: 30px;">
            <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; padding: 0px 1px 0px 1px; text-align: center; vertical-align: top; " colspan="6">
               <b>Н А К А З</b>
            </td>
        </tr>
    <!--Дата та номер наказу-->
    <tr style="height: 60px;">
        <td colspan="2" style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; height: 18px;">{{fromDate}}{{orderDate}}</td>
        <td colspan="2" style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; height: 18px; text-align: center;">{{city}}</td>
        <td colspan="2" style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; height: 18px;text-align: right">№ {{orderNumber}}&nbsp;{{orderIndex}}</td>
    </tr>

    <tr style="height: 30px;">
        <td colspan="3" style="font-family: TimesNewRoman; font-size: {{fontSize}}pt;text-align: justify; font-weight:bold; height: auto;">{{titleOrder}}<br/>{{titleName}}</td>
        <td colspan="3"></td>
    </tr>

    <tr style="height: 60px">
        <td colspan="6" style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: justify; text-indent: 50px;">{{{preamble}}}</td>
    </tr>

    <tr style="height: 30px">
        <td colspan="6" style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left;"><B>НАКАЗУЮ: </B></td>
    </tr>
    <!--{{#orderDet}}-->
    <tr style="height: 30px">
        <td colspan="6" style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: justify; text-indent: 50px;">
            {{index}}. {{text}}
        </td>
    </tr>
    <!--{{/orderDet}}-->
    <!--{{#tasks}}-->
    <tr style="height: 30px">
        <td colspan="6" style="font-family: TimesNewRoman; font-size: {{fontSize}}pt;text-align: justify; text-indent: 50px;">
            {{{task}}}
        </td>
     </tr>
     <!--{{/tasks}}-->
     <!--{{#orderReason}}-->
    <tr style="height: 60px">
        <td colspan="6" style="font-family: TimesNewRoman; font-size: {{fontSize}}pt;text-align: justify;">{{{reason}}}</td>
    </tr>
    <!--{{/orderReason}}-->

    <!--{{#responsiblesInfo}}-->
        <tr style="height: 45px; padding: 0; margin: 0;">
            <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="6">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; font-weight:bold; padding: 0px 25px 0px 1px; vertical-align: top;" colspan="3">{{respPos}}</td>
            <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: {{align}}; font-weight:bold; padding: 0px 1px 0px 25px; vertical-align: bottom;" colspan="3">{{respFirstName}}</td>
        </tr>
    <!--{{/responsiblesInfo}}-->

    </tbody>
</table>