<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: 14pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">
<tbody>
<tr>
    <td style="width: 145px; padding: 0;">&nbsp;</td>
    <td style="width: 80px; padding: 0;">&nbsp;</td>
    <td style="width: 30px; padding: 0;">&nbsp;</td>
    <td style="width: 20px; padding: 0;">&nbsp;</td>
    <td style="width: 20px; padding: 0;">&nbsp;</td>
    <td style="width: 85px; padding: 0;">&nbsp;</td>
    <td style="width: 20px; padding: 0;">&nbsp;</td>
    <td style="width: 70px; padding: 0;">&nbsp;</td>
    <td style="width: 65px; padding: 0;">&nbsp;</td>
    <td style="width: 20px; padding: 0;">&nbsp;</td>
    <td style="width: 85px; padding: 0;">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="4">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;font-family: TimesNewRoman; font-size: 12pt; text-align: center;" colspan="7">ЗАТВЕРДЖУЮ</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="4">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;" style="border-bottom-width: 1px; border-bottom-style: solid;" colspan="7">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="4">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="7">(найменування посади)</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="4">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="4">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="4">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="2">(підпис)</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="4">(ініціали та прізвище)</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="4">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 11pt; vertical-align: top;" colspan="7">“<b>____</b>” <b>________________</b> 20<b>___</b> р.</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="11">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 14pt;" colspan="11"><b>ІНДИВІДУАЛЬНА ПРОГРАМА</b></td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 14pt;" colspan="11"><b>підвищення рівня професійної компетентності державного службовця,</b></td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 14pt;" colspan="11"><b>який займає посаду державної служби категорії “А”,</b></td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; font-size: 14pt;" colspan="11"><b>на {{year}} рік</b></td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="11">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt;" colspan="3">Найменування державного органу</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="8">{{orgName.text}}</td>
</tr>
<!-- {{#orgName.array}} -->
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="11">{{text}}</td>
</tr>
<!-- {{/orgName.array}} -->
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt;" colspan="3">Прізвище, ім'я, по батькові</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="8">{{employeeName1}}</td>
</tr>
<!-- {{#employeeName2}} -->
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="11">{{employeeName2}}</td>
</tr>
<!-- {{/employeeName2}} -->
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt;" colspan="2">Найменування посади</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="9">{{positionName.text}}</td>
</tr>
<!-- {{#positionName.array}} -->
<tr>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="11">{{text}}</td>
</tr>
<!-- {{/positionName.array}} -->
<tr>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="11">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 3px 0px 3px; word-wrap: break-word; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="2">Найменування професійної компетентності</td>
    <td style="padding: 0px 3px 0px 3px; word-wrap: break-word; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="6">Види професійного навчання (підготовка, підвищення кваліфікації за професійними (сертифікатними) та/або короткостроковими програмами, стажування, самоосвіта)</td>
    <td style="padding: 0px 3px 0px 3px; word-wrap: break-word; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="3">Орієнтовні напрями/теми професійного навчання</td>
</tr>
<!-- {{#items}} -->
<tr>
    <td style="padding: 0px 3px 0px 3px; word-wrap: break-word; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; " colspan="2">{{dictProfCompetency}}</td>
    <td style="padding: 0px 3px 0px 3px; word-wrap: break-word; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; " colspan="6">{{dictTrainingForm}}</td>
    <td style="padding: 0px 3px 0px 3px; word-wrap: break-word; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; " colspan="3">{{dictTrainingTopic}}</td>
</tr>
<!-- {{/items}} -->
<tr>
    <td style="padding: 0px 1px 0px 1px;" colspan="11">&nbsp;</td>
</tr>
<tr>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="3">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr style="height: 30px;">
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="3">(найменування посади державного службовця)</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="2">(підпис)</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="2">(ініціали та прізвище)</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;">(дата)</td>
</tr>
<tr style="height: 30px;">
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="3">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr style="height: 30px;">
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="3">(найменування посади уповноваженого працівника служби управління персоналом)</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="2">(підпис)</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;" colspan="2">(ініціали та прізвище)</td>
    <td style="padding: 0px 1px 0px 1px;">&nbsp;</td>
    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top; text-align: center;">(дата)</td>
</tr>
</tbody>
</table>