<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: 14pt; line-height: 1.35; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 8px 0px 66px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">
<tbody>
<tr style="height: 1px; font-size: 1pt; ">
<td style="width: 20px; padding: 0;">&nbsp;</td>
<td style="width: 65px; padding: 0;">&nbsp;</td>
<td style="width: 30px; padding: 0;">&nbsp;</td>
<td style="width: 20px; padding: 0;">&nbsp;</td>
<td style="width: 45px; padding: 0;">&nbsp;</td>
<td style="width: 25px; padding: 0;">&nbsp;</td>
<td style="width: 55px; padding: 0;">&nbsp;</td>
<td style="width: 20px; padding: 0;">&nbsp;</td>
<td style="width: 15px; padding: 0;">&nbsp;</td>
<td style="width: 70px; padding: 0;">&nbsp;</td>
<td style="width: 20px; padding: 0;">&nbsp;</td>
<td style="width: 65px; padding: 0;">&nbsp;</td>
<td style="width: 25px; padding: 0;">&nbsp;</td>
<td style="width: 5px;  padding: 0;">&nbsp;</td>
<td style="width: 20px; padding: 0;">&nbsp;</td>
<td style="width: 50px; padding: 0;">&nbsp;</td>
<td style="width: 20px; padding: 0;">&nbsp;</td>
<td style="width: 70px; padding: 0;">&nbsp;</td>
</tr>

<!-- {{#positionSecretary}} -->
<tr>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; text-align: center;"  colspan="18">ЗАВДАННЯ<br/>
і ключові показники результативності, ефективності та якості службової<br/>
діяльності державних службовців, які займають посади державних<br/>
секретарів міністерств,<br/>
на {{periodName}} рік</td>
</tr>
<tr style="height: 5px; font-size: 1pt; ">
<td style="padding: 0; margin: 0; font-size: 1pt; " colspan="18">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="6">Прізвище, ім'я, по батькові</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="12">{{employeeName}}</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0;  font-family: TimesNewRoman; font-size: 12pt; " colspan="6">Найменування посади</td>
<td style="padding: 0; margin: 0;  font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="12">{{positionName}}</td>
</tr>
<tr style="height: 5px; font-size: 1pt; ">
<td style="padding: 0; margin: 0; font-size: 1pt; " colspan="18">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="17">Завдання:</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">{{taskType1}}</td>
<td style="padding: 0px 1px 0px 3px; font-family: TimesNewRoman; font-size: 12pt; " colspan="2">первинне</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">{{taskType2}}</td>
<td style="padding: 0px 1px 0px 3px; font-family: TimesNewRoman; font-size: 12pt; " colspan="3">переглянуто за</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">{{period1}}</td>
<td style="padding: 0px 1px 0px 3px; font-family: TimesNewRoman; font-size: 12pt; " colspan="2">I кварталу</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">{{period2}}</td>
<td style="padding: 0px 1px 0px 3px; font-family: TimesNewRoman; font-size: 12pt; " colspan="3">II кварталу</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">{{period3}}</td>
<td style="padding: 0px 1px 0px 3px; font-family: TimesNewRoman; font-size: 12pt; " colspan="3">III кварталу</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="3">результатами</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
</tr>
<tr style="height: 5px; font-size: 3pt; ">
<td style="padding: 0; margin: 0; font-size: 1pt; " colspan="18">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="2">Порядковий номер</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="6">Найменування завдання</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="7">Ключові показники результативності, ефективності та якості</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="3">Строк виконання</td>
</tr>
<!-- {{#tasks}} -->
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; vertical-align: top; {{border}} text-align: center;" colspan="2">{{number}}</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; vertical-align: top; {{border}} " colspan="6">{{taskText}}</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; vertical-align: top; border: 1px solid; " colspan="7">{{valueText}}</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; vertical-align: top; border: 1px solid; text-align: center;" colspan="3">{{deadlineDate}}</td>
</tr>
<!-- {{/tasks}} -->
<!-- {{/positionSecretary}} -->

<!-- {{#positionCategoryA}} -->
<tr>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; text-align: center;"  colspan="18">ЗАВДАННЯ<br/>
і ключові показники результативності, ефективності та якості службової<br/>
діяльності державного службовця, який займає посаду державної служби<br/>
категорії “А”,<br/>
на {{periodName}} рік</td>
</tr>
<tr style="height: 5px; font-size: 1pt; ">
<td style="padding: 0; margin: 0; font-size: 1pt; " colspan="18">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="6">Прізвище, ім'я, по батькові</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="12">{{employeeName}}</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0;  font-family: TimesNewRoman; font-size: 12pt; " colspan="6">Найменування посади</td>
<td style="padding: 0; margin: 0;  font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="12">{{positionName}}</td>
</tr>
<tr style="height: 5px; font-size: 1pt; ">
<td style="padding: 0; margin: 0; font-size: 1pt; " colspan="18">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="17">Завдання:</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">{{taskType1}}</td>
<td style="padding: 0px 1px 0px 3px; font-family: TimesNewRoman; font-size: 12pt; " colspan="2">первинне</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">{{taskType2}}</td>
<td style="padding: 0px 1px 0px 3px; font-family: TimesNewRoman; font-size: 12pt; " colspan="3">переглянуто за</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">{{period1}}</td>
<td style="padding: 0px 1px 0px 3px; font-family: TimesNewRoman; font-size: 12pt; " colspan="2">I кварталу</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">{{period2}}</td>
<td style="padding: 0px 1px 0px 3px; font-family: TimesNewRoman; font-size: 12pt; " colspan="3">II кварталу</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">{{period3}}</td>
<td style="padding: 0px 1px 0px 3px; font-family: TimesNewRoman; font-size: 12pt; " colspan="3">III кварталу</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="3">результатами</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
</tr>
<tr style="height: 5px; font-size: 1pt; ">
<td style="padding: 0; margin: 0; font-size: 1pt; " colspan="18">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="2">Порядковий номер</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="6">Найменування завдання</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="7">Ключові показники результативності, ефективності та якості</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="3">Строк виконання</td>
</tr>
<!-- {{#tasks}} -->
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; vertical-align: top; {{border}} text-align: center;" colspan="2">{{number}}</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; vertical-align: top; {{border}} " colspan="6">{{taskText}}</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; vertical-align: top; border: 1px solid; " colspan="7">{{valueText}}</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; vertical-align: top; border: 1px solid; text-align: center;" colspan="3">{{deadlineDate}}</td>
</tr>
<!-- {{/tasks}} -->
<tr style="height: 18px; font-size: 12pt; ">
<td style="padding: 0; margin: 0; font-size: 12pt; " colspan="18">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="5">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " >&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="4">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; ">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="2">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="3">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="5">(найменування посади особи,<br />яка визначила завдання<br /> і ключові показники)</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 10pt; ">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="4">(дата визначення завдань<br /> і ключових показників)</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 10pt; ">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="2">(підпис)</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 10pt; " colspan="2">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="3">(ініціали та прізвище)</td>
</tr>

<tr style="height: 58px; font-size: 12pt; ">
<td style="padding: 0; margin: 0; font-size: 12pt; " colspan="18">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="5">Ознайомлення</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="13">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="5">державного службовця</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; ">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="3">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; ">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="6">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 10pt; " colspan="5">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="2">(дата)</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 10pt; ">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="3">(підпис)</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 10pt; ">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="6">(ініціали та прізвище)</td>
</tr>
<!-- {{/positionCategoryA}} -->

<!-- {{#positionCategoryBV}} -->
<tr>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 14pt; font-weight:bold; text-align: center;"  colspan="18">ЗАВДАННЯ<br/>
і ключові показники результативності, ефективності та якості службової<br/>
діяльності державного службовця, який займає посаду державної служби<br/>
категорії "Б" або "В",<br/>
на {{periodName}} рік</td>
</tr>
<tr style="height: 10px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="7">Найменування державного органу</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="11">{{orgName}}</td>
</tr>
<!-- {{#orgNames}} -->
<tr style="height: 18px;">
<td style="padding: 0; margin: 0;  font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="18">{{name}}</td>
</tr>
<!-- {{/orgNames}} -->
<tr style="height: 10px; font-size: 1pt; ">
<td style="padding: 0; margin: 0; font-size: 1pt;" colspan="18">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="6">Прізвище, ім'я, по батькові</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="7">{{employeeName}}</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">{{positionCategory1}}</td>
<td style="padding: 0px 1px 0px 3px; margin: 0; font-family: TimesNewRoman; font-size: 12pt; ">Б</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">{{positionCategory2}}</td>
<td style="padding: 0px 1px 0px 3px; margin: 0; font-family: TimesNewRoman; font-size: 12pt; ">В</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="5">Найменування посади</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="8">{{positionName}}</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 10pt; vertical-align: top;" colspan="5">&nbsp;&nbsp;(категорія посади)</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="8">Найменування структурного підрозділу</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="10">{{departmentName}}</td>
</tr>
<!-- {{#departmentNames}} -->
<tr style="height: 18px;">
<td style="padding: 0; margin: 0;  font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="18">{{name}}</td>
</tr>
<!-- {{/departmentNames}} -->
<tr style="height: 18px;">
<td style="padding: 0; margin: 0;  font-family: TimesNewRoman; font-size: 12pt; " colspan="11">Найменування самостійного структурного підрозділу&nbsp;</td>
<td style="padding: 0; margin: 0;  font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="7">{{departmentName2}}</td>
</tr>
<!-- {{#departmentNames2}} -->
<tr style="height: 18px;">
<td style="padding: 0; margin: 0;  font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="18">{{name}}</td>
</tr>
<!-- {{/departmentNames2}} -->
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="17">Завдання:</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">{{taskType1}}</td>
<td style="padding: 0px 1px 0px 3px; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="2">первинне</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">{{taskType2}}</td>
<td style="padding: 0px 1px 0px 3px; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="3">переглянуто за</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">{{period1}}</td>
<td style="padding: 0px 1px 0px 3px; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="2">I кварталу</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">{{period2}}</td>
<td style="padding: 0px 1px 0px 3px; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="3">II кварталу</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;">{{period3}}</td>
<td style="padding: 0px 1px 0px 3px; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="3">III кварталу</td>
</tr>
<tr style="height: 12px;">
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="3">результатами</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
<td style="padding: 0; margin: 0; ">&nbsp;</td>
</tr>
<tr style="height: 20px; font-size: 12pt; ">
<td style="padding: 0; margin: 0; font-size: 1pt; " colspan="18">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="2">Номер завдання</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="7">Завдання (визначається після їх обговорення з державним службовцем)</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="3">Ключові показники результативності, ефективності та якості</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="4">Строк виконання</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="2">Завдання змінено<br/>(так/ні)</td>
</tr>
<!-- {{#tasks}} -->
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; {{border}} text-align: center;" colspan="2">{{number}}</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; {{border}} " colspan="7">{{taskText}}</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; " colspan="3">{{valueText}}</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="4">{{deadlineDate}}</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; text-align: center;" colspan="2">{{isChange}}</td>
</tr>
<!-- {{/tasks}} -->
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; "  colspan="18">Погоджено</td>
</tr>
<tr style="height: 18px;">
<td style="1px; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="8">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="2">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="8">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; text-align: center; font-size: 10pt; vertical-align: top;" colspan="8">(найменування посади)</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="2">&nbsp;</td>
<td style="padding: 0; margin: 0;  font-family: TimesNewRoman; font-size: 12pt; text-align: center; font-size: 10pt; vertical-align: top;" colspan="8">&nbsp; (найменування посади особи, яка визначила завдання і ключові показники)</td>
</tr>
<tr style="height: 54px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; ">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="5">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="2">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="2">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="4">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="2">(підпис)</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 10pt; ">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="5">(ініціали та прізвище)</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 10pt; " colspan="2">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="2">(підпис)</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 10pt; " colspan="2">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="4">(ініціали та прізвище)</td>
</tr>
<tr style="height: 54px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="8">“____” ______________ 20___ р.</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="2">&nbsp;</td>
<td style="padding: 0; margin: 0;  font-family: TimesNewRoman; font-size: 12pt; " colspan="8">“____” ______________ 20___ р.</td>
</tr>
<tr style="height: 36px; font-size: 12pt; ">
<td style="padding: 0; margin: 0; font-size: 12pt; " colspan="18">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="8">Ознайомлення</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="10">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="8">державного службовця</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="2">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="6">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 10pt; " colspan="8">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="2">(підпис)</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 10pt; "  colspan="2">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; text-align: center; font-size: 10pt; vertical-align: top;" colspan="6">(ініціали та прізвище)</td>
</tr>
<tr style="height: 18px;">
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="13">&nbsp;</td>
<td style="padding: 0; margin: 0; font-family: TimesNewRoman; font-size: 12pt; " colspan="5">“___”________20__р.</td>
</tr>
<!-- {{/positionCategoryBV}} -->
</tbody>
</table>