<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; line-height: {{lineHeight}}; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">
    <tbody>
        <tr style="font-size: 1pt; ">
          <td style="width: 50px; padding: 0;">&nbsp;</td>
          <td style="width: 300px; padding: 0;">&nbsp;</td>
          <td style="width: 70px; padding: 0;">&nbsp;</td>
          <td style="width: 100px; padding: 0;">&nbsp;</td>
          <td style="width: 120px; padding: 0;">&nbsp;</td>
        </tr>
        <!--{{#tableRows}}-->
            <tr style="height: 36pt;">
              <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: center; vertical-align: bottom; font-weight: bold; padding: 0px 1px 0px 1px; border: 0px;" colspan="5">{{typeName}}</td>
            </tr>
            <tr>
              <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: center; font-weight: bold; padding: 0px 1px 0px 1px; border: 1px solid black;">№</td>
              <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: center; font-weight: bold; padding: 0px 1px 0px 1px; border: 1px solid black;" colspan="3">Найменування</td>
              <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: center; font-weight: bold; padding: 0px 1px 0px 1px; border: 1px solid black;">Кількість примірників</td>
            </tr>
            <!--{{#rows}}-->
                <tr>
                  <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: center; padding: 0px 1px 0px 1px; border: 1px solid black;">{{npp}}</td>
                  <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; padding: 0px 1px 0px 1px; border: 1px solid black;" colspan="3">{{participantName}} {{{empName}}}</td>
                  <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: center; padding: 0px 1px 0px 1px; border: 1px solid black;">{{copies}}</td>
                </tr>
            <!--{{/rows}}-->

        <!--{{/tableRows}}-->

        <!--{{#listRows}}-->
            <tr style="height: 36pt;">
              <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; vertical-align: bottom; font-weight: bold; padding: 0px 1px 0px 1px; border: 0px;" >&nbsp;</td>
              <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; vertical-align: bottom; font-weight: bold; padding: 0px 1px 0px 1px; border: 0px;" colspan="4">{{typeName}}</td>
            </tr>
            <!--{{#rows}}-->
                <tr style="height: 48pt;">
                  <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; vertical-align: top; padding: 0px 1px 0px 1px; border: 0px solid black;" >&nbsp;</td>
                  <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; vertical-align: top; padding: 0px 1px 0px 1px; border: 0px solid black;" >{{participantName}}</td>
                  <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; vertical-align: top; padding: 0px 1px 0px 1px; border: 0px solid black;" >&nbsp;</td>
                  <td style="font-family: TimesNewRoman; font-size: {{fontSize}}pt; text-align: left; vertical-align: top; padding: 0px 1px 0px 1px; border: 0px solid black;" colspan="2">{{{empName}}}</td>
                </tr>
            <!--{{/rows}}-->
        <!--{{/listRows}}-->

    </tbody>
</table>
