<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 12pt; word-wrap: break-word; border-collapse: collapse;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr style="font-size: 11pt;">
        <td style="width: 80px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 80px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
        <!-- {{#showAddDescrPerson}} -->
            <td style="width: 100px;">&nbsp;</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
        <!-- {{#useActualPositionName}} -->
            <td style="width: 150px;">&nbsp;</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 150px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
        <!-- {{#useFundSource}} -->
        <td style="width: 150px;">&nbsp;</td>
        <!-- {{/useFundSource}} -->
    </tr>

    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">Список працівників, нагороджених за період з {{dateFrom}} по {{dateTo}}</td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 11pt;" colspan="{{colSpan}}">{{organizationName}}</td>
    </tr>
    <!--{{#titlesRows}}-->
    <tr>
        <td style="text-align: center; width: 100%; font-size: 11pt;" colspan="{{colSpan}}">{{value}}</td>
    </tr>
    <!--{{/titlesRows}}-->

    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Таб.№</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Прізвище, ім'я, по батькові</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">РНОКПП</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Стать</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата видачі</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Назва нагороди</td>
        <!-- {{#showAddDescrPerson}} -->
            <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->

        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Категорія</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Місце роботи</td>

        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Посада</td>
        <!-- {{#useActualPositionName}} -->
            <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Фактична посада</td>
        <!-- {{/useActualPositionName}} -->
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Підрозділ</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Структурний підрозділ</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Організація</td>

        <!-- {{#useFundSource}} -->
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Джерело фінансування</td>
        <!-- {{/useFundSource}} -->
    </tr>

    <!--{{#personTable}}-->
    <tr style="font-size: 10pt; ">
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{tabNum}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{fullFIO}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{taxCode}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{sexType}}</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{docIssuedDate}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{bonusName}}</td>

        <!-- {{#showAddDescrPerson}} -->
            <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{addDescrPerson}}</td>
        <!-- {{/showAddDescrPerson}} -->

        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{posCategory}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{workPlace}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{posName}}</td>
        <!-- {{#useActualPositionName}} -->
            <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{actualPositionName}}</td>
        <!-- {{/useActualPositionName}} -->

        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{depName}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{structDepName}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{orgName}}</td>

        <!-- {{#useFundSource}} -->
            <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{fundSourceName}}</td>
        <!-- {{/useFundSource}} -->
    </tr>
    <!--{{/personTable}}-->
    </tbody>
</table>