<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 11pt; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 8px 0px 66px;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="0px">
  <tr style="font-size: 11pt;">
    <td style="width: 150px; padding: 0;">&nbsp;</td>
    <td style="width: 90px; padding: 0;">&nbsp;</td>
    <td style="width: 80px; padding: 0;">&nbsp;</td>
    <td style="width: 100px; padding: 0;">&nbsp;</td>
    <td style="width: 150px; padding: 0;">&nbsp;</td>
    <!-- {{#showAddDescrPerson}} -->
        <td style="width: 100px; padding: 0;">&nbsp;</td>
    <!-- {{/showAddDescrPerson}} -->
    <td style="width: 100px; padding: 0;">&nbsp;</td>
    <td style="width: 80px; padding: 0;">&nbsp;</td>
    <td style="width: 80px; padding: 0;">&nbsp;</td>
    <td style="width: 110px; padding: 0;">&nbsp;</td>
    <td style="width: 100px; padding: 0;">&nbsp;</td>
    <td style="width: 150px; padding: 0;">&nbsp;</td>
    <td style="width: 150px; padding: 0;">&nbsp;</td>
    <td style="width: 100px; padding: 0;">&nbsp;</td>
    <td style="width: 100px; padding: 0;">&nbsp;</td>
    <td style="width: 100px; padding: 0;">&nbsp;</td>
    <td style="width: 100px; padding: 0;">&nbsp;</td>
    <td style="width: 100px; padding: 0;">&nbsp;</td>
    <td style="width: 100px; padding: 0;">&nbsp;</td>
    <td style="width: 80px; padding: 0;">&nbsp;</td>
    <td style="width: 100px; padding: 0;">&nbsp;</td>
    <td style="width: 100px; padding: 0;">&nbsp;</td>
    <td style="width: 80px; padding: 0;">&nbsp;</td>
    <td style="width: 100px; padding: 0;">&nbsp;</td>
    <td style="width: 80px; padding: 0;">&nbsp;</td>
    <td style="width: 100px; padding: 0;">&nbsp;</td>
    <!-- {{#useActualPositionName}} -->
        <td style="width: 150px; padding: 0;">&nbsp;</td>
    <!-- {{/useActualPositionName}} -->
    <td style="width: 150px; padding: 0;">&nbsp;</td>
    <td style="width: 150px; padding: 0;">&nbsp;</td>
    <td style="width: 150px; padding: 0;">&nbsp;</td>
    <td style="width: 150px; padding: 0;">&nbsp;</td>
    <td style="width: 150px; padding: 0;">&nbsp;</td>
  </tr>

  <tr style="height: 20px;">
    <td style="text-align: center; font-weight: bold; font-size: 12pt; height: 20px;" colspan="{{colSpan}}">Список працівників за атестацією</td>
  </tr>
  <tr style="height: 20px;">
    <td style="text-align: center; font-weight: bold; font-size: 11pt; height: 19px;" colspan="{{colSpan}}">{{orgName}}</td>
  </tr>

  <!-- {{#titles}} -->
  <tr style="height: 20px;">
    <td style="text-align: center; font-size: 11pt; height: 19px;" colspan="{{colSpan}}">{{value}}</td>
  </tr>
  <!-- {{/titles}} -->

  <tr style="font-weight: bold; font-size: 11pt; height: 54px;">
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">ПІБ (Таб. №)</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата народження</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Стать</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">ІПН</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Документ ідентифікаційний</td>
    <!-- {{#showAddDescrPerson}} -->
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Додаткова інформація</td>
    <!-- {{/showAddDescrPerson}} -->

    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Вид атестації</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата атестації</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Термін атестації по</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Кваліфікаційна категорія</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Спеціальність</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Вид документу</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Наказ</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Примітки</td>

    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Ступінь</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Страна</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Місто</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Учбовий заклад</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Спеціальність</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата закінчення</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Номер документу</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Ким виданий</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Коли виданий</td>

    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Категорія персоналу</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата прийняття на роботу</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Посада</td>
    <!-- {{#useActualPositionName}} -->
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Фактична посада</td>
    <!-- {{/useActualPositionName}} -->
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Підрозділ</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Самостійний структурний підрозділ</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Місце виникнення витрат</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Місце роботи</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Організація</td>
  </tr>

  <!-- {{#rows}} -->
  <tr style="font-size: 10pt; vertical-align: top; height: 18px;">
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{fullFIO}}</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{birthDate}}</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{sexType}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{taxCode}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{passport}}</td>
    <!-- {{#showAddDescrPerson}} -->
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{addDescrPerson}}</td>
    <!-- {{/showAddDescrPerson}} -->

    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{typeCertification}}</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{certificationDate}}</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{validityDate}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictEmpCategoryName}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictSpecialtyName}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{employeeDocName}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{orderInfo}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{comment}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{educationTypeName}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{countryName}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{cityName}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{educationOrgName}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{specialty}}</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{eduDateTo}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{docNumber}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{docIssuer}}</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{docIssuedDate}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictStaffCatName}}</td>
    <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{startWork}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{posName}}</td>
    <!-- {{#useActualPositionName}} -->
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{actualPositionName}}</td>
    <!-- {{/useActualPositionName}} -->
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{depName}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{selfStructDepName}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{dictCostTypeName}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{workPlace}}</td>
    <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{orgName}}</td>
  </tr>
  <!-- {{/rows}} -->

</table>