<!--%pageOrientation:landscape-->

<table style="width: 1150px; word-break: break-all;" cellspacing="0" cellpadding="3px">
    <tbody>
        <tr style="text-align: right; font-size: 10pt;">
            <td style="width: 100%; height: 18px; border: none;">Форма 1-к</td>
        </tr>
        <tr style="text-align: center; font-size: 12pt;">
            <td style="width: 100%; height: 36px; border: none;"><b>З В І Т</b></td>
        </tr>
        <tr style="text-align: center; font-size: 12pt;">
            <td style="width: 100%; height: 18px; border: none;">про кількість, склад та переміщення працівників<br/>по "{{page0.orgName}}"{{page0.withChildOrgsText}}{{{page0.onDepsHtml}}}<br/>за період з {{page0.dateFrom}} по {{page0.dateTo}} року</td>
        </tr>
    </tbody>
</table>
<br/>

<table style="width: 1200px; word-break: break-all;" cellspacing="0" cellpadding="3px">
<tbody>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 300px; height: 48px;border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 560px; height: 48px; border-left: 1px solid; border-top: 1px solid;" colspan="7">У тому числі</td>
        <td style="width: 160px; height: 48px; vertical-align: middle; border-left: 1px solid; border-top: 1px solid;" colspan="2">Із загальної<br/>кількості<br/>(графа 3)</td>
        <td style="width: 180px; height: 48px; border-left: 1px solid; border-top: 1px solid;" colspan="2"></td>
        <td style="width: 510px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;" colspan="6">Вибуло працівників у звітному році</td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 48px; border-left: 1px solid;">№<br/>з/п</td>
        <td style="width: 300px; height: 48px; border-left: 1px solid;">Посада</td>
        <td style="width: 100px; height: 48px; vertical-align: bottom; border-left: 1px solid;">Облікова<br/>кількість<br/>штатних</td>
        <td style="width: 400px; height: 48px; border-left: 1px solid; border-top: 1px solid;" colspan="5">за віком</td>
        <td style="width: 160px; height: 48px; border-left: 1px solid; border-top: 1px solid;" colspan="2">мають вищу<br/>освіту за<br/>освітніми рівнями</td>
        <td style="width: 80px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 80px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 180px; height: 48px; vertical-align: center; border-left: 1px solid;" colspan="2">Прийнято<br/>працівників у<br/>звітному році</td>
        <td style="width: 90px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 420px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;" colspan="5">із них</td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 48px; border-left: 1px solid;"></td>
        <td style="width: 300px; height: 48px; border-left: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid;">праців<br/>ників<br/>на кінець<br/>року,</td>
        <td style="width: 80px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 80px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 80px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 160px; height: 48px; border-left: 1px solid; border-top: 1px solid;" colspan="2">із них пенсіоне<br/>ри за віком 60<br/>років і старше</td>
        <td style="width: 80px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 80px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 80px; height: 48px; border-left: 1px solid;"></td>
        <td style="width: 80px; height: 48px; border-left: 1px solid;"></td>
        <td style="width: 180px; height: 48px; border-left: 1px solid;" colspan="2"></td>
        <td style="width: 90px; height: 48px; border-left: 1px solid;"></td>
        <td style="width: 80px; height: 48px; vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">за влас<br/>ним</td>
        <td style="width: 80px; height: 48px; vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">у зв’яз<br/>ку з</td>
        <td style="width: 80px; height: 48px; vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">звіль<br/>нено</td>
        <td style="width: 180px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;" colspan="2">з інших причин</td>
    </tr>

    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 96px; border-left: 1px solid;"></td>
        <td style="width: 300px; height: 96px; border-left: 1px solid;"></td>
        <td style="width: 100px; height: 96px; vertical-align: top; border-left: 1px solid;">всього</td>
        <td style="width: 80px; height: 96px; border-left: 1px solid;">до 35<br/>років</td>
        <td style="width: 80px; height: 96px; border-left: 1px solid;">від 35<br/>до 50<br/>років</td>
        <td style="width: 80px; height: 96px; border-left: 1px solid;">50<br/>років<br/>і стар<br/>ше</td>
        <td style="width: 80px; height: 96px; border-left: 1px solid; border-top: 1px solid;">жінки</td>
        <td style="width: 80px; height: 96px; border-left: 1px solid; border-top: 1px solid;">чолові<br/>ки</td>
        <td style="width: 80px; height: 96px; border-left: 1px solid;">повна<br/>вища<br/>(3-4 рівня<br/>акреди<br/>тації)</td>
        <td style="width: 80px; height: 96px; border-left: 1px solid;">непов<br/>на,<br/>базова вища<br/>(1-2 рівня<br/>акреди<br/>тації)</td>
        <td style="width: 80px; height: 96px; border-left: 1px solid;">жінок</td>
        <td style="width: 80px; height: 96px; border-left: 1px solid;">кандидатів /<br/>докторів наук<br/>(к/д)</td>
        <td style="width: 90px; height: 96px; border-left: 1px solid; border-top: 1px solid;">Всього</td>
        <td style="width: 90px; height: 96px; border-left: 1px solid; border-top: 1px solid;">В т.ч. за<br/>переведенням<br/>в межах<br/>Товариства<br/>(згідно<br/>ч.1 ст.32<br/>КЗпП<br/>України)</td>
        <td style="width: 90px; height: 96px; border-left: 1px solid;">Всього</td>
        <td style="width: 80px; height: 96px; vertical-align: top; border-left: 1px solid;">бажан<br/>ням (без<br/>пов.<br/>прич.),<br/>угодою<br/>сторін</td>
        <td style="width: 80px; height: 96px; vertical-align: top; border-left: 1px solid;">реорганізацією<br/>та скоро<br/>ченням<br/>чисель<br/>ності</td>
        <td style="width: 80px; height: 96px; vertical-align: top; border-left: 1px solid;">за про<br/>гули та<br/>інші<br/>поруше<br/>ння тру<br/>дової<br/>дисцип<br/>ліни</td>
        <td style="width: 90px; height: 96px; border-left: 1px solid; border-top: 1px solid;">Всього</td>
        <td style="width: 90px; height: 96px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">В т.ч. за<br/>переведенням<br/>в межах<br/>Товариства<br/>(згідно<br/>ч.1 ст.32<br/>КЗпП<br/>України)</td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid;">1</td>
        <td style="width: 300px; height: 18px; border-left: 1px solid; border-top: 1px solid;">2</td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;">3</td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;">4</td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;">5</td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;">6</td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;">7</td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;">8</td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;">9</td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;">10</td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;">11</td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;">12</td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;">13</td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;">14</td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;">15</td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;">16</td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;">17</td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;">18</td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;">19</td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">20</td>
    </tr>
    <tr style="text-align: center; font-size: 8pt; font-weight: bold;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid;">1</td>
        <td style="width: 300px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: left;">Керівники</td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1col3' data-ondate='{{onDate}}'>{{page0.row1col3}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1col4' data-ondate='{{onDate}}'>{{page0.row1col4}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1col5' data-ondate='{{onDate}}'>{{page0.row1col5}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1col6' data-ondate='{{onDate}}'>{{page0.row1col6}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1col7' data-ondate='{{onDate}}'>{{page0.row1col7}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1col8' data-ondate='{{onDate}}'>{{page0.row1col8}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1col9' data-ondate='{{onDate}}'>{{page0.row1col9}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1col10' data-ondate='{{onDate}}'>{{page0.row1col10}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1col11' data-ondate='{{onDate}}'>{{page0.row1col11}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1col12' data-ondate='{{onDate}}'>{{page0.row1col12}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1col13' data-ondate='{{onDate}}'>{{page0.row1col13}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1col14' data-ondate='{{onDate}}'>{{page0.row1col14}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1col15' data-ondate='{{onDate}}'>{{page0.row1col15}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1col16' data-ondate='{{onDate}}'>{{page0.row1col16}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1col17' data-ondate='{{onDate}}'>{{page0.row1col17}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1col18' data-ondate='{{onDate}}'>{{page0.row1col18}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1col19' data-ondate='{{onDate}}'>{{page0.row1col19}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"><a href="#" data-cellcode='row1col20' data-ondate='{{onDate}}'>{{page0.row1col20}}</a></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: right;">а</td>
        <td style="width: 300px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: left;"><a href="#" data-cellcode='row1acol2' data-ondate='{{onDate}}'>Директори  управління</a></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1acol3' data-ondate='{{onDate}}'>{{page0.row1acol3}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1acol4' data-ondate='{{onDate}}'>{{page0.row1acol4}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1acol5' data-ondate='{{onDate}}'>{{page0.row1acol5}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1acol6' data-ondate='{{onDate}}'>{{page0.row1acol6}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1acol7' data-ondate='{{onDate}}'>{{page0.row1acol7}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1acol8' data-ondate='{{onDate}}'>{{page0.row1acol8}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1acol9' data-ondate='{{onDate}}'>{{page0.row1acol9}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1acol10' data-ondate='{{onDate}}'>{{page0.row1acol10}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1acol11' data-ondate='{{onDate}}'>{{page0.row1acol11}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1acol12' data-ondate='{{onDate}}'>{{page0.row1acol12}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1acol13' data-ondate='{{onDate}}'>{{page0.row1acol13}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1acol14' data-ondate='{{onDate}}'>{{page0.row1acol14}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1acol15' data-ondate='{{onDate}}'>{{page0.row1acol15}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1acol16' data-ondate='{{onDate}}'>{{page0.row1acol16}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1acol17' data-ondate='{{onDate}}'>{{page0.row1acol17}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1acol18' data-ondate='{{onDate}}'>{{page0.row1acol18}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1acol19' data-ondate='{{onDate}}'>{{page0.row1acol19}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"><a href="#" data-cellcode='row1acol20' data-ondate='{{onDate}}'>{{page0.row1acol20}}</a></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: right;">б</td>
        <td style="width: 300px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: left;"><a href="#" data-cellcode='row1bcol2' data-ondate='{{onDate}}'>Заступники директорів управління</a></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1bcol3' data-ondate='{{onDate}}'>{{page0.row1bcol3}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1bcol4' data-ondate='{{onDate}}'>{{page0.row1bcol4}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1bcol5' data-ondate='{{onDate}}'>{{page0.row1bcol5}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1bcol6' data-ondate='{{onDate}}'>{{page0.row1bcol6}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1bcol7' data-ondate='{{onDate}}'>{{page0.row1bcol7}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1bcol8' data-ondate='{{onDate}}'>{{page0.row1bcol8}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1bcol9' data-ondate='{{onDate}}'>{{page0.row1bcol9}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1bcol10' data-ondate='{{onDate}}'>{{page0.row1bcol10}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1bcol11' data-ondate='{{onDate}}'>{{page0.row1bcol11}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1bcol12' data-ondate='{{onDate}}'>{{page0.row1bcol12}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1bcol13' data-ondate='{{onDate}}'>{{page0.row1bcol13}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1bcol14' data-ondate='{{onDate}}'>{{page0.row1bcol14}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1bcol15' data-ondate='{{onDate}}'>{{page0.row1bcol15}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1bcol16' data-ondate='{{onDate}}'>{{page0.row1bcol16}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1bcol17' data-ondate='{{onDate}}'>{{page0.row1bcol17}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1bcol18' data-ondate='{{onDate}}'>{{page0.row1bcol18}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1bcol19' data-ondate='{{onDate}}'>{{page0.row1bcol19}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"><a href="#" data-cellcode='row1bcol20' data-ondate='{{onDate}}'>{{page0.row1bcol20}}</a></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: right;">в</td>
        <td style="width: 300px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: left;"><a href="#" data-cellcode='row1vcol2' data-ondate='{{onDate}}'>Директори структрурних одиниць</a></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1vcol3' data-ondate='{{onDate}}'>{{page0.row1vcol3}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1vcol4' data-ondate='{{onDate}}'>{{page0.row1vcol4}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1vcol5' data-ondate='{{onDate}}'>{{page0.row1vcol5}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1vcol6' data-ondate='{{onDate}}'>{{page0.row1vcol6}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1vcol7' data-ondate='{{onDate}}'>{{page0.row1vcol7}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1vcol8' data-ondate='{{onDate}}'>{{page0.row1vcol8}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1vcol9' data-ondate='{{onDate}}'>{{page0.row1vcol9}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1vcol10' data-ondate='{{onDate}}'>{{page0.row1vcol10}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1vcol11' data-ondate='{{onDate}}'>{{page0.row1vcol11}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1vcol12' data-ondate='{{onDate}}'>{{page0.row1vcol12}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1vcol13' data-ondate='{{onDate}}'>{{page0.row1vcol13}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1vcol14' data-ondate='{{onDate}}'>{{page0.row1vcol14}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1vcol15' data-ondate='{{onDate}}'>{{page0.row1vcol15}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1vcol16' data-ondate='{{onDate}}'>{{page0.row1vcol16}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1vcol17' data-ondate='{{onDate}}'>{{page0.row1vcol17}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1vcol18' data-ondate='{{onDate}}'>{{page0.row1vcol18}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1vcol19' data-ondate='{{onDate}}'>{{page0.row1vcol19}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"><a href="#" data-cellcode='row1vcol20' data-ondate='{{onDate}}'>{{page0.row1vcol20}}</a></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: right;">г</td>
        <td style="width: 300px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: left;"><a href="#" data-cellcode='row1gcol2' data-ondate='{{onDate}}'>Головні інженери структурних одиниць</a></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1gcol3' data-ondate='{{onDate}}'>{{page0.row1gcol3}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1gcol4' data-ondate='{{onDate}}'>{{page0.row1gcol4}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1gcol5' data-ondate='{{onDate}}'>{{page0.row1gcol5}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1gcol6' data-ondate='{{onDate}}'>{{page0.row1gcol6}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1gcol7' data-ondate='{{onDate}}'>{{page0.row1gcol7}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1gcol8' data-ondate='{{onDate}}'>{{page0.row1gcol8}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1gcol9' data-ondate='{{onDate}}'>{{page0.row1gcol9}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1gcol10' data-ondate='{{onDate}}'>{{page0.row1gcol10}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1gcol11' data-ondate='{{onDate}}'>{{page0.row1gcol11}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1gcol12' data-ondate='{{onDate}}'>{{page0.row1gcol12}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1gcol13' data-ondate='{{onDate}}'>{{page0.row1gcol13}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1gcol14' data-ondate='{{onDate}}'>{{page0.row1gcol14}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1gcol15' data-ondate='{{onDate}}'>{{page0.row1gcol15}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1gcol16' data-ondate='{{onDate}}'>{{page0.row1gcol16}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1gcol17' data-ondate='{{onDate}}'>{{page0.row1gcol17}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1gcol18' data-ondate='{{onDate}}'>{{page0.row1gcol18}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1gcol19' data-ondate='{{onDate}}'>{{page0.row1gcol19}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"><a href="#" data-cellcode='row1gcol20' data-ondate='{{onDate}}'>{{page0.row1gcol20}}</a></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: right;">д</td>
        <td style="width: 300px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: left;"><a href="#" data-cellcode='row1dcol2' data-ondate='{{onDate}}'>Заступники директорів з розподілу<br/>електричної енерпгії<br/>структурних одиниць</a></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1dcol3' data-ondate='{{onDate}}'>{{page0.row1dcol3}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1dcol4' data-ondate='{{onDate}}'>{{page0.row1dcol4}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1dcol5' data-ondate='{{onDate}}'>{{page0.row1dcol5}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1dcol6' data-ondate='{{onDate}}'>{{page0.row1dcol6}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1dcol7' data-ondate='{{onDate}}'>{{page0.row1dcol7}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1dcol8' data-ondate='{{onDate}}'>{{page0.row1dcol8}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1dcol9' data-ondate='{{onDate}}'>{{page0.row1dcol9}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1dcol10' data-ondate='{{onDate}}'>{{page0.row1dcol10}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1dcol11' data-ondate='{{onDate}}'>{{page0.row1dcol11}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1dcol12' data-ondate='{{onDate}}'>{{page0.row1dcol12}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1dcol13' data-ondate='{{onDate}}'>{{page0.row1dcol13}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1dcol14' data-ondate='{{onDate}}'>{{page0.row1dcol14}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1dcol15' data-ondate='{{onDate}}'>{{page0.row1dcol15}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1dcol16' data-ondate='{{onDate}}'>{{page0.row1dcol16}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1dcol17' data-ondate='{{onDate}}'>{{page0.row1dcol17}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1dcol18' data-ondate='{{onDate}}'>{{page0.row1dcol18}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1dcol19' data-ondate='{{onDate}}'>{{page0.row1dcol19}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"><a href="#" data-cellcode='row1dcol20' data-ondate='{{onDate}}'>{{page0.row1dcol20}}</a></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: right;">е</td>
        <td style="width: 300px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: left;">інші керівники</td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1ecol3' data-ondate='{{onDate}}'>{{page0.row1ecol3}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1ecol4' data-ondate='{{onDate}}'>{{page0.row1ecol4}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1ecol5' data-ondate='{{onDate}}'>{{page0.row1ecol5}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1ecol6' data-ondate='{{onDate}}'>{{page0.row1ecol6}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1ecol7' data-ondate='{{onDate}}'>{{page0.row1ecol7}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1ecol8' data-ondate='{{onDate}}'>{{page0.row1ecol8}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1ecol9' data-ondate='{{onDate}}'>{{page0.row1ecol9}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1ecol10' data-ondate='{{onDate}}'>{{page0.row1ecol10}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1ecol11' data-ondate='{{onDate}}'>{{page0.row1ecol11}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1ecol12' data-ondate='{{onDate}}'>{{page0.row1ecol12}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1ecol13' data-ondate='{{onDate}}'>{{page0.row1ecol13}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1ecol14' data-ondate='{{onDate}}'>{{page0.row1ecol14}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1ecol15' data-ondate='{{onDate}}'>{{page0.row1ecol15}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1ecol16' data-ondate='{{onDate}}'>{{page0.row1ecol16}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1ecol17' data-ondate='{{onDate}}'>{{page0.row1ecol17}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1ecol18' data-ondate='{{onDate}}'>{{page0.row1ecol18}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row1ecol19' data-ondate='{{onDate}}'>{{page0.row1ecol19}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"><a href="#" data-cellcode='row1ecol20' data-ondate='{{onDate}}'>{{page0.row1ecol20}}</a></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt; font-weight: bold;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: center;">2</td>
        <td style="width: 300px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: left;">Професіонали</td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row2col3' data-ondate='{{onDate}}'>{{page0.row2col3}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row2col4' data-ondate='{{onDate}}'>{{page0.row2col4}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row2col5' data-ondate='{{onDate}}'>{{page0.row2col5}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row2col6' data-ondate='{{onDate}}'>{{page0.row2col6}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row2col7' data-ondate='{{onDate}}'>{{page0.row2col7}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row2col8' data-ondate='{{onDate}}'>{{page0.row2col8}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row2col9' data-ondate='{{onDate}}'>{{page0.row2col9}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row2col10' data-ondate='{{onDate}}'>{{page0.row2col10}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row2col11' data-ondate='{{onDate}}'>{{page0.row2col11}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row2col12' data-ondate='{{onDate}}'>{{page0.row2col12}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row2col13' data-ondate='{{onDate}}'>{{page0.row2col13}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row2col14' data-ondate='{{onDate}}'>{{page0.row2col14}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row2col15' data-ondate='{{onDate}}'>{{page0.row2col15}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row2col16' data-ondate='{{onDate}}'>{{page0.row2col16}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row2col17' data-ondate='{{onDate}}'>{{page0.row2col17}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row2col18' data-ondate='{{onDate}}'>{{page0.row2col18}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row2col19' data-ondate='{{onDate}}'>{{page0.row2col19}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"><a href="#" data-cellcode='row2col20' data-ondate='{{onDate}}'>{{page0.row2col20}}</a></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt; font-weight: bold;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: center;">3</td>
        <td style="width: 300px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: left;">Фахівці</td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row3col3' data-ondate='{{onDate}}'>{{page0.row3col3}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row3col4' data-ondate='{{onDate}}'>{{page0.row3col4}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row3col5' data-ondate='{{onDate}}'>{{page0.row3col5}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row3col6' data-ondate='{{onDate}}'>{{page0.row3col6}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row3col7' data-ondate='{{onDate}}'>{{page0.row3col7}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row3col8' data-ondate='{{onDate}}'>{{page0.row3col8}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row3col9' data-ondate='{{onDate}}'>{{page0.row3col9}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row3col10' data-ondate='{{onDate}}'>{{page0.row3col10}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row3col11' data-ondate='{{onDate}}'>{{page0.row3col11}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row3col12' data-ondate='{{onDate}}'>{{page0.row3col12}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row3col13' data-ondate='{{onDate}}'>{{page0.row3col13}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row3col14' data-ondate='{{onDate}}'>{{page0.row3col14}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row3col15' data-ondate='{{onDate}}'>{{page0.row3col15}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row3col16' data-ondate='{{onDate}}'>{{page0.row3col16}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row3col17' data-ondate='{{onDate}}'>{{page0.row3col17}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row3col18' data-ondate='{{onDate}}'>{{page0.row3col18}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row3col19' data-ondate='{{onDate}}'>{{page0.row3col19}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"><a href="#" data-cellcode='row3col20' data-ondate='{{onDate}}'>{{page0.row3col20}}</a></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt; font-weight: bold;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: center;">4</td>
        <td style="width: 300px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: left;">Технічні службовці</td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row4col3' data-ondate='{{onDate}}'>{{page0.row4col3}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row4col4' data-ondate='{{onDate}}'>{{page0.row4col4}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row4col5' data-ondate='{{onDate}}'>{{page0.row4col5}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row4col6' data-ondate='{{onDate}}'>{{page0.row4col6}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row4col7' data-ondate='{{onDate}}'>{{page0.row4col7}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row4col8' data-ondate='{{onDate}}'>{{page0.row4col8}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row4col9' data-ondate='{{onDate}}'>{{page0.row4col9}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row4col10' data-ondate='{{onDate}}'>{{page0.row4col10}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row4col11' data-ondate='{{onDate}}'>{{page0.row4col11}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row4col12' data-ondate='{{onDate}}'>{{page0.row4col12}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row4col13' data-ondate='{{onDate}}'>{{page0.row4col13}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row4col14' data-ondate='{{onDate}}'>{{page0.row4col14}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row4col15' data-ondate='{{onDate}}'>{{page0.row4col15}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row4col16' data-ondate='{{onDate}}'>{{page0.row4col16}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row4col17' data-ondate='{{onDate}}'>{{page0.row4col17}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row4col18' data-ondate='{{onDate}}'>{{page0.row4col18}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row4col19' data-ondate='{{onDate}}'>{{page0.row4col19}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"><a href="#" data-cellcode='row4col20' data-ondate='{{onDate}}'>{{page0.row4col20}}</a></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt; font-weight: bold;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: center;">5</td>
        <td style="width: 300px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: left;">Кваліфіковані та інші робітники</td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row5col3' data-ondate='{{onDate}}'>{{page0.row5col3}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row5col4' data-ondate='{{onDate}}'>{{page0.row5col4}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row5col5' data-ondate='{{onDate}}'>{{page0.row5col5}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row5col6' data-ondate='{{onDate}}'>{{page0.row5col6}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row5col7' data-ondate='{{onDate}}'>{{page0.row5col7}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row5col8' data-ondate='{{onDate}}'>{{page0.row5col8}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row5col9' data-ondate='{{onDate}}'>{{page0.row5col9}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row5col10' data-ondate='{{onDate}}'>{{page0.row5col10}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row5col11' data-ondate='{{onDate}}'>{{page0.row5col11}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row5col12' data-ondate='{{onDate}}'>{{page0.row5col12}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row5col13' data-ondate='{{onDate}}'>{{page0.row5col13}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row5col14' data-ondate='{{onDate}}'>{{page0.row5col14}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row5col15' data-ondate='{{onDate}}'>{{page0.row5col15}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row5col16' data-ondate='{{onDate}}'>{{page0.row5col16}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row5col17' data-ondate='{{onDate}}'>{{page0.row5col17}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row5col18' data-ondate='{{onDate}}'>{{page0.row5col18}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row5col19' data-ondate='{{onDate}}'>{{page0.row5col19}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"><a href="#" data-cellcode='row5col20' data-ondate='{{onDate}}'>{{page0.row5col20}}</a></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt; font-weight: bold;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: center;">6</td>
        <td style="width: 300px; height: 18px; border-left: 1px solid; border-top: 1px solid; text-align: left;">Найпростіші професії</td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row6col3' data-ondate='{{onDate}}'>{{page0.row6col3}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row6col4' data-ondate='{{onDate}}'>{{page0.row6col4}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row6col5' data-ondate='{{onDate}}'>{{page0.row6col5}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row6col6' data-ondate='{{onDate}}'>{{page0.row6col6}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row6col7' data-ondate='{{onDate}}'>{{page0.row6col7}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row6col8' data-ondate='{{onDate}}'>{{page0.row6col8}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row6col9' data-ondate='{{onDate}}'>{{page0.row6col9}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row6col10' data-ondate='{{onDate}}'>{{page0.row6col10}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row6col11' data-ondate='{{onDate}}'>{{page0.row6col11}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row6col12' data-ondate='{{onDate}}'>{{page0.row6col12}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row6col13' data-ondate='{{onDate}}'>{{page0.row6col13}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row6col14' data-ondate='{{onDate}}'>{{page0.row6col14}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row6col15' data-ondate='{{onDate}}'>{{page0.row6col15}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row6col16' data-ondate='{{onDate}}'>{{page0.row6col16}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row6col17' data-ondate='{{onDate}}'>{{page0.row6col17}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row6col18' data-ondate='{{onDate}}'>{{page0.row6col18}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-cellcode='row6col19' data-ondate='{{onDate}}'>{{page0.row6col19}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"><a href="#" data-cellcode='row6col20' data-ondate='{{onDate}}'>{{page0.row6col20}}</a></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt; font-weight: bold;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
        <td style="width: 300px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid; text-align: left;">Всього працівників</td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='rowTotalcol3' data-ondate='{{onDate}}'>{{page0.rowTotalcol3}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='rowTotalcol4' data-ondate='{{onDate}}'>{{page0.rowTotalcol4}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='rowTotalcol5' data-ondate='{{onDate}}'>{{page0.rowTotalcol5}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='rowTotalcol6' data-ondate='{{onDate}}'>{{page0.rowTotalcol6}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='rowTotalcol7' data-ondate='{{onDate}}'>{{page0.rowTotalcol7}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='rowTotalcol8' data-ondate='{{onDate}}'>{{page0.rowTotalcol8}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='rowTotalcol9' data-ondate='{{onDate}}'>{{page0.rowTotalcol9}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='rowTotalcol10' data-ondate='{{onDate}}'>{{page0.rowTotalcol10}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='rowTotalcol11' data-ondate='{{onDate}}'>{{page0.rowTotalcol11}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='rowTotalcol12' data-ondate='{{onDate}}'>{{page0.rowTotalcol12}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='rowTotalcol13' data-ondate='{{onDate}}'>{{page0.rowTotalcol13}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='rowTotalcol14' data-ondate='{{onDate}}'>{{page0.rowTotalcol14}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='rowTotalcol15' data-ondate='{{onDate}}'>{{page0.rowTotalcol15}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='rowTotalcol16' data-ondate='{{onDate}}'>{{page0.rowTotalcol16}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='rowTotalcol17' data-ondate='{{onDate}}'>{{page0.rowTotalcol17}}</a></td>
        <td style="width: 80px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='rowTotalcol18' data-ondate='{{onDate}}'>{{page0.rowTotalcol18}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='rowTotalcol19' data-ondate='{{onDate}}'>{{page0.rowTotalcol19}}</a></td>
        <td style="width: 90px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"><a href="#" data-cellcode='rowTotalcol20' data-ondate='{{onDate}}'>{{page0.rowTotalcol20}}</a></td>
    </tr>
</tbody>
</table>