<!--%pageOrientation:landscape-->

<table style="width: {{tableWidth}}px; word-break: break-all;" cellspacing="0" cellpadding="3px">
<tbody>
    <tr style="text-align: right; font-size: 10pt;">
        <td style="height: 18px; border: none;" colspan="{{colCount}}">Форма 1-к</td>
    </tr>
    <tr style="height: 36px; text-align: center; font-size: 12pt;">
        <td style="border: none;" colspan="{{colCount}}"><b>З В І Т</b></td>
    </tr>
    <tr style="height: 64px; text-align: center; font-size: 12pt;">
        <td style="border: none;" colspan="{{colCount}}">про кількість, склад та переміщення працівників<br/>по "{{orgName}}"{{withChildOrgsText}}{{{onDepsHtml}}}<br/>за період з {{dateFrom}} по {{dateTo}} року</td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 48px; border-right: 1px solid; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 300px; height: 48px;border-right: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-right: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 560px; height: 48px; border-right: 1px solid; border-top: 1px solid;" colspan="7">У тому числі</td>
        <td style="width: 160px; height: 48px; vertical-align: middle; border-right: 1px solid; border-top: 1px solid;" colspan="2">Із загальної<br/>кількості<br/>(графа 3)</td>
        <td style="width: {{appWidth}}px; height: 48px; border-right: 1px solid; border-top: 1px solid;" colspan="{{appCount}}">Прийнято<br/>працівників у<br/>звітному році</td>
        <td style="width: {{dismWidth}}px; height: 48px; border-top: 1px solid; border-right: 1px solid;" colspan="{{dismCount}}">Вибуло працівників у звітному році</td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 48px; border-left: 1px solid; border-right: 1px solid;">№<br/>з/п</td>
        <td style="width: 300px; height: 48px; border-right: 1px solid;">Посада</td>
        <td style="width: 100px; height: 48px; vertical-align: bottom; border-right: 1px solid;">Облікова<br/>кількість<br/>штатних</td>
        <td style="width: 400px; height: 48px; border-right: 1px solid; border-top: 1px solid;" colspan="5">за віком</td>
        <td style="width: 160px; height: 48px; border-right: 1px solid; border-top: 1px solid;" colspan="2">мають вищу<br/>освіту за<br/>освітніми рівнями</td>
        <td style="width: 80px; height: 48px; border-right: 1px solid; border-top: 1px solid; "></td>
        <td style="width: 80px; height: 48px; border-right: 1px solid; border-top: 1px solid; "></td>
        <td style="width: 90px; height: 48px; border-right: 1px solid; border-top: 1px solid; " rowspan="3">Всього</td>
        <!-- {{#appNames}} -->
        <td style="width: 90px; height: 48px; border-right: 1px solid; border-top: 1px solid; " rowspan="3">{{name}}</td>
        <!-- {{/appNames}} -->
        <td style="width: 90px; height: 48px; border-right: 1px solid; border-top: 1px solid; " rowspan="3">Всього</td>
        <!-- {{#dismNames}} -->
        <td style="width: 90px; height: 48px; border-right: 1px solid; border-top: 1px solid; " rowspan="3">{{name}}</td>
        <!-- {{/dismNames}} -->
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 48px; border-left: 1px solid; border-right: 1px solid;"></td>
        <td style="width: 300px; height: 48px; border-right: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-right: 1px solid;">праців<br/>ників<br/>на кінець<br/>року,</td>
        <td style="width: 80px; height: 48px; border-right: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 80px; height: 48px; border-right: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 80px; height: 48px; border-right: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 160px; height: 48px; border-right: 1px solid; border-top: 1px solid;" colspan="2">із них пенсіоне<br/>ри за віком 60<br/>років і старше</td>
        <td style="width: 80px; height: 48px; border-right: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 80px; height: 48px; border-right: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 80px; height: 48px; border-right: 1px solid; "></td>
        <td style="width: 80px; height: 48px; border-right: 1px solid; "></td>
    </tr>

    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 96px; border-left: 1px solid; border-right: 1px solid;"></td>
        <td style="width: 300px; height: 96px; border-right: 1px solid;"></td>
        <td style="width: 100px; height: 96px; vertical-align: top; border-right: 1px solid;">всього</td>
        <td style="width: 80px; height: 96px; border-right: 1px solid;">до 35<br/>років</td>
        <td style="width: 80px; height: 96px; border-right: 1px solid;">від 35<br/>до 50<br/>років</td>
        <td style="width: 80px; height: 96px; border-right: 1px solid;">50<br/>років<br/>і стар<br/>ше</td>
        <td style="width: 80px; height: 96px; border-right: 1px solid; border-top: 1px solid;">жінки</td>
        <td style="width: 80px; height: 96px; border-right: 1px solid; border-top: 1px solid;">чолові<br/>ки</td>
        <td style="width: 80px; height: 96px; border-right: 1px solid;">повна<br/>вища<br/>(3-4 рівня<br/>акреди<br/>тації)</td>
        <td style="width: 80px; height: 96px; border-right: 1px solid;">непов<br/>на,<br/>базова вища<br/>(1-2 рівня<br/>акреди<br/>тації)</td>
        <td style="width: 80px; height: 96px; border-right: 1px solid;">жінок</td>
        <td style="width: 80px; height: 96px; border-right: 1px solid;">кандидатів /<br/>докторів <br/>наук (к/д)</td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <!-- {{#colNums}} -->
        <td style="width: 40px; height: 18px; {{border}} border-right: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">{{name}}</td>
        <!-- {{/colNums}} -->
    </tr>
    <!-- {{#rows}} -->
    <tr style="text-align: center; font-size: 8pt; {{bold}}" data-catid='{{ID}}' data-catname='{{name}}'>
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid;">{{npp}}</td>
        <td style="width: 300px; height: 18px; border-right: 1px solid; text-align: left; border-bottom: 1px solid;">{{name}}</td>
        <td style="width: 100px; height: 18px; border-right: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='col3'>{{col3}}</a></td>
        <td style="width: 80px; height: 18px; border-right: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='col4'>{{col4}}</a></td>
        <td style="width: 80px; height: 18px; border-right: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='col5'>{{col5}}</a></td>
        <td style="width: 80px; height: 18px; border-right: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='col6'>{{col6}}</a></td>
        <td style="width: 80px; height: 18px; border-right: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='col7'>{{col7}}</a></td>
        <td style="width: 80px; height: 18px; border-right: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='col8'>{{col8}}</a></td>
        <td style="width: 80px; height: 18px; border-right: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='col9'>{{col9}}</a></td>
        <td style="width: 80px; height: 18px; border-right: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='col10'>{{col10}}</a></td>
        <td style="width: 80px; height: 18px; border-right: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='col11'>{{col11}}</a></td>
        <td style="width: 80px; height: 18px; border-right: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='col12'>{{col12}}</a></td>
        <td style="width: 90px; height: 18px; border-right: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='col13'>{{col13}}</a></td>
        <!-- {{#appValues}} -->
        <td style="width: 90px; height: 18px; border-right: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='col13' data-kindid='{{kindID}}'>{{col131}}</a></td>
        <!-- {{/appValues}} -->
        <td style="width: 90px; height: 18px; border-right: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='col14'>{{col14}}</a></td>
        <!-- {{#dismValues}} -->
        <td style="width: 80px; height: 18px; border-right: 1px solid; border-bottom: 1px solid;"><a href="#" data-cellcode='col14' data-kindid='{{kindID}}'>{{col141}}</a></td>
        <!-- {{/dismValues}} -->
    </tr>
    <!-- {{/rows}} -->

</tbody>
</table>