<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 11px; table-layout: fixed; border-collapse: collapse; width: {{widthTable}}px;  word-break: normal; margin: 0px 10px 0px 70px;"  border="0px" cellspacing="0" cellpadding="0px">

<tbody>

  <tr style="font-family: TimesNewRoman; font-size: 12pt;">
      <td style="width: 120px; ">&nbsp;</td>
      <td style="width: 120px; ">&nbsp;</td>
      <td style="width: 105px; ">&nbsp;</td>
      <td style="width: 240px; ">&nbsp;</td>
      <td style="width: 240px; ">&nbsp;</td>
      <td style="width: 80px; ">&nbsp;</td>
      <td style="width: 90px; ">&nbsp;</td>
      <td style="width: 90px; ">&nbsp;</td>
  </tr>

<!--{{^hideHeader}}-->
  <tr>
    <td style="text-align: center; font-weight: bold; font-size: 12pt; height: 20px;" colspan="{{columnCount}}"></td>
  </tr>

  <tr>
    <td style="text-align: center; font-weight: bold; font-size: 18pt; height: 20px;" colspan="{{columnCount}}">Перелік користувачів</td>
  </tr>

  <tr>
    <td style="text-align: center; font-weight: bold; font-size: 12pt; height: 20px;" colspan="{{columnCount}}"></td>
  </tr>

    <tr>
      <td style="text-align: center; font-weight: bold; font-size: 12pt; height: 20px;" colspan="{{columnCount}}">Організація {{organizationName}}</td>
    </tr>
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 12pt; height: 20px;" colspan="{{columnCount}}">Станом на {{onDate}}</td>
    </tr>

<!--{{/hideHeader}}-->

  <tr style="height: 19px;">
    <td colspan="{{columnCount}}"></td>
  </tr>

    <!-- {{^byOrders}} -->
    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Обліковий запис</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Працівник</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Заблокований</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Групи ролей</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Організації</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата створення</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Створив</td>
        <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">Опис</td>
    </tr>

    <!-- {{/byOrders}} -->



    <!--{{#rows}}-->
    <tr style="font-size: 10pt; vertical-align: top;">
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid; padding-left: 3px;">{{name}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid; padding-left: 3px;">{{employyeNum_dsc}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid; padding-left: 3px;">{{disabled}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid; padding-left: 3px;">{{RolesName}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid; padding-left: 3px;">{{OrgsName}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid; padding-left: 3px;">{{mi_createDate}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid; padding-left: 3px;">{{creator_name}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; border: 1px solid; padding-left: 3px;">{{user_dsc}}</td>
    </tr>
    <!--{{/rows}}-->


  </tbody>
</table>
