<!--%pageOrientation:landscape-->

<table style="width: 1000px; word-break: break-all;" width="1200px" cellspacing="0" cellpadding="3px">
<tbody>
    <tr>
        <td style="width: 100%; text-align: center; height: 36px; font-size: 12pt; border: none;" colspan="3"><b>Звіт про кількісний склад державних службовців</b></td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: center; height: 18px; font-size: 10pt; border: none;" colspan="3">станом на {{page0.onDateStr}}</td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: center; height: 18px; font-size: 10pt; border: none;" colspan="3"></td>
    </tr>
    <tr style="text-align: center; font-size: 10pt;">
        <td style="width: 50%; height: 18px; border-left: 1px solid; border-top: 1px solid;">Подають</td>
        <td style="width: 30%; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">Термін подання</td>
        <td style="width: 20%; height: 18px; border: none;">&nbsp;</td>
    </tr>
    <tr style="font-size: 10pt;">
        <td style="text-align: left; width: 50%; height: 48px; border-left: 1px solid; border-top: 1px solid;">Районні, районні у містах Києві та Севастополі державні адміністрації –
            Раді міністрів Автономної Республіки Крим, обласним державним адміністраціям, Київській та Севастопольській міським державним адміністраціям</td>
        <td style="text-align: left; width: 30%; height: 48px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">Не пізніше 07 числа місяця, наступного<br/>за звітним періодом</td>
        <td style="text-align: center; width: 20%; height: 48px; border: none;">Форма КСДС<br/>(квартальна)<br/>ЗАТВЕРДЖЕНО</td>
    </tr>
    <tr style="font-size: 10pt;">
        <td style="text-align: left; width: 50%; height: 36px; border-left: 1px solid; border-top: 1px solid;">Рада міністрів Автономної Республіки Крим,
            обласні державні адміністрації, Київська та Севастопольська міські державні адміністрації – Нацдержслужбі</td>
        <td style="text-align: left; width: 30%; height: 36px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">Не пізніше 14 числа місяця, наступного<br/>за звітним періодом</td>
        <td style="text-align: center; vertical-align: bottom; width: 20%; height: 36px; border: none;">Наказ Нацдержслужби<br/>21.10.2016 р. № 223</td>
    </tr>
    <tr style="font-size: 10pt;">
        <td style="text-align: left; width: 50%; height: 24px; border-left: 1px solid; border-top: 1px solid;">Територіальні органи – державному органу вищого рівня</td>
        <td style="text-align: left; width: 30%; height: 24px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">Не пізніше 07 числа місяця, наступного<br/>за звітним періодом</td>
        <td style="text-align: center; vertical-align: top; width: 20%; height: 24px; border: none;">за погодженням<br/>з Держстатом</td>
    </tr>
    <tr style="font-size: 10pt;">
        <td style="width: 50%; height: 24px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Державні органи – Нацдержслужбі</td>
        <td style="width: 30%; height: 24px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">Не пізніше 14 числа місяця, наступного<br/>за звітним періодом</td>
        <td style="width: 20%; height: 24px; border: none;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 100%; height: 18px; font-size: 10pt; border: none;" colspan="3"></td>
    </tr>
    <tr style="font-size: 10pt;">
        <td style="width: 80%; vertical-align: bottom; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;" colspan="2">Респондент:</td>
        <td style="width: 20%; height: 18px; border: none;"></td>
    </tr>
    <tr style="font-size: 10pt;">
        <td style="width: 80%; vertical-align: top; border-left: 1px solid; border-right: 1px solid;" colspan="2">Найменування <b><u>{{page0.orgName}}</u></b></td>
        <td style="width: 20%; height: 18px; border: none;"></td>
    </tr>
    <tr style="font-size: 10pt;">
        <td style="width: 80%; vertical-align: bottom; border-left: 1px solid; border-right: 1px solid;" colspan="2">Місцезнаходження <b><u>{{page0.orgAddr}}</u></b></td>
        <td style="width: 20%; height: 18px; border: none;"></td>
    </tr>
    <tr style="font-size: 8pt;">
        <td style="width: 80%; center; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;
            (поштовий індекс, область/Автономна Республіка Крим, район, населений пункт, вулиця/провулок, площа тощо, № будинку/корпусу)
        </td>
        <td style="width: 20%; border: none;"></td>
    </tr>
</tbody>
</table>
<br/><br/>
<!-- Розділ I -->
<table style="width: 1200px; word-break: break-all;" width="1400px" cellspacing="0" cellpadding="3px">
<tbody>
    <tr>
        <td style="width: 100%; text-align: center; height: 36px; font-size: 12pt; border: none;" colspan="17"><b>Розділ І. Кількіcний склад державного органу</b></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 48px; vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">№</td>
        <td style="width: 300px; height: 48px; vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">Складова структури органу</td>
        <td style="width: 100px; height: 48px; vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">Кількість<br/>посад<br/>державної</td>
        <td style="width: 150px; height: 48px; border-left: 1px solid; border-top: 1px solid;" colspan="3">З них за категоріями<br/>посад</td>
        <td style="width: 100px; height: 48px; vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">Інші посади (недержавної служби)</td>
        <td style="width: 100px; height: 48px; vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">Кількість<br/>вакантних<br/>посад</td>
        <td style="width: 150px; height: 48px; border-left: 1px solid; border-top: 1px solid;" colspan="3">З них за категоріями<br/>посад</td>
        <td style="width: 100px; height: 48px; vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">Інші вакантні<br/>посади</td>
        <td style="width: 100px; height: 48px; vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">Фактична<br/>чисельність<br/>працюючих</td>
        <td style="width: 150px; height: 48px; border-left: 1px solid; border-top: 1px solid;" colspan="3">З них за категоріями<br/>посад</td>
        <td style="width: 100px; height: 48px; vertical-align: bottom; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">Облікова<br/>кількість</td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 36px; vertical-align: top; border-left: 1px solid;">з/п</td>
        <td style="width: 300px; height: 36px; vertical-align: top; border-left: 1px solid;">виконавчої влади</td>
        <td style="width: 100px; height: 36px; vertical-align: top; border-left: 1px solid;">служби за<br/>штатним<br/>розписом</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">А</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">Б</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">В</td>
        <td style="width: 100px; height: 36px; vertical-align: top; border-left: 1px solid;">за штатним<br/>розписом</td>
        <td style="width: 100px; height: 36px; vertical-align: top; border-left: 1px solid;">державної<br/>служби</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">А</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">Б</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">В</td>
        <td style="width: 100px; height: 36px; vertical-align: top; border-left: 1px solid;">(недержавної служби)</td>
        <td style="width: 100px; height: 36px; vertical-align: top; border-left: 1px solid;">державних<br/>службовців</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">А</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">Б</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">В</td>
        <td style="width: 100px; height: 36px; vertical-align: top; border-left: 1px solid; border-right: 1px solid;">державних<br/>службовців</td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 14px; border-left: 1px solid; border-top: 1px solid;">1</td>
        <td style="width: 300px; height: 14px; border-left: 1px solid; border-top: 1px solid;">2</td>
        <td style="width: 100px; height: 14px; border-left: 1px solid; border-top: 1px solid;">3</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">4</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">5</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">6</td>
        <td style="width: 100px; height: 14px; border-left: 1px solid; border-top: 1px solid;">7</td>
        <td style="width: 100px; height: 14px; border-left: 1px solid; border-top: 1px solid;">8</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">9</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">10</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">11</td>
        <td style="width: 100px; height: 14px; border-left: 1px solid; border-top: 1px solid;">12</td>
        <td style="width: 100px; height: 14px; border-left: 1px solid; border-top: 1px solid;">13</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">14</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">15</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">16</td>
        <td style="width: 100px; height: 14px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">17</td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: center; height: 18px; font-size: 8pt; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;" colspan="17"><b>Для державних органів (у т.ч. суди)</b></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid;">1</td>
        <td style="width: 300px; height: 18px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Апарат державного органу</td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='1' data-row='1' data-col='3'>{{page1.pg1rw1cl3}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='1' data-row='1' data-col='4'>{{page1.pg1rw1cl4}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='1' data-row='1' data-col='5'>{{page1.pg1rw1cl5}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='1' data-row='1' data-col='6'>{{page1.pg1rw1cl6}}</a></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='1' data-row='1' data-col='7'>{{page1.pg1rw1cl7}}</a></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='1' data-row='1' data-col='8'>{{page1.pg1rw1cl8}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='1' data-row='1' data-col='9'>{{page1.pg1rw1cl9}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='1' data-row='1' data-col='10'>{{page1.pg1rw1cl10}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='1' data-row='1' data-col='11'>{{page1.pg1rw1cl11}}</a></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='1' data-row='1' data-col='12'>{{page1.pg1rw1cl12}}</a></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='1' data-row='1' data-col='13'>{{page1.pg1rw1cl13}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='1' data-row='1' data-col='14'>{{page1.pg1rw1cl14}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='1' data-row='1' data-col='15'>{{page1.pg1rw1cl15}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='1' data-row='1' data-col='16'>{{page1.pg1rw1cl16}}</a></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"><a href="#"
            data-orgids='{{orgIDs}}' data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='1' data-row='1' data-col='17'>{{page1.pg1rw1cl17}}</a></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid;">2</td>
        <td style="width: 300px; height: 18px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Територіальні органи</td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: center; height: 18px; font-size: 8pt; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;" colspan="17"><b>Для Ради міністрів Автономної Республіки Крим, обласних, Київської та Севастопольської міських державних адміністрацій</b></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 48px; border-left: 1px solid; border-top: 1px solid;">3</td>
        <td style="width: 300px; height: 48px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Апарат Ради міністрів Автономної Республіки Крим, обласної, Київської та Севастопольської міських державних адміністрацій</td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 60px; border-left: 1px solid; border-top: 1px solid;">3.1</td>
        <td style="width: 300px; height: 60px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Структурні підрозділи Ради міністрів Автономної Республіки Крим, обласної, Київської та Севастопольської міських<br/>державних адміністрацій</td>
        <td style="width: 100px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 60px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 36px; border-left: 1px solid; border-top: 1px solid;">4</td>
        <td style="width: 300px; height: 36px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Апарат районних, районних у містах<br/>Києві та Севастополі державних<br/>адміністрацій</td>
        <td style="width: 100px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 36px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">4.1</td>
        <td style="width: 300px; height: 48px; text-align: left; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Апарат Ради міністрів Автономної Республіки Крим, обласної, Київської та Севастопольської міських державних адміністрацій</td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid; border-bottom: 1px solid;"></td>
    </tr>
</tbody>
</table>
<br/><br/>
<!-- Розділ II -->
<table style="width: 1200px; word-break: break-all;" width="1400px" cellspacing="0" cellpadding="3px">
<tbody>
    <tr>
        <td style="width: 100%; text-align: center; height: 36px; font-size: 12pt; border: none;" colspan="18"><b>Розділ II. Кількість призначених та звільнених державних службовців</b></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 300px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 18px; vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">Кількість</td>
        <td style="width: 150px; height: 18px; border-left: 1px solid; border-top: 1px solid;" colspan="3"></td>
        <td style="width: 500px; height: 18px; border-left: 1px solid; border-top: 1px solid;" colspan="8">У тому числі</td>
        <td style="width: 100px; height: 18px; vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">Кількість</td>
        <td style="width: 150px; height: 18px; vertical-align: bottom; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;" colspan="3"></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 24px; vertical-align: bottom; border-left: 1px solid;">№</td>
        <td style="width: 300px; height: 24px; vertical-align: bottom; border-left: 1px solid;">Складова структури органу</td>
        <td style="width: 100px; height: 24px; vertical-align: bottom; border-left: 1px solid;">державних<br/>службовців<br/>призначених</td>
        <td style="width: 150px; height: 24px; border-left: 1px solid;" colspan="3">З них за<br/>категоріями посад</td>
        <td style="width: 100px; height: 24px; vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">за результа-<br/>тами конкурсу</td>
        <td style="width: 150px; height: 24px; border-left: 1px solid; border-top: 1px solid;" colspan="3">з них за<br/>категоріями посад</td>
        <td style="width: 100px; height: 24px; vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">за переведенням</td>
        <td style="width: 150px; height: 24px; border-left: 1px solid; border-top: 1px solid;" colspan="3">з них за<br/>категоріями посад</td>
        <td style="width: 100px; height: 24px; vertical-align: bottom; border-left: 1px solid;">державних<br/>службовців,<br/>звільнених за</td>
        <td style="width: 150px; height: 24px; border-left: 1px solid; border-right: 1px solid;" colspan="3">З них за<br/>категоріями посад</td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 36px; vertical-align: top; border-left: 1px solid;">з/п</td>
        <td style="width: 300px; height: 36px; vertical-align: top; border-left: 1px solid;">виконавчої влади</td>
        <td style="width: 100px; height: 36px; vertical-align: top; border-left: 1px solid;">за звітний<br/>період (осіб)</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">А</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">Б</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">В</td>
        <td style="width: 100px; height: 36px; vertical-align: top; border-left: 1px solid;">(з графи 3)</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">А</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">Б</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">В</td>
        <td style="width: 100px; height: 36px; vertical-align: top; border-left: 1px solid;">(з графи 3)</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">А</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">Б</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">В</td>
        <td style="width: 100px; height: 36px; vertical-align: top; border-left: 1px solid;">звітний<br/>період (осіб)</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">А</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;">Б</td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">В</td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 14px; border-left: 1px solid; border-top: 1px solid;">1</td>
        <td style="width: 300px; height: 14px; border-left: 1px solid; border-top: 1px solid;">2</td>
        <td style="width: 100px; height: 14px; border-left: 1px solid; border-top: 1px solid;">3</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">4</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">5</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">6</td>
        <td style="width: 100px; height: 14px; border-left: 1px solid; border-top: 1px solid;">7</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">8</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">9</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">10</td>
        <td style="width: 100px; height: 14px; border-left: 1px solid; border-top: 1px solid;">11</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">12</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">13</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">14</td>
        <td style="width: 100px; height: 14px; border-left: 1px solid; border-top: 1px solid;">15</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">16</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid;">17</td>
        <td style="width: 50px; height: 14px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">18</td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: center; height: 18px; font-size: 8pt; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;" colspan="18"><b>Для державних органів (у т.ч. суди)</b></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid;">1</td>
        <td style="width: 300px; height: 18px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Апарат державного органу</td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='2' data-row='1' data-col='3'>{{page2.pg2rw1cl3}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='2' data-row='1' data-col='4'>{{page2.pg2rw1cl4}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='2' data-row='1' data-col='5'>{{page2.pg2rw1cl5}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='2' data-row='1' data-col='6'>{{page2.pg2rw1cl6}}</a></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='2' data-row='1' data-col='7'>{{page2.pg2rw1cl7}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='2' data-row='1' data-col='8'>{{page2.pg2rw1cl8}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='2' data-row='1' data-col='9'>{{page2.pg2rw1cl9}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='2' data-row='1' data-col='10'>{{page2.pg2rw1cl10}}</a></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='2' data-row='1' data-col='11'>{{page2.pg2rw1cl11}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='2' data-row='1' data-col='12'>{{page2.pg2rw1cl12}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='2' data-row='1' data-col='13'>{{page2.pg2rw1cl13}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='2' data-row='1' data-col='14'>{{page2.pg2rw1cl14}}</a></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='2' data-row='1' data-col='15'>{{page2.pg2rw1cl15}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='2' data-row='1' data-col='16'>{{page2.pg2rw1cl16}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='2' data-row='1' data-col='17'>{{page2.pg2rw1cl17}}</a></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"><a href="#" data-orgids='{{orgIDs}}'
            data-year={{year}} data-quarter={{quarter}} data-ondate='{{onDate}}' data-page='2' data-row='1' data-col='18'>{{page2.pg2rw1cl18}}</a></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 18px; border-left: 1px solid; border-top: 1px solid;">2</td>
        <td style="width: 300px; height: 18px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Територіальні органи</td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 18px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: center; height: 18px; font-size: 8pt; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;" colspan="18"><b>Для Ради міністрів Автономної Республіки Крим, обласних, Київської та Севастопольської міських державних адміністрацій</b></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 48px; border-left: 1px solid; border-top: 1px solid;">3</td>
        <td style="width: 300px; height: 48px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Апарат Ради міністрів Автономної Республі-<br/>ки Крим, обласної, Київської та Севасто-<br/>польської міських державних адміністрацій</td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 60px; border-left: 1px solid; border-top: 1px solid;">3.1</td>
        <td style="width: 300px; height: 60px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Структурні підрозділи Ради міністрів Авто-<br/>номної Республіки Крим, обласної, Київсь-<br/>кої та Севастопольської міських державних адміністрацій</td>
        <td style="width: 100px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 60px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 36px; border-left: 1px solid; border-top: 1px solid;">4</td>
        <td style="width: 300px; height: 36px; text-align: left; border-left: 1px solid; border-top: 1px solid;">Апарат районних, районних у містах Києві та Севастополі державних адміністрацій</td>
        <td style="width: 100px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 100px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid;"></td>
        <td style="width: 50px; height: 36px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <tr style="text-align: center; font-size: 8pt;">
        <td style="width: 40px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">4.1</td>
        <td style="width: 300px; height: 48px; text-align: left; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Апарат Ради міністрів Автономної Республі-<br/>ки Крим, обласної, Київської та Севасто-<br/>польської міських державних адміністрацій</td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 100px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 50px; height: 48px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid; border-bottom: 1px solid;"></td>
    </tr>
    <tr>
        <td style="width: 100%; height: 36px; border: none;" colspan="18"></td>
    </tr>
    <tr style=" font-size: 10pt; border: none;">
        <td style="width: 40px; height: 36px;"></td>
        <td style="width: 400px; height: 36px;" colspan="2">Керівник служби управління персоналом<br/>державного органу (особа, відповідальна<br/>за заповнення форми звітності)</td>
        <td style="width: 150px; height: 36px;" colspan="3"></td>
        <td style="width: 200px; height: 36px; font-size: 10pt; vertical-align: bottom;" colspan="3">____________________</td>
        <td style="width: 250px; height: 36px;" colspan="4"></td>
        <td style="width: 300px; height: 36px; font-size: 10pt; vertical-align: bottom;" colspan="5">_________________________</td>
    </tr>
    <tr style="text-align: center; font-size: 8pt; border: none;">
        <td style="width: 490px;" colspan="6"></td>
        <td style="width: 200px;" colspan="3">(підпис)</td>
        <td style="width: 250px;" colspan="4"></td>
        <td style="width: 250px;" colspan="4">(ініціали, прізвище)</td>
        <td style="width: 50px;"></td>
    </tr>
</tbody>
</table>