<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 14pt; border-collapse: collapse; width: {{tableWidth}}px; word-break: normal;" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
<tbody>
    <tr style="font-size: 1pt;">
        <td style="width: 30px;"></td>
        <td style="width: 250px;"></td>
        <td style="width: 180px;"></td>
        {{#showPosBasePay}}<td style="width: 130px;"></td>{{/showPosBasePay}}
        <td style="width: 130px;"></td>
        <td style="width: 100px;"></td>
        {{#showRank}}<td style="width: 140px;"></td>{{/showRank}}
        <td style="width: 180px;"></td>
        <td style="width: 180px;"></td>
        <td style="width: 120px;"></td>
    </tr>

    <tr>
        <td style="text-align: center; font-size: 14pt; font-weight: bold; border: none;" colspan="{{colSpan}}">ШТАТНО-ПОСАДОВИЙ СПИСОК</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; border: none;" colspan="{{colSpan}}">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; border: none;" colspan="{{colSpan}}">{{organizationName}}</td>
    </tr>
    <!--{{#fundSourceName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; vertical-align: middle;" colspan="{{colSpan}}">{{fundSourceName}}</td>
    </tr>
    <!--{{/fundSourceName}}-->
    <!--{{#progClassName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; vertical-align: middle;" colspan="{{colSpan}}">{{progClassName}}</td>
    </tr>
    <!--{{/progClassName}}-->
    <!--{{#fundName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; vertical-align: middle;" colspan="{{colSpan}}">{{fundName}}</td>
    </tr>
    <!--{{/fundName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; border-left: none; border-top: none; border-right: none;" colspan="{{colSpan}}">Cтаном на {{onDate}}</td>
    </tr>
    <tr style="text-align: center; font-size: 12pt;">
        <td style="border-left: 1px solid; border-top: 1px solid;">№<br/>з/п</td>
        <td style="border-left: 1px solid; border-top: 1px solid;">Посада</td>
        <td style="border-left: 1px solid; border-top: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>
        {{#showPosBasePay}}<td style="border-left: 1px solid; border-top: 1px solid;">Оклад<br/>посади (грн.)</td>{{/showPosBasePay}}
        <td style="border-left: 1px solid; border-top: 1px solid;">Посадовий<br/>оклад (грн.)</td>
        <td style="border-left: 1px solid; border-top: 1px solid;">Дата<br/>народження</td>
        {{#showRank}}<td style="border-left: 1px solid; border-top: 1px solid;">Ранг<br/>держслужбовця</td>{{/showRank}}
        <td style="border-left: 1px solid; border-top: 1px solid;">Номер і дата наказу<br/>про прийом на роботу</td>
        <td style="border-left: 1px solid; border-top: 1px solid;">Номер і дата наказу<br/>про звільнення<br/>з роботи (переведення)</td>
        <td style="border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">Прим.</td>
    </tr>
    <tr style="text-align: center; font-size: 10pt;">
        <!--{{#colNums}}-->
            <td style="border: 1px solid;">{{name}}</td>
        <!--{{/colNums}}-->
    </tr>

    <!--{{#data}}-->
        <!--{{#isDepartment}}-->
            <tr style="font-size: 12pt;">
                <td style="text-align: left; border: 1px solid; font-weight: bold;" colspan="{{colSpan}}">{{{name}}}</td>
            </tr>
        <!--{{/isDepartment}}-->
        <!--{{^isDepartment}}-->
            <!--{{#isTotal}}-->
                <tr style="font-size: 12pt; color: #808080;">
                    <td style="text-align: left; font-weight: bold; border: 1px solid;" colspan="{{colSpan2}}">{{{name}}}</td>
                    <td style="text-align: right; font-weight: bold; border: 1px solid;">{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
                    <td style="text-align: center; border: 1px solid;" colspan="{{colSpan3}}"></td>
                </tr>
            <!--{{/isTotal}}-->
            <!--{{^isTotal}}-->
                <tr>
                    <td style="text-align: center; border-left: 1px solid; border-top: 1px solid;">{{indexNum}}</td>
                    <td style="text-align: left; border-left: 1px solid; border-top: 1px solid;">{{name}}</td>
                    <td style="text-align: left; border-left: 1px solid; border-top: 1px solid;">{{{empName}}}</td>
                    {{#showPosBasePay}}<td style="text-align: right; border-left: 1px solid; border-top: 1px solid;">{{#$fs}}"pospay","{{roundTo}}"{{/$fs}}</td>{{/showPosBasePay}}
                    <td style="text-align: right; border-left: 1px solid; border-top: 1px solid;">{{^isTempVac}}{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}{{/isTempVac}}{{#isTempVac}}({{{basepayStr}}}){{/isTempVac}}</td>
                    <td style="text-align: center; border-left: 1px solid; border-top: 1px solid;">{{birthDate}}</td>
                    {{#showRank}}<td style="text-align: center; border-left: 1px solid; border-top: 1px solid;">{{rankName}}</td>{{/showRank}}
                    <td style="text-align: center; border-left: 1px solid; border-top: 1px solid;">{{{acceptNumDate}}}</td>
                    <td style="text-align: center; border-left: 1px solid; border-top: 1px solid;">{{{fireNumDate}}}</td>
                    <td style="text-align: center; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{{notes}}}</td>
                </tr>
                <!--{{#emp}}-->
                <tr>
                    <td style="text-align: center; border-left: 1px solid;"></td>
                    <td style="text-align: left; border-left: 1px solid;"></td>
                    <td style="text-align: left; border-left: 1px solid; border-top: 1px solid;">{{{empName}}}</td>
                    {{#showPosBasePay}}<td style="text-align: right; border-left: 1px solid; border-top: 1px solid;">{{#$fs}}"pospay","{{roundTo}}"{{/$fs}}</td>{{/showPosBasePay}}
                    <td style="text-align: right; border-left: 1px solid; border-top: 1px solid;">{{^isTempVac}}{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}{{/isTempVac}}{{#isTempVac}}({{{basepayStr}}}){{/isTempVac}}</td>
                    <td style="text-align: center; border-left: 1px solid; border-top: 1px solid;">{{birthDate}}</td>
                    {{#showRank}}<td style="text-align: center; border-left: 1px solid; border-top: 1px solid;">{{rankName}}</td>{{/showRank}}
                    <td style="text-align: center; border-left: 1px solid; border-top: 1px solid;">{{{acceptNumDate}}}</td>
                    <td style="text-align: center; border-left: 1px solid; border-top: 1px solid;">{{{fireNumDate}}}</td>
                    <td style="text-align: center; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{{notes}}}</td>
                </tr>
                <!--{{/emp}}-->
            <!--{{/isTotal}}-->
        <!--{{/isDepartment}}-->
    <!--{{/data}}-->
    <!--{{#dataPC}}-->
        <tr>
            <td style="text-align: center; border: 1px solid;"></td>
            <td style="text-align: left; border: 1px solid;" colspan="{{colSpan4}}">{{{name}}}</td>
            <td style="text-align: right; border: 1px solid;">{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid;" colspan="{{colSpan3}}"></td>
        </tr>
    <!--{{/dataPC}}-->

</tbody>
</table>