<!--%pageOrientation:portrait-->
<table style="font-family: TimesNewRoman; font-size: 9pt; table-layout: fixed; border-collapse: collapse; word-break: normal; margin: 0px 10px 0px 70px;" width="660" cellspacing="0" cellpadding="3px" border="0px">
<tbody>
    <tr style="font-size: 1pt;">
        <td style="width: 40px;">&nbsp;</td>
        <td style="width: 300px;">&nbsp;</td>
        <td style="width: 80px;">&nbsp;</td>
        <td style="width: 90px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
    </tr>
    <tr style="text-align: center; font-size: 14pt; font-weight: bold;">
        <td style="vertical-align: middle;" colspan="2">&nbsp;</td>
        <td style="vertical-align: middle;" colspan="3">ЗАТВЕРДЖЕНО</td>
    </tr>
    <tr style="text-align: left; font-size: 10pt;">
        <td colspan="2">&nbsp;</td>
        <td colspan="3">штат у кількості {{{totalQuantityStr}}} штатних одиниць з мiсячним</td>
    </tr>
    <tr style="text-align: left;">
        <td style="font-size: 8pt;" colspan="2">&nbsp;</td>
        <td style="font-size: 10pt;" colspan="3">фондом заробiтної плати за посадовими окладами</td>
    </tr>
    <tr style="text-align: left;">
        <td style="font-size: 8pt;" colspan="2">&nbsp;</td>
        <td style="font-size: 10pt;" colspan="3">{{{totalFunsSumStr}}} грн.</td>
    </tr>
    <tr style="text-align: left;">
        <td style="font-size: 8pt;" colspan="2">&nbsp;</td>
        <td style="font-size: 10pt;" colspan="3">{{{totalFunsSumToWord}}}</td>
    </tr>
    <tr>
        <td style="height: 20px" colspan="5"></td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: center; font-size: 14pt; height: 32px; font-weight: bold; vertical-align: middle;" colspan="5">ШТАТНИЙ РОЗПИС</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="width: 100%; text-align: center; font-size: 14pt; vertical-align: middle;" colspan="5">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <tr>
        <td style="width: 100%; text-align: center; font-size: 14pt; vertical-align: middle;" colspan="5">{{organizationName}} на {{year}} рік</td>
    </tr>
    <!--{{#fundSourceName}}-->
    <tr>
        <td style="width: 100%; text-align: center; font-size: 14pt; vertical-align: middle;" colspan="5">{{fundSourceName}}</td>
    </tr>
    <!--{{/fundSourceName}}-->
    <!--{{#progClassName}}-->
    <tr>
        <td style="width: 100%; text-align: center; font-size: 14pt; vertical-align: middle;" colspan="5">{{progClassName}}</td>
    </tr>
    <!--{{/progClassName}}-->
    <!--{{#fundName}}-->
    <tr>
        <td style="width: 100%; text-align: center; font-size: 14pt; vertical-align: middle;" colspan="5">{{fundName}}</td>
    </tr>
    <!--{{/fundName}}-->
    <!--{{#showNn}}-->
    <tr style="text-align: center; font-size: 10pt; vertical-align: middle;">
        <td style="border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">№<br/>з/п</td>
        <td style="border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Назва структурного підрозділу та посад</td>
        <td style="border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Кількість<br/>шт. од.</td>
        <td style="border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Посадовий<br/>оклад<br/>(грн.)</td>
        <td style="border: 1px solid;">Фонд заробітної плати<br/>на місяць за посадовими<br/>окладами (грн.)</td>
    </tr>
    <tr style="text-align: center; font-size: 8pt; vertical-align: middle;">
        <td style="border-left: 1px solid; border-bottom: 1px solid;">1</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid;">2</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid;">3</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid;">4</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">5</td>
    </tr>
    <!--{{/showNn}}-->
    <!--{{^showNn}}-->
    <tr style="text-align: center; font-size: 10pt; vertical-align: middle;">
        <td style="width: 400px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;" colspan="2">Назва структурного підрозділу та посад</td>
        <td style="width: 80px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Кількість<br/>шт. од.</td>
        <td style="width: 90px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Посадовий оклад<br/>(грн.)</td>
        <td style="width: 150px; border: 1px solid;">Фонд заробітної плати<br/>на місяць за посадовими<br/>окладами (грн.)</td>
    </tr>
    <tr style="text-align: center; font-size: 8pt; vertical-align: middle;">
        <td style="width: 400px; border-left: 1px solid; border-bottom: 1px solid;" colspan="2">1</td>
        <td style="width: 80px; border-left: 1px solid; border-bottom: 1px solid;">2</td>
        <td style="width: 90px; border-left: 1px solid; border-bottom: 1px solid;">3</td>
        <td style="width: 150px; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">4</td>
    </tr>
    <!--{{/showNn}}-->
    <!--{{#data}}-->
        <!--{{#isDepartment}}-->
            <tr style="font-size: 12pt;">
                <td style="text-align: left; border: 1px solid; font-weight: bold;" colspan="5">{{{name}}}</td>
            </tr>
        <!--{{/isDepartment}}-->
        <!--{{^isDepartment}}-->
            <!--{{#isTotal}}-->
                <tr style="font-size: 10pt; color: #808080; font-weight: bold;">
                    <td style="text-align: left; border: 1px solid; vertical-align: top;" colspan="2">{{{name}}}</td>
                    <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
                    <td style="text-align: center; border: 1px solid;">-</td>
                    <td style="text-align: right; border: 1px solid;">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
            </tr>
            <!--{{/isTotal}}-->
            <!--{{^isTotal}}-->
                <tr style="font-size: 10pt;">
                    <!--{{#showNn}}-->
                        <td style="text-align: center; border: 1px solid;">{{indexNum}}</td>
                        <td style="text-align: left; border: 1px solid; vertical-align: top;">{{name}}</td>
                    <!--{{/showNn}}-->
                    <!--{{^showNn}}-->
                        <td style="text-align: left; border: 1px solid; vertical-align: top;" colspan="2">{{name}}</td>
                    <!--{{/showNn}}-->
                    <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
                    <!--{{#paymentType}}-->
                        <td style="text-align: center; border: 1px solid;" colspan="2">{{paymentType}}</td>
                    <!--{{/paymentType}}-->
                    <!--{{^paymentType}}-->
                    <td style="text-align: right; border: 1px solid;">{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
                    <td style="text-align: right; border: 1px solid;">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
                    <!--{{/paymentType}}-->

                </tr>
            <!--{{/isTotal}}-->
        <!--{{/isDepartment}}-->
    <!--{{/data}}-->
    <!--{{#dataPC}}-->
        <tr style="font-size: 10pt;">
            <!--{{#showNn}}-->
                <td style="text-align: center; border: 1px solid;">&nbsp;</td>
                <td style="text-align: left; border: 1px solid; vertical-align: top;">{{name}}</td>
            <!--{{/showNn}}-->
            <!--{{^showNn}}-->
                <td style="text-align: left; border: 1px solid; vertical-align: top;" colspan="2">{{name}}</td>
            <!--{{/showNn}}-->
            <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid;">-</td>
            <td style="text-align: right; border: 1px solid;">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
        </tr>
    <!--{{/dataPC}}-->

    <tr style="font-size: 10pt;">
        <td colspan="5"></td>
    </tr>
    <tr style="font-size: 10pt;">
        <td colspan="5"></td>
    </tr>

    <tr style="text-align: left; font-size: 10pt;">
        <td colspan="2">Керівник</td>
        <td style="vertical-align: bottom;">_______</td>
        <td colspan="2" style="vertical-align: bottom;">________________</td>
    </tr>
    <tr style="text-align: left; font-size: 10pt;">
        <td colspan="2"></td>
        <td style="vertical-align: top;">(підпис)</td>
        <td colspan="2" style="vertical-align: top;">(ініціали і прізвище)</td>
    </tr>
    <tr>
        <td colspan="5"></td>
    </tr>
    <tr style="text-align: left; font-size: 10pt; height: 36px;">
        <td colspan="2">Керівник бухгалтерської служби /<br/>начальник планово-фінансового підрозділу</td>
        <td style="vertical-align: bottom;">_______</td>
        <td colspan="2" style="vertical-align: bottom;">________________</td>
    </tr>
    <tr style="text-align: left; font-size: 10pt;">
        <td colspan="2"></td>
        <td style="vertical-align: top;">(підпис)</td>
        <td colspan="2" style="vertical-align: top;">(ініціали і прізвище)</td>
    </tr>
    <tr>
        <td colspan="5"></td>
    </tr>
    <tr style="text-align: left; font-size: 10pt;">
        <td></td>
        <td colspan="4">М.П.</td>
    </tr>

    </tbody>
</table>