<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: 14px; table-layout: fixed; line-height: 1.3; border-collapse: collapse; width: 640px;  word-break: normal;  margin: 0px 10px 0px 70px;" border="0px" cellspacing="0" cellpadding="0px">
    <tbody>
        <tr>
            <td style="width: 45px;">&nbsp;</td>
            <td style="width: 170px;">&nbsp;</td>
            <td style="width: 210px;">&nbsp;</td>
            <td style="width: 90px;">&nbsp;</td>
            <td style="width: 90px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: 14pt; font-weight: bold;" colspan="5">Зміни{{changeListNumber}} до організаційної  структури на {{year}} рік</td>
        </tr>

        <!--{{#orderInfo}}-->
        <tr>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: 14pt; " colspan="5">{{{orderInfo}}}</td>
        </tr>
        <!--{{/orderInfo}}-->
        <tr>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: 14pt; font-weight: bold;" colspan="5">{{organizationNameGen}}</td>
        </tr>
        <tr>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: 6pt; border: none;" colspan="5">&nbsp;</td>
        </tr>

        <!--{{#data}}-->
        <tr>
            <td style="padding: 0px 3px 0px 6px; border: 1px solid; font-family: TimesNewRoman; font-size: 12pt; text-align: left; font-weight: bold;" colspan="5">{{{name}}}</td>
        </tr>
        <!--{{#thisQuantity}}-->
        <tr>
            <td style="padding: 0px 3px 0px 3px; border: 1px solid; font-family: TimesNewRoman; font-size: 12pt; font-weight: bold; text-align: center; "></td>
            <td style="padding: 0px 3px 0px 3px; border: 1px solid; font-family: TimesNewRoman; font-size: 12pt; font-weight: bold; text-align: center;" colspan="2">Найменування підрозділів</td>
            <td style="padding: 0px 3px 0px 3px; border: 1px solid; font-family: TimesNewRoman; font-size: 12pt; font-weight: bold; text-align: center;" >Кількість штатних одиниць</td>
            <td style="padding: 0px 3px 0px 3px; border: 1px solid; font-family: TimesNewRoman; font-size: 12pt; font-weight: bold; text-align: center;" >Кількість штатних одиниць (нова редакція)</td>
        </tr>
        <!--{{/thisQuantity}}-->

        <!--{{#items}}-->
            <!--{{#thisQuantity}}-->
            <tr>
                <td style="padding: 0px 3px 0px 3px; border: 1px solid; font-family: TimesNewRoman; font-size: 12pt; text-align: center; ">{{{index}}}</td>
                <td style="padding: 0px 3px 0px 3px; border: 1px solid; font-family: TimesNewRoman; font-size: 12pt; text-align: justify; " colspan="2">{{{text}}}</td>
                <td style="padding: 0px 3px 0px 3px; border: 1px solid; font-family: TimesNewRoman; font-size: 12pt; text-align: center; " data-format="number">{{{oldQuantity}}}</td>
                <td style="padding: 0px 3px 0px 3px; border: 1px solid; font-family: TimesNewRoman; font-size: 12pt; text-align: center; " data-format="number">{{{newQuantity}}}</td>
            </tr>
            <!--{{/thisQuantity}}-->
            <!--{{^thisQuantity}}-->
            <tr>
                <td style="padding: 0px 3px 0px 3px; border: 1px solid; font-family: TimesNewRoman; font-size: 12pt; text-align: center; ">{{{index}}}</td>
                <td style="padding: 0px 3px 0px 3px; border: 1px solid; font-family: TimesNewRoman; font-size: 12pt; text-align: justify; " colspan="4">{{{text}}}</td>
            </tr>
            <!--{{/thisQuantity}}-->
        <!--{{/items}}-->
        <!--{{/data}}-->

        <tr>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: 6pt; border: none;" colspan="5">&nbsp;</td>
        </tr>
        <!--{{#reconciliation}}-->
        <tr>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: 6pt; border: none;" colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: 12pt; vertical-align: top; text-align: left;" colspan="2">{{namePos}}</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: 12pt; vertical-align: top; text-align: center;" >__________</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: 12pt; vertical-align: top; text-align: right;" colspan="2">{{name}}</td>
        </tr>
        <!--{{/reconciliation}}-->
    </tbody>
</table>