<!--%pageOrientation:landscape-->
<table
    style="font-family: TimesNewRoman; font-size: 11pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 35px;"
    border="0px" width="1000px" cellspacing="0" cellpadding="0px">
    <tbody>
        <tr>
            <td colspan="12" style="font-size: 13pt; text-align: center; font-weight: bold; padding-bottom: 10px;">Організація:&nbsp;{{orgName}}</td>
        </tr>
        <tr>
            <td colspan="12" style="font-size: 13pt; text-align: center; font-weight: bold; padding-bottom: 10px;">За період:&nbsp;{{periodName}}
            </td>
        </tr>
        <tr>
            <td colspan="12" style="font-size: 13pt; text-align: center; font-weight: bold; padding-bottom: 20px;">Наказ&nbsp;{{docNumber}}&nbsp;від&nbsp;{{docDate}}</td>
        </tr>
        <tr>
            <td style="width: 100px;"></td>
            <td style="width: 140px;"></td>
            <td style="width: 100px;"></td>
            <td style="width: 100px;"></td>
            <td style="width: 100px;"></td>
            <td style="width: 100px;"></td>
            <td style="width: 100px;"></td>
            <td style="width: 100px;"></td>
            <td style="width: 100px;"></td>
            <td style="width: 100px;"></td>
            <td style="width: 100px;"></td>
            <td style="width: 100px;"></td>
        </tr>
        <tr>
            <td style="border: 1px solid; text-align: center; height: 30px; align-items: center; font-weight: bold;" colspan="2">Обліковий період</td>
            <td style="border: 1px solid; text-align: center;  align-items: center; font-weight: bold;" colspan="3">Працівник</td>
            <td style="border: 1px solid; text-align: center;  align-items: center; font-weight: bold;" colspan="2">Посада</td>
            <td style="border: 1px solid; text-align: center;  align-items: center; font-weight: bold;">Відсоток</td>
            <td style="border: 1px solid; text-align: center;  align-items: center; font-weight: bold;" colspan="2">Сума для розрахунку</td>
            <td style="border: 1px solid; text-align: center;  align-items: center; font-weight: bold;">% зняття</td>
            <td style="border: 1px solid; text-align: center;  align-items: center; font-weight: bold;">Сума зняття</td>
            <td style="border: 1px solid; text-align: center;  align-items: center; font-weight: bold;" colspan="2">До нарахування</td>
        </tr>
        <!--{{#orderRegistryDt}}-->
        <tr>
            <td style="border: 1px solid; text-align: center;" colspan="2">{{periodCalcName}}</td>
            <td style="border: 1px solid; text-align: center;" colspan="3">{{employeeFIO}}</td>
            <td style="border: 1px solid; text-align: center;" colspan="2">{{posName}}</td>
            <td style="border: 1px solid; text-align: center;">{{#$fs}}"rate","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; text-align: center;" colspan="2">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; text-align: center;">{{#$fs}}"rateOff","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; text-align: center;">{{#$fs}}"paySumOff","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; text-align: center;" colspan="2">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        </tr>
        <!--{{/orderRegistryDt}}-->
        <!--{{#total}}-->
        <tr>
            <td style="border: 1px solid; text-align: center;" colspan="7">Всього</td>
            <td style="border: 1px solid; text-align: center;"></td>
            <td style="border: 1px solid; text-align: center;" colspan="2">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; text-align: center;"></td>
            <td style="border: 1px solid; text-align: center;">{{#$fs}}"paySumOff","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; text-align: center;" colspan="2">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        </tr>
        <!--{{/total}}-->
    </tbody>
</table>