<!--%pageOrientation:portrait-->

 <!--{{#dataFundSource}}-->
<table style="font-family: TimesNewRoman; table-layout: fixed; line-height: 1.1; border-collapse: collapse; width: {{tableWidth}}px; word-break: normal; margin: 0px 10px 0px 70px;" border="0px" cellspacing="0" cellpadding="0px">
    <tbody>
    <tr style="font-size: {{fontSizeH}}pt;">
        <!--{{#showAccrual}}-->
        <!--{{#ecoPrintPlan}}-->
            <td style="width: 25px;">&nbsp;</td>
            <td style="width: 118px;">&nbsp;</td>
            <td style="width: 60px;">&nbsp;</td>
            <td style="width: 55px;">&nbsp;</td>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 85px;">&nbsp;</td>
            <td style="width: 77px;">&nbsp;</td>
            <td style="width: 85px;">&nbsp;</td>
            <td style="width: 75px;">&nbsp;</td>
        <!--{{/ecoPrintPlan}}-->
        <!--{{^ecoPrintPlan}}-->
            <td style="width: 30px;">&nbsp;</td>
            <td style="width: 140px;">&nbsp;</td>
            <td style="width: 60px;">&nbsp;</td>
            <td style="width: 55px;">&nbsp;</td>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 85px;">&nbsp;</td>
            <td style="width: 85px;">&nbsp;</td>
            <td style="width: 85px;">&nbsp;</td>
            <td style="width: 80px;">&nbsp;</td>
        <!--{{/ecoPrintPlan}}-->
        <!--{{/showAccrual}}-->
        <!--{{^showAccrual}}-->
            <td style="width: 40px;">&nbsp;</td>
            <td style="width: 260px;">&nbsp;</td>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 70px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 150px;">&nbsp;</td>
        <!--{{/showAccrual}}-->
    </tr>

    <!--{{#printSignerInfo}}-->
    <!--{{#showAccrual}}-->
    <!--{{#approvedDataFirst}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeH}}pt; font-weight: bold; vertical-align: middle;" colspan="4">ПОГОДЖЕНО</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeH}}pt; font-weight: bold; vertical-align: middle;" colspan="4">ЗАТВЕРДЖЕНО</td>
    </tr>
    <tr style="height: {{rowHeightHead}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">{{approverOrgName}}</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-weight: bold; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">Штат у кількості {{{totalQuantityStr}}} одиниць з місячним ФЗП {{{totalFunsSumStr}}}&nbsp;грн.</td>
    </tr>
    <!--{{/approvedDataFirst}}-->
    <!--{{^approvedDataFirst}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeH}}pt; font-weight: bold; vertical-align: middle;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeH}}pt; font-weight: bold; vertical-align: middle;" colspan="4">ЗАТВЕРДЖЕНО</td>
    </tr>
    <tr style="height: {{rowHeightHead}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-weight: bold; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">Штат у кількості {{{totalQuantityStr}}} одиниць з місячним ФЗП {{{totalFunsSumStr}}}&nbsp;грн.</td>
    </tr>
    <!--{{/approvedDataFirst}}-->

    <!--{{#agreeDataFirst}}-->
    <!--{{#approvedDataFirst}}-->
    <tr style="height: {{approverRowHeight}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">{{approverPosName}}</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">{{{posName}}}</td>
    </tr>
    <!--{{#orgName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">{{{orgName}}}</td>
    </tr>
    <!--{{/orgName}}-->
    <!--{{#approverEmpName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4"><b>_________ {{approverEmpName}}</b></td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">_________ <b>{{{empName}}}</b></td>
    </tr>
    <!--{{/approverEmpName}}-->
    <!--{{^approverEmpName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">_________ <b>{{{empName}}}</b></td>
    </tr>
    <!--{{/approverEmpName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">{{emptyDate}}</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">{{emptyDate}}</td>
    </tr>
    <!--{{/approvedDataFirst}}-->
    <!--{{^approvedDataFirst}}-->
    <tr style="height: {{rowHeight}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">{{{posName}}}</td>
    </tr>
    <!--{{#orgName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">{{{orgName}}}</td>
    </tr>
    <!--{{/orgName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">_________ <b>{{{empName}}}</b></td>
    </tr>
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">{{emptyDate}}</td>
    </tr>
    <!--{{/approvedDataFirst}}-->
    <!--{{/agreeDataFirst}}-->

    <!--{{^agreeDataFirst}}-->
    <!--{{#approvedDataFirst}}-->
    <tr style="height: {{approverRowHeight}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">{{approverPosName}}</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="4">&nbsp;</td>
    </tr>
    <!--{{#approverEmpName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4"><b>_________ {{approverEmpName}}</b></td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="4">&nbsp;</td>
    </tr>
    <!--{{/approverEmpName}}-->
    <!--{{^approverEmpName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="4">&nbsp;</td>
    </tr>
    <!--{{/approverEmpName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">{{emptyDate}}</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">{{emptyDate}}</td>
    </tr>
    <!--{{/approvedDataFirst}}-->
    <!--{{^approvedDataFirst}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="4">&nbsp;</td>
    </tr>
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="4">&nbsp;</td>
    </tr>
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">{{emptyDate}}</td>
    </tr>
    <!--{{/approvedDataFirst}}-->
    <!--{{/agreeDataFirst}}-->

    <!--{{#agreeDataSecond}}-->
    <tr style="height: {{rowHeight}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">{{{posName}}}</td>
    </tr>
    <!--{{#orgName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">{{{orgName}}}</td>
    </tr>
    <!--{{/orgName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">_________ <b>{{{empName}}}</b></td>
    </tr>
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="4">{{emptyDate}}</td>
    </tr>
    <!--{{/agreeDataSecond}}-->

    <!--{{#docInfo}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeH}}pt;" colspan="5">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeH}}pt;" colspan="4"><em>{{{text}}}</em></td>
    </tr>
    <!--{{/docInfo}}-->
    <!--{{/showAccrual}}-->

    <!--{{^showAccrual}}-->
    <!--{{#approvedDataFirst}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeH}}pt; font-weight: bold; vertical-align: middle;" colspan="2">ПОГОДЖЕНО</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeH}}pt; font-weight: bold; vertical-align: middle;" colspan="3">ЗАТВЕРДЖЕНО</td>
    </tr>
    <tr style="height: 130px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">{{approverOrgName}}</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-weight: bold; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">штат у кількості {{{totalQuantityStr}}} штатних одиниць з місячним фондом заробітної плати за посадовими окладами {{{totalFunsSumStr}}}&nbsp;грн.{{{totalFunsSumToWord}}}</td>
    </tr>
    <!--{{/approvedDataFirst}}-->
    <!--{{^approvedDataFirst}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeH}}pt; font-weight: bold; vertical-align: middle;" colspan="2">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeH}}pt; font-weight: bold; vertical-align: middle;" colspan="3">ЗАТВЕРДЖЕНО</td>
    </tr>
    <tr style="height: 130px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-weight: bold; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">штат у кількості {{{totalQuantityStr}}} штатних одиниць з місячним фондом заробітної плати за посадовими окладами {{{totalFunsSumStr}}}&nbsp;грн.{{{totalFunsSumToWord}}}</td>
    </tr>
    <!--{{/approvedDataFirst}}-->

    <!--{{#agreeDataFirst}}-->
    <!--{{#approvedDataFirst}}-->
    <tr style="height: {{approverRowHeight}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">{{approverPosName}}</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">{{{posName}}}</td>
    </tr>
    <!--{{#orgName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">{{{orgName}}}</td>
    </tr>
    <!--{{/orgName}}-->
    <!--{{#approverEmpName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2"><b>_________ {{approverEmpName}}</b></td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">_________ <b>{{{empName}}}</b></td>
    </tr>
    <!--{{/approverEmpName}}-->
    <!--{{^approverEmpName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="2">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">_________ <b>{{{empName}}}</b></td>
    </tr>
    <!--{{/approverEmpName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">{{emptyDate}}</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">{{emptyDate}}</td>
    </tr>
    <!--{{/approvedDataFirst}}-->
    <!--{{^approvedDataFirst}}-->
    <tr style="height: {{rowHeight}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">{{{posName}}}</td>
    </tr>
    <!--{{#orgName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">{{{orgName}}}</td>
    </tr>
    <!--{{/orgName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">_________ <b>{{{empName}}}</b></td>
    </tr>
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">{{emptyDate}}</td>
    </tr>
    <!--{{/approvedDataFirst}}-->
    <!--{{/agreeDataFirst}}-->

    <!--{{^agreeDataFirst}}-->
    <!--{{#approvedDataFirst}}-->
    <tr style="height: {{approverRowHeight}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">{{approverPosName}}</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="3">&nbsp;</td>
    </tr>
    <!--{{#approverEmpName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2"><b>_________ {{approverEmpName}}</b></td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="3">&nbsp;</td>
    </tr>
    <!--{{/approverEmpName}}-->
    <!--{{^approverEmpName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="2">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="3">&nbsp;</td>
    </tr>
    <!--{{/approverEmpName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">{{emptyDate}}</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">{{emptyDate}}</td>
    </tr>
    <!--{{/approvedDataFirst}}-->
    <!--{{^approvedDataFirst}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="3">&nbsp;</td>
    </tr>
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="3">&nbsp;</td>
    </tr>
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">{{emptyDate}}</td>
    </tr>
    <!--{{/approvedDataFirst}}-->
    <!--{{/agreeDataFirst}}-->

    <!--{{#agreeDataSecond}}-->
    <tr style="height: {{rowHeight}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">{{{posName}}}</td>
    </tr>
    <!--{{#orgName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">{{{orgName}}}</td>
    </tr>
    <!--{{/orgName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">_________ <b>{{{empName}}}</b></td>
    </tr>
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">{{emptyDate}}</td>
    </tr>
    <!--{{/agreeDataSecond}}-->

    <!--{{#docInfo}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeT}}pt;" colspan="3">&nbsp;</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeT}}pt;" colspan="3"><em>{{{text}}}</em></td>
    </tr>
    <!--{{/docInfo}}-->
    <!--{{/showAccrual}}-->

    <tr>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" colspan="{{colSpan}}">&nbsp;</td>
    </tr>
    <!--{{/printSignerInfo}}-->

    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; font-weight: bold; vertical-align: middle;" colspan="{{colSpan}}">ШТАТНИЙ РОЗПИС</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; vertical-align: middle;" colspan="{{colSpan}}"><em>{{departmentName}}</em></td>
    </tr>
    <!--{{/departmentName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; vertical-align: middle;" colspan="{{colSpan}}"><em>керівників, професіоналів, фахівців, технічних службовців та робітників</em></td>
    </tr>
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; vertical-align: middle;" colspan="{{colSpan}}"><em>{{{organizationName}}}</em></td>
    </tr>
    <!--{{#organizationName2}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; vertical-align: middle;" colspan="{{colSpan}}"><em>{{{organizationName2}}}</em></td>
    </tr>
    <!--{{/organizationName2}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; vertical-align: middle;" colspan="{{colSpan}}"><em>{{year}} рік</em></td>
    </tr>
    <!--{{#fundSourceName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; vertical-align: middle;" colspan="{{colSpan}}"><em>{{fundSourceName}}</em></td>
    </tr>
    <!--{{/fundSourceName}}-->
    <!--{{#progClassName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; vertical-align: middle;" colspan="{{colSpan}}"><em>{{progClassName}}</em></td>
    </tr>
    <!--{{/progClassName}}-->
    <!--{{#fundName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; vertical-align: middle;" colspan="{{colSpan}}"><em>{{fundName}}</em></td>
    </tr>
    <!--{{/fundName}}-->
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: right; font-size: {{fontSizeH}}pt; vertical-align: middle;" colspan="{{colSpan}}">{{{entryOrderEntryDate}}}</td>
    </tr>
    <tr style="height: {{rowHeightDefault}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: right; font-size: 3pt; vertical-align: middle;" colspan="{{colSpan}}">&nbsp;</td>
    </tr>

    <tr>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;">№ з/п</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;" >Найменування підрозділу та посад</td>
        <!--{{#showAccrual}}-->
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;" >Код КП</td>
        <!--{{/showAccrual}}-->
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;" colspan="2">Кількість штатних одиниць</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;">Посадовий оклад, тарифна ставка (місячний оклад), грн</td>
        <!--{{#showAccrual}}-->
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;">Надбавки, доплати, грн</td>
        <!--{{/showAccrual}}-->
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;">Фонд заробітної плати за місяць, грн</td>
        <!--{{#showAccrual}}-->
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;">Примітки</td>
        <!--{{/showAccrual}}-->
    </tr>
    <tr>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: 1px solid;">1</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: 1px solid;" >2</td>
        <!--{{#showAccrual}}-->
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: 1px solid;" >3</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: 1px solid;" colspan="2">4</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: 1px solid;">5</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: 1px solid;">6</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: 1px solid;">7</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: 1px solid;">8</td>
        <!--{{/showAccrual}}-->
        <!--{{^showAccrual}}-->
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: 1px solid;" colspan="2">3</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: 1px solid;">4</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: 1px solid;">5</td>
        <!--{{/showAccrual}}-->
    </tr>
    <!--{{#data}}-->
        <!--{{#isDepartment}}-->
            <tr>
                <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: left; border: 1px solid; font-weight: bold;" colspan="{{colSpan}}">{{{name}}}</td>
            </tr>
        <!--{{/isDepartment}}-->
        <!--{{^isDepartment}}-->
            <!--{{#isTotal}}-->
                <tr>
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; color: #808080; font-weight: bold; text-align: left; border: 1px solid black; vertical-align: middle;" colspan="2">{{{name}}}</td>
        <!--{{#showAccrual}}-->
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; color: #808080; font-weight: bold; text-align: center; border: 1px solid black; vertical-align: middle;" ></td>
        <!--{{/showAccrual}}-->
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; color: #808080; font-weight: bold; text-align: center; border: 1px solid black; vertical-align: middle;" colspan="2" data-format="number">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; color: #808080; font-weight: bold; text-align: right; border: 1px solid black; vertical-align: middle;" data-format="number">{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
        <!--{{#showAccrual}}-->
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; color: #808080; font-weight: bold; text-align: right; border: 1px solid black; vertical-align: middle;" data-format="number">{{#$fs}}"basepay5","{{roundTo}}"{{/$fs}}</td>
        <!--{{/showAccrual}}-->
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; color: #808080; font-weight: bold; text-align: right; border: 1px solid black; vertical-align: middle;" data-format="number">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
        <!--{{#showAccrual}}-->
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; color: #808080; font-weight: bold; text-align: center; border: 1px solid black; vertical-align: middle;"></td>
        <!--{{/showAccrual}}-->
                </tr>
            <!--{{/isTotal}}-->
            <!--{{^isTotal}}-->
                <tr>
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; border: 1px solid;">{{indexNum}}</td>
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: left; border: 1px solid; vertical-align: middle;">{{name}}</td>
        <!--{{#showAccrual}}-->
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; border: 1px solid; vertical-align: middle;">{{KPcode}}</td>
        <!--{{/showAccrual}}-->
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; border: 1px solid; vertical-align: middle;" colspan="2" data-format="number">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
                    <!--{{#paymentType}}-->
                        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; border: 1px solid; vertical-align: middle;" {{#showAccrual}}colspan="3"{{/showAccrual}}{{^showAccrual}}colspan="2"{{/showAccrual}}>{{paymentType}}</td>
                    <!--{{/paymentType}}-->
                    <!--{{^paymentType}}-->
                        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: right; border: 1px solid; vertical-align: middle;" data-format="number">{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
        <!--{{#showAccrual}}-->
                        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: right; border: 1px solid; vertical-align: middle;" data-format="number">{{#$fs}}"basepay5","{{roundTo}}"{{/$fs}}</td>
        <!--{{/showAccrual}}-->
                        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: right; border: 1px solid; vertical-align: middle;" data-format="number">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
                    <!--{{/paymentType}}-->
        <!--{{#showAccrual}}-->
                        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: left; border: 1px solid; vertical-align: middle;">{{{info}}}</td>
        <!--{{/showAccrual}}-->
                </tr>
            <!--{{/isTotal}}-->
        <!--{{/isDepartment}}-->
    <!--{{/data}}-->

    <!--{{#dataPC}}-->
        <tr style="font-size: 10pt;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; border: 1px solid;"></td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: left; border: 1px solid; vertical-align: middle;">{{name}}</td>
        <!--{{#showAccrual}}-->
          <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; border: 1px solid; vertical-align: middle;"></td>
        <!--{{/showAccrual}}-->
          <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; border: 1px solid; vertical-align: middle;" colspan="2" data-format="number">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
          <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: right; border: 1px solid; vertical-align: middle;" data-format="number">{{#$fs}}"basepayQuantity","{{roundTo}}"{{/$fs}}</td>
        <!--{{#showAccrual}}-->
          <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: right; border: 1px solid; vertical-align: middle;" data-format="number">{{#$fs}}"basepay5Quantity","{{roundTo}}"{{/$fs}}</td>
        <!--{{/showAccrual}}-->
          <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: right; border: 1px solid; vertical-align: middle;" data-format="number">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
        <!--{{#showAccrual}}-->
          <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: left; border: 1px solid; vertical-align: middle;"></td>
        <!--{{/showAccrual}}-->
        </tr>
    <!--{{/dataPC}}-->

    <tr>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: 6pt; " colspan="{{colSpan}}">&nbsp;</td>
    </tr>
    <!--{{#signData}}-->
    <tr>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: 6pt; border: none;" colspan="{{colSpan}}">&nbsp;</td>
    </tr>
    <tr style="height: {{rowHeight}}px;">
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: left; border: 0px;" colspan="{{colSpan3}}">{{posName}}</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: center; border: 0px;" colspan="2">__________</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: left; border: 0px;" colspan="{{colSpan4}}">{{empName}}</td>
    </tr>
    <!--{{/signData}}-->

    </tbody>
</table>
<!--{{#isPageBreak}}-->
    <!-- pagebreak -->
<!--{{/isPageBreak}}-->
<!--{{/dataFundSource}}-->