<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: 14px; table-layout: fixed; line-height: 1.3; border-collapse: collapse; width: {{sheetWidth}}px;  word-break: normal;  margin: 0px 10px 0px 70px;" border="0px" cellspacing="0" cellpadding="0px">
<tbody>
    <tr>
        <td style="width: 80px;">&nbsp;</td>
        <td style="width: 470px;">&nbsp;</td>
        <!--{{#showQuantity}}-->
        <td style="width: 90px;">&nbsp;</td>
        <!--{{/showQuantity}}-->
    </tr>

    <tr>
        <td style="text-align: left; font-size: 14pt; border: none;" colspan="{{colCount}}"><b>СТРУКТУРА ТА ЧИСЕЛЬНІСТЬ</b></td>
    </tr>
    <tr>
        <td style="text-align: left; font-size: 14pt; border: none;" colspan="{{colCount}}"><b>працівників структурних підрозділів</b></td>
    </tr>
    <tr>
        <td style="text-align: left; font-size: 14pt; border: none;" colspan="{{colCount}}"><b>{{organizationName}}</b></td>
    </tr>
    <tr>
        <td style="text-align: left; font-size: 12pt; border-left: none; border-top: none; border-right: none;" colspan="{{colCount}}">Станом на {{onDate}}</td>
    </tr>

    <tr>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: 12pt; border: 1px solid;">Позиція</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: 12pt; border: 1px solid;">Назва структурного підрозділу та посад</td>
        <!--{{#showQuantity}}-->
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: 12pt; border: 1px solid;">Чисельність</td>
        <!--{{/showQuantity}}-->
    </tr>
    <tr>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: 12pt; border: 1px solid;">1</td>
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: 12pt; border: 1px solid;">2</td>
        <!--{{#showQuantity}}-->
        <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: 12pt; border: 1px solid;">3</td>
        <!--{{/showQuantity}}-->
    </tr>
    <!--{{#data}}-->
        <tr >
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid black;">{{indexNum}}</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: 12pt; {{style}} {{style2}} text-align: left; border: 1px solid black;" >{{{name}}}</td>
            <!--{{#showQuantity}}-->
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: 12pt; {{style}} {{style2}} text-align: center; border: 1px solid black;" >{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
            <!--{{/showQuantity}}-->
        </tr>
    <!--{{/data}}-->
</tbody>
</table>