<!--%pageOrientation:portrait-->
<table style="font-family: TimesNewRoman; table-layout: fixed; border-collapse: collapse; word-break: normal; margin: 0px 10px 0px 70px;" width="{{widthTable}}" cellspacing="0" cellpadding="3px" border="0px">
<tbody>
    <tr style="font-size: 14pt;">
        <td style="width: 40px;">&nbsp;</td>
        <td style="width: 250px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 80px;">&nbsp;</td>
        <td style="width: 80px;">&nbsp;</td>
        <td style="width: 80px;">&nbsp;</td>
        <td style="width: 80px;">&nbsp;</td>
        <!--{{#showFop}}-->
        <td style="width: 100px;">&nbsp;</td>
        <!--{{/showFop}}-->
        <td style="width: 120px;">&nbsp;</td>
        <!--{{#showEmpInfo}}-->
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 120px;">&nbsp;</td>
            <td style="width: 120px;">&nbsp;</td>
            <td style="width: 120px;">&nbsp;</td>
        <!--{{/showEmpInfo}}-->
        <!--{{#showDepColumn}}-->
            <td style="width: 150px;">&nbsp;</td>
        <!--{{/showDepColumn}}-->
    </tr>
    <tr>
        <td style="text-align: left; font-size: 14pt; font-weight: bold; vertical-align: middle;" colspan="{{colSpan1}}">&nbsp;</td>
        <td style="text-align: left; font-size: 14pt; font-weight: bold; vertical-align: middle;" colspan="{{colSpan2}}">ЗАТВЕРДЖЕНО</td>
    </tr>
    <tr>
        <td style="text-align: left; font-size: 14pt; font-weight: bold;" colspan="{{colSpan1}}">&nbsp;</td>
        <td style="text-align: left; font-size: 14pt; font-weight: bold;" colspan="{{colSpan2}}">Штат у кількості {{{totalQuantityStr}}} одиниць</td>
    </tr>
    <tr>
        <td style="text-align: left; font-size: 14pt; font-weight: bold;" colspan="{{colSpan1}}">&nbsp;</td>
        <td style="text-align: left; font-size: 14pt; font-weight: bold;" colspan="{{colSpan2}}">з місячним ФЗП {{{totalFunsSumStr}}} грн.</td>
    </tr>
    <!--{{#agreeData}}-->
    <tr>
        <td style="text-align: left; font-size: 14pt;" colspan="{{colSpan1}}">&nbsp;</td>
        <td style="text-align: left; font-size: 14pt;" colspan="{{colSpan2}}">{{{posName}}}</td>
    </tr>
    <!--{{#orgName}}-->
    <tr>
        <td style="text-align: left; font-size: 14pt;" colspan="{{colSpan1}}">&nbsp;</td>
        <td style="text-align: left; font-size: 14pt;" colspan="{{colSpan2}}">{{{orgName}}}</td>
    </tr>
    <!--{{/orgName}}-->
    <tr>
        <td style="text-align: left; font-size: 14pt;" colspan="{{colSpan1}}">&nbsp;</td>
        <td style="text-align: left; font-size: 14pt;" colspan="{{colSpan2}}">______________ <b>{{{empName}}}</b></td>
    </tr>
    <tr>
        <td style="text-align: left; font-size: 14pt;" colspan="{{colSpan1}}">&nbsp;</td>
        <td style="text-align: left; font-size: 14pt;" colspan="{{colSpan2}}">"_____"__________________ 20___ р.</td>
    </tr>
    <!--{{/agreeData}}-->
    <!--{{^agreeData}}-->
    <tr>
        <td style="text-align: left; font-size: 14pt;" colspan="{{colSpan1}}">&nbsp;</td>
        <td style="text-align: left; font-size: 14pt; border-bottom: 1px solid;" colspan="{{colSpan2}}">&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align: left; font-size: 14pt;" colspan="{{colSpan1}}">&nbsp;</td>
        <td style="text-align: left; font-size: 14pt; border-bottom: 1px solid;" colspan="{{colSpan2}}">&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align: left; font-size: 14pt;" colspan="{{colSpan1}}">&nbsp;</td>
        <td style="text-align: left; font-size: 14pt;" colspan="{{colSpan2}}">"_____"__________________ 20___ р.</td>
    </tr>
    <!--{{/agreeData}}-->
    <!--{{#docInfo}}-->
    <tr>
        <td style="text-align: left; font-size: 14pt;" colspan="{{colSpan1}}">&nbsp;</td>
        <td style="text-align: left; font-size: 14pt;" colspan="{{colSpan2}}"><em>{{{text}}}</em></td>
    </tr>
    <!--{{/docInfo}}-->
    <tr>
        <td style="height: 20px" colspan="{{colSpan}}"></td>
    </tr>
    <tr>
        <td style="text-align: center; font-size: 14pt; height: 32px; font-weight: bold; vertical-align: middle;" colspan="{{colSpan}}">ШТАТНИЙ РОЗПИС</td>
    </tr>
    <tr>
        <td style="text-align: center; font-size: 14pt; height: 32px; vertical-align: middle;" colspan="{{colSpan}}"><em>{{positionCategoryName}}</em></td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; vertical-align: middle;" colspan="{{colSpan}}"><em>{{departmentName}}</em></td>
    </tr>
    <!--{{/departmentName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; vertical-align: middle;" colspan="{{colSpan}}"><em>{{{organizationName}}}</em></td>
    </tr>
    <!--{{#organizationName2}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; vertical-align: middle;" colspan="{{colSpan}}"><em>{{{organizationName2}}}</em></td>
    </tr>
    <!--{{/organizationName2}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; vertical-align: middle;" colspan="{{colSpan}}"><em>{{year}} рік</em></td>
    </tr>
    <!--{{#fundSourceName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; vertical-align: middle;" colspan="{{colSpan}}"><em>{{fundSourceName}}</em></td>
    </tr>
    <!--{{/fundSourceName}}-->
    <!--{{#progClassName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; vertical-align: middle;" colspan="{{colSpan}}"><em>{{progClassName}}</em></td>
    </tr>
    <!--{{/progClassName}}-->
    <!--{{#fundName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; vertical-align: middle;" colspan="{{colSpan}}"><em>{{fundName}}</em></td>
    </tr>
    <!--{{/fundName}}-->
    <tr>
        <td style="text-align: right; font-size: 14pt; vertical-align: middle;" colspan="{{colSpan}}">Вводиться з {{dateEntryStr}}</td>
    </tr>
    <tr style="text-align: center; font-size: 10pt; vertical-align: middle;">
        <!--{{#showNn}}-->
            <td style="border: 1px solid;">№з/п</td>
            <td style="border: 1px solid;">Найменування підрозділу та посад</td>
        <!--{{/showNn}}-->
        <!--{{^showNn}}-->
            <td style="border: 1px solid;" colspan="2">Найменування підрозділу та посад</td>
        <!--{{/showNn}}-->
        <td style="border: 1px solid;">Код КП</td>
        <td style="border: 1px solid;">Кількість штатних одиниць</td>
        <td style="border: 1px solid;">Посадовий оклад, тарифна ставка (місячний оклад), грн</td>
        <td style="border: 1px solid;">Надбавки, доплати, грн</td>
        <td style="border: 1px solid;">Фонд заробітної плати за місяць, грн</td>
        <!--{{#showFop}}-->
          <td style="border: 1px solid;">Фонд заробітної плати за {{{monthsFopStr}}}, грн</td>
        <!--{{/showFop}}-->
        <td style="border: 1px solid;">Примітки</td>
        <!--{{#showEmpInfo}}-->
            <td style="border: 1px solid;">Працівники</td>
            <td style="border: 1px solid;">Оклад, грн</td>
            <td style="border: 1px solid;">Надбавки працівника, грн</td>
            <td style="border: 1px solid;">Категорія</td>
        <!--{{/showEmpInfo}}-->
        <!--{{#showDepColumn}}-->
            <td style="border: 1px solid;">Підрозділ</td>
        <!--{{/showDepColumn}}-->
    </tr>
    <tr style="text-align: center; font-size: 8pt; vertical-align: middle;">
        <!--{{#showNn}}-->
            <td style="border: 1px solid;">1</td>
            <td style="border: 1px solid;">2</td>
        <!--{{/showNn}}-->
        <!--{{^showNn}}-->
            <td style="border: 1px solid;" colspan="2">1</td>
        <!--{{/showNn}}-->
        <!--{{#colNums}}-->
            <td style="border: 1px solid;">{{name}}</td>
        <!--{{/colNums}}-->
    </tr>

    <!--{{#data}}-->
        <!--{{#isDepartment}}-->
            <tr style="font-size: 12pt; vertical-align: middle;">
                <td style="text-align: {{textAlign}}; border: 1px solid; font-weight: bold;" colspan="{{colSpan}}">{{{name}}}</td>
            </tr>
        <!--{{/isDepartment}}-->
        <!--{{^isDepartment}}-->
            <!--{{#isTotal}}-->
                <tr style="font-size: 10pt; color: #808080; font-weight: bold; vertical-align: middle;">
                    <td style="text-align: left; border: 1px solid;" colspan="2">{{{name}}}</td>
                    <td style="text-align: center; border: 1px solid;">-</td>
                    <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
                    <td style="text-align: right; border: 1px solid;">{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
                    <td style="text-align: right; border: 1px solid;">{{#$fs}}"accrualTotal","{{roundTo}}"{{/$fs}}</td>
                    <td style="text-align: right; border: 1px solid;">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
                    <!--{{#showFop}}-->
                      <td style="text-align: right; border: 1px solid;">{{#$fs}}"fundSumByMonths","{{roundTo}}"{{/$fs}}</td>
                    <!--{{/showFop}}-->
                    <td style="text-align: left; border: 1px solid;">&nbsp;</td>
                    <!--{{#showEmpInfo}}-->
                        <td style="text-align: left; border: 1px solid;">&nbsp;</td>
                        <td style="text-align: right; border: 1px solid;">{{#$fs}}"accrualSum","{{roundTo}}"{{/$fs}}</td>
                        <td style="text-align: right; border: 1px solid;">{{#$fs}}"accrualEmpTotal","{{roundTo}}"{{/$fs}}</td>
                        <td style="text-align: left; border: 1px solid;">&nbsp;</td>
                    <!--{{/showEmpInfo}}-->
                    <!--{{#showDepColumn}}-->
                        <td style="text-align: left; border: 1px solid;">&nbsp;</td>
                    <!--{{/showDepColumn}}-->
            </tr>
            <!--{{/isTotal}}-->
            <!--{{^isTotal}}-->
                <tr style="font-size: 10pt; vertical-align: middle;">
                    <!--{{#showNn}}-->
                        <td style="text-align: center; border: 1px solid;">{{indexNum}}</td>
                        <td style="text-align: left; border: 1px solid;">{{name}}</td>
                    <!--{{/showNn}}-->
                    <!--{{^showNn}}-->
                        <td style="text-align: left; border: 1px solid;" colspan="2">{{name}}</td>
                    <!--{{/showNn}}-->
                    <td style="text-align: center; border: 1px solid;">{{KPcode}}</td>
                    <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
                    <!--{{#paymentType}}-->
                        <td style="text-align: center; border: 1px solid;" colspan="{{colSpanPaymentType}}">{{paymentType}}</td>
                    <!--{{/paymentType}}-->
                    <!--{{^paymentType}}-->
                    <td style="text-align: right; border: 1px solid;">{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
                    <td style="text-align: right; border: 1px solid;">{{#$fs}}"accrualTotal","{{roundTo}}"{{/$fs}}</td>
                    <td style="text-align: right; border: 1px solid;">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
                    <!--{{#showFop}}-->
                        <td style="text-align: right; border: 1px solid;">{{#$fs}}"fundSumByMonths","{{roundTo}}"{{/$fs}}</td>
                    <!--{{/showFop}}-->
                    <!--{{/paymentType}}-->
                    <td style="font-size: 9pt; text-align: left; border: 1px solid;">{{{info}}}</td>
                    <!--{{#showEmpInfo}}-->
                        <td style="font-size: 9pt; text-align: left; border: 1px solid;">{{{empInfo1}}}</td>
                        <td style="font-size: 9pt; text-align: left; border: 1px solid;">{{{empInfo3}}}</td>
                        <td style="font-size: 9pt; text-align: left; border: 1px solid;">{{{empAccrualData}}}</td>
                        <td style="font-size: 9pt; text-align: left; border: 1px solid;">{{{empInfo2}}}</td>
                    <!--{{/showEmpInfo}}-->
                    <!--{{#showDepColumn}}-->
                        <td style="font-size: 9pt; text-align: left; border: 1px solid;">{{{parentName}}}</td>
                    <!--{{/showDepColumn}}-->

                </tr>
            <!--{{/isTotal}}-->
        <!--{{/isDepartment}}-->
    <!--{{/data}}-->
    <!--{{#dataPC}}-->
        <tr style="font-size: 10pt; vertical-align: middle;">
            <!--{{#showNn}}-->
                <td style="text-align: center; {{bold}} border: 1px solid;">&nbsp;</td>
                <td style="text-align: left; {{bold}} border: 1px solid;" colspan="2">{{name}}</td>
            <!--{{/showNn}}-->
            <!--{{^showNn}}-->
                <td style="text-align: left; {{bold}} border: 1px solid;" colspan="3">{{name}}</td>
            <!--{{/showNn}}-->
            <td style="text-align: center; {{bold}} border: 1px solid;">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
            <td style="text-align: right; {{bold}} border: 1px solid;">{{#$fs}}"basepayQuantity","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; {{bold}} border: 1px solid;">{{#$fs}}"accrualTotalQuantity","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; {{bold}} border: 1px solid;">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
            <!--{{#showFop}}-->
                <td style="text-align: right; {{bold}} border: 1px solid;">{{#$fs}}"fundSumByMonths","{{roundTo}}"{{/$fs}}</td>
            <!--{{/showFop}}-->
            <td style="text-align: right; {{bold}} border: 1px solid;"></td>
            <!--{{#showEmpInfo}}-->
                <td style="text-align: right; {{bold}} border: 1px solid;"></td>
                <td style="text-align: right; {{bold}} border: 1px solid;">{{#$fs}}"accrualSumQuantity","{{roundTo}}"{{/$fs}}</td>
                <td style="text-align: right; {{bold}} border: 1px solid;">{{#$fs}}"accrualEmpTotal","{{roundTo}}"{{/$fs}}</td>
                <td style="text-align: right; {{bold}} border: 1px solid;"></td>
            <!--{{/showEmpInfo}}-->
            <!--{{#showDepColumn}}-->
                <td style="text-align: right; {{bold}} border: 1px solid;"></td>
            <!--{{/showDepColumn}}-->
        </tr>
    <!--{{/dataPC}}-->

    <tr style="font-size: 10pt;">
        <td colspan="{{colSpan}}"></td>
    </tr>
    <tr style="font-size: 10pt;">
        <td colspan="{{colSpan}}"></td>
    </tr>

    <!--{{#signData}}-->
    <tr style="text-align: left; font-size: 10pt;">
        <td colspan="{{colSpan3}}">{{posName}}</td>
        <td colspan="{{colSpan4}}" style="vertical-align: bottom;">{{empName}}</td>
    </tr>
    <!--{{/signData}}-->

    </tbody>
</table>