<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; border-collapse: collapse; width: 940px; word-break: break-all;" width="940px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr style="padding: 0; margin: 0;">
        <td colspan="5" style="text-align:center;" align="center"><img  src="{{emblem}}" data-style-pdf="padding-left:{{logoPaddingLeft}}px;" alt="emblem" width="{{logoWidthPx}}" height="{{logoHeightPx}}" /></td>
    </tr>
    <tr style="font-size: 10pt; height: 48px;">
        <td colspan="5" style="border-style: hidden; font-size: 12pt; text-align: center; font-family: TimesNewRoman; vertical-align: top;"><b>{{organizationName}}</b></td>
    </tr>
    <tr>
        <td style="width: 400px;"></td>
        <td colspan="4" style="width: 540px; text-align: center; font-size: 14pt; border: none; font-family: TimesNewRoman;"><b>ЗАТВЕРДЖУЮ</b></td>
    </tr>
    <tr>
        <td colspan="2" style="width: 520px;"></td>
        <td colspan="3" style="width: 420px; text-align: left; font-size: 14pt; border: none; font-family: TimesNewRoman;">штат у кількості {{{newTotalQuantity}}} одиниць</td>
    </tr>
    <tr>
        <td colspan="2" style="width: 520px;"></td>
        <td colspan="3" style="width: 420px; text-align: left; font-size: 14pt; border: none; font-family: TimesNewRoman;">з місячним фондом заробітної<br/>плати за посадовими окладами</td>
    </tr>
    <tr>
        <td colspan="2" style="width: 520px;"></td>
        <td colspan="3" style="width: 420px; text-align: left; font-size: 14pt; border: none; font-family: TimesNewRoman;"><b>{{newTotalFundpay}} грн</b></td>
    </tr>
    <tr style="font-size: 10pt; height: 48px;">
        <td colspan="2" style="width: 520px;"></td>
        <td colspan="3" style="width: 420px; text-align: left; font-size: 14pt; border: none; font-family: TimesNewRoman; vertical-align: bottom;">___________  {{respName}}</td>
    </tr>
    <tr>
        <td colspan="2" style="width: 520px;"></td>
        <td colspan="3" style="width: 420px; text-align: right; font-size: 14pt; border: none; font-family: TimesNewRoman;">{{orderDate}}</td>
    </tr>
    <tr>
        <td colspan="5" style="width: 100%; text-align: center; font-size: 14pt; border: none; font-family: TimesNewRoman;"><b>ПЕРЕЛІК</b></td>
    </tr>
    <tr>
        <td colspan="5" style="width: 100%; text-align: center; font-size: 14pt; border: none; font-family: TimesNewRoman;"><b>змін у структурі організації</b></td>
    </tr>
    <tr>
        <td colspan="5" style="width: 100%; text-align: center; font-size: 14pt; border: none; font-family: TimesNewRoman;"><b>{{organizationNameGen}}</b></td>
    </tr>
    <tr>
        <td colspan="5" style="width: 100%;"></td>
    </tr>
    <tr style="text-align: center; font-size: 12pt;">
        <td style="width: 400px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Назва структурного підрозділу та посад</td>
        <td style="width: 120px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Кількість<br/>шт. од.</td>
        <td style="width: 120px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Посадовий<br/>оклад (грн.)</td>
        <td style="width: 200px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Фонд заробітної плати<br/>на місяць за посадовими<br/>окладами (грн.)</td>
        <td style="width: 100px; border: 1px solid;">Примітка</td>
    </tr>
    <tr style="font-size: 12pt; height: 36px;">
        <td style="width: 400px; text-align: left; border-left: 1px solid black; border-bottom: 1px solid black; font-weight: bold; color: blue;">Затверджено</td>
        <td style="width: 120px; text-align: center; border-left: 1px solid black; border-bottom: 1px solid black; font-weight: bold; color: blue;">{{#$fs}}"oldTotalQuantity","{{roundToQuantityOld}}"{{/$fs}}</td>
        <td style="width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; "></td>
        <td style="width: 200px; text-align: right; border-left: 1px solid black; border-bottom: 1px solid black; font-weight: bold; color: blue;">{{#$fs}}"oldTotalFundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <!--{{#delTotals}}-->
    <tr style="font-size: 12pt; height: 36px;">
        <td style="width: 400px; text-align: left; border-left: 1px solid; border-bottom: 1px solid; font-weight: bold; ">Виводиться з штатного розпису</td>
        <td style="width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; font-weight: bold; ">{{#$fs}}"totalDelQuantity","{{roundToQuantityDel}}"{{/$fs}}</td>
        <td style="width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 200px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; font-weight: bold; ">{{#$fs}}"totalDelFundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <!--{{/delTotals}}-->
    <!--{{#delpos}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 400px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
        <td style="width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 200px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"fundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <!--{{/delpos}}-->
    <!--{{#delunits}}-->
    <tr style="text-align: left; font-size: 12pt;">
        <td style="width:100%; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="5"><font color="blue"><b>{{delUnitName}}</b></font></td>
    </tr>
    <!--{{#delpos}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 400px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
        <td style="width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 200px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"fundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <!--{{/delpos}}-->
    <!--{{#delunits}}-->
    <tr style="text-align: left; font-size: 12pt;">
        <td style="width:100%; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="5">&nbsp;&nbsp;<u><b>{{delUnitName}}</b></u></td>
    </tr>
    <!--{{#delpos}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 400px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
        <td style="width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 200px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"fundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <!--{{/delpos}}-->
    <!--{{#delunits}}-->
    <tr style="text-align: left; font-size: 12pt;">
        <td style="width:100%; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="5">&nbsp;&nbsp;&nbsp;&nbsp;<b>{{delUnitName}}</b></td>
    </tr>
    <!--{{#delpos}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 400px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
        <td style="width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 200px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"fundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <!--{{/delpos}}-->
    <!--{{#delunits}}-->
    <tr style="text-align: left; font-size: 12pt;">
        <td style="width:100%; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{delUnitName}}</b></td>
    </tr>
    <!--{{#delpos}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 400px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
        <td style="width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 200px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"fundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <!--{{/delpos}}-->
    <!--{{#delunits}}-->
    <tr style="text-align: left; font-size: 12pt;">
        <td style="width:100%; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{delUnitName}}</b></td>
    </tr>
    <!--{{#delpos}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 400px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
        <td style="width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 200px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"fundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <!--{{/delpos}}-->
    <!--{{#delunits}}-->
    <tr style="text-align: left; font-size: 12pt;">
        <td style="width:100%; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{delUnitName}}</b></td>
    </tr>
    <!--{{#delpos}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 400px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
        <td style="width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 200px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"fundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <!--{{/delpos}}-->
    <!--{{/delunits}}-->
    <!--{{/delunits}}-->
    <!--{{/delunits}}-->
    <!--{{/delunits}}-->
    <!--{{/delunits}}-->
    <!--{{/delunits}}-->
    <!--{{#addTotals}}-->
    <tr style="font-size: 12pt; height: 36px;">
        <td style="width: 400px; text-align: left; border-left: 1px solid; border-bottom: 1px solid; font-weight: bold;">Вводиться до штатного розпису</td>
        <td style="width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; font-weight: bold;">{{#$fs}}"totalAddQuantity","{{roundToQuantityAdd}}"{{/$fs}}</td>
        <td style="width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;"></td>
        <td style="width: 200px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; font-weight: bold;">{{#$fs}}"totalAddFundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <!--{{/addTotals}}-->
    <!--{{#addpos}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 400px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
        <td style="width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 200px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"fundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <!--{{/addpos}}-->
    <!--{{#addunits}}-->
    <tr style="text-align: left; font-size: 12pt;">
        <td style="width:100%; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="5"><font color="blue"><b>{{addUnitName}}</b></font></td>
    </tr>
    <!--{{#addpos}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 400px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
        <td style="width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 200px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"fundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <!--{{/addpos}}-->
    <!--{{#addunits}}-->
    <tr style="text-align: left; font-size: 12pt;">
        <td style="width:100%; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="5">&nbsp;&nbsp;<u><b>{{addUnitName}}</b></u></td>
    </tr>
    <!--{{#addpos}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 400px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
        <td style="width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 200px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"fundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <!--{{/addpos}}-->
    <!--{{#addunits}}-->
    <tr style="text-align: left; font-size: 12pt;">
        <td style="width:100%; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="5">&nbsp;&nbsp;&nbsp;&nbsp;<b>{{addUnitName}}</b></td>
    </tr>
    <!--{{#addpos}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 400px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
        <td style="width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 200px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"fundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <!--{{/addpos}}-->
    <!--{{#addunits}}-->
    <tr style="text-align: left; font-size: 12pt;">
        <td style="width:100%; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{addUnitName}}</b></td>
    </tr>
    <!--{{#addpos}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 400px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
        <td style="width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 200px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"fundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <!--{{/addpos}}-->
    <!--{{#addunits}}-->
    <tr style="text-align: left; font-size: 12pt;">
        <td style="width:100%; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{addUnitName}}</b></td>
    </tr>
    <!--{{#addpos}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 400px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
        <td style="width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 200px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"fundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <!--{{/addpos}}-->
    <!--{{#addunits}}-->
    <tr style="text-align: left; font-size: 12pt;">
        <td style="width:100%; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{addUnitName}}</b></td>
    </tr>
    <!--{{#addpos}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 400px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
        <td style="width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 200px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;" >{{#$fs}}"fundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    <!--{{/addpos}}-->
    <!--{{/addunits}}-->
    <!--{{/addunits}}-->
    <!--{{/addunits}}-->
    <!--{{/addunits}}-->
    <!--{{/addunits}}-->
    <!--{{/addunits}}-->
    <tr style="font-size: 12pt; height: 36px;">
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; font-weight: bold;">Всього з урахуванням внесених змін</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; font-weight: bold;">{{#$fs}}"newTotalQuantity","{{roundToQuantityNew}}"{{/$fs}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;"></td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; font-weight: bold;">{{#$fs}}"newTotalFundpay","{{roundTo}}"{{/$fs}}</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"></td>
    </tr>
    </tbody>
</table>