<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 14pt; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; " border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
<tbody>
    <tr>
        <td style="padding: 0; font-size: 1pt; width: 30px;">&nbsp;</td>
        <td style="padding: 0; font-size: 1pt; width: 180px;">&nbsp;</td>
        <td style="padding: 0; font-size: 1pt; width: 165px;">&nbsp;</td>
        <td style="padding: 0; font-size: 1pt; width: 85px;">&nbsp;</td>
        <td style="padding: 0; font-size: 1pt; width: 85px;">&nbsp;</td>
        <td style="padding: 0; font-size: 1pt; width: 100px;">&nbsp;</td>
        <!--{{#showAccrual}}-->
        <td style="padding: 0; font-size: 1pt; width: 110px;">&nbsp;</td>
        <td style="padding: 0; font-size: 1pt; width: 110px;">&nbsp;</td>
        <!--{{/showAccrual}}-->
        <td style="padding: 0; font-size: 1pt; width: 90px;">&nbsp;</td>
        <td style="padding: 0; font-size: 1pt; width: 55px;">&nbsp;</td>
        <td style="padding: 0; font-size: 1pt; width: 100px;">&nbsp;</td>
        <td style="padding: 0; font-size: 1pt; width: 120px;">&nbsp;</td>
        <td style="padding: 0; font-size: 1pt; width: 130px;">&nbsp;</td>
        <td style="padding: 0; font-size: 1pt; width: 160px;">&nbsp;</td>
        <td style="padding: 0; font-size: 1pt; width: 160px;">&nbsp;</td>
        <td style="padding: 0; font-size: 1pt; width: 100px;">&nbsp;</td>
        <td style="padding: 0; font-size: 1pt; width: 100px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align: center; font-size: 14pt; font-weight: bold;" colspan="{{colSpan}}">ШТАТНО-ПОСАДОВИЙ СПИСОК (розширений)</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; " colspan="{{colSpan}}">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; " colspan="{{colSpan}}">{{organizationName}}</td>
    </tr>
    <!--{{#fundSourceName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; vertical-align: middle;" colspan="{{colSpan}}">{{fundSourceName}}</td>
    </tr>
    <!--{{/fundSourceName}}-->
    <!--{{#progClassName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; vertical-align: middle;" colspan="{{colSpan}}">{{progClassName}}</td>
    </tr>
    <!--{{/progClassName}}-->
    <!--{{#fundName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; vertical-align: middle;" colspan="{{colSpan}}">{{fundName}}</td>
    </tr>
    <!--{{/fundName}}-->
    <!--{{#workPlaceName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; " colspan="{{colSpan}}">Місце роботи: {{workPlaceName}}</td>
    </tr>
    <!--{{/workPlaceName}}-->
    <tr>
        <td style="text-align: center; font-size: 14pt; " colspan="{{colSpan}}">cтаном на {{onDate}}</td>
    </tr>

    <tr>
        <td style="text-align: center; font-size: 12pt; border: 1px solid;">№<br/>з/п</td>
        <td style="text-align: center; font-size: 12pt; border: 1px solid;">Назва структурного підрозділу, посади</td>
        <td style="text-align: center; font-size: 12pt; border: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>
        <td style="text-align: center; font-size: 12pt; border: 1px solid;">Кількість ставок за ШР</td>
        <td style="text-align: center; font-size: 12pt; border: 1px solid;">Кількість ставок працівника</td>
        <td style="text-align: center; font-size: 12pt; border: 1px solid;">Місце роботи</td>
        <!--{{#showAccrual}}-->
        <td style="text-align: center; font-size: 12pt; border: 1px solid;">Оклад <br/> посади (грн.)</td>
        <td style="text-align: center; font-size: 12pt; border: 1px solid;">Оклад <br/>працівника (грн.)</td>
        <!--{{/showAccrual}}-->
        <td style="text-align: center; font-size: 12pt; border: 1px solid;">Дата<br/>народження</td>
        <td style="text-align: center; font-size: 12pt; border: 1px solid;">Вік<br/>(років)</td>
        <td style="text-align: center; font-size: 12pt; border: 1px solid;">Стаж {{experienceName}}</td>
        <td style="text-align: center; font-size: 12pt; border: 1px solid;">Освіта</td>
        <td style="text-align: center; font-size: 12pt; border: 1px solid;">Категорія</td>
        <td style="text-align: center; font-size: 12pt; border: 1px solid;">Прийнято на роботу</td>
        <td style="text-align: center; font-size: 12pt; border: 1px solid;">Звільнено</td>
        <td style="text-align: center; font-size: 12pt; border: 1px solid;">Тарифний розряд</td>
        <td style="text-align: center; font-size: 12pt; border: 1px solid;">Примітки</td>
    </tr>
    <tr>
        <!--{{#colNums}}-->
            <td style="text-align: center; font-size: 12pt; border: 1px solid;">{{name}}</td>
        <!--{{/colNums}}-->
    </tr>

    <!--{{#data}}-->
        <!--{{#isDepartment}}-->
            <tr style="font-size: 12pt;">
                <td style="text-align: left; border: 1px solid; font-weight: bold;" colspan="{{colSpan}}">{{{name}}}</td>
            </tr>
        <!--{{/isDepartment}}-->
        <!--{{^isDepartment}}-->
            <!--{{#isTotal}}-->
                <tr style="font-size: 12pt; color: #808080;">
                    <td style="text-align: left; font-weight: bold; border: 1px solid;" colspan="3">{{{name}}}</td>
                    <td style="text-align: center; font-weight: bold; border: 1px solid;">{{#$fs}}"quantity","{{roundToQuantityPos}}"{{/$fs}}</td>
                    <td style="text-align: center; font-weight: bold; border: 1px solid;">{{#$fs}}"mtCount","{{roundToQuantity}}"{{/$fs}}</td>
                    <td style="text-align: right; font-weight: bold; border: 1px solid;">&nbsp;</td>
                    <!--{{#showAccrual}}-->
                    <td style="text-align: right; font-weight: bold; border: 1px solid;">&nbsp;</td>
                    <td style="text-align: right; font-weight: bold; border: 1px solid;">{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
                    <!--{{/showAccrual}}-->
                    <td style="text-align: center; border: 1px solid;" colspan="9">&nbsp;</td>
                </tr>
            <!--{{/isTotal}}-->
            <!--{{^isTotal}}-->
                <tr>
                    <td style="font-size: 12pt; text-align: center; border-left: 1px solid; border-top: 1px solid; vertical-align: top;">{{indexNum}}</td>
                    <td style="font-size: 12pt; text-align: left; border-left: 1px solid; border-top: 1px solid; vertical-align: top;">{{name}}</td>
                    <td style="font-size: 12pt; text-align: left; border: 1px solid; vertical-align: top;">{{{empName}}}</td>
                    <td style="font-size: 12pt; text-align: center; border-left: 1px solid; border-top: 1px solid; vertical-align: top;">{{#$fs}}"quantity","{{roundToQuantityPos}}"{{/$fs}}</td>
                    <td style="font-size: 12pt; text-align: center; border: 1px solid; vertical-align: top;">{{#$fs}}"mtCount","{{roundToQuantity}}"{{/$fs}}</td>
                    <td style="font-size: 12pt; text-align: center; border: 1px solid; vertical-align: top;">{{workPlace}}</td>
                    <!--{{#showAccrual}}-->
                    <td style="font-size: 12pt; text-align: right; border: 1px solid; border-top: 1px solid; vertical-align: top;">{{#$fs}}"accrualSum","{{roundTo}}"{{/$fs}}</td>
                    <td style="font-size: 12pt; text-align: right; border: 1px solid; border-top: 1px solid; vertical-align: top;">{{^isTempVac}}{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}{{/isTempVac}}{{#isTempVac}}({{{basepayStr}}}){{/isTempVac}}</td>
                    <!--{{/showAccrual}}-->
                    <td style="font-size: 12pt; text-align: center; border: 1px solid; vertical-align: top;">{{birthDate}}</td>
                    <td style="font-size: 12pt; text-align: center; border: 1px solid; vertical-align: top;">{{age}}</td>
                    <td style="font-size: 12pt; text-align: center; border: 1px solid; vertical-align: top;">{{experience}}</td>
                    <td style="font-size: 12pt; text-align: center; border: 1px solid; vertical-align: top;">{{education}}</td>
                    <td style="font-size: 12pt; text-align: left; border: 1px solid; vertical-align: top;">{{category}}</td>
                    <td style="font-size: 12pt; text-align: left; border: 1px solid; vertical-align: top;">{{{acceptNumDate}}}</td>
                    <td style="font-size: 12pt; text-align: left; border: 1px solid; vertical-align: top;">{{{fireNumDate}}}</td>
                    <td style="font-size: 12pt; text-align: center; border: 1px solid; vertical-align: top;">{{{dictTarifCoeff}}}</td>
                    <td style="font-size: 12pt; text-align: center; border: 1px solid; vertical-align: top;">{{{notes}}}</td>
                </tr>
                <!--{{#emp}}-->
                <tr>
                    <td style="font-size: 12pt; text-align: center; border-left: 1px solid; vertical-align: top;">&nbsp;</td>
                    <td style="font-size: 12pt; text-align: left; border-left: 1px solid; vertical-align: top;">&nbsp;</td>
                    <td style="font-size: 12pt; text-align: left; border: 1px solid; vertical-align: top;">{{{empName}}}</td>
                    <td style="font-size: 12pt; text-align: center; border-left: 1px solid; vertical-align: top;">&nbsp;</td>
                    <td style="font-size: 12pt; text-align: center; border: 1px solid; vertical-align: top;">{{#$fs}}"mtCount","{{roundToQuantity}}"{{/$fs}}</td>
                    <td style="font-size: 12pt; text-align: center; border: 1px solid; vertical-align: top;">{{workPlace}}</td>
                    <!--{{#showAccrual}}-->
                    <td style="font-size: 12pt; text-align: right; border: 1px solid; border-top: 1px solid; vertical-align: top;">{{#$fs}}"accrualSum","{{roundTo}}"{{/$fs}}</td>
                    <td style="font-size: 12pt; text-align: right; border: 1px solid; border-top: 1px solid; vertical-align: top;">{{^isTempVac}}{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}{{/isTempVac}}{{#isTempVac}}({{{basepayStr}}}){{/isTempVac}}</td>
                    <!--{{/showAccrual}}-->
                    <td style="font-size: 12pt; text-align: center; border: 1px solid; vertical-align: top;">{{birthDate}}</td>
                    <td style="font-size: 12pt; text-align: center; border: 1px solid; vertical-align: top;">{{age}}</td>
                    <td style="font-size: 12pt; text-align: center; border: 1px solid; vertical-align: top;">{{experience}}</td>
                    <td style="font-size: 12pt; text-align: center; border: 1px solid; vertical-align: top;">{{education}}</td>
                    <td style="font-size: 12pt; text-align: left; border: 1px solid; vertical-align: top;">{{category}}</td>
                    <td style="font-size: 12pt; text-align: left; border: 1px solid; vertical-align: top;">{{{acceptNumDate}}}</td>
                    <td style="font-size: 12pt; text-align: left; border: 1px solid; vertical-align: top;">{{{fireNumDate}}}</td>
                    <td style="font-size: 12pt; text-align: center; border: 1px solid; vertical-align: top;">{{{dictTarifCoeff}}}</td>
                    <td style="font-size: 12pt; text-align: center; border: 1px solid; vertical-align: top;">{{{notes}}}</td>
                </tr>
                <!--{{/emp}}-->
            <!--{{/isTotal}}-->
        <!--{{/isDepartment}}-->
    <!--{{/data}}-->
</tbody>
</table>