<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; table-layout: fixed; word-wrap: break-word; border-collapse: collapse;" border="0px" width="1710px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="width: 200px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 80px; ">&nbsp;</td>
        <td style="width: 100px; ">&nbsp;</td>
        <td style="width: 150px; ">&nbsp;</td>
        <td style="width: 150px; ">&nbsp;</td>
        <td style="width: 150px; ">&nbsp;</td>
        <td style="width: 150px; ">&nbsp;</td>
        <td style="width: 150px; ">&nbsp;</td>
        <td style="width: 80px; ">&nbsp;</td>
        <td style="width: 70px; ">&nbsp;</td>
        <td style="width: 80px; ">&nbsp;</td>
        <td style="width: 250px; ">&nbsp;</td>
    </tr>

    <tr>
        <td style="height: 48px; font-weight: bold; text-align: center; vertical-align: middle; font-family: TimesNewRoman; font-size: 12pt;" colspan="13">{{title}}</td>
    </tr>

    <tr>
        <td style="font-weight: bold; text-align: center; vertical-align: middle; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;" >Назва організації</td>
        <td style="font-weight: bold; text-align: center; vertical-align: middle; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;" >Тип адреси</td>
        <td style="font-weight: bold; text-align: center; vertical-align: middle; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;" >Індекс</td>
        <td style="font-weight: bold; text-align: center; vertical-align: middle; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;" >Країна</td>
        <td style="font-weight: bold; text-align: center; vertical-align: middle; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;" >Область</td>
        <td style="font-weight: bold; text-align: center; vertical-align: middle; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;" >Район</td>
        <td style="font-weight: bold; text-align: center; vertical-align: middle; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;" >Населений пункт</td>
        <td style="font-weight: bold; text-align: center; vertical-align: middle; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;" >Район міста</td>
        <td style="font-weight: bold; text-align: center; vertical-align: middle; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;" >Вулиця</td>
        <td style="font-weight: bold; text-align: center; vertical-align: middle; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;" >Будинок</td>
        <td style="font-weight: bold; text-align: center; vertical-align: middle; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;" >Корпус</td>
        <td style="font-weight: bold; text-align: center; vertical-align: middle; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;" >Квартира (офіс)</td>
        <td style="font-weight: bold; text-align: center; vertical-align: middle; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;" >Адреса</td>
    </tr>

    <!--{{#data}}-->
    <tr>
        <!--{{#rows}}-->
        <td style="text-align: left; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; background-color: {{bgColor}}; " bgColor="{{bgColor}}" rowspan="{{rows}}">{{{name}}}</td>
        <!--{{/rows}}-->
        <td style="text-align: left; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; background-color: {{bgColor}}; " bgColor="{{bgColor}}">{{addressType}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; background-color: {{bgColor}}; " bgColor="{{bgColor}}">{{postIndex}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; background-color: {{bgColor}}; " bgColor="{{bgColor}}">{{country}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; background-color: {{bgColor}}; " bgColor="{{bgColor}}">{{region}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; background-color: {{bgColor}}; " bgColor="{{bgColor}}">{{district}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; background-color: {{bgColor}}; " bgColor="{{bgColor}}">{{city}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; background-color: {{bgColor}}; " bgColor="{{bgColor}}">{{cityDistrict}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; background-color: {{bgColor}}; " bgColor="{{bgColor}}">{{street}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; background-color: {{bgColor}}; " bgColor="{{bgColor}}">{{house}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; background-color: {{bgColor}}; " bgColor="{{bgColor}}">{{section}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; background-color: {{bgColor}}; " bgColor="{{bgColor}}">{{apartment}}</td>
        <td style="text-align: left; font-family: TimesNewRoman; font-size: 12pt; border: 1px solid; background-color: {{bgColor}}; " bgColor="{{bgColor}}">{{address}}</td>
    </tr>
    <!--{{/data}}-->

    </tbody>
</table>