<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; table-layout: fixed; border-collapse: collapse; word-break: normal; margin: 0px 10px 0px 70px;" border="0px" width="600px" cellspacing="0" cellpadding="3px">
    <tbody>
        <tr style="font-size: {{fontSizeH}}pt;">
            <td style="width: 40px; padding: 0;">&nbsp;</td>
            <td style="width: 240px; padding: 0;">&nbsp;</td>
            <td style="width: 20px; padding: 0;">&nbsp;</td>
            <td style="width: 80px; padding: 0;">&nbsp;</td>
            <td style="width: 90px; padding: 0;">&nbsp;</td>
            <td style="width: 130px; padding: 0;">&nbsp;</td>
        </tr>
        <!--{{#printSignerInfo}}-->

        <!--{{#approvedDataFirst}}-->
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeH}}pt; font-weight: bold; vertical-align: middle;" colspan="2">ПОГОДЖЕНО</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeH}}pt; font-weight: bold; vertical-align: middle;" colspan="3">ЗАТВЕРДЖЕНО</td>
        </tr>
        <tr style="height: 130px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">{{approverOrgName}}</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">штат у кількості {{{totalQuantityStr}}} штатних одиниць з місячним фондом заробітної плати за посадовими окладами {{{totalFunsSumStr}}}&nbsp;грн.{{{totalFunsSumToWord}}}</td>
        </tr>
        <!--{{/approvedDataFirst}}-->
        <!--{{^approvedDataFirst}}-->
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeH}}pt; font-weight: bold; vertical-align: middle;" colspan="2">&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeH}}pt; font-weight: bold; vertical-align: middle;" colspan="3">ЗАТВЕРДЖЕНО</td>
        </tr>
        <tr style="height: 130px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">штат у кількості {{{totalQuantityStr}}} штатних одиниць з місячним фондом заробітної плати за посадовими окладами {{{totalFunsSumStr}}}&nbsp;грн.{{{totalFunsSumToWord}}}</td>
        </tr>
        <!--{{/approvedDataFirst}}-->

        <!--{{#agreeDataFirst}}-->
        <!--{{#approvedDataFirst}}-->
        <tr style="height: {{approverRowHeight}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">{{approverPosName}}</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">{{{posName}}}</td>
        </tr>
        <!--{{#orgName}}-->
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">{{{orgName}}}</td>
        </tr>
        <!--{{/orgName}}-->
        <!--{{#approverEmpName}}-->
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2"><b>_________ {{approverEmpName}}</b></td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">_________ <b>{{{empName}}}</b></td>
        </tr>
        <!--{{/approverEmpName}}-->
        <!--{{^approverEmpName}}-->
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="2">&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">_________ <b>{{{empName}}}</b></td>
        </tr>
        <!--{{/approverEmpName}}-->
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">"_____"_________________ 20___ р.</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">"_____"_________________ 20___ р.</td>
        </tr>
        <!--{{/approvedDataFirst}}-->
        <!--{{^approvedDataFirst}}-->
        <tr style="height: {{rowHeight}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">{{{posName}}}</td>
        </tr>
        <!--{{#orgName}}-->
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">{{{orgName}}}</td>
        </tr>
        <!--{{/orgName}}-->
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">_________ <b>{{{empName}}}</b></td>
        </tr>
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">"_____"_________________ 20___ р.</td>
        </tr>
        <!--{{/approvedDataFirst}}-->
        <!--{{/agreeDataFirst}}-->

        <!--{{^agreeDataFirst}}-->
        <!--{{#approvedDataFirst}}-->
        <tr style="height: {{approverRowHeight}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">{{approverPosName}}</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="3">&nbsp;</td>
        </tr>
        <!--{{#approverEmpName}}-->
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2"><b>_________ {{approverEmpName}}</b></td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="3">&nbsp;</td>
        </tr>
        <!--{{/approverEmpName}}-->
        <!--{{^approverEmpName}}-->
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="2">&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="3">&nbsp;</td>
        </tr>
        <!--{{/approverEmpName}}-->
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">"_____"_________________ 20___ р.</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">"_____"_________________ 20___ р.</td>
        </tr>
        <!--{{/approvedDataFirst}}-->
        <!--{{^approvedDataFirst}}-->
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="3">&nbsp;</td>
        </tr>
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; border-bottom: 1px solid;" colspan="3">&nbsp;</td>
        </tr>
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">"_____"_________________ 20___ р.</td>
        </tr>
        <!--{{/approvedDataFirst}}-->
        <!--{{/agreeDataFirst}}-->

        <!--{{#agreeDataSecond}}-->
        <tr style="height: {{rowHeight}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">{{{posName}}}</td>
        </tr>
        <!--{{#orgName}}-->
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">{{{orgName}}}</td>
        </tr>
        <!--{{/orgName}}-->
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">_________ <b>{{{empName}}}</b></td>
        </tr>
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="2">&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" >&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: justify;" colspan="3">"_____"_________________ 20___ р.</td>
        </tr>
        <!--{{/agreeDataSecond}}-->

        <!--{{#docInfo}}-->
        <tr style="height: {{rowHeightDefault}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeT}}pt;" colspan="3">&nbsp;</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: left; font-size: {{fontSizeT}}pt;" colspan="3"><em>{{{text}}}</em></td>
        </tr>
        <!--{{/docInfo}}-->

        <tr>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeT}}pt; border: none;" colspan="6">&nbsp;</td>
        </tr>
    <!--{{/printSignerInfo}}-->

        <tr>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; font-weight: bold; vertical-align: middle;" colspan="6">{{title}}</td>
        </tr>
        <!--{{#departmentName}}-->
        <tr>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; vertical-align: middle;" colspan="6">{{departmentName}}</td>
        </tr>
        <!--{{/departmentName}}-->
        <tr>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; vertical-align: middle;" colspan="6">{{orgName}} на {{year}} рік</td>
        </tr>
        <!--{{#progClassName}}-->
        <tr>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; vertical-align: middle;" colspan="6">{{progClassName}}</td>
        </tr>
        <!--{{/progClassName}}-->
        <!--{{#fundName}}-->
        <tr>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: {{fontSizeH}}pt; vertical-align: middle;" colspan="6">{{fundName}}</td>
        </tr>
        <!--{{/fundName}}-->
        <tr>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;">№<br/>з/п</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;" colspan="2">Назва структурного підрозділу та посад</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;">Кількість<br/>шт. од.</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;">Посадовий оклад<br/>(грн.)</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;">Фонд заробітної плати<br/>на місяць за посадовими<br/>окладами (грн.)</td>
        </tr>
        <tr>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;">1</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;" colspan="2">2</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;">3</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;">4</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; vertical-align: middle; border: 1px solid;">5</td>
        </tr>
    <!--{{#data}}-->
        <!--{{#isDepartment}}-->
            <tr>
                <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: left; border: 1px solid; font-weight: bold;" colspan="6">{{{name}}}</td>
            </tr>
        <!--{{/isDepartment}}-->
        <!--{{^isDepartment}}-->
            <!--{{#isTotal}}-->
                <tr>
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; color: #808080; font-weight: bold; text-align: left; border: 1px solid black; " colspan="3">{{{name}}}</td>
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; color: #808080; font-weight: bold; text-align: center; border: 1px solid black; " data-format="number">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; color: #808080; font-weight: bold; text-align: center; border: 1px solid black; ">-</td>
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; color: #808080; font-weight: bold; text-align: right; border: 1px solid black; " data-format="number">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
            </tr>
            <!--{{/isTotal}}-->
            <!--{{^isTotal}}-->
                <tr>
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; border: 1px solid; ">{{indexNum}}</td>
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: left; border: 1px solid; " colspan="2">{{name}}</td>
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: center; border: 1px solid; " data-format="number">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: right; border: 1px solid; " data-format="number">{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
                    <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeT}}pt; text-align: right; border: 1px solid; " data-format="number">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
                </tr>
            <!--{{/isTotal}}-->
        <!--{{/isDepartment}}-->
    <!--{{/data}}-->
        <tr>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: 6pt; " colspan="6">&nbsp;</td>
        </tr>
        <!--{{#signData}}-->
        <tr>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; text-align: center; font-size: 6pt; border: none;" colspan="6">&nbsp;</td>
        </tr>
        <tr style="height: {{rowHeight}}px;">
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: left; border: 0px;" colspan="3">{{posName}}</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: center; border: 0px;" >_______</td>
            <td style="padding: 0px 3px 0px 3px; font-family: TimesNewRoman; font-size: {{fontSizeH}}pt; vertical-align: top; text-align: left; border: 0px;" colspan="2">{{empName}}</td>
        </tr>
        <!--{{/signData}}-->
    </tbody>
</table>