<!--%pageOrientation:landscape-->

<table style="font-size: 14pt; font-family: TimesNewRoman; table-layout: fixed; border-collapse: collapse; word-break: normal; " width="1000px" cellspacing="0" cellpadding="3px"
       data-ondate = "{{onDate}}"
       data-hrfuncorgtype = "{{hrFuncOrgType}}"
>
<tbody>
    <tr style="text-align: center; font-size: 1pt;">
        <td style="width: 50px; ">&nbsp;</td>
        <td style="width: 300px; ">&nbsp;</td>
        <td style="width: 130px; ">&nbsp;</td>
        <td style="width: 130px; ">&nbsp;</td>
        <td style="width: 130px; ">&nbsp;</td>
        <td style="width: 130px; ">&nbsp;</td>
        <td style="width: 130px; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align: left; font-size: 14pt; border: none; font-weight: bold" colspan="9">Довідка про кількість штатних одиниць та ФЗП за категоріями персоналу</td>
    </tr>
    <tr>
        <td style="text-align: left; font-size: 14pt; border: none; font-weight: bold" colspan="9">{{organizationName}}</td>
    </tr>
    <tr>
        <td style="text-align: left; font-size: 14pt; border: none; font-weight: bold" colspan="9">{{departmentName}}</td>
    </tr>
    <tr>
        <td style="text-align: left; font-size: 12pt; border-left: none; border-bottom: none; border-right: none;" colspan="9">Станом на {{onDateStr}}</td>
    </tr>
    <tr style="text-align: center; font-size: 12pt;">
        <td style="border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Код</td>
        <td style="border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Складова структури органу<br/>виконавчої влади</td>
        <td style="border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Кількість посад<br/>за штатним<br/>розписом</td>
        <td style="border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Кількість<br/>вакантних<br/>посад</td>
        <td style="border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Фактична<br/>чисельність<br/>працюючих</td>
        <td style="border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Облікова кількість<br/>працівників</td>
        <td style="border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">Фонд заробітної плати (фактичний)</td>
    </tr>
    <tr style="text-align: center; font-size: 10pt;">
        <td style="border-left: 1px solid; border-bottom: 1px solid;">1</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid;">2</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid;">3</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid;">4</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid;">5</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid;">6</td>
        <td style="border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">7</td>
    </tr>

    <!--{{#data}}-->
        <tr style="font-size: 12pt;" data-rowtype="{{rowType}}"  data-organizationid = "{{organizationID}}">
            <!--{{#isTotal}}-->
                <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; {{font}}" colspan="2">{{{name}}}</td>
            <!--{{/isTotal}}-->
            <!--{{^isTotal}}-->
                <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; {{font}}">{{code}}</td>
                <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; {{font}}">{{{name}}}</td>
            <!--{{/isTotal}}-->

            <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; {{font}}">
                <a href="#" data-depts='{{deptIDs}}' data-depid='{{depID}}' data-col='3' data-postype='{{positionType}}' data-categ='{{psCategory}}'  data-staffcat='{{dictStaffCatID}}' >{{quantity}}</a></td>
            <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; {{font}}">
                <a href="#" data-depts='{{deptIDs}}' data-depid='{{depID}}' data-col='4' data-postype='{{positionType}}' data-categ='{{psCategory}}'  data-staffcat='{{dictStaffCatID}}' >{{vacCount}}</a></td>
            <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; {{font}}">
                <a href="#" data-depts='{{deptIDs}}' data-depid='{{depID}}' data-col='5' data-postype='{{positionType}}' data-categ='{{psCategory}}'  data-staffcat='{{dictStaffCatID}}' >{{empCount}}</a></td>
            <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; {{font}}">{{#$fs}}"empCalcCount","{{roundToEmpCalcCount}}"{{/$fs}}</td>
            <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;  {{font}}">{{#$fs}}"fundFact","{{roundTo}}"{{/$fs}}</td>
        </tr>
    <!--{{/data}}-->

</tbody>
</table>