<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 12pt; line-height: 1.2; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 10px;" border="0px" width="{{sheetSize}}px" cellspacing="0" cellpadding="0px">
<tbody>
<tr>
    <td style="width: 300px; padding: 0;">&nbsp;</td>
    <td style="width: 300px; padding: 0;">&nbsp;</td>
    <td style="width: 120px; padding: 0;">&nbsp;</td>
    <td style="width: 120px; padding: 0;">&nbsp;</td>
    <!--{{#calcFOP}}-->
    <td style="width: 120px; padding: 0;">&nbsp;</td>
    <td style="width: 120px; padding: 0;">&nbsp;</td>
    <td style="width: 120px; padding: 0;">&nbsp;</td>
    <td style="width: 120px; padding: 0;">&nbsp;</td>
    <!--{{/calcFOP}}-->
</tr>
<tr>
    <td>Найменування організації</td>
    <td style="vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; padding: 0px 1px 0px 1px;" colspan="{{colCount}}">{{organizationName}} <!--{{#includeChildOrgs}}-->(з підлеглими)<!--{{/includeChildOrgs}}--></td>
</tr>
<tr>
    <td>Підрозділ</td>
    <td style="vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; padding: 0px 1px 0px 1px;" colspan="{{colCount}}">{{departmentName}} <!--{{#includeChildDepts}}-->(з підлеглими)<!--{{/includeChildDepts}}--></td>
</tr>
<tr>
    <td>Станом на</td>
    <td style="vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; padding: 0px 1px 0px 1px;">{{onDateStr}}</td>
    <td style="width: 120px; padding: 0;">&nbsp;</td>
    <td style="width: 120px; padding: 0;">&nbsp;</td>
    <!--{{#calcFOP}}-->
    <td style="width: 120px; padding: 0;">&nbsp;</td>
    <td style="width: 120px; padding: 0;">&nbsp;</td>
    <td style="width: 120px; padding: 0;">&nbsp;</td>
    <td style="width: 120px; padding: 0;">&nbsp;</td>
    <!--{{/calcFOP}}-->
</tr>
<!--{{#groups}}-->
<tr>
    <td>{{caption}}</td>
    <td style="vertical-align: bottom; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; padding: 0px 1px 0px 1px;" colspan="{{colCount}}">{{value}}</td>
</tr>
<!--{{/groups}}-->
<tr>
    <td>&nbsp;</td>
    <td colspan="{{colCount}}">&nbsp;</td>
</tr>
<tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
    <td style="width: 500px; min-width: 500px; border: 1px solid; vertical-align: top; text-align: left;" colspan="2">{{{groupName}}}</td>
    <td style="width: 120px; min-width: 120px; border: 1px solid;">Кількість посад</td>
    <td style="width: 120px; min-width: 120px; border: 1px solid; ">Фонд ЗП (за окладами)</td>
    <!--{{#calcFOP}}-->
    <td style="width: 120px; border: 1px solid;">Фонд основної заробітної плати</td>
    <td style="width: 120px; border: 1px solid;">Фонд додаткової заробітної плати</td>
    <td style="width: 120px; border: 1px solid;">Інші заохочувальні та компенсаційні виплати</td>
    <td style="width: 120px; border: 1px solid;">Сума доплат та надбавок</td>
    <!--{{/calcFOP}}-->
</tr>
<!--{{#data}}-->
<tr style="page-break-inside: avoid; font-weight: {{fontWeight}};">
    <td style="vertical-align: top; text-align: left; border: 1px solid;" colspan="2">{{{prefix}}}<a href="#" data-group="{{group}}" data-level="{{level}}">{{{caption}}}</a></td>
    <td style="vertical-align: top; text-align: right; border: 1px solid;" data-format="sum">{{#$fs}}"quantity","decimal2"{{/$fs}}</td>
    <td style="vertical-align: top; text-align: right; border: 1px solid;" data-format="sum">{{#$fs}}"totalSum","{{roundTo}}"{{/$fs}}</td>
    <!--{{#calcFOP}}-->
    <td style="vertical-align: top; text-align: right; border: 1px solid;" data-format="sum">{{#$fs}}"fundBasePay","{{roundTo}}"{{/$fs}}</td>
    <td style="vertical-align: top; text-align: right; border: 1px solid;" data-format="sum">{{#$fs}}"fundAddPay","{{roundTo}}"{{/$fs}}</td>
    <td style="vertical-align: top; text-align: right; border: 1px solid;" data-format="sum">{{#$fs}}"fundOtherPay","{{roundTo}}"{{/$fs}}</td>
    <td style="vertical-align: top; text-align: right; border: 1px solid;" data-format="sum">{{#$fs}}"fundTotal","{{roundTo}}"{{/$fs}}</td>
    <!--{{/calcFOP}}-->
</tr>
<!--{{/data}}-->
{{#totals}}
<tr style="background-color: #f0f0f0; font-weight: bold; page-break-inside: avoid;">
    <td style="vertical-align: top; text-align: right; border: 1px solid;" colspan="2">Разом</td>
    <td style="vertical-align: top; text-align: right; border: 1px solid;" data-format="sum">{{#$fs}}"quantity","decimal2"{{/$fs}}</td>
    <td style="vertical-align: top; text-align: right; border: 1px solid;" data-format="sum">{{#$fs}}"totalSum","{{roundTo}}"{{/$fs}}</td>
    <!--{{#calcFOP}}-->
    <td style="vertical-align: top; text-align: right; border: 1px solid;" data-format="sum">{{#$fs}}"fundBasePay","{{roundTo}}"{{/$fs}}</td>
    <td style="vertical-align: top; text-align: right; border: 1px solid;" data-format="sum">{{#$fs}}"fundAddPay","{{roundTo}}"{{/$fs}}</td>
    <td style="vertical-align: top; text-align: right; border: 1px solid;" data-format="sum">{{#$fs}}"fundOtherPay","{{roundTo}}"{{/$fs}}</td>
    <td style="vertical-align: top; text-align: right; border: 1px solid;" data-format="sum">{{#$fs}}"fundTotal","{{roundTo}}"{{/$fs}}</td>
    <!--{{/calcFOP}}-->
</tr>
{{/totals}}
</tbody>
</table>
