<!--%pageOrientation:portrait-->

<!--{{#noData}}-->
    <table style="font-family: TimesNewRoman; font-size: 14pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">
        <tbody>
            <tr>
                <td style="padding: 0px 1px 0px 1px; font-weight:bold;">{{text}}</td>
            </tr>
        </tbody>
    </table>
<!--{{/noData}}-->
<!--{{^noData}}-->

    <!--{{#employees}}-->
            <table style="font-family: TimesNewRoman; font-size: 14pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">
            <tbody>
                <tr style="font-size: 1pt; padding: 0px; ">
                    <td style="width: 320px; padding: 0;">&nbsp;</td>
                    <td style="width: 320px; padding: 0;">&nbsp;</td>
                </tr>
        <!--{{#data}}-->
                <tr style="height: 40px; padding: 0; margin: 0;">
                    <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; font-weight:bold; text-align: center; " colspan="2">П О П Е Р Е Д Ж Е Н Н Я</td>
                </tr>
                <tr>
                    <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; font-weight:bold; border-bottom-width: 1px;  border-bottom-style: solid; text-align: center;" colspan="2">{{employeePositionName}}</td>
                </tr>
                <tr style="height: 20px; padding: 0; margin: 0;">
                    <td style="font-family: TimesNewRoman; font-size: 8pt; padding: 0px 1px 0px 1px; vertical-align: top; text-align: center;" colspan="2">(посада, структурний підрозділ)</td>
                </tr>
                <tr>
                    <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; font-weight:bold; border-bottom-width: 1px;  border-bottom-style: solid; text-align: center;" colspan="2">{{employeeName}}</td>
                </tr>
                <tr style="height: 20px; padding: 0; margin: 0;">
                    <td style="font-family: TimesNewRoman; font-size: 8pt; padding: 0px 1px 0px 1px;vertical-align: top; text-align: center;" colspan="2">(прізвище, ім'я, по батькові)</td>
                </tr>
                <tr>
                    <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 65px;" colspan="2">Відповідно до наказу {{orgName}}  №{{orderNumber}} «{{orderName}}» змін у Штатному розписі, затвердженого {{orderYear}} року, з урахуванням вимог частини третьої статті 87 Закону України «Про державну службу», повідомляємо, що посада, яку Ви обіймаєте, у штатному розписі відсутня.</td>
                </tr>
                <tr>
                    <td style=" font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 65px;" colspan="2">У зв’язку із зазначеним попереджаємо Вас про можливе звільнення на підставі пункту 1 частини першої статті 87 Закону України «Про державну службу».</td>
                </tr>
                <tr>
                    <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 65px;" colspan="2">Одночасно повідомляємо, що Вам буде запропоновано іншу посаду відповідно до Вашої кваліфікації.</td>
                </tr>
                <tr>
                    <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; font-weight:bold; text-align: left;">{{respPosName}}</td>
                    <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; font-weight:bold; text-align: right;">{{respName}}</td>
                </tr>
                <tr style="height: 40px; padding: 0; margin: 0;">
                    <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px;">ОЗНАЙОМЛЕНИЙ(-НА):</td>
                    <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; border-bottom-width: 1px;">&nbsp;</td>
                    <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: center;">«____» __________ 20__ року</td>
                </tr>
                <tr style="text-align: center; font-size: 8pt; padding: 0px; ">
                    <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; vertical-align: top; ">(ПІБ, підпис працівника, що попереджається, про отримання попередження)</td>
                    <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px;">&nbsp;</td>
                </tr>
                <!--{{#row}}-->
                <tr style="height: 20px; padding: 0; margin: 0;">
                    <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="2">{{row}}</td>
                </tr>
                <!--{{/row}}-->
            <!--{{/data}}-->
            </tbody>
            </table>
        <!--{{#breakRow}}-->
            <p>&nbsp;<!-- pagebreak --></p>
        <!--{{/breakRow}}-->
    <!--{{/employees}}-->

<!--{{/noData}}-->
