<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: 12pt; line-height: 1.2; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 80px;" border="0px" width="630px" cellspacing="0" cellpadding="0px">
<tbody>
<tr>
    <td style="width: 40px; padding: 0; ">&nbsp;</td>
    <td style="width: 190px; padding: 0; ">&nbsp;</td>
    <td style="width: 20px; padding: 0; ">&nbsp;</td>
    <td style="width: 90px; padding: 0; ">&nbsp;</td>
    <td style="width: 20px; padding: 0; ">&nbsp;</td>
    <td style="width: 80px; padding: 0; ">&nbsp;</td>
    <td style="width: 20px; padding: 0; ">&nbsp;</td>
    <td style="width: 60px; padding: 0; ">&nbsp;</td>
    <td style="width: 20px; padding: 0; ">&nbsp;</td>
    <td style="width: 60px; padding: 0; ">&nbsp;</td>
</tr>
<tr>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="5">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; font-weight:bold; text-align: left;" colspan="5">ЗАТВЕРДЖУЮ</td>
</tr>
<tr style="height: 15px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="5">&nbsp;</td>
    <td style="text-align: center; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="5">{{approvePosName}}</td>
</tr>
<tr>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="5">&nbsp;</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="5">(посада)</td>
</tr>
<tr style="height: 15px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="5">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="text-align: center; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="3">{{approveFIO}}</td>
</tr>
<tr>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="5">&nbsp;</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">(підпис)</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="3">(ім'я та прізвище)</td>
</tr>
<tr>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="5">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="5">"___" ____________ ___ року</td>
</tr>
<tr style="height: 60px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; font-size: 14pt; font-weight:bold; text-align: center;" colspan="10">Посадова інструкція державного службовця {{orgName}}</td>
</tr>
<tr style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; height: 30px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; font-weight:bold;" colspan="10">1. Загальна інформація</td>
</tr>
<tr>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="4">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="3">Категорія посади державної служби</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="3">{{categoryName}}</td>
</tr>
<tr>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="4">Посада</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="6">{{posName}}</td>
</tr>
<tr>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="4">Найменування структурного підрозділу<sup><small>1</small></sup>&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="6">{{unitName}}</td>
</tr>
<tr>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="4">Найменування самостійного структурного підрозділу<sup><small>1</small></sup>&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="6">{{indepStructUnitName}}</td>
</tr>
<tr>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="4">Посада безпосереднього керівника</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="6">{{supervisorPosName}}</td>
</tr>
<tr>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="4">Посада керівника самостійного структурного підрозділу<sup><small>1</small></sup>&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="6">{{headIndStrUnitPosName}}</td>
</tr>
<tr>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="4">Посада особи, яка здійснює координацію діяльності<sup><small>1</small></sup>&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="6">{{coordActUnitPosName}}</td>
</tr>
<tr style="height: 30px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; font-weight:bold;" colspan="10">2. Мета посади</td>
</tr>
<tr style="height: 60px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="10">{{&purposePost}}</td>
</tr>
<tr style="height: 30px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; font-weight:bold;" colspan="10">3. Основні посадові обов'язки</td>
</tr>
<!--{{#responsibiliti}}-->
<tr>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid; text-align: center; ">{{index}}</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid; " colspan="9">{{&description}}</td>
</tr>
<!--{{/responsibiliti}}-->
<!--{{^responsibiliti}}-->
<tr style="height: 60px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="10">&nbsp;</td>
</tr>
<!--{{/responsibiliti}}-->
<tr style="height: 30px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="10"><strong>4. Права</strong><sup><small>2</small></sup> (крім передбачених статтею 7 Закону України "Про державну службу")</td>
</tr>

<!--{{#rights}}-->
<tr {{rightsHeight}}>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; {{border}} text-align: justify;" colspan="10">{{index}}. {{description}}</td>
</tr>
<!--{{/rights}}-->
<!--{{^rights}}-->
<tr style="height: 60px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="10">&nbsp;</td>
</tr>
<!--{{/rights}}-->

<tr style="height: 30px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="10"><strong>5. Зовнішня службова комунікація</strong><sup><small>2</small></sup>&nbsp;</td>
</tr>
<tr style="height: 60px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="10">{{{communication}}}</td>
</tr>
<tr style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; height: 30px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; font-weight:bold;" colspan="10">6. Вимоги до компетентності</td>
</tr>
<tr style="height: 60px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="10">{{&requirements}}</td>
</tr>
<tr style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; height: 30px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="10"><strong>7. Умови служби</strong><sup><small>2</small></sup>&nbsp;</td>
</tr>
<tr style="height: 60px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border: 1px solid;" colspan="10">{{&workingConditions}}</td>
</tr>
<tr style="height: 60px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; font-weight:bold;" colspan="10">Погоджено</td>
</tr>
<tr style="height: 15px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">{{signerSupervisorPosName}}</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="3">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="2">(посада безпосереднього керівника)<sup><small>3</small></sup>&nbsp;</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">(підпис)</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="3">(ім'я та прізвище)</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">(дата)</td>
</tr>
<tr style="height: 15px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">{{signerHeadIndStrUnitPosName}}</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="3">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="2">(посада керівника самостійного структурного підрозділу)<sup><small>4</small></sup>&nbsp;</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">(підпис)</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="3">(ім'я та прізвище)</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">(дата)</td>
</tr>
<tr style="height: 15px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">{{signerCoordActUnitPosName}}</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="3">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="2">(посада керівника служби управління персоналом)</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">(підпис)</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="3">(ім'я та прізвище)</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">(дата)</td>
</tr>
<tr style="height: 60px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; font-weight:bold;" colspan="10">З посадовою інструкцією ознайомлений(на)</td>
</tr>
<!--{{#acquaintanceList}}-->
<tr style="height: 15px;">
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid; text-align: center;" colspan="5">{{fio}}</td>
</tr>
<tr>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="2">(підпис)</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">(дата)</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; ">&nbsp;</td>
    <td style="text-align: center; font-size: 8pt; font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="5">(ім'я та прізвище)</td>
</tr>
<!--{{/acquaintanceList}}-->
<tr>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="8">&nbsp;</td>
</tr>
<tr>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="10"><sup><small>1</small></sup>Зазначається за наявності.</td>
</tr>
<tr>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="10"><sup><small>2</small></sup>Зазначається за потреби.</td>
</tr>
<tr>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="10"><sup><small>3</small></sup>Зазначається, якщо безпосередній керівник не є керівником державної служби в державному органі.</td>
</tr>
<tr>
    <td style="font-family: TimesNewRoman; padding: 0px 1px 0px 1px; " colspan="10"><sup><small>4</small></sup>Зазначається, якщо безпосередній керівник не є керівником самостійного структурного підрозділу.</td>
</tr>
</tbody>
</table>