<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 12pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 70px 0px 10px;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="0px">
    <tbody>
    <tr>
        <td style="width: 45px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 350px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 115px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 115px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 220px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 60px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 60px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 60px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <!--{{#showDays}}-->
        <td style="width: 60px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <!--{{/showDays}}-->
    </tr>
    <tr style="height: 60px; padding: 0; margin: 0;">
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 1pt; text-align: center; " colspan="{{colSpan}}">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: center; font-weight: bold;" colspan="{{colSpan}}">Розрахунок</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: center;" colspan="{{colSpan}}">{{experienceName}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: center; font-weight: bold;" colspan="{{colSpan}}">{{fullFIO}}</td>
    </tr>
    <!--{{#onDateText}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: center;" colspan="{{colSpan}}">{{onDateText}}</td>
    </tr>
    <!--{{/onDateText}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 7pt; text-align: center; " colspan="{{colSpan}}">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; " rowspan="2">№</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; " rowspan="2">Посада, установа організація, підприємство, міністерство, відомство</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; " rowspan="2">Дата призначення</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; " rowspan="2">Дата звільнення</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; " rowspan="2">Найменування документа, що підтверджує стаж роботи (дата видачі)</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; " colspan="{{colSpan2}}">Тривалість роботи</td>

    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; ">роки</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; ">місяці</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; ">дні</td>
        <!--{{#showDays}}-->
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; " >днів</td>
        <!--{{/showDays}}-->
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; font-weight: bold;">1</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; font-weight: bold;">2</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; font-weight: bold;">3</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; font-weight: bold;">4</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; font-weight: bold;">5</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; font-weight: bold;" colspan="{{colSpan2}}">6</td>
    </tr>
    <!--{{#rows}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; vertical-align: top; text-align: center;">{{#$fs}}"index","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; vertical-align: top; ">{{workInfo}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; vertical-align: top; text-align: center;">{{dateFrom}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; vertical-align: top; text-align: center;">{{dateToEmpty}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; vertical-align: top; ">{{description}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; vertical-align: top; text-align: center;">{{#$fs}}"years","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; vertical-align: top; text-align: center;">{{#$fs}}"months","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; vertical-align: top; text-align: center;">{{#$fs}}"days","numberGroup"{{/$fs}}</td>
        <!--{{#showDays}}-->
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; vertical-align: top; text-align: center;">{{#$fs}}"countDays","numberGroup"{{/$fs}}</td>
        <!--{{/showDays}}-->
    </tr>
    <!--{{/rows}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: right; " colspan = "5">{{totalTitle1}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; ">{{#$fs}}"total.years","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; ">{{#$fs}}"total.months","numberGroup"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; ">{{#$fs}}"total.days","numberGroup"{{/$fs}}</td>
        <!--{{#showDays}}-->
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: center; ">{{#$fs}}"total.countDays","numberGroup"{{/$fs}}</td>
        <!--{{/showDays}}-->
    </tr>
    <!--{{#showRate}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border: 0px solid; font-weight: bold; text-align: right;" colspan = "5">{{totalTitle2}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt;  border: 1px solid; text-align: right; font-weight: bold;" colspan = "{{colSpan2}}">{{rate}}</td>
    </tr>
    <!--{{/showRate}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: center; " colspan="{{colSpan}}">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; ">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight: bold; " >Розрахунок перевірив:</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; " colspan="2">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; " colspan="{{colSpan3}}">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; ">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; vertical-align: top; " >{{position1}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-bottom: 1px solid; " colspan="2">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; vertical-align: bottom;" colspan="{{colSpan3}}">&nbsp;{{shortFIO1}}</td>
    </tr>
    <tr style="height: 10px; padding: 0; margin: 0;">
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 1pt; ">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 1pt; " >&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 1pt; " colspan="2">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 1pt; " colspan="{{colSpan3}}">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; ">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight: bold; " >Розрахунок провів:</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; " colspan="2">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; " colspan="{{colSpan3}}">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; ">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; vertical-align: top; " >{{position2}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-bottom: 1px solid; " colspan="2">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border: 0px solid; vertical-align: bottom;" colspan="{{colSpan3}}">&nbsp;{{shortFIO2}}</td>
    </tr>
    <tr style="height: 10px; padding: 0; margin: 0;">
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 1pt; ">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 1pt; " >&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 1pt; " colspan="2">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 1pt; " colspan="{{colSpan3}}">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; ">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; font-weight: bold; " >{{agreeText}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-bottom: 1px solid; " colspan="2">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border: 0px solid; " colspan="{{colSpan3}}">&nbsp;{{shortFIO}}</td>
    </tr>
    </tbody>
</table>