<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: 14pt; line-height: {{interval}}; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 8px 0px 66px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">
    <tbody>
    <tr style="height: 1px; padding: 0; margin: 0;">
        <td style="width: 35px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 155px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 130px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 80px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 35px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 205px; padding: 0; font-size: 1pt;">&nbsp;</td>
    </tr>
    <tr style="padding: 0; margin: 0;">
        <td style="padding: 0px 1px 0px 1px;" colspan="3">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: justify;" colspan="3">&nbsp;</td>
    </tr>
    <tr style="padding: 0; margin: 0;">
        <td style="padding: 0px 1px 0px 1px;" colspan="3">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: justify;" colspan="3">&nbsp;</td>
    </tr>
    <tr style="padding: 0; margin: 0;">
        <td style="padding: 0px 1px 0px 1px;" colspan="3">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: justify;" colspan="3">{{{bossPositionName}}}</td>
    </tr>
    <tr style="padding: 0; margin: 0;">
        <td style="padding: 0px 1px 0px 1px;" colspan="3">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: justify;" colspan="3">{{{orgName}}}</td>
    </tr>
    <tr style="padding: 0; margin: 0;">
        <td style="padding: 0px 1px 0px 1px;" colspan="3">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: justify;" colspan="3">{{{bossName}}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px;" colspan="3">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: justify;" colspan="3">{{{employeePositionName}}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px;" colspan="3">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: justify;" colspan="3">{{employeeName}}</td>
    </tr>

    <tr>
        <td style="padding: 0px 1px 0px 1px;" colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px;" colspan="6">&nbsp;</td>
    </tr>

    <tr>
        <td style="padding: 0px 1px 0px 1px;" colspan="2">&nbsp;</td>
        <td style="text-align: center; font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; font-weight:bold;" colspan="2">З А Я В А</td>
        <td style="padding: 0px 1px 0px 1px;" colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px;" colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px;" colspan="6">&nbsp;</td>
    </tr>

    <!--{{#universal}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 38px;" colspan="6">{{{requestText}}}</td>
    </tr>
    <!--{{#reasonDocument}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 38px;" colspan="6">Підстава: {{reasonDocument}}.</td>
    </tr>
    <!--{{/reasonDocument}}-->
    <!--{{/universal}}-->

    <!--{{#getVacation}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 38px;" colspan="6">Прошу надати мені {{requestText}} {{{period}}} тривалістю {{{days}}}{{{holidays}}}{{requestReason}}{{moneyHelpText}}.</td>
    </tr>
    <!--{{#reasonDocument}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px;" colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 38px;" colspan="6">Підстава: {{reasonDocument}}.</td>
    </tr>
    <!--{{/reasonDocument}}-->
    <!--{{/getVacation}}-->

    <!--{{#arbitary}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 38px;" colspan="6">{{requestDescription}}</td>
    </tr>
    <!--{{#reasonDocument}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 38px;" colspan="6">Підстава: {{reasonDocument}}.</td>
    </tr>
    <!--{{/reasonDocument}}-->
    <!--{{/arbitary}}-->

    <!--{{#changeData}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 38px;" colspan="6">Прошу внести зміни до моїх облікових документів, а саме, змінити прізвище з {{fromFIO}} на {{toFIO}}{{{requestReason}}}.</td>
    </tr>
    <!--{{#reasonDocument}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: justify; text-indent: 38px;" colspan="6">Підстава: {{reasonDocument}}.</td>
    </tr>
    <!--{{/reasonDocument}}-->
    <!--{{/changeData}}-->

    <tr>
        <td style="padding: 0px 1px 0px 1px;" colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px;" colspan="6">&nbsp;</td>
    </tr>

    <tr>
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: left;" colspan="3">{{dateRequest}}</td>
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: right;" colspan="3"> {{employeeNameFL}}</td>
    </tr>

    <!--{{#emptyRows}}-->
    <tr style="height: 20px; padding: 0; margin: 0;">
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="6">{{value}}</td>
    </tr>
    <!--{{/emptyRows}}-->
    <tr>
        <td style="text-align: center;" colspan="1"></td>
        <td style="vertical-align: top; text-align: center;" colspan="1"><img src="{{qrCode}}" alt="emblem" width="100" height="100" /></td>
        <td style="vertical-align: top; text-align: center; font-size: 10pt;" colspan="2">{{organizationName}}<br/>{{requestNumber}}<img src="{{barCode}}" alt="emblem" width="200" height="50" /> </td>
        <td style="text-align: center;" colspan="1"></td>
        <td style="vertical-align: top; text-align: left; font-size: 10pt;">&nbsp;<br />{{{ownerPkiInfo}}}</td>
    </tr>
    </tbody>
</table>