<!--%pageOrientation:portrait-->
<style>
.hcell {
    line-height: 1.5; 
    font-family: TimesNewRoman; 
    font-size: 12pt; 
    padding: 0px 1px 0px 1px; 
    text-align: center; 
    font-weight: bold; 
    border-left: 1px solid; 
    border-bottom: 1px solid; 
    border-top: 1px solid;
}    
.hcell_last {
    line-height: 1.5; 
    font-family: TimesNewRoman; 
    font-size: 12pt; 
    padding: 0px 1px 0px 1px; 
    text-align: center; 
    font-weight: bold; 
    border: 1px solid;    
}
</style>

<!--{{#banks}}-->
<table style="font-family: TimesNewRoman; font-size: 10pt; table-layout: fixed; border-collapse: collapse; width: 1050px; word-break: normal;" border="0px" cellspacing="0" cellpadding="0">
    <tbody>
    <tr style="height: 1px; padding: 0; margin: 0;">
        <td style="width: 6%; padding: 0;">&nbsp;</td>

        <td style="width: 8%; padding: 0;">&nbsp;</td>
        <td style="width: 8%; padding: 0;">&nbsp;</td>

        <td style="width: 16%; padding: 0;">&nbsp;</td>

        <td style="width: 13%; padding: 0;">&nbsp;</td>
        <td style="width: 14%; padding: 0;">&nbsp;</td>
        <td style="width: 13%; padding: 0;">&nbsp;</td>

        <td style="width: 15%; padding: 0;">&nbsp;</td>

        <td style="width: 10%; padding: 0;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9">{{{orgName}}}</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 6pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: center; font-weight: bold;" colspan="9" >СПИСОК ПЕРЕРАХУВАННЯ ПО ВИКОНАВЧИМ ЛИСТАМ № {{orderNumber}}</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 6pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >{{payElName}}</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 6pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >за {{periodSalaryM}} {{periodSalaryY}} р.</td>
    </tr>
    <!--{{#isDepName}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 6pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >Підрозділ {{depName}}</td>
    </tr>
    <!--{{/isDepName}}-->
    <!--{{#isFundName}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 6pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >Джерело фінансування {{fundSourceNames}}</td>
    </tr>
    <!--{{/isFundName}}-->

    <tr>
        <td style="font-family: TimesNewRoman; font-size: 6pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left;" colspan="2" >Дата:</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;" colspan="7" >&nbsp;&nbsp;&nbsp;{{orderDate}}</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 6pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >&nbsp;</td>
    </tr>



    <!--{{^isShowSigners}}-->
    <!--{{#pages}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left;" colspan="8" ></td>
        <td style="font-family: TimesNewRoman; font-size: 11pt; padding: 0px 1px 0px 1px; text-align: right;" colspan="1" >Лист {{pageNum}}</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 6pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >&nbsp;</td>
    </tr>
    <tr>
        <td class="hcell" rowspan="2">№ п/п</td>
        <td class="hcell" colspan="3">Платник</td>
        <td class="hcell_last" colspan="5">Перераховувати</td>
    </tr>
    <tr>
        <!--{{^isStudent}}-->
            <td class="hcell">Таб. №</td>
        <!--{{/isStudent}}-->
        <!--{{#isStudent}}-->
            <td class="hcell">Ід. № студента</td>
        <!--{{/isStudent}}-->
        <td class="hcell" colspan="2">Прізвище, Ім'я, По батькові</td>
        <td class="hcell">Контрагент (кому перераховуємо)</td>
        <td class="hcell">Сума</td>
        <td class="hcell">Р/рахунок для перерахування</td>
        <td class="hcell">Банк для перерахування</td>
        <td class="hcell_last">РНОКПП/ЄДРПОУ контрагента</td>
    </tr>
    <!--{{#payRollDt}}-->
    <tr>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center; border: 1px solid;">{{rowNum}}</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left; border: 1px solid;">{{tabNum}}</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left; border: 1px solid;" colspan="2">{{{fullFIO}}}</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left; border: 1px solid;">{{{contrAgent}}}</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: right; border: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center; border: 1px solid;">{{accountForTransfer}}</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center; border: 1px solid;">{{bankForTransfer}}</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center; border: 1px solid;">{{contrAgentCode}}</td>
    </tr>
    <!--{{/payRollDt}}-->
    <tr>
        <td colspan="7" style="line-height: 1.5;font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; font-weight: bold; border: 1px solid; text-align: right;">Разом по аркушу</td>
        <td style="line-height: 1.5;font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: right; font-weight: bold; border: 1px solid;">{{#$fs}}"pageSum","decimal2"{{/$fs}}</td>
        <td style="line-height: 1.5;font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: right; font-weight: bold; border: 1px solid;">&nbsp;</td>
    </tr>

    <!--{{#isPageBreak}}-->
    <tr style="height: 30px;">
        <td colspan="9"><p>&nbsp;<!-- pagebreak --></p></td>
    </tr>
    <!--{{/isPageBreak}}-->
    <!--{{/pages}}-->
    <tr>
        <td colspan="7" style="line-height: 1.5;font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; font-weight: bold; border: 1px solid; text-align: right;">Разом по банку</td>
        <td style="line-height: 1.5;font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: right; font-weight: bold; border: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        <td style="line-height: 1.5;font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: right; font-weight: bold; border: 1px solid;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left;" colspan="3" >Перерахування: </td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;" colspan="6" >{{paySumFullWords}}</td>
    </tr>
    <!--{{/isShowSigners}}-->

    <!--{{#isShowSigners}}-->
    <!--{{#pagesSOE}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 11pt; padding: 0px 1px 0px 1px; text-align: right;" colspan="9" >Лист {{pageNum}}</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 6pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >&nbsp;</td>
    </tr>
    <tr>
        <td class="hcell" rowspan="2">№ п/п</td>
        <td class="hcell" colspan="3">Платник</td>
        <td class="hcell_last" colspan="5">Перераховувати</td>
    </tr>
    <tr>
        <!--{{^isStudent}}-->
            <td class="hcell">Таб. №</td>
        <!--{{/isStudent}}-->
        <!--{{#isStudent}}-->
            <td class="hcell">Ід. № студента</td>
        <!--{{/isStudent}}-->
        <td class="hcell" colspan="2">Прізвище, Ім'я, По батькові</td>
        <td class="hcell">Контрагент (кому перераховуємо)</td>
        <td class="hcell">Сума</td>
        <td class="hcell">Р/рахунок для перерахування</td>
        <td class="hcell">Банк для перерахування</td>
        <td class="hcell_last">РНОКПП/ЄДРПОУ контрагента</td>
    </tr>
    <!--{{#payRollDtSOE}}-->
    <tr>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center; border: 1px solid;">{{rowNum}}</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left; border: 1px solid;">{{tabNum}}</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left; border: 1px solid;" colspan="2">{{{fullFIO}}}</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left; border: 1px solid;">{{{contrAgent}}}</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: right; border: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center; border: 1px solid;">{{accountForTransfer}}</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center; border: 1px solid;">{{bankForTransfer}}</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center; border: 1px solid;">{{contrAgentCode}}</td>
    </tr>
    <!--{{/payRollDtSOE}}-->
    <tr>
        <td colspan="7" style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; font-weight: bold; border: 1px solid; text-align: right;">Разом по аркушу</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: right; font-weight: bold; border: 1px solid;">{{#$fs}}"pageSum","decimal2"{{/$fs}}</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: right; font-weight: bold; border: 1px solid;">&nbsp;</td>
    </tr>

    <!--{{^isLastPage}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 6pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center; vertical-align: center" colspan="3" rowspan="{{signersRowCount}}">М.П.<br>&nbsp;<br>{{orderDate}}</td>
    </tr>
    <!--{{#signers}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="5" >&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left; word-wrap: break-word;" colspan="3" >{{signerName}}:</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left;" colspan="3" >____________({{signerShortName}})</td>
    </tr>
    <!--{{/signers}}-->
    <!--{{/isLastPage}}-->
    <!--{{#isLastPage}}-->
    <tr>
        <td colspan="7" style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; font-weight: bold; border: 1px solid; text-align: right;">Разом по банку</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: right; font-weight: bold; border: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        <td style="line-height: 1.5; font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: right; font-weight: bold; border: 1px solid;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left;" colspan="3" >Перерахування: </td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid;" colspan="6" >{{paySumFullWords}}</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center; vertical-align: center" colspan="3" rowspan="{{signersRowCount}}">М.П.<br>&nbsp;<br>{{orderDate}}</td>
    </tr>
    <!--{{#signers}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="5" >&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left; word-wrap: break-word;" colspan="3" >{{signerName}}:</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left;" colspan="3" >____________({{signerShortName}})</td>
    </tr>
    <!--{{/signers}}-->
    <!--{{/isLastPage}}-->
    <!--{{#isPageBreak}}-->
    <tr style="height: 30px;">
        <td colspan="9"><p>&nbsp;<!-- pagebreak --></p></td>
    </tr>
    <!--{{/isPageBreak}}-->



    <!--{{/pagesSOE}}-->

    <!--{{/isShowSigners}}-->

    <!--{{^isShowSigners}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center; vertical-align: center" colspan="3" rowspan="{{signersRowCount}}">М.П.<br>&nbsp;<br>{{orderDate}}</td>
    </tr>
    <!--{{#signers}}-->
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="5" >&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left;" colspan="3" >{{signerName}}:</td>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: left;" colspan="3" >____________({{signerShortName}})</td>
    </tr>
    <!--{{/signers}}-->
    <!--{{/isShowSigners}}-->

    <tr>
        <td style="font-family: TimesNewRoman; font-size: 12pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="9" >&nbsp;</td>
    </tr>

    </tbody>
</table>
<!--{{#isBankBreak}}-->
<p>&nbsp;<!-- pagebreak --></p>
<!--{{/isBankBreak}}-->
<!--{{/banks}}-->