<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: 14pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="640px" cellspacing="0" cellpadding="0px">
    <tbody>
    <tr>
        <td style="width: 100px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 140px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 160px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 120px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 120px; padding: 0; font-size: 1pt;">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: center;" colspan="5">{{organizationName}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: center;font-weight:bold;" colspan="5">Налаштування довідника видів оплати</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 7pt; " colspan="5">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: left;" colspan="5">Станом на: {{onDate}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 4pt; " colspan="5">&nbsp;</td>
    </tr>
    <!--{{#methodGroupTypes}}-->
        <!--{{#methodGroups}}-->
            <!--{{#methods}}-->
            <tr>
                <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border: 1px solid; font-weight:bold;" colspan="2">{{methodName}}</td>
                <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border: 1px solid; font-weight:bold;" >{{groupName}}</td>
                <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border: 1px solid; font-weight:bold;" colspan="2">{{typeName}}</td>
            </tr>
                <!--{{#pays}}-->
                <tr>
                    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border: 1px solid; font-weight:bold;" ><font color="blue">{{payCode}}</font></td>
                    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border: 1px solid; font-weight:bold;" colspan="4"><font color="blue">{{payName}}</font></td>
                </tr>
                    <!--{{#panels}}-->
                    <tr>
                        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border: 1px solid; font-weight:bold; text-align: center; " colspan="5"><i>{{panelName}}</i></td>
                    </tr>
                        <!--{{#attributes}}-->
                        <tr>
                            <!--{{#columns}}-->
                            <td style="padding: 0px 2px 0px 2px; font-family: TimesNewRoman; font-size: 14pt; border: 1px solid; text-align: {{align}};" colspan="{{span}}">{{{value}}}</td>
                            <!--{{/columns}}-->
                        </tr>
                        <!--{{/attributes}}-->
                    <!--{{/panels}}-->
                <!--{{/pays}}-->
            <!--{{/methods}}-->
        <!--{{/methodGroups}}-->
    <!--{{/methodGroupTypes}}-->
    </tbody>
</table>