<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 10pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="1350px" cellspacing="0" cellpadding="0px">
    <tbody>
    <tr>
        <td style="width: 70px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 75px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 150px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 150px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 150px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 210px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 150px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 90px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 90px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 130px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 85px; padding: 0; font-size: 1pt;">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: center; font-weight: bold;" colspan="11">{{{title1}}}</td>
    </tr>
    <!--{{#title2}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: center; font-weight: bold;" colspan="11">{{{title2}}}</td>
    </tr>
    <!--{{/title2}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; text-align: right; " colspan="11">{{currDate}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;">Дата початку</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;">Дата закінчення</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;">Наказ (про початок)</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;">Наказ (про закінчення)</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;">Місце роботи</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;">Посада</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;">Опис</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;">Умови призначення</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;">Причина звільнення</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;">Тип посади</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: right; text-align: center; font-weight: bold;">Створений автоматично</td>
    </tr>
    <!--{{#rows}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{dateFrom}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">{{dateToEmpty}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">{{appointOrder}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">{{dismOrder}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">{{workPlace}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">{{workPosition}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">{{description}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">{{appointReason}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">{{dischargeReason}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; ">{{positionType}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: center;">{{isAuto}}</td>
    </tr>
    <!--{{/rows}}-->
    </tbody>
</table>