<!--%pageOrientation:landscape-->
<table style="font-family: TimesNewRoman; font-size: 14pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="2650px" cellspacing="0" cellpadding="0px">
    <tbody>
    <tr style="font-size: 5pt; height: 5px">
        <td style="padding: 0; width: 100px;">&nbsp;</td>
        <td style="padding: 0; width: 200px;">&nbsp;</td>
        <td style="padding: 0; width: 100px;">&nbsp;</td>
        <td style="padding: 0; width: 200px;">&nbsp;</td>
        <td style="padding: 0; width: 200px;">&nbsp;</td>
        <td style="padding: 0; width: 200px;">&nbsp;</td>
        <td style="padding: 0; width: 150px;">&nbsp;</td>
        <td style="padding: 0; width: 150px;">&nbsp;</td>
        <td style="padding: 0; width: 150px;">&nbsp;</td>
        <td style="padding: 0; width: 150px;">&nbsp;</td>
        <td style="padding: 0; width: 150px;">&nbsp;</td>
        <td style="padding: 0; width: 150px;">&nbsp;</td>
        <td style="padding: 0; width: 150px;">&nbsp;</td>
        <td style="padding: 0; width: 150px;">&nbsp;</td>
        <td style="padding: 0; width: 150px;">&nbsp;</td>
        <td style="padding: 0; width: 150px;">&nbsp;</td>
        <td style="padding: 0; width: 150px;">&nbsp;</td>
    </tr>

    {{#title}}
    <tr>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; font-weight: bold; border: 0px; text-align:center; " colspan="17">{{text}}</td>
    </tr>
    {{/title}}
    <tr>
        <td style="font-size: 6pt; font-family: 'Times New Roman'; border: 0px; text-align:center; " colspan="17">&nbsp;</td>
    </tr>
    <tr style="height: 50px;">
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">Код</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">Назва посади</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">Кількість посад</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">Назва штатної позиції</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">Довідник посад</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">Підпорядкування</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">Вид оплати</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">Категорія посади</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">Місце виникнення витрат</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">Тарифний розряд</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">Кваліфікаційна категорія</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">Група посади</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">Фонд основної заробітної плати</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">Фонд додаткової заробітної плати</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">Інші заохочувальні та компенсаційні виплати</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">Сума доплат та надбавок</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">Організація</td>
    </tr>

    {{#data}}
    <tr>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:left; padding: 1px 3px 1px 3px;"><a href="#" data-id = "{{ID}}">{{code}}</a></td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:left; padding: 1px 3px 1px 3px;" >{{name}}</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:center; padding: 1px 3px 1px 3px;" >{{#$fs}}"quantity","decimal2"{{/$fs}}</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:left; padding: 1px 3px 1px 3px;" >{{fullName}}</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:left; padding: 1px 3px 1px 3px;" >{{dictPositionName}}</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:left; padding: 1px 3px 1px 3px;" >{{parentUnitName}}</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:left; padding: 1px 3px 1px 3px;" >{{payElName}}</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:left; padding: 1px 3px 1px 3px;" >{{positionCategoryName}}</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:left; padding: 1px 3px 1px 3px;" >{{dictCostTypeName}}</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:left; padding: 1px 3px 1px 3px;" >{{dictTarifCoeffName}}</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:left; padding: 1px 3px 1px 3px;" >{{dictEmpCategoryName}}</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:left; padding: 1px 3px 1px 3px;" >{{dictPositionGroupName}}</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:center; padding: 1px 3px 1px 3px;" >{{#$fs}}"fundBasePay","decimal2"{{/$fs}}</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:center; padding: 1px 3px 1px 3px;" >{{#$fs}}"fundAddPay","decimal2"{{/$fs}}</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:center; padding: 1px 3px 1px 3px;" >{{#$fs}}"fundOtherPay","decimal2"{{/$fs}}</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:center; padding: 1px 3px 1px 3px;" >{{#$fs}}"fundTotal","decimal2"{{/$fs}}</td>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:left; padding: 1px 3px 1px 3px;" >{{orgName}}</td>
    </tr>
    {{/data}}

    </tbody>
</table>