<!--%pageOrientation:landscape-->

<table style="; line-height: 0.75; font-family: TimesNewRoman; font-size: 10pt; word-break: normal; border-collapse: collapse; width: 1070px;" border="0px" cellspacing="0" cellpadding="0px">
    <tbody>
        <tr style="height: 7px; font-size: 5pt; ">
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 50px;">&nbsp;</td>
            <td style="width: 50px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 60px;">&nbsp;</td>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 145px;">&nbsp;</td>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 75px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px;">&nbsp;</td>
        </tr>
        <tr style="height: 10px; font-size: 9pt;  text-align: center;">
            <td style="width: 755px;" colspan="33">&nbsp;</td>
            <td style="width: 315px;" colspan="17">Додаток</td>
        </tr>
        <tr style="height: 10px; font-size: 9pt;  text-align: center;">
            <td style="width: 755px;" colspan="33">&nbsp;</td>
            <td style="width: 315px;" colspan="17">до постанови Кабінету Міністрів України</td>
        </tr>
        <tr style="height: 10px; font-size: 9pt;  text-align: center;">
            <td style="width: 755px;" colspan="33">&nbsp;</td>
            <td style="width: 315px;" colspan="17">від 17 червня 2015 р. № 413</td>
        </tr>
        <tr style="height: 20x;">
            <td style="width: 755px;" colspan="33">&nbsp;</td>
            <td style="width: 315px;" colspan="17">№ аркуша повідомлення _______</td>
        </tr>
        <tr>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 1050px; text-align: center; font-weight:bold; font-size: 12pt;" colspan="49">ПОВІДОМЛЕННЯ</td>
        </tr>
        <tr>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 1050px; text-align: center; font-weight:bold; font-size: 12pt;" colspan="50">про прийняття працівника на роботу</td>
        </tr>
        <tr>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 755px;" colspan="33">1. Код згідно з ЄДРПОУ/ реєстраційний номер облікової картки платника податків або серія та номер паспорта**</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{organizationEDRPOUCode1}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{organizationEDRPOUCode2}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{organizationEDRPOUCode3}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{organizationEDRPOUCode4}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{organizationEDRPOUCode5}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{organizationEDRPOUCode6}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{organizationEDRPOUCode7}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{organizationEDRPOUCode8}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{organizationEDRPOUCode9}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{organizationEDRPOUCode10}}</td>
            <td style="width: 90px; text-align: center;" colspan="6">&nbsp;</td>
        </tr>
        <tr style="text-align: center;">
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 1050px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="49">{{organizationName}}</td>
        </tr>
        <tr style="text-align: center;">
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 1050px; font-size: 8pt; vertical-align: top;" colspan="49">(найменування /прізвище, ім'я та по батькові страхувальника)</td>
        </tr>
        <tr>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 50px;">&nbsp;</td>
            <td style="width: 50px;">&nbsp;</td>
            <td style="width: 150px;" colspan="10">&nbsp;</td>
            <td style="width: 165px; text-align: right;" colspan="8">2. Тип: початкове </td>
            <td style="width: 20px; border: 1px solid; text-align: center;">{{type1}}</td>
            <td style="width: 135px;" colspan="9">&nbsp;</td>
            <td style="width: 145px; text-align: right;">скасовуюче</td>
            <td style="width: 20px; border: 1px solid; text-align: center;">{{type2}}</td>
            <td style="width: 315px;" colspan="17">&nbsp;</td>
        </tr>
        <tr style="height: 7px; font-size: 5pt; ">
            <td style="width: 1070px;" colspan="50">&nbsp;</td>
        </tr>
        <tr style="text-align: center; font-size: 9pt; ">
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 50px; border: 1px solid; ">3. По- рядко- вий номер</td>
            <td style="width: 50px; border: 1px solid;">4. Ка- тегорія особи*</td>
            <td style="width: 150px; border: 1px solid;" colspan="10">5. Реєстраційний номер облікової картки платника податків або серія та номер паспорта**</td>
            <td style="width: 485px; border: 1px solid;" colspan="20">6. Прізвище, ім'я, по батькові застрахованої особи</td>
            <td style="width: 75px; border: 1px solid;">7. Номер наказу або розпоряд- ження про прийняття на роботу</td>
            <td style="width: 120px; border: 1px solid;" colspan="8">8. Дата видання наказу або розпоряд- ження про прийняття на роботу</td>
            <td style="width: 120px; border: 1px solid;" colspan="8">9. Дата початку роботи</td>
        </tr>
        <!--{{#rows}}-->
        <tr style="text-align: center; ">
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 50px; border: 1px solid;">{{index}}</td>
            <td style="width: 50px; border: 1px solid;">1</td>
            <td style="width: 15px; border: 1px solid;">{{tax1}}</td>
            <td style="width: 15px; border: 1px solid;">{{tax2}}</td>
            <td style="width: 15px; border: 1px solid;">{{tax3}}</td>
            <td style="width: 15px; border: 1px solid;">{{tax4}}</td>
            <td style="width: 15px; border: 1px solid;">{{tax5}}</td>
            <td style="width: 15px; border: 1px solid;">{{tax6}}</td>
            <td style="width: 15px; border: 1px solid;">{{tax7}}</td>
            <td style="width: 15px; border: 1px solid;">{{tax8}}</td>
            <td style="width: 15px; border: 1px solid;">{{tax9}}</td>
            <td style="width: 15px; border: 1px solid;">{{tax10}}</td>
            <td style="width: 165px; border: 1px solid;" colspan="8">{{lastName}}</td>
            <td style="width: 155px; border: 1px solid;" colspan="10">{{firstName}}</td>
            <td style="width: 165px; border: 1px solid;" colspan="2">{{middleName}}</td>
            <td style="width: 75px; border: 1px solid;">{{orderNum}}</td>
            <td style="width: 15px; border: 1px solid;">{{orderDate1}}</td>
            <td style="width: 15px; border: 1px solid;">{{orderDate2}}</td>
            <td style="width: 15px; border: 1px solid;">{{orderDate3}}</td>
            <td style="width: 15px; border: 1px solid;">{{orderDate4}}</td>
            <td style="width: 15px; border: 1px solid;">{{orderDate5}}</td>
            <td style="width: 15px; border: 1px solid;">{{orderDate6}}</td>
            <td style="width: 15px; border: 1px solid;">{{orderDate7}}</td>
            <td style="width: 15px; border: 1px solid;">{{orderDate8}}</td>
            <td style="width: 15px; border: 1px solid;">{{fromDate1}}</td>
            <td style="width: 15px; border: 1px solid;">{{fromDate2}}</td>
            <td style="width: 15px; border: 1px solid;">{{fromDate3}}</td>
            <td style="width: 15px; border: 1px solid;">{{fromDate4}}</td>
            <td style="width: 15px; border: 1px solid;">{{fromDate5}}</td>
            <td style="width: 15px; border: 1px solid;">{{fromDate6}}</td>
            <td style="width: 15px; border: 1px solid;">{{fromDate7}}</td>
            <td style="width: 15px; border: 1px solid;">{{fromDate8}}</td>
        </tr>
        <!--{{/rows}}-->
        <tr style="height: 7px; font-size: 5pt; ">
            <td style="width: 1070px;" colspan="50">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 415px;" colspan="20">10. Дата формування повідомлення у страхувальника</td>
            <td style="width: 20px; border: 1px solid; text-align: center;">{{onDate1}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{onDate2}}</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{onDate3}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{onDate4}}</td>
            <td style="width: 15px;">&nbsp;</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{onDate5}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{onDate6}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{onDate7}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{onDate8}}</td>
            <td style="width: 360px;" colspan="11">11. Кількість заповнених рядків на аркуші</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{rowCount1}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{rowCount2}}</td>
            <td style="width: 90px;" colspan="6">&nbsp;</td>
        </tr>
        <tr style="height: 7px; font-size: 7pt; ">
            <td style="width: 20px;"></td>
            <td style="width: 100px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="2"> </td>
            <td style="width: 950px; border-bottom-width: 0px; border-bottom-style: solid;" colspan="47"></td>
        </tr>
        <tr>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 1050px; font-size: 8pt; vertical-align: top;" colspan="50">* Категорія особи: 1 &mdash; наймані працівники з трудовою книжкою; 2 &mdash; наймані працівники без трудової книжки.</td>
        </tr>
        <tr>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 1050px; font-size: 8pt; vertical-align: top;" colspan="50">** Для фізичних осіб, які мають відмітку у паспорті про право здійснювати платежі за серією та номером паспорта. </td>
        </tr>
        <tr>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 205px;" colspan="9">12. Керівник </td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{bossTax1}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{bossTax2}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{bossTax3}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{bossTax4}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{bossTax5}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{bossTax6}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{bossTax7}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{bossTax8}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{bossTax9}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{bossTax10}}</td>
            <td style="width: 60px;">&nbsp;</td>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 280px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="10">&nbsp;</td>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 315px; border-bottom-width: 1px; border-bottom-style: solid; text-align: center;" colspan="17">{{bossName}}</td>
        </tr>
        <tr style="text-align: center;">
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 50px;">М.П.</td>
            <td style="width: 155px; font-size: 8pt; text-align: left;" colspan="8">(за наявності)</td>
            <td style="width: 150px; font-size: 8pt; vertical-align: top;" colspan="10">(реєстраційний номер облікової картки платника податків або серія та номер паспорта **)</td>
            <td style="width: 60px;">&nbsp;</td>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 280px; font-size: 8pt; vertical-align: top;" colspan="10">(підпис)</td>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 315px; font-size: 8pt; vertical-align: top;" colspan="17">(ініціали та прізвище)</td>
        </tr>
        <tr>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 205px;" colspan="9">13. Головний бухгалтер</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{accTax1}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{accTax2}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{accTax3}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{accTax4}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{accTax5}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{accTax6}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{accTax7}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{accTax8}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{accTax9}}</td>
            <td style="width: 15px; border: 1px solid; text-align: center;">{{accTax10}}</td>
            <td style="width: 60px;">&nbsp;</td>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 280px; border-bottom-width: 1px; border-bottom-style: solid;" colspan="10">&nbsp;</td>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 315px; border-bottom-width: 1px; border-bottom-style: solid; text-align: center;" colspan="17">{{accName}}</td>
        </tr>
        <tr style="text-align: center;">
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 205px;" colspan="9">&nbsp;</td>
            <td style="width: 150x; font-size: 8pt; vertical-align: top;" colspan="10">(реєстраційний номер облікової картки платника податків або серія та номер паспорта **)</td>
            <td style="width: 60px;">&nbsp;</td>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 280x; font-size: 8pt; vertical-align: top;" colspan="10">(підпис)</td>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 315px; font-size: 8pt; vertical-align: top;" colspan="17">(ініціали та прізвище)</td>
        </tr>
    </tbody>
</table>