<!--%pageOrientation:landscape-->

<table style="font-family: Arial; word-wrap: break-word; border-collapse: collapse;" border="0px" width="1000" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr style="height: 1px;">
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 700px;">&nbsp;</td>
        <td style="width: 200px;">&nbsp;</td>
    </tr>
    <!--{{^hideHeader}}-->
    <tr>
        <td style="text-align: right; font-weight: bold;  font-size: 11pt;">Організація</td>
        <td style="text-align: center; font-weight: bold;  font-size: 11pt; border-bottom: 1px solid;">{{orgName}}</td>
        <td style="text-align: left; font-weight: bold; font-size: 11pt;">&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="3"> </td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="3">Звіт про нарахування та відрахування</td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; font-size: 12pt;" colspan="3"> </td>
    </tr>
    <tr>
        <td style="text-align: right; font-weight: bold; font-size: 11pt;">за</td>
        <td style="text-align: center;font-weight: bold; font-size: 11pt; border-bottom: 1px solid;">{{periodName}}</td>
        <td style="text-align: left; font-weight: bold; font-size: 11pt;">&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align: right; font-weight: bold; font-size: 11pt;">підрозділ</td>
        <td style="text-align: center; font-weight: bold; font-size: 11pt; border-bottom: 1px solid;">{{departmentName}}</td>
        <td style="text-align: left; font-weight: bold; font-size: 11pt;">&nbsp;</td>
    </tr>
    <!--{{/hideHeader}}-->
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; height: 30px;" colspan="3"> </td>
    </tr>
    <tr style="font-weight: bold; text-align: right; font-size: 12pt;">
        <td style="border: 1px solid;" colspan="2">Сальдо на початок періоду</td>
        <td style="border: 1px solid;">{{#$fs}}"debtFrom","decimal2"{{/$fs}}</td>
    </tr>
    <tr style="text-align: right; font-size: 11pt;">
        <td style="border: 1px solid;" colspan="2">Борг за підприємством</td>
        <td style="border: 1px solid;">{{#$fs}}"orgDebtFrom","decimal2"{{/$fs}}</td>
    </tr>
    <tr style="text-align: right; font-size: 11pt;">
        <td style="border: 1px solid;" colspan="2">Борг за СС</td>
        <td style="border: 1px solid;">{{#$fs}}"fccyDebtFrom","decimal2"{{/$fs}}</td>
    </tr>
    <tr style="text-align: right; font-size: 11pt;">
        <td style="border: 1px solid;" colspan="2">Борг за працівниками</td>
        <td style="border: 1px solid;">{{#$fs}}"empDebtFrom","decimal2"{{/$fs}}</td>
    </tr>

    <tr style="font-weight: bold; text-align: center; font-size: 10pt;">
        <td style="border: 1px solid;">Код</td>
        <td style="border: 1px solid;">Вид оплати</td>
        <td style="border: 1px solid;">Сума</td>
    </tr>

    <tr style="border: 1px solid;" >
        <td style="font-style: italic; text-align: left; width: 100%; font-weight: bold; font-size: 11pt;" colspan="3">Нарахування</td>
    </tr>

    <!--{{#charges}}-->
    <tr style="font-size: 10pt; page-break-inside: avoid;">
        <td style="border: 1px solid; text-align: center; ">{{code}}</td>
        <td style="border: 1px solid; text-align: left; ">{{name}}</td>
        <td style="border: 1px solid; text-align: right; ">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/charges}}-->

    <tr style="font-style: italic; font-weight: bold; font-size: 11pt;">
        <td style="border: 1px solid; text-align: right;" colspan="2">Всього нараховано</td>
        <td style="border: 1px solid; text-align: right; ">{{#$fs}}"totalCharges","decimal2"{{/$fs}}</td>
    </tr>


    <tr style="border: 1px solid;" >
        <td style="font-style: italic; text-align: left; width: 100%; font-weight: bold; font-size: 11pt;" colspan="3">Утримання</td>
    </tr>
    <!--{{#holds}}-->
    <tr style="font-size: 10pt; page-break-inside: avoid;">
        <td style="border: 1px solid; text-align: center; ">{{code}}</td>
        <td style="border: 1px solid; text-align: left; ">{{name}}</td>
        <td style="border: 1px solid; text-align: right; ">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/holds}}-->

    <tr style="font-style: italic; font-weight: bold; font-size: 11pt;">
        <td style="border: 1px solid; text-align: right;" colspan="2">Всього утримано</td>
        <td style="border: 1px solid; text-align: right; ">{{#$fs}}"totalHolds","decimal2"{{/$fs}}</td>
    </tr>


    <tr style="border: 1px solid;" >
        <td style="font-style: italic; text-align: left; width: 100%; font-weight: bold; font-size: 11pt;" colspan="3">Виплати</td>
    </tr>
    <!--{{#payments}}-->
    <tr style="font-size: 10pt; page-break-inside: avoid;">
        <td style="border: 1px solid; text-align: center; ">{{code}}</td>
        <td style="border: 1px solid; text-align: left; ">{{name}}</td>
        <td style="border: 1px solid; text-align: right; ">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/payments}}-->

    <tr style="font-style: italic; font-weight: bold; font-size: 11pt;">
        <td style="border: 1px solid; text-align: right;" colspan="2">Всього виплачено</td>
        <td style="border: 1px solid; text-align: right; ">{{#$fs}}"totalPayments","decimal2"{{/$fs}}</td>
    </tr>


    <tr style="font-weight: bold; text-align: right; font-size: 12pt;">
        <td style="border: 1px solid;" colspan="2">Сальдо на кінець періоду</td>
        <td style="border: 1px solid;">{{#$fs}}"debtTo","decimal2"{{/$fs}}</td>
    </tr>
    <tr style="text-align: right; font-size: 11pt;">
        <td style="border: 1px solid;" colspan="2">Борг за підприємством</td>
        <td style="border: 1px solid;">{{#$fs}}"orgDebtTo","decimal2"{{/$fs}}</td>
    </tr>
    <tr style="text-align: right; font-size: 11pt;">
        <td style="border: 1px solid;" colspan="2">Борг за СС</td>
        <td style="border: 1px solid;">{{#$fs}}"fccyDebtTo","decimal2"{{/$fs}}</td>
    </tr>
    <tr style="text-align: right; font-size: 11pt;">
        <td style="border: 1px solid;" colspan="2">Борг за працівниками</td>
        <td style="border: 1px solid;">{{#$fs}}"empDebtTo","decimal2"{{/$fs}}</td>
    </tr>

    <!--{{#showDebtToPayOut}}-->
    <tr style="border: 1px solid;" >
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 12pt;" colspan="3">Борг за підприємством у розрізі шаблонів виплати</td>
    </tr>
    <!--{{#debtToPayOut}}-->
    <tr style="font-size: 10pt; page-break-inside: avoid;">
        <td style="border: 1px solid; text-align: center; ">{{code}}</td>
        <td style="border: 1px solid; text-align: left; ">{{name}}</td>
        <td style="border: 1px solid; text-align: right; ">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/debtToPayOut}}-->
    <tr style="font-weight: bold; font-size: 12pt;">
        <td style="border: 1px solid; text-align: right;" colspan="2">Всього за шаблонами виплати</td>
        <td style="border: 1px solid; text-align: right; ">{{#$fs}}"totalDebtToPayOut","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/showDebtToPayOut}}-->

    <tr style="border: 1px solid;" >
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 12pt;" colspan="3">Нарахування (фонди)</td>
    </tr>
    <!--{{#chargesFund}}-->
    <tr style="font-size: 10pt; page-break-inside: avoid;">
        <td style="border: 1px solid; text-align: center; ">{{code}}</td>
        <td style="border: 1px solid; text-align: left; ">{{name}}</td>
        <td style="border: 1px solid; text-align: right; ">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/chargesFund}}-->

    <tr style="font-weight: bold; font-size: 12pt;">
        <td style="border: 1px solid; text-align: right;" colspan="2">Всього</td>
        <td style="border: 1px solid; text-align: right; ">{{#$fs}}"totalChargesFund","decimal2"{{/$fs}}</td>
    </tr>

    </tbody>
</table>