<!--%pageOrientation:portrait-->

<table style="word-wrap: break-word; border-collapse: collapse;" border="0px" width="700px" cellspacing="0" cellpadding="3px">
    <tbody>
    <!--{{^hideHeader}}-->
    <tr>
        <td style="text-align: center; width: 30px; font-size: 12pt;"></td>
        <td style="font-family: TimesNewRoman; text-align: center; width: 1400px; font-weight: bold; font-size: 12pt;" colspan="5">СПИСОК</td>
    </tr>
    <tr>
        <td style="text-align: center; width: 30px; font-size: 12pt;"></td>
        <td style="font-family: TimesNewRoman; text-align: center; width: 1400px; font-weight: bold; font-size: 12pt;" colspan="5">працівників, які мають заборгованість</td>
    </tr>
    <tr>
        <td style="font-size: 11pt; width: 30px; "></td>
        <td style="font-family: TimesNewRoman; text-align: right; font-weight: bold; font-size: 11pt;" colspan="3">на</td>
        <td style="font-family: TimesNewRoman; text-align: center;font-weight: bold; font-size: 11pt; border-bottom: 1px solid;">{{periodName}}</td>
        <td style="font-family: TimesNewRoman; text-align: left; font-weight: bold; font-size: 11pt;">року</td>
    </tr>
    <tr>
        <td style="font-size: 11pt; width: 30px; "></td>
        <td style="text-align: right; font-weight: bold; font-size: 11pt;" colspan="3"></td>
        <td style="font-family: TimesNewRoman; text-align: left;font-weight: bold; font-size: 11pt; border-bottom: 1px solid;" colspan="2">{{organizationName}}</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="font-size: 11pt; width: 30px; "></td>
        <td style="font-size: 11pt;" colspan="3"></td>
        <td style="font-family: TimesNewRoman; text-align: left;font-weight: bold; font-size: 11pt; border-bottom: 1px solid;" colspan="2">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <!--{{/hideHeader}}-->
    <tr>
        <td style="width: 30px; font-size: 12pt;"></td>
        <td style="width: 670px; font-size: 12pt; height: 24px" colspan="5"> </td>
    </tr>
    <tr style="font-weight: bold;">
        <td style="font-family: TimesNewRoman; font-size: 11pt; width: 30px; border: 0px;"></td>
        <td style="font-family: TimesNewRoman; font-size: 11pt; width: 50px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">№ з/п</td>
        <td style="font-family: TimesNewRoman; font-size: 11pt; width: 70px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Таб.№</td>
        <td style="font-family: TimesNewRoman; font-size: 11pt; width: 200px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">ПIБ</td>
        <td style="font-family: TimesNewRoman; font-size: 11pt; width: 230px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Посада</td>
        <td style="font-family: TimesNewRoman; font-size: 11pt; width: 120px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">Сума заборгованності</td>
    </tr>
    <!--{{#rows}}-->
    <tr style="vertical-align: top; page-break-inside: avoid;">
        <td style="font-family: TimesNewRoman; font-size: 11pt; width: 30px; border: 0px;"></td>
        <td style="font-family: TimesNewRoman; font-size: 11pt; width: 50px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{pn}}</td>
        <td style="font-family: TimesNewRoman; font-size: 11pt; width: 70px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{tabNum}}</td>
        <td style="font-family: TimesNewRoman; font-size: 11pt; width: 200px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{fullFIO}}</td>
        <td style="font-family: TimesNewRoman; font-size: 11pt; width: 230px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="font-family: TimesNewRoman; font-size: 11pt; width: 120px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{summTxt}}</td>
    </tr>
    <!--{{/rows}}-->
    <tr>
        <td style="border: 0px; width: 30px; "></td>
        <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="4">Всього</td>
        <td style="font-family: TimesNewRoman; font-size: 11pt; text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{totalSum}}</td>
    </tr>
    </tbody>
</table>