<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; border-collapse: collapse; width: 750px;" width="750px" cellspacing="0" cellpadding="3px">
<tbody>
    <tr>
        <td style="text-align: left; border: none;" colspan="2"></td>
        <td style="text-align: center; font-size: 12pt; border: none;" colspan="2">Постанова<br />Кабінету Міністрів України<br />від 05.04.2016 № 271</td>
    </tr>
    <tr>
        <td style="height: 20px" colspan="4"></td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: center; font-size: 14pt; font-weight: bold; border: none;" colspan="4">ПЕРЕЛІК ПОСАД ПРАЦІВНИКІВ ДЕРЖАВНИХ ОРГАНІВ, ЯКІ<br/>ВИКОНУЮТЬ ФУНКЦІЇ З ОБСЛУГОВУВАННЯ</td>
    </tr>
    <tr>
        <td style="height: 20px" colspan="4"></td>
    </tr>
    <tr style="text-align: center; font-size: 12pt;">
        <td style="width: 50px; font-weight: bold; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">№ з/п</td>
        <td style="width: 300px; font-weight: bold; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Найменування структурного підрозділу</td>
        <td style="width: 300px; font-weight: bold; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Найменування посади</td>
        <td style="width: 100px; font-weight: bold; border: 1px solid;">Кількість<br/>штатних одиниць</td>
    </tr>
    <!--{{#posTable}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 50px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{pn}}</td>
        <td style="width: 300px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{structDepName}}</td>
        <td style="width: 300px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{quantity}}</td>
    </tr>
    <!--{{/posTable}}-->

    <tr style="font-size: 12pt;">
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;"></td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;" colspan="2">ВСЬОГО</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{totalQuantity}}</td>
    </tr>
</tbody>
</table>