<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; border-collapse: collapse; word-break: break-word; width: 840px;" width="840px" cellspacing="0" cellpadding="3px">
    <tbody>
        <tr>
            <td colspan="5" style="width: 680px; font-weight: bold; text-align: left; vertical-align: top;">{{orgName}}</td>
            <td colspan="2" style="width: 150px; text-align: left; vertical-align: top;">Дата звіту: {{onDate}}</td>
        </tr>
        <tr>
            <td style="width: 350px; text-align: left;">Дата друку: {{onDateTime}}</td>
            <td colspan="4" style="width: 330px;"></td>
            <td colspan="2" style="width: 150px; text-align: right;">Форма 20</td>
        </tr>
        <tr style="height: 36px; text-align: center; font-weight: bold;">
            <td colspan="7" style="width: 100%; vertical-align: middle; font-size: 14pt;">Штати закладу на кінець звітного року</td>
        </tr>
        <tr style="height: 24px; text-align: center;">
            <td colspan="7" style="width: 100%; vertical-align: middle; font-size: 12pt;">(Бюджет)</td>
        </tr>
        <tr style="text-align: left;">
            <td colspan="7" style="width: 100%;">Таблиця 1100</td>
        </tr>
        <tr style="height: 80px; text-align: center;">
            <td style="width: 350px; border-left: 1px solid; border-top: 1px solid; vertical-align: bottom;">Найменування посад</td>
            <td style="width: 50px; border-left: 1px solid; border-top: 1px solid; vertical-align: bottom;">Номер</td>
            <td colspan="2" style="width: 140px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid; vertical-align: middle;">Кількість посад у<br/>цілому в закладі</td>
            <td colspan="2" style="width: 140px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid; vertical-align: middle;">у тому числі в<br/>поліклініці<br/>(амбулаторії),<br/>диспансері,<br/>консультації</td>
            <td style="width: 150px; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid; vertical-align: bottom;">Кількість фізичних<br/>осіб основних<br/>працівників у</td>
        </tr>
        <tr style="height: 48px; text-align: center;">
            <td style="width: 350px; border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;"></td>
            <td style="width: 50px; border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;">рядка</td>
            <td style="width: 70px; border: 1px solid; vertical-align: middle;">штатних</td>
            <td style="width: 70px; border: 1px solid; vertical-align: middle;">зайнятих</td>
            <td style="width: 70px; border: 1px solid; vertical-align: middle;">штатних</td>
            <td style="width: 70px; border: 1px solid; vertical-align: middle;">зайнятих</td>
            <td style="width: 150px; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid; vertical-align: top;">цілому в закладі на<br/>зайнятих посадах</td>
        </tr>
        <tr style="text-align: center;">
            <td style="width: 350px; border: 1px solid;">А</td>
            <td style="width: 50px; border: 1px solid;">Б</td>
            <td style="width: 70px; border: 1px solid;">1</td>
            <td style="width: 70px; border: 1px solid;">2</td>
            <td style="width: 70px; border: 1px solid;">3</td>
            <td style="width: 70px; border: 1px solid;">4</td>
            <td style="width: 150px; border: 1px solid;">5</td>
        </tr>
        <!--{{#rows1}}-->
        <tr style="font-weight: bold;">
            <td style="width: 350px; text-align: left; border: 1px solid;">{{#captionLink}}<a href="#" data-row='{{code}}' data-col='A'>{{caption}}</a>{{/captionLink}}{{^captionLink}}{{caption}}{{/captionLink}}</td>
            <td style="width: 50px; text-align: center; border: 1px solid;">{{rowNum}}</td>
            <td style="width: 70px; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='1'>{{pdata1}}</a></td>
            <td style="width: 70px; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='2'>{{pdata2}}</a></td>
            <td style="width: 70px; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='3'>{{pdata3}}</a></td>
            <td style="width: 70px; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='4'>{{pdata4}}</a></td>
            <td style="width: 150px; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='5'>{{pdata5}}</a></td>
        </tr>
        <!--{{#rows2}}-->
        <tr>
            <td style="width: 350px; text-align: left; border: 1px solid;">{{#captionLink}}<a href="#" data-row='{{code}}' data-col='A'>{{caption}}</a>{{/captionLink}}{{^captionLink}}{{caption}}{{/captionLink}}</td>
            <td style="width: 50px; text-align: center; border: 1px solid;">{{rowNum}}</td>
            <td style="width: 70px; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='1'>{{pdata1}}</a></td>
            <td style="width: 70px; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='2'>{{pdata2}}</a></td>
            <td style="width: 70px; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='3'>{{pdata3}}</a></td>
            <td style="width: 70px; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='4'>{{pdata4}}</a></td>
            <td style="width: 150px; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='5'>{{pdata5}}</a></td>
        </tr>
        <!--{{/rows2}}-->
        <!--{{/rows1}}-->
    </tbody>
</table>