<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; overflow-wrap: break-word; border-collapse: collapse; width: 1000px;">
  <tbody>
  <tr>
    <td style="width: 50px; border-left: 0px solid;"></td>
    <td style="width: 950px; text-align: center; font-weight: bold; font-size: 12pt;" colspan="5">Звіт про кадрові зміни, що відбулися в {{departmentName}}</td>
  </tr>
  <tr>
    <td style="width: 50px; border-left: 0px solid;"></td>
    <td style="width: 950px; text-align: center; font-weight: bold; font-size: 12pt; padding-bottom: 20px;" colspan="5">з {{dateFrom}} по {{dateTo}}</td>
  </tr>
  <tr style="text-align: center; font-size: 11pt; height: 54px;">
    <td style="width: 50px; border-left: 0px solid;"></td>
    <td style="width: 200px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Назва посад</td>
    <td style="width: 200px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">ПІБ</td>
    <td style="width: 200px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Опис</td>
    <td style="width: 200px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Дата та номер наказу</td>
    <td style="width: 150px; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">Примітка</td>
  </tr>
  <tr style="font-size: 10pt; text-align: center; height: 18px;">
    <td style="width: 50px; border-left: 0px solid;"></td>
    <td style="width: 200px; border-left: 1px solid; border-bottom: 1px solid;">1</td>
    <td style="width: 200px; border-left: 1px solid; border-bottom: 1px solid;">2</td>
    <td style="width: 200px; border-left: 1px solid; border-bottom: 1px solid;">3</td>
    <td style="width: 200px; border-left: 1px solid; border-bottom: 1px solid;">4</td>
    <td style="width: 150px; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">5</td>
  </tr>
  <!-- {{#rows}} -->
  <tr style="font-size: 10pt; height: 18px;">
    <td style="width: 50px; border-left: 0px solid;"></td>
    <td style="font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="5">{{name}}</td>
  </tr>
  <!-- {{#items}} -->
  <tr style="font-size: 10pt; height: 18px;">
    <td style="width: 50px; border-left: 0px solid;"></td>
    <td style="width: 200px; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
    <td style="width: 200px; border-left: 1px solid; border-bottom: 1px solid;">{{tabNum}} {{fullFIO}}</td>
    <td style="width: 200px; border-left: 1px solid; border-bottom: 1px solid;">{{depTree}}</td>
    <td style="width: 200px; border-left: 1px solid; border-bottom: 1px solid;">{{orderInfo}}</td>
    <td style="width: 150px; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{comment}}</td>
  </tr>
  <!-- {{/items}} -->
  <!-- {{/rows}} -->
  </tbody>
</table>