<!--%pageOrientation:portrait-->
<table style="font-family: TimesNewRoman; font-size:8pt; word-wrap: break-word; border-collapse: collapse; margin-right: 5px;" border="0px" width="340px" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td style="width: 35px;"></td>
        <td style="width: 35px;"></td>
        <td style="width: 40px;"></td>
        <td style="width: 40px;"></td>
        <td style="width: 40px;"></td>
        <td style="width: 40px;"></td>
        <td style="width: 40px;"></td>
        <td style="width: 35px;"></td>
        <td style="width: 35px;"></td>
    </tr>
    <tr>
        <td colspan="5" style="text-align: left;">{{orgName}}</td>
        <td colspan="4" style="text-align: right;">{{periodDescription}}</td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: left; min-width: 110px;">{{departmentName}}</td>
        <td colspan="3" style="text-align: left;">Таб. № {{tabNum}}</td>
        <td colspan="3" style="text-align: right; ">Робочих днів місяця: {{planDay}}</td>
    </tr>
    <tr>
        <td colspan="9" style="text-align: left;">Індентифікаційний код: {{taxCode}}</td>
    </tr>
    <tr>
        <td style="text-align: left; font-weight: bold; font-size: 12pt; border-bottom: 1px solid black; border-bottom-style:dotted;" colspan="9">{{employee}}</td>
    </tr>
    <!--{{#dictEmployeePositions}}-->
    <tr>
        <td colspan="7" style="text-align: left;">{{dictPositionName}}</td>
        <td colspan="2" style="text-align: right;">{{dictPositionFundSource}}</td>
    </tr>
    <!--{{/dictEmployeePositions}}-->
    <!--{{#showTitle}}-->
    <tr>
        <td style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid; font-weight: bold; text-align: center;">За</td>
        <td style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid; font-weight: bold; text-align: center;">Дні/</td>
        <td colspan="5" style="border-width:1px 1px 0px 1px; border-color: black; border-style:solid; font-weight: bold; text-align: center;">Нарахування/утримання</td>
        <td colspan="2" style="border:1px solid; font-weight: bold; text-align: center;">Суми</td>
    </tr>
    <tr>
        <td style="border-width:0px 1px 1px 1px; border-color: black; border-style:solid; font-weight: bold; text-align: center;">період</td>
        <td style="border-width:0px 1px 1px 1px; border-color: black; border-style:solid; font-weight: bold; text-align: center;">год.</td>
        <td colspan="5" style="border-width:0px 1px 1px 1px; border-color: black; border-style:solid;"></td>
        <td style="border:1px solid; font-weight: bold; text-align: center;">Нараховано</td>
        <td style="border:1px solid; font-weight: bold; text-align: center;">Утримано</td>
    </tr>
    <!--{{/showTitle}}-->
    <!--{{#leaveBlock}}-->
    <tr>
        <td colspan="2" style="text-align: right; padding-top: 5px; border-width:0px 1px 0px 1px; border-color: black; border-style:solid; font-weight: bold;">{{workNorm}}</td>
        <td colspan="7" style="padding-top: 5px; border-width:0px 1px 0px 1px; border-color: black; border-style:solid;  text-align: left; font-weight: bold;">{{name}}</td>
    </tr>
    <!--{{/leaveBlock}}-->
    <!--{{#payEl}}-->
    <!--{{#periodSalaryAcc}}-->
    <tr>
        <td style="border:1px solid; font-weight: bold;height: 1px;" colspan="9">{{perSalAccName}}</td>
    </tr>
    <!--{{/periodSalaryAcc}}-->
    <!--{{#dictPosition}}-->
     <tr>
        <td style="border:1px solid; font-weight: bold; padding: 0px 0px 0px 10px;" colspan="9">{{dictPositionName}}</td>
    </tr>
    <!--{{/dictPosition}}-->
    <!--{{^periodSalaryAcc}}-->
    <tr>
        <td style="padding-top: 5px; border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;">{{periodAcc}}</td>
        <td style="padding-top: 5px; border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;">{{daysAcc}}</td>
        <td colspan="5" style="padding-top: 5px; border-width:0px 1px 0px 1px; border-color: black; border-style:solid;  text-align: left;">{{payElNameAcc}}</td>
        <td style="padding-top: 5px; border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;">{{paySumAcc}}</td>
        <td style="padding-top: 5px; border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"></td>
    </tr>
     <!--{{/periodSalaryAcc}}-->
    <!--{{/payEl}}-->
    <!--{{#keeps}}-->
    <!--{{^dictPosition}}-->
    <!--{{#firstSalKeep}}-->
    <tr>
        <td colspan="9" style="border-top: 1px solid;"></td>
    </tr>
    <!--{{/firstSalKeep}}-->
    <tr>
        <td style="padding-top: 5px; border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;">{{periodKeep}}</td>
        <td style="padding-top: 5px; border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"></td>
        <td colspan="5" style="padding-top: 5px; border-width:0px 1px 0px 1px; border-color: black; border-style:solid;text-align: left;">{{payElNameKeep}}</td>
        <td style="padding-top: 5px; border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;"></td>
        <td style="padding-top: 5px; border-width:0px 1px 0px 1px; border-color: black; border-style:solid; text-align: center;">{{paySumKeep}}</td>
    </tr>
    <!--{{/dictPosition}}-->
    <!--{{/keeps}}-->
    <!--{{#showTitle}}-->
    <tr>
        <td colspan="7" style="border: 1px solid; padding: 0px 0px 0px 5px; font-weight: bold;">Всього</td>
        <td style="font-weight: bold; border: 1px solid; text-align: center;">{{paySumAccTotal}}</td>
        <td style="font-weight: bold; border: 1px solid; text-align: center;">{{paySumKeepTotal}}</td>
    </tr>
    <tr>
        <td colspan="9" style="padding: 10px 0px 0px 15px; font-weight: bold; font-size: 9pt; border-bottom: 3px solid; border-bottom-style: double;">Виплачено:</td>
    </tr>
    <tr>
        <td colspan="7" style="padding-left: 20px;">Остаточний розрахунок з ФП</td>
        <td colspan="2" style="text-align: right; padding: 10px 3px 10px 0px;">{{payoutSumTotal}}</td>
    </tr>
    <tr>
        <td colspan="7" style="padding: 0px 0px 0px 5px; font-weight: bold;">Всього виплачено</td>
        <td colspan="2" style="text-align: right; font-weight: bold;">{{payoutSumTotal}}</td>
    </tr>
    <!--{{/showTitle}}-->
    </tbody>
    </table>