<!--%pageOrientation:landscape-->

<table style="table-layout: fixed; font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr style="font-weight: bold; font-size: 12pt;">
        <td style="width: 50px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 150px; ">&nbsp;</td>
        <td style="width: 85px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 110px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 150px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 130px; ">&nbsp;</td>
        <td style="width: 130px; ">&nbsp;</td>
        <td style="width: 130px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 150px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
        <td style="width: 120px; ">&nbsp;</td>
    </tr>

    <tr>
        <td style="text-align: right; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">Додаток 5<br /> до Порядку</td>
    </tr>
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{colSpan}}">Списки персонального військового обліку {{organizationName}}</td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: center; font-size: 12pt;" colspan="{{colSpan}}">Станом на {{onDate}}</td>
    </tr>
    <tr style="vertical-align: middle; font-weight: bold; font-size: 12pt;">
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">№ з/п</td>
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">Військове звання</td>
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">Прізвище, власне ім’я та по батькові (за наявності)</td>
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">Число, місяць, рік народження</td>
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">Реєстраційний номер облікового запису в Єдиному державному реєстрі призовників, військовозобов’язаних та резервістів/реєстраційний номер облікової картки платника податків</td>
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">Військово-облікова спеціальність</td>
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">Склад (профіль підготовки - для офіцера)</td>
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">Категорія обліку (для офіцерів розряд), військово-обліковий документ (серія, номер)</td>
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">Відомості про освіту та спеціальність (серія та номер диплома, свідоцтва, сертифіката тощо)</td>
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">Реквізити паспорта громадянина України та паспорта громадянина України для виїзду за кордон (серія (за наявності), номер, ким та коли видано)</td>
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">Адреса задекларованого (зареєстрованого) місця проживання</td>
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">Адреса місця проживання</td>
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">Найменування територіального центру комплектування та соціальної підтримки, органу СБУ, підрозділу Служби зовнішньої розвідки, де перебуває на військовому обліку</td>
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">Перебування на спеціальному обліку або номер команди/служба у військовому резерві</td>
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">Придатність до військової служби</td>
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">Сімейний стан, прізвище, власне ім’я та по батькові (за наявності) членів сім’ї та рік їх народження</td>
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">Посада, реквізити акту про призначення/ звільнення на посаду/з посади</td>
        <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">Реквізити повідомлення про призначення/ звільнення на посаду/з посади</td>
    </tr>
    <tr style="font-size: 12pt;">
      <!--{{#colNums}}-->
      <td style="text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{name}}</td>
      <!--{{/colNums}}-->
    </tr>

    <!--{{#personTable}}-->
    <tr style="vertical-align: middle; font-size: 12pt;">
        <!--{{#isTitle}}-->
            <td style="text-align: left; border: 1px solid; font-family: TimesNewRoman;" colspan="{{colSpan}}">{{title}}</td>
        <!--{{/isTitle}}-->
        <!--{{^isTitle}}-->
            <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">{{npp}}</td>
            <td style="text-align: left; border: 1px solid; font-family: TimesNewRoman;">{{militaryRank}}</td>
            <td style="text-align: left; border: 1px solid; font-family: TimesNewRoman;">{{fullFIO}}</td>
            <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">{{birthDate}}</td>
            <td style="text-align: left; border: 1px solid; font-family: TimesNewRoman;">{{regNumber}}</td>
            <td style="text-align: center; border: 1px solid; font-family: TimesNewRoman;">{{militarySpecialityCode}}</td>
            <td style="text-align: left; border: 1px solid; font-family: TimesNewRoman;">{{militaryProfile}}</td>
            <td style="text-align: left; border: 1px solid; font-family: TimesNewRoman;">{{categyAndDoc}}</td>
            <td style="text-align: left; border: 1px solid; font-family: TimesNewRoman;">{{eduName}}</td>
            <td style="text-align: left; border: 1px solid; font-family: TimesNewRoman;">{{passport}}</td>
            <td style="text-align: left; border: 1px solid; font-family: TimesNewRoman;">{{address2}}</td>
            <td style="text-align: left; border: 1px solid; font-family: TimesNewRoman;">{{address}}</td>
            <td style="text-align: left; border: 1px solid; font-family: TimesNewRoman;">{{militaryOffice}}</td>
            <td style="text-align: left; border: 1px solid; font-family: TimesNewRoman;">{{{listInfo}}}</td>
            <td style="text-align: left; border: 1px solid; font-family: TimesNewRoman;">{{mmc}}</td>
            <td style="text-align: left; border: 1px solid; font-family: TimesNewRoman;">{{{familyInfo}}}</td>
            <td style="text-align: left; border: 1px solid; font-family: TimesNewRoman;">{{appointInfo}}</td>
            <td style="text-align: left; border: 1px solid; font-family: TimesNewRoman;">{{messageInfo}}</td>
        <!--{{/isTitle}}-->
    </tr>
    <!--{{/personTable}}-->
    </tbody>
</table>