<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; border-collapse: collapse; word-break: break-all;" width="950px" cellspacing="0" cellpadding="3px">
    <tbody>
        <tr style="height: 36px; text-align: center;">
            <td colspan="13" style="width: 100%; vertical-align: bottom; font-size: 14pt; border: none;"><b>КІЛЬКІСНИЙ СКЛАД {{orgNameGen}} НА {{onDateStr}} РОКУ</b></td>
        </tr>
        <tr style="height: 16px;">
            <td colspan="13"></td>
        </tr>
        <tr style="text-align: center; font-size: 12pt; font-weight: bold;">
            <td style="width: 250px; border-left: 1px solid; border-top: 1px solid;"></td>
            <td colspan="3" style="width: 165px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">По лікарні</td>
            <td colspan="3" style="width: 165px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Сумісники</td>
            <td colspan="6" style="width: 330px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">Разом</td>
        </tr>
        <tr style="text-align: center;">
            <td style="width: 250px; border-left: 1px solid; font-weight: bold;">Посада</td>
            <td style="width: 55px; border-left: 1px solid;"></td>
            <td style="width: 55px; border-left: 1px solid;"></td>
            <td style="width: 55px; border-left: 1px solid;"></td>
            <td style="width: 55px; border-left: 1px solid;"></td>
            <td style="width: 55px; border-left: 1px solid;"></td>
            <td style="width: 55px; border-left: 1px solid;"></td>
            <td style="width: 55px; border-left: 1px solid;"></td>
            <td style="width: 55px; border-left: 1px solid;"></td>
            <td style="width: 55px; border-left: 1px solid;"></td>
            <td colspan="3" style="width: 165px; border-left: 1px solid; border-right: 1px solid;">з них декр.відп.</td>
        </tr>
        <tr style="text-align: center;">
            <td style="width: 250px; border-left: 1px solid; border-bottom: 1px solid;"></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;">стаціо-нар</td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;">п-ка</td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;">всього</td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;">стаціо-нар</td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;">п-ка</td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;">всього</td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;">стаціо-нар</td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;">п-ка</td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;">всього</td>
            <td style="width: 55px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">стаціо-нар</td>
            <td style="width: 55px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">п-ка</td>
            <td style="width: 55px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">всього</td>
        </tr>
        <!--{{#rows1}}-->
        <tr style="text-align: center; font-size: 12pt; font-weight: bold;">
            <td style="width: 250px; border-left: 1px solid; border-bottom: 1px solid;">{{caption}}</td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='{{code}}' data-col='1'>{{data1}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='{{code}}' data-col='2'>{{data2}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='{{code}}' data-col='3'>{{data3}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='{{code}}' data-col='4'>{{data4}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='{{code}}' data-col='5'>{{data5}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='{{code}}' data-col='6'>{{data6}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='{{code}}' data-col='7'>{{data7}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='{{code}}' data-col='8'>{{data8}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='{{code}}' data-col='9'>{{data9}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='{{code}}' data-col='10'>{{data10}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='{{code}}' data-col='11'>{{data11}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='{{code}}' data-col='12'>{{data12}}</a></td>
        </tr>
            <!--{{#rows2}}-->
            <tr style="text-align: center; font-size: 12pt;">
                <td style="width: 250px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{caption}}</td>
                <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                    data-ondate='{{onDate}}' data-row='{{code}}' data-col='1'>{{data1}}</a></td>
                <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                    data-ondate='{{onDate}}' data-row='{{code}}' data-col='2'>{{data2}}</a></td>
                <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                    data-ondate='{{onDate}}' data-row='{{code}}' data-col='3'>{{data3}}</a></td>
                <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                    data-ondate='{{onDate}}' data-row='{{code}}' data-col='4'>{{data4}}</a></td>
                <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                    data-ondate='{{onDate}}' data-row='{{code}}' data-col='5'>{{data5}}</a></td>
                <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                    data-ondate='{{onDate}}' data-row='{{code}}' data-col='6'>{{data6}}</a></td>
                <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                    data-ondate='{{onDate}}' data-row='{{code}}' data-col='7'>{{data7}}</a></td>
                <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                    data-ondate='{{onDate}}' data-row='{{code}}' data-col='8'>{{data8}}</a></td>
                <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                    data-ondate='{{onDate}}' data-row='{{code}}' data-col='9'>{{data9}}</a></td>
                <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                    data-ondate='{{onDate}}' data-row='{{code}}' data-col='10'>{{data10}}</a></td>
                <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                    data-ondate='{{onDate}}' data-row='{{code}}' data-col='11'>{{data11}}</a></td>
                <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                    data-ondate='{{onDate}}' data-row='{{code}}' data-col='12'>{{data12}}</a></td>
            </tr>
                <!--{{#rows3}}-->
                <tr style="text-align: center; font-size: 12pt; font-style: italic;">
                    <td style="width: 250px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{caption}}</td>
                    <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                        data-ondate='{{onDate}}' data-row='{{code}}' data-col='1'>{{data1}}</a></td>
                    <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                        data-ondate='{{onDate}}' data-row='{{code}}' data-col='2'>{{data2}}</a></td>
                    <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                        data-ondate='{{onDate}}' data-row='{{code}}' data-col='3'>{{data3}}</a></td>
                    <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                        data-ondate='{{onDate}}' data-row='{{code}}' data-col='4'>{{data4}}</a></td>
                    <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                        data-ondate='{{onDate}}' data-row='{{code}}' data-col='5'>{{data5}}</a></td>
                    <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                        data-ondate='{{onDate}}' data-row='{{code}}' data-col='6'>{{data6}}</a></td>
                    <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                        data-ondate='{{onDate}}' data-row='{{code}}' data-col='7'>{{data7}}</a></td>
                    <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                        data-ondate='{{onDate}}' data-row='{{code}}' data-col='8'>{{data8}}</a></td>
                    <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                        data-ondate='{{onDate}}' data-row='{{code}}' data-col='9'>{{data9}}</a></td>
                    <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                        data-ondate='{{onDate}}' data-row='{{code}}' data-col='10'>{{data10}}</a></td>
                    <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                        data-ondate='{{onDate}}' data-row='{{code}}' data-col='11'>{{data11}}</a></td>
                    <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                        data-ondate='{{onDate}}' data-row='{{code}}' data-col='12'>{{data12}}</a></td>
                </tr>
                <!--{{/rows3}}-->
            <!--{{/rows2}}-->
        <!--{{/rows1}}-->
        <tr style="text-align: center; font-size: 12pt; font-weight: bold;">
            <td style="width: 250px; border-left: 1px solid; border-bottom: 1px solid;">{{totals.caption}}</td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='totals' data-col='1'>{{totals.data1}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='totals' data-col='2'>{{totals.data2}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='totals' data-col='3'>{{totals.data3}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='totals' data-col='4'>{{totals.data4}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='totals' data-col='5'>{{totals.data5}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='totals' data-col='6'>{{totals.data6}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='totals' data-col='7'>{{totals.data7}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='totals' data-col='8'>{{totals.data8}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='totals' data-col='9'>{{totals.data9}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='totals' data-col='10'>{{totals.data10}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='totals' data-col='11'>{{totals.data11}}</a></td>
            <td style="width: 55px; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;"><a href="#" data-orgid='{{orgID}}'
                data-ondate='{{onDate}}' data-row='totals' data-col='12'>{{totals.data12}}</a></td>
        </tr>
    </tbody>
</table>