<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: 12pt; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="815x" cellspacing="0" cellpadding="0px">
    <tbody>
        <tr>
            <td style="width: 350px;"></td>
            <td style="width: 50px;"></td>
            <td style="width: 70px;"></td>
            <td style="width: 120px;"></td>
            <td style="width: 75px;"></td>
            <td style="width: 75px;"></td>
            <td style="width: 75px;"></td>
        </tr>
        <tr>
            <td colspan="5" style="font-family: TimesNewRoman; font-size: 12pt; font-weight: bold; text-align: left; vertical-align: top;">{{orgName}}</td>
            <td colspan="2" style="font-family: TimesNewRoman; font-size: 12pt; text-align: right; vertical-align: top;">Форма 17</td>
        </tr>
        <!--{{#structDepName}}-->
        <tr>
            <td colspan="7" style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; vertical-align: top;">{{structDepName}}</td>
        </tr>
        <!--{{/structDepName}}-->
        <!--{{#childDepName}}-->
        <tr>
            <td colspan="7" style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; vertical-align: top;">{{childDepName}}</td>
        </tr>
        <!--{{/childDepName}}-->
        <tr style="height: 36px; text-align: center; font-weight: bold;">
            <td colspan="7" style="font-family: TimesNewRoman; font-size: 14pt; vertical-align: middle;">Медичні кадри</td>
        </tr>
        <tr style="text-align: left;">
            <td colspan="4"></td>
            <td style="font-family: TimesNewRoman; font-size: 12pt;" colspan="3">Дата звіту: {{onDate}}</td>
        </tr>
        <tr style="text-align: left;">
            <td style="font-family: TimesNewRoman; font-size: 12pt;" colspan="4">Таблиця 1001</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt;" colspan="3">Дата друку: {{onDateTime}}</td>
        </tr>
        <tr style="height: 80px; text-align: center; vertical-align: bottom;">
            <td style="font-family: TimesNewRoman; font-size: 12pt; border-left: 1px solid; border-top: 1px solid;">Найменування посад</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border-left: 1px solid; border-top: 1px solid;">Номер</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border-left: 1px solid; border-top: 1px solid;">Усього<br/>облікова<br/>кількість</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border-left: 1px solid; border-top: 1px solid;">У тому числі на<br/>основній роботі<br/>в закладах<br/>підготовки</td>
            <td colspan="3" style="font-family: TimesNewRoman; font-size: 12pt; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid; border-bottom: 1px solid;">Із загальної кількості<br/>середніх медичних</td>
        </tr>
        <tr style="height: 64px; text-align: center; vertical-align: top;">
            <td style="font-family: TimesNewRoman; font-size: 12pt; border-left: 1px solid; border-bottom: 1px solid;"></td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border-left: 1px solid; border-bottom: 1px solid;">рядка</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border-left: 1px solid; border-bottom: 1px solid;">осіб<br/>на 31.12</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border-left: 1px solid; border-bottom: 1px solid;">працівників, які мають<br/>кваліфікаційну категорію</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border-left: 1px solid; border-bottom: 1px solid; vertical-align: middle;">вищу</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border-left: 1px solid; border-bottom: 1px solid; vertical-align: middle;">I</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid; vertical-align: middle;">II</td>
        </tr>
        <tr style="text-align: center;">
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">А</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Б</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">1</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">2</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">3</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">4</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">5</td>
        </tr>
        <!--{{#rows1}}-->
        <tr style="font-weight: bold;">
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{#captionLink}}<a href="#" data-row='{{code}}' data-col='A'>{{caption}}</a>{{/captionLink}}{{^captionLink}}{{caption}}{{/captionLink}}</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;">{{rowNum}}</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='1'>{{pdata1}}</a></td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;"></td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='3'>{{pdata3}}</a></td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='4'>{{pdata4}}</a></td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='5'>{{pdata5}}</a></td>
        </tr>
        <!--{{#rows2}}-->
        <tr>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: left; border: 1px solid;">{{#captionLink}}<a href="#" data-row='{{code}}' data-col='A'>{{caption}}</a>{{/captionLink}}{{^captionLink}}{{caption}}{{/captionLink}}</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;">{{rowNum}}</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='1'>{{pdata1}}</a></td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;"></td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='3'>{{pdata3}}</a></td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='4'>{{pdata4}}</a></td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='5'>{{pdata5}}</a></td>
        </tr>
        <!--{{/rows2}}-->
        <!--{{/rows1}}-->
    </tbody>
</table>