<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 12pt; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="800px" cellspacing="0" cellpadding="3px"
       data-organizationids = "{{organizationIDs}}"
       data-departmentids = "{{departmentIDs}}"
       data-workplace = "{{workPlaceID}}"
       data-workplacename = "{{workPlaceName}}"
       data-ondate = "{{ondate}}"
>
    <tbody>
    <tr style="font-size: 1pt;">
       <td style="width: 250px; padding: 0;">&nbsp;</td>
       <td style="width: 100px; padding: 0;">&nbsp;</td>
       <td style="width: 100px; padding: 0;">&nbsp;</td>
       <td style="width: 100px; padding: 0;">&nbsp;</td>
       <td style="width: 100px; padding: 0;">&nbsp;</td>
       <td style="width: 75px; padding: 0;">&nbsp;</td>
       <td style="width: 75px; padding: 0;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; text-align: center; font-weight: bold; font-size: 12pt;" colspan="7">{{organizationName}}</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="font-family: TimesNewRoman; text-align: center; font-weight: bold; font-size: 12pt;" colspan="7">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <tr>
        <td style="font-family: TimesNewRoman; text-align: center; font-weight: bold; font-size: 12pt;" colspan="7">Укомплектованість станом на {{onDate}}</td>
    </tr>
    <!--{{#workPlace}}-->
    <tr>
        <td style="font-family: TimesNewRoman; text-align: center; font-weight: bold; font-size: 12pt;" colspan="7">{{workPlace}}</td>
    </tr>
    <!--{{/workPlace}}-->
    <tr>
        <td style="font-family: TimesNewRoman; text-align: center; font-weight: bold; font-size: 5pt;" colspan="7">&nbsp;</td>
    </tr>
    <tr style="font-weight: bold; font-size: 10pt;">
        <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid;">Категорія персоналу (з посади)</td>
        <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid;">шт. ставок</td>
        <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid;">фіз. осіб</td>
        <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid;">в т.ч. з довготривалою відсутністю</td>
        <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid;">Зайнято</td>
        <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid;">% укомпл. від фіз.осіб</td>
        <td style="font-family: TimesNewRoman; text-align: center; border: 1px solid;">% укомпл. від зайнятих</td>
    </tr>

    <!--{{#data}}-->
        <tr style="font-size: 10pt; vertical-align: middle;"  data-categoryname = "{{name}}" data-categoryid = "{{id}}">
            <td style="{{bold}} font-family: TimesNewRoman; text-align: left; border: 1px solid;">{{name}}</td>
            <td style="{{bold}} font-family: TimesNewRoman; text-align: center; border: 1px solid;"><!--{{#showA}}--><a href="#"><!--{{/showA}}-->{{#$fs}}"quantity","{{roundToQuantity1}}"{{/$fs}}<!--{{#showA}}--></a><!--{{/showA}}--></td>
            <td style="{{bold}} font-family: TimesNewRoman; text-align: center; border: 1px solid;"><!--{{#showA}}--><a href="#"><!--{{/showA}}-->{{#$fs}}"personCount","numberGroup"{{/$fs}}<!--{{#showA}}--></a><!--{{/showA}}--></td>
            <td style="{{bold}} font-family: TimesNewRoman; text-align: center; border: 1px solid;"><!--{{#showA}}--><a href="#"><!--{{/showA}}-->{{#$fs}}"personCountAbsc","numberGroup"{{/$fs}}<!--{{#showA}}--></a><!--{{/showA}}--></td>
            <td style="{{bold}} font-family: TimesNewRoman; text-align: center; border: 1px solid;"><!--{{#showA}}--><a href="#"><!--{{/showA}}-->{{#$fs}}"mtCount","{{roundToQuantity2}}"{{/$fs}}<!--{{#showA}}--></a><!--{{/showA}}--></td>
            <td style="{{bold}} font-family: TimesNewRoman; text-align: center; border: 1px solid;">{{#$fs}}"percentPerson","{{roundToQuantity3}}"{{/$fs}}</td>
            <td style="{{bold}} font-family: TimesNewRoman; text-align: center; border: 1px solid;">{{#$fs}}"percentMtCount","{{roundToQuantity4}}"{{/$fs}}</td>
        </tr>
    <!--{{/data}}-->
    <tr>
        <td style="font-family: TimesNewRoman; text-align: center; font-weight: bold; font-size: 5pt;" colspan="7">&nbsp;</td>
    </tr>
    <tr style="font-size: 10pt; vertical-align: middle;">
        <td style="{{bold}} font-family: TimesNewRoman; text-align: left;" colspan="4">{{posName}}</td>
        <td style="{{bold}} font-family: TimesNewRoman; text-align: left;" colspan="4">{{empName}}</td>
    </tr>

    </tbody>
</table>