<!--%pageOrientation:portrait-->
<table style="font-family: TimesNewRoman; font-size: 9pt; table-layout: fixed; border-collapse: collapse; word-break: normal; margin: 0px 10px 0px 70px;" width="{{widthTable}}px" cellspacing="0" cellpadding="3px" border="0px">
    <tbody>
    <tr style="font-size: 1pt;">
        <!--{{#columsColWidth}}-->
        <td style="width: {{colWidth}}px;">&nbsp;</td>
        <!--{{/columsColWidth}}-->
    </tr>
    <!--{{#title}}-->
    <tr>
        <td style="width: 100%; text-align: center; font-size: 12pt; vertical-align: middle; font-weight: bold;" colspan="{{colSpan}}">{{text}}</td>
    </tr>
    <!--{{/title}}-->
    <tr>
        <td style="width: 100%; text-align: center; font-size: 12pt; vertical-align: middle;" colspan="{{colSpan}}"></td>
    </tr>

    <tr style="text-align: center; font-size: 12pt; vertical-align: middle;">
        <!--{{#columsText}}-->
        <td style="border: 1px solid; font-weight: bold;">{{text}}</td>
        <!--{{/columsText}}-->
    </tr>
    <tr style="text-align: center; font-size: 10pt; vertical-align: middle;">
        <!--{{#columsNpp}}-->
        <td style="border: 1px solid;">{{npp}}</td>
        <!--{{/columsNpp}}-->
    </tr>

    <!--{{#data}}-->
    <tr style="font-size: 12pt; vertical-align: middle;">
        <!--{{#isOnlyName}}-->
        <td style="text-align: {{textAlign}}; border: 1px solid; font-weight: bold;" colspan="{{colSpan}}">{{{name}}}</td>
        <!--{{/isOnlyName}}-->
        <!--{{^isOnlyName}}-->
        <!--{{#isTotal}}-->
        <td style="text-align: left; border: 1px solid; {{boldInfo}}" colspan="2">{{{name}}}</td>
        <!--{{/isTotal}}-->
        <!--{{^isTotal}}-->
        <td style="text-align: center; border: 1px solid; {{boldInfo}}">{{indexNum}}</td>
        <td style="text-align: left; border: 1px solid black; color: {{textColor}}; {{boldInfo}}"><font color="{{textColor}}">{{{name}}}</font></td>
        <!--{{/isTotal}}-->
        <!--{{#addInfo1}}-->
        <td style="text-align: left; border: 1px solid; {{boldInfo}}">{{tab}}</td>
        <td style="text-align: left; border: 1px solid; {{boldInfo}}">{{fio}}</td>
        <!--{{/addInfo1}}-->
        <!--{{#addInfo2}}-->
        <td style="text-align: center; border: 1px solid; {{boldInfo}}">{{planDays}}</td>
        <td style="text-align: center; border: 1px solid; {{boldInfo}}">{{factDays}}</td>
        <!--{{/addInfo2}}-->
        <td style="text-align: right; border: 1px solid; {{boldInfo}}">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid; {{boldInfo}}">{{#$fs}}"fop","{{roundTo}}"{{/$fs}}</td>
        <!--{{#addInfo3}}-->
        <td style="text-align: right; border: 1px solid; {{boldInfo}}">{{#$fs}}"avrgSalary","{{roundTo}}"{{/$fs}}</td>
        <!--{{/addInfo3}}-->
        <!--{{#addInfo1}}-->
        <td style="text-align: left; border: 1px solid; {{boldInfo}}">{{notes}}</td>
        <!--{{/addInfo1}}-->
        <!--{{/isOnlyName}}-->
    </tr>
    <!--{{/data}}-->

    </tbody>
</table>

<!--{{#showEmpData}}-->

<table style="font-family: TimesNewRoman; font-size: 9pt; table-layout: fixed; border-collapse: collapse; word-break: normal; margin: 0px 10px 0px 70px;" width="500px" cellspacing="0" cellpadding="3px" border="0px">
    <tbody>
    <tr style="font-size: 12pt;">
        <td style="width: 400px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: center; font-size: 12pt; vertical-align: middle; font-weight: bold;" colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: center; font-size: 12pt; vertical-align: middle; font-weight: bold;" colspan="2">Перелік працівників, чиї нарахування не враховані в ФОП</td>
    </tr>

    <!--{{#empData}}-->
    <tr style="font-size: 12pt; vertical-align: middle;">
        <!--{{#isTotal}}-->
            <td style="text-align: left; border: 1px solid black; font-weight: bold;">{{name}}</td>
            <td style="text-align: right; border: 1px solid; font-weight: bold; ">{{#$fs}}"paySum","{{roundTo}}"{{/$fs}}</td>
        <!--{{/isTotal}}-->
        <!--{{^isTotal}}-->
            <td style="text-align: left; border: 1px solid black; "><a href="#" data-id="{{employeeNumberID}}">{{name}}</a></td>
            <td style="text-align: right; border: 1px solid; ">{{#$fs}}"paySum","{{roundTo}}"{{/$fs}}</td>
        <!--{{/isTotal}}-->
    </tr>
    <!--{{/empData}}-->

    </tbody>
</table>

<!--{{/showEmpData}}-->
