<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="text-align: left; font-weight: bold; font-size: 14pt;" colspan="{{colSpan}}">Список (або список доповнень до прийнятих) працівників, які працюють в шкідливих умовах на поточну дату. <br />Вид шкідливих умов: {{harmfulName}}</td>
    </tr>
    <tr>
        <td style="text-align: left; font-weight: bold; font-size: 14pt;" colspan="{{colSpan}}">{{organizationName}}</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="text-align: left; font-weight: bold; font-size: 14pt;" colspan="{{colSpan}}">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <tr>
        <td style="text-align: right; font-size: 12pt;" colspan="{{colSpan}}">Станом на {{dateFrom}}</td>
    </tr>
    <tr style="font-size: 12pt;">
        <td style="width: 50px; text-align: center; border: 1px solid;">№ з/п</td>
        <td style="width: 150px; text-align: center; border: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>
        <td style="width: 100px; text-align: center; border: 1px solid;">Дата призначення<br/>до органу</td>
        <td style="width: 100px; text-align: center; border: 1px solid;">Дата призначення<br/>на посаду</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 200px; text-align: center; border: 1px solid;">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 200px; text-align: center; border: 1px solid;">Посада</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 200px; text-align: center; border: 1px solid;">Фактична посада</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 200px; text-align: center; border: 1px solid;">Підрозділ</td>
        <td style="width: 200px; text-align: center; border: 1px solid;">Самостійний<br/>структурний підрозділ</td>
        <td style="width: 150px; text-align: center; border: 1px solid;">Організація</td>

    </tr>
    <!--{{#personTable}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 50px; text-align: center; border: 1px solid;">{{pn}}</td>
        <td style="width: 150px; text-align: left; border: 1px solid;">{{fullFIO}}</td>
        <td style="width: 100px; text-align: center; border: 1px solid;">{{workDateFrom}}</td>
        <td style="width: 100px; text-align: center; border: 1px solid;">{{posDateFrom}}</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 200px; text-align: left; border: 1px solid;">{{addDescrPerson}}</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 200px; text-align: left; border: 1px solid;">{{posName}}</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 200px; text-align: left; border: 1px solid;">{{actualPositionName}}</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 200px; text-align: left; border: 1px solid;">{{depTree}}</td>
        <td style="width: 200px; text-align: left; border: 1px solid;">{{depFirst}}</td>
        <td style="width: 150px; text-align: left; border: 1px solid;">{{orgName}}</td>
    </tr>
    <!--{{/personTable}}-->

    </tbody>
</table>