<!--%pageOrientation:landscape-->

<table style="font-family: Arial; word-wrap: break-word; font-size: 11pt; border-collapse: collapse;" border="0px" width="1680" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr style="height: 1px;">
        <td style="width: 150px;">&nbsp;</td>
        <td style="width: 80px;">&nbsp;</td>
        <td style="width: 250px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">Організація</td>
        <td style="text-align: center; font-size: 11pt; border-bottom: 1px solid;" colspan="10">{{orgName}}</td>
    </tr>
    <tr>
        <td style="text-align: center;" colspan="11"> </td>
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">&nbsp;</td>
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="10">{{reportName}}</td>
    </tr>
    <tr>
        <td style="text-align: center;" colspan="11"> </td>
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">за</td>
        <td style="text-align: center; font-size: 11pt; border-bottom: 1px solid;" colspan="10">{{periodName}}</td>
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">підрозділ</td>
        <td style="text-align: center; font-size: 11pt; border-bottom: 1px solid;" colspan="10">{{depName}}</td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; height: 30px;" colspan="11"> </td>
    </tr>
    <tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
        <td style="border: 1px solid;">Розрахунковий період</td>
        <td style="border: 1px solid;">Таб.номер</td>
        <td style="border: 1px solid;">Працівник</td>
        <td style="border: 1px solid;">Сума фактичних нарахувань</td>
        <td style="border: 1px solid;">Перевищення максимальної бази</td>
        <td style="border: 1px solid;">Сума без перевищення</td>
        <td style="border: 1px solid;">Додаткова база нарахування</td>
        <td style="border: 1px solid;">Сума, на яку повинно бути нараховано ЄСВ</td>
        <td style="border: 1px solid;">Різниця між сумою, на яку повинно бути нараховано ЄСВ та сумою, на яку фактично нараховано ЄСВ</td>
        <td style="border: 1px solid;">Сума, на яку нараховано ЄСВ</td>
        <td style="border: 1px solid;">Нараховано ЄСВ</td>
    </tr>
    <!--{{#data}}-->
    <tr>
        <td style="border: 1px solid;"><a href="#" data-cellcode="periodCalc" data-id="{{periodCalcID}}">{{periodCalc}}</a></td>
        <td style="text-align: center; border: 1px solid;">{{tabNum}}</td>
        <td style="border: 1px solid;"><a href="#" data-cellcode="employee" data-id="{{employeeNumberID}}"  data-period="{{periodCalcID}}">{{fullFIO}}</a></td>
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"factSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"excMaxBaseSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"limitSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"addMinSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"calcSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"diffSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/data}}-->
    <tr style="background-color: #f0f0f0; font-weight: bold; page-break-inside: avoid;">
        <td style="border: 1px solid;">&nbsp;</td>
        <td style="border: 1px solid;">&nbsp;</td>
        <td style="border: 1px solid;">&nbsp;</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalFactSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalExcMaxBaseSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"totalLimitSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"totalAddMinSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalCalcSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalDiffSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalBaseSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalPaySum","decimal2"{{/$fs}}</td>
    </tr>
    </tbody>
</table>