<!--%pageOrientation:portrait-->

<table style="font-size: 14px; table-layout: fixed; line-height: 1; border-collapse: collapse; width: 750px;  word-break: normal;"  border="0px">
<tbody>
<tr>
    <td style="width: 35px;">&nbsp;</td>
    <td style="width: 50px;">&nbsp;</td>
    <td style="width: 295px;">&nbsp;</td>
    <td style="width: 35px;">&nbsp;</td>
    <td style="width: 150px;">&nbsp;</td>
    <td style="width: 35px;">&nbsp;</td>
    <td style="width: 150px;">&nbsp;</td>
</tr>
<tr>
    <td colspan="3">&nbsp;</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt; text-align: left;" colspan="4">{{mainChiefPos}}</td>
</tr>
<tr>
    <td colspan="3">&nbsp;</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt; text-align: left;" colspan="4">{{orgName}}</td>
</tr>
<tr>
    <td colspan="3">&nbsp;</td>
    <td style="font-family: TimesNewRoman; text-align: left; font-size: 14pt;" colspan="4">{{mainChiefName}}</td>
</tr>
<tr>
    <td colspan="7">&nbsp;</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; text-align: center; font-size: 14pt;" colspan="6"><b>ПОДАННЯ</b></td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; text-align: center; font-size: 14pt;" colspan="6"><b>щодо добору персоналу в апарат {{orgName}}</b></td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; text-align: center; font-size: 14pt;" colspan="6"><b>шляхом конкурсного відбору</b></td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; text-align: center; font-size: 14pt;" colspan="6"><b>на посаду державної служби категорії {{positionCategory}}</b></td>
</tr>
<tr>
    <td colspan="7">&nbsp;</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; text-align: center; font-size: 14pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="6">{{positionName}}</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; font-size: 9pt; vertical-align: top; text-align: center;" colspan="6">(посада)</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; text-align: center; font-size: 14pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="6">{{departmentName}}</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; font-size: 9pt; vertical-align: top; text-align: center;" colspan="6">(назва структурного підрозділу)</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; text-align: center; font-size: 14pt; border-bottom-width: 1px; border-bottom-style: solid;" colspan="6">{{departmentName2}}</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; font-size: 9pt; vertical-align: top; text-align: center;" colspan="6">(назва самостійного структурного підрозділу)</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt;" colspan="6">З метою</td>
</tr>
<!-- {{#requestStaffMotionGoal}} -->
<tr>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt;" colspan="6">{{{requestStaffMotionGoal}}}</td>
</tr>
<!--{{/requestStaffMotionGoal}}-->
<tr>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt;" colspan="6">пропоную оголосити у встановленому порядку конкурс на заміщення вищезазначеної вакантної посади державної служби.</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt; text-indent: 50px;" colspan="6">Для проведення оцінки відповідності кандидатів окремим вимогам, що оцінюються, пропоную залучити таких експертів (не менше двох):</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt; text-align: center;">№ пор.</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt; text-align: center;">Прізвище ім’я та по батькові</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt; text-align: center;">&nbsp;</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt; text-align: center;" colspan="3">Посада</td>
</tr>
<!-- {{#items}} -->
<tr>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt; text-align: center;">{{itemIdx}}</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt; text-align: left;">{{employeeName}}</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt; text-align: center;">-</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt; text-align: left;" colspan="3">{{positionName}}</td>
</tr>
<!-- {{/items}} -->
<tr>
    <td colspan="7">&nbsp;</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt;" colspan="6">До подання додаються:</td>
</tr>
<tr style="height: 1px;">
    <td>&nbsp;</td>
    <td></td>
    <td colspan="3"></td>
    <td colspan="2"></td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td style="border: 1px solid; text-align: center;"></td>
    <td style="font-family: TimesNewRoman; font-size: 14pt; text-align: left;" colspan="3">умови проведення конкурсу (проєкт)</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt; text-align: right;" colspan="2">–  __________арк.</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td style="border: 1px solid; text-align: center;">&nbsp;</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt; text-align: left;" colspan="3">орієнтовний перелік питань, що пропонується</td>
    <td style="font-family: TimesNewRoman; font-size: 14pt; text-align: right;" colspan="2">–  __________арк.</td>
</tr>
<tr>
    <td colspan="7">&nbsp;</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td style="border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
    <td>&nbsp;</td>
    <td style="border-bottom-width: 1px; border-bottom-style: solid;">&nbsp;</td>
</tr>
<tr style="height: 30px;">
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; font-size: 9pt; vertical-align: top; text-align: center;" colspan="2">(посада керівника самостійного структурного підрозділу)</td>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; font-size: 9pt; vertical-align: top; text-align: center;">(підпис)</td>
    <td>&nbsp;</td>
    <td style="font-family: TimesNewRoman; font-size: 9pt; vertical-align: top; text-align: center;">(ініціали та прізвище)</td>
</tr>
</tbody>
</table>