<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 14px; table-layout: fixed; line-height: 1.3; border-collapse: collapse; width: {{tableWidth}}px;  word-break: normal; margin: 0px 10px 0px 70px;"  border="0px" cellspacing="0" cellpadding="0px">
    <tbody>
        <tr style="font-size: 1pt;">
            <td style="width: 70px;">&nbsp;</td>
            <td style="width: 250px;">&nbsp;</td>
            <!-- {{#showAddDescrPerson}} -->
                <td style="width: 200px;">&nbsp;</td>
            <!-- {{/showAddDescrPerson}} -->
            <td style="width: 250px;">&nbsp;</td>
            <!-- {{#useActualPositionName}} -->
                <td style="width: 250px;">&nbsp;</td>
            <!-- {{/useActualPositionName}} -->
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="{{colSpan}}" style="text-align: center; font-size: 12pt; vertical-align: middle;">{{organizationName}}</td>
        </tr>
        <!--{{#departmentName}}-->
        <tr>
            <td colspan="{{colSpan}}" style="text-align: center; font-size: 12pt; vertical-align: middle;">{{departmentName}}</td>
        </tr>
        <!--{{/departmentName}}-->
        <tr>
            <td colspan="{{colSpan}}" style="text-align: center; font-size: 12pt; font-weight: bold; vertical-align: middle;">СПИСОК ПРАЦЮЮЧИХ</td>
        </tr>
        <tr>
            <td colspan="{{colSpan}}" style="text-align: center; font-size: 12pt; font-weight: bold; vertical-align: middle;">по виду оплати {{payElName}}</td>
        </tr>
        <!--{{#staffCatName}}-->
        <tr>
            <td colspan="{{colSpan}}" style="text-align: center; font-size: 12pt; vertical-align: middle;">по категорії: {{staffCatName}}</td>
        </tr>
        <!--{{/staffCatName}}-->
        <!--{{#fundName}}-->
        <tr>
            <td colspan="{{colSpan}}" style="text-align: center; font-size: 12pt; vertical-align: middle;">по фінансуванню: {{fundName}}</td>
        </tr>
        <!--{{/fundName}}-->
        <tr>
            <td colspan="{{colSpan}}" style="text-align: center; font-size: 12pt; vertical-align: middle;">станом на {{onDateStr}}р.</td>
        </tr>
        <tr style="height: 12px;">
            <td colspan="{{colSpan}}"></td>
        </tr>

    <tr style="text-align: center; font-size: 12pt;">
        <td style="border: 1px solid;">№<br/>з/п</td>
        <td style="border: 1px solid; ">Прізвище, ім'я, по батькові</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="border: 1px solid; ">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="border: 1px solid; ">Назва посади</td>
        <!-- {{#useActualPositionName}} -->
            <td style="border: 1px solid; ">Фактична посада</td>
        <!-- {{/useActualPositionName}} -->
        <td style="border: 1px solid; ">Кількість призначень</td>
        <td style="border: 1px solid; ">Посадовий оклад</td>
        <td style="border: 1px solid; ">{{accName}}</td>
        <td style="border: 1px solid; ">Сума</td>
    </tr>
        <!--{{#data}}-->
        <!--{{#isDepartment}}-->
        <tr style="font-size: 12pt;{{{rowStyle}}}">
            <td style="text-align: {{textAlign}}; border: 1px solid; font-weight: bold; padding: 0px 5px 0px 5px;" colspan="{{colSpan}}">{{{name}}}</td>
        </tr>
        <!--{{/isDepartment}}-->
        <!--{{^isDepartment}}-->
        <!--{{#isTotal}}-->
        <tr style="font-size: 12pt; font-weight: bold;{{{rowStyle}}}">
            <td style="text-align: left; border: 1px solid; font-weight: bold; padding: 0px 5px 0px 5px;" colspan="{{colSpan2}}">{{{name}}}</td>
            <td style="text-align: right; border: 1px solid; font-weight: bold; padding: 0px 5px 0px 5px;">{{#$fs}}"mtCount","{{roundToQuantity}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; font-weight: bold; padding: 0px 5px 0px 5px;">&nbsp;</td>
            <td style="text-align: right; border: 1px solid; font-weight: bold; padding: 0px 5px 0px 5px;">&nbsp;</td>
            <td style="text-align: right; border: 1px solid; font-weight: bold; padding: 0px 5px 0px 5px;">{{#$fs}}"accrualSum","{{roundTo}}"{{/$fs}}</td>
        </tr>
        <!--{{/isTotal}}-->
        <!--{{^isTotal}}-->
        <tr style="font-size: 12pt;">
            <td style="text-align: center; border: 1px solid;">{{indexNum}}</td>
            <td style="text-align: left; border: 1px solid; padding: 0px 5px 0px 5px;">{{{empName}}}</td>
            <!-- {{#showAddDescrPerson}} -->
            <td style="text-align: left; border: 1px solid; padding: 0px 5px 0px 5px;">{{addDescrPerson}}</td>
            <!-- {{/showAddDescrPerson}} -->
            <td style="text-align: left; border: 1px solid; padding: 0px 5px 0px 5px;">{{{posName}}}</td>
            <!-- {{#useActualPositionName}} -->
                <td style="text-align: left; border: 1px solid; padding: 0px 5px 0px 5px;">{{{actualPositionName}}}</td>
            <!-- {{/useActualPositionName}} -->
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"mtCount","{{roundToQuantity}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepaySum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{accrualRate}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"accrualSum","{{roundTo}}"{{/$fs}}</td>
        </tr>
        <!--{{/isTotal}}-->
        <!--{{/isDepartment}}-->
        <!--{{/data}}-->
    </tbody>
</table>

