<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 11pt; word-wrap: break-word; border-collapse: collapse;" border="0px" width="1450px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; height: 40px;" colspan="11">Звіт<br/>про відрахування податку з доходів фізичних осіб</td>
    </tr>
    <tr style="height: 16px;">
        <td style="text-align: center; width: 100%; font-weight: bold;" colspan="11"></td>
    </tr>
    <tr>
        <td style="text-align: right; font-weight: bold;" colspan="4">за перiод</td>
        <td style="text-align: center;font-weight: bold;border-bottom: 1px solid;" colspan="3">{{periodName}}</td>
        <td style="text-align: left; font-weight: bold;" colspan="4"></td>
    </tr>
    <tr style="height: 16px;">
        <td style="text-align: center; width: 100%; font-weight: bold;" colspan="11"> </td>
    </tr>
    <tr>
        <td style="text-align: right; font-weight: bold;" colspan="4">Найменування організації</td>
        <td style="text-align: center;font-weight: bold; border-bottom: 1px solid;" colspan="3">{{orgName}}</td>
        <td style="text-align: left; font-weight: bold;" colspan="4"></td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; height: 24px" colspan="11"> </td>
    </tr>
    <tr>
        <td style="text-align: right; font-weight: bold;" colspan="4">підрозділ</td>
        <td style="text-align: center;font-weight: bold; border-bottom: 1px solid;" colspan="3">{{departmentName}}</td>
        <td style="text-align: left; font-weight: bold;" colspan="4"></td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; height: 24px" colspan="11"> </td>
    </tr>
    <tr style="font-weight: bold; background-color: #f0f0f0;">
        <td style="width: 50px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">№ з/п</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Таб.№</td>
        <td style="width: 200px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Організація</td>
        <td style="width: 200px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">ПIБ</td>
        <td style="width: 200px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Посада</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Період</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Дохід</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Не<br/>оподатковується</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Пільги</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Оподаткований<br/>дохід</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">Податок</td>
    </tr>

    <!--{{#depts}}-->
    <!--{{#dept}}-->
    <tr style="page-break-inside: avoid; vertical-align: top;">
        <td style="font-family: TimesNewRoman; font-weight: bold; padding-left: 15px; text-align: left; border-width: 1px; border-style: solid; page-break-inside: avoid;" colspan="11">{{&deptName}}</td>
    </tr>
    <!--{{/dept}}-->

    <!--{{#emps}}-->
    <tr style="vertical-align: top; page-break-inside: avoid;">
        <td style="width: 50px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{num}}</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{tabNum}}</td>
        <td style="width: 200px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{orgName}}</td>
        <td style="width: 200px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{fullFIO}}</td>
        <td style="width: 200px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="width: 150px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{period}}</td>
        <td style="width: 150px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        <td style="width: 150px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"noTaxable","decimal2"{{/$fs}}</td>
        <td style="width: 150px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"benefitsSum","decimal2"{{/$fs}}</td>
        <td style="width: 150px; text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"taxedSum","decimal2"{{/$fs}}</td>
        <td style="width: 150px; text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"taxSum","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/emps}}-->

    <!--{{#depSum}}-->
    <tr style="background-color: #f0f0f0; font-weight: bold; page-break-inside: avoid; vertical-align: top;">
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;" colspan="6">{{&title}} &nbsp;</td>
        <!--{{#dsum}}-->
        <td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"noTaxable","decimal2"{{/$fs}}</td>
        <td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"benefitsSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"taxedSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"taxSum","decimal2"{{/$fs}}</td>
        <!--{{/dsum}}-->
    </tr>
    <!--{{/depSum}}-->


    <!--&lt;!&ndash;{{#depSum}}&ndash;&gt;-->
    <!--<tr style="font-weight: bold">-->
        <!--<td style="text-align: right;  border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;" colspan="5">Всього &nbsp;</td>-->
        <!--<td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"totalPaySum","decimal2"{{/$fs}}</td>-->
        <!--<td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"totalNoTaxable","decimal2"{{/$fs}}</td>-->
        <!--<td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"totalBenefitsSum","decimal2"{{/$fs}}</td>-->
        <!--<td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"totalTaxedSum","decimal2"{{/$fs}}</td>-->
        <!--<td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"totalTaxSum","decimal2"{{/$fs}}</td>-->
    <!--</tr>-->
    <!--&lt;!&ndash;{{/depSum}}&ndash;&gt;-->

    <!--{{/depts}}-->

    <!--<tr style="font-weight: bold; background-color: #f0f0f0;">-->
        <!--<td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="5">Всього</td>-->
        <!--<td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"totalPaySum","decimal2"{{/$fs}}</td>-->
        <!--<td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"totalNoTaxable","decimal2"{{/$fs}}</td>-->
        <!--<td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"totalBenefitsSum","decimal2"{{/$fs}}</td>-->
        <!--<td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{#$fs}}"totalTaxedSum","decimal2"{{/$fs}}</td>-->
        <!--<td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{#$fs}}"totalTaxSum","decimal2"{{/$fs}}</td>-->
    <!--</tr>-->
    </tbody>
</table>