<!--%pageOrientation:landscape-->
<style>
    #text_rotate{
        writing-mode: vertical-rl;
        transform: scale(-1);
     }
</style>

<table style="font-family: TimesNewRoman; font-size: 12pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="{{width}}px" cellspacing="0" cellpadding="0px"
       data-organizationname = "{{organizationName}}"
       data-organizationids = "{{organizationIDs}}"
       data-departmentids = "{{departmentIDs}}"
       data-departmentname = "{{departmentName}}"
       data-ondate = "{{onDate}}"
       data-positionсategory = "{{positionCategory}}"
       data-dictpositionkindid = "{{dictPositionKindID}}"
       data-dictpositiongroupid = "{{dictPositionGroupID}}"
       data-dictempcategoryid = "{{dictEmpCategoryID}}"
       data-dicttarifcoeffid = "{{dictTarifCoeffID}}"
       data-dictwagepayid = "{{dictWagePayID}}"
>
    <tbody>
    <tr style="font-size: 5pt;">
    {{#firstRow}}
        <td style="padding: 0; width: {{colwidth}}px;">{{title}}</td>
    {{/firstRow}}
    </tr>

    {{#title}}
    <tr>
        <td style="font-size: 12pt; font-family: 'Times New Roman'; font-weight: bold; border: 0px; text-align:center; " colspan="{{colSpan}}">{{text}}</td>
    </tr>
    {{/title}}
    <tr>
        <td style="font-size: 6pt; font-family: 'Times New Roman'; border: 0px; text-align:center; " colspan="{{colSpan}}">&nbsp;</td>
    </tr>
    <tr>
    {{#columnNames}}
        <td style="height: 50px; font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; vertical-align:middle; text-align:center; font-weight: bold;">{{name}}</td>
    {{/columnNames}}
    </tr>

    {{#data}}
    <tr data-name = "{{value}}" data-id = "{{id}}">
        <td style="{{bold}} font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:left;padding: 1px 3px 1px 3px;" >{{value}}</td>
        {{#columnsValues}}
            <td style="{{bold}} font-size: 12pt; font-family: 'Times New Roman'; border: 1px solid black; text-align:center;"
                data-positiontypename = "{{name}}" data-positiontype = "{{id}}"><a href="#">{{{value}}}</a></td>
        {{/columnsValues}}
    </tr>
    {{/data}}

    </tbody>
</table>