<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; border-collapse: collapse; word-break: break-word; width: 680px;" width="660px" cellspacing="0" cellpadding="3px">
    <tbody>
        <tr style="text-align: left;">
            <td colspan="4" style="width: 500px; font-weight: bold; vertical-align: top;">{{orgName}}</td>
            <td style="width: 160px; vertical-align: top;">Дата звіту: {{onDate}}</td>
        </tr>
        <tr>
            <td style="width: 250px; text-align: left;">Дата друку: {{onDateTime}}</td>
            <td style="width: 50px;"></td>
            <td style="width: 100px;"></td>
            <td style="width: 100px;"></td>
            <td style="width: 160px; text-align: right;">Форма 20</td>
        </tr>
        <tr style="height: 64px; text-align: center; font-weight: bold;">
            <td colspan="5" style="width: 100%; vertical-align: middle; font-size: 14pt;">Кількість фізичних осіб спеціалістів з вищою<br/>немедичною освітою - основних працівників</td>
        </tr>
        <tr style="text-align: left;">
            <td colspan="5">Таблиця 1101</td>
        </tr>
        <tr style="height: 48px; text-align: center; vertical-align: middle;">
            <td style="width: 250px; border-left: 1px solid; border-top: 1px solid;"></td>
            <td style="width: 50px; border-left: 1px solid; border-top: 1px solid; vertical-align: bottom;">Номер</td>
            <td colspan="3" style="width: 360px; border: 1px solid;">Кількість фізичних осіб спеціалістів з вищою немедичною освітою - основних працівників, які займають посади:</td>
        </tr>
        <tr style="height: 36px; text-align: center; vertical-align: middle;">
            <td style="width: 250px; border-left: 1px solid; border-bottom: 1px solid;"></td>
            <td style="width: 50px; border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;">рядка</td>
            <td style="width: 100px; border: 1px solid;">лікарів-лаборантів</td>
            <td style="width: 100px; border: 1px solid;">лікарів-статистиків</td>
            <td style="width: 160px; border: 1px solid;">лікарів з лікувальної фізкультури</td>
        </tr>
        <tr style="text-align: center;">
            <td style="width: 250px; border: 1px solid;">А</td>
            <td style="width: 50px; border: 1px solid;">Б</td>
            <td style="width: 100px; border: 1px solid;">1</td>
            <td style="width: 100px; border: 1px solid;">2</td>
            <td style="width: 160px; border: 1px solid;">3</td>
        </tr>
        <!--{{#rows}}-->
        <tr>
            <td style="width: 250px; text-align: left; border: 1px solid;">{{caption}}</td>
            <td style="width: 50px; text-align: center; border: 1px solid;">{{rowNum}}</td>
            <td style="width: 100px; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='1'>{{pdata1}}</a></td>
            <td style="width: 100px; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='2'>{{pdata2}}</a></td>
            <td style="width: 160px; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='3'>{{pdata3}}</a></td>
        </tr>
        <!--{{/rows}}-->
    </tbody>
</table>