<!--%pageOrientation:landscape-->

<table style="font-family: Arial; word-wrap: break-word; font-size: 11pt; border-collapse: collapse;" border="0px" width="{{tableWidth}}" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr style="height: 1px;">
        <!--{{^showPeriodCalc}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showPeriodCalc}}-->
        <!--{{#showPeriodCalc}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showPeriodCalc}}-->
        <!--{{#showPeriodSalary}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showPeriodSalary}}-->
        <!--{{#showEmployee}}-->
        <td style="width: 80px;">&nbsp;</td>
        <td style="width: 250px;">&nbsp;</td>
        <!--{{/showEmployee}}-->
        <td style="width: 150px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
        <!--{{#showExcMaxBaseSum}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showExcMaxBaseSum}}-->
        <!--{{#showAddBaseCalcSum}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showAddBaseCalcSum}}-->
        <!--{{#showTotalSum}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showTotalSum}}-->
        <!--{{#showBaseSum}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showBaseSum}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{#showSourceSumAll}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showSourceSumAll}}-->
        <!--{{#showAddMinSumAll}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showAddMinSumAll}}-->
        <!--{{#showExcMaxBaseSumAll}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showExcMaxBaseSumAll}}-->
        <!--{{#showTotalSumAll}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showTotalSumAll}}-->
        <!--{{#showBaseSumAll}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showBaseSumAll}}-->
        <!--{{#showPaySumAll}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showPaySumAll}}-->
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">Організація</td>
        <td style="text-align: center; font-size: 11pt; border-bottom: 1px solid;" colspan="{{cellSpan1}}">{{orgName}}</td>
    </tr>
    <tr>
        <td style="text-align: center;" colspan="{{cellSpan}}"> </td>
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">&nbsp;</td>
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{cellSpan1}}">{{reportName}}</td>
    </tr>
    <tr>
        <td style="text-align: center;" colspan="{{cellSpan}}"> </td>
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">за</td>
        <td style="text-align: center; font-size: 11pt; border-bottom: 1px solid;" colspan="{{cellSpan1}}">{{periodName}}</td>
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">підрозділ</td>
        <td style="text-align: center; font-size: 11pt; border-bottom: 1px solid;" colspan="{{cellSpan1}}">{{depName}}</td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; height: 30px;" colspan="{{cellSpan}}"> </td>
    </tr>
    <tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
        <!--{{^showPeriodCalc}}-->
        <td style="text-align: center; background-color: white;">&nbsp;</td>
        <!--{{/showPeriodCalc}}-->
        <!--{{#showPeriodCalc}}-->
        <td style="border: 1px solid;">Розрахунковий період</td>
        <!--{{/showPeriodCalc}}-->
        <!--{{#showPeriodSalary}}-->
        <td style="border: 1px solid;">Обліковий період</td>
        <!--{{/showPeriodSalary}}-->
        <!--{{#showEmployee}}-->
        <td style="border: 1px solid;">Таб.номер</td>
        <td style="border: 1px solid;">Працівник</td>
        <!--{{/showEmployee}}-->
        <td style="border: 1px solid;">Відсоток</td>
        <td style="border: 1px solid;">Нарахована сума</td>
        <!--{{#showExcMaxBaseSum}}-->
        <td style="border: 1px solid;">Перевищення максимальної бази</td>
        <!--{{/showExcMaxBaseSum}}-->
        <!--{{#showAddBaseCalcSum}}-->
        <td style="border: 1px solid;">Додаткова база нарахування</td>
        <!--{{/showAddBaseCalcSum}}-->
        <!--{{#showTotalSum}}-->
        <td style="border: 1px solid;">Разом</td>
        <!--{{/showTotalSum}}-->
        <!--{{#showBaseSum}}-->
        <td style="border: 1px solid;">Сума, на яку нараховано ЄСВ</td>
        <!--{{/showBaseSum}}-->
        <td style="border: 1px solid;">Нараховано ЄСВ</td>
        <!--{{#showSourceSumAll}}-->
        <td style="border: 1px solid;">Нарахована сума за всіма особовими рахунками</td>
        <!--{{/showSourceSumAll}}-->
        <!--{{#showAddMinSumAll}}-->
        <td style="border: 1px solid;">Додаткова база нарахування за всіма особовими рахунками</td>
        <!--{{/showAddMinSumAll}}-->
        <!--{{#showExcMaxBaseSumAll}}-->
        <td style="border: 1px solid;">Перевищення максимальної бази за всіма ОР</td>
        <!--{{/showExcMaxBaseSumAll}}-->
        <!--{{#showTotalSumAll}}-->
        <td style="border: 1px solid;">Разом  за всіма особовими рахунками</td>
        <!--{{/showTotalSumAll}}-->
        <!--{{#showBaseSumAll}}-->
        <td style="border: 1px solid;">Базова сума  за всіма особовими рахунками</td>
        <!--{{/showBaseSumAll}}-->
        <!--{{#showPaySumAll}}-->
        <td style="border: 1px solid;">Нараховано ЄСВ  за всіма особовими рахунками</td>
        <!--{{/showPaySumAll}}-->
    </tr>
    <!--{{#data}}-->
    <tr>
        <!--{{^showPeriodCalc}}-->
        <td style="text-align: center; background-color: white;">&nbsp;</td>
        <!--{{/showPeriodCalc}}-->
        <!--{{#showPeriodCalc}}-->
        <td style="border: 1px solid;"><a href="#" data-cellcode="periodCalc" data-id="{{periodCalcID}}">{{periodCalc}}</a></td>
        <!--{{/showPeriodCalc}}-->
        <!--{{#showPeriodSalary}}-->
        <td style="border: 1px solid;"><a href="#" data-cellcode="periodSalary" data-id="{{periodSalaryID}}">{{periodSalary}}</a></td>
        <!--{{/showPeriodSalary}}-->
        <!--{{#showEmployee}}-->
        <td style="text-align: center; border: 1px solid;">{{tabNum}}</td>
        <td style="border: 1px solid;"><a href="#" data-cellcode="employee" data-id="{{employeeNumberID}}" <!--{{#showPeriodCalc}}-->data-period="{{periodCalcID}}"<!--{{/showPeriodCalc}}--> >{{fullFIO}}</a></td>
        <!--{{/showEmployee}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"rate","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"sourceSum","decimal2"{{/$fs}}</td>
        <!--{{#showExcMaxBaseSum}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"excMaxBaseSum","decimal2"{{/$fs}}</td>
        <!--{{/showExcMaxBaseSum}}-->
        <!--{{#showAddBaseCalcSum}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"addMinSum","decimal2"{{/$fs}}</td>
        <!--{{/showAddBaseCalcSum}}-->
        <!--{{#showTotalSum}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"totalSum","decimal2"{{/$fs}}</td>
        <!--{{/showTotalSum}}-->
        <!--{{#showBaseSum}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
        <!--{{/showBaseSum}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        <!--{{#showSourceSumAll}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"sourceSumAll","decimal2"{{/$fs}}</td>
        <!--{{/showSourceSumAll}}-->
        <!--{{#showAddMinSumAll}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"addMinSumAll","decimal2"{{/$fs}}</td>
        <!--{{/showAddMinSumAll}}-->
        <!--{{#showExcMaxBaseSumAll}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"excMaxBaseSumAll","decimal2"{{/$fs}}</td>
        <!--{{/showExcMaxBaseSumAll}}-->
        <!--{{#showTotalSumAll}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"totalSumAll","decimal2"{{/$fs}}</td>
        <!--{{/showTotalSumAll}}-->
        <!--{{#showBaseSumAll}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"baseSumAll","decimal2"{{/$fs}}</td>
        <!--{{/showBaseSumAll}}-->
        <!--{{#showPaySumAll}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"paySumAll","decimal2"{{/$fs}}</td>
        <!--{{/showPaySumAll}}-->
    </tr>
    <!--{{/data}}-->
    <tr style="background-color: #f0f0f0; font-weight: bold; page-break-inside: avoid;">
        <!--{{^showPeriodCalc}}-->
        <td style="text-align: center; background-color: white;">&nbsp;</td>
        <!--{{/showPeriodCalc}}-->
        <!--{{#showPeriodCalc}}-->
        <td style="border: 1px solid;">&nbsp;</td>
        <!--{{/showPeriodCalc}}-->
        <!--{{#showPeriodSalary}}-->
        <td style="border: 1px solid;">&nbsp;</td>
        <!--{{/showPeriodSalary}}-->
        <!--{{#showEmployee}}-->
        <td style="border: 1px solid;">&nbsp;</td>
        <td style="border: 1px solid;">&nbsp;</td>
        <!--{{/showEmployee}}-->
        <td style="border: 1px solid;">&nbsp;</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalSourceSum","decimal2"{{/$fs}}</td>
        <!--{{#showExcMaxBaseSum}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"totalExcMaxBaseSum","decimal2"{{/$fs}}</td>
        <!--{{/showExcMaxBaseSum}}-->
        <!--{{#showAddBaseCalcSum}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"totalAddMinSum","decimal2"{{/$fs}}</td>
        <!--{{/showAddBaseCalcSum}}-->
        <!--{{#showTotalSum}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"totalSum","decimal2"{{/$fs}}</td>
        <!--{{/showTotalSum}}-->
        <!--{{#showBaseSum}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"totalBaseSum","decimal2"{{/$fs}}</td>
        <!--{{/showBaseSum}}-->
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalPaySum","decimal2"{{/$fs}}</td>
        <!--{{#showSourceSumAll}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"totalSourceSumAll","decimal2"{{/$fs}}</td>
        <!--{{/showSourceSumAll}}-->
        <!--{{#showAddMinSumAll}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"totalAddMinSumAll","decimal2"{{/$fs}}</td>
        <!--{{/showAddMinSumAll}}-->
        <!--{{#showExcMaxBaseSumAll}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"totalExcMaxBaseSumAll","decimal2"{{/$fs}}</td>
        <!--{{/showExcMaxBaseSumAll}}-->
        <!--{{#showTotalSumAll}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"totalSumAll","decimal2"{{/$fs}}</td>
        <!--{{/showTotalSumAll}}-->
        <!--{{#showBaseSumAll}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"totalBaseSumAll","decimal2"{{/$fs}}</td>
        <!--{{/showBaseSumAll}}-->
        <!--{{#showPaySumAll}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"totalPaySumAll","decimal2"{{/$fs}}</td>
        <!--{{/showPaySumAll}}-->
    </tr>
    </tbody>
</table>