<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; border-collapse: collapse; word-break: break-word; width: 680px;" width="660px" cellspacing="0" cellpadding="3px">
    <tbody>
        <tr style="text-align: left;">
            <td colspan="2" style="width: 500px; font-weight: bold; vertical-align: top;">{{orgName}}</td>
            <td style="width: 160px; vertical-align: top;">Дата звіту: {{onDate}}</td>
        </tr>
        <tr>
            <td style="width: 400px; text-align: left;">Дата друку: {{onDateTime}}</td>
            <td style="width: 100px;"></td>
            <td style="width: 160px; text-align: right;">Форма 17</td>
        </tr>
        <tr style="height: 36px; text-align: center; font-weight: bold;">
            <td colspan="3" style="width: 100%; vertical-align: middle; font-size: 14pt;">Медичні кадри</td>
        </tr>
        <tr style="text-align: left;">
            <td colspan="3">Таблиця 1003</td>
        </tr>
        <tr style="height: 36px; text-align: center; vertical-align: middle;">
            <td style="width: 400px; border: 1px solid;">Найменування посад</td>
            <td style="width: 100px; border: 1px solid;">Номер рядка</td>
            <td style="width: 160px; border: 1px solid;">Абсолютні дані</td>
        </tr>
        <tr style="text-align: center;">
            <td style="width: 400px; border: 1px solid;">А</td>
            <td style="width: 100px; border: 1px solid;">Б</td>
            <td style="width: 100px; border: 1px solid;">1</td>
        </tr>
        <!--{{#rows}}-->
        <tr>
            <td style="width: 400px; text-align: left; border: 1px solid;">{{caption}}</td>
            <td style="width: 100px; text-align: center; border: 1px solid;">{{rowNum}}</td>
            <td style="width: 160px; text-align: center; border: 1px solid;"><a href="#" data-row='{{code}}' data-col='1'>{{pdata1}}</a></td>
        </tr>
        <!--{{/rows}}-->
    </tbody>
</table>