<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="{{tableWidth}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 14pt;" colspan="{{colSpan}}">Список військовозобов'язаних</td>
    </tr>
    <tr>
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 14pt;" colspan="{{colSpan}}">{{organizationName}}</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 14pt;" colspan="{{colSpan}}">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <tr>
        <td style="width: 100%; text-align: right; font-size: 12pt;" colspan="{{colSpan}}">Станом на {{dateFrom}}</td>
    </tr>
    <tr style="font-weight: bold; font-size: 12pt;">
        <td style="width: 50px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">№ з/п</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Категорія посади</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Ранг</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Посада</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Фактична посада</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Підрозділ</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Самостійний<br/>структурний підрозділ</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Рік народження</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Військове звання</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Місце проживання</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Військово-облікова<br/>спеціальність</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Придатність до<br/>військової служби</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Назва військкомату<br/>за місцем проживання</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; ">Відмітка про зняття<br/>з військового обліку</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; ">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">Організація</td>

    </tr>
    <!--{{#personTable}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 50px; text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{pn}}</td>
        <td style="width: 150px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{fullFIO}}</td>
        <td style="width: 100px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posCategory}}</td>
        <td style="width: 100px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{rankCur}}</td>
        <td style="width: 100px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 100px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{actualPositionName}}</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 100px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{depName}}</td>
        <td style="width: 100px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{structDepName}}</td>
        <td style="width: 100px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{yearBirth}}</td>
        <td style="width: 100px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{militaryRank}}</td>
        <td style="width: 100px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{address}}</td>
        <td style="width: 150px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{militarySpeciality}}</td>
        <td style="width: 100px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{militarySuitable}}</td>
        <td style="width: 150px; text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{militaryOffice}}</td>
        <td style="width: 150px; text-align: left; border-left: 1px solid; border-bottom: 1px solid; ">{{militaryState}}</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 150px; text-align: left; border-left: 1px solid; border-bottom: 1px solid; ">{{addDescrPerson}}</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 150px; text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{orgName}}</td>
    </tr>
    <!--{{/personTable}}-->
    </tbody>
</table>