<!--%pageOrientation:landscape-->
<table style="font-family: TimesNewRoman; font-size: 9pt; table-layout: fixed; border-collapse: collapse; word-break: normal; margin: 0px 10px 0px 70px;" width="{{tableWidth}}" cellspacing="0" cellpadding="3px" border="0px">
<tbody>
    <tr style="font-size: 1pt;">
        <td style="width: 210px;">&nbsp;</td>
        <td style="width: 50px;">&nbsp;</td>
        <td style="width: 140px;">&nbsp;</td>
        <td style="width: 140px;">&nbsp;</td>
        <td style="width: 140px;">&nbsp;</td>
        <td style="width: 140px;">&nbsp;</td>
        <td style="width: 140px;">&nbsp;</td>
        <!--{{#showCol6}}-->
        <td style="width: 140px;">&nbsp;</td>
        <!--{{/showCol6}}-->
    </tr>
    <tr>
        <td style="width: 100%; text-align: right; font-size: 12pt; vertical-align: middle; font-weight: bold;" colspan="{{colSpan}}">Форма № 31 - енерго (квартальний)</td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: center; font-size: 12pt; vertical-align: middle; font-weight: bold;" colspan="{{colSpan}}">Звіт промислового підприємства (об'єднання) з праці</td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: center; font-size: 12pt; vertical-align: middle; font-weight: bold;" colspan="{{colSpan}}">{{{organizationName}}}</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="width: 100%; text-align: center; font-size: 12pt; vertical-align: middle; font-weight: bold;" colspan="{{colSpan}}">{{{departmentName}}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <tr>
        <td style="width: 100%; text-align: center; font-size: 12pt; vertical-align: middle; font-weight: bold;" colspan="{{colSpan}}">за період з {{dateFrom}} по {{dateTo}}</td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: center; font-size: 12pt; vertical-align: middle;" colspan="{{colSpan}}"></td>
    </tr>

    <tr style="text-align: center; font-size: 12pt; vertical-align: middle;">
        <td style="border: 1px solid;" rowspan="3">Назва показника</td>
        <td style="border: 1px solid;" rowspan="3">Код рядка</td>
        <td style="border: 1px solid;" rowspan="3">Всього персоналу</td>
        <td style="border: 1px solid;" colspan="4">в тому числі</td>
        <!--{{#showCol6}}-->
        <td style="border: 1px solid;" rowspan="3">Посада без параметрів</td>
        <!--{{/showCol6}}-->

    </tr>
    <tr style="text-align: center; font-size: 12pt; vertical-align: middle;">
        <td style="border: 1px solid;" rowspan="2">Персонал основної діяльності</td>
        <td style="border: 1px solid;" colspan="2">з них:</td>
        <td style="border: 1px solid;" rowspan="2">Персонал непромислової діяльності</td>
    </tr>
    <tr style="text-align: center; font-size: 12pt; vertical-align: middle;">
        <td style="border: 1px solid;">робітники</td>
        <td style="border: 1px solid;">керівники, спеціалісти, службовці</td>
    </tr>
    <tr style="text-align: center; font-size: 10pt; vertical-align: middle;">
        <td style="border: 1px solid;">А</td>
        <td style="border: 1px solid;">Б</td>
        <td style="border: 1px solid;">1</td>
        <td style="border: 1px solid;">2</td>
        <td style="border: 1px solid;">3</td>
        <td style="border: 1px solid;">4</td>
        <td style="border: 1px solid;">5</td>
        <!--{{#showCol6}}-->
        <td style="border: 1px solid;">6</td>
        <!--{{/showCol6}}-->
    </tr>

    <!--{{#data}}-->
    <tr style="font-size: 12pt; vertical-align: middle;">
        <td style="text-align: left; border: 1px solid;" >{{{rowName}}}</td>
        <td style="text-align: center; border: 1px solid;">{{rowNum}}</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"value1","{{roundToValue1}}"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"value2","{{roundToValue2}}"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"value3","{{roundToValue3}}"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"value4","{{roundToValue4}}"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"value5","{{roundToValue5}}"{{/$fs}}</td>
        <!--{{#showCol6}}-->
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"value6","{{roundToValue6}}"{{/$fs}}</td>
        <!--{{/showCol6}}-->
    </tr>
    <!--{{/data}}-->
    <!--{{#listEmpNone}}-->
    <tr style="text-align: center; font-size: 10pt; vertical-align: middle;">
        <td style="width: 100%; text-align: center; font-size: 12pt; vertical-align: middle;" colspan="{{colSpan}}">Не учтенные сотрудники</td>
    </tr>

    <!--{{#listEmp}}-->
    <tr style="font-size: 12pt; vertical-align: middle;">
        <td style="text-align: left; border: 1px solid;" colspan="3">{{ID}}</td>
        <td style="text-align: left; border: 1px solid;" colspan="2">{{tabNum}}</td>
        <!--{{#showCol6}}-->
            <td style="text-align: left; border: 1px solid;" colspan="3">{{fullFIO}}</td>
        <!--{{/showCol6}}-->
        <!--{{^showCol6}}-->
            <td style="text-align: left; border: 1px solid;" colspan="2">{{fullFIO}}</td>
        <!--{{/showCol6}}-->
    </tr>
    <!--{{/listEmp}}-->
    <!--{{/listEmpNone}}-->
    </tbody>
</table>