<!--%pageOrientation:landscape-->

<table style="font-family: Arial; word-wrap: break-word; font-size: 11pt; border-collapse: collapse;" border="0px" width="{{tableWidth}}" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr style="height: 1px;">
        <!--{{#showPayEl}}-->
        <td style="width: 250px;">&nbsp;</td>
        <!--{{/showPayEl}}-->
        <!--{{#showPeriodCalc}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showPeriodCalc}}-->
        <!--{{#showPeriodSalary}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showPeriodSalary}}-->
        <!--{{#showEmployee}}-->
        <td style="width: 80px;">&nbsp;</td>
        <td style="width: 250px;">&nbsp;</td>
        <!--{{/showEmployee}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{^showPayEl}}-->
        <td style="width: 250px;">&nbsp;</td>
        <!--{{/showPayEl}}-->
        <!--{{^showPeriodCalc}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showPeriodCalc}}-->
        <!--{{^showPeriodSalary}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showPeriodSalary}}-->
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">Організація</td>
        <td style="text-align: center; font-size: 11pt; border-bottom: 1px solid;" colspan="{{cellSpan1}}">{{orgName}}</td>
    </tr>
    <tr>
        <td style="text-align: center;" colspan="{{cellSpan}}"> </td>
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">&nbsp;</td>
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{cellSpan1}}">{{reportName}}</td>
    </tr>
    <tr>
        <td style="text-align: center;" colspan="{{cellSpan}}"> </td>
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">за</td>
        <td style="text-align: center; font-size: 11pt; border-bottom: 1px solid;" colspan="{{cellSpan1}}">{{periodName}}</td>
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">підрозділ</td>
        <td style="text-align: center; font-size: 11pt; border-bottom: 1px solid;" colspan="{{cellSpan1}}">{{depName}}</td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; height: 30px;" colspan="{{cellSpan}}"> </td>
    </tr>
    <tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
        <!--{{#showPayEl}}-->
        <td style="border: 1px solid;">Вид оплати</td>
        <!--{{/showPayEl}}-->
        <!--{{#showPeriodCalc}}-->
        <td style="border: 1px solid;">Розрахунковий період</td>
        <!--{{/showPeriodCalc}}-->
        <!--{{#showPeriodSalary}}-->
        <td style="border: 1px solid;">Обліковий період</td>
        <!--{{/showPeriodSalary}}-->
        <!--{{#showEmployee}}-->
        <td style="border: 1px solid;">Таб.номер</td>
        <td style="border: 1px solid;">Працівник</td>
        <!--{{/showEmployee}}-->
        <td style="border: 1px solid;">Сума</td>
        <!--{{^showPayEl}}-->
        <td style="text-align: center; background-color: white;">&nbsp;</td>
        <!--{{/showPayEl}}-->
        <!--{{^showPeriodCalc}}-->
        <td style="text-align: center; background-color: white;">&nbsp;</td>
        <!--{{/showPeriodCalc}}-->
        <!--{{^showPeriodSalary}}-->
        <td style="text-align: center; background-color: white;">&nbsp;</td>
        <!--{{/showPeriodSalary}}-->
    </tr>
    <!--{{#data}}-->
    <tr>
        <!--{{#showPayEl}}-->
        <td style="border: 1px solid;"><a href="#" data-cellcode="payEl" data-id="{{payElID}}">{{payElName}}</a></td>
        <!--{{/showPayEl}}-->
        <!--{{#showPeriodCalc}}-->
        <td style="border: 1px solid;"><a href="#" data-cellcode="periodCalc" data-id="{{periodCalcID}}">{{periodCalc}}</a></td>
        <!--{{/showPeriodCalc}}-->
        <!--{{#showPeriodSalary}}-->
        <td style="border: 1px solid;"><a href="#" data-cellcode="periodSalary" data-id="{{periodSalaryID}}">{{periodSalary}}</a></td>
        <!--{{/showPeriodSalary}}-->
        <!--{{#showEmployee}}-->
        <td style="text-align: center; border: 1px solid;">{{tabNum}}</td>
        <td style="border: 1px solid;"><a href="#" data-cellcode="employee" data-id="{{employeeNumberID}}" <!--{{#showPayEl}}-->data-payel="{{payElID}}"<!--{{/showPayEl}}--> <!--{{#showPeriodCalc}}-->data-period="{{periodCalcID}}"<!--{{/showPeriodCalc}}--> >{{fullFIO}}</a></td>
        <!--{{/showEmployee}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        <!--{{^showPayEl}}-->
        <td style="text-align: center; background-color: white;">&nbsp;</td>
        <!--{{/showPayEl}}-->
        <!--{{^showPeriodCalc}}-->
        <td style="text-align: center; background-color: white;">&nbsp;</td>
        <!--{{/showPeriodCalc}}-->
        <!--{{^showPeriodSalary}}-->
        <td style="text-align: center; background-color: white;">&nbsp;</td>
        <!--{{/showPeriodSalary}}-->
    </tr>
    <!--{{/data}}-->
    <tr style="background-color: #f0f0f0; font-weight: bold; page-break-inside: avoid;">
        <!--{{#showPayEl}}-->
        <td style="border: 1px solid;">&nbsp;</td>
        <!--{{/showPayEl}}-->
        <!--{{#showPeriodCalc}}-->
        <td style="border: 1px solid;">&nbsp;</td>
        <!--{{/showPeriodCalc}}-->
        <!--{{#showPeriodSalary}}-->
        <td style="border: 1px solid;">&nbsp;</td>
        <!--{{/showPeriodSalary}}-->
        <!--{{#showEmployee}}-->
        <td style="border: 1px solid;">&nbsp;</td>
        <td style="border: 1px solid;">&nbsp;</td>
        <!--{{/showEmployee}}-->
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalSum","decimal2"{{/$fs}}</td>
        <!--{{^showPayEl}}-->
        <td style="text-align: center; background-color: white;">&nbsp;</td>
        <!--{{/showPayEl}}-->
        <!--{{^showPeriodCalc}}-->
        <td style="text-align: center; background-color: white;">&nbsp;</td>
        <!--{{/showPeriodCalc}}-->
        <!--{{^showPeriodSalary}}-->
        <td style="text-align: center; background-color: white;">&nbsp;</td>
        <!--{{/showPeriodSalary}}-->
    </tr>
    </tbody>
</table>