<!--%pageOrientation:landscape-->

<table style="font-family: Arial; word-wrap: break-word; font-size: 11pt; border-collapse: collapse;" border="0px" width="{{tableWidth}}" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr style="height: 1px;">
        <!--{{^showRate}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showRate}}-->
        <!--{{#showPayFund}}-->
        <td style="width: 200px;">&nbsp;</td>
        <!--{{/showPayFund}}-->
        <!--{{#showPeriodCalc}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showPeriodCalc}}-->
        <!--{{#showPeriodSalary}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showPeriodSalary}}-->
        <!--{{#showEmployee}}-->
        <td style="width: 80px;">&nbsp;</td>
        <td style="width: 250px;">&nbsp;</td>
        <!--{{/showEmployee}}-->
        <!--{{#showRate}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showRate}}-->
        <!--{{#showPayEl}}-->
        <td style="width: 250px;">&nbsp;</td>
        <!--{{/showPayEl}}-->
        <td style="width: 150px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
        <!--{{#showAddBaseCalcSum}}-->
        <td style="width: 150px;">&nbsp;</td>
        <!--{{/showAddBaseCalcSum}}-->
        <td style="width: 150px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">Організація</td>
        <td style="text-align: center; font-size: 11pt; border-bottom: 1px solid;" colspan="{{cellSpan1}}">{{orgName}}</td>
    </tr>
    <tr>
        <td style="text-align: center;" colspan="{{cellSpan}}"> </td>
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">&nbsp;</td>
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="{{cellSpan1}}">{{reportName}}</td>
    </tr>
    <tr>
        <td style="text-align: center;" colspan="{{cellSpan}}"> </td>
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">за</td>
        <td style="text-align: center; font-size: 11pt; border-bottom: 1px solid;" colspan="{{cellSpan1}}">{{periodName}}</td>
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">підрозділ</td>
        <td style="text-align: center; font-size: 11pt; border-bottom: 1px solid;" colspan="{{cellSpan1}}">{{depName}}</td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; height: 30px;" colspan="{{cellSpan}}"> </td>
    </tr>
    <tr style="text-align: center; background-color: #f0f0f0; font-weight: bold">
        <!--{{^showRate}}-->
        <td style="text-align: center; background-color: white;">&nbsp;</td>
        <!--{{/showRate}}-->
        <!--{{#showPayFund}}-->
        <td style="border: 1px solid;">Нарахування ЄСВ</td>
        <!--{{/showPayFund}}-->
        <!--{{#showPeriodCalc}}-->
        <td style="border: 1px solid;">Розрахунковий період</td>
        <!--{{/showPeriodCalc}}-->
        <!--{{#showPeriodSalary}}-->
        <td style="border: 1px solid;">Обліковий період</td>
        <!--{{/showPeriodSalary}}-->
        <!--{{#showEmployee}}-->
        <td style="border: 1px solid;">Таб.номер</td>
        <td style="border: 1px solid;">Працівник</td>
        <!--{{/showEmployee}}-->
        <!--{{#showRate}}-->
        <td style="border: 1px solid;">Відсоток</td>
        <!--{{/showRate}}-->
        <!--{{#showPayEl}}-->
        <td style="border: 1px solid;">Вид оплати</td>
        <!--{{/showPayEl}}-->
        <td style="border: 1px solid;">Нарахована сума</td>
        <td style="border: 1px solid;">Перевищення максимальної бази</td>
        <!--{{#showAddBaseCalcSum}}-->
        <td style="border: 1px solid;">Додаткова база нарахування</td>
        <!--{{/showAddBaseCalcSum}}-->
        <td style="border: 1px solid;">Сума, на яку нараховано ЄСВ</td>
        <td style="border: 1px solid;">Нараховано ЄСВ</td>
    </tr>
    <!--{{#data}}-->
    <tr>
        <!--{{^showRate}}-->
        <td style="text-align: center; background-color: white;">&nbsp;</td>
        <!--{{/showRate}}-->
        <!--{{#showPayFund}}-->
        <td style="border: 1px solid;"><a href="#" data-cellcode="payFund" data-id="{{payFundID}}">{{payFundName}}</a></td>
        <!--{{/showPayFund}}-->
        <!--{{#showPeriodCalc}}-->
        <td style="border: 1px solid;"><a href="#" data-cellcode="periodCalc" data-id="{{periodCalcID}}">{{periodCalc}}</a></td>
        <!--{{/showPeriodCalc}}-->
        <!--{{#showPeriodSalary}}-->
        <td style="border: 1px solid;"><a href="#" data-cellcode="periodSalary" data-id="{{periodSalaryID}}">{{periodSalary}}</a></td>
        <!--{{/showPeriodSalary}}-->
        <!--{{#showEmployee}}-->
        <td style="text-align: center; border: 1px solid;">{{tabNum}}</td>
        <td style="border: 1px solid;"><a href="#" data-cellcode="employee" data-id="{{employeeNumberID}}" <!--{{#showPeriodCalc}}-->data-period="{{periodCalcID}}"<!--{{/showPeriodCalc}}--> >{{fullFIO}}</a></td>
        <!--{{/showEmployee}}-->
        <!--{{#showRate}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"rate","decimal2"{{/$fs}}</td>
        <!--{{/showRate}}-->
        <!--{{#showPayEl}}-->
        <td style="border: 1px solid;"><a href="#" data-cellcode="payEl" data-id="{{payElID}}">{{payElName}}</a></td>
        <!--{{/showPayEl}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"sourceSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"excMaxBaseSum","decimal2"{{/$fs}}</td>
        <!--{{#showAddBaseCalcSum}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"addMinSum","decimal2"{{/$fs}}</td>
        <!--{{/showAddBaseCalcSum}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/data}}-->
    <tr style="background-color: #f0f0f0; font-weight: bold; page-break-inside: avoid;">
        <!--{{^showRate}}-->
        <td style="text-align: center; background-color: white;">&nbsp;</td>
        <!--{{/showRate}}-->
        <!--{{#showPayFund}}-->
        <td style="border: 1px solid;">&nbsp;</td>
        <!--{{/showPayFund}}-->
        <!--{{#showPeriodCalc}}-->
        <td style="border: 1px solid;">&nbsp;</td>
        <!--{{/showPeriodCalc}}-->
        <!--{{#showPeriodSalary}}-->
        <td style="border: 1px solid;">&nbsp;</td>
        <!--{{/showPeriodSalary}}-->
        <!--{{#showEmployee}}-->
        <td style="border: 1px solid;">&nbsp;</td>
        <td style="border: 1px solid;">&nbsp;</td>
        <!--{{/showEmployee}}-->
        <!--{{#showRate}}-->
        <td style="border: 1px solid;">&nbsp;</td>
        <!--{{/showRate}}-->
        <!--{{#showPayEl}}-->
        <td style="border: 1px solid;">&nbsp;</td>
        <!--{{/showPayEl}}-->
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalSourceSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"totalExcMaxBaseSum","decimal2"{{/$fs}}</td>
        <!--{{#showAddBaseCalcSum}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"totalAddMinSum","decimal2"{{/$fs}}</td>
        <!--{{/showAddBaseCalcSum}}-->
        <td style="text-align: right; border: 1px solid black;">{{#$fs}}"totalBaseSum","decimal2"{{/$fs}}</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalPaySum","decimal2"{{/$fs}}</td>
    </tr>
    </tbody>
</table>