<!--%pageOrientation:landscape-->

<table style="font-family: Arial; word-wrap: break-word; font-size: 11pt; border-collapse: collapse;" border="0px" width="950" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr style="height: 1px;">
        <td style="width: 200px;">&nbsp;</td>
        <td style="width: 600px;">&nbsp;</td>
        <td style="width: 150px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">Організація</td>
        <td style="text-align: center; font-size: 11pt; border-bottom: 1px solid;" colspan="2">{{orgName}}</td>
    </tr>
    <tr>
        <td style="text-align: center;" colspan="3"> </td>
    </tr>
    <tr>
        <td style="text-align: center; font-weight: bold; font-size: 12pt;" colspan="3">Контроль розрахунку ЄСВ</td>
    </tr>
    <tr>
        <td style="text-align: center;" colspan="3"> </td>
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">за</td>
        <td style="text-align: center; font-size: 11pt; border-bottom: 1px solid;" colspan="2">{{periodName}}</td>
    </tr>
    <tr>
        <td style="text-align: right; font-size: 11pt;">підрозділ</td>
        <td style="text-align: center; font-size: 11pt; border-bottom: 1px solid;" colspan="2">{{depName}}</td>
    </tr>
    <tr>
        <td style="text-align: center; width: 100%; font-weight: bold; height: 30px;" colspan="3"> </td>
    </tr>
    <tr>
        <td style="border: 1px solid;" colspan="2"><a href="#" data-cellcode="totalSum">Всього нараховано</a></td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"totalSum","decimal2"{{/$fs}}</td>
    </tr>
    <tr>
        <td style="border: 1px solid;" colspan="2"><a href="#" data-cellcode="paySumESVOff">Сума по видам оплати, на які не нараховується ЄСВ</a></td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"paySumESVOff","decimal2"{{/$fs}}</td>
    </tr>
    <tr>
        <td style="border: 1px solid;" colspan="2"><a href="#" data-cellcode="paySumESVOn">Сума по видам оплати, на які нараховується ЄСВ</a></td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"paySumESVOn","decimal2"{{/$fs}}</td>
    </tr>
    <tr>
        <td style="border: 1px solid;" colspan="2"><a href="#" data-cellcode="addBaseCalcSum">Додаткова база нарахування</a></td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"addBaseCalcSum","decimal2"{{/$fs}}</td>
    </tr>
    <tr>
        <td style="border: 1px solid;" colspan="2"><a href="#" data-cellcode="excMaxBaseSum">Перевищення максимальної бази</a></td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"excMaxBaseSum","decimal2"{{/$fs}}</td>
    </tr>
    <tr>
        <td style="border: 1px solid;" colspan="2"><a href="#" data-cellcode="dismAccrualSum">Нарахування звільненим, на які не нараховується ЄСВ</a></td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"dismAccrualSum","decimal2"{{/$fs}}</td>
    </tr>
    <tr>
        <td style="border: 1px solid;" colspan="2">Сума, на яку повинно бути нараховано ЄСВ</td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"chargedPlanSum","decimal2"{{/$fs}}</td>
    </tr>
    <tr>
        <td style="border: 1px solid;" colspan="2"><a href="#" data-cellcode="chargedFactSum">Сума, на яку фактично нараховано ЄСВ</a></td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"chargedFactSum","decimal2"{{/$fs}}</td>
    </tr>
    <tr>
        <td style="border: 1px solid;" colspan="2"><a href="#" data-cellcode="controlChargedSum">Контроль суми, на яку нараховано ЄСВ</a></td>
        <!--{{#correctChargedSum}}-->
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"controlChargedSum","decimal2"{{/$fs}}</td>
        <!--{{/correctChargedSum}}-->
        <!--{{^correctChargedSum}}-->
        <td style="text-align: right; border: 1px solid black; color: red;">{{#$fs}}"controlChargedSum","decimal2"{{/$fs}}</td>
        <!--{{/correctChargedSum}}-->
    </tr>
    <tr>
        <td style="border: 1px solid;" colspan="2"><a href="#" data-cellcode="factSum">Фактично нараховане ЄСВ</a></td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"factSum","decimal2"{{/$fs}}</td>
    </tr>
    <tr>
        <td style="border: 1px solid;" colspan="2"><a href="#" data-cellcode="taxBaseSum">ЄСВ на загальну базу оподаткування</a></td>
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"taxBaseSum","decimal2"{{/$fs}}</td>
    </tr>
    <tr>
        <td style="border: 1px solid;" colspan="2"><a href="#" data-cellcode="controlSum">Контроль суми нарахованого ЄСВ</a></td>
        <!--{{#correctControlSum}}-->
        <td style="text-align: right; border: 1px solid;">{{#$fs}}"controlSum","decimal2"{{/$fs}}</td>
        <!--{{/correctControlSum}}-->
        <!--{{^correctControlSum}}-->
        <td style="text-align: right; border: 1px solid black; color: red;">{{#$fs}}"controlSum","decimal2"{{/$fs}}</td>
        <!--{{/correctControlSum}}-->
    </tr>
    </tbody>
</table>