<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 14pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 70px 0px 10px;" border="0px" width="1140px" cellspacing="0" cellpadding="0px">
    <tbody>
    <tr>
        <td style="width: 270px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 115px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 115px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 85px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 85px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 85px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 85px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 115px; padding: 0; font-size: 1pt;">&nbsp;</td>
        <td style="width: 185px; padding: 0; font-size: 1pt;">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: center; font-weight: bold;" colspan="9">{{{title}}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 7pt; text-align: center; " colspan="9">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: left; vertical-align: top;">Варіант обчислення стажу:</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: left; vertical-align: top;" colspan="8">{{{experienceMethodTitle}}}</td>
    </tr>
    <!--{{#data1}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 7pt; text-align: center; " colspan="9">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: left; " colspan="9">1. За закладкою "Стажі" картки особи на дату {{{onDate}}} (включно)</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;" >Вид стажу</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;" >Приведена дата стажу</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;" >Дата припинення збільшення стажу</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;" >Років</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;" >Місяців</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;" >Днів</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: right; text-align: center; font-weight: bold;" >Загальна кількість днів</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: right; text-align: center; font-weight: bold;" >Розраховано за трудовою</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: right; text-align: center; font-weight: bold;" >Дата останніх змін</td>
    </tr>
    <!--{{#rows}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; vertical-align: top; text-align: left;">{{name}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; vertical-align: top; text-align: center;">{{calcDate}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; vertical-align: top; text-align: center;">{{endDate}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; vertical-align: top; text-align: center;">{{years}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; vertical-align: top; text-align: center;">{{months}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; vertical-align: top; text-align: center;">{{days}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; vertical-align: top; border-right: 1px solid; text-align: center;">{{cntDays}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; vertical-align: top; border-right: 1px solid; text-align: center;">{{fromWorkbook}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; vertical-align: top; border-right: 1px solid; text-align: center;">{{modifyDate}}</td>
    </tr>
    <!--{{/rows}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: left; " colspan="9">Таке значення Стажів буде відображатись до моменту призначення Особи на Посаду {{{onDate}}}</td>
    </tr>
    <!--{{/data1}}-->
    <!--{{#data2}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 7pt; text-align: center; " colspan="9">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: left; " colspan="9">2. Перерахунок всіх стажів, якщо особу буде призначено з {{{onDate}}} (виключно)</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;" >Вид стажу</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;" >Приведена дата стажу</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;" >Дата припинення збільшення стажу</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;" >Років</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;" >Місяців</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center; font-weight: bold;" >Днів</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; text-align: right; text-align: center; font-weight: bold;" >Загальна кількість днів</td>
        <td style="border: 0px;" >&nbsp;</td>
        <td style="border: 0px;" >&nbsp;</td>
    </tr>
    <!--{{#rows}}-->
    <tr <!--{{#isRecalc}}--> style="background: #EEEEEE" <!--{{/isRecalc}}-->>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; vertical-align: top; text-align: left;">{{name}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; vertical-align: top; text-align: center;">{{calcDate}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; vertical-align: top; text-align: center;">{{endDate}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; vertical-align: top; text-align: center;">{{years}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; vertical-align: top; text-align: center;">{{months}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; vertical-align: top; text-align: center;">{{days}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; vertical-align: top; border-right: 1px solid; text-align: center;">{{cntDays}}</td>
        <td style="border: 0px; background: #FFFFFF;" >&nbsp;</td>
        <td style="border: 0px; background: #FFFFFF;" >&nbsp;</td>
    </tr>
    <!--{{/rows}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: left; " colspan="9">Значення Приведених дат стажів можуть змінюватись при призначені Особи (у випадках, коли наявне переривання трудової діяльності)</td>
    </tr>
    <!--{{/data2}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 7pt; text-align: center; " colspan="9">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; text-align: left; " colspan="9">Примітка 1. {{{remark1Text}}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 7pt; text-align: center; " colspan="9">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 10pt; text-align: left; " colspan="9">Примітка 2.  Кількість днів стажу у Таблиці 2 менша на один день, ніж у Таблиці 1 (для неперервних стажів), оскільки при розрахунку стажу на Дату призначення НЕ ВРАХОВУЄТЬСЯ день призначення.</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 7pt; text-align: center; " colspan="9">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: left; " colspan="9">Дата формування довідки: {{{createDateTimeStr}}}</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 14pt; text-align: left; " colspan="9">Довідку сформував: {{{userName}}}</td>
    </tr>
    </tbody>
</table>