<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="{{widthTable}}px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 14pt;" colspan="{{colSpan}}">Список осіб з пільгами</td>
    </tr>
    <tr>
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 14pt;" colspan="{{colSpan}}">{{organizationName}}</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="text-align: left; width: 100%; font-size: 12pt;" colspan="{{colSpan}}">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <!--{{#workPlace}}-->
    <tr>
        <td style="text-align: left; width: 100%; font-size: 12pt;" colspan="{{colSpan}}">Місце роботи: {{workPlace}}</td>
    </tr>
    <!--{{/workPlace}}-->
    <tr>
        <td style="width: 100%; text-align: right; font-size: 12pt;" colspan="{{colSpan}}">Станом на {{dateFrom}}</td>
    </tr>
    <tr style="font-size: 12pt;">
        <td style="width: 50px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">№ з/п</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Назва пільги</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Кількість додаткових<br/>днів відпустки</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата початку дії<br/>пільги</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Дата закінчення дії<br/>пільги</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Інвалідність</td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Додаткова інформація</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Примітки</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Посада</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Фактична посада</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Підрозділ</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Самостійний<br/>структурний підрозділ</td>
        <td style="width: 150px; text-align: center; font-family: TimesNewRoman; border: 1px solid; ">Організація</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">Документ</td>

    </tr>
    <!--{{#personTable}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 50px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{pn}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{fullFIO}}</td>
        <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{benefit}}</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{dayCount}}</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{benefitDateFrom}}</td>
        <td style="width: 100px; text-align: center; font-family: TimesNewRoman; border: 1px solid;">{{benefitDateTo}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">
            <!--{{#disability}}-->{{&val}}<br/><!--{{/disability}}-->
        </td>
        <!-- {{#showAddDescrPerson}} -->
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{addDescrPerson}}</td>
        <!-- {{/showAddDescrPerson}} -->
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{comment}}</td>
        <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{posName}}</td>
        <!-- {{#useActualPositionName}} -->
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{actualPositionName}}</td>
        <!-- {{/useActualPositionName}} -->
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{depName}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{structDepName}}</td>
        <td style="width: 150px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">{{orgName}}</td>
        <td style="width: 100px; text-align: left; font-family: TimesNewRoman; border: 1px solid;">
            <!--{{#benefDocs}}-->
            {{val}}
            <br/>
            <!--{{/benefDocs}}-->
        </td>
    </tr>
    <!--{{/personTable}}-->

    </tbody>
</table>