<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; word-wrap: break-word; border-collapse: collapse;" border="0px" width="1550" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr>
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 14pt;" colspan="11">Список державних службовців (за результатами оцінювання) за {{year}} рік.</td>
    </tr>
    <tr>
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 14pt;" colspan="11">{{organizationName}}</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="text-align: left; width: 100%; font-weight: bold; font-size: 14pt;" colspan="11">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <tr>
        <td style="width: 100%; text-align: left; font-size: 12pt;" colspan="11">Станом на {{dateFrom}}</td>
    </tr>
    <tr style="font-size: 12pt;">
        <td style="width: 50px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">№ з/п</td>
        <td style="width: 200px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Прізвище, ім'я,<br/>по батькові</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Категорія посади</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Ранг</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Посада</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Підрозділ</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Самостійний<br/>структурний підрозділ</td>
        <td style="width: 100px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Дата оцінювання</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Результат<br/>оцінювання</td>
        <td style="width: 200px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; ">Додаткова<br/>інформація</td>
        <td style="width: 150px; text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">Організація</td>

    </tr>
    <!--{{#personTable}}-->
    <tr style="font-size: 12pt;">
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{pn}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{fullFIO}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{posCategory}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{rankName}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{posName}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{depName }}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{depFirst }}</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{conclusionDate }}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">{{assessmentResult}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{comment}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{orgName}}</td>
    </tr>
    <!--{{/personTable}}-->

    <tr style="font-size: 12pt;">
        <td style="text-align: center; border-bottom: 1px solid; height: 20px" colspan="4"></td>
        <td colspan="2"></td>
        <td style="text-align: center; border-bottom: 1px solid;" colspan="4">{{respName}}</td>
        <td></td>
    </tr>
    <tr style="font-size: 10pt;">
        <td style="text-align: center;" colspan="4">(підпис)</td>
        <td colspan="2"></td>
        <td style="text-align: center;" colspan="4">(ініціали, прізвище)</td>
        <td></td>
    </tr>

    </tbody>
</table>