<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size:10pt; word-wrap: break-word; border-collapse: collapse; margin-right: 5px;" border="0px" width="1000px" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
    <td style="font-size:12pt; text-align: center;border-width:2px 2px 0px 2px;border-color:black;border-style:solid;" colspan="9"><strong>Розрахунковий лист</strong></td>
    </tr>
    <tr>
    <td style="text-align: left;border-width:0px 0px 0px 2px;border-color:black;border-style:solid;" colspan="4">&nbsp;</td>
    <td style="text-align: left;border-width:0px 2px 0px 0px;border-color:black;border-style:solid;" colspan="5"><strong>за</strong>&nbsp;{{periodDescription}}</td>
    </tr>
    <tr>
    <td style="text-align: left;border-width:0px 0px 0px 2px;border-color:black;border-style:solid;" colspan="4">&nbsp;</td>
    <td style="text-align: left;border-width:0px 2px 0px 0px;border-color:black;border-style:solid;" colspan="5">Підрозділ&nbsp;{{departmentName}}</td>
    </tr>
    <tr>
    <td style="text-align: left;border-width:0px 0px 0px 2px;border-color:black;border-style:solid;" colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{employee}}</td>
    <td style="text-align: left;border-width:0px 2px 0px 0px;border-color:black;border-style:solid;" colspan="5">Посада&nbsp;{{position}}</td>
    </tr>
    <tr>
    <td style="text-align: left; border-width:0px 0px 0px 2px;border-color:black;border-style:solid;" colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Норма роб.часу {{timeSheets}}</td>
    <td style="text-align: left;  border-width:0px 2px 0px 0px;border-color:black;border-style:solid;" colspan="5">Оклад&nbsp;{{sumAccrual}}</td>
    </tr>
    <tr>
    <td style="text-align: left; border-width:0px 2px 0px 2px;border-color:black;border-style:solid;" colspan="9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Пільги ПДФО: {{taxLimit}}</td>
    </tr>
    <tr>
    <td style="text-align: center;border-width:0px 2px 0px 2px;border-color:black;border-style:solid;" colspan="9">&nbsp;</td>
    </tr>
    <tr>
    <td style="text-align: right;border-width:0px 0px 0px 2px;border-color:black;border-style:solid;" colspan="6"><strong>Борг за підприємством (борг за робітником) на початок місяця</strong></td>
    <td style="text-align: right;border-width:0px 2px 0px 0px;border-color:black;border-style:solid;" colspan="3">{{orgSumFrom}}</td>
    </tr>
    <tr>
    <td style="text-align: right;border-width:0px 0px 0px 2px;border-color:black;border-style:solid;" colspan="6"><strong>Борг за СС на початок місяця</strong></td>
    <td style="text-align: right;border-width:0px 2px 0px 0px;border-color:black;border-style:solid;" colspan="3">{{fssuSumFrom}}</td>
    </tr>
    <tr>
    <td style="text-align: center;border-width:1px 1px 1px 2px;border-color:black;border-style:solid;" colspan="5"><strong>Нарахування</strong></td>
    <td style="text-align: center;border-width:1px 2px 1px 1px;border-color:black;border-style:solid;" colspan="4"><strong>Утримання</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;border-width:1px 1px 1px 2px;border-color:black;border-style:solid;"><strong>Вид нарахування</strong></td>
    <td style="width: 60px; text-align: center; border: 1px solid black;"><strong>Дні/год.</strong></td>
    <td style="width: 40px; text-align: center; border: 1px solid black;"><strong>%</strong></td>
    <td style="text-align: center; border: 1px solid black;"><strong>Сума</strong></td>
    <td style="text-align: center; border: 1px solid black;"><strong>Період</strong></td>
    <td style="text-align: center; border: 1px solid black;"><strong>Вид утримання</strong></td>
     <td style="width: 40px; text-align: center; border: 1px solid black;"><strong>%</strong></td>
    <td style="text-align: center; border: 1px solid black;"><strong>Сума</strong></td>
    <td style="text-align: center;border-width:1px 2px 1px 1px;border-color:black;border-style:solid;"><strong>Період</strong></td>
    </tr>
    <!--{{#payEl}}-->
    <tr>
    <!--{{#periodSalaryAcc}}-->
    <td style="text-align: left;border-width:1px 1px 1px 2px;border-color:black;border-style:solid; font-weight: bold;" colspan="5">{{perSalAccName}}</td>
    <!--{{/periodSalaryAcc}}-->
    
    <!--{{^periodSalaryAcc}}-->
    <td style="text-align: left;border-width:1px 1px 1px 2px;border-color:black;border-style:solid;">{{payElNameAcc}}</td>
    <td style="text-align: center; border: 1px solid black;">{{daysAcc}}</td>
    <td style="text-align: right; border: 1px solid black;">{{payRate}}</td>
    <td style="text-align: right; border: 1px solid black;">{{paySumAcc}}</td>
    <td style="text-align: center; border: 1px solid black;">{{periodAcc}}</td>
    <!--{{/periodSalaryAcc}}-->
    
    <!--{{#periodSalaryKeep}}-->
    <td style="text-align: left;border-width:1px 2px 1px 1px;border-color:black;border-style:solid; font-weight: bold;" colspan="4">{{perSalKeepName}}</td>
    <!--{{/periodSalaryKeep}}-->
    
    <!--{{^periodSalaryKeep}}-->
    <td style="text-align: left; border: 1px solid black;">{{payElNameKeep}}</td>
    <td style="text-align: right; border: 1px solid black;" >{{keepRate}}</td>
    <td style="text-align: right; border: 1px solid black;">{{paySumKeep}}</td>
    <td style="text-align: center;border-width:1px 2px 1px 1px;border-color:black;border-style:solid;">{{periodKeep}}</td>
    <!--{{/periodSalaryKeep}}-->
    </tr>
    <!--{{/payEl}}-->
    <tr>
    <td style="text-align: right;border-width:1px 1px 1px 2px;border-color:black;border-style:solid;"><strong>Всього</strong></td>
    <td style="text-align: right; border: 1px solid black;"></td>
    <td style="text-align: left; border: unset;">&nbsp;</td>
    <td style="text-align: right; border: 1px solid black;">{{paySumAccTotal}}</td>
    <td style="text-align: left; border: unset;">&nbsp;</td>
    <td style="text-align: right; border: 1px solid black;"><strong>Всього</strong></td>
    <td style="text-align: right; border: 1px solid black;"></td>
    <td style="text-align: right; border: 1px solid black;">{{paySumKeepTotal}}</td>
    <td style="text-align: left;border-width:1px 2px 1px 1px;border-color:black;border-style:solid;">&nbsp;</td>
    </tr>
    <tr>
    <td style="text-align: right;border-width:1px 0px 1px 2px;border-color:black;border-style:solid;" colspan="6"><strong>Належить до виплати</strong></td>
    <td style="text-align: right;border-width:1px 2px 1px 0px;border-color:black;border-style:solid;" colspan="3">{{paySumTotal}}</td>
    </tr>
    <tr>
    <td style="text-align: center;border-width:1px 1px 1px 2px;border-color:black;border-style:solid;" colspan="3"><strong>Виплата</strong></td>
    <td style="text-align: center; border: 1px solid black"><strong>Дата виплати</strong></td>
    <td style="text-align: center; border: 1px solid black" colspan="2"><strong>За період</strong></td>
    <td style="text-align: right; border: 1px solid black;"></td>
    <td style="text-align: center;border-width:1px 2px 1px 1px;border-color:black;border-style:solid;" colspan="2"><strong>Сума</strong></td>
    </tr>
    <!--{{#payouts}}-->
    <tr>
    <td style="text-align: left;border-width:1px 1px 1px 2px;border-color:black;border-style:solid;" colspan="3">{{payoutName}}</td>
    <!--{{#showpayoutdate}}-->
    <td style="text-align: center; border: 1px solid black;">{{payoutDate}}</td>
    <!--{{/showpayoutdate}}-->
    <!--{{^showpayoutdate}}-->
    <td style="text-align: center; border: 1px solid black;"></td>
    <!--{{/showpayoutdate}}-->
    <td style="text-align: center; border: 1px solid black;" colspan="2">{{payoutPeriod}}</td>
    <td style="text-align: right; border: 1px solid black;"></td>
    <td style="text-align: right;border-width:1px 2px 1px 1px;border-color:black;border-style:solid;" colspan="2">{{payoutSum}}</td>
    </tr>
    <!--{{/payouts}}-->
    <tr>
    <td style="text-align: right;border-width:0px 0px 0px 2px;border-color:black;border-style:solid;" colspan="6"><strong>Разом виплачено</strong></td>
    <td style="text-align: right;border-width:0px 2px 0px 0px;border-color:black;border-style:solid;" colspan="3">{{payoutSumTotal}}</td>
    </tr>
    <tr>
    <td style="border-width:0px 2px 0px 2px;border-color:black;border-style:solid;" colspan="9"><strong>&nbsp;</strong></td>
    </tr>
    <tr>
    <td style="text-align: right;border-width:0px 0px 0px 2px;border-color:black;border-style:solid;" colspan="6"><strong>Борг за підприємством (борг за робітником) на кінець місяця</strong></td>
    <td style="text-align: right;border-width:0px 2px 0px 0px;border-color:black;border-style:solid;" colspan="3">{{debtFirst}}</td>
    </tr>
    <tr>
    <td style="text-align: right;border-width:0px 0px 2px 2px;border-color:black;border-style:solid;" colspan="6"><strong>Борг за СС на кінець місяця</strong></td>
    <td style="text-align: right;border-width:0px 2px 2px 0px;border-color:black;border-style:solid;" colspan="3">{{debtSec}}</td>
    </tr>
    </tbody>
    </table>