<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 14pt; line-height: 1.35; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 8px 0px 66px;" border="0px" width="700px" cellspacing="0" cellpadding="0px">
    <tbody>
    <tr>
        <td style="width: 30px; padding: 0;">&nbsp;</td>
        <td style="width: 45px; padding: 0;">&nbsp;</td>
        <td style="width: 200px; padding: 0;">&nbsp;</td>
        <td style="width: 200px; padding: 0;">&nbsp;</td>
        <td style="width: 200px; padding: 0;">&nbsp;</td>
        <td style="width: 75px; padding: 0;">&nbsp;</td>
        <td style="width: 75px; padding: 0;">&nbsp;</td>
        <td style="width: 75px; padding: 0;">&nbsp;</td>
        <td style="width: 75px; padding: 0;">&nbsp;</td>
        <td style="width: 150px; padding: 0;">&nbsp;</td>
        <td style="width: 100px; padding: 0;">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="3">{{{orgName}}}</td>
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="8">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="7">&nbsp;</td>
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: left;" colspan="4"><strong>Звіт про нарахування звільненим</strong></td>
    </tr>

    <tr>
        <td style="padding: 0; margin: 0; font-size: 1pt;" colspan="7">&nbsp;</td>
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: left;" colspan="4">за перiод {{periodName}}</td>
    </tr>


    <tr style="text-align: left; font-size: 12pt;">
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: left;" colspan="3">від {{reportDate}}</td>
        <td style="font-family: TimesNewRoman; font-size: 14pt; padding: 0px 1px 0px 1px; text-align: center;" colspan="8"> </td>
    </tr>
    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">№</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Таб.№</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Прізвище I.Б.</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Посада</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Підрозділ</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="2">Дата звільнення</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="2">Обліковий період</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;">Вид оплати</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; border-right: 1px solid;">Сума</td>
    </tr>
    <!--{{#data}}-->
    <tr style="font-size: 11pt; vertical-align: bottom; page-break-inside: avoid;">
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{numb}}</td>
        <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{tabNum}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{fullFIO}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{posName}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{depName}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;" colspan="2">{{dateTo}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;" colspan="2">{{periodSalary}}</td>
        <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{payElName}}</td>
        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
    </tr>
    <!--{{/data}}-->

    <tr style="font-weight: bold; font-size: 11pt;">
        <td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="10">Разом:</td>
        <td style="text-align: right; font-weight: bold; border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;" colspan="1">{{#$fs}}"allSum","decimal2"{{/$fs}}</td>
    </tr>

    <tr style="font-size: 14pt; font-weight: bold;">
        <td style="text-align: center;font-weight: bold; border-bottom: 1px solid;" colspan="3">{{headPosition}}</td>
        <td style="font-family: TimesNewRoman;  font-size: 11pt; padding: 0px; " colspan="1">&nbsp;</td>
        <td style="text-align: center;font-weight: bold; border-bottom: 1px solid;" colspan="3"> </td>
        <td style="font-family: TimesNewRoman;  font-size: 11pt; padding: 0px; " colspan="1">&nbsp;</td>
        <td style="text-align: center;font-weight: bold; border-bottom: 1px solid;" colspan="3">{{headEmployee}}</td>

    </tr>

    <tr>
        <td style="font-family: TimesNewRoman; vertical-align: top; text-align: center; font-size: 9pt;" colspan="3">(посада)</td>
        <td style="font-family: TimesNewRoman;  font-size: 11pt; padding: 0px; " colspan="1">&nbsp;</td>
        <td style="font-family: TimesNewRoman; vertical-align: top; text-align: center; font-size: 9pt;" colspan="3">(підпис)</td>
        <td style="font-family: TimesNewRoman;  font-size: 11pt; padding: 0px; " colspan="1">&nbsp;</td>
        <td style="font-family: TimesNewRoman; vertical-align: top; text-align: center; font-size: 9pt;" colspan="3">(ініціали та прізвище)</td>
    </tr>
    </tbody>
</table>