<!--%pageOrientation:portrait-->
    <!--{{#nodata}}-->
    <table style="width: 780px; font-family: TimesNewRoman; font-size: 12pt; table-layout: fixed; border-collapse: collapse; word-break: normal;" border="0px" cellspacing="0" cellpadding="3px">
    <tbody>
        <tr>
            <td style="width: 780px;">&nbsp;</td>
        </tr>
    </tbody>
    </table>
    <!--{{/nodata}}-->

    <!--{{#pos}}-->
    <table style="width: 780px; font-family: TimesNewRoman; font-size: 12pt; table-layout: fixed; border-collapse: collapse; word-break: normal;" border="0px" cellspacing="0" cellpadding="3px">
    <tbody>
        <tr style="font-size: 5pt; height: 5px">
            <td style="width: 30px;">&nbsp;</td>
            <td style="width: 250px;">&nbsp;</td>
            <td style="width: 250px;">&nbsp;</td>
            <td style="width: 250px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 30px;border: 0px solid;">&nbsp;</td>
            <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt;" colspan="3">{{{previousText}}}</td>
        </tr>
        <tr style="height: 45px">
            <td style="width: 30px;">&nbsp;</td>
            <td style="width: 750px; vertical-align: bottom; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold; text-align: center;" colspan="3">ВИТЯГИ З ГРАФІКУ НАДАННЯ ЩОРІЧНИХ ВІДПУСТОК</td>
        </tr>
        <tr>
            <td style="width: 30px;">&nbsp;</td>
            <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold;" colspan="3">Про надання відпусток</td>
        </tr>
        <tr>
            <td style="width: 30px;">&nbsp;</td>
            <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt;" colspan="3">Надати {{{preamble}}} відпустки працівникам {{organizationName}}:</td>
        </tr>

        <tr>
            <td style="width: 30px;">&nbsp;</td>
            <td style="text-indent:55px; width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: justify;" colspan="3">{{text}}</td>
        </tr>
        <!--{{#actingInfo}}-->
        <tr>
            <td style="width: 30px;"></td>
            <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: justify;" colspan="3">{{{actingInfo}}}</td>
        </tr>
        <!--{{/actingInfo}}-->
        <tr style="height: 30px">
            <td style="width: 30px;">&nbsp;</td>
            <td style="width: 750px; vertical-align: bottom; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold; text-align: center;" colspan="3">&nbsp;</td>
        </tr>

        <tr style="height: 48px">
            <td style="width: 30px;">&nbsp;</td>
            <td style="width: 250px; vertical-align: bottom; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px;  border-bottom-style: solid;">&nbsp;</td>
            <td style="width: 250px; vertical-align: bottom; font-family: TimesNewRoman; font-size: 12pt;">&nbsp;</td>
            <td style="width: 250px; vertical-align: bottom; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px;  border-bottom-style: solid;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 30px;">&nbsp;</td>
            <td style="width: 250px; vertical-align: top; font-family: TimesNewRoman; font-size: 8pt; text-align: center;">Посада</td>
            <td style="width: 250px; vertical-align: top; font-family: TimesNewRoman; font-size: 12pt;">&nbsp;</td>
            <td style="width: 250px; vertical-align: top; font-family: TimesNewRoman; font-size: 8pt; text-align: center;">Ініціали та ПРІЗВИЩЕ</td>
        </tr>
</tbody>
</table>

    <!--{{/pos}}-->
        <!--{{#orgUnits}}-->
{{&page}}
<table style="width: 780px; font-family: TimesNewRoman; font-size: 12pt; table-layout: fixed; border-collapse: collapse; word-break: normal;" border="0px" cellspacing="0" cellpadding="3px">
<tbody>
    <tr style="font-size: 5pt; height: 5px">
        <td style="width: 30px;">&nbsp;</td>
        <td style="width: 250px;">&nbsp;</td>
        <td style="width: 250px;">&nbsp;</td>
        <td style="width: 250px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 30px;border: 0px solid;">&nbsp;</td>
        <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt;" colspan="3">{{{previousText}}}</td>
    </tr>
    <tr style="height: 45px">
        <td style="width: 30px;">&nbsp;</td>
        <td style="width: 750px; vertical-align: bottom; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold; text-align: center;" colspan="3">ВИТЯГИ З ГРАФІКУ НАДАННЯ ЩОРІЧНИХ ВІДПУСТОК</td>
    </tr>
    <tr>
        <td style="width: 30px;">&nbsp;</td>
        <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold;" colspan="3">Про надання відпусток</td>
    </tr>
    <tr>
        <td style="width: 30px;">&nbsp;</td>
        <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt;" colspan="3">Надати {{{preamble}}} відпустки працівникам {{organizationName}}:</td>
    </tr>

            <!--{{#header}}-->
            <tr>
                <td style="width: 30px;">&nbsp;</td>
                <td style="width: 750px; vertical-align: bottom; font-family: TimesNewRoman; font-size: 12pt; text-align: center; font-weight:bold;" colspan="3">{{orgUnitName}}</td>
            </tr>
            <!--{{/header}}-->
            <!--{{#pos}}-->
                <tr>
                    <td style="width: 30px;">&nbsp;</td>
                    <td style="text-indent:55px; width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: justify; text-indent: 34px;" colspan="3">{{text}}</td>
                </tr>
                <!--{{#actingInfo}}-->
                    <tr>
                        <td style="width: 30px;">&nbsp;</td>
                        <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: justify;" colspan="3">{{actingInfo}}</td>
                    </tr>
                <!--{{/actingInfo}}-->
                <tr style="height: 30px">
                    <td style="width: 30px;">&nbsp;</td>
                    <td style="width: 750px; vertical-align: bottom; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold; text-align: center;" colspan="3">&nbsp;</td>
                </tr>
            <!--{{/pos}}-->
            <!--{{#units}}-->
                <tr>
                    <td style="width: 30px;">&nbsp;</td>
                    <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: center; font-weight:bold;" colspan="3">{{orgUnitName}}</td>
                </tr>
                <!--{{#pos}}-->
                    <tr>
                        <td style="width: 30px;">&nbsp;</td>
                        <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: justify; text-indent: 34px;" colspan="3">{{text}}</td>
                    </tr>
                    <!--{{#actingInfo}}-->
                    <tr>
                        <td style="width: 30px;">&nbsp;</td>
                        <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: justify;" colspan="3">{{{actingInfo}}}</td>
                    </tr>
                    <!--{{/actingInfo}}-->
                    <tr style="height: 30px">
                        <td style="width: 30px;">&nbsp;</td>
                        <td style="width: 750px; vertical-align: bottom; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold; text-align: center;" colspan="3">&nbsp;</td>
                    </tr>
                <!--{{/pos}}-->
                <!--{{#units}}-->
                    <tr>
                        <td style="width: 30px;">&nbsp;</td>
                        <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: center; font-weight:bold;" colspan="3">{{orgUnitName}}</td>
                    </tr>
                    <!--{{#pos}}-->
                        <tr>
                            <td style="width: 30px;">&nbsp;</td>
                            <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: justify; text-indent: 34px;" colspan="3">{{text}}</td>
                        </tr>
                        <!--{{#actingInfo}}-->
                        <tr>
                            <td style="width: 30px;">&nbsp;</td>
                            <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: justify;" colspan="3">{{{actingInfo}}}</td>
                        </tr>
                        <!--{{/actingInfo}}-->
                        <tr style="height: 30px">
                            <td style="width: 30px;">&nbsp;</td>
                            <td style="width: 750px; vertical-align: bottom; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold; text-align: center;" colspan="3">&nbsp;</td>
                        </tr>
                    <!--{{/pos}}-->
                    <!--{{#units}}-->
                        <tr>
                            <td style="width: 30px;">&nbsp;</td>
                            <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: center; font-weight:bold;" colspan="3">{{orgUnitName}}</td>
                        </tr>
                        <!--{{#pos}}-->
                            <tr>
                                <td style="width: 30px;">&nbsp;</td>
                                <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: justify; text-indent: 34px;" colspan="3">{{text}}</td>
                            </tr>
                            <!--{{#actingInfo}}-->
                            <tr>
                                <td style="width: 30px;">&nbsp;</td>
                                <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: justify;" colspan="3">{{{actingInfo}}}</td>
                            </tr>
                            <!--{{/actingInfo}}-->
                            <tr style="height: 30px">
                                <td style="width: 30px;">&nbsp;</td>
                                <td style="width: 750px; vertical-align: bottom; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold; text-align: center;" colspan="3">&nbsp;</td>
                            </tr>
                        <!--{{/pos}}-->
                        <!--{{#units}}-->
                            <tr>
                                <td style="width: 30px;">&nbsp;</td>
                                <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: center; font-weight:bold;" colspan="3">{{orgUnitName}}</td>
                            </tr>
                            <!--{{#pos}}-->
                                <tr>
                                    <td style="width: 30px;">&nbsp;</td>
                                    <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: justify; text-indent: 34px;" colspan="3">{{text}}</td>
                                </tr>
                                <!--{{#actingInfo}}-->
                                <tr>
                                    <td style="width: 30px;">&nbsp;</td>
                                    <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: justify;" colspan="3">{{{actingInfo}}}</td>
                                </tr>
                                <!--{{/actingInfo}}-->
                                <tr style="height: 30px">
                                    <td style="width: 30px;">&nbsp;</td>
                                    <td style="width: 750px; vertical-align: bottom; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold; text-align: center;" colspan="3">&nbsp;</td>
                                </tr>
                            <!--{{/pos}}-->
                            <!--{{#units}}-->
                                <tr>
                                    <td style="width: 30px;">&nbsp;</td>
                                    <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: center; font-weight:bold;" colspan="3">{{orgUnitName}}</td>
                                </tr>
                                <!--{{#pos}}-->
                                    <tr>
                                        <td style="width: 30px;">&nbsp;</td>
                                        <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: justify; text-indent: 34px;" colspan="3">{{text}}</td>
                                    </tr>
                                    <!--{{#actingInfo}}-->
                                    <tr>
                                        <td style="width: 30px;">&nbsp;</td>
                                        <td style="width: 750px; font-family: TimesNewRoman; font-size: 12pt; text-align: justify;" colspan="3">{{{actingInfo}}}</td>
                                    </tr>
                                    <!--{{/actingInfo}}-->
                                    <tr style="height: 30px">
                                        <td style="width: 30px;">&nbsp;</td>
                                        <td style="width: 750px; vertical-align: bottom; font-family: TimesNewRoman; font-size: 12pt; font-weight:bold; text-align: center;" colspan="3">&nbsp;</td>
                                    </tr>
                                <!--{{/pos}}-->
                            <!--{{/units}}-->
                        <!--{{/units}}-->
                    <!--{{/units}}-->
                <!--{{/units}}-->
            <!--{{/units}}-->

        <tr style="height: 48px">
            <td style="width: 30px;">&nbsp;</td>
            <td style="width: 250px; vertical-align: bottom; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px;  border-bottom-style: solid;">&nbsp;</td>
            <td style="width: 250px; vertical-align: bottom; font-family: TimesNewRoman; font-size: 12pt;">&nbsp;</td>
            <td style="width: 250px; vertical-align: bottom; font-family: TimesNewRoman; font-size: 12pt; border-bottom-width: 1px;  border-bottom-style: solid;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 30px;">&nbsp;</td>
            <td style="width: 250px; vertical-align: top; font-family: TimesNewRoman; font-size: 8pt; text-align: center;">Посада</td>
            <td style="width: 250px; vertical-align: top; font-family: TimesNewRoman; font-size: 12pt;">&nbsp;</td>
            <td style="width: 250px; vertical-align: top; font-family: TimesNewRoman; font-size: 8pt; text-align: center;">Ініціали та ПРІЗВИЩЕ</td>
        </tr>
</tbody>
</table>
        <!--{{/orgUnits}}-->