<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size:10pt; word-wrap: break-word; border-collapse: collapse; width: 1100px;" border="0px" width="1100px" cellspacing="0" cellpadding="0">
<tbody>
<tr style="vertical-align: top;">
    <td style="width: 30px;text-align: center;"></td>
    <td style="width: 150px;text-align: center;"></td>
    <td style="width: 100px;text-align: center;"></td>

    <td style="width: 40px; text-align: center;"></td>
    <td style="width: 60px; text-align: center;"></td>

    <td style="width: 100px;text-align: center;" ></td>
    <td style="width: 50px;text-align: center;" ></td>
    <td style="width: 10px;text-align: center;" ></td>

    <td style="width: 75px;text-align: center;" ></td>
    <td style="width: 25px;text-align: center;" ></td>

    <td style="width: 40px;text-align: center;" ></td>
    <td style="width: 50px;text-align: center;" ></td>

    <td style="width: 90px;text-align: center;" ></td>

    <td style="width: 95px;text-align: center;" ></td>
    <td style="width: 95px;text-align: center;" ></td>

    <td style="width: 90px;text-align: center;"></td>
</tr>

<tr style="height: 30px; vertical-align: bottom;">
        <td colspan="12"></td>
        <td style="text-align: left; font-size: 12pt;" colspan="2">Додаток<br/>до Положення</td>
        <td colspan="3"></td>
</tr>

<tr style="height: 30px; vertical-align: bottom; font-size: 12pt;">
        <td colspan="5"></td>
        <td style="text-align: right;font-weight: bold;" colspan="4"><strong>{{title}} №</strong></td>
        <td style="text-align: center; border-width:0px 0px 1px 0px;border-color:black;border-style:solid;" colspan="4">{{orderNumber}}</td>
        <td style="text-align: center; border-width:0px 0px 0px 0px;border-color:black;border-style:solid;" colspan="3"></td>
</tr>
<tr style="height: 30px">
<td style="width: 100%;font-size:12pt; text-align: center; font-weight: bold;" colspan="16">
<strong>{{titleAbout}}</strong>
</td>
</tr>
<tr style="height: 14pt; vertical-align: bottom;">
        <td colspan="3"></td>
        <td style="font-size: 12pt; text-align: center; border-width:0px 0px 1px 0px;border-color:black;border-style:solid;" colspan="10">{{orgName}}</td>
        <td colspan="3"></td>
</tr>
<tr style="height: 30px; vertical-align: top; ">
        <td colspan="3"></td>
        <td style="font-size:10pt;text-align: center;" colspan="10">(назва підприємства, установи, організації)</td>
        <td colspan="3"></td>
</tr>

<tr style="height: 16px; vertical-align: bottom; font-size: 12pt;">
        <td colspan="5"></td>
        <td style="text-align: right;">вiд "</td>
        <td style="text-align: center; border-width:0px 0px 1px 0px;border-color:black;border-style:solid;">{{orderDateD}}</td>
        <td style="text-align: center;">"</td>
        <td style="text-align: center;border-width:0px 0px 1px 0px;border-color:black;border-style:solid;">{{orderDateM}}</td>
        <td style="text-align: center;">20</td>
        <td style="text-align: center; border-width:0px 0px 1px 0px;border-color:black;border-style:solid;">{{orderDateY}}</td>
        <td style="text-align: center;">року</td>
        <td colspan="4"></td>
</tr>

<!--{{#showCommission}}-->
<tr style="vertical-align: bottom; height: 30px;">
        <td style="width: 100%;font-size:12pt; text-align: left;" colspan="16">Присутні на засіданні:</td>
</tr>
<!--{{/showCommission}}-->

<tr style="vertical-align: bottom; height: 25px;">
        <td colspan="2"></td>
        <td style="text-align: left;" colspan="2"></td>
        <td style="text-align: center; font-size:12pt;" colspan="12">П. І. Б.</td>
</tr>
<!--{{#commission}}-->
<tr style="vertical-align: bottom; height: 25px; font-size:12pt;">
        <td colspan="2"></td>
        <td style="text-align: left;" colspan="3">{{memberName}}</td>
        <td style="text-align: left; border-width:0px 0px 1px 0px;border-color:black;border-style:solid;" colspan="11">{{member}}</td>
</tr>
<!--{{/commission}}-->
<tr>
    <td style="width: 100%;font-size:10pt; text-align: left;" colspan="16">&nbsp;</td>
</tr>

<tr>
    <td style="width: 100%;font-size:12pt; text-align: left;" colspan="16">Розглянувши звернення та документи про призначення матеріального забезпечення застрахованим особам, {{titleCommission}} вирішила:</td>
</tr>
 <!--{{#assignHelpText}}-->
<tr>
    <td style="width: 100%;font-size:12pt; text-align: left;" colspan="16"> {{{assignHelpText}}}</td>
</tr>
 <!--{{/assignHelpText}}-->

 <!--{{#sicknessList}}-->
 <!--{{#titleIllnessKind}}-->
<tr>
    <td style="width: 100%;font-size:12pt; text-align: left;" colspan="16">{{{titleIllnessKind}}}</td>
</tr>
 <!--{{/titleIllnessKind}}-->
<tr style="vertical-align: top;">
   <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" rowspan="2">№ з/п</td>
   <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" rowspan="2">П. І. Б.</td>
   <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" rowspan="2">Номер<br/>страхового<br/>свідоцтва</td>
   <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" rowspan="2" colspan="2">Серія та номер<br/>листка<br/>непрацездатності</td>

   <!--{{#sicknessE}}-->
   <td style="padding-bottom: 10px; word-break: keep-all; text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" rowspan="2" colspan="3">Причина<br/>непрацездатності:<br/>захворювання загальне - 1; вагітність та пологи - 2; догляд за хворою дитиною- 3; догляд за членом сім’ї - 4; догляд за дитиною до 3-х років або дитиною з інвалідністю - 5; карантин - 6; ортопедичне протезування - 7; санаторно-курортне лікування - 8; тимчасове переведення відповідно до медичного висновку - 9; самоізоляція - 10; професійне захворювання - 11; нещасний випадок на виробництві - 12.</td>
   <!--{{/sicknessE}}-->
   <!--{{^sicknessE}}-->
   <td style="padding-bottom: 10px; word-break: keep-all; text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" rowspan="2" colspan="3">Причина<br/>непрацездатності:<br/>захворювання загальне - 1; професійне захворювання - 2; наслідок аварії  на ЧАЕС - 3; нещасний випадок на виробництві - 4; невиробничі травми - 5; контакт з хворими та бактеріоносійство - 6; санаторно-курортне лікування - 7; вагітність та пологи - 8; ортопедичне протезування - 9; догляд - 10; самоізоляція - 11.</td>
   <!--{{/sicknessE}}-->

   <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" rowspan="2" colspan="2">Первинний - 1; Продовження - 2</td>

   <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" colspan="3">Період непрацездатності</td>
   <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" colspan="2">Кількість днів, що підлягають оплаті</td>

   <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" rowspan="2">Розмір допомоги (%)</td>
</tr>
<tr style="vertical-align: top;">
    <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" colspan="2">з</td>
    <td style="text-align: center; border: 1px solid black;">по</td>
    <td style="text-align: center; border: 1px solid black;">разом</td>
    <td style="text-align: center; border: 1px solid black;">у т. ч. за рахунок коштів Фонду</td>
</tr>
<!--{{#sickness}}-->
<tr style="vertical-align: top;">
        <!--{{#total}}-->
        <td style="text-align: left;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" colspan="2">Разом</td>
        <!--{{/total}}-->
        <!--{{^total}}-->
        <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;">{{pn}}</td>
        <td style="text-align: left;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;">{{sFIO}}</td>
        <!--{{/total}}-->
        <td style="text-align: left;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;">{{staxCode}}</td>
        <td style="text-align: left;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" colspan="2">{{serie}} {{number}}</td>

        <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" colspan="3">{{reason}}</td>
        <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" colspan="2">{{parentID}}</td>

        <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" colspan="2">{{dateFrom}}</td>
        <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;">{{dateTo}}</td>

        <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;">{{dayPay}}</td>
        <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;">{{dayFSSU}}</td>

        <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;">{{spercentWork}}</td>
</tr>
<!--{{/sickness}}-->
<tr>
    <td style="width: 100%;font-size:10pt; text-align: left;" colspan="16">&nbsp;</td>
</tr>
<!--{{/sicknessList}}-->

<!--{{#funeralTitle}}-->
<tr>
<td style="width: 100%;font-size:12pt; text-align: left;" colspan="16">{{funeralTitle}}</td>
</tr>
<tr style="vertical-align: top;">
        <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;">№ з/п</td>
        <td style="text-align: center; border: 1px solid black;" colspan="4">П. І. Б.</td>
        <td style="text-align: center; border: 1px solid black;" colspan="5">Номер страхового<br/>свідоцтва</td>
        <td style="text-align: center; border: 1px solid black;" colspan="4">Надані документи</td>
        <td style="text-align: center; border: 1px solid black;" colspan="2">Розмір допомоги</td>
</tr>
<!--{{#funeral}}-->
<tr style="vertical-align: top;">
        <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;">{{pn}}</td>
        <td style="text-align: left; border: 1px solid black;" colspan="4">{{fFIO}}</td>
        <td style="text-align: left; border: 1px solid black;" colspan="5">{{ftaxCode}}</td>
        <td style="text-align: left; border: 1px solid black;" colspan="4">{{fdocs}}</td>
        <td style="text-align: center; border: 1px solid black;" colspan="2">{{#$fs}}"fpaySum","decimal2"{{/$fs}}</td>
</tr>
<!--{{/funeral}}-->
<!--{{/funeralTitle}}-->

 <!--{{#refuseHelpText}}-->
<tr style="height: 40px">
    <td style="width: 100%;font-size:12pt; text-align: left;" colspan="16">{{{refuseHelpText}}}</td>
</tr>
<tr style="vertical-align: top;">
        <td style="text-align: center;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" colspan="2">Вид допомоги</td>
        <td style="text-align: center; border: 1px solid black;" colspan="3">П. І. Б.</td>
        <td style="text-align: center; border: 1px solid black;" colspan="2">Номер<br/>страхового<br/>свідоцтва</td>
        <td style="text-align: center; border: 1px solid black;" colspan="3">Серія, номер<br/>листка<br/>непрацездатності</td>

        <td style="text-align: center; border: 1px solid black;" colspan="3">Період<br/>непрацездатності<br/>з - по</td>

        <td style="text-align: center; border: 1px solid black;">Кількість<br/>днів,що не<br/>підлягають<br/>оплаті </td>
        <td style="text-align: center; border: 1px solid black;">Дата, з якої<br/>припиняється<br/>виплата<br/>допомоги</td>
        <td style="text-align: center; border: 1px solid black;">Причини<br/>відмови в<br/>призначенні<br/>допомоги<br/>(припинення<br/>виплати)</td>
</tr>
 <!--{{/refuseHelpText}}-->

<!--{{#refuseList}}-->
<tr style="vertical-align: top;">
        <td style="text-align: left;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" colspan="2">{{refuseTitle}}</td>
        <td style="text-align: left; border: 1px solid black;" colspan="14"></td>
</tr>
<!--{{#refuse}}-->
<tr style="vertical-align: top;">
        <td style="text-align: left;border-width:1px 1px 1px 1px;border-color:black;border-style:solid;" colspan="2"></td>
        <td style="text-align: left; border: 1px solid black;" colspan="3">{{sFIO}}</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">{{staxCode}}</td>
        <td style="text-align: left; border: 1px solid black;" colspan="3">{{serie}} {{number}}</td>

        <td style="text-align: center; border: 1px solid black;" colspan="3">{{refusalDate}}</td>

        <td style="text-align: center; border: 1px solid black;">{{noPayDays}}</td>
        <td style="text-align: center; border: 1px solid black;">{{dateFromStop}}</td>
        <td style="text-align: left; border: 1px solid black;">{{refusal}}</td>
</tr>
<!--{{/refuse}}-->
<!--{{/refuseList}}-->

<tr style="vertical-align: bottom; height: 40px; font-size:12pt;">
        <td colspan="2"></td>
        <td style="text-align: left;" colspan="2"></td>
        <td style="text-align: center; font-size:12pt;" colspan="6">П. І. Б.</td>
        <td style="text-align: center; font-size:12pt;" colspan="6">Підпис</td>
</tr>
<!--{{#commission}}-->
<tr style="vertical-align: bottom; height: 25px; font-size:12pt;">
        <td colspan="2"></td>
        <td style="text-align: left;" colspan="3">{{memberName}}</td>
        <td style="text-align: left; border-width:0px 0px 1px 0px;border-color:black;border-style:solid;" colspan="11">{{member}}</td>
</tr>
<!--{{/commission}}-->
</tbody>
</table>