<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 10px; table-layout: fixed; line-height: 1.3; border-collapse: collapse; width: {{widthTable}}px; word-break: normal; margin: 0px 10px 0px 70px;" border="0px" cellspacing="0" cellpadding="0px">
    <tbody>
        <tr style="font-size: 1pt;">
            <td style="width: 40px;">&nbsp;</td>
            <td style="width: 280px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 90px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
            <!--{{#useHourlyPay}}-->
            <td style="width: 100px;">&nbsp;</td>
            <!--{{/useHourlyPay}}-->
            <!--{{#accWidths}}-->
            <td style="width: 80px;">&nbsp;</td>
            <!--{{/accWidths}}-->
            <td style="width: 120px;">&nbsp;</td>
            <td style="width: 180px;">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="{{ add1ColCount }}" style="text-align: left; font-size: 10pt;">&nbsp;</td>
            <td colspan="{{ add2ColCount }}" style="text-align: left; font-size: 10pt;">Наказ Міністерства фінансів України</td>
        </tr>
        <tr>
            <td colspan="{{ add1ColCount }}" style="text-align: left; font-size: 10pt;">&nbsp;</td>
            <td colspan="{{ add2ColCount }}" style="text-align: left; font-size: 10pt;">від 28.01.2002р. №57 (у редакції наказу Міністерства фінансів України</td>
        </tr>
        <tr>
            <td colspan="{{ add1ColCount }}" style="text-align: left; font-size: 10pt;">&nbsp;</td>
            <td colspan="{{ add2ColCount }}" style="text-align: left; font-size: 10pt;">від 26.11.2012 №1220)</td>
        </tr>
        <tr>
            <td colspan="{{ add1ColCount }}" style="text-align: left; font-size: 10pt;">&nbsp;</td>
            <td colspan="{{ add2ColCount }}" style="text-align: left; font-size: 14pt; font-weight: bold;">ЗАТВЕРДЖУЮ</td>
        </tr>
        <tr>
            <td colspan="{{ add1ColCount }}" style="text-align: left; font-size: 10pt;">&nbsp;</td>
            <td colspan="{{ add2ColCount }}" style="text-align: left; font-size: 10pt;">штат у кількості {{quantity}} штатних одиниць</td>
        </tr>
        <tr>
            <td colspan="{{ add1ColCount }}" style="text-align: left; font-size: 10pt;">&nbsp;</td>
            <td colspan="{{ add2ColCount }}" style="font-size: 10pt; vertical-align: top; text-align: left;"> з місячним фондом заробітної плати {{fundSum1}} грн.
            </td>
        </tr>
        <tr>
            <td colspan="{{ add1ColCount }}" style="text-align: left; font-size: 10pt;">&nbsp;</td>
            <td colspan="{{ add2ColCount }}" style="font-size: 10pt; vertical-align: top; text-align: left;">({{fundSum1InWords}} грн.)
            </td>
        </tr>
        <tr style="height: 36px;">
            <td colspan="{{ add1ColCount }}" style="text-align: left; font-size: 10pt;">&nbsp;</td>
            <td colspan="{{ add2ColCount }}" style="font-size: 10pt; vertical-align: bottom; text-align: left;">__________&nbsp;&nbsp;{{chiefPosName}} {{chiefPib}}</td>
        </tr>
        <tr>
            <td colspan="{{ add1ColCount }}" style="text-align: left; font-size: 10pt;">&nbsp;</td>
            <td colspan="{{ add2ColCount }}" style="font-size: 8pt; vertical-align: top; text-align: left;">(підпис керівника)</td>
        </tr>
        <tr style="height: 24px;">
            <td colspan="{{ add1ColCount }}" style="text-align: left; font-size: 10pt;">&nbsp;</td>
            <td colspan="{{ add2ColCount }}" style="font-size: 10pt; vertical-align: bottom; text-align: left;">{{onDateStr}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;М.П.</td>
        </tr>
        <tr style="height: 18px;">
            <td colspan="{{ colCount }}" style="text-align: left; font-size: 10pt;">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="{{ colCount }}" style="text-align: center; font-size: 14pt; font-weight: bold; vertical-align: middle;">ШТАТНИЙ РОЗПИС на {{year}} рік</td>
        </tr>
        <tr>
            <td colspan="{{ colCount }}" style="text-align: center; font-size: 14pt; vertical-align: middle;">{{orgName}}</td>
        </tr>
        <!--{{#structDepName}}-->
        <tr>
            <td colspan="{{ colCount }}" style="text-align: center; font-size: 14pt; vertical-align: middle;">{{structDepName}}</td>
        </tr>
        <!--{{/structDepName}}-->
        <!--{{#childDepName}}-->
        <tr>
            <td colspan="{{ colCount }}" style="text-align: center; font-size: 14pt; vertical-align: middle;">{{childDepName}}</td>
        </tr>
        <!--{{/childDepName}}-->
        <!--{{#progClassName}}-->
        <tr>
            <td colspan="{{ colCount }}" style="text-align: center; font-size: 12pt; vertical-align: middle;">{{progClassName}}</td>
        </tr>
        <!--{{/progClassName}}-->
        <!--{{#fundSourceName}}-->
        <tr>
            <td colspan="{{ colCount }}" style="text-align: center; font-size: 12pt; vertical-align: middle;">{{fundSourceName}}</td>
        </tr>
        <!--{{/fundSourceName}}-->
        <!--{{#dictFundTypeName}}-->
        <tr>
            <td colspan="{{ colCount }}" style="text-align: center; font-size: 12pt; vertical-align: middle;">{{dictFundTypeName}} фонд</td>
        </tr>
        <!--{{/dictFundTypeName}}-->
        <tr>
            <td colspan="{{ add3ColCount }}" style="text-align: left; font-size: 10pt;">&nbsp;</td>
            <td colspan="3" style="font-size: 10pt; vertical-align: middle; text-align: left;">Уводиться з __________________ 20____ року</td>
        </tr>
        <tr>
            <td colspan="{{ add4ColCount }}" style="text-align: left; font-size: 10pt;">&nbsp;</td>
            <td colspan="2" style="font-size: 10pt; vertical-align: middle; text-align: left;">(число, місяць, рік)</td>
        </tr>
        <tr style="height: 12px;">
            <td colspan="{{ colCount }}" style="text-align: left; font-size: 10pt;">&nbsp;</td>
        </tr>

        <tr>
            <td style="font-size: 10pt; vertical-align: middle; text-align: center; border: 1px solid;">№<br/>з/п</td>
            <td style="font-size: 10pt; vertical-align: middle; text-align: center; border: 1px solid;">Назва структурного<br/>підрозділу та посад</td>
            <td style="font-size: 10pt; vertical-align: middle; text-align: center; border: 1px solid;">Категорія</td>
            <td style="font-size: 10pt; vertical-align: middle; text-align: center; border: 1px solid;">Код НКУ <br/>"Класифікатор <br/>професій" <br/>ДК 003:2010</td>
            <td style="font-size: 10pt; vertical-align: middle; text-align: center; border: 1px solid;">Кількість<br/>штатних<br/>посад</td>
            <td style="font-size: 10pt; vertical-align: middle; text-align: center; border: 1px solid;">Посадовий<br/>оклад<br/>(грн.)</td>
            <!--{{#useHourlyPay}}-->
            <td style="font-size: 10pt; vertical-align: middle; text-align: center; border: 1px solid;">Оклад за<br/>місяць<br/>(грн.)</td>
            <!--{{/useHourlyPay}}-->
            <!--{{#accNames}}-->
            <td style="font-size: 10pt; vertical-align: middle; text-align: center; border: 1px solid;">{{name}}</td>
            <!--{{/accNames}}-->
            <td style="font-size: 10pt; vertical-align: middle; text-align: center; border: 1px solid;">Фонд заробітної плати на місяць (грн.)</td>
            <td style="font-size: 10pt; vertical-align: middle; text-align: center; border: 1px solid;">{{{yearFundSumHeader1}}}<br/>{{{yearFundSumHeader2}}}</td>
        </tr>

        <!--{{#data}}-->
        <!--{{#isDepartment}}-->
        <tr style="font-size: 12pt;{{{rowStyle}}}">
            <td colspan="{{ colCount }}" style="text-align: left; border: 1px solid; font-weight: bold; padding: 0px 5px 0px 5px;">{{{html}}}</td>
        </tr>
        <!--{{/isDepartment}}-->
        <!--{{^isDepartment}}-->
        <!--{{#isTotal}}-->
        <tr style="font-size: 12pt; {{{rowStyle}}}">
            <!--{{#isTotalOrg}}-->
            <td style="text-align: left; border: 1px solid; vertical-align: center; padding: 0px 5px 0px 5px;" colspan="4">{{{html}}}</td>
            <!--{{/isTotalOrg}}-->
            <!--{{^isTotalOrg}}-->
            <td style="text-align: left; {{borderStyle}} vertical-align: top; padding: 0px 5px 0px 5px;" colspan="4">{{{html}}}</td>
            <!--{{/isTotalOrg}}-->
            <td style="text-align: center; border: 1px solid; vertical-align: top;">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
            <!--{{#useHourlyPay}}-->
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayHour","{{roundTo}}"{{/$fs}}</td>
            <!--{{/useHourlyPay}}-->
            <!--{{#accValues}}-->
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"value","{{roundTo}}"{{/$fs}}</td>
            <!--{{/accValues}}-->
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"fundSum1","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"fundSum2","{{roundTo}}"{{/$fs}}</td>
        </tr>
        <!--{{/isTotal}}-->
        <!--{{^isTotal}}-->
        <tr style="font-size: 10pt;">
            <td style="text-align: center; border: 1px solid;">{{indexNum}}</td>
            <td style="text-align: left; border: 1px solid; vertical-align: top; padding: 0px 5px 0px 5px;">{{{html}}}</td>
            <td style="text-align: left; border: 1px solid; vertical-align: top; padding: 0px 5px 0px 5px;">{{empCategoryName}}</td>
            <td style="text-align: center; border: 1px solid;">{{profCode}}</td>
            <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
            <!--{{#useHourlyPay}}-->
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayHour","{{roundTo}}"{{/$fs}}</td>
            <!--{{/useHourlyPay}}-->
            <!--{{#accValues}}-->
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"value","{{roundTo}}"{{/$fs}}</td>
            <!--{{/accValues}}-->
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"fundSum1","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"fundSum2","{{roundTo}}"{{/$fs}}</td>
        </tr>
        <!--{{/isTotal}}-->
        <!--{{#isTotalOrg}}-->
            <td colspan="{{ colCount }}" style="text-align: left; font-size: 10pt;">&nbsp;</td>
        <!--{{/isTotalOrg}}-->
        <!--{{/isDepartment}}-->
        <!--{{/data}}-->

        <!--{{#signerInfo}}-->
        <tr style="height: 18px;">
            <!--{{#fullEmpty}}-->
            <td></td>
            <!--{{/fullEmpty}}-->
        </tr>
        <tr style="font-size: 10pt; text-align: left;">
            <td></td>
            <td>{{pos}}</td>
            <td></td>
            <td style="text-align: center;">____________</td>
            <td></td>
            <td colspan="2">{{name}}</td>
            <!--{{#signerEmpty}}-->
            <td></td>
            <!--{{/signerEmpty}}-->
        </tr>
        <!--{{/signerInfo}}-->
    </tbody>
</table>