<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 10px; table-layout: fixed; line-height: 1.3; border-collapse: collapse; width: 1230px; word-break: normal; margin: 0px 10px 0px 70px;" border="0px" cellspacing="0" cellpadding="0px">
    <tbody>
        <tr style="font-size: 1pt;">
            <td style="width: 40px;">&nbsp;</td>
            <td style="width: 280px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 90px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 80px;">&nbsp;</td>
            <td style="width: 80px;">&nbsp;</td>
            <td style="width: 80px;">&nbsp;</td>
            <td style="width: 80px;">&nbsp;</td>
            <td style="width: 120px;">&nbsp;</td>
            <td style="width: 180px;">&nbsp;</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="6" style="text-align: left; font-size: 10pt;">Наказ Міністерства фінансів України</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="6" style="text-align: left; font-size: 10pt;">від 28.01.2002р. №57 (у редакції наказу Міністерства фінансів України</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="6" style="text-align: left; font-size: 10pt;">від 26.11.2012 №1220)</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="6" style="text-align: left; font-size: 14pt; font-weight: bold;">ЗАТВЕРДЖУЮ</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="6" style="text-align: left; font-size: 10pt;">штат у кількості {{quantity}} штатних одиниць</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="6" style="font-size: 10pt; vertical-align: top; text-align: left;">
                з місячним фондом заробітної плати {{fundSum1}} грн.
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="6" style="font-size: 10pt; vertical-align: top; text-align: left;">
                ({{fundSum1InWords}} грн.)
            </td>
        </tr>
        <tr style="height: 36px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="font-size: 10pt; vertical-align: bottom; text-align: left;">__________</td>
            <td colspan="5" style="font-size: 10pt; vertical-align: bottom; text-align: left;">{{chiefPosName}} {{chiefPib}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2" style="font-size: 8pt; vertical-align: top; text-align: left;">(підпис керівника)</td>
            <td colspan="4" style="font-size: 8pt; vertical-align: top; text-align: center;"></td>
        </tr>
        <tr style="height: 24px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2" style="font-size: 10pt; vertical-align: bottom; text-align: left;">{{onDateStr}}</td>
            <td style="font-size: 10pt; vertical-align: top; text-align: center;">М.П.</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="height: 18px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="11" style="text-align: center; font-size: 14pt; font-weight: bold; vertical-align: middle;">ШТАТНИЙ РОЗПИС на {{year}} рік</td>
        </tr>
        <!--{{#structDepName}}-->
        <tr>
            <td colspan="11" style="text-align: center; font-size: 14pt; vertical-align: middle;">{{structDepName}}</td>
        </tr>
        <!--{{/structDepName}}-->
        <!--{{#childDepName}}-->
        <tr>
            <td colspan="11" style="text-align: center; font-size: 14pt; vertical-align: middle;">{{childDepName}}</td>
        </tr>
        <!--{{/childDepName}}-->
        <tr>
            <td colspan="11" style="text-align: center; font-size: 14pt; vertical-align: middle;">{{orgName}}</td>
        </tr>
        <!--{{#progClassName}}-->
        <tr>
            <td colspan="11" style="text-align: center; font-size: 14pt; vertical-align: middle;">{{progClassName}}</td>
        </tr>
        <!--{{/progClassName}}-->
        <!--{{#fundName}}-->
        <tr>
            <td colspan="11" style="text-align: center; font-size: 14pt; vertical-align: middle;">{{fundName}}</td>
        </tr>
        <!--{{/fundName}}-->
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="3" style="font-size: 10pt; vertical-align: middle; text-align: left;">Уводиться з __________________ 20__ року</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2" style="font-size: 10pt; vertical-align: middle; text-align: left;">(число, місяць, рік)</td>
        </tr>
        <tr style="height: 12px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr style="font-size: 10pt; text-align: center;">
            <td style="vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">№</td>
            <td style="vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">Назва структурного</td>
            <td style="vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">Код НКУ</td>
            <td style="vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">Кількість</td>
            <td style="vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">Посадовий оклад</td>
            <td colspan="2" style="border: 1px solid;">Надбавки (грн)</td>
            <td colspan="2" style="border: 1px solid;">Доплати (грн)</td>
            <td style="vertical-align: bottom; border-left: 1px solid; border-top: 1px solid;">Фонд заробітної плати на місяць</td>
            <td style="vertical-align: bottom; border-left: 1px solid; border-top: 1px solid; border-right: 1px solid;">{{{yearFundSumHeader1}}}</td>
        </tr>
        <tr style="font-size: 10pt; text-align: center;">
            <td style="vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">з/п</td>
            <td style="vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">підрозділу та посад</td>
            <td style="vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">"Класифікатор профеcій"</td>
            <td style="vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">шт. од.</td>
            <td style="vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">(грн.)</td>
            <td style="border: 1px solid;">-</td>
            <td style="border: 1px solid;">стаж</td>
            <td style="border: 1px solid;"></td>
            <td style="border: 1px solid;"></td>
            <td style="vertical-align: top; border-left: 1px solid; border-bottom: 1px solid;">(грн.)</td>
            <td style="vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{{yearFundSumHeader2}}}</td>
        </tr>
        <tr style="text-align: center; font-size: 8pt;">
            <td style="border: 1px solid;">1</td>
            <td style="border: 1px solid;">2</td>
            <td style="border: 1px solid;">3</td>
            <td style="border: 1px solid;">4</td>
            <td style="border: 1px solid;">5</td>
            <td style="border: 1px solid;">6</td>
            <td style="border: 1px solid;">7</td>
            <td style="border: 1px solid;">8</td>
            <td style="border: 1px solid;">9</td>
            <td style="border: 1px solid;">10</td>
            <td style="border: 1px solid;">11</td>
        </tr>
        <!--{{#data}}-->
        <!--{{#isDepartment}}-->
        <tr style="font-size: 12pt;{{{rowStyle}}}">
            <td style="text-align: left; border: 1px solid; font-weight: bold; padding: 0px 5px 0px 5px;" colspan="11">{{{html}}}</td>
        </tr>
        <!--{{/isDepartment}}-->
        <!--{{^isDepartment}}-->
        <!--{{#isTotal}}-->
        <tr style="font-size: 10pt; font-weight: bold;{{{rowStyle}}}">
            <td style="text-align: left; border: 1px solid; vertical-align: center; padding: 0px 5px 0px 5px;" colspan="3">{{{html}}}</td>
            <td style="text-align: center; border: 1px solid; vertical-align: center;">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid;"></td>
            <td style="text-align: center; border: 1px solid;"></td>
            <td style="text-align: center; border: 1px solid;"></td>
            <td style="text-align: center; border: 1px solid;"></td>
            <td style="text-align: center; border: 1px solid;"></td>
            <td style="text-align: right; border: 1px solid; vertical-align: center; padding: 0px 5px 0px 5px;">{{#$fs}}"fundSum1","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; vertical-align: center; padding: 0px 5px 0px 5px;">{{#$fs}}"fundSum2","{{roundTo}}"{{/$fs}}</td>
        </tr>
        <!--{{/isTotal}}-->
        <!--{{^isTotal}}-->
        <tr style="font-size: 10pt;">
            <td style="text-align: center; border: 1px solid;">{{indexNum}}</td>
            <td style="text-align: left; border: 1px solid; vertical-align: top; padding: 0px 5px 0px 5px;">{{{html}}}</td>
            <td style="text-align: center; border: 1px solid;">{{profCode}}</td>
            <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"addpay6","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"addpay7","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"addpay8","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"addpay9","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"fundSum1","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"fundSum2","{{roundTo}}"{{/$fs}}</td>
        </tr>
        <!--{{/isTotal}}-->
        <!--{{/isDepartment}}-->
        <!--{{/data}}-->
        <tr style="height: 18px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="font-size: 10pt; text-align: left;">
            <td></td>
            <td>{{signerChiefPos}}</td>
            <td></td>
            <td></td>
            <td colspan="2">____________________</td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">{{signerChiefEmp}}</td>
        </tr>
        <tr style="height: 12px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="font-size: 10pt; text-align: left;">
            <td></td>
            <td>{{signerAccChiefPos}}</td>
            <td></td>
            <td></td>
            <td colspan="2">____________________</td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">{{signerAccChiefEmp}}</td>
        </tr>
        <tr style="height: 12px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="font-size: 10pt; text-align: left;">
            <td></td>
            <td>{{signer4EmpOrderPos}}</td>
            <td></td>
            <td></td>
            <td colspan="2">____________________</td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">{{signer4EmpOrderEmp}}</td>
        </tr>
    </tbody>
</table>