<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 10px; table-layout: fixed; line-height: 1.3; border-collapse: collapse; width: 1450px; word-break: normal; margin: 0px 10px 0px 10px;" border="0px" cellspacing="0" cellpadding="0px">
    <tbody>
        <tr style="font-size: 1pt;">
            <td style="width: 200px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 200px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 200px;">&nbsp;</td>
            <td style="width: 200px;">&nbsp;</td>
            <td style="width: 150px;">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="9" style="font-family: TimesNewRoman; text-align: center; font-size: 14pt; font-weight: bold; vertical-align: middle;">Тарифікаційний список працівників. Перевірка</td>
        </tr>
        <tr>
            <td colspan="9" style="font-family: TimesNewRoman; text-align: center; font-size: 14pt; vertical-align: middle;">{{orgName}}</td>
        </tr>
        <tr>
            <td colspan="9" style="font-family: TimesNewRoman; text-align: center; font-size: 12pt; vertical-align: middle;">на {{entryDate}}р.</td>
        </tr>
        <tr>
            <td colspan="9" style="font-family: TimesNewRoman; text-align: center; font-size: 12pt; vertical-align: middle;">№ {{orderNumber}} від {{orderDate}}</td>
        </tr>
        <tr>
            <td colspan="9" style="font-family: TimesNewRoman; text-align: center; font-size: 12pt; vertical-align: middle;">{{orderName}}</td>
        </tr>
        <tr style="height: 12px;">
            <td colspan="9"></td>
        </tr>

        <tr>
            <td colspan="7" style="font-family: TimesNewRoman; text-align: center; font-size: 14pt; font-weight: bold; vertical-align: middle;">Список працівників більше ніж на 1,5 ставки</td>
            <td></td>
            <td></td>
        </tr>

        <tr style="height: 12px;">
            <td colspan="9"></td>
        </tr>

        <tr style="font-size: 12pt; font-weight: bold; text-align: center; vertical-align: center;">
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Прізвище,ім’я та по-батькові</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Таб.№</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Тарифний розряд</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Кількість ставок</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Місце роботи</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Підрозділ</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Посада</td>
            <td></td>
            <td></td>
        </tr>
        <!--{{#data1}}-->
        <tr style="font-family: TimesNewRoman;font-size: 10pt;">
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: left; border: 1px solid;">{{fullFIO}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;">{{{tabNum}}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;">{{{tarifCode}}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"mtCount","decimal2"{{/$fs}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;">{{workPlace}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: left; border: 1px solid; padding: 0px 5px 0px 5px;">{{depName}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: left; border: 1px solid; padding: 0px 5px 0px 5px;">{{posName}}</td>
            <td></td>
            <td></td>
        </tr>
        <!--{{/data1}}-->
        <tr style="height: 12px;">
            <td colspan="9"></td>
        </tr>

        <tr>
            <td colspan="7" style="font-family: TimesNewRoman; text-align: center; font-size: 14pt; font-weight: bold; vertical-align: middle;">Список працівників більше ніж на 1 ставку основного місця роботи</td>
            <td></td>
            <td></td>
        </tr>

        <tr style="height: 12px;">
            <td colspan="9"></td>
        </tr>

        <tr style="font-size: 12pt; font-weight: bold; text-align: center; vertical-align: center;">
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Прізвище,ім’я та по-батькові</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Таб.№</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Тарифний розряд</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Кількість ставок</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Місце роботи</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Підрозділ</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Посада</td>
            <td></td>
            <td></td>
        </tr>
        <!--{{#data2}}-->
        <tr style="font-family: TimesNewRoman;font-size: 10pt;">
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: left; border: 1px solid;">{{fullFIO}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;">{{{tabNum}}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;">{{{tarifCode}}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"mtCount","decimal2"{{/$fs}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;">{{workPlace}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: left; border: 1px solid; padding: 0px 5px 0px 5px;">{{depName}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: left; border: 1px solid; padding: 0px 5px 0px 5px;">{{posName}}</td>
            <td></td>
            <td></td>
        </tr>
        <!--{{/data2}}-->
        <tr style="height: 12px;">
            <td colspan="9"></td>
        </tr>

        <tr>
            <td colspan="9" style="font-family: TimesNewRoman; text-align: center; font-size: 14pt; font-weight: bold; vertical-align: middle;">Список працівників з тарифним розрядом поза межами можливих для посади</td>
        </tr>

        <tr style="height: 12px;">
            <td colspan="9"></td>
        </tr>

        <tr style="font-size: 12pt; font-weight: bold; text-align: center; vertical-align: center;">
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Прізвище,ім’я та по-батькові</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Таб.№</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Тарифний розряд</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Кількість ставок</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Кваліфікаційна категорія</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Місце роботи</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Підрозділ</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Посада</td>
            <td style="font-family: TimesNewRoman; font-size: 12pt; border: 1px solid;">Примітка</td>
        </tr>
        <!--{{#data3}}-->
        <tr style="font-family: TimesNewRoman;font-size: 10pt;">
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: left; border: 1px solid;">{{fullFIO}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;">{{{tabNum}}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;">{{{tarifCode}}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"mtCount","decimal2"{{/$fs}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;">{{dictEmpCategoryName}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;">{{workPlace}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: left; border: 1px solid; padding: 0px 5px 0px 5px;">{{depName}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: left; border: 1px solid; padding: 0px 5px 0px 5px;">{{posName}}</td>
            <td style="font-family: TimesNewRoman;font-size: 10pt;text-align: left; border: 1px solid; padding: 0px 5px 0px 5px;">{{remark}}</td>
        </tr>
        <!--{{/data3}}-->
    </tbody>
</table>
