<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; border-collapse: collapse; word-break: normal; font-size: 12pt;" width="870px" cellspacing="0" cellpadding="3px">
    <tbody>
    <tr style="font-size: 1pt;">
        <td style="width: 50px;">&nbsp;</td>
        <td style="width: 350px;">&nbsp;</td>
        <td style="width: 50px;">&nbsp;</td>
        <td style="width: 10px;">&nbsp;</td>
        <td style="width: 10px;">&nbsp;</td>
        <td style="width: 60px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 70px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
        <td style="width: 100px;">&nbsp;</td>
    </tr>
    <tr style="text-align: left; font-weight: bold;">
        <td colspan="5"></td>
        <td colspan="5">ЗАТВЕРДЖЕНО<br/>Наказ Міністерства фінансів<br/>України<br/>28.01.2002 № 57<br/>(у редакції наказу Міністерства<br/>фінансів України<br/>від 26.11.2012 № 1220)</td>
    </tr>
    <tr style="height: 50px; text-align: center; vertical-align: bottom; ">
        <td style="font-weight: bold;" colspan="3">ТИПОВИЙ ШТАТНИЙ</td>
        <td>&nbsp;</td>
        <td colspan="6">ЗАТВЕРДЖЕНО</td>
    </tr>
    <tr style="text-align: center;">
        <td style="vertical-align: top; font-weight: bold;" colspan="3">РОЗПИС</td>
        <td>&nbsp;</td>
        <td colspan="6">штат у кількості {{{totalQuantityStr}}} штатних одиниць з місячним</td>
    </tr>
    <tr style="text-align: center;">
        <td colspan="3">на {{year}} рік</td>
        <td>&nbsp;</td>
        <td colspan="6">фондом заробітної плати {{{totalFunsSumStr}}} гривень</td>
    </tr>
    <tr style="text-align: center;">
        <td style = "border-bottom-width: 1px; border-bottom-style: solid;" colspan="3">{{orgName}}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style = "border-bottom-width: 1px; border-bottom-style: solid;" colspan="5">{{bossPosName}}</td>
    </tr>
    <tr style="text-align: center;">
        <td style = "vertical-align: top;" colspan="3">(назва установи)</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style = "vertical-align: top;" colspan="5">(посада)</td>
    </tr>
    <tr style="text-align: center;">
        <!--{{#depName1}}-->
            <td style = "border-bottom-width: 1px; border-bottom-style: solid;" colspan="3">{{depName1}}</td>
        <!--{{/depName1}}-->
        <!--{{^depName1}}-->
            <td colspan="3">&nbsp;</td>
        <!--{{/depName1}}-->
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style = "border-bottom-width: 1px; border-bottom-style: solid;" colspan="2">&nbsp;</td>
        <td style = "border-bottom-width: 1px; border-bottom-style: solid;" colspan="3">{{bossName}}</td>
    </tr>

    <tr style="text-align: center;">
        <!--{{#depNameButtom1}}-->
            <td colspan="3">{{depNameButtom1}}</td>
        <!--{{/depNameButtom1}}-->
        <!--{{^depNameButtom1}}-->
            <td colspan="3">&nbsp;</td>
        <!--{{/depNameButtom1}}-->
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style = "vertical-align: top;" colspan="2">(підпис керівника)</td>
        <td style = "vertical-align: top;" colspan="3">(ініціали і прізвище)</td>
    </tr>
    <tr style="text-align: center;">
        <!--{{#depName2}}-->
            <td style = "border-bottom-width: 1px; border-bottom-style: solid;" colspan="3">{{depName2}}</td>
        <!--{{/depName2}}-->
        <!--{{^depName2}}-->
            <td colspan="3">&nbsp;</td>
        <!--{{/depName2}}-->
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style = "border-bottom-width: 1px; border-bottom-style: solid;" colspan="3">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr style="text-align: center;">
        <!--{{#depNameButtom2}}-->
            <td colspan="3">{{depNameButtom2}}</td>
        <!--{{/depNameButtom2}}-->
        <!--{{^depNameButtom2}}-->
            <td colspan="3">&nbsp;</td>
        <!--{{/depNameButtom2}}-->
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="3">(число, місяць, рік)</td>
        <td>М.П.</td>
    </tr>
    <tr style="text-align: center;">
        <td colspan="10"></td>
    </tr>

    <tr style="text-align: center;">
        <td style="width: 50px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">№ з/п</td>
        <td style="width: 350px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Назва структурного підрозділу та посад</td>
        <td style="width: 60px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;" colspan="2">Кількість<br/>шт. од.</td>
        <td style="width: 70px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;" colspan="2">Посадовий оклад<br/>(грн.)</td>
        <td style="width: 70px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Надбавки<br/>(грн.)</td>
        <td style="width: 70px; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid;">Доплати <br/>(грн.)</td>
        <td style="width: 100px; border: 1px solid;">Фонд заробітної плати на місяць (грн.)</td>
        <td style="width: 100px; border: 1px solid;">Фонд заробітної плати<br/>на {{year}} рік (грн.)</td>
    </tr>
    <tr style="text-align: center; font-size: 10pt;">
        <td style="width: 50px; border-left: 1px solid; border-bottom: 1px solid;">1</td>
        <td style="width: 350px; border-left: 1px solid; border-bottom: 1px solid;">2</td>
        <td style="width: 60px; border-left: 1px solid; border-bottom: 1px solid;" colspan="2">3</td>
        <td style="width: 70px; border-left: 1px solid; border-bottom: 1px solid;" colspan="2">4</td>
        <td style="width: 70px; border-left: 1px solid; border-bottom: 1px solid;">5</td>
        <td style="width: 70px; border-left: 1px solid; border-bottom: 1px solid;">6</td>
        <td style="width: 100px; border-left: 1px solid; border-bottom: 1px solid;">7</td>
        <td style="width: 100px; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">8</td>
    </tr>
    <!--{{#data}}-->
        <!--{{#isDepartment}}-->
            <tr style="font-size: 12pt;">
                <td style="text-align: left; border: 1px solid; font-weight: bold;" colspan="10">{{{name}}}</td>
            </tr>
        <!--{{/isDepartment}}-->
        <!--{{^isDepartment}}-->
            <!--{{#isTotal}}-->
                <tr style="font-size: 12pt; color: #808080; font-weight: bold;">
                    <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid; font-weight: bold;" colspan="2">{{{name}}}</td>
                    <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid; font-weight: bold;" colspan="2">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
                    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; font-weight: bold;" colspan="2">{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
                    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; font-weight: bold;">{{#$fs}}"basepay5","{{roundTo}}"{{/$fs}}</td>
                    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; font-weight: bold;">{{#$fs}}"basepay6","{{roundTo}}"{{/$fs}}</td>
                    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; font-weight: bold;">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
                    <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid; font-weight: bold;">{{#$fs}}"fundSum12","{{roundTo}}"{{/$fs}}</td>
                </tr>
            <!--{{/isTotal}}-->
            <!--{{^isTotal}}-->
                <tr style="font-size: 12pt;">
                    <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{indexNum}}</td>
                    <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{name}}</td>
                    <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid;" colspan="2">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
                    <!--{{#paymentType}}-->
                        <td style="text-align: center; border: 1px solid;" colspan="6">{{paymentType}}</td>
                    <!--{{/paymentType}}-->
                    <!--{{^paymentType}}-->
                        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;" colspan="2">{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
                        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"basepay5","{{roundTo}}"{{/$fs}}</td>
                        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"basepay6","{{roundTo}}"{{/$fs}}</td>
                        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
                        <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"fundSum12","{{roundTo}}"{{/$fs}}</td>
                    <!--{{/paymentType}}-->
                </tr>
            <!--{{/isTotal}}-->
        <!--{{/isDepartment}}-->
    <!--{{/data}}-->
    <!--{{#dataPC}}-->
        <tr style="font-size: 12pt;">
            <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid;">{{indexNum}}</td>
            <td style="text-align: left; border-left: 1px solid; border-bottom: 1px solid;">{{name}}</td>
            <td style="text-align: center; border-left: 1px solid; border-bottom: 1px solid;" colspan="2">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
            <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;" colspan="2">{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"basepay5","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"basepay6","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid;">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">{{#$fs}}"fundSum12","{{roundTo}}"{{/$fs}}</td>
        </tr>
    <!--{{/dataPC}}-->

    <tr>
        <td colspan="10"></td>
    </tr>
    <tr>
        <td colspan="10"></td>
    </tr>
    <tr>
        <td colspan="10"></td>
    </tr>
    <tr style="text-align: left;">
        <td colspan="4">Керівник</td>
        <td style = "border-bottom-width: 1px; border-bottom-style: solid;" colspan="2"></td>
        <td style = "text-align: center; border-bottom-width: 1px; border-bottom-style: solid;" colspan="4">{{bossName}}</td>
    </tr>
    <tr style="text-align: center;">
        <td colspan="4"></td>
        <td style="vertical-align: top;" colspan="2">(підпис)</td>
        <td style="vertical-align: top;" colspan="4">(ініціали і прізвище)</td>
    </tr>
    <tr>
        <td colspan="10"></td>
    </tr>
    <tr style="text-align: left;">
        <td colspan="4">Керівник бухгалтерської служби /<br/>начальник планово-фінансового підрозділу</td>
        <td style = "border-bottom-width: 1px; border-bottom-style: solid;" colspan="2"></td>
        <td style = "text-align: center; border-bottom-width: 1px; border-bottom-style: solid; vertical-align: bottom; " colspan="4">{{accName}}</td>
    </tr>
    <tr style="text-align: center;">
        <td colspan="4"></td>
        <td style="vertical-align: top;" colspan="2">(підпис)</td>
        <td style="vertical-align: top;" colspan="4">(ініціали і прізвище)</td>
    </tr>
    <tr>
        <td colspan="10"></td>
    </tr>
    <tr style="text-align: left;">
        <td></td>
        <td colspan="9">М.П.</td>
    </tr>
    </tbody>
</table>