<!--%pageOrientation:landscape-->

<table style="font-family: TimesNewRoman; font-size: 10px; table-layout: fixed; line-height: 1.3; border-collapse: collapse; width: 2490px; word-break: normal; margin: 0px 10px 0px 10px;" border="0px" cellspacing="0" cellpadding="0px">
    <tbody>
        <tr style="font-size: 1pt;">
            <td style="width: 40px;">&nbsp;</td>
            <td style="width: 180px;">&nbsp;</td>
            <td style="width: 150px;">&nbsp;</td>
            <td style="width: 50px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 80px;">&nbsp;</td>
            <td style="width: 80px;">&nbsp;</td>
            <td style="width: 80px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 100px;">&nbsp;</td>
            <td style="width: 60px;">&nbsp;</td>
            <td style="width: 60px;">&nbsp;</td>
            <td style="width: 80px;">&nbsp;</td>
            <td style="width: 50px;">&nbsp;</td>
            <td style="width: 80px;">&nbsp;</td>
            <td style="width: 65px;">&nbsp;</td>
            <td style="width: 50px;">&nbsp;</td>
            <td style="width: 80px;">&nbsp;</td>
            <td style="width: 50px;">&nbsp;</td>
            <td style="width: 80px;">&nbsp;</td>
            <td style="width: 50px;">&nbsp;</td>
            <td style="width: 80px;">&nbsp;</td>
            <td style="width: 120px;">&nbsp;</td>
            <td style="width: 120px;">&nbsp;</td>
            <td style="width: 60px;">&nbsp;</td>
            <td style="width: 50px;">&nbsp;</td>
            <td style="width: 80px;">&nbsp;</td>
            <td style="width: 120px;">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="30" style="text-align: center; font-size: 14pt; font-weight: bold; vertical-align: middle;">Тарифікаційний список (фактичний)</td>
        </tr>
        <tr>
            <td colspan="30" style="text-align: center; font-size: 14pt; vertical-align: middle;">{{childDepName}}</td>
        </tr>
        <tr>
            <td colspan="30" style="text-align: center; font-size: 14pt; vertical-align: middle;">{{structDepName}}</td>
        </tr>
        <tr>
            <td colspan="30" style="text-align: center; font-size: 14pt; vertical-align: middle;">{{orgName}}</td>
        </tr>
        <!--{{#progClassName}}-->
        <tr>
            <td colspan="30" style="text-align: center; font-size: 14pt; vertical-align: middle;">{{progClassName}}</td>
        </tr>
        <!--{{/progClassName}}-->
        <!--{{#fundName}}-->
        <tr>
            <td colspan="30" style="text-align: center; font-size: 14pt; vertical-align: middle;">{{fundName}}</td>
        </tr>
        <!--{{/fundName}}-->
        <tr>
            <td colspan="30" style="text-align: center; font-size: 12pt; vertical-align: middle;">на {{onDateStr}}р.</td>
        </tr>
        <tr style="height: 12px;">
            <td colspan="30"></td>
        </tr>

        <tr style="height: 115px; font-size: 8pt; text-align: center;">
            <td style="border-left: 1px solid; border-top: 1px solid; vertical-align: bottom;"></td>
            <td style="border-left: 1px solid; border-top: 1px solid; vertical-align: bottom;"></td>
            <td style="border-left: 1px solid; border-top: 1px solid; vertical-align: bottom;"></td>
            <td rowspan="3" style="border-left: 1px solid; border-top: 1px solid; vertical-align: bottom;"><span style="transform: rotate(-90deg) translateX(115px) translateY(-15px); display: inline-block; width: inherit;">Тарифний&nbsp;розряд</span></td>
            <td rowspan="3" style="border-left: 1px solid; border-top: 1px solid; vertical-align: bottom;"><span style="transform: rotate(-90deg) translateX(115px) translateY(-45px); display: inline-block; width: inherit;">Посадовий&nbsp;оклад&nbsp;визначений&nbsp;за&nbsp;тарифним<br/>розрядом</span></td>
            <td colspan="6" style="border: 1px solid; vertical-align: center;">Підвищення посадового окладу</td>
            <td style="border-left: 1px solid; border-top: 1px solid; vertical-align: bottom;"></td>
            <td colspan="2" style="border: 1px solid; vertical-align: center;">Обсяг роботи за даною посадою (1,0; 0,75; 0,5; 0,25)</td>
            <td colspan="3" style="border: 1px solid; vertical-align: center;">Доплати, що мають обов’язковий характер</td>
            <td colspan="7" style="border: 1px solid; vertical-align: center;">Надбавки, що мають обов’язковий характер</td>
            <td rowspan="3" style="border-left: 1px solid; border-top: 1px solid; vertical-align: bottom;"><span style="transform: rotate(-90deg) translateX(115px) translateY(-45px); display: inline-block; width: inherit;">Місячний&nbsp;фонд&nbsp;заробітної&nbsp;плати&nbsp;без&nbsp;урахування <br/>доплати&nbsp;до&nbsp;мінімальної&nbsp;заробітної&nbsp;плати&nbsp;(у&nbsp;грн)</span></td>
            <td rowspan="3" style="border-left: 1px solid; border-top: 1px solid; vertical-align: bottom;"><span style="transform: rotate(-90deg) translateX(115px) translateY(-55px); display: inline-block; width: inherit;">Доплата&nbsp;до&nbsp;мінімальної&nbsp;заробітної&nbsp;плати,<br/>Доплата&nbsp;згідно&nbsp;Постанови&nbsp;КМУ&nbsp;28&nbsp;від&nbsp;13.01.2023&nbsp;р.</span></td>
            <td colspan="3" style="border: 1px solid; vertical-align: center;">Доплати, що мають обов’язковий характер</td>
            <td style="border-left: 1px solid; border-top: 1px solid; border-right: 1px solid; vertical-align: bottom;"></td>
        </tr>
        <tr style="height: 85px; font-size: 8pt; text-align: center; vertical-align: center;">
            <td style="border-left: 1px solid;">№<br/>з/п</td>
            <td style="border-left: 1px solid;">Назва стурктурного підрозділу,<br/>посада, кваліфікаційна<br/>категорія (розряд)</td>
            <td style="border-left: 1px solid;">Прізвище,ім’я та<br/>по батькові</td>
            <td style="border-left: 1px solid; border-top: 1px solid;">за кваліфікаційну категорію керівникам та їх заступника, завідування,</td>
            <td style="border-left: 1px solid; border-top: 1px solid;">за оперативні втручання</td>
            <td style="border-left: 1px solid; border-top: 1px solid;">за диплом з відзнакою</td>
            <td style="border-left: 1px solid; border-top: 1px solid;">інші підвищення, передбачені пунктом 2.2</td>
            <td style="border-left: 1px solid; border-top: 1px solid;">у зв’язку зі шкідливими і важкими умовами оплати праці</td>
            <td style="border-left: 1px solid; border-top: 1px solid;">інші підвищення (до посадового</td>
            <td style="border-left: 1px solid;">Посадовий оклад<br/>з підвищеннями<br/>Сума (гр.5-11)</td>
            <td style="border-left: 1px solid; border-top: 1px solid;">за основною<br/>посадою</td>
            <td style="border-left: 1px solid; border-top: 1px solid;">за суміс-<br/>ництвом</td>
            <td style="border-left: 1px solid; border-top: 1px solid;">за науковий ступінь</td>
            <td style="border-left: 1px solid; border-top: 1px solid;">%</td>
            <td style="border-left: 1px solid; border-top: 1px solid;">грн</td>
            <td colspan="3" style="border: 1px solid;">Стаж</td>
            <td colspan="2" style="border: 1px solid;">за почесне звання, тривалість безперервної роботи, класність водіїв, доплата шеф-кухарю</td>
            <td colspan="2" style="border: 1px solid;"><!--{{#isMed}}-->Надбавки, згідно Постанови КМУ 1025 від 26.11.2008р.<!--{{/isMed}}--><!--{{^isMed}}-->Інші надбавки, дозволені законодавством<!--{{/isMed}}--></td>
            <td rowspan="2" style="border-left: 1px solid; border-top: 1px solid; vertical-align: bottom;"><span style="transform: rotate(-90deg) translateX(65px) translateY(-35px); display: inline-block; width: inherit;">за&nbsp;використання&nbsp;дезінфікуючих засобів</span></td>
            <td style="border-left: 1px solid; border-top: 1px solid;">%</td>
            <td style="border-left: 1px solid; border-top: 1px solid;">грн</td>
            <td style="border-left: 1px solid; border-right: 1px solid;">Всього місячний фонд заробітної плати (у грн)</td>
        </tr>
        <tr style="font-size: 8pt; text-align: center;">
            <td style="border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;"></td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;"></td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;"></td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;">старшинство, санітарний транспорт (до посадового окладу за гр.5)</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;">(до посадового окладу гр.5)</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;">(до посадового окладу за гр.5)</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;">(до посадового окладу за гр.5)</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;">(до посадового окладу за гр.5 + гр.6 + гр.7 + гр.8 + гр.9)</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;">окладу за гр.6 + гр.7 + гр.8 + гр.9)</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;"></td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;"></td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;"></td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;"></td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;"></td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;"></td>
            <td style="border: 1px solid; border-bottom: 1px solid; vertical-align: center;">вислуга років</td>
            <td style="border: 1px solid; border-bottom: 1px solid; vertical-align: center;">%</td>
            <td style="border: 1px solid; border-bottom: 1px solid; vertical-align: center;">грн</td>
            <td style="border: 1px solid; border-bottom: 1px solid; vertical-align: center;">%</td>
            <td style="border: 1px solid; border-bottom: 1px solid; vertical-align: center;">грн</td>
            <td style="border: 1px solid; border-bottom: 1px solid; vertical-align: center;">%</td>
            <td style="border: 1px solid; border-bottom: 1px solid; vertical-align: center;">грн</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;"></td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; vertical-align: top;"></td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid; vertical-align: top;"></td>
        </tr>
        <tr style="text-align: center; font-size: 8pt;">
            <td style="border: 1px solid;">1</td>
            <td style="border: 1px solid;">2</td>
            <td style="border: 1px solid;">3</td>
            <td style="border: 1px solid;">4</td>
            <td style="border: 1px solid;">5</td>
            <td style="border: 1px solid;">6</td>
            <td style="border: 1px solid;">7</td>
            <td style="border: 1px solid;">8</td>
            <td style="border: 1px solid;">9</td>
            <td style="border: 1px solid;">10</td>
            <td style="border: 1px solid;">11</td>
            <td style="border: 1px solid;">12</td>
            <td style="border: 1px solid;">13</td>
            <td style="border: 1px solid;">14</td>
            <td style="border: 1px solid;">15</td>
            <td style="border: 1px solid;">16</td>
            <td style="border: 1px solid;">17</td>
            <td style="border: 1px solid;">18</td>
            <td style="border: 1px solid;">19</td>
            <td style="border: 1px solid;">20</td>
            <td style="border: 1px solid;">21</td>
            <td style="border: 1px solid;">22</td>
            <td style="border: 1px solid;">23</td>
            <td style="border: 1px solid;">24</td>
            <td style="border: 1px solid;">25</td>
            <td style="border: 1px solid;">26</td>
            <td style="border: 1px solid;">27</td>
            <td style="border: 1px solid;">28</td>
            <td style="border: 1px solid;">29</td>
            <td style="border: 1px solid;">30</td>
        </tr>
        <!--{{#data}}-->
        <!--{{#isDepartment}}-->
        <tr style="font-size: 12pt;{{{rowStyle}}}">
            <td style="text-align: left; border: 1px solid; font-weight: bold; padding: 0px 5px 0px 5px;" colspan="30">{{{text}}}</td>
        </tr>
        <!--{{/isDepartment}}-->
        <!--{{^isDepartment}}-->
        <!--{{#isTotal}}-->
        <!--{{#isTotal2Rows}}-->
        <!--{{#row1}}-->
        <tr style="font-size: 10pt; font-weight: bold;">
            <td style="text-align: left; {{{borderStyle}}} vertical-align: center; padding: 0px 5px 0px 5px;" colspan="4" rowspan="2">{{{text}}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2">{{#$fs}}"basepay","numberGroup"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2">{{#$fs}}"basepayAdd1","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2">{{#$fs}}"basepayAdd2","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2">{{#$fs}}"basepayAdd3","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2">{{#$fs}}"basepayAdd4","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2">{{#$fs}}"basepayAdd5","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2">{{#$fs}}"basepayAdd6","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2">{{#$fs}}"basepaySum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid; vertical-align: center;">{{#$fs}}"quantityBase","{{roundToQuantityBase}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid; vertical-align: center;">{{#$fs}}"quantityAdd","{{roundToQuantityAdd}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2"></td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2"></td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2">{{#$fs}}"scienceSum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2"></td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2"></td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2">{{#$fs}}"workexpSum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2"></td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2">{{#$fs}}"desertsSum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2"></td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2">{{#$fs}}"addpaySum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2">{{#$fs}}"fundMonth","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2">{{#$fs}}"fundAddpay","{{roundTo}}"{{/$fs}}</td>
            <td style="border: 1px solid;" rowspan="2"></td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2"></td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2">{{#$fs}}"obligatorySum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;" rowspan="2">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
        </tr>
        <!--{{/row1}}-->
        <!--{{#row2}}-->
        <tr style="font-size: 10pt; font-weight: bold;">
            <td style="text-align: center; border: 1px solid; vertical-align: center;" colspan="2">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
        </tr>
        <!--{{/row2}}-->
        <!--{{/isTotal2Rows}}-->
        <!--{{^isTotal2Rows}}-->
        <!--{{#isTotalAll}}-->
        <tr style="font-size: 10pt; {{{rowStyle}}}">
            <td style="text-align: left; border: 1px solid; vertical-align: center; padding: 0px 5px 0px 5px;" colspan="4">{{{text}}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepay","numberGroup"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd1","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd2","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd3","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd4","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd5","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd6","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepaySum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid; vertical-align: center;" colspan="2">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid;" colspan="2"></td>
            <td style="text-align: right; border: 1px solid; vertical-align: center; padding: 0px 5px 0px 5px;">{{#$fs}}"scienceSum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid;" colspan="2"></td>
            <td style="text-align: right; border: 1px solid; vertical-align: center; padding: 0px 5px 0px 5px;">{{#$fs}}"workexpSum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid;"></td>
            <td style="text-align: right; border: 1px solid; vertical-align: center; padding: 0px 5px 0px 5px;">{{#$fs}}"desertsSum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid;"></td>
            <td style="text-align: right; border: 1px solid; vertical-align: center; padding: 0px 5px 0px 5px;">{{#$fs}}"addpaySum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; vertical-align: center; padding: 0px 5px 0px 5px;">{{#$fs}}"fundMonth","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; vertical-align: center; padding: 0px 5px 0px 5px;">{{#$fs}}"fundAddpay","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid;" colspan="2"></td>
            <td style="text-align: right; border: 1px solid; vertical-align: center; padding: 0px 5px 0px 5px;">{{#$fs}}"obligatorySum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; vertical-align: center; padding: 0px 5px 0px 5px;">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
        </tr>
        <!--{{#isTotalOrg}}-->
        <tr style="font-size: 10pt; ">
            <td style="text-align: left; vertical-align: center; padding: 0px 5px 0px 5px;" colspan="30">&nbsp;</td>
        </tr>
        <!--{{/isTotalOrg}}-->
        <!--{{/isTotalAll}}-->
        <!--{{^isTotalAll}}-->
        <!--{{#isMed}}-->
        <tr style="font-size: 10pt; {{{rowStyle}}}">
            <td style="text-align: left; border: 1px solid; vertical-align: center; padding: 0px 5px 0px 5px;" colspan="12">{{{text}}}</td>
            <td style="text-align: center; border: 1px solid; vertical-align: center;" colspan="2">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid;" colspan="15"></td>
            <td style="text-align: right; border: 1px solid; vertical-align: center; padding: 0px 5px 0px 5px;">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
        </tr>
        <!--{{/isMed}}-->
        <!--{{^isMed}}-->
        <tr style="font-size: 10pt; {{{rowStyle}}}">
            <td style="text-align: left; border: 1px solid; padding: 0px 5px 0px 5px;" colspan="4">{{{text}}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepay","numberGroup"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd1","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd2","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd3","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd4","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd5","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd6","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepaySum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"quantityBase","{{roundToQuantityBase}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"quantityAdd","{{roundToQuantityAdd}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;"></td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;"></td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"scienceSum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;"></td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;"></td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"workexpSum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;"></td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"desertsSum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;"></td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"addpaySum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"fundMonth","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"fundAddpay","{{roundTo}}"{{/$fs}}</td>
            <td style="border: 1px solid;"></td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;"></td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"obligatorySum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
        </tr>
        <!--{{/isMed}}-->
        <!--{{/isTotalAll}}-->
        <!--{{/isTotal2Rows}}-->
        <!--{{/isTotal}}-->
        <!--{{^isTotal}}-->
        <tr style="font-size: 10pt;">
            <td style="text-align: center; border: 1px solid;">{{indexNum}}</td>
            <td style="text-align: left; border: 1px solid; padding: 0px 5px 0px 5px;">{{{text}}}</td>
            <td style="text-align: left; border: 1px solid; padding: 0px 5px 0px 5px;">{{{empNameText}}}</td>
            <td style="text-align: center; border: 1px solid;">{{tarifCode}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepay","numberGroup"{{/$fs}}</td>
            <!--{{#vacationChildText}}-->
                <td style="text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;"  colspan="6">{{vacationChildText}}</td>
            <!--{{/vacationChildText}}-->
            <!--{{^vacationChildText}}-->
                <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd1","{{roundTo}}"{{/$fs}}</td>
                <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd2","{{roundTo}}"{{/$fs}}</td>
                <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd3","{{roundTo}}"{{/$fs}}</td>
                <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd4","{{roundTo}}"{{/$fs}}</td>
                <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd5","{{roundTo}}"{{/$fs}}</td>
                <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepayAdd6","{{roundTo}}"{{/$fs}}</td>
            <!--{{/vacationChildText}}-->
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"basepaySum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"quantityBase","{{roundToQuantityBase}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"quantityAdd","{{roundToQuantityAdd}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;">{{scienceName}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"sciencePercent","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"scienceSum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid; padding: 0px 5px 0px 5px;">{{workexp}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"workexpPercent","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"workexpSum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"desertsPercent","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"desertsSum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"addpayPercent","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"addpaySum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"fundMonth","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"fundAddpay","{{roundTo}}"{{/$fs}}</td>
            <td style="border: 1px solid;"></td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"obligatoryPercent","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"obligatorySum","{{roundTo}}"{{/$fs}}</td>
            <td style="text-align: right; border: 1px solid; padding: 0px 5px 0px 5px;">{{#$fs}}"fundSum","{{roundTo}}"{{/$fs}}</td>
        </tr>
        <!--{{/isTotal}}-->
        <!--{{/isDepartment}}-->
        <!--{{/data}}-->
    </tbody>
</table>

<!--{{#isMed}}-->
<table style="font-family: TimesNewRoman; font-size: 12px; table-layout: fixed; line-height: 1.3; border-collapse: collapse; width: 1060px; word-break: normal; margin: 20px 10px 0px 10px;" border="0px" cellspacing="0" cellpadding="0px">
    <tbody>
        <tr style="font-size: 1pt;">
            <td style="width: 40px;">&nbsp;</td>
            <td style="width: 300px;">&nbsp;</td>
            <td style="width: 120px;">&nbsp;</td>
            <td style="width: 120px;">&nbsp;</td>
            <td style="width: 120px;">&nbsp;</td>
            <td style="width: 120px;">&nbsp;</td>
            <td style="width: 120px;">&nbsp;</td>
            <td style="width: 120px;">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center; font-size: 14pt; font-weight: bold; vertical-align: middle;">Зведення штатних одиниць станом на {{onDateStr}}р. по {{orgNameDat}}</td>
        </tr>
        <tr style="font-size: 10pt; text-align: center; vertical-align: middle;">
            <td style="border: 1px solid;">№<br/>з/п</td>
            <td style="border: 1px solid;">Найменування відділення</td>
            <td style="border: 1px solid;">Разом</td>
            <td style="border: 1px solid;">Лікарі</td>
            <td style="border: 1px solid;">Середній медичний персонал</td>
            <td style="border: 1px solid;">Молодший медичний персонал</td>
            <td style="border: 1px solid;">Спеціалісти немедики з в/о</td>
            <td style="border: 1px solid;">Інші</td>
        </tr>
        <!--{{#totals}}-->
        <!--{{#isTitle}}-->
        <tr style="font-size: 10pt;">
            <td style="text-align: left; border: 1px solid; font-weight: bold; padding: 0px 5px 0px 5px;" colspan="8">{{name}}</td>
        </tr>
        <!--{{/isTitle}}-->
        <!--{{^isTitle}}-->
        <!--{{#isTotal}}-->
        <tr style="font-size: 10pt; font-weight: bold;">
            <td colspan="2" style="text-align: left; border: 1px solid; padding: 0px 5px 0px 5px;">{{name}}</td>
            <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity1","{{roundToQuantity1}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity2","{{roundToQuantity2}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity3","{{roundToQuantity3}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity4","{{roundToQuantity4}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity5","{{roundToQuantity5}}"{{/$fs}}</td>
        </tr>
        <!--{{/isTotal}}-->
        <!--{{^isTotal}}-->
        <tr style="font-size: 10pt;">
            <td style="text-align: center; border: 1px solid;">{{indexNum}}</td>
            <td style="text-align: left; border: 1px solid; padding: 0px 5px 0px 5px;">{{name}}</td>
            <td style="text-align: center; border: 1px solid; font-weight: bold;">{{#$fs}}"quantity","{{roundToQuantity}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity1","{{roundToQuantity1}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity2","{{roundToQuantity2}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity3","{{roundToQuantity3}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity4","{{roundToQuantity4}}"{{/$fs}}</td>
            <td style="text-align: center; border: 1px solid;">{{#$fs}}"quantity5","{{roundToQuantity5}}"{{/$fs}}</td>
        </tr>
        <!--{{/isTotal}}-->
        <!--{{/isTitle}}-->
        <!--{{/totals}}-->
    </tbody>
</table>
<!--{{/isMed}}-->

<table style="font-family: TimesNewRoman; font-size: 10px; table-layout: fixed; line-height: 1.3; border-collapse: collapse; width: 890px; word-break: normal; margin: 0px 10px 0px 10px;" border="0px" cellspacing="0" cellpadding="0px">
    <tbody>
        <tr style="font-size: 1pt;">
            <td style="width: 40px;">&nbsp;</td>
            <td style="width: 300px;">&nbsp;</td>
            <td style="width: 50px;">&nbsp;</td>
            <td style="width: 150px;">&nbsp;</td>
            <td style="width: 50px;">&nbsp;</td>
            <td style="width: 300px;">&nbsp;</td>
        </tr>

        <tr style="height: 12px;">
            <td colspan="6"></td>
        </tr>
        <!--{{#signData}}-->
        <tr style="font-size: 10pt;">
            <td></td>
            <td style="text-align: left; vertical-align: bottom; border-bottom-width: 1px; border-bottom-style: solid;">{{posName}}</td>
            <td></td>
            <td style="vertical-align: bottom; border-bottom-width: 1px; border-bottom-style: solid;"></td>
            <td></td>
            <td style="text-align: left; vertical-align: bottom; border-bottom-width: 1px; border-bottom-style: solid;">{{empName}}</td>
        </tr>
        <tr style="font-size: 8pt; text-align: center; vertical-align: top;">
            <td></td>
            <td>(посада)</td>
            <td></td>
            <td>(підпис)</td>
            <td></td>
            <td>(ініціали прізвище)</td>
        </tr>
        <!--{{/signData}}-->

    </tbody>
</table>
