<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; border-collapse: collapse; width: 700px; word-break: normal;" cellspacing="0" cellpadding="3px">
<tbody>
    <tr>
        <td style="text-align: left; border: 0px solid; font-size: 14pt; font-weight:bold;" colspan="7">СПИСОК ВАКАНТНИХ ПОСАД З ПРОВЕДЕННЯМ КОНКУРСУ</td>
    </tr>
    <tr>
        <td style="text-align: left; border: 0px solid; font-size: 14pt; font-weight:bold;" colspan="7">{{organizationName}}</td>
    </tr>
    <tr>
        <td style="text-align: left; border: 0px solid; font-size: 14pt; font-weight:bold;" colspan="7">{{departmentName}}</td>
    </tr>
    <tr>
        <td style="text-align: left; border: 0px solid; font-size: 12pt; " colspan="7">Станом на {{onDate}}</td>
    </tr>

    <tr style="text-align: center; font-size: 12pt;">
        <td style="width: 40px; border: 1px solid; font-weight:bold;">№</td>
        <td style="width: 250px; border: 1px solid; font-weight:bold;">Посада</td>
        <td style="width: 90px; border: 1px solid; font-weight:bold;">Посадовий оклад</td>
        <td style="width: 80px; border: 1px solid; font-weight:bold;">Тимчасово вакантна</td>
        <td style="width: 80px; border: 1px solid; font-weight:bold;">Вакантна з</td>
        <td style="width: 100px; border: 1px solid; font-weight:bold;">Наказ про проведення конкурсу</td>
        <td style="width: 60px; border: 1px solid; font-weight:bold;">Коментар</td>
    </tr>
    <!--{{#pos}}-->
    <tr style="font-size: 12pt;">
        <td style="width: 40px; text-align: center; border: 1px solid; ">{{indexNum}}</td>
        <td style="width: 250px; text-align: left; border: 1px solid; ">{{posName}}</td>
        <td style="width: 90px; text-align: center; border: 1px solid; ">{{{basepay}}}</td>
        <td style="width: 80px; text-align: left; border: 1px solid; ">{{empList}}</td>
        <td style="width: 80px; text-align: center; border: 1px solid; ">{{dateFrom}}</td>
        <td style="width: 100px; text-align: left; border: 1px solid; ">{{orders}}</td>
        <td style="width: 60px; text-align: left; border: 1px solid; ">{{{comment}}}</td>
    </tr>
    <!--{{/pos}}-->
    <!--{{#orgUnits}}-->
    <!--{{#header}}-->
    <tr style="text-align: left; font-size: 12pt;">
        <td style="width:100%; height: 36px; border: 1px solid; " colspan="7"><font color="blue"><b>{{orgUnitName}}</b></font></td>
    </tr>
    <!--{{/header}}-->
        <!--{{#pos}}-->
        <tr style="font-size: 12pt;">
            <td style="width: 40px; text-align: center; border: 1px solid; ">{{indexNum}}</td>
            <td style="width: 250px; text-align: left; border: 1px solid; ">{{posName}}</td>
            <td style="width: 90px; text-align: center; border: 1px solid; ">{{{basepay}}}</td>
            <td style="width: 80px; text-align: left; border: 1px solid; ">{{empList}}</td>
            <td style="width: 80px; text-align: center; border: 1px solid; ">{{dateFrom}}</td>
            <td style="width: 100px; text-align: left; border: 1px solid; ">{{orders}}</td>
            <td style="width: 60px; text-align: left; border: 1px solid; ">{{{comment}}}</td>
        </tr>
        <!--{{/pos}}-->
        <!--{{#units}}-->
        <tr style="text-align: left; font-size: 12pt;">
            <td style="width:100%; border: 1px solid; " colspan="7">&nbsp;&nbsp;<u><b>{{orgUnitName}}</b></u></td>
        </tr>
            <!--{{#pos}}-->
            <tr style="font-size: 12pt;">
                <td style="width: 40px; text-align: center; border: 1px solid; ">{{indexNum}}</td>
                <td style="width: 250px; text-align: left; border: 1px solid; ">{{posName}}</td>
                <td style="width: 90px; text-align: center; border: 1px solid; ">{{{basepay}}}</td>
                <td style="width: 80px; text-align: left; border: 1px solid; ">{{empList}}</td>
                <td style="width: 80px; text-align: center; border: 1px solid; ">{{dateFrom}}</td>
                <td style="width: 100px; text-align: left; border: 1px solid; ">{{orders}}</td>
                <td style="width: 60px; text-align: left; border: 1px solid; ">{{{comment}}}</td>
            </tr>
            <!--{{/pos}}-->
            <!--{{#units}}-->
            <tr style="text-align: left; font-size: 12pt;">
                <td style="width:100%; border: 1px solid; " colspan="7">&nbsp;&nbsp;&nbsp;&nbsp;<b>{{orgUnitName}}</b></td>
            </tr>
                <!--{{#pos}}-->
                <tr style="font-size: 12pt;">
                    <td style="width: 40px; text-align: center; border: 1px solid; ">{{indexNum}}</td>
                    <td style="width: 250px; text-align: left; border: 1px solid; ">{{posName}}</td>
                    <td style="width: 90px; text-align: center; border: 1px solid; ">{{{basepay}}}</td>
                    <td style="width: 80px; text-align: left; border: 1px solid; ">{{empList}}</td>
                    <td style="width: 80px; text-align: center; border: 1px solid; ">{{dateFrom}}</td>
                    <td style="width: 100px; text-align: left; border: 1px solid; ">{{orders}}</td>
                    <td style="width: 60px; text-align: left; border: 1px solid; ">{{{comment}}}</td>
                </tr>
                <!--{{/pos}}-->
                <!--{{#units}}-->
                <tr style="text-align: left; font-size: 12pt;">
                    <td style="width:100%; border: 1px solid; " colspan="7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{orgUnitName}}</b></td>
                </tr>
                    <!--{{#pos}}-->
                    <tr style="font-size: 12pt;">
                        <td style="width: 40px; text-align: center; border: 1px solid; ">{{indexNum}}</td>
                        <td style="width: 250px; text-align: left; border: 1px solid; ">{{posName}}</td>
                        <td style="width: 90px; text-align: center; border: 1px solid; ">{{{basepay}}}</td>
                        <td style="width: 80px; text-align: left; border: 1px solid; ">{{empList}}</td>
                        <td style="width: 80px; text-align: center; border: 1px solid; ">{{dateFrom}}</td>
                        <td style="width: 100px; text-align: left; border: 1px solid; ">{{orders}}</td>
                        <td style="width: 60px; text-align: left; border: 1px solid; ">{{{comment}}}</td>
                    </tr>
                    <!--{{/pos}}-->
                    <!--{{#units}}-->
                    <tr style="text-align: left; font-size: 12pt;">
                        <td style="width:100%; border: 1px solid; " colspan="7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{orgUnitName}}</b></td>
                    </tr>
                        <!--{{#pos}}-->
                        <tr style="font-size: 12pt;">
                            <td style="width: 40px; text-align: center; border: 1px solid; ">{{indexNum}}</td>
                            <td style="width: 250px; text-align: left; border: 1px solid; ">{{posName}}</td>
                            <td style="width: 90px; text-align: center; border: 1px solid; ">{{{basepay}}}</td>
                            <td style="width: 80px; text-align: left; border: 1px solid; ">{{empList}}</td>
                            <td style="width: 80px; text-align: center; border: 1px solid; ">{{dateFrom}}</td>
                            <td style="width: 100px; text-align: left; border: 1px solid; ">{{orders}}</td>
                            <td style="width: 60px; text-align: left; border: 1px solid; ">{{{comment}}}</td>
                        </tr>
                        <!--{{/pos}}-->
                        <!--{{#units}}-->
                        <tr style="text-align: left; font-size: 12pt;">
                            <td style="width:100%; border: 1px solid; " colspan="7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{orgUnitName}}</b></td>
                        </tr>
                            <!--{{#pos}}-->
                            <tr style="font-size: 12pt;">
                                <td style="width: 40px; text-align: center; border: 1px solid; ">{{indexNum}}</td>
                                <td style="width: 250px; text-align: left; border: 1px solid; ">{{posName}}</td>
                                <td style="width: 90px; text-align: center; border: 1px solid; ">{{{basepay}}}</td>
                                <td style="width: 80px; text-align: left; border: 1px solid; ">{{empList}}</td>
                                <td style="width: 80px; text-align: center; border: 1px solid; ">{{dateFrom}}</td>
                                <td style="width: 100px; text-align: left; border: 1px solid; ">{{orders}}</td>
                                <td style="width: 60px; text-align: left; border: 1px solid; ">{{{comment}}}</td>
                            </tr>
                            <!--{{/pos}}-->
                        <!--{{/units}}-->
                    <!--{{/units}}-->
                <!--{{/units}}-->
            <!--{{/units}}-->
        <!--{{/units}}-->
    <!--{{/orgUnits}}-->
</tbody>
</table>