<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: 12pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 70px;" border="0px" width="850px" cellspacing="0" cellpadding="0px">
<tbody>
    <tr style="font-size: 1pt;">
        <td style="width: 38px; ">&nbsp;</td>
        <td style="width: 210px; ">&nbsp;</td>
        <td style="width: 150px; ">&nbsp;</td>
        <td style="width: 75px; ">&nbsp;</td>
        <td style="width: 90px; ">&nbsp;</td>
        <td style="width: 150px; ">&nbsp;</td>
        <td style="width: 83px; ">&nbsp;</td>
        <td style="width: 94px; ">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: left; font-size: 14pt; font-weight:bold;" colspan="8">СПИСОК ВАКАНТНИХ ПОСАД</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: left; font-size: 14pt; font-weight:bold;" colspan="8">{{organizationName}}</td>
    </tr>
    <!--{{#departmentName}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: left; font-size: 14pt; font-weight:bold;" colspan="8">{{departmentName}}</td>
    </tr>
    <!--{{/departmentName}}-->
    <!--{{#dictFundSourceName}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: left; font-size: 14pt; font-weight:bold;" colspan="8">{{dictFundSourceName}}</td>
    </tr>
    <!--{{/dictFundSourceName}}-->
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: left; font-size: 12pt; " colspan="8">Станом на {{onDate}}</td>
    </tr>

    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; ">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: left; font-size: 12pt; ">Всього штатна чисельність:</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: right; font-size: 12pt; ">{{#$fs}}"countQuantity","{{roundToCountQuantity}}"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; " colspan="5">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; ">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: left; font-size: 12pt; ">Фактично працюють:</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: right; font-size: 12pt; ">{{#$fs}}"countWork","{{roundToCountWork}}"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; " colspan="5">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; ">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: left; font-size: 12pt; ">Всього вакантних посад:</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: right; font-size: 12pt; ">{{#$fs}}"countVacancy","{{roundToCountVacancy}}"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; " colspan="5">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; ">&nbsp;</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: left; font-size: 12pt; ">У відпустці по догляду за дитиною (посад):</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: right; font-size: 12pt; ">{{#$fs}}"countChild","{{roundToCountChild}}"{{/$fs}}</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; " colspan="5">&nbsp;</td>
    </tr>

    <tr>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid; font-weight:bold;">№</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid; font-weight:bold;">Посада</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid; font-weight:bold;">Джерело фінансування</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid; font-weight:bold;">Кількість вакансій</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid; font-weight:bold;">Посадовий оклад</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid; font-weight:bold;">З довготривалою відсутністю</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid; font-weight:bold;">Вакантна з</td>
        <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; font-size: 12pt; text-align: center; border: 1px solid; font-weight:bold;">Вакантна по</td>
    </tr>
    <!--{{#data}}-->
        <!--{{#isDepartment}}-->
            <tr style="font-size: 12pt;">
                <td style="text-align: {{textAlign}}; border: 1px solid; font-weight: bold;" colspan="8">{{{name}}}</td>
            </tr>
        <!--{{/isDepartment}}-->
        <!--{{^isDepartment}}-->
            <!--{{#isTotal}}-->
                <tr style="font-size: 12pt; color: #808080; font-weight: bold;">
                    <td style="text-align: left; border: 1px solid; font-weight: bold;" colspan="8">{{{name}}}</td>
                </tr>
            <!--{{/isTotal}}-->
            <!--{{^isTotal}}-->
                <tr style="font-size: 12pt;">
                    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; border: 1px solid; ">{{indexNum}}</td>
                    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: left; border: 1px solid; ">{{name}}</td>
                    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: left; border: 1px solid; ">{{nameFund}}</td>
                    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; border: 1px solid; ">{{#$fs}}"vacancyRate","{{roundToQuantity}}"{{/$fs}}</td>
                    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; border: 1px solid; ">{{#$fs}}"basepay","{{roundTo}}"{{/$fs}}</td>
                    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: left; border: 1px solid; ">{{isTempVac}}</td>
                    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; border: 1px solid; ">{{dateFrom}}</td>
                    <td style="padding: 0px 1px 0px 1px; font-family: TimesNewRoman; text-align: center; border: 1px solid; ">{{dateTo}}</td>
                </tr>
            <!--{{/isTotal}}-->
        <!--{{/isDepartment}}-->
    <!--{{/data}}-->
</tbody>
</table>