<!--%pageOrientation:landscape-->
<table style="font-family: Calibri; border-collapse: collapse; font-size: 9pt;" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td colspan="15" style="text-align: left;">{{orgName}}</td>
        </tr>
        <tr>
            <td colspan="15" style="text-align: center;">Розрахунково-платіжна відомість виплати коштів СС</td>
        </tr>
        <tr>
            <td colspan="15" style="text-align: center;">{{orderDate}} № {{orderNumber}} дата виплати {{paymentDate}}</td>
        </tr>
        <tr>
            <td colspan="15" style="text-align: center;">за {{periodSalary}}</td>
        </tr>
        <!--{{#pages}}-->
        <tr>
            <td colspan="3" style="text-align: left;">{{formattingStartDate}}, {{formattingStartTime}}</td>
            <td colspan="11">&nbsp;</td>
            <td colspan="1">{{pageNum}} із  {{pagesCounter}}</td>
        </tr>
        <tr>
            <td rowspan="2" colspan="1" width="20px" style="border: 1px solid #000; text-align: center; padding: 2px;">№</td>
            <td rowspan="2" colspan="1" width="30px" style="border: 1px solid #000; text-align: center; padding: 2px;">Таб.№</td>
            <td rowspan="2" colspan="1" style="border: 1px solid #000; text-align: center; padding: 2px;">Прізвище І.Б.</td>
            <td rowspan="2" colspan="1" width="60px" style="border: 1px solid #000; text-align: center; padding: 2px;">Обліковий період</td>
            <td rowspan="1" colspan="2" width="80px" style="border: 1px solid #000; text-align: center; padding: 2px;">Лікарняний лист</td>
            <td rowspan="1" colspan="2" width="100px" style="border: 1px solid #000; text-align: center; padding: 2px;">Дні</td>
            <td rowspan="2" colspan="1" width="65px" style="border: 1px solid #000; text-align: center; padding: 2px; word-break: break-word;">Середній заробіток</td>
            <td rowspan="2" colspan="1" width="70px" style="border: 1px solid #000; text-align: center; padding: 2px; word-break: break-word;">Відсоток оплати</td>
            <td rowspan="2" colspan="1" width="80px" style="border: 1px solid #000; text-align: center; padding : 2px; word-break: break-word;">Сума лікарняного</td>
            <td rowspan="2" colspan="1" width="50px" style="border: 1px solid #000; text-align: center; padding: 2px; word-break: break-word;">Сума ПДФО</td>
            <td rowspan="2" colspan="1" width="80px" style="border: 1px solid #000; text-align: center; padding: 2px; word-break: break-word;">Військовий збір</td>
            <td rowspan="2" colspan="1" width="80px" style="border: 1px solid #000; text-align: center; padding: 2px; word-break: break-word;">До виплати</td>
            <td rowspan="2" colspan="1" width="40px" style="border: 1px solid #000; text-align: center; padding: 2px;">ЄСВ</td>
        </tr>
        <tr>
            <td rowspan="1" style="border: 1px solid #000; padding: 2px; text-align: center;">Номер</td> 
            <td rowspan="1" style="border: 1px solid #000; padding: 2px; text-align: center;">Дата</td>
            <td rowspan="1" style="border: 1px solid #000; padding: 2px; text-align: center;">Оплачувані</td>
            <td rowspan="1" style="border: 1px solid #000; padding: 2px; text-align: center;">Календарні</td>
        </tr>
        <!--{{#listData}}-->
        <tr>
            <td style="border: 1px solid #000; padding: 2px; text-align: right;">{{rowNum}}</td>
            <td style="border: 1px solid #000; padding: 2px; text-align: right;">{{tabNum}}</td>
            <td style="border: 1px solid #000; padding: 2px; text-align: left;">{{fullFIO}}</td>
            <td style="border: 1px solid #000; padding: 2px; text-align: right;">{{periodSalaryName}}</td>
            <td style="border: 1px solid #000; padding: 2px; text-align: right;">{{sickSeriaNumber}}</td>
            <td style="border: 1px solid #000; padding: 2px; text-align: center;">{{sickDate}}</td>
            <td style="border: 1px solid #000; padding: 2px; text-align: right;">{{accPayDays}}</td>
            <td style="border: 1px solid #000; padding: 2px; text-align: right;">{{accCalendarDays}}</td>
            <td style="border: 1px solid #000; padding: 2px; text-align: right;">{{accBaseSum}}</td>
            <td style="border: 1px solid #000; padding: 2px; text-align: right;">{{accRate}}</td>
            <td style="border: 1px solid #000; padding: 2px; text-align: right;">{{accPaySum}}</td>
            <td style="border: 1px solid #000; padding: 2px; text-align: right;">{{incomeTaxSum}}</td>
            <td style="border: 1px solid #000; padding: 2px; text-align: right;">{{militaryTaxSum}}</td>
            <td style="border: 1px solid #000; padding: 2px; text-align: right;">{{payRollDtPaySum}}</td>
            <td style="border: 1px solid #000; padding: 2px; text-align: right;">{{socialTaxSum}}</td>
        </tr>
        <!--{{/listData}}-->
        <!--{{#isPageBreak}}-->
        <!--{{/isPageBreak}}-->
        <!--{{#isPageBreak1}}-->
            <tr>
                <td colspan="15" style="padding: 2px;">&nbsp;</td>
            </tr>
        <!--{{/isPageBreak1}}-->
        <!--{{#isPageBreak2}}-->
            <tr>
                <td colspan="15" style="padding: 2px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="15" style="padding: 2px;">&nbsp;</td>
            </tr>
        <!--{{/isPageBreak2}}-->
        <!--{{#isPageBreak3}}-->
            <tr>
                <td colspan="15" style="padding: 2px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="15" style="padding: 2px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="15" style="padding: 2px;">&nbsp;</td>
            </tr>
        <!--{{/isPageBreak3}}-->
        <!--{{/pages}}-->
        <tr>
            <td colspan="15">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4">&nbsp;</td>
            <td colspan="3" style="text-align: left;">{{mainChiefPosName}}</td>
            <td colspan="2">_______________</td>
            <td colspan="6" style="text-align: left;">{{mainChiefFullFIO}}</td>
        </tr>
        <tr>
            <td colspan="4">&nbsp;</td>
            <td colspan="3" style="text-align: left;">{{accChiefPosName}}</td>
            <td colspan="2">_______________</td>
            <td colspan="6" style="text-align: left;">{{accChiefFullFIO}}</td>
        </tr>
    </tbody>
</table>