<!--%pageOrientation:portrait--><table style="font-family: TimesNewRoman; height: 136px; border-collapse: collapse;" border="0px" width="750px" cellspacing="0" cellpadding="0px">
<tbody>
<tr>
<td style="text-align: right;" colspan="2">Типова форма № 53</td>
</tr>
<tr>
<td colspan="2">&nbsp;</td>
</tr>
<tr>
<td colspan="2"><table style="word-break: break-all;" width="270" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 50%;  border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px;  padding: 0">{{orgName}}</td>
</tr>
</tbody>
</table></td>
</tr>
<tr>
<td colspan="2">&nbsp;</td>
</tr>
<tr>
<td colspan="2">
<table style="word-break: break-all;" width="450" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 55%; border-style: none; padding: 0">Ідентифікаційний код за ЄДРПОУ</td>
<td style="width: 5.62%; text-align: center; border: 1px solid black; padding: 2px">{{code1}}</td>
<td style="width: 5.62%; text-align: center; border: 1px solid black; padding: 2px">{{code2}}</td>
<td style="width: 5.62%; text-align: center; border: 1px solid black; padding: 2px">{{code3}}</td>
<td style="width: 5.62%; text-align: center; border: 1px solid black; padding: 2px">{{code4}}</td>
<td style="width: 5.62%; text-align: center; border: 1px solid black; padding: 2px">{{code5}}</td>
<td style="width: 5.62%; text-align: center; border: 1px solid black; padding: 2px">{{code6}}</td>
<td style="width: 5.62%; text-align: center; border: 1px solid black; padding: 2px">{{code7}}</td>
<td style="width: 5.62%; text-align: center; border: 1px solid black; padding: 2px">{{code8}}</td>
</tr>
<tr><td>&nbsp;</td></tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="width: 50%; padding: 0; vertical-align: top">Підрозділ {{depName}}</td>
<td style="width: 50%;padding: 0; vertical-align: top">
<table style="word-break: break-all;" width="260" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 53%;">Код за ДКУД</td>
<td style="width: 47%; text-align: center; border: 1px solid black; padding: 0">&nbsp;</td>
</tr>
<tr><td>&nbsp;</td></tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="width: 50%;">До розрахункової відомості,<br />у строк з {{dateFrom}} до {{dateTo}}<br />у сумі {{paySumFull}}<br /><br />Керівник {{chief}}<br />Головний бухгалтер {{accountantChief}}<!--{{#orderDay}}--><br />від {{orderDay}} {{orderMonth}} {{orderYear}} р.<!--{{/orderDay}}--></td>
<td style="width: 50%; padding: 0">
<table style="word-break: break-word; text-align: center; padding: 0" border="1px" width="375px" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 66.6666%;" colspan="2">Кореспондуючий рахунок</td>
<td style="width: 33.3333%;">Код цільового<br/>призначення</td>
</tr>
<tr>
<td style="width: 33.3333%;">рахунок, субрахунок</td>
<td style="width: 33.3333%;">код аналітичного обліку</td>
<td style="width: 33.3333%;">&nbsp;</td>
</tr>
<tr>
<td style="width: 33.3333%;">&nbsp;</td>
<td style="width: 33.3333%;">&nbsp;</td>
<td style="width: 33.3333%;">&nbsp;</td>
</tr>
<tr>
<td style="width: 33.3333%;">&nbsp;</td>
<td style="width: 33.3333%;">&nbsp;</td>
<td style="width: 33.3333%;">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="text-align: center;" colspan="2"><br /><span style="font-weight: bold;">ПЛАТІЖНА ВІДОМІСТЬ № {{orderNumber}}</span><br />за {{periodSalaryM}} {{periodSalaryY}} р.</td>
</tr>
<tr>
<td colspan="2">&nbsp;</td>
</tr>
<tr>
<td style="text-align: right;" colspan="2">&nbsp;</td>
</tr>
<tr>
<td colspan="2" style="padding-left: 40px"><table style="word-break: break-all;" width="650" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 52%; border-style: none; padding: 0" colspan="2">За цією платіжною відомістю виплачено гривень</td>
<td style="width: 48%; text-align: center; border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px; padding: 0; vertical-align: bottom">{{paidSum}}</td>
</tr>
<tr>
<td style="border-style: none; padding: 0;" colspan="3"></td>
</tr>
<tr>
<td style="width: 30%; border-style: none; padding: 0;">і депоновано гривень </td>
<td style="width: 70%; text-align: center; border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px; padding: 0" colspan="2">{{depSum}}</td>
</tr>
<tr>
<td style="border-style: none; padding: 0;" colspan="3">&nbsp;</td>
</tr>
</tbody>
</table></td>
</tr>
<tr>
<td colspan="2">
<table style="word-break: break-word; font-family: TimesNewRoman;border-collapse: collapse; text-align: center;" border="1px" width="744px" cellspacing="0" cellpadding="0px">
<tbody>
<tr>
<td style="width: 44px; padding: 2px">№ з/п</td>
<td style="width: 112px; padding: 2px">Табельний номер</td>
<td style="width: 221px; padding: 2px">Прізвище, ім'я, по батькові</td>
<td style="width: 131px; padding: 2px">Сума</td>
<td style="width: 124px; padding: 2px">Підпис в одержанні</td>
<td style="width: 111px; padding: 2px">Примітки</td>
</tr>
<tr>
<td style="width: 44px; padding: 2px">1</td>
<td style="width: 112px; padding: 2px">2</td>
<td style="width: 221px; padding: 2px">3</td>
<td style="width: 131px; padding: 2px">4</td>
<td style="width: 124px; padding: 2px">5</td>
<td style="width: 111px; padding: 2px">6</td>
</tr>
<!--{{#payRollDt}}-->
<tr>
<td style="width: 44px; padding: 2px">{{rowNum}}</td>
<td style="width: 112px; padding: 2px">{{tabNum}}</td>
<td style="width: 221px; padding: 2px; text-align: left;">{{fullFIO}}</td>
<td style="width: 131px; padding: 2px; text-align: right;">{{paySum}}</td>
<td style="width: 124px; padding: 2px"></td>
<td style="width: 111px; padding: 2px"></td>
</tr><!--{{/payRollDt}}-->
<tr>
<td colspan="2" style="text-align: right; padding: 2px">Разом &nbsp;</td>
<td style="width: 221px; padding: 2px"></td>
<td style="width: 131px; padding: 2px; text-align: right;">{{paySum}}</td>
<td style="width: 124px; padding: 2px"></td>
<td style="width: 111px; padding: 2px"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr><td>&nbsp;</td></tr>
<!--{{#isPayMethod2}}--><tr><td colspan="2" style="padding-left: 40px">Виплату здійснив ______________________________________</td></tr>
<tr><td colspan="2" style="padding-left: 40px">Перевірив бухгалтер ______________________________________</td></tr><!--{{/isPayMethod2}}-->
</tbody>
</table>