<!--%pageOrientation:landscape-->
<table style="border-collapse: collapse; page-break-inside:auto; font-family: TimesNewRoman; font-size: 10pt" border="0" width="1450px" cellspacing="0" cellpadding="0">
    <tbody>
        <!--{{#firstPage}}-->
        <!--{{#printConditionalDesignations}}-->
        <tr style="height: 20px;">
            <td style="width: 120px;"></td>
            <td style="width: 120px;"></td>
            <td style="width: 120px;"></td>
            <td style="width: 120px;"></td>
            <td style="width: 120px;"></td>
            <td style="width: 120px;"></td>
            <td style="width: 10px;"></td>
            <td style="width: 120px;"></td>
            <td style="width: 120px;"></td>
            <td style="width: 120px;"></td>
            <td style="width: 120px;"></td>
            <td style="width: 120px;"></td>
            <td style="width: 120px;"></td>
        </tr>
        <tr>
            <td colspan="13" style="font-weight: bold; font-size: 10pt; text-transform: uppercase; text-align: center;">{{organizationName}}</td>
        </tr>
        <tr>
            <td colspan="13" style="text-align: center;">Найменування підприємства (установи, організації)</td>
        </tr>
        <tr>
            <td colspan="8" style="font-size: 11pt; text-align: center; font-weight: bold;">ТАБЕЛЬ ОБЛІКУ ВИКОРИСТАННЯ РОБОЧОГО ЧАСУ</td>
            <td colspan="2"></td>
            <td rowspan="2" style="border: 1px solid; text-align: center;">Дата заповнення</td>
            <td colspan="2" style="border: 1px solid; text-align: center; height: 30px;">Звітний період</td>
        </tr>
        <tr>
            <td colspan="8" style="font-size: 9pt;">Керівник установи {{headOrg}}</td>
            <td colspan="3"></td>
            <td style="border: 1px solid; text-align: center;">З</td>
            <td style="border: 1px solid; text-align: center;">По</td>
        </tr>
        <tr>
            <td colspan="8" style="font-size: 9pt;">Відповідальний за ведення табелю {{responsiblePositionShortFIO}}</td>
            <td colspan="2"></td>
            <td style="border: 1px solid; text-align: center; font-weight: bold;">{{issueDate}}</td>
            <td style="border: 1px solid; text-align: center; font-weight: bold;">{{periodFrom}}</td>
            <td style="border: 1px solid; text-align: center; font-weight: bold;">{{periodTo}}</td>
        </tr>
        <tr>
            <td colspan="13" style="height: 20px;"></td>
        </tr>
        <tr>
            <td colspan="4" rowspan="2" style="border: 1px solid; text-align: center; font-size: 10pt;">Умовні позначення</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-size: 10pt;">Код</td>
            <td rowspan="2"></td>
            <td colspan="4" rowspan="2" style="border: 1px solid; text-align: center; font-size: 10pt;">Умовні позначення</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-size: 10pt;">Код</td>
        </tr>
        <tr>
            <td style="border: 1px solid; text-align: center; font-size: 10pt;">буквений</td>
            <td style="border: 1px solid; text-align: center; font-size: 10pt;">цифровий</td>
            <td style="border: 1px solid; text-align: center; font-size: 10pt;">буквений</td>
            <td style="border: 1px solid; text-align: center; font-size: 10pt;">цифровий</td> 
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;"></td>
            <td style="border: 1px solid; text-align: center;">З</td>
            <td style="border: 1px solid; text-align: center;"></td>
            <td></td>
            <td colspan="4" style="border: 1px solid;">Неявки у зв'язку з тимчасовим переведенням на роботу на інше підприємство на підставі договорів між суб'єктами господарювання</td>
            <td style="border: 1px solid; text-align: center;">НП</td>
            <td style="border: 1px solid; text-align: center;">21</td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">на період війни</td>
            <td style="border: 1px solid; text-align: center;">П</td>
            <td style="border: 1px solid; text-align: center;"></td>
            <td></td>
            <td colspan="4" style="border: 1px solid;">Інший невідпрацьований час, передбачений законодавством (виконання державних і громадських обов"язків, допризовна підготовка, військові збори, донорські, відгул і т. ін.)</td>
            <td style="border: 1px solid; text-align: center;">ІН</td>
            <td style="border: 1px solid; text-align: center;">22</td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Години роботи, передбачені колдоговором</td>
            <td style="border: 1px solid; text-align: center;">Р</td>
            <td style="border: 1px solid; text-align: center;">01</td>
            <td></td>
            <td colspan="4" style="border: 1px solid;">Мобілізовані</td>
            <td style="border: 1px solid; text-align: center;">М</td>
            <td style="border: 1px solid; text-align: center;">23</td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Години роботи працівників, яким встановлено неповний робочий день (тиждень) згідно з законодавством</td>
            <td style="border: 1px solid; text-align: center;">РС</td>
            <td style="border: 1px solid; text-align: center;">02</td>
            <td></td>
            <td colspan="4" style="border: 1px solid;">Прогули</td>
            <td style="border: 1px solid; text-align: center;">ПР</td>
            <td style="border: 1px solid; text-align: center;">24</td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Вечірні години роботи</td>
            <td style="border: 1px solid; text-align: center;">ВЧ</td>
            <td style="border: 1px solid; text-align: center;">03</td>
            <td></td>
            <td colspan="4" style="border: 1px solid;">Дод.відпустка за вислугу ДЕРЖСЛ</td>
            <td style="border: 1px solid; text-align: center;">ДВ</td>
            <td style="border: 1px solid; text-align: center;">25</td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Нічні години роботи</td>
            <td style="border: 1px solid; text-align: center;">РН</td>
            <td style="border: 1px solid; text-align: center;">04</td>
            <td></td>
            <td colspan="4" style="border: 1px solid;">Оплачувана тимчасова непрацездатність</td>
            <td style="border: 1px solid; text-align: center;">ТН</td>
            <td style="border: 1px solid; text-align: center;">26</td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Надурочні години роботи</td>
            <td style="border: 1px solid; text-align: center;">НУ</td>
            <td style="border: 1px solid; text-align: center;">05</td>
            <td></td>
            <td colspan="4" style="border: 1px solid;">Неоплачувана тимчасова непрацездатність у випадках, передбачених законодавством (у зв'язку з побутовою травмою та інше підтверджена довідками лікувальних закладів)</td>
            <td style="border: 1px solid; text-align: center;">НН</td>
            <td style="border: 1px solid; text-align: center;">27</td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Години роботи у вихідні та святкові дні</td>
            <td style="border: 1px solid; text-align: center;">РВ</td>
            <td style="border: 1px solid; text-align: center;">06</td>
            <td></td>
            <td colspan="4" style="border: 1px solid;">Неявки з нез'ясованих причин</td>
            <td style="border: 1px solid; text-align: center;">НЗ</td>
            <td style="border: 1px solid; text-align: center;">28</td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Відрядження</td>
            <td style="border: 1px solid; text-align: center;">ВД</td>
            <td style="border: 1px solid; text-align: center;">07</td>
            <td></td>
            <td colspan="4" style="border: 1px solid;">Вимушений прогул</td>
            <td style="border: 1px solid; text-align: center;">П</td>
            <td style="border: 1px solid; text-align: center;">29</td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Основна щорічна відпустка (ст. 6 Закону України "Про відпустки")</td>
            <td style="border: 1px solid; text-align: center;">В</td>
            <td style="border: 1px solid; text-align: center;">08</td>
            <td></td>
            <td colspan="4" style="border: 1px solid;">Інші причини неявок</td>
            <td style="border: 1px solid; text-align: center;">І</td>
            <td style="border: 1px solid; text-align: center;">30</td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Щорічна додаткова відпустка (ст. 7, 8 Закону України "Про відпустки")</td>
            <td style="border: 1px solid; text-align: center;">Д</td>
            <td style="border: 1px solid; text-align: center;">09</td>
            <td></td>
            <td colspan="4" style="border: 1px solid;"></td>
            <td style="border: 1px solid; text-align: center;">Х</td>
            <td style="border: 1px solid; text-align: center;">31</td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Додаткова відпустка, передбачена ст. 20, 21, 30 Закону України "Про статус і соіальний захист громадян, які постраждали внаслідок Чорнобильської катастрофи"</td>
            <td style="border: 1px solid; text-align: center;">Ч</td>
            <td style="border: 1px solid; text-align: center;">10</td>
            <td></td>
            <td colspan="4" style="border: 1px solid;">Відпустка у зв'язку з вагітністю і пологами (ст. 17 Закону України "Про відпустки")</td>
            <td style="border: 1px solid; text-align: center;">ТН</td>
            <td style="border: 1px solid; text-align: center;">32</td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Творча відпустка (ст. 16 Закону України "Про відпустки")</td>
            <td style="border: 1px solid; text-align: center;">ТВ</td>
            <td style="border: 1px solid; text-align: center;">11</td>
            <td></td>
            <td colspan="4" style="border: 1px solid;">Курси підвищення кваліфікації</td>
            <td style="border: 1px solid; text-align: center;">К</td>
            <td style="border: 1px solid; text-align: center;">33</td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Додаткова відпустка у зв'язку з навчанням (ст.13, 14, 15, 15-1 Закону України "Про відпустки")</td>
            <td style="border: 1px solid; text-align: center;">У</td>
            <td style="border: 1px solid; text-align: center;">12</td>
            <td></td>
            <td colspan="4" style="border: 1px solid;"></td>
            <td style="border: 1px solid; text-align: center;">ВК</td>
            <td style="border: 1px solid; text-align: center;">34</td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Відпустка без збереження заробітної плати у зв'язку з навчанням (п.12, 13, 17 ст. 25 Закону України "Про відпустки") </td>
            <td style="border: 1px solid; text-align: center;">НБ</td>
            <td style="border: 1px solid; text-align: center;">13</td>
            <td></td>
            <td colspan="4" style="border: 1px solid;">Строчники</td>
            <td style="border: 1px solid; text-align: center;">СС</td>
            <td style="border: 1px solid; text-align: center;">35</td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Додаткова відпустка без збереження заробітної плати в обов'язковому порядку (ст. 25 крім п. 3, 12, 13, 17 Закону України "Про відпустки")</td>
            <td style="border: 1px solid; text-align: center;">ДБ</td>
            <td style="border: 1px solid; text-align: center;">14</td>
            <td></td>
            <td colspan="4" style="border: 1px solid;">на період війни (через заміни)</td>
            <td style="border: 1px solid; text-align: center;">П</td>
            <td style="border: 1px solid; text-align: center;">36</td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Додаткова оплачувана відпустка працівникам, які мають дітей (ст. 19 Закону України "Про відпустки")</td>
            <td style="border: 1px solid; text-align: center;">ДО</td>
            <td style="border: 1px solid; text-align: center;">15</td>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Відпустка по догляду за дитиною до досягнення нею трирічного віку (ст. 18 Закону України "Про відпустки")</td>
            <td style="border: 1px solid; text-align: center;">ВП</td>
            <td style="border: 1px solid; text-align: center;">16</td>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Відпустка для догляду за дитиною до досягнення нею шестирічного віку (ст. 25 п.3 Закону України "Про відпустки")</td>
            <td style="border: 1px solid; text-align: center;">ДД</td>
            <td style="border: 1px solid; text-align: center;">17</td>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Відпустка без збереження заробітної плати за згодою сторін (ст. 26 Закону України "Про відпустки")</td>
            <td style="border: 1px solid; text-align: center;">НА</td>
            <td style="border: 1px solid; text-align: center;">18</td>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Інші відпустки без збереження заробітної плати (на період припинення виконання робіт)</td>
            <td style="border: 1px solid; text-align: center;">БЗ</td>
            <td style="border: 1px solid; text-align: center;">19</td>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid;">Неявки у зв'язку з переведенням за ініціативою роботодавця на неповний робочий день (тиждень)</td>
            <td style="border: 1px solid; text-align: center;">НД</td>
            <td style="border: 1px solid; text-align: center;">20</td>
            <td colspan="7"></td>
        </tr>
        <!--{{#isPageBreak}}-->
        <tr>
            <td colspan="{{allColumn}}"><p>&nbsp;<!-- pagebreak --></p></td>
        </tr>
        <!--{{/isPageBreak}}-->
        <!--{{/printConditionalDesignations}}-->
        <!--{{/firstPage}}-->
    </tbody>
</table>
<table style="border-collapse: collapse; page-break-inside:auto; font-family: TimesNewRoman; font-size: 8pt" border="0" width="1450px" cellspacing="0" cellpadding="0">
    <tbody>
        <!--{{#report}}-->
        <!--{{#pages}}-->
        <!--{{#firstTablePage}}-->
        <tr>
            <td colspan="{{allColumn}}" style="font-weight: bold; font-size: 10pt; text-transform: uppercase; text-align: center;"><span style="display: block; height: 16px;">{{organizationName}}</span></td>
        </tr>
        <tr>
            <td colspan="{{allColumn}}" style="text-align: center; height: 13px;"><span style="display: block; height: 13px;">Найменування підприємства (установи, організації)</span></td>
        </tr>
        <tr>
            <td rowspan="2" colspan="{{dateTableEmptyColumn}}"></td>
            <td></td>
            <td colspan="2" rowspan="2" style="border: 1px solid; text-align: center; height: 44px;">Дата заповнення</td>
            <td colspan="2" style="border: 1px solid; text-align: center; height: 30px;">Звітний період</td>
        </tr>
        <tr>
            <td rowspan="2"></td>
            <td style="border: 1px solid; text-align: center;">З</td>
            <td style="border: 1px solid; text-align: center;">По</td>
        </tr>
        <tr>
            <td colspan="{{dateTableEmptyColumn}}" style="font-size: 11pt; text-align: center; font-weight: bold; height: 18px;">ТАБЕЛЬ ОБЛІКУ ВИКОРИСТАННЯ РОБОЧОГО ЧАСУ</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-weight: bold;">{{issueDate}}</td>
            <td style="border: 1px solid; text-align: center; font-weight: bold;">{{periodFrom}}</td>
            <td style="border: 1px solid; text-align: center; font-weight: bold;">{{periodTo}}</td>
        </tr>
        <!--{{/firstTablePage}}-->
        <tr>
            <td></td>
            <td colspan="8" style="height: 13px;">Кількість робочих днів при 5-денному робочому тижні {{workDays}}</td>
            <td colspan="{{daysColumn}}"></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="8" style="height: 13px;">Кількість робочих днів при 6-денному робочому тижні {{sixWorkDaysOfMounth}}</td>
            <td colspan="{{daysColumn}}"></td>
        </tr>
        <tr>
            <td colspan="{{allColumn}}" style="height: 6px;"></td>
        </tr>
        <tr>
            <td rowspan="2" style="border: 1px solid; text-align: center; width: 15px; height: 60px;">№ <br />з/п</td>
            <td rowspan="2" style="border: 1px solid; text-align: center; width: 224px;">ПІБ <br />Табельний №<br /> Посада</td>
            <td rowspan="2" style="border: 1px solid; text-align: center; width: 30px;">Кількість ставок</td>
            <!--{{#mounthDaysArr}}-->
            <td rowspan="2" style="border: 1px solid; text-align: center; width: 15px;">{{dayOfMounth}}</td>
            <!--{{/mounthDaysArr}}-->
            <td rowspan="2" style="border: 1px solid; text-align: center; align-items: center; transform: rotate(-90deg); height: 60px; width: 20px;">Всього явок</td>
            <td rowspan="2" style="border: 1px solid; text-align: center; align-items: center; transform: rotate(-90deg); height: 60px; width: 20px;">Всього неявок</td>
            <td rowspan="2" style="border: 1px solid; text-align: center;">Місячна з/п</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">Заміщення</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">Пропущені години</td>
        </tr>
        <tr>
            <td style="border: 1px solid; text-align: center;">1-4 класи</td>
            <td style="border: 1px solid; text-align: center;">5-11 класи</td>
            <td style="border: 1px solid; text-align: center;">ГПД</td>
            <td style="border: 1px solid; text-align: center;">Дні</td>
            <td style="border: 1px solid; text-align: center;">Години</td>
            <td style="border: 1px solid; text-align: center;">Сума</td>
        </tr>
        <!--{{#empArr}}-->
        <tr>
            <td style="border-right: 1px solid; border-left: 1px solid; text-align: center;">{{index}}</td>
            <td style="border-right: 1px solid; border-left: 1px solid; font-size: 10pt; font-weight: bold; height: 17px;">{{shortFIO}}</td>
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <!--{{#timeSheetArr}}-->
            <td style="border-right: 1px solid; border-left: 1px solid;">{{isHoliday}}</td>
            <!--{{/timeSheetArr}}-->
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
        </tr>
        <!--{{#posArr}}-->
        <tr>
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid;"><span style="display: block; height: 24px;">{{tabNum}}<br/>{{dictPositionName}}</span></td>
            <td style="border-right: 1px solid; border-left: 1px solid; text-align: center;">{{#$fs}}"rate","decimal4"{{/$fs}}</td>
            <!--{{#mounthDaysArr}}-->
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <!--{{/mounthDaysArr}}-->
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"accrualSum","decimal2"{{/$fs}}</td>
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid;"></td>
        </tr>
        <!--{{/posArr}}-->
        <tr>
            <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid;"></td>
            <!--{{#mounthDaysArr}}-->
            <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid;"></td>
            <!--{{/mounthDaysArr}}-->
            <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid;"></td>
            <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid;"></td>
        </tr>
        <!--{{#signature}}-->
        <tr>
            <td colspan="{{allColumn}}" style="height: 10px;"></td>
        </tr>
        <tr>
            <td colspan="{{allColumn}}" style="font-size: 9pt; padding-left: 100px;"><span style="display: block; height: 16px;">Керівник установи {{headOrg}}</span></td>
        </tr>
        <tr>
            <td colspan="{{dateTableEmptyColumn}}" style="font-size: 9pt; padding-left: 100px;"><span style="display: block; height: 16px;">Відповідальний за ведення табелю {{responsiblePositionShortFIO}}</span></td>
            <td colspan="5" style="text-align: right;">{{pageNumber}}</td>
        </tr>
        <!--{{/signature}}-->
        <!--{{#isPageBreak}}-->
        <tr>
            <td colspan="{{allColumn}}"><p>&nbsp;<!-- pagebreak --></p></td>
        </tr>
        <!--{{/isPageBreak}}-->
        <!--{{/empArr}}-->
        <!--{{/pages}}-->
        <!--{{/report}}-->
    </tbody>
</table>