<!--%pageOrientation:landscape-->
<table style="border-collapse: collapse; page-break-inside:auto; font-family: TimesNewRoman; font-size: 10pt" border="0" width="1400px" cellspacing="0" cellpadding="0">
    <tbody>
        <!--{{#report}}-->
        <tr>
            <td colspan="19"></td>
            <td colspan="3" style="display: block; padding-left: 40px;">Затверджую</td>
        </tr>
        <tr>
            <td style="font-style: italic; border-bottom: 1px solid;">КПК</td>
            <td style="font-style: italic; font-weight: bold; border-bottom: 1px solid; text-align: left;">{{dictProg}}</td>
            <td colspan="17" style="font-weight: bold; font-size: 16pt; padding-left: 40px;">Зведена тарифікаційна відомість</td>
            <td colspan="3" style="text-align: left;">Начальник управління освіти</td>
        </tr>
        <tr>
            <td style="font-style: italic; border-bottom: 1px solid;">Джерело фінансування:</td>
            <td style="font-style: italic; font-weight: bold; border-bottom: 1px solid; text-align: left;">{{dictFundSource}}</td>
            <td colspan="17" style="font-weight: bold; font-size: 16pt; padding-left: 40px;">{{org}}</td>
            <td colspan="3" style="text-align: left; border-bottom: 1px solid;"></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="20" style="font-weight: bold; font-size: 16pt; padding-left: 40px;">станом на {{dateFrom}}</td>
            
        </tr>
        
        <tr>
            <td colspan="22" style="height: 40px;"></td>
        </tr>
        <tr>
            <td colspan="6" rowspan="2" style="border: 1px solid; text-align: center;"></td>
            <td colspan="4" style="border: 1px solid; text-align: center;">1-4 класи</td>
            <td colspan="4" style="border: 1px solid; text-align: center;">5-9 класи</td>
            <td colspan="4" style="border: 1px solid; text-align: center;">10-11 класи</td>
            <td colspan="4" style="border: 1px solid; text-align: center; font-weight: bold; font-weight: bold;">Разом</td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid; text-align: center; font-weight: bold;">Години</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-weight: bold;">Сума</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-weight: bold;">Години</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-weight: bold;">Сума</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-weight: bold;">Години</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-weight: bold;">Сума</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-weight: bold;">Години</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-weight: bold;">Сума</td>
        </tr>
        <!--{{#rowsDivideLoads}}--> 
        <!--{{#load}}-->
        <tr>
            <!--{{#rowspan}}-->
            <td colspan="2" rowspan="{{rowspan}}" style="border-top: 1px solid; border-left: 1px solid; border-right: 1px solid; align-items: center; text-align: center;">Педнавантаження</td>
            <!--{{/rowspan}}-->
            <td colspan="4" style="border: 1px solid;">{{loadName}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"pupil1Hours","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"pupil1Sum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"pupil2Hours","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"pupil2Sum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"pupil3Hours","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"pupil3Sum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; font-weight: bold; text-align: center;">{{#$fs}}"hoursSum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; font-weight: bold; text-align: center;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        </tr>
        <!--{{/load}}-->
        <!--{{/rowsDivideLoads}}-->
        <!--{{#allLoadsSum}}-->
        <tr>
            <td colspan="4" style="border: 1px solid; text-align: right; font-weight: bold; padding: 0 10px 0 0;">Разом</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"allPupil1Hours","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"allPupil1Sum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"allPupil2Hours","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"allPupil2Sum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"allPupil3Hours","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"allPupil3Sum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; font-weight: bold; text-align: center;">{{#$fs}}"allHoursSum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; font-weight: bold; text-align: center;">{{#$fs}}"allPaySum","decimal2"{{/$fs}}</td>
        </tr>
        <!--{{/allLoadsSum}}-->
        <!--{{#rowsDivideNoteBooks}}-->
        <!--{{#load}}--> 
        <tr>
            <!--{{#rowspan}}-->
            <td colspan="2" rowspan="{{rowspan}}" style="border: 1px solid; align-items: center; text-align: center;">Зошити</td>
            <!--{{/rowspan}}-->
            <td colspan="4" style="border: 1px solid;">{{loadName}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"pupil1Hours","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"pupil1Sum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"pupil2Hours","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"pupil2Sum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"pupil3Hours","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"pupil3Sum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-weight: bold;">{{#$fs}}"hoursSum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-weight: bold;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
        </tr>
        <!--{{/load}}-->
        <!--{{/rowsDivideNoteBooks}}-->
        <!--{{#allNoteBooksSum}}-->
         <tr>
            <td colspan="4" style="border: 1px solid; text-align: right; font-weight: bold; padding: 0 10px 0 0;">Разом</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"allPupil1Hours","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"allPupil1Sum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"allPupil2Hours","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"allPupil2Sum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"allPupil3Hours","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{#$fs}}"allPupil3Sum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; font-weight: bold; text-align: center;">{{#$fs}}"allHoursSum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; font-weight: bold; text-align: center;">{{#$fs}}"allPaySum","decimal2"{{/$fs}}</td>
        </tr>
        <!--{{/allNoteBooksSum}}-->
        <!--{{#allLoads}}-->
        <tr style="font-size: 11pt;">
            <td colspan="6" style="border: 1px solid; font-weight: bold; text-align: right; padding: 0 10px 0 0;">Всього</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-weight: bold;">{{#$fs}}"allPupil1Hours","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-weight: bold;">{{#$fs}}"allPupil1Sum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-weight: bold;">{{#$fs}}"allPupil2Hours","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-weight: bold;">{{#$fs}}"allPupil2Sum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-weight: bold;">{{#$fs}}"allPupil3Hours","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center; font-weight: bold;">{{#$fs}}"allPupil3Sum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; font-weight: bold; text-align: center;">{{#$fs}}"allHoursSum","decimal2"{{/$fs}}</td>
            <td colspan="2" style="border: 1px solid; font-weight: bold; text-align: center;">{{#$fs}}"allPaySum","decimal2"{{/$fs}}</td>
        </tr>
        <!--{{/allLoads}}-->
        <tr>
            <td colspan="8" style="height: 20px;"></td>
            <td colspan="14"></td>
        </tr>
        <tr>
            <td colspan="4" style="border: 1px solid; text-align: center; font-weight: bold; width: 200px;">Посада</td>
            <td style="border: 1px solid; text-align: center; font-weight: bold;">Кількість ставок</td>
            <td style="border: 1px solid; text-align: center; font-weight: bold;">Кількість годин</td>
            <td style="border: 1px solid; text-align: center; font-weight: bold;">Оплата</td>
            <td style="border: 1px solid; text-align: center; font-weight: bold;">Середня ставка</td>
            <td style="width: 20px;"></td>
            <td colspan="5" style="border: 1px solid; text-align: center; font-weight: bold;">Доплати</td>
            <td style="border: 1px solid; text-align: center; font-weight: bold;">Сума</td>
            <td style="width: 20px;"></td>
            <td colspan="5" style="border: 1px solid; text-align: center; font-weight: bold;">Надбавки</td>
            <td style="border: 1px solid; text-align: center; font-weight: bold;">Сума</td>
        </tr>
        <!--{{#renderAccr}}-->
        <tr>
            <td colspan="4"  style="text-align: {{textAlignPosName}}; font-weight: {{fontWeightPosName}}; border: {{borderPosName}};">{{dictPositionName}}</td>
            <td style="text-align: center; font-weight: {{fontWeightPosName}}; border: {{borderPosName}}">{{#$fs}}"rate","decimal4"{{/$fs}}</td>
            <td style="text-align: center; font-weight: {{fontWeightPosName}}; border: {{borderPosName}}">{{#$fs}}"hours","decimal2"{{/$fs}}</td>
            <td style="text-align: right; font-weight: {{fontWeightPosName}}; border: {{borderPosName}}">{{#$fs}}"payment","decimal2"{{/$fs}}</td>
            <td style="text-align: right; border: {{borderPosName}}">{{#$fs}}"middleRate","decimal2"{{/$fs}}</td>
            <td style="width: 20px;"></td>
            <td colspan="5" style="text-align: {{textAlignOverpayPos}}; font-weight: {{fontWeightOverpayPos}}; border: {{borderOverpayPos}}">{{overpayPositionsName}}</td>
            <td style="text-align: right; font-weight: {{fontWeightOverpayPos}}; border: {{borderOverpayPos}};">{{#$fs}}"accrualSumOverpayPositions","decimal2"{{/$fs}}</td>
            <td style="width: 20px;"></td>
            <td colspan="5" style="font-weight: {{fontWeightPremiumPos}}; text-align: {{textAlignPremiumPos}}; border: {{borderPremiumPos}}">{{premiumPositionsName}}</td>
            <td style="font-weight: {{fontWeightPremiumPos}}; text-align: right; border: {{borderPremiumPos}};">{{#$fs}}"accrualSumPremiumPositions","decimal2"{{/$fs}}</td>
        </tr>
        <!--{{/renderAccr}}-->
        <tr>
            <td colspan="22" style="height: 10px;"></td>
        </tr>
        <!--{{#totalSum}}-->
        <tr>
            <td colspan="5" style="border-top: 1px solid; border-bottom: 1px solid; font-weight: bold; font-size: 11pt; text-align: center;">Всього по {{selectOrg}}</td>
            <td colspan="3" style="border-top: 1px solid; border-bottom: 1px solid; font-weight: bold; font-size: 11pt; text-align: center;">{{#$fs}}"totalSum","decimal2"{{/$fs}}</td>
            <td colspan="14" style="border-top: 1px solid; border-bottom: 1px solid;" ></td>
        </tr>
        
        <!--{{/totalSum}}-->
        <tr>
            <td colspan="22" style="height: 20px;"></td>
        </tr>
   
        <tr>
            <td colspan="22" style="height: 20px;"></td>
        </tr>
        <tr>
            <td colspan="22" style=" font-size: 12pt;">Керівник установи ____________________________ {{chief}}</td>
        </tr>
        <!--{{/report}}-->
    </tbody>
</table>