<!--%pageOrientation:portrait-->

<table style="font-family: TimesNewRoman; font-size: 7pt; line-height: 1.1; table-layout: fixed; border-collapse: collapse; word-break: normal; padding: 0px; margin: 0px 10px 0px 35px;" border="0px" width="350px" cellspacing="0" cellpadding="0px">
    <tbody>
        <tr>
            <td colspan="12" style="text-align: left; font-size: 9pt;">{{hrOrg}}</td>
            <td colspan="2" style="text-align: right;">{{issueDate}}</td>
        </tr>
        <tr>
            <td colspan="14" style="font-weight: bold; font-size: 10pt;">{{fullFIO}}</td>
        </tr>
        <!--{{#positions}}-->
        <tr>
            <td colspan="2" style="border-top: 1px solid; font-weight: bold; border-bottom: 1px solid;">Таб № </td>
            <td style="border-top: 1px solid; font-weight: bold; border-bottom: 1px solid;">{{tabNum}}</td>
            <td colspan="2" style="border-top: 1px solid;">Посада</td>
            <td colspan="5" style="border-top: 1px solid; font-weight: bold; text-align: left;">{{name}}</td>
            <td colspan="2" style="border-top: 1px solid; text-align: right;">Категорія</td>
            <td colspan="2" style="border-top: 1px solid;">{{dictQualificationName}}</td>
        </tr>
        <tr>
            <td colspan="3" style="border-bottom: 1px solid; font-size: 6pt; font-weight: bold;">{{dateFrom}}</td>
            <td colspan="2">Предмет</td>
            <td colspan="9" style="text-align: left; font-weight: bold;">{{subjectName}}</td>
        </tr>
        <tr>
            <td colspan="1">Освіта</td>
            <td colspan="6" style="font-weight: bold; padding-left: 10px;">{{dictEducationLevel}}</td>
            <td colspan="5" style="text-align: right;">Тарифний розряд</td>
            <td colspan="2" style="font-weight: bold;">{{dictTarifCoeff}}</td>
        </tr>
        <tr>
            <td colspan="1">Стаж</td>
            <td colspan="6" style="font-weight: bold; padding-left: 10px;">{{experience}}</td>
            <td colspan="5" style="text-align: right;">Ставка</td>
            <td colspan="2" style="font-weight: bold; text-align: right;">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
        </tr>
        <tr>
            <td style="border-bottom: 1px dotted;">Звання</td>
            <td colspan="6" style="border-bottom: 1px dotted; font-weight: bold; padding-left: 10px;">{{educationRank}}</td>
            <td colspan="5" style="border-bottom: 1px dotted; text-align: right;">Кількість ставок</td>
            <td colspan="2" style="border-bottom: 1px dotted; font-weight: bold; text-align: left;">{{#$fs}}"rate","decimal4"{{/$fs}}</td>
        </tr>
        <!--{{#accrualAlt}}-->
        <tr>
            <td colspan="10" style="padding-left: 20px;">{{rise}}</td>
            <td colspan="2" style="text-align: right;">{{rate}} %</td>
            <td colspan="2" style="font-weight: bold; text-align: right;">{{#$fs}}"accrualSum","decimal2"{{/$fs}}</td>
        </tr>
        <!--{{/accrualAlt}}-->
        <tr>
            <td colspan="1" style="border-top: 1px dotted; border-bottom: 1px dotted;"></td>
            <td colspan="11" style="border-top: 1px dotted; border-bottom: 1px dotted; text-align: left;">Ставка для розрахунку навантаження</td>
            <td colspan="2" style="font-weight: bold; border-top: 1px dotted; border-bottom: 1px dotted; text-align: right;">{{#$fs}}"accrualSum3","decimal2"{{/$fs}}</td>
        </tr>
        <!--{{#overpayPosition}}-->
        <tr>
            <td colspan="10" style="padding-left: 10px;">{{rise}}</td>
            <td colspan="2" style="text-align: right;">{{rate}}</td>
            <td colspan="2" style="text-align: right;">{{#$fs}}"accrualSum","decimal2"{{/$fs}}</td>
        </tr>
        <!--{{/overpayPosition}}-->
        <tr>
            <td colspan="12" style="padding-left: 40px; font-weight: bold; padding-top: 5px;">Разом</td>
            <td colspan="2" style="text-align: right; padding-top: 5px;">{{#$fs}}"totalSum","decimal2"{{/$fs}}</td>
        </tr>
        <!--{{/positions}}-->
        <tr>
            <td colspan="12" style="font-weight: bold; border-bottom: 1px solid; padding-top: 5px;">Всього по працівнику
            </td>
            <td colspan="2" style="font-weight: bold; border-bottom: 1px solid; padding-top: 5px; text-align: right;">{{#$fs}}"allAccrual","decimal2"{{/$fs}}</td>
        </tr>
        <tr>
            <td colspan="14" style="border-top: 4px double;"></td>
        </tr>
    </tbody>
</table>