<!--%pageOrientation:landscape-->
<table style="border-collapse: collapse; page-break-inside:auto; font-family: TimesNewRoman; font-size: 10pt; box-sizing: border-box;" border="0" width="1450px" cellspacing="0" cellpadding="0">
    <tbody>
        <!--{{#report}}-->
        <tr>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
            <td style="width: 29px;"></td>
        </tr>
        <tr>
            <td colspan="54" style="height: 20px;"></td>
        </tr>
        <tr>
            <td colspan="8">&nbsp;&nbsp;&nbsp;Додаток 1а</td>
            <td colspan="38" style="font-weight: bold; font-size: 12pt; text-align: center;">Інформація щодо фактичних видатків по заробітній платі працівників освіти</td>
            <td colspan="8"></td>
        </tr>
        <!--{{#headReport}}-->
        <tr>
            <td colspan="27" style=" font-weight: bold; font-size: 12pt; text-align: center; padding-top: 10px;">{{hrOrg}}</td>
            <td colspan="27" style="font-weight: bold; font-size: 12pt; text-align: center; padding-top: 10px;">за {{period}}</td>
        </tr>
        <!--{{/headReport}}-->
        <tr>
            <td colspan="54" style="height: 20px;"></td>
        </tr>
        <tr>
            <td colspan="6" rowspan="2" style="border: 1px solid; text-align: center; align-items: center;">Найменвання (в розрізі свіх КПК)</td>
            <td colspan="2" style="border: 1px solid; text-align: center; align-items: center;">Кількість ставок</td>
            <td colspan="3" rowspan="2" style="border: 1px solid; text-align: center; align-items: center;">Всього&nbsp;&nbsp; оплата праці (тис. грн)</td>
            <td colspan="3" rowspan="2" style="border: 1px solid; text-align: center; align-items: center;">по окладах в тому числі</td>
            <td colspan="9" style="border: 1px solid; text-align: center; align-items: center;">в т. ч. підвищення окладу по пост. КМУ № 1391 від 28.12.2021 р.</td>
            <td colspan="20" style="border: 1px solid; text-align: center; align-items: center;">Доплати</td>
            <td colspan="3" rowspan="2" style="border: 1px solid; text-align: center; align-items: center;">Всього по&nbsp;&nbsp;ст. 57</td>
            <td colspan="8" style="border: 1px solid; text-align: center; align-items: center;">В тому числі</td>
        </tr>
        <!--{{#year}}-->
        <tr>
            <td class="rotate" style="height: 120px; border: 1px solid; text-align: center; height: 130px;">Середньорічний план <br /> на 01.01.{{year}} р.</td>
            <td class="rotate" style="height: 120px; border: 1px solid; text-align: center; text-align: center;">Фактично зайняті<br />ставки за звітний<br /> період</td>
            <td colspan="3" style="border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">За звання</td>
            <td colspan="3" style="border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">Доплата за коледж, ліцей, гімназії спеціалізацію</td>
            <td colspan="3" style="border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">Інші підвищення</td>
            <td colspan="2" class="rotate" style="height: 120px; border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">Класне керівництво</td>
            <td colspan="2" class="rotate" style="height: 120px; border: 1px solid; font-size: 9pt; text-align: center; align-items: center;">Перевірка зошитів</td>
            <td colspan="3" style="border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">Завідування кабінетами, майстернями, бібліотеками</td>
            <td colspan="3" style="border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">Керівники гуртків, інші доплати (пост. КМУ № 1391 від 28.12.2021 р.)</td>
            <td colspan="3" style="border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">Керівництво предметними та методичними комісіями (пост. КМУ № 1391 від 28.12.2021 р.)</td>
            <td colspan="3" style="border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">За шкідливість, ЕОМ</td>
            <td colspan="2" style="border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">За роботу в інклюзивних класах (групах) (пост. КМУ  № 1391)</td>
            <td colspan="2" style="border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">Педагогічним працівникам за успішне проходження сертифікації (пост. КМУ № 1391)</td>
            <td colspan="3" style="border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">Вислуга років педпрацівникам</td>
            <td colspan="2" style="border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">Грошова винагорода</td>
            <td colspan="3" style="border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">Матеріальна допомога на оздоровлення</td>
        </tr>
        <!--{{/year}}-->
        <tr>
            <td colspan="6" style="border: 1px solid;"></td>
            <td style="border: 1px solid; text-align: center;">1</td>
            <td style="border: 1px solid; text-align: center;">2</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">4+35+36+37+38+ 39+40+41+42+43=3</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">4</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">5</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">6</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">7</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">8</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">9</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">10</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">11</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">12</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">13</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">13.2</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">13.3</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">15+16+17=14</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">15</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">16</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">17</td>
        </tr>
        <!--{{#dicProgClassName}}-->
        <tr>
            <td colspan="54" style="padding: 0 0 0 10px; font-size: 11pt; font-weight: bold; border: 1px solid;">{{dicProgClassName}}</td>
        </tr>
        <!--{{/dicProgClassName}}-->
        <!--{{#totalAccr}}-->
        <tr>
            <td colspan="6" style="border: 1px solid;">Всього по галузі,<br />з них:</td>
            <td style="border: 1px solid; text-align: center;"></td>
            <td style="border: 1px solid; text-align: center;">{{totalRate}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_sum}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_40}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_1}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_2}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_3}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_4}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_5}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_6}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_7}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_8}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_9}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_38}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_39}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalSumTrf_10_11_12}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_10}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_11}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_12}}</td>
        </tr>
        <!--{{/totalAccr}}-->
        <!--{{#positionCategoryRequest}}-->
        <tr>
            <td colspan="6" style="border: 1px solid;">{{dictStaffSubCatName}}</td>
            <td style="border: 1px solid; text-align: center;"></td>
            <td style="border: 1px solid; text-align: center;">{{rate}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_sum_total}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_40}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_1}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_2}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_3}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_4}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_5}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_6}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_7}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_8}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_9}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_38}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_39}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_10_11_12}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_10}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_11}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_12}}</td>
        </tr>
        <!--{{/positionCategoryRequest}}-->
        <!--{{#firstPageBreak}}-->
        <!--{{#isPageBreak}}--> 
        <tr>
            <td colspan="54"><p>&nbsp;<!-- pagebreak --></p></td>
        </tr>
        <!--{{/isPageBreak}}-->
        <!--{{/firstPageBreak}}-->
        <tr>
            <td colspan="54" style="height: 20px;"></td>
        </tr>
        <!--{{#headReport}}-->
        <tr>
            <td colspan="27" style=" font-weight: bold; font-size: 12pt; text-align: center;">{{hrOrg}}</td>
            <td colspan="27" style="font-weight: bold; font-size: 12pt; text-align: center;">за {{period}}</td>
        </tr>
        <!--{{/headReport}}-->
        <tr>
            <td colspan="54" style="height: 20px;"></td>
        </tr>
        <!--{{#year}}-->
        <tr>
            <td colspan="6" rowspan="2" style="border: 1px solid; text-align: center; align-items: center;">Найменвання (в розрізі
                свіх КПК)
            </td>
            <td colspan="2" rowspan="2" style="border: 1px solid; text-align: center; align-items: center;">Надбавка за вислугу років медичним працівникам згідно Постанови КМУ № 1418 від 29.12.2009 р.</td>
            <td colspan="4" style="border: 1px solid; text-align: center; align-items: center;">Постанова КМУ № 1073 від 30.09.2009 р. (Бібліотекарям)</td>
            <td colspan="5" style="border: 1px solid; text-align: center; align-items: center;">Постанова КМУ № 1062 від 30.09.2009 р. (Бібліотекарям)</td>
            <td colspan="3" rowspan="2" style="border: 1px solid; text-align: center; align-items: center;">Надбавка пед-пр. 20% згідно Постанови КМУ №373 від 23.03.2011 р.</td>
            <td colspan="2" rowspan="2" class="rotate" style="height: 120px; width: 120px;border: 1px solid; text-align: center; align-items: center;">Матеріальна допомога в <br />тому числі на поховання</td>
            <td colspan="2" rowspan="2" class="rotate" style="height: 120px; border: 1px solid; text-align: center; align-items: center;">Стимулюючі надбавки в <br />тому числі молодим <br />спеціалістам</td>
            <td colspan="2" rowspan="2" class="rotate" style="height: 120px; border: 1px solid; text-align: center; align-items: center;">Надбавка бухгалтерам 50%</td>
            <td colspan="2" rowspan="2" style="border: 1px solid; text-align: center; align-items: center;">Премія</td>
            <td colspan="3" rowspan="2" class="rotate" style="height: 120px; border: 1px solid; text-align: center; align-items: center;">Інші доплати відповідно <br />до законодавства <br />(розшифрувати)</td>
            <td colspan="12" style="border: 1px solid; text-align: center; align-items: center;">В тому числі</td>
            <td colspan="3" rowspan="2" class="rotate" style="height: 120px; border: 1px solid; text-align: center; align-items: center;">Інші доплати відповідно <br />до законодавства<br />(розшифрувати)</td>
            <td colspan="8" style="border: 1px solid; text-align: center; align-items: center;">В тому числі</td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">Надбавка 50%</td>
            <td colspan="2" style="border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">Доплата за вислугу років</td>
            <td colspan="3" style="border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">Матеріальна допомога бібліотекарям на соц-побутові питання</td>
            <td colspan="2" style="border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">Допомога бібліотекарям на оздоровлення</td>
            <td colspan="3" class="rotate" style="height: 120px; border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">За суміщення посад,<br /> розширення зони<br /> обслуговування</td>
            <td colspan="3" class="rotate" style="height: 120px; border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">За вчене звання</td>
            <td colspan="3" class="rotate" style="height: 120px; border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">За наукову ступінь</td>
            <td colspan="3" class="rotate" style="height: 120px; border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">За перевищення <br />наповнюваності груп</td>
            <td colspan="2" class="rotate" style="height: 120px; border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">За почесні звання <br />України, СРСР</td>
            <td colspan="2" class="rotate" style="height: 120px; border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">За звання та <br />використання в <br />роботі іноземної мови</td>
            <td colspan="2" class="rotate" style="height: 120px; border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">За спортивні звання</td>
            <td colspan="2" class="rotate" style="height: 120px; border: 1px solid; text-align: center; align-items: center; font-size: 9pt;">За класність водіям</td>
        </tr>
        <!--{{/year}}-->
        <tr>
            <td colspan="6" style="border: 1px solid;"></td>
            <td colspan="2" style="border: 1px solid; text-align: center;">18</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">19</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">20</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">21</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">22</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">23</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">24</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">25</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">26</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">27</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">28.1+28.2+28.3 +28.4=28</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">28.1</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">28.2</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">28.3</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">28.4</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">29.1+29.2+29.3 +29.4=29</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">29.1</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">29.2</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">29.3</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">29.4</td>
        </tr>
        <!--{{#dicProgClassName}}-->
        <tr>
            <td colspan="54" style="padding: 0 0 0 10px; font-size: 11pt; font-weight: bold; border: 1px solid;">{{dicProgClassName}}</td>
        </tr>
        <!--{{/dicProgClassName}}-->
        <!--{{#totalAccr}}-->
        <tr>
            <td colspan="6" style="border: 1px solid;">Всього по галузі,<br />з них:</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_13}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_14}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_15}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_16}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_17}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_18}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_19}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_20}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_21}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_22}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_sum_23_26}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_23}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_24}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_25}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_26}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_sum_27_30}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_27}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_28}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_29}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_30}}</td>
        </tr>
        <!--{{/totalAccr}}-->
        <!--{{#positionCategoryRequest}}-->
        <tr>
            <td colspan="6" style="border: 1px solid;">{{dictStaffSubCatName}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_13}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_14}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_15}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_16}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_17}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_18}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_19}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_20}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_21}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_22}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_sum_23_26}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_23}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_24}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_25}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_26}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_sum_27_30}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_27}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_28}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_29}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_30}}</td>
        </tr>
        <!--{{/positionCategoryRequest}}-->
       <!--{{#secondPageBreak}}-->
        <!--{{#isPageBreak}}--> 
        <tr>
            <td colspan="54"><p>&nbsp;<!-- pagebreak --></p></td>
        </tr>
        <!--{{/isPageBreak}}-->
        <!--{{/secondPageBreak}}-->
        <tr>
            <td colspan="54" style="height: 20px;"></td>
        </tr>
        <!--{{#headReport}}-->
        <tr>
            <td colspan="27" style="font-weight: bold; font-size: 12pt; text-align: center; padding: 0 0 10px 0;">{{hrOrg}}</td>
            <td colspan="27" style="font-weight: bold; font-size: 12pt; text-align: center; padding: 0 0 10px 0;">за {{period}}</td>
        </tr>
        <!--{{/headReport}}-->
        <!--{{#year}}-->
        <tr>
            <td colspan="6" style="border: 1px solid; text-align: center; align-items: center; max-width: 233px;">Найменвання (в розрізі свіх КПК)</td>
            <td colspan="2" class="rotate" style="height: 170px; border: 1px solid; text-align: center; align-items: center;">Індексація</td>
            <td colspan="3" class="rotate" style="height: 170px; border-top: 1px solid; text-align: center;">Компенсація за <br />невикористану відпустку</td>
            <td colspan="3" class="rotate" style="height: 170px; border: 1px solid; text-align: center; align-items: center;">Заміни</td>
            <td colspan="3" class="rotate" style="height: 170px; border: 1px solid; text-align: center; align-items: center;">Лікарняні <br />за рахунок установи</td>
            <td colspan="3" class="rotate" style="height: 170px; border: 1px solid; text-align: center; align-items: center;">Нічні, святкові</td>
            <td colspan="3" class="rotate" style="height: 170px; border: 1px solid; text-align: center; align-items: center;">Доплата до <br />мінімальної зарплати</td>
            <td colspan="3" class="rotate" style="height: 170px; border: 1px solid; text-align: center; align-items: center;">Надбавки всього</td>
            <td colspan="3" class="rotate" style="height: 170px; border: 1px solid; text-align: center; align-items: center;">Доплати всього</td>
            <td colspan="3" class="rotate" style="height: 170px; border: 1px solid; text-align: center; align-items: center;">Стимулюючі виплати <br />всього</td>
            <td colspan="4" class="rotate" style="height: 170px; border: 1px solid; text-align: center; align-items: center;">Премія</td>
            <td colspan="5" class="rotate" style="height: 170px; border: 1px solid; text-align: center; align-items: center;">Матеріальна допомога <br />всього</td>
            <td colspan="4" class="rotate" style="height: 170px; border: 1px solid; text-align: center; align-items: center;">Грошова винагорода</td>
            <td colspan="3" class="rotate" style="height: 170px; border: 1px solid; text-align: center; align-items: center;">Матеріально допомога на <br />оздоровлення<br /> педпрацівникам</td>
            <td colspan="3" class="rotate" style="height: 170px; border: 1px solid; text-align: center; align-items: center;">Інші всього</td>
            <td colspan="3" class="rotate" style="height: 170px; border: 1px solid; text-align: center; align-items: center;">Із загальної суми відпускні</td>
        </tr>
        <!--{{/year}}-->
        <tr>
            <td colspan="6" style="border: 1px solid;"></td>
            <td colspan="2" style="border: 1px solid; text-align: center;">30</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">31</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">32</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">33</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">34</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">35</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">15+18+19+23 +29=36</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">8+9+10+11+12+13 +20+28+34+35=37</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">25+26=38</td>
            <td colspan="4" style="border: 1px solid; text-align: center;">27=39</td>
            <td colspan="5" style="border: 1px solid; text-align: center;">21+22+24=40</td>
            <td colspan="4" style="border: 1px solid; text-align: center;">16=41</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">17=42</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">30+31+ 32+33=43</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">44</td>
        </tr>
        <!--{{#dicProgClassName}}-->
        <tr>
            <td colspan="54" style="padding: 0 0 0 10px; font-size: 11pt; font-weight: bold; border: 1px solid;">{{dicProgClassName}}</td>
        </tr>
        <!--{{/dicProgClassName}}-->
        <!--{{#totalAccr}}-->
        <tr>
            <td colspan="6" style="border: 1px solid;">Всього по галузі,<br />з них:</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{totalTrf_salary_31}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_32}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_33}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_34}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_35}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_36}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_sum_10_13_14_18_27_30}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_sum_4_9_15_23_26_35_36}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_sum_20_21}}</td>
            <td colspan="4" style="border: 1px solid; text-align: center;">{{totalTrf_salary_22}}</td>
            <td colspan="5" style="border: 1px solid; text-align: center;">{{totalTrf_salary_sum_16_17_19}}</td>
            <td colspan="4" style="border: 1px solid; text-align: center;">{{totalTrf_salary_11}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_12}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_sum_31_34}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{totalTrf_salary_37}}</td>
        </tr>
        <!--{{/totalAccr}}-->
        <!--{{#positionCategoryRequest}}-->
        <tr>
            <td colspan="6" style="border: 1px solid;">{{dictStaffSubCatName}}</td>
            <td colspan="2" style="border: 1px solid; text-align: center;">{{trf_salary_31}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_32}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_33}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_34}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_35}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_36}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_sum_10_13_14_18_27_30}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_sum_4_9_15_23_26_35_36}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_sum_20_21}}</td>
            <td colspan="4" style="border: 1px solid; text-align: center;">{{trf_salary_22}}</td>
            <td colspan="5" style="border: 1px solid; text-align: center;">{{trf_salary_sum_16_17_19}}</td>
            <td colspan="4" style="border: 1px solid; text-align: center;">{{trf_salary_11}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_12}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_sum_31_34}}</td>
            <td colspan="3" style="border: 1px solid; text-align: center;">{{trf_salary_37}}</td>
        </tr>
        <!--{{/positionCategoryRequest}}-->
        <!--{{#lastPageBreak}}-->
        <!--{{#isPageBreak}}--> 
        <tr>
            <td colspan="54"><p>&nbsp;<!-- pagebreak --></p></td>
        </tr>
        <!--{{/isPageBreak}}-->
        <tr>
            <td colspan="54" style="height: 20px;"></td>
        </tr>
        <!--{{/lastPageBreak}}-->
        <!--{{/report}}-->
    </tbody>
</table>
<style>
    .rotate {
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        white-space: nowrap;
        height: 200px;
    }

    @media print {
        .rotate {
            -ms-writing-mode: tb-rl;
            -webkit-writing-mode: vertical-rl;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            white-space: nowrap;
        }
    }
</style>