<!--%pageOrientation:landscape-->
<table style="border-collapse: collapse; page-break-inside:auto; font-family: TimesNewRoman; font-size: 8pt; line-height: 1;" border="0"
    width="1400px" cellspacing="0" cellpadding="0">
    <tbody>
        <!--{{#pages}}-->
        <tr>
            <td style="width: 60px; height: 10px;"></td>
            <td style="width: 40px;"></td>
            <td style="width: 60px;"></td>
            <td style="width: 40px;"></td>
            <td style="width: 60px;"></td>
            <td style="width: 40px;"></td>
            <td style="width: 60px;"></td>
            <td style="width: 197px"></td>
            <td style="width: 57px;"></td>
            <td style="width: 70px;"></td>
            <td style="width: 57px;"></td>
            <td style="width: 130px;"></td>
            <td style="width: 40px;"></td>
            <td style="width: 60px;"></td>
            <td style="width: 197px;"></td>
            <td style="width: 57px;"></td>
            <td style="width: 57px;"></td>
            <td style="width: 60px;"></td>
            <td style="width: 57px;"></td>
        </tr>
       
        <tr>
            <td colspan="19" style="text-align: center; font-size: 16pt; font-weight: bold; font-family: Arial, Helvetica, sans-serif; height: 22px;">Розрахункова відомість</td>
        </tr>
        <tr>
            <td colspan="19" style="text-align: center; font-size: 16pt; font-weight: bold; font-family: Arial, Helvetica, sans-serif; height: 22px;">за {{dictPeriodName}}</td>
        </tr>
        <tr>
            <td colspan="3" style="font-style: italic; font-size: 12; height: 13px;">Структурний підрозділ</td>
            <td colspan="16" style="font-style: italic; font-size: 12; font-weight: bold; height: 13px;">{{orgTitile}}</td>
        </tr>
        <tr>
            <td rowspan="3" style="text-align: center; border: 1px solid; height: 52px;">Борг на<br/>початок<br/>періоду</td>
            <td rowspan="3" style="text-align: center; border: 1px solid; padding: 0px 0px;">Відпра<br/>цьовані<br/>дні/год</td>
            <td colspan="8" style="text-align: center; border: 1px solid;">Нараховано</td>
            <td colspan="4" style="text-align: center; border: 1px solid;">Утримано</td>
            <td colspan="3" rowspan="2" style="text-align: center; border: 1px solid;">Виплати</td>
            <td rowspan="3" style="text-align: center; border: 1px solid;">Борг на кінець періоду</td>
            <td rowspan="3" style="text-align: center; border: 1px solid;">ЄСВ нараховано</td>
        </tr>
        <tr>
            <td rowspan="2" style="text-align: center; border: 1px solid; height: 40px;">За відпра<br/>цьований час</td>
            <td colspan="2" style="text-align: center; border: 1px solid;">Відпустка та компенсації</td>
            <td colspan="2" style="text-align: center; border: 1px solid;">Лікарняні листи</td>
            <td colspan="2" style="text-align: center; border: 1px solid;">Інші нарахування</td>
            <td rowspan="2" style="text-align: center; border: 1px solid;">Всього</td>
            <td rowspan="2" style="text-align: center; border: 1px solid;">Податок з доходів</td>
            <td colspan="2" style="text-align: center; border: 1px solid;">Інші утримання</td>
            <td rowspan="2" style="text-align: center; border: 1px solid;">Всього</td>
        </tr>
        <tr>
            <td style="text-align: center; border: 1px solid;">Дні</td>
            <td style="text-align: center; border: 1px solid;">Сума</td>
            <td style="text-align: center; border: 1px solid;">Дні</td>
            <td style="text-align: center; border: 1px solid;">Сума</td>
            <td style="text-align: center; border: 1px solid;">Назва</td>
            <td style="text-align: center; border: 1px solid;">Сума</td>
            <td style="text-align: center; border: 1px solid;">Назва</td>
            <td style="text-align: center; border: 1px solid;">Сума</td>
            <td style="text-align: center; border: 1px solid;">Назва</td>
            <td style="text-align: center; border: 1px solid;">Сума</td>
            <td style="text-align: center; border: 1px solid;">Всього</td>
        </tr>
        <tr>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px; height: 14px;">1</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">2</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">3</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">4</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">5</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">6</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">7</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">8</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">9</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">10</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">11</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">12</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">13</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">14</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">15</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">16</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">17</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">18</td>
            <td style="border: 1px solid; text-align: center; align-items: center; padding-top: 2px;">19</td>
        </tr>
         <!--{{#employeesArr}}-->
        <tr>
            <td colspan="19" style="border: 1px solid; font-size: 10pt; height: 15px;">{{employeeInfo}}</td>
        </tr>
        <!--{{#emplAccr}}-->
        <tr>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"balanceIn","decimal2"{{/$fs}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; height: 28px; text-align: center; align-items: center; padding: 0px 0px;">{{emplWorkDays}} <br/> {{emplWorkHours}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"payrollEducation1","decimal2"{{/$fs}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"payrollEducation2Days","decimal2"{{/$fs}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"payrollEducation2PaySum","decimal2"{{/$fs}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"payrollEducation3Days","decimal2"{{/$fs}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"payrollEducation3PaySum","decimal2"{{/$fs}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; height: 28px;">{{payElName}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"payrollEducation4PaySum","decimal2"{{/$fs}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"totalPayment","decimal2"{{/$fs}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"PDFOSum","decimal2"{{/$fs}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; height: 28px;">{{emplOtherTaxName}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"emplOtherTaxSum","decimal2"{{/$fs}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"totalTax","decimal2"{{/$fs}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; height: 28px;">{{empPayoutName}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"empPayoutSum","decimal2"{{/$fs}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"totalPayout","decimal2"{{/$fs}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; text-align: right;">{{#$fs}}"balanceOut","decimal2"{{/$fs}}</td>
            <td style="{{borderBottom}} border-right: 1px solid; border-left: 1px solid; text-align: right;"><!--{{#emplTaxECB}}-->{{rate}}{{#$fs}}"paySum","decimal2"{{/$fs}}<!--{{/emplTaxECB}}--> <!--{{^emplTaxECB}}--><!--{{#emplTaxECBOneRow}}-->{{rate}}% <br/>{{paySum}}<!--{{/emplTaxECBOneRow}}--><!--{{/emplTaxECB}}--></td>
        </tr>
        <!--{{/emplAccr}}-->
        <!--{{/employeesArr}}-->
        <!--{{#totalDep}}-->
        <tr>
            <td colspan="19" style="font-weight: bold; padding-left: 10px; font-size: 12; border: 1px solid; height: 15px;">Всього по підрозділу</td>
        </tr>
        <tr>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depBalanceIn","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; height: 30px;"></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depPayrollEducation1","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; "></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depPayrollEducation2PaySum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid;"></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depPayrollEducation3PaySum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid;"></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depPayrollEducation4PaySum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depTotalPayment","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depPDFOSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid;"></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depEmplOtherTaxSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depTotalTax","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid;"></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depEmpPayoutSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depTotalPayout","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depbalanceOut","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depEmplTaxECB","decimal2"{{/$fs}}</td>
        </tr>
        <!--{{/totalDep}}-->
        <!--{{#totalAccrDep}}-->
        <tr>
            <!--{{#row}}-->
            <!--{{#renderTitle}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt;  border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}">Інші нарахування:</td>
            <!--{{/renderTitle}}-->
            <!--{{#renderEmpty}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt; border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}"></td>
            <!--{{/renderEmpty}}-->
            <td colspan="3" style="padding-top: 5px; {{borderBottom}}">{{payElName}}</td>
            <td style="padding-top: 5px; {{borderBottom}}; {{lastPaySumBorder}}">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
            <!--{{#lastColspan}}-->
            <td colspan="{{lastColspan}}" style="{{lastBorder}};{{borderBottom}}"></td>
            <!--{{/lastColspan}}-->
            <!--{{/row}}-->
            
        </tr>
        <!--{{/totalAccrDep}}-->
        <!--{{#totalOfftake}}-->
        <tr>
            <!--{{#row}}-->
            <!--{{#renderTitle}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt; border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}">Інші утримання:</td>
            <!--{{/renderTitle}}-->
            <!--{{#renderEmpty}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt; border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}"></td>
            <!--{{/renderEmpty}}-->
            <td colspan="3" style="padding-top: 5px; {{borderBottom}}">{{payElName}}</td>
            <td style="padding-top: 5px; {{borderBottom}}; {{lastPaySumBorder}}">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
            <!--{{#lastColspan}}-->
            <td colspan="{{lastColspan}}" style="{{lastBorder}};{{borderBottom}}"></td>
            <!--{{/lastColspan}}-->
            <!--{{/row}}-->  
        </tr>
        <!--{{/totalOfftake}}-->
        <!--{{#totalPayout}}-->
        <tr>
            <!--{{#row}}-->
            <!--{{#renderTitle}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt; border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}">Виплати:</td>
            <!--{{/renderTitle}}-->
            <!--{{#renderEmpty}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt; border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}"></td>
            <!--{{/renderEmpty}}-->
            <td colspan="3" style="padding-top: 5px; {{borderBottom}}">{{payElName}}</td>
            <td style="padding-top: 5px; {{borderBottom}}; {{lastPaySumBorder}}">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
            <!--{{#lastColspan}}-->
            <td colspan="{{lastColspan}}" style="{{lastBorder}};{{borderBottom}}"></td>
            <!--{{/lastColspan}}-->
            <!--{{/row}}-->  
        </tr>
        <!--{{/totalPayout}}-->
        <!--{{#totalOrg}}-->
        <tr>
            <td colspan="19" style="font-weight: bold; padding-left: 10px; font-size: 12; border: 1px solid; height: 15px;">Всього по організації</td>
        </tr>
        <tr>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depBalanceIn","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; height: 30px;"></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depPayrollEducation1","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; "></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depPayrollEducation2PaySum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid;"></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depPayrollEducation3PaySum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid;"></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depPayrollEducation4PaySum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depTotalPayment","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depPDFOSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid;"></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depEmplOtherTaxSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depTotalTax","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid;"></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depEmpPayoutSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depTotalPayout","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depbalanceOut","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depEmplTaxECB","decimal2"{{/$fs}}</td>
        </tr>
        <!--{{/totalOrg}}-->
        <!--{{#totalAccrOrg}}-->
        <tr>
            <!--{{#row}}-->
            <!--{{#renderTitle}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt; border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}">Інші нарахування:</td>
            <!--{{/renderTitle}}-->
            <!--{{#renderEmpty}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt; border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}"></td>
            <!--{{/renderEmpty}}-->
            <td colspan="3" style="padding-top: 5px; height: 30px; {{borderBottom}}">{{payElName}}</td>
            <td style="padding-top: 5px; {{borderBottom}}; {{lastPaySumBorder}}">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
            <!--{{#lastColspan}}-->
            <td colspan="{{lastColspan}}" style="{{lastBorder}};{{borderBottom}}"></td>
            <!--{{/lastColspan}}-->
            <!--{{/row}}-->
        </tr>
        <!--{{/totalAccrOrg}}-->
        <!--{{#totalOfftakeOrg}}-->
        <tr>
            <!--{{#row}}-->
            <!--{{#renderTitle}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt; border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}">Інші утримання:</td>
            <!--{{/renderTitle}}-->
            <!--{{#renderEmpty}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt; border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}"></td>
            <!--{{/renderEmpty}}-->
            <td colspan="3" style="padding-top: 5px; height: 30px; {{borderBottom}}">{{payElName}}</td>
            <td style="padding-top: 5px; {{borderBottom}}; {{lastPaySumBorder}}">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
            <!--{{#lastColspan}}-->
            <td colspan="{{lastColspan}}" style="{{lastBorder}};{{borderBottom}}"></td>
            <!--{{/lastColspan}}-->
            <!--{{/row}}-->  
        </tr>
        <!--{{/totalOfftakeOrg}}-->
        <!--{{#totalPayoutOrg}}-->
        <tr>
            <!--{{#row}}-->
            <!--{{#renderTitle}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt; border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}">Виплати:</td>
            <!--{{/renderTitle}}-->
            <!--{{#renderEmpty}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt; border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}"></td>
            <!--{{/renderEmpty}}-->
            <td colspan="3" style="padding-top: 5px; {{borderBottom}} height: 30px;">{{payElName}}</td>
            <td style="padding-top: 5px; {{borderBottom}}; {{lastPaySumBorder}}">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
            <!--{{#lastColspan}}-->
            <td colspan="{{lastColspan}}" style="{{lastBorder}};{{borderBottom}}"></td>
            <!--{{/lastColspan}}-->
            <!--{{/row}}-->  
        </tr>
        <!--{{/totalPayoutOrg}}-->
        <!--{{#totalYo}}-->
        <tr>
            <td colspan="19" style="font-weight: bold; padding-left: 10px; font-size: 12; border: 1px solid; height: 15px;">Всього по Управлінню освіти</td>
        </tr>
        <tr>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depBalanceIn","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; height: 30px;"></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depPayrollEducation1","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; "></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depPayrollEducation2PaySum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid;"></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depPayrollEducation3PaySum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid;"></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depPayrollEducation4PaySum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depTotalPayment","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depPDFOSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid;"></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depEmplOtherTaxSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depTotalTax","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid;"></td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depEmpPayoutSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depTotalPayout","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depbalanceOut","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid; font-weight: bold; border-left: 1px solid; text-align: right;">{{#$fs}}"depEmplTaxECB","decimal2"{{/$fs}}</td>
        </tr>
        <!--{{/totalYo}}-->
        <!--{{#totalAccrYo}}-->
        <tr>
            <!--{{#row}}-->
            <!--{{#renderTitle}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt; border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}">Інші нарахування:</td>
            <!--{{/renderTitle}}-->
            <!--{{#renderEmpty}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt; border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}"></td>
            <!--{{/renderEmpty}}-->
            <td colspan="3" style="padding-top: 5px; height: 30px; {{borderBottom}}">{{payElName}}</td>
            <td style="padding-top: 5px; {{borderBottom}}; {{lastPaySumBorder}}">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
            <!--{{#lastColspan}}-->
            <td colspan="{{lastColspan}}" style="{{lastBorder}};{{borderBottom}}"></td>
            <!--{{/lastColspan}}-->
            <!--{{/row}}-->
        </tr>
        <!--{{/totalAccrYo}}-->
        <!--{{#totalOfftakeYo}}-->
        <tr>
            <!--{{#row}}-->
            <!--{{#renderTitle}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt; border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}">Інші утримання:</td>
            <!--{{/renderTitle}}-->
            <!--{{#renderEmpty}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt; border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}"></td>
            <!--{{/renderEmpty}}-->
            <td colspan="3" style="padding-top: 5px; height: 30px; {{borderBottom}}">{{payElName}}</td>
            <td style="padding-top: 5px; {{borderBottom}}; {{lastPaySumBorder}}">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
            <!--{{#lastColspan}}-->
            <td colspan="{{lastColspan}}" style="{{lastBorder}};{{borderBottom}}"></td>
            <!--{{/lastColspan}}-->
            <!--{{/row}}-->  
        </tr>
        <!--{{/totalOfftakeYo}}-->
        <!--{{#totalPayoutYo}}-->
        <tr>
            <!--{{#row}}-->
            <!--{{#renderTitle}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt; border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}">Виплати:</td>
            <!--{{/renderTitle}}-->
            <!--{{#renderEmpty}}-->
            <td colspan="3" style="font-style: italic; font-size: 12pt; border-left: 1px solid; align-items: center; height: 30px; text-align: right; {{borderBottom}}"></td>
            <!--{{/renderEmpty}}-->
            <td colspan="3" style="padding-top: 5px; {{borderBottom}} height: 30px;">{{payElName}}</td>
            <td style="padding-top: 5px; {{borderBottom}}; {{lastPaySumBorder}}">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
            <!--{{#lastColspan}}-->
            <td colspan="{{lastColspan}}" style="{{lastBorder}};{{borderBottom}}"></td>
            <!--{{/lastColspan}}-->
            <!--{{/row}}-->  
        </tr>
        <!--{{/totalPayoutYo}}-->
        <tr>
            <td colspan="19" style="text-align: right; height: 10px; font-size: 10pt; font-weight: bold;">{{pageNumber}}</td>
        </tr>
        <!--{{#isPageBreak}}-->
        <tr>
            <td colspan="19"><p>&nbsp;<!-- pagebreak --></p></td>
        </tr>
        <!--{{/isPageBreak}}-->
        <!--{{/pages}}-->
    </tbody>
</table>