<!--%pageOrientation:landscape-->
<table style="border-collapse: collapse; page-break-inside:auto; font-family: TimesNewRoman; font-size: 8pt; line-height: 1;" border="0"
    width="1400px" cellspacing="0" cellpadding="0">
    <tbody>
        <!--{{#pages}}-->
        <!--{{#rh}}-->
        <tr style="height: 14px;">
            <td colspan="5" style="text-align: center; font-size: 9pt;">Затверджую</td>
            <td colspan="4"></td>
            <td colspan="5" style="text-align: center; font-size: 9pt;">Погоджено</td>
        </tr>
        <tr style="height: 14px;">
            <td colspan="2" style="font-size: 9pt;text-align: right;">Начальник управління освіти</td>
            <td colspan="7"></td>
            <td colspan="2" style="font-size: 9pt;text-align: right;">Профспілковий комітет</td>
            <td colspan="3"></td>
        </tr>
        <tr style="height: 14px;">
            <td colspan="2">{{leaderDepartmentShortFIO}}</td>
            <td colspan="3" style="border-bottom: 1px solid;"></td>
            <td colspan="4"></td>
            <td colspan="2">{{tradeUnionCommitteeShortFIO}}</td>
            <td colspan="3" style="border-bottom: 1px solid;"></td>
        </tr>
        <tr>
            <td colspan="14" style="text-align: center; font-size: 13pt; font-weight: bold; height: 20px;">Тарифікаційний список працівників</td>
        </tr>
        <tr>
            <td colspan="14" style="text-align: center; font-size: 13pt; font-weight: bold; height: 20px;">по установі {{hrOrg}}</td>
        </tr>
        <tr>
            <td colspan="14" style="text-align: center; font-size: 13pt; font-weight: bold; height: 20px;">станом на {{issueDate}}</td>
        </tr>
        <tr>
            <td colspan="6" style="font-style: italic; font-weight: bold;">Джерело фінансування: {{dictFundSource}}</td>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td colspan="14" style="height: 20px;"></td>
        </tr>
        <tr>
            <td rowspan="2" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Табельний&nbsp;№<br />Посада<br />Предмет<br />Категорія</td>
            <td rowspan="2" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Освіта <br />Стаж<br />Розряд</td>
            <td rowspan="2" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Посадовий окад</td>
            <td colspan="3" rowspan = "1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; height: 20px; width: 300px;">Підвищення окладу</td>
            <td rowspan="2" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Посадовий оклад з урахуванням підвищень</td>
            <td rowspan="2" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Годин на тиждень</td>
            <td rowspan="2" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Зарплата</td>
            <td colspan="3" rowspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 300px;">Доплати, <br /> надбавки</td>
            <td rowspan="2" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Всього зарплата</td>
            <td rowspan="2" style="align-items: center; text-align: center; border-left: 1px solid; border-right: 1px solid; border-top: 1px solid;">Кількість<br />ставок</td>
        </tr>
        <tr style="margin: 0px 0px; padding: 0px 0px;">
            <td rowspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center; width: 150px;">Найменування</td>
            <td rowspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center; width: 50px;">%</td>
            <td rowspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center; width: 100px;">Сума</td>
            <td rowspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 200px;">Найменування</td>
            <td rowspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center; zwidth: 50px;">%</td>
            <td rowspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center;width: 100px;">Сума</td>
        </tr>        
        <tr style="height: 15px;">
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">1</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">2</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 50px; padding-top: 3px;">3</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">4</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 20px; padding-top: 3px;">5</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">6</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">7</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 60px; padding-top: 3px;">8</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">9</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">10</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">11</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">12</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">13</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; border-right: 1px solid; text-align: center; padding-top: 3px;">14</td>            
        </tr>
        <tr>
            <td colspan="14" style="border: 1px solid; text-align: center; padding: 5px 0; font-style: italic; font-size: 13pt; font-weight: bold; height: 29px;">{{hrOrg}}</td>
        </tr>
        <!--{{/rh}}-->
        <!--{{^rh}}-->
        <tr style="height: 15px;">
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">1</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">2</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 50px; padding-top: 3px;">3</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">4</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 20px; padding-top: 3px;">5</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">6</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">7</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 60px; padding-top: 3px;">8</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">9</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">10</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">11</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">12</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">13</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; border-right: 1px solid; text-align: center; padding-top: 3px;">14</td>
        </tr>
        <!--{{/rh}}-->
        <!--{{#resultPos}}-->
        <!--{{#renderDep}}-->
            <td colspan="14" style="height: 20px;font-size: 13pt; font-weight: bold;border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; border-top: 1px solid; padding: 0 0 0 10px;">Підрозділ {{departmentName}}</td>
        <!--{{/renderDep}}-->
        <tr>
            <td colspan="14" style="height: 15px; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; border-top: 1px solid; padding: 0 0 0 10px; font-size: 15px;">{{fullFIO}}</td>
        </tr>
        <tr>
            <td colspan="1" style="border-left: 1px solid; text-align: center; height: 24px;">{{dateFrom}}</td>
            <td colspan="1" rowspan="2" style="border-left: 1px solid; text-align: center;">{{dictEducationLevel}}</td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; text-align: center; border-bottom: 1px solid;">{{#$fs}}"accrualSum1","decimal2"{{/$fs}}</td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; text-align: center;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; border-bottom: none; font-size: 8pt; min-height: 130px; width: 100%;">
                    <!--{{#accrualsAlt}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; align-items: center;">
                        <td style="text-align: center; width: 100%;">{{rise}}</td>
                    </tr>
                    <!--{{/accrualsAlt}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; text-align: center;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; border-bottom: none; font-size: 8pt; min-height: 130px; width: 100%;">
                    <!--{{#accrualsAlt}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0;">
                        <td style="text-align: center; align-items: center; width: 100%;">{{#$fs}}"rate","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/accrualsAlt}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; text-align: center;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; border-bottom: none; font-size: 8pt; min-height: 130px; width: 100%;">
                    <!--{{#accrualsAlt}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0;">
                        <td style="text-align: center; align-items: center; width: 100%;">{{#$fs}}"riseSum","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/accrualsAlt}}-->
                </table>
            </td>

            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; text-align: center; font-size: 8pt;">{{#$fs}}"accrualSum2","decimal2"{{/$fs}}</td>

            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; text-align: center; font-size: 8pt;">{{#$fs}}"weekHours","decimal2"{{/$fs}}</td>
                           
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; text-align: center; font-size: 8pt;">{{#$fs}}"accrualSum3","decimal2"{{/$fs}}</td>
            
        
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-bottom: 1px solid;">
                <table style="width: 100%; margin: 0 0 0 0; padding: 0 0 0 0; font-size: 8pt;">
                    <!--{{#overpayPosition}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 40px; display: flex; align-items: center; box-sizing: content-box;">
                        <td style="text-align: center; width: 100%;">{{rise}}</td>
                    </tr>
                    <!--{{/overpayPosition}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-bottom: 1px solid; ">
                <table style="width: 100%; margin: 0 0 0 0; padding: 0 0 0 0; font-size: 8pt;">
                    <!--{{#overpayPosition}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 40px; display: flex; align-items: center; box-sizing: content-box;">
                        <td style="text-align: center; box-sizing: border-box; width: 100%;">{{#$fs}}"rate","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/overpayPosition}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-bottom: 1px solid;">
                <table style="width: 100%; margin: 0 0 0 0; padding: 0 0 0 0; font-size: 8pt;">
                    <!--{{#overpayPosition}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 40px; display: flex; align-items: center; box-sizing: content-box;">
                        <td style="text-align: center;  box-sizing: border-box; width: 100%;">{{#$fs}}"riseSum","decimal2"{{/$fs}}
                        </td>
                    </tr>
                    <!--{{/overpayPosition}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; text-align: center; border-bottom: 1px solid;">{{#$fs}}"positionSum","decimal2"{{/$fs}}</td>
            <td colspan="1" rowspan="5" style="width: 30px; border-left: 1px solid; border-right: 1px solid; text-align: center; border-bottom: 1px solid;">{{#$fs}}"posRate","decimal4"{{/$fs}}</td>
        </tr>
        <tr>
            <td style="border-top: 1px solid; border-left: 1px solid; "><span style="min-height: 14px; display: block; text-align: center; align-items: center;">{{tabNum}}</span></td>
        </tr>
        <tr>
            <td style="border-top: 1px solid; border-left: 1px solid;"><span style="min-height: 14px; display: block; text-align: center; align-items: center;">{{name}}</span></td>
            <td style="border-top: 1px solid; border-left: 1px solid; text-align: center;">{{experience}}</td>
        </tr>
        <tr>
            <td style="border-top: 1px solid; border-left: 1px solid; text-align: center; align-items: center;"><span style="min-height: 18px; display: block; text-align: center; align-items: center;">{{subjectName}}</span></td>
            <td style="border-top: 1px solid; border-left: 1px solid; text-align: center;">{{dictTarifCoeff}}</td>
        </tr>
        <tr>
            <td style="border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;"><span style="min-height: 18px; display: block; text-align: center; align-items: center;">{{dictQualificationName}}</span></td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">
            </td>
        </tr>
        <!--{{#renderBottomBlock}}-->
        <tr>
            <td colspan="8" style="height: 30px; padding: 0 0 0 10px; border-top:1px solid; border-left: 1px solid; border-bottom: 1px solid;">Разом по працівнику</td>
            <td style="border-left: 1px solid; border-top:1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"allAccrualSum3","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-top:1px solid; border-bottom: 1px solid; text-align: center;"></td>
            <td style="border-left: 1px solid; border-top:1px solid; border-bottom: 1px solid; text-align: center;"></td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; text-align: center;">{{#$fs}}"allOverpayPositions","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"allPositionSum","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
        </tr>
        <!--{{/renderBottomBlock}}-->
        
        <!--{{#renderUnitDep}}-->
        <!--{{#unitDep}}-->
        <tr style="height: 52px;">
            <td colspan="8" style="height: 30px; padding: 0 0 0 10px; font-weight: bold; border-top:1px solid; border-left: 1px solid; border-bottom: 1px solid;">Разом по підрозділу {{departmentName}}</td>            
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center;font-weight: bold;">{{#$fs}}"allAccrualSum3Unit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; font-weight: bold;">{{#$fs}}"allPositionSumUnit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-right: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
        </tr>
        <!--{{/unitDep}}-->
        <!--{{/renderUnitDep}}-->

        <!--{{#renderUnit}}-->
        <!--{{#unit}}-->
        <tr style="height: 52px;">
            <td colspan="8" style="height: 30px; padding: 0 0 0 10px; font-weight: bold; border-top:1px solid; border-left: 1px solid; border-bottom: 1px solid;">Разом по організації</td>            
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center;font-weight: bold;">{{#$fs}}"allAccrualSum3Unit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; font-weight: bold;">{{#$fs}}"allPositionSumUnit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-right: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
        </tr>
        <!--{{/unit}}-->
        <!--{{/renderUnit}}-->

        <!--{{#isLastDescription}}-->
        <tr>
            <td colspan="{{allColumnCount}}" style="height:50px;"></td>
        </tr>
        <tr>
            <td colspan="7" style="font-size: 15px;">Керівник установи _____________________ {{headEmployeePositionShortFIO}}</td>
            <td colspan="7" style="font-size: 15px; text-align: right;">Голова ПК _____________________ {{headTradeUnionCommitteeShortFIO}}</td>
        </tr>
        <!--{{/isLastDescription}}-->

         <!--{{#isPageBreak}}-->
        <tr>
            <td colspan="{{allColumnCount}}" style="height:50px;"></td>
        </tr>
        <tr>
            <td colspan="7" style="font-size: 15px;">Керівник установи _____________________ {{headEmployeePositionShortFIO}}</td>
            <td colspan="7" style="font-size: 15px; text-align: right;">Голова ПК _____________________ {{headTradeUnionCommitteeShortFIO}}</td>
        </tr>
        <tr>
            <td colspan="{{allColumnCount}}"><p>&nbsp;<!-- pagebreak --></p></td>
        </tr>
        <!--{{/isPageBreak}}-->
        
        <!--{{/resultPos}}-->
        
        <!--{{/pages}}-->
    </tbody>
</table>