<!--%pageOrientation:landscape-->
<table style="border-collapse: collapse; page-break-inside:auto; font-family: TimesNewRoman; font-size: 8pt; line-height: 1;" border="0"
    width="1400px" cellspacing="0" cellpadding="0">
    <tbody>
        <!--{{#pages}}-->
        <!--{{#rh}}-->
        <tr style="height: 14px;">
            <td colspan="5" style="text-align: center; font-size: 9pt;">Затверджую</td>
            <td colspan="19"></td>
            <td colspan="5" style="text-align: center; font-size: 9pt;">Погоджено</td>
        </tr>
        <tr style="height: 14px;">
            <td colspan="5" style="font-size: 9pt;">Начальник управління освіти</td>
            <td colspan="19"></td>
            <td colspan="5" style="font-size: 9pt;">Профспілковий комітет</td>
        </tr>
        <tr style="height: 14px;">
            <td colspan="2">{{leaderDepartmentShortFIO}}</td>
            <td colspan="3" style="border-bottom: 1px solid;"></td>
            <td colspan="19"></td>
            <td colspan="2">{{tradeUnionCommitteeShortFIO}}</td>
            <td colspan="3" style="border-bottom: 1px solid;"></td>
        </tr>
        <tr>
            <td colspan="29" style="text-align: center; font-size: 13pt; font-weight: bold; height: 20px;">Тарифікаційний список працівників</td>
        </tr>
        <tr>
            <td colspan="29" style="text-align: center; font-size: 13pt; font-weight: bold; height: 20px;">по установі {{hrOrg}}</td>
        </tr>
        <tr>
            <td colspan="29" style="text-align: center; font-size: 13pt; font-weight: bold; height: 20px;">станом на {{issueDate}}</td>
        </tr>
        <tr>
            <td colspan="6" style="font-style: italic; font-weight: bold;">Джерело фінансування: {{dictFundSource}}</td>
            <td colspan="23"></td>
        </tr>
        <tr>
            <td colspan="29" style="height: 20px;"></td>
        </tr>
        <tr>
            <td rowspan="3" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Табельний&nbsp;№<br />Посада<br />Предмет<br />Категорія</td>
            <td rowspan="3" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Освіта <br />Стаж<br />Розряд</td>
            <td rowspan="3" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Ставка на місяць</td>
            <td colspan="3" style="border-left: 1px solid; border-top: 1px solid; text-align: center; height: 20px;">Підвищення</td>
            <td rowspan="3" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Ставка на місяць з урахуванням підвищень</td>
            <td colspan="7" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Педнавантаження</td>
            <td rowspan="3" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">І того педзар<br />плата</td>
            <td colspan="6" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Зошити</td>
            <td rowspan="2" style="border-left: 1px solid; border-top: 1px solid; text-align: center; height: 50px;">Керівний клас/<br />Класне керівництво</td>
            <td colspan="2" rowspan="2" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Гурток</td>
            <td colspan="3" rowspan="2" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Доплати, <br /> надбавки</td>
            <td rowspan="3" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Всього зарплата</td>
            <td rowspan="3" style="transform: rotate(-90deg); align-items: center; text-align: center; border-left: 1px solid; border-right: 1px solid; border-top: 1px solid;">Кількість<br />ставок</td>
        </tr>
        <tr style="margin: 0px 0px; padding: 0px 0px;">
            <td rowspan="2" style="border-top: 1px solid; border-left: 1px solid; text-align: center;">Назва</td>
            <td rowspan="2" style="border-top: 1px solid; border-left: 1px solid; text-align: center;">%</td>
            <td rowspan="2" style="border-top: 1px solid; border-left: 1px solid; text-align: center;">Сума</td>
            <td rowspan="2" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Назва</td>
            <td colspan="2" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">1-4</td>
            <td colspan="2" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">5-9</td>
            <td colspan="2" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">10-11</td>
            <td colspan="2" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">1-4</td>
            <td colspan="2" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">5-9</td>
            <td colspan="2" style="border-left: 1px solid; border-top: 1px solid; text-align: center;">10-11</td>
        </tr>
        <tr>
            <td style="border-left: 1px solid; border-top: 1px solid; padding-left: 4px; text-align: center;">Години</td>
            <td style="border-left: 1px solid; border-top: 1px solid; padding-left: 4px; text-align: center;">Сума</td>
            <td style="border-left: 1px solid; border-top: 1px solid; padding-left: 4px; text-align: center;">Години</td>
            <td style="border-left: 1px solid; border-top: 1px solid; padding-left: 4px; text-align: center;">Сума</td>
            <td style="border-left: 1px solid; border-top: 1px solid; padding-left: 4px; text-align: center;">Години</td>
            <td style="border-left: 1px solid; border-top: 1px solid; padding-left: 4px; text-align: center;">Сума</td>
            <td style="border-left: 1px solid; border-top: 1px solid; padding-left: 4px; text-align: center;">Години</td>
            <td style="border-left: 1px solid; border-top: 1px solid; padding-left: 4px; text-align: center;">Сума</td>
            <td style="border-left: 1px solid; border-top: 1px solid; padding-left: 4px; text-align: center;">Години</td>
            <td style="border-left: 1px solid; border-top: 1px solid; padding-left: 4px; text-align: center;">Сума</td>
            <td style="border-left: 1px solid; border-top: 1px solid; padding-left: 4px; text-align: center;">Години</td>
            <td style="border-left: 1px solid; border-top: 1px solid; padding-left: 4px; text-align: center;">Сума</td>
            <td style="border-left: 1px solid; border-top: 1px solid; text-align: center; height: 25px;">Клас /<br />Сума</td>
            <td style="border-left: 1px solid; border-top: 1px solid; padding-left: 4px; text-align: center;">Години</td>
            <td style="border-left: 1px solid; border-top: 1px solid; padding-left: 4px; text-align: center;">Сума</td>
            <td style="border-left: 1px solid; border-top: 1px solid; text-align: center;">Назва</td>
            <td style="border-left: 1px solid; border-top: 1px solid; text-align: center;">%</td>
            <td style="border-left: 1px solid; border-top: 1px solid; border-top: 1px solid; text-align: center;">Сума</td>
        </tr>
        <tr style="height: 15px;">
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">1</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">2</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 50px; padding-top: 3px;">3</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">4</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 20px; padding-top: 3px;">5</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">6</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">7</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 60px; padding-top: 3px;">8</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">9</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">10</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">11</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">12</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">13</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">14</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">15</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">16</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">17</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">18</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">19</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">20</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">21</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">22</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">23</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">24</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">25</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px; ">26</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">27</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">28</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; border-right: 1px solid; text-align: center; padding-top: 3px;">29</td>
        </tr>
        <tr>
            <td colspan="29" style="border: 1px solid; text-align: center; padding: 5px 0; font-style: italic; font-size: 13pt; font-weight: bold; height: 29px;">{{hrOrg}}</td>
        </tr>
        <!--{{/rh}}-->
        <!--{{^rh}}-->
        <tr style="height: 15px;">
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">1</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">2</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 50px; padding-top: 3px;">3</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">4</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 20px; padding-top: 3px;">5</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">6</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">7</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 60px; padding-top: 3px;">8</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">9</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">10</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">11</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">12</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">13</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">14</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">15</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">16</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">17</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">18</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">19</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">20</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">21</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 40px; padding-top: 3px;">22</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">23</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">24</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; width: 30px; padding-top: 3px;">25</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px; ">26</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">27</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; text-align: center; padding-top: 3px;">28</td>
            <td colspan="1" style="border-left: 1px solid; border-top: 1px solid; border-right: 1px solid; text-align: center; padding-top: 3px;">29</td>
        </tr>
        <!--{{/rh}}-->
        <!--{{#resultPos}}-->
        <!--{{#renderDep}}-->
            <td colspan="29" style="height: 20px;font-size: 13pt; font-weight: bold;border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; border-top: 1px solid; padding: 0 0 0 10px;">Підрозділ {{departmentName}}</td>
        <!--{{/renderDep}}-->
        <tr>
            <td colspan="29" style="height: 15px; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; border-top: 1px solid; padding: 0 0 0 10px; font-size: 15px;">{{fullFIO}}</td>
        </tr>
        <tr>
            <td colspan="1" style="border-left: 1px solid; text-align: center; height: 24px;">{{dateFrom}}</td>
            <td colspan="1" rowspan="2" style="border-left: 1px solid; text-align: center;">{{dictEducationLevel}}</td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; text-align: center; border-bottom: 1px solid;">{{#$fs}}"accrualSum1","decimal2"{{/$fs}}</td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; text-align: center;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; border-bottom: none; font-size: 8pt; min-height: 130px;">
                    <!--{{#accrualsAlt}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; align-items: center;">
                        <td style="text-align: center; ">{{rise}}</td>
                    </tr>
                    <!--{{/accrualsAlt}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; text-align: center;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; border-bottom: none; font-size: 8pt; min-height: 130px;">
                    <!--{{#accrualsAlt}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0;">
                        <td style="text-align: center; align-items: center;">{{#$fs}}"rate","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/accrualsAlt}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; text-align: center;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; border-bottom: none; font-size: 8pt; min-height: 130px;">
                    <!--{{#accrualsAlt}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0;">
                        <td style="text-align: center; align-items: center;">{{#$fs}}"riseSum","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/accrualsAlt}}-->
                </table>
            </td>

            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; text-align: center; font-size: 8pt;">{{#$fs}}"accrualSum2","decimal2"{{/$fs}}</td>
            <td colspan="1" rowspan="5" style="border-right: 1px solid; border-bottom: 1px solid; ">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; border-bottom: none; font-size: 8pt; min-height: 130px;">
                    <!--{{#teachLoad}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0;">
                        <td style="text-align: center; align-items: center;  vertical-align: center;">{{loadName}}</td>
                    </tr>
                    <!--{{/teachLoad}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-right: 1px solid; border-bottom: 1px solid;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 130px; font-size: 8pt;">
                    <!--{{#teachLoad}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0;">
                        <td style="text-align: center;">{{#$fs}}"pupil1hours","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/teachLoad}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-right: 1px solid; border-bottom: 1px solid;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 130px; font-size: 8pt;">
                    <!--{{#teachLoad}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; ">
                        <td style="text-align: center;">{{#$fs}}"pupil1sum","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/teachLoad}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-right: 1px solid; border-bottom: 1px solid;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 130px; font-size: 8pt;">
                    <!--{{#teachLoad}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; ">
                        <td style="text-align: center;">{{#$fs}}"pupil2hours","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/teachLoad}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-right: 1px solid; border-bottom: 1px solid;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 130px; font-size: 8pt;">
                    <!--{{#teachLoad}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; ">
                        <td style=" text-align: center;">{{#$fs}}"pupil2sum","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/teachLoad}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-right: 1px solid; border-bottom: 1px solid;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 130px; font-size: 8pt;">
                    <!--{{#teachLoad}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; ">
                        <td style=" text-align: center;">{{#$fs}}"pupil3hours","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/teachLoad}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-right: 1px solid; border-bottom: 1px solid;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 130px; font-size: 8pt;">
                    <!--{{#teachLoad}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; ">
                        <td style="text-align: center;">{{#$fs}}"pupil3sum","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/teachLoad}}-->
                </table>
            </td>
            <!--{{#teachLoadSum}}-->
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"teachAccrualSum","decimal2"{{/$fs}}</td>
            <!--{{/teachLoadSum}}-->

            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 130px; font-size: 8pt;">
                    <!--{{#noteBooksLoad}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; ">
                        <td style="text-align: center;">{{#$fs}}"pupil1hours","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/noteBooksLoad}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 130px; font-size: 8pt;">
                    <!--{{#noteBooksLoad}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; ">
                        <td style="text-align: center;">{{#$fs}}"pupil1sum","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/noteBooksLoad}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 130px; font-size: 8pt;">
                    <!--{{#noteBooksLoad}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; ">
                        <td style="text-align: center;">{{#$fs}}"pupil2hours","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/noteBooksLoad}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 130px; font-size: 8pt;">
                    <!--{{#noteBooksLoad}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; ">
                        <td style="text-align: center;">{{#$fs}}"pupil2sum","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/noteBooksLoad}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 130px; font-size: 8pt;">
                    <!--{{#noteBooksLoad}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; ">
                        <td style="text-align: center;">{{#$fs}}"pupil3hours","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/noteBooksLoad}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">
                <table style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 130px; font-size: 8pt;">
                    <!--{{#noteBooksLoad}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; ">
                        <td style="text-align: center;">{{#$fs}}"pupil3sum","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/noteBooksLoad}}-->
                </table>
            </td>
            <!--{{#showClassLead}}-->
            <td colspan="1" rowspan="1" style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{leadingClass}}</td>
            <!--{{/showClassLead}}-->
            <!--{{^showClassLead}}-->
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{leadingClass}}</td>
            <!--{{/showClassLead}}-->

            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"workshopHours","decimal2"{{/$fs}}</td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"workshopAccrSum","decimal2"{{/$fs}}</td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-bottom: 1px solid; width: 80px;">
                <table style="width: 100%; margin: 0 0 0 0; padding: 0 0 0 0; font-size: 8pt;">
                    <!--{{#overpayPosition}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 40px; display: flex; align-items: center; box-sizing: content-box; width: 80px;">
                        <td style="text-align: center; width: 80px;">{{rise}}</td>
                    </tr>
                    <!--{{/overpayPosition}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-bottom: 1px solid; ">
                <table style="width: 100%; margin: 0 0 0 0; padding: 0 0 0 0; font-size: 8pt;">
                    <!--{{#overpayPosition}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 40px; display: flex; align-items: center; box-sizing: content-box;">
                        <td style="text-align: center; box-sizing: border-box;">{{#$fs}}"rate","decimal2"{{/$fs}}</td>
                    </tr>
                    <!--{{/overpayPosition}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; border-bottom: 1px solid;">
                <table style="width: 100%; margin: 0 0 0 0; padding: 0 0 0 0; font-size: 8pt;">
                    <!--{{#overpayPosition}}-->
                    <tr style="margin: 0 0 0 0; padding: 0 0 0 0; min-height: 40px; display: flex; align-items: center; box-sizing: content-box;">
                        <td style="text-align: center;  box-sizing: border-box;">{{#$fs}}"riseSum","decimal2"{{/$fs}}
                        </td>
                    </tr>
                    <!--{{/overpayPosition}}-->
                </table>
            </td>
            <td colspan="1" rowspan="5" style="border-left: 1px solid; text-align: center; border-bottom: 1px solid;">{{#$fs}}"positionSum","decimal2"{{/$fs}}</td>
            <td colspan="1" rowspan="5" style=" border-left: 1px solid; border-right: 1px solid; text-align: center; border-bottom: 1px solid; transform: rotate(-90deg);">{{#$fs}}"posRate","decimal4"{{/$fs}}</td>
        </tr>
        <tr>
            <td style="border-top: 1px solid; border-left: 1px solid; "><span style="min-height: 14px; display: block; text-align: center; align-items: center;">{{tabNum}}</span></td>
            <!--{{#showClassLead}}-->
            <td colspan="1" rowspan="4" style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"classLead","decimal2"{{/$fs}}</td>
            <!--{{/showClassLead}}-->
        </tr>
        <tr>
            <td style="border-top: 1px solid; border-left: 1px solid;"><span style="min-height: 14px; display: block; text-align: center; align-items: center;">{{name}}</span></td>
            <td style="border-top: 1px solid; border-left: 1px solid; text-align: center;">{{experience}}</td>
        </tr>
        <tr>
            <td style="border-top: 1px solid; border-left: 1px solid; text-align: center; align-items: center;"><span style="min-height: 18px; display: block; text-align: center; align-items: center;">{{subjectName}}</span></td>
            <td style="border-top: 1px solid; border-left: 1px solid; text-align: center;">{{dictTarifCoeff}}</td>
        </tr>
        <tr>
            <td style="border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;"><span style="min-height: 18px; display: block; text-align: center; align-items: center;">{{dictQualificationName}}</span></td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;">
            </td>
        </tr>
        <!--{{#renderBottomBlock}}-->
        <tr>
            <td colspan="8" style="height: 30px; padding: 0 0 0 10px; border-top:1px solid; border-left: 1px solid; border-bottom: 1px solid;">Разом по працівнику</td>
            <td style="border-left: 1px solid; border-top:1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"allPupil1hours","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-top:1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"pupil1sum","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-top:1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"allPupil2hours","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-top:1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"pupil2sum","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"allPupil3hours","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"pupil3sum","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"allTeachLoad","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"noteBooksLoadHoursSum1","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"noteBooksLoadSum1","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"noteBooksLoadHoursSum2","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"noteBooksLoadSum2","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"noteBooksLoadHoursSum3","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"noteBooksLoadSum3","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"allClassLead","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"allWorkshopHours","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"allWorkshopAccrSum","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;"></td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid;"></td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; border-top: 1px solid; text-align: center;">{{#$fs}}"allOverpayPositions","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-bottom: 1px solid; text-align: center;">{{#$fs}}"allPositionSum","decimal2"{{/$fs}}</td>
            <td style="border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
        </tr>
        <!--{{/renderBottomBlock}}-->

        <!--{{#renderUnitDep}}-->
        <!--{{#unitDep}}-->
        <tr style="height: 52px;">
            <td colspan="8" style="height: 30px; padding: 0 0 0 10px; font-weight: bold; border-top:1px solid; border-left: 1px solid; border-bottom: 1px solid;">Разом по підрозділу {{departmentName}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 10px 0 30px 0;">{{#$fs}}"pupil1hoursUnit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 20px 0 0 0;">{{#$fs}}"pupil1sumUnit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 10px 0 30px 0;">{{#$fs}}"pupil2hoursUnit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 20px 0 0 0;">{{#$fs}}"pupil2sumUnit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 10px 0 30px 0;">{{#$fs}}"pupil3hoursUnit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 20px 0 0 0;">{{#$fs}}"pupil3sumUnit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 20px 0 0 0;"></td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 10px 0 30px 0;">{{#$fs}}"noteBooksLoadHours1Unit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 20px 0 0 0;">{{#$fs}}"noteBooksLoadSum1Unit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 10px 0 30px 0;">{{#$fs}}"noteBooksLoadHours2Unit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 20px 0 0 0;">{{#$fs}}"noteBooksLoadSum2Unit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 10px 0 30px 0;">{{#$fs}}"noteBooksLoadHours3Unit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 20px 0 0 0;">{{#$fs}}"noteBooksLoadSum3Unit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
            <td colspan="4" style="border-top: 1px solid; border-bottom: 1px solid; text-align: right; font-weight: bold;">{{#$fs}}"allPositionSumUnit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-right: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
        </tr>
        <!--{{/unitDep}}-->
        <!--{{/renderUnitDep}}-->

        <!--{{#renderUnit}}-->
        <!--{{#unit}}-->
        <tr style="height: 52px;">
            <td colspan="8" style="height: 30px; padding: 0 0 0 10px; font-weight: bold; border-top:1px solid; border-left: 1px solid; border-bottom: 1px solid;">Разом по організації</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 10px 0 30px 0;">{{#$fs}}"pupil1hoursUnit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 20px 0 0 0;">{{#$fs}}"pupil1sumUnit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 10px 0 30px 0;">{{#$fs}}"pupil2hoursUnit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 20px 0 0 0;">{{#$fs}}"pupil2sumUnit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 10px 0 30px 0;">{{#$fs}}"pupil3hoursUnit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 20px 0 0 0;">{{#$fs}}"pupil3sumUnit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 20px 0 0 0;"></td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 10px 0 30px 0;">{{#$fs}}"noteBooksLoadHours1Unit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 20px 0 0 0;">{{#$fs}}"noteBooksLoadSum1Unit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 10px 0 30px 0;">{{#$fs}}"noteBooksLoadHours2Unit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 20px 0 0 0;">{{#$fs}}"noteBooksLoadSum2Unit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 10px 0 30px 0;">{{#$fs}}"noteBooksLoadHours3Unit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center; padding: 20px 0 0 0;">{{#$fs}}"noteBooksLoadSum3Unit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
            <td style="border-top: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
            <td colspan="4" style="border-top: 1px solid; border-bottom: 1px solid; text-align: right; font-weight: bold;">{{#$fs}}"allPositionSumUnit","decimal2"{{/$fs}}</td>
            <td style="border-top: 1px solid; border-right: 1px solid; border-bottom: 1px solid; text-align: center;"></td>
        </tr>
        <!--{{/unit}}-->
        <!--{{/renderUnit}}-->
        <!--{{#isLastDescription}}-->
        <tr>
            <td colspan="{{allColumnCount}}" style="height:50px;"></td>
        </tr>
        <tr>
            <td colspan="15" style="font-size: 15px;">Керівник установи _____________________ {{headEmployeePositionShortFIO}}</td>
            <td colspan="14" style="font-size: 15px; text-align: right;">Голова ПК _____________________ {{headTradeUnionCommitteeShortFIO}}</td>
        </tr>
        <!--{{/isLastDescription}}-->

        <!--{{#isPageBreak}}-->
        <tr>
            <td colspan="{{allColumnCount}}" style="height:50px;"></td>
        </tr>
        <tr>
            <td colspan="15" style="font-size: 15px;">Керівник установи _____________________ {{headEmployeePositionShortFIO}}</td>
            <td colspan="14" style="font-size: 15px; text-align: right;">Голова ПК _____________________ {{headTradeUnionCommitteeShortFIO}}</td>
        </tr>
        <tr>
            <td colspan="{{allColumnCount}}"><p>&nbsp;<!-- pagebreak --></p></td>
        </tr>
        <!--{{/isPageBreak}}-->

        <!--{{/resultPos}}-->
        <!--{{/pages}}-->
    </tbody>
</table>