<!--%pageOrientation:landscape-->
<table style="border-collapse: collapse; page-break-inside:auto; font-family: TimesNewRoman; font-size: 10pt; padding: 0px 0px;" border="0" cellspacing="0" cellpadding="0">
    <tbody>
            <!--{{#report}}-->
            <tr>
                <td style="width: 50px;"></td>
                <td style="width: 50px;"></td>
                <td style="width: 50px;"></td>
                <td style="width: 50px;"></td>
                <td style="width: 50px;"></td>
                <!--{{#dictProgClassArr}}-->
                <td style="width: 50px;"></td>
                <!--{{/dictProgClassArr}}-->
                <td style="width: 100px;"></td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <tr>
                <td colspan="{{allColumn}}" style="padding-bottom: 10px;">{{dateReport}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <tr>
                <td colspan="{{allColumn}}" style="font-weight: bold; font-size: 14pt;">Зведена відомість нарахувань та утримань за {{periodName}} року</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <tr>
                <td colspan="{{allColumn}}" style="padding-bottom: 10px; font-weight: bold;">по установі {{orgName}} (Джерело фінансування - {{organizationDictFundSourseStr}}; КПК - {{organizationDictProgClassStr}} )</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <tr>
                <td rowspan="3" colspan="5" style="border: 1px solid black;"></td>
                <td colspan="{{dictProgColumn}}" style="border: 1px solid black; padding-left: 10px; font-weight: bold; height: 20px; text-align: center;">КПК</td>
                <td rowspan="3" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Всього <br/> по установі</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <tr>
                <!--{{#dictProgClassArr}}-->
                <td style="border: 1px solid black; text-align: center;">{{dictProgClassCode}}</td>
                <!--{{/dictProgClassArr}}-->
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <tr>
                <!--{{#dictProgClassArr}}-->
                <td style="height: 20px;"></td>
                <!--{{/dictProgClassArr}}-->
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{#workDaysTimeSheet}}-->
            <tr>
                <td colspan="5" style="border: 1px solid black;">Відпрацьовано в днях</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"workDays","decimal2"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"totalWorkDays","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/workDaysTimeSheet}}-->
            <!--{{#factHoursTimeSheet}}-->
            <tr>
                <td colspan="5" style="border: 1px solid black;">Відпрацьовано в годинах</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"factHours","decimal2"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"totalFactHours","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/factHoursTimeSheet}}-->
            <!--{{#employeeEmount}}-->
            <tr>
                <td colspan="5" style="border: 1px solid black;">Кількість робочих місць</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"rate","decimal4"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"total","decimal4"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/employeeEmount}}-->
            <!--{{#otherEmpArr}}-->
            <tr>
                <td colspan="5" style="border: 1px solid black;">у т.ч. кількість сумісників</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"employeesAmount","decimal2"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"total","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/otherEmpArr}}-->
            <!--{{#empArr}}-->
            <tr>
                <td colspan="5" style="border: 1px solid black;">Кількість співробітників</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"employeesAmount","decimal2"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"total","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/empArr}}-->
            <!--{{#disabledEmpArr}}-->
            <tr>
                <td colspan="5" style="border: 1px solid black;">Кількість інвалідів</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"employeesAmount","decimal2"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"total","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/disabledEmpArr}}-->
            <tr>
                <td colspan="{{allColumn}}" style="border: 1px solid black; font-weight: bold; padding: 3px 0px 3px 10px;">Нараховано:</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{#payment}}-->
            <tr>
                <td colspan="5" style="border: 1px solid black;">{{payElName}}</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/payment}}-->
            <tr>
                <td colspan="5" style="padding: 3px 0px 3px 10px; border: 1px solid black; font-weight: bold;">Всьго нараховано:</td>
                <!--{{#totalPaymentSumArr}}-->
                <td style="text-align: right; border: 1px solid black; font-weight: bold;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
                <!--{{/totalPaymentSumArr}}-->
                <td style="text-align: right; border: 1px solid black; font-weight: bold;">{{#$fs}}"totalPaymentSum","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <tr>
                <td colspan="{{allColumn}}" style="border: 1px solid black; font-weight: bold; padding: 3px 5px 3px 10px;">Утримано:</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{#offtake}}-->
            <tr>
                <td colspan="5" style="border: 1px solid black;">{{payElName}}</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/offtake}}-->
            <tr>
                <td colspan="5" style="padding: 3px 5px 3px 10px; border: 1px solid black; font-weight: bold;">Всьго утримано:</td>
                <!--{{#totalOfftakeSumArr}}-->
                <td style="text-align: right; border: 1px solid black; font-weight: bold;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
                <!--{{/totalOfftakeSumArr}}-->
                <td style="text-align: right; border: 1px solid black; font-weight: bold;">{{#$fs}}"totalOfftakeSum","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <tr>
                <td colspan="{{allColumn}}" style="border: 1px solid black; font-weight: bold; padding: 3px 5px 3px 10px;">Виплати:</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{#forpay}}-->
            <tr>
                <td colspan="5" style="border: 1px solid black;">{{payElName}}</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/forpay}}-->
            <tr>
                <td colspan="5" style="padding: 3px 5px 3px 10px; border: 1px solid black; font-weight: bold;">Всьго виплачено:</td>
                <!--{{#totalForpaySumArr}}-->
                <td style="text-align: right; border: 1px solid black; font-weight: bold;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
                <!--{{/totalForpaySumArr}}-->
                <td style="text-align: right; border: 1px solid black; font-weight: bold;">{{#$fs}}"totalForpaySum","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{#balance}}-->
            <!--{{#showTotalSumFrom}}-->
            <tr>
                <td colspan="5" style="padding: 3px 5px 3px 10px; border: 1px solid black; font-weight: bold;">Борг на початок періоду ФП:</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"sumFrom","decimal2"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"totalSumFrom","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/showTotalSumFrom}}-->
            <!--{{#showTotalSumEnterprise}}-->
            <tr>
                <td colspan="5" style="padding: 3px 5px 3px 10px; border: 1px solid black; font-weight: bold;">Борг на початок періоду за підприємством:</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"sumEnterprise","decimal2"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"totalSumEnterprise","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/showTotalSumEnterprise}}-->
            <!--{{#showSocialSumFrom}}-->
            <tr>
                <td colspan="5" style="padding: 3px 5px 3px 10px; border: 1px solid black; font-weight: bold;">Борг на початок періоду за СС:</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"sumSocial","decimal2"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"totalSumSocial","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/showSocialSumFrom}}-->
            <!--{{#showCNPPSumFrom}}-->
            <tr>
                <td colspan="5" style="padding: 3px 5px 3px 10px; border: 1px solid black; font-weight: bold;">Борг на початок періоду за фондом ЧАЕС:</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"sumCNPP","decimal2"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"totalSumCNPP","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/showCNPPSumFrom}}-->
            <!--{{#showTotalSumTo}}-->
            <tr>
                <td colspan="5" style="padding: 3px 5px 3px 10px; border: 1px solid black; font-weight: bold;">Борг на кінець періоду ФП:</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"sumTo","decimal2"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"totalSumTo","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/showTotalSumTo}}-->
            <!--{{#showTotalSumToEnterprise}}-->
            <tr>
                <td colspan="5" style="padding: 3px 5px 3px 10px; border: 1px solid black; font-weight: bold;">Борг на кінець періоду за підприємством:</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"sumToEnterprise","decimal2"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"totalSumToEnterprise","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/showTotalSumToEnterprise}}-->
            <!--{{#showSocialSumTo}}-->
            <tr>
                <td colspan="5" style="padding: 3px 5px 3px 10px; border: 1px solid black; font-weight: bold;">Борг на кінець періоду за СС:</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"sumToSocial","decimal2"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"totalToSumSocial","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/showSocialSumTo}}-->
            <!--{{#showCNPPSumTo}}-->
            <tr>
                <td colspan="5" style="padding: 3px 5px 3px 10px; border: 1px solid black; font-weight: bold;">Борг на кінець періоду за фондом ЧАЕС:</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"sumToCNPP","decimal2"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid black; text-align: right;">{{#$fs}}"totalToSumCNPP","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/showCNPPSumTo}}-->
            <!--{{/balance}}-->
            <tr>
                <td colspan="{{allColumn}}" style="padding-bottom: 10px;">{{dateReport}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <tr>
                <td colspan="{{allColumn}}" style="font-weight: bold; font-size: 14pt;">Нарахування єдиного внеску</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <tr>
                <td rowspan="3" colspan="4" style="border: 1px solid black;"></td>
                <td rowspan="3" style="border: 1px solid black; text-align: center;">%</td>
                <td colspan="{{dictProgColumn}}" style="border: 1px solid black; padding-left: 10px; font-weight: bold; height: 20px;"></td>
                <td rowspan="3" style="border: 1px solid black; font-weight: bold; text-align: center;">Всього <br/> по установі</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <tr>
                <!--{{#dictProgClassArr}}-->
                <td style="border: 1px solid black; text-align: center;">{{dictProgClassCode}}</td>
                <!--{{/dictProgClassArr}}-->
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <tr>
                <!--{{#dictProgClassArr}}-->
                <td style=" height: 20px; border-bottom: 1px solid;"></td>
                <!--{{/dictProgClassArr}}-->
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{#ECBtable}}-->
            <tr>
                <td colspan="{{allColumn}}" style="padding: 3px 5px 3px 10px; border: 1px solid black; font-weight: bold; font-size: 11pt;">{{titleName}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{#groupPayEl}}-->
            <tr>
                <!--{{#showFullName}}-->
                <td colspan="2" rowspan="{{groupRowSpan}}" style="border: 1px solid black; text-align: center;">{{fullName}}</td>
                <!--{{/showFullName}}-->
                <td colspan="2" style="border: 1px solid black;">{{payFundName}}</td>
                <td style="padding: 3px 5px 3px 10px; border: 1px solid black;text-align: right;">{{rate}}</td>
                <!--{{#sum}}-->
                <td style="border: 1px solid; text-align: right;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
                <!--{{/sum}}-->
                <td style="border: 1px solid; text-align: right;">{{#$fs}}"totalRow","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{#showTotalGroup}}-->
            <tr>
                <td colspan="3" style="padding: 3px 5px 3px 10px; border: 1px solid black; font-weight: bold; font-size: 11pt">Всього</td>
                <!--{{#totalGroupSum}}-->
                <td style="border: 1px solid; text-align: right; font-weight: bold;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
                <!--{{/totalGroupSum}}-->
                <td style="border: 1px solid; text-align: right; font-weight: bold;">{{#$fs}}"sumTotalGroupSum","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/showTotalGroup}}-->
            <!--{{#showDelta}}-->
            <tr>
                <td colspan="5" style="padding: 3px 5px 3px 10px; border: 1px solid black; font-weight: bold; font-size: 11pt"></td>
                <!--{{#totalDelta}}-->
                <td style="border: 1px solid; text-align: right; font-weight: bold;">{{#$fs}}"sourceSum","decimal2"{{/$fs}}</td>
                <!--{{/totalDelta}}-->
                <td style="border: 1px solid; text-align: right; font-weight: bold;">{{#$fs}}"totalDeltaSum","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/showDelta}}-->
            <!--{{#showTotalSum}}-->
            <tr>
                <td colspan="5" style="padding: 3px 5px 3px 10px; border: 1px solid black; font-weight: bold; font-size: 11pt; text-align: right;">{{tableTotal}}</td>
                <!--{{#totalSum}}-->
                <td style="border: 1px solid; text-align: right; font-weight: bold;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
                <!--{{/totalSum}}-->
                <td style="border: 1px solid; text-align: right; font-weight: bold;">{{#$fs}}"sumTotalSum","decimal2"{{/$fs}}</td>
                <!--{{#firstDeltaCol}}-->
                <td colspan="{{firstDeltaCol}}"></td>
                <!--{{/firstDeltaCol}}-->
            </tr>
            <!--{{/showTotalSum}}-->
            <!--{{/groupPayEl}}-->
            <!--{{/ECBtable}}-->
       <!--{{#amountAccrued}}-->
        <tr>
            <td colspan="{{amountAccruedAllColumn}}" style=" height: 10px;"></td>
            <!--{{#amountColDelta}}-->
            <td colspan="{{amountColDelta}}"></td>
            <!--{{/amountColDelta}}-->
        </tr>
        <tr>
            <td colspan="{{amountAccruedAllColumn}}" style="font-weight: bold; font-size: 12pt;">Суми, на які не нараховується єдиний внесок</td>
            <!--{{#amountColDelta}}-->
            <td colspan="{{amountColDelta}}"></td>
            <!--{{/amountColDelta}}-->
        </tr>
        <tr style="font-size: 9pt">
            <td colspan="3" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Структурний підрозділ</td>
            <td colspan="2" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Табельний №</td>
            <td colspan="{{dictProgColumn}}" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">ПІБ</td>
            <!--{{#accrNamesArr}}-->
            <td style="border: 1px solid black; text-align: center; align-items: center; font-weight: bold;">{{printPayElName}}</td>
            <!--{{/accrNamesArr}}-->
            <td style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Всього</td>
            <!--{{#amountColDelta}}-->
            <td colspan="{{amountColDelta}}"></td>
            <!--{{/amountColDelta}}-->
        </tr>
        <!--{{#empArr}}-->
        <tr style="font-size: 9pt">
            <td colspan="3" style="border: 1px solid black; text-align: left; align-items: center;">{{departmentName}}</td>
            <td colspan="2" style="border: 1px solid black; text-align: center; align-items: center;">{{tabNum}}</td>
            <td colspan="{{dictProgColumn}}" style="border: 1px solid black; text-align: left; align-items: center;">{{fullFIO}}</td>
            <!--{{#payEls}}-->
            <td style="border: 1px solid black; text-align: right; align-items: center; width: 80px;">{{#$fs}}"sourceSum","decimal2"{{/$fs}}</td>
            <!--{{/payEls}}-->
            <td style="border: 1px solid black; text-align: right; align-items: center;">{{#$fs}}"total","decimal2"{{/$fs}}</td>
            <!--{{#amountColDelta}}-->
            <td colspan="{{amountColDelta}}"></td>
            <!--{{/amountColDelta}}-->
        </tr>
        <!--{{/empArr}}-->
        <!--{{#totalArr}}-->
        <tr style="font-size: 9pt">
            <td colspan="{{totalCols}}" style="border: 1px solid black; text-align: center; align-items: right; font-weight: bold;">Разом</td>
            <!--{{#accrNamesArr}}-->
            <td style="border: 1px solid black; text-align: right; align-items: center; font-weight: bold;">{{#$fs}}"totalSourceSum","decimal2"{{/$fs}}</td>
            <!--{{/accrNamesArr}}-->
            <td  style="border: 1px solid black; text-align: right; align-items: center; font-weight: bold;">{{#$fs}}"totalSum","decimal2"{{/$fs}}</td>
            <!--{{#amountColDelta}}-->
            <td colspan="{{amountColDelta}}"></td>
            <!--{{/amountColDelta}}-->
        </tr>
        <!--{{/totalArr}}-->
        <!--{{/amountAccrued}}-->
        <!--{{#addPaymentMinBase}}-->
        <tr>
            <td colspan="{{addPaymentMinBaseColumn}}" style="height: 10px;"></td>
            <!--{{#addPaymentMinBaseColumnDelta}}-->
            <td colspan="{{addPaymentMinBaseColumnDelta}}"></td>
            <!--{{/addPaymentMinBaseColumnDelta}}-->
        </tr>
        <tr>
            <td colspan="{{addPaymentMinBaseColumn}}" style="font-weight: bold; font-size: 12pt;">Доплата до мінімальної бази ЄСВ</td>
             <!--{{#addPaymentMinBaseColumnDelta}}-->
             <td colspan="{{addPaymentMinBaseColumnDelta}}"></td>
             <!--{{/addPaymentMinBaseColumnDelta}}-->
        </tr>
        <tr style="font-size: 9pt">
            <td colspan="3" rowspan="2" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Структурний підрозділ</td>
            <td colspan="2" rowspan="2" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Табельний №</td>
            <td rowspan="2" colspan="{{dictProgColumn}}" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">ПІБ</td>
            <td rowspan="2" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Обліковий період</td>
            <td rowspan="2" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Відсоток</td>
            <td colspan="3" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Сума, на яку нараховується ЄСВ </td>
            <td rowspan="2" style="border: 1px solid black; padding: 0px 0px; font-weight: bold; align-items: center; text-align: center;">Мінімальна<br/>база<br/>нарахування</td>
            <td rowspan="2" style="border: 1px solid black; padding: 0px 0px; font-weight: bold; text-align: center; align-items: center;">Додаткова<br/>база<br/>нарахування</td>
            <td rowspan="2" style="border: 1px solid black; padding: 0px 0px; font-weight: bold; text-align: center; align-items: center;">Доплата<br/>до мінімальної<br/>бази ЄСВ</td>
            <!--{{#addPaymentMinBaseColumnDelta}}-->
            <td colspan="{{addPaymentMinBaseColumnDelta}}"></td>
            <!--{{/addPaymentMinBaseColumnDelta}}-->
        </tr>
        <tr style="font-size: 9pt">
            <td style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center; width: 80px;">за попередні періоди</td>
            <td style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center; width: 80px;">за поточний період</td>
            <td style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center; width: 57px;">Всього</td>
            <!--{{#addPaymentMinBaseColumnDelta}}-->
            <td colspan="{{addPaymentMinBaseColumnDelta}}"></td>
            <!--{{/addPaymentMinBaseColumnDelta}}-->
        </tr>
        <!--{{#empArr}}-->
        <tr style="font-size: 9pt">
            <td colspan="3" style="border: 1px solid black; text-align: left; align-items: center;">{{departmentName}}</td>
            <td colspan="2" style="border: 1px solid black; text-align: center; align-items: center;">{{tabNum}}</td>
            <td colspan="{{dictProgColumn}}" style="border: 1px solid black; text-align: left; align-items: center;">{{fullFIO}}</td>
            <td style="border: 1px solid black; text-align: center; align-items: center;">{{periodSalaryName}}</td>
            <td style="border: 1px solid black; text-align: center; align-items: center;">{{rate}}</td>
            <td style="border: 1px solid black; text-align: right; align-items: center;">{{#$fs}}"salaryPeriod","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid black; text-align: right; align-items: center;">{{#$fs}}"periodCalc","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid black; text-align: right; align-items: center;">{{#$fs}}"totalSourceSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid black; text-align: right; align-items: center;">{{#$fs}}"maxBaseECBMinSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid black; text-align: right; align-items: center;">{{#$fs}}"baseSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid black; text-align: right; align-items: center;">{{#$fs}}"paySum","decimal2"{{/$fs}}</td>
            <!--{{#addPaymentMinBaseColumnDelta}}-->
            <td colspan="{{addPaymentMinBaseColumnDelta}}"></td>
            <!--{{/addPaymentMinBaseColumnDelta}}-->
        </tr>
        <!--{{/empArr}}-->
        <!--{{#totalArr}}-->
        <tr style="font-size: 9pt">
            <td colspan="{{totalCol}}" style="border: 1px solid black; text-align: center; align-items: center; font-weight: bold; text-align: right;">Всього</td>
            <td style="border: 1px solid black; text-align: right; align-items: center; font-weight: bold;">{{#$fs}}"totalSalaryPeriodSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid black; text-align: right; align-items: center; font-weight: bold;">{{#$fs}}"totalPeriodCalcSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid black; text-align: right; align-items: center; font-weight: bold;">{{#$fs}}"totalSourceSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid black; text-align: right; align-items: center; font-weight: bold;"></td>
            <td style="border: 1px solid black; text-align: right; align-items: center; font-weight: bold;">{{#$fs}}"totalBaseSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid black; text-align: right; align-items: center; font-weight: bold;">{{#$fs}}"totalPaySum","decimal2"{{/$fs}}</td>
            <!--{{#addPaymentMinBaseColumnDelta}}-->
            <td colspan="{{addPaymentMinBaseColumnDelta}}"></td>
            <!--{{/addPaymentMinBaseColumnDelta}}-->
        </tr>
        <!--{{/totalArr}}-->
        <!--{{/addPaymentMinBase}}-->
        <!--{{#secondReport}}-->
        <tr>
            <td colspan="{{titleCol}}" style="height: 10px;"></td>
            <!--{{#titleColLastRepDelta}}-->
            <td colspan="{{titleColLastRepDelta}}"></td>
            <!--{{/titleColLastRepDelta}}-->
        </tr>
        <tr>
            <td colspan="{{titleCol}}" style="font-weight: bold; font-size: 12pt;">Суми, які перевищують максимальну суму для розрахунку ЄСВ та не обкладаються єдиним внеском</td>
            <!--{{#titleColLastRepDelta}}-->
            <td colspan="{{titleColLastRepDelta}}"></td>
            <!--{{/titleColLastRepDelta}}-->
        </tr>
        <tr style="font-size: 9pt">
            <td colspan="3" rowspan="2" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Структурний підрозділ</td>
            <td colspan="2" rowspan="2" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Табельний №</td>
            <td rowspan="2" colspan="{{dictProgColumn}}" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">ПІБ</td>
            <td rowspan="2" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Обліковий період</td>
            <td rowspan="2" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Відсоток</td>
            <td colspan="3" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Сума, на яку нараховується ЄСВ </td>
            <td rowspan="2" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Максимальна<br/>база<br/>нарахування</td>
            <td colspan="{{excessCol}}" style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Перевищення<br/>максимальної<br/>бази</td>
            <!--{{#titleColLastRepDelta}}-->
            <td colspan="{{titleColLastRepDelta}}"></td>
            <!--{{/titleColLastRepDelta}}-->
        </tr>
        <tr style="font-size: 9pt">
            <td style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">за попередні періоди</td>
            <td style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">за поточний період</td>
            <td style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Всього</td>
            <!--{{#accrNamesArr}}-->
            <td style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center; width: 70px;">{{printPayElName}}</td>
            <!--{{/accrNamesArr}}-->
            <td style="border: 1px solid black; font-weight: bold; text-align: center; align-items: center;">Всього</td>
            <!--{{#titleColLastRepDelta}}-->
            <td colspan="{{titleColLastRepDelta}}"></td>
            <!--{{/titleColLastRepDelta}}-->
        </tr>
        <!--{{#empArr}}-->
        <tr style="font-size: 9pt">
            <td colspan="3" style="border: 1px solid black; text-align: left; align-items: center;">{{departmentName}}</td>
            <td colspan="2" style="border: 1px solid black; text-align: center; align-items: center;">{{tabNum}}</td>
            <td colspan="{{dictProgColumn}}" style="border: 1px solid black; text-align: left; align-items: center;">{{fullFIO}}</td>
            <td style="border: 1px solid black; text-align: center; align-items: center;">{{periodSalaryName}}</td>
            <td style="border: 1px solid black; text-align: center; align-items: center;">{{rate}}</td>
            <td style="border: 1px solid black; text-align: right; align-items: center;">{{#$fs}}"salaryPeriodSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid black; text-align: right; align-items: center;">{{#$fs}}"periodCalcSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid black; text-align: right; align-items: center;">{{#$fs}}"totalPerSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid black; text-align: right; align-items: center;">{{#$fs}}"maxBaseECBMaxSum","decimal2"{{/$fs}}</td>
            <!--{{#payEls}}-->
            <td style="border: 1px solid black; text-align: right; align-items: center;">{{#$fs}}"delta","decimal2"{{/$fs}}</td>
            <!--{{/payEls}}-->
            <td style="border: 1px solid black; text-align: right; align-items: center;">{{#$fs}}"totalDelta","decimal2"{{/$fs}}</td>
            <!--{{#titleColLastRepDelta}}-->
            <td colspan="{{titleColLastRepDelta}}"></td>
            <!--{{/titleColLastRepDelta}}-->
        </tr>
        <!--{{/empArr}}-->
        <!--{{#totalArr}}-->
        <tr style="font-size: 9pt">
            <td colspan="{{totalCols}}" style="border: 1px solid black; text-align: center; align-items: right; font-weight: bold;">Разом</td>
            <td style="border: 1px solid black; text-align: right; align-items: center; font-weight: bold;">{{#$fs}}"totalSalaryPeriodSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid black; text-align: right; align-items: center; font-weight: bold;">{{#$fs}}"totalPeriodCalcSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid black; text-align: right; align-items: center; font-weight: bold;">{{#$fs}}"totalPerSum","decimal2"{{/$fs}}</td>
            <td style="border: 1px solid black; text-align: right; align-items: center; font-weight: bold; padding: 0px 0px;"></td>
            <!--{{#accrNamesArr}}-->
            <td style="border: 1px solid black; text-align: right; align-items: center; font-weight: bold;">{{#$fs}}"totalDelta","decimal2"{{/$fs}}</td>
            <!--{{/accrNamesArr}}-->
            <td style="border: 1px solid black; text-align: right; align-items: center; font-weight: bold;">{{#$fs}}"totalTotalDelta","decimal2"{{/$fs}}</td>
            <!--{{#titleColLastRepDelta}}-->
            <td colspan="{{titleColLastRepDelta}}"></td>
            <!--{{/titleColLastRepDelta}}-->
        </tr>
        <!--{{/totalArr}}-->
        <!--{{/secondReport}}-->
        <!--{{/report}}-->
    </tbody>
</table>
