
<!--%pageOrientation:portrait-->
<table style="border-collapse: collapse; page-break-inside:auto; font-family: TimesNewRoman, sans-serif; font-size: 10pt;" border="0" width="1100px" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td colspan="11">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ПОГОДЖЕНО</td>
            <td colspan="11" style="text-align: right;">ЗАТВЕРДЖЕНО&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
            <td style="height: 10px; width: 50px;"></td>
        </tr>
        <!--{{#year}}-->
        <tr>
            <td colspan="11">"____"__________________ {{year}} p.</td>
            <td colspan="11" style="text-align: right;">"____"__________________ {{year}} p.</td>
        </tr>
        <!--{{/year}}-->
        <tr>
            <td colspan="11" style="padding-top: 10px;">&nbsp;____________________________</td>
            <td colspan="11" style="padding-top: 10px; text-align: right;">____________________________&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td colspan="22" style="font-weight: bold; text-align: center; padding-top: 20px; font-size: 12pt;">Тарифікаційний список</td>
        </tr>
        <!--{{#hrOrg}}-->
        <tr>
            <td colspan="22" style="height: 15px;"></td>
        </tr>
        <tr>
            <td colspan="4" >вчителів та інших працівників</td>
            <td colspan="18" style="border-bottom: 1px solid; font-size: 11pt; font-weight: bold; text-align: center;">{{name}}</td>
        </tr>
        <!--{{/hrOrg}}-->
        <tr>
            <td colspan="4"></td>
            <td colspan="18" style="text-align: center;">школи (школи - інтернату)</td>
        </tr>
        <tr>
            <td colspan="22" style="height: 5px;"></td>
        </tr>
        <!--{{#year}}-->
        <tr>

            <td colspan="19" style="border-bottom: 1px solid;"></td>
            <td colspan="3" style="text-align: right;">на 1 вересня {{year}} р.</td>
        </tr>
        <!--{{/year}}-->
        <tr>
            <td colspan="22" style="height: 30px;"></td>
        </tr>
         <!--{{#address}}-->
         <tr>
            <td colspan="22" style="border-bottom: 1px solid; text-align: center;">{{address}}</td>
        </tr>
        <!--{{/address}}-->
        <tr>
            <td colspan="22" style="text-align: center;">місто, район, село</td>
        </tr>
        <tr>
            <td colspan="22" style="height: 30px;"></td>
        </tr>
        <tr>
            <td colspan="1" style=" border-top: 1px solid; border-left: 1px solid; text-align: center;">№</td>
            <td colspan="9" rowspan="2" style="text-align: center; border: 1px solid;">Показники на початок навчального року</td>
            <td colspan="3" rowspan="2" style="text-align: center; border: 1px solid;">1 - 4 кл.</td>
            <td colspan="3" rowspan="2" style="text-align: center; border: 1px solid;">5 - 9 кл.</td>
            <td colspan="3" rowspan="2" style="text-align: center; border: 1px solid;">10 - 11 кл.</td>
            <td colspan="3" rowspan="2" style="text-align: center; border: 1px solid;">Разом</td>
        </tr>
        <tr>
            <td colspan="1" style="border-left: 1px solid; text-align: center;">п/п</td>
        </tr> 
        <tr>
            <td colspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center;">1.</td>
            <td colspan="9" style="width: 300px; text-align: left; border: 1px solid;">Кількість класів на 1 вересня</td>
            <td colspan="3" style="text-align: center; border: 1px solid; width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
        </tr>
        <tr>
            <td colspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center;">2.</td>
            <td colspan="9" style="width: 300px; text-align: left; border: 1px solid;">Кількість класів - комплектів на 1 вересня</td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
        </tr>
        <tr>
            <td colspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center;">3.</td>
            <td colspan="9" style="width: 300px; text-align: left; border: 1px solid;">Число учнів на 1 вересня</td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
        </tr>
        <tr>
            <td colspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center;">4.</td>
            <td colspan="9" style="width: 300px; text-align: left; border: 1px solid; min-height: 40px;">Загальне число годин викладацької роботи в тиждень по тарифікації в тому числі:</td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
        </tr>
        <tr>
            <td colspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center;"></td>
            <td colspan="9" style="text-align: left; border: 1px solid; width: 300px;">a) Число годин за навчальним планом</td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
        </tr>
        <tr>
            <td colspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center;"></td>
            <td colspan="9" style="text-align: left; border: 1px solid; width: 300px;">б) Число додаткових годин, всього з них :</td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
        </tr>
        <tr>
            <td colspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center;"></td>
            <td colspan="9" style="text-align: left; border: 1px solid; width: 300px; min-height: 40px;">у зв'язку з вивільненням вчителів початкових класів від проведення уроків : </td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
        </tr>
        <tr>
            <td colspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center;"></td>
            <td colspan="9" style="text-align: left; border: 1px solid; width: 300px; min-height: 40px;">у зв'язку з вивільненням вчителів початкових класів від проведення уроків : </td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
        </tr>
        <tr>
            <td colspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center;"></td>
            <td colspan="9" style="text-align: left; border: 1px solid; width: 300px;">фізкультури</td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
        </tr>
        <tr>
            <td colspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center;"></td>
            <td colspan="9" style="text-align: left; border: 1px solid; width: 300px;">співів</td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
        </tr>
        <tr>
            <td colspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center;"></td>
            <td colspan="9" style="text-align: left; border: 1px solid; width: 300px; min-height: 40px;">іноземної мови в школах з викладанням ряду предметів іноземною мовою</td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
        </tr>
        <tr>
            <td colspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center;"></td>
            <td colspan="9" style="text-align: left; border: 1px solid; width: 300px; min-height: 40px;">у зв'язку з діленням класів на групи при проведенні занять з :</td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
        </tr>
        <tr>
            <td colspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center;"></td>
            <td colspan="9" style="text-align: left; border: 1px solid; width: 300px;">іноземної мови</td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
        </tr>
        <tr>
            <td colspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center;"></td>
            <td colspan="9" style="text-align: left; border: 1px solid; width: 300px;">трудового навчання</td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
        </tr>
        <tr>
            <td colspan="1" style="border-top: 1px solid; border-left: 1px solid; text-align: center;"></td>
            <td colspan="9" style="text-align: left; border: 1px solid; width: 300px; min-height: 30px;">фізкультури</td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
        </tr>
        <tr>
            <td colspan="1" style="border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; text-align: center;"></td>
            <td colspan="9" style="text-align: left; border: 1px solid; width: 300px;">початкової військової підготовки</td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
            <td colspan="3" style="text-align: center; border: 1px solid;width: 80px;"></td>
        </tr>
    </tbody>
</table>
