.root-node-icon {
    background-image: url(../images/rootnode.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.org-base-icon {
    background-image: url(../images/org.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.dep-base-icon {
    background-image: url(../images/dep.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-base-icon {
    background-image: url(../images/position.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.pos-1-icon {
    background-image: url(../images/pos_1.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-1empty-icon {
    background-image: url(../images/pos_1empty.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.pos-2-icon {
    background-image: url(../images/pos_2.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-2empty-icon {
    background-image: url(../images/pos_2empty.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.pos-3-icon {
    background-image: url(../images/pos_3.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-3empty-icon {
    background-image: url(../images/pos_3empty.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.pos-4-icon {
    background-image: url(../images/pos_4.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-4empty-icon {
    background-image: url(../images/pos_4empty.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-5-icon {
    background-image: url(../images/pos_3.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-5empty-icon {
    background-image: url(../images/pos_3empty.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-6-icon {
    background-image: url(../images/pos_3.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-6empty-icon {
    background-image: url(../images/pos_3empty.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-7-icon {
    background-image: url(../images/pos_3.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-7empty-icon {
    background-image: url(../images/pos_3empty.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-8-icon {
    background-image: url(../images/pos_3.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-8empty-icon {
    background-image: url(../images/pos_3empty.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-9-icon {
    background-image: url(../images/pos_3.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-9empty-icon {
    background-image: url(../images/pos_3empty.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-10-icon {
    background-image: url(../images/pos_3.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-10empty-icon {
    background-image: url(../images/pos_3empty.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-11-icon {
    background-image: url(../images/pos_2.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-11empty-icon {
    background-image: url(../images/pos_2empty.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-12-icon {
    background-image: url(../images/pos_3.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.pos-12empty-icon {
    background-image: url(../images/pos_3empty.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.treeIconNotFocus {
    background-image: url(../images/treeNotFocus.png)!important;
    background-repeat: no-repeat;
    background-size: cover;
}
.treeIconFocus {
    background-image: url(../images/treeFocus.png)!important;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-plus-icon {
    background-image: url(../images/home_plus.svg)!important;
    background-repeat: no-repeat;
    background-size: cover;
}
.briefcase-plus-icon {
    background-image: url(../images/briefcase_plus.svg)!important;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-with-briefcase-icon {
    background-image: url(../images/home_with_briefcase.svg)!important;
    background-repeat: no-repeat;
    background-size: cover;
}
.iconInfo {
    background-image: url(../images/info.png)!important;
    background-repeat: no-repeat;
    background-size: cover;
}

.panel-bordered {
    border: 1px solid;
    border-color: grey;
    border-radius: 8px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    color: #818181;
}
.panel-bordered-light {
    border: 1px solid;
    border-color: #BFBFBF;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    color: #818181;
}

.hr-list-trigger, .x-form-trigger-wrap-focus .hr-list-trigger {
    background-image: url('../images/List.png');
    background-repeat: no-repeat;
    background-size: 18px;
    opacity: 0.7;
    background-position: 0 2px;
}

.list-icon {
    background-image: url(../images/List.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.person-base-icon {
    background-image: url(../images/person.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.person-yellow-icon {
    background-image: url(../images/personYellow.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.group-node {
    color:#0D47A1 ! important;
    font-weight: bold;
}

.org-node {
     font-weight: 600  !important;
     color: #04114b !important;;
}

.org-node-italic {
    font-weight: 600  !important;
    color: #04114b !important;;
    font-style: italic;
}

.org-nodenew {
    font-weight: 600 !important;
   color: #0D9450 !important;
}
.org-nodechanged {
    font-weight: 600 !important;
    color: #78ACE3 !important;
}
.org-nodenewstructure {
    font-weight: 600 !important;
    color: #0D9450 !important;
    text-decoration: underline;
}
.org-nodechangedstructure {
    font-weight: 600 !important;
    color: #78ACE3 !important;
    text-decoration: underline;
}

.grd-color-red {
    color:red;
}
.grd-color-red-italic {
    color:red;
    font-style: italic;
}

.grd-color-green {
    color: rgba(69, 139, 30, 0.91)
}
.grd-color-lightgreen {
    color: #0D9450
}
.grd-color-lightgreen-italic {
    color: #0D9450;
    font-style: italic;
}
.grd-color-blue {
    color: #104ab9
}

.grd-color-purple {
    color: #800080
}

.grd-color-brown {
    color: #A52A2A
}

.grd-color-blue-italic {
    color: #104ab9;
    font-style: italic;
}
.grd-color-grey {
    color: #8b8b8b
}
.grd-color-grey-bold {
    color: #8b8b8b;
    font-weight: bold;
}
.grd-color-grey-bold-italic {
    color: #8b8b8b;
    font-weight: bold;
    font-style: italic;
}
.grd-color-grey-italic {
    color: #8b8b8b;
    font-style: italic;
}
.org-node-bold {
    font-weight: 600  !important;
    color: #04114b !important;
    font-weight: bold;
}
.org-node-bold-italic {
     font-weight: 600  !important;
     color: #04114b !important;
     font-weight: bold;
     font-style: italic;
 }
.grd-color-red-bold {
    color:red;
    font-weight: bold;
}
.grd-color-red-bold-italic {
    color:red;
    font-weight: bold;
    font-style: italic;
}
.grd-color-blue-bold {
    color: #104ab9;
    font-weight: bold;
}
.grd-color-blue-bold-italic {
    color: #104ab9;
    font-weight: bold;
    font-style: italic;
}
.grd-color-green-bold {
     color: rgba(69, 139, 30, 0.91);
     font-weight: bold;
 }
.grd-color-lightgreen-bold {
    color: #0D9450;
    font-weight: bold;
}
.grd-color-lightgreen-bold-italic {
     color: #0D9450;
     font-weight: bold;
     font-style: italic;
}
.grd-bold-italic {
    font-weight: bold;
    font-style: italic;
}
.grd-bold {
    font-weight: bold;
}
.grd-italic {
    font-style: italic;
}

.grd-line-through {
    text-decoration: line-through;
}

.calendar-holiday-red {
    background-color: rgba(255, 0, 0, 0.45);
}

.calendar-weekend-blue {
    background-color: #2196F3;
}

.calendar-weekend-red {
    color: red !important;
}

.calendar-month-btn {
    color: darkblue !important;
}

.field-label-blue
{
    color: blue
}

.field-label-red
{
    color: red
}

.field-label-green
{
    color: green
}

#datePicker a.x-datepicker-date:hover {
    background-color: transparent !important;
}

#datePicker .x-datepicker-selected a.x-datepicker-date {
    background-color: #ecf2fd !important;
}

.signature-item {
    background: #f2f3f5;
    border: #9897a0;
    border-width: 1px;
    border-style: solid;
    padding: 4px 4px;
    margin: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.signature-item:hover {
    background: #e5ecf5;
    border: #787780;
    border-width: 1px;
    border-style: solid;
    padding: 4px 4px;
    margin: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
}
.row_to_delete .x-grid-cell {
    /*background-color: #ffe2e2 !important;*/
    color: #b3aeb5;
}

.textarea-bold textarea {
    font-weight: bold;
}